<section id="replacing-div-second" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2>{{ 'ZEST_SETUP_EMAIL_HEADER' | translate}}</h2>
        <a ng-show="showView" ng-click="goBackToMain()" data-type="load-details" class="action back">{{ 'BACK_TO_ZEST_SETUP' | translate}}</a>
        <a ng-hide="showView" ng-click="goBackToPreviousState()" data-type="load-details" class="action back">{{ 'BACK_TO_ZEST' | translate}}</a>
    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div> 
        <form style="overflow-y:auto;" class="form float" >
            <!--
                <fieldset class="holder left">
                        <ad-toggle-button is-checked="checkinData.is_send_alert_flag" label="{{ 'SEND_CHECKIN_ALERT' | translate}}" is-disabled="checkinData.is_precheckin_only"></ad-toggle-button>
                        <ad-checkbox is-checked="checkinData.is_notify_on_room_not_assigned_flag" label="{{ 'NOTIFY_GUEST_WHEN_ROOM_NOT_ASSIGNED_TITLE' | translate}}" div-class="full-width" ></ad-checkbox>
                        <ad-textarea rows="4" div-class="full-width" text-area-class="full-width" value="checkinData.checkin_complete_confirmation_screen_text" label = "{{ 'CHECK_IN_COMPLETE_CONFIRMATION_SCREEN_TEXT' | translate}}" placeholder = ""></ad-textarea>
                        <ad-textbox value="checkinData.pre_checkin_email_title" label = "{{'PRE_CHECK_IN_EMAIL_TITLE' | translate}}" placeholder = ""  styleclass="full-width" ></ad-textbox>
                </fieldset>
            -->
            <fieldset class="holder left holder_margin" ng-hide="showView">
                <button class="green button" ng-click="showEmailSetup()">{{ 'ZEST_SETUP_EMAIL_BTN' | translate}}</button>
            </fieldset>
            
            <div ng-show="showEmailSetupView" ng-include="'/assets/partials/zestSetup/adZestSetupEmail.html'"></div> 
            
            
            
            
            <div ng-show="showView" ng-include="'/assets/partials/common/adSaveCancel.html'"></div> 
        </form>
    </section>
</section>