<section id="replacing-div-second" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2>{{ 'ZEST_SETUP_SMS_HEADER' | translate}}</h2>
        <a ng-click="goBackToPreviousState()" data-type="load-details" class="action back">{{ 'BACK_TO_ZEST_SETUP' | translate}}</a>
    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <!-- Add chain -->
        <form class="form inline-form float">
            <div class="entry inline-flex">
                <div>
                    <label class="switch-label">SMS Check-In Service
                        <!-- - <span ng-show="editData.sms_active"> Active </span><span ng-show="!editData.sms_active">Inactive</span--></label>
                </div>
                <div class="switch-button single" ng-class="{ on: editData.sms_active }" ng-click="editData.sms_active = !editData.sms_active">
                    <input type="checkbox">
                    <span class="switch-icon"></span>
                </div>
            </div>
            <fieldset style="margin-top:10px;" class="holder right float">
                <ad-textbox value="editData.sms_code" label="SMS Code" placeholder="" required="yes" styleclass="full-width overlay"></ad-textbox>
            </fieldset>
            <!--  OPT-IN  -->
            <div class="form-title">
                <h3><span></span>
                            {{'OPT_IN' | translate}}
                        </h3></div>
            <fieldset style="margin-top:10px;" class="holder right float">
                <!-- Help Keywords + response-->
                <div id="options" class="entry" ng-hide="hideAddOption">
                    <label class="radio" ng-class="{'checked':editData.sms_double_opt_in == 'false'}">
                        <span class="icon-form icon-radio " ng-class="{checked:editData.sms_double_opt_in != 'true'}"></span>
                        <input type="radio" value="false" ng-model="editData.sms_double_opt_in"> {{ 'SINGLE' | translate}}
                    </label>
                    <label class="radio" ng-class="{'checked':editData.sms_double_opt_in == 'true'}">
                        <span class="icon-form icon-radio " ng-class="{checked:editData.sms_double_opt_in == 'true'}"></span>
                        <input type="radio" value="true" ng-model="editData.sms_double_opt_in"> {{ 'DOUBLE' | translate}}
                    </label>
                </div>
                <ad-textbox value="editData.sms_optin_keywords" label="{{'OPT_IN_KEYWORDS' | translate}}" placeholder="Enter Keywords" required="yes" styleclass="full-width"></ad-textbox>
                <div class="entry full-width">
                    <label for="sms_help_response">
                        {{'OPT_IN_RESPONSE'  | translate}} (
                        <span ng-class='{"green-color-force":editData.sms_optin_response.length <= charLimitPerText, "snt-color-force":editData.sms_optin_response.length > charLimitPerText}'>
                                                {{charLimitPerText-editData.sms_optin_response.length}}
                                            </span>)
                        <span ng-class='{"green-color-force":editData.sms_optin_response.length <= charLimitPerText, "snt-color-force":editData.sms_optin_response.length > charLimitPerText}' ng-show='editData.sms_optin_response.length>charLimitPerText'>
                                                *May split into ({{getPages(editData.sms_optin_response.length)}}) messages</span>
                    </label>
                    <textarea value="" type="" required="" placeholder="Enter Opt-In Response" name="sms_optin_response" ng-model="editData.sms_optin_response" class="full-width" maxlength="{{charMaxLimit}}"></textarea>
                </div>
                <!-- double opt in -->
                <ad-textbox value="editData.sms_double_optin_keywords" label="{{'DOUBLE_OPT_IN_KEYWORDS' | translate}}" placeholder="Enter Keywords" required="yes" styleclass="full-width" ng-show="editData.sms_double_opt_in == 'true'"></ad-textbox>
                <div class="entry full-width" ng-show="editData.sms_double_opt_in == 'true'">
                    <label for="sms_help_response">
                        {{'DOUBLE_OPT_IN_RESPONSE'  | translate}} (
                        <span ng-class='{"green-color-force":editData.sms_double_optin_response.length <= charLimitPerText, "snt-color-force":editData.sms_double_optin_response.length > charLimitPerText}'>
                                                {{charLimitPerText-editData.sms_double_optin_response.length}}
                                            </span>)
                        <span ng-class='{"green-color-force":editData.sms_double_optin_response.length <= charLimitPerText, "snt-color-force":editData.sms_double_optin_response.length > charLimitPerText}' ng-show='editData.sms_double_optin_response.length>charLimitPerText'>
                                                *May split into ({{getPages(editData.sms_double_optin_response.length)}}) messages</span>
                    </label>
                    <textarea value="" type="" required="" placeholder="Enter Opt-In Response" name="sms_double_optin_response" ng-model="editData.sms_double_optin_response" class="full-width" maxlength="{{charMaxLimit}}"></textarea>
                </div>
            </fieldset>
            <!--  STOP -->
            <div class="form-title">
                <h3><span></span>
                            Stop
                        </h3></div>
            <fieldset style="margin-top:10px;" class="holder right float">
                <!-- Help Keywords + response-->
                <ad-textbox value="editData.sms_stop_keywords" label="Stop Keywords" placeholder="Enter Keywords" required="no" styleclass="full-width overlay"></ad-textbox>
                <div class="entry full-width">
                    <label for="sms_help_response">
                        Stop Response (
                        <span ng-class='{"green-color-force":editData.sms_stop_response.length <= charLimitPerText, "snt-color-force":editData.sms_stop_response.length > charLimitPerText}'>
                                                {{charLimitPerText-editData.sms_stop_response.length}}
                                            </span>)
                        <span ng-class='{"green-color-force":editData.sms_stop_response.length <= charLimitPerText, "snt-color-force":editData.sms_stop_response.length > charLimitPerText}' ng-show='editData.sms_stop_response.length>charLimitPerText'>
                                                *May split into ({{getPages(editData.sms_stop_response.length)}}) messages</span>
                    </label>
                    <textarea value="" type="" required="" placeholder="" name="sms_stop_response" ng-model="editData.sms_stop_response" class="full-width" maxlength="{{charMaxLimit}}"></textarea>
                </div>
            </fieldset>
            <!--  Help (non-editable) set in SNT Admin -->
            <div class="form-title">
                <h3><span></span>
                            Help
                        </h3></div>
            <fieldset style="margin-top:10px;" class="holder right float">
                <!-- Help Keywords + response-->
                <ad-textbox value="editData.sms_help_keywords" label="Help Keywords" placeholder="Enter Keywords" required="no" styleclass="full-width overlay"></ad-textbox>
                <div class="entry full-width overlay">
                    <label for="sms_help_response">
                        Help Response (
                        <span ng-class='{"green-color-force":editData.sms_help_response.length <= charLimitPerText, "snt-color-force":editData.sms_help_response.length > charLimitPerText}'>
                                                {{charLimitPerText-editData.sms_help_response.length}}
                                            </span>)
                        <span ng-class='{"green-color-force":editData.sms_help_response.length <= charLimitPerText, "snt-color-force":editData.sms_help_response.length > charLimitPerText}' ng-show='editData.sms_help_response.length>charLimitPerText'>
                                                *May split into ({{getPages(editData.sms_help_response.length)}}) messages</span>
                    </label>
                    <textarea value="" type="" required="" placeholder="" name="sms_help_response" ng-model="editData.sms_help_response" class="full-width" maxlength="{{charMaxLimit}}"></textarea>
                </div>
            </fieldset>
            <fieldset class="holder full-width">
                <div class="form-title">
                    <h3><span  translate="">ZEST_SETUP_SMS_HEADER</span> </h3>
                </div>
                <fieldset class="holder left">
                    <div class="entry full-width">
                        <ad-toggle-button is-checked="editData.is_zest_sms_checkin" label="{{'ZEST_SETUP_SMS_HEADER' | translate}}"></ad-toggle-button>
                    </div>
                </fieldset>
                <fieldset class="holder left">
                    <div class="form-title">
                        <h3><span class="ng-scope" translate="">ZEST_SETUP_AVAILABILITY_LABEL</span> </h3>
                    </div>
                    <div class="entry full-width">
                        <ad-toggle-button is-checked="editData.zest_sms_checkin_day_before_arrival" label="{{'ZEST_SETUP_AVAIL_DB_LABEL'| translate}}" div-class="full-width"></ad-toggle-button>
                    </div>
                    <div class="entry full-width">
                        <ad-toggle-button is-checked="editData.zest_sms_allow_checkin_now" label="{{'ALLOW_CHECKIN_NOW'| translate}}" div-class="full-width"></ad-toggle-button>
                    </div>
                </fieldset>
                <fieldset class="holder left">
                    <div class="entry full-width">
                        <label>
                            SMS WEB CHECK IN URL
                        </label>
                        <span class="webcheckout-uri-label">{{editData.base_uri}}</span>
                        <input type="text" ng-model="editData.checkin_static_url" placeholder="" class="webcheckout-uri-field">
                    </div>
                </fieldset>
                <fieldset class="holder left">
                    <div class="form-title">
                        <h3><span class="ng-scope" translate="">ZEST_SETUP_MSG_TO_GUEST_LABEL</span> </h3>
                    </div>
                    <div class="entry full-width">
                        <ad-textarea rows="4" div-class="full-width" text-area-class="full-width" value="editData.zest_sms_checkin_no_service_msg" label="{{ 'ZEST_SETUP_MSG_TO_GUEST_SERVICEOFF_SMS_LABEL' | translate}}" placeholder=""></ad-textarea>
                    </div>
                </fieldset>
                <div class="actions float">
                    <button style="margin-top:15px;" type="button" ng-click="cancelClicked()" class="button blank edit-data-inline">Cancel</button>
                    <button style="margin-top:15px;" type="button" id="save" class="button green edit-data-inline" ng-click="saveClicked()">Save changes</button>
                </div>
        </form>
    </section>
</section>