<div data-currency-symbol='$' id='update-card-info'>
	<div ng-include="'/assets/partials/common/notification_message.html'"></div>
	<div class='smartband-image'></div>
	<div id='smartband-id'></div>
	<br clear='all'>
	<div id='area-of-details'>
		<rv-textbox value="" label="First Name" placeholder = "Enter First Name" ></rv-textbox>

		<rv-textbox value="" label="Last Name" placeholder = "Enter Last Name" ></rv-textbox>

		<div class='entry' id='float-right'>
			<div>
				<label> available credit </label>
				<label id='credit-bal'> $ </label>
			</div>
		</div>

		<div class='entry' id='credit-adding-div'>
			<label> Add Credit </label>
			<div>
				<label> $ </label>
				<input id='credit-to-add' name='credit-to-add' type='text'>
			</div>
		</div>
		<div class='entry margin only-switch full-width' id='payment-type-div'>
			<div class='payment-type-parent'>
				<label for='payment-type'>Payment Type</label>
				<div class='on switch-button'>
					<input id='payment-type' name='payment-type' type='checkbox' value='1'>
					<label class='data-on'> <span class='value'>Open Room Charge</span> <span class='switch-icon'>Fixed Amount</span> </label>
					<label class='data-off'> <span class='switch-icon'>Open Room Charge</span> <span class='value'>Fixed Amount</span> </label>
				</div>
			</div>
		</div>
	</div>
	<br clear='all'>
	<a class='continue-button button green' id='continue-button'>Continue</a>
	<a class='cancel-link' id='cancel-link'>cancel</a>
</div>