<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <ad-form-header-with-back-button cancel-action="goBackToPreviousState" form-title="{{'WINDSURFER_CRS_SETUP_HEADER'|translate}}"></ad-form-header-with-back-button>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <div class="form float">
            <ad-form-title full-width="true" form-title="{{'WINDSURFER_CRS_SUB_TITLE'| translate}}"></ad-form-title>
            <fieldset class="holder left">
                <ad-toggle-button is-checked="windsurferSetup.active" label="{{'WINDSURFER_CRS_ACTIVATE_INACTIVATE'| translate}}"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder right" ng-if="windsurferSetup.active">
                <div class="entry full-width">
                    <label>
                        FULL REFRESH
                        <span ng-if="!!windsurferSetup.full_refresh && !!lastRefreshedTimeMark">
                            {{'SITEMINDER_LAST_REFRESH'|translate}} : {{lastRefreshedTimeMark}} at {{windsurferSetup.full_refresh | date: dateFormat + ' hh:mm:ss a'}}
                        </span>
                    </label>
                    <button type="button" like-type="common" class="button ng-binding blue sm-refresh-btn" ng-click="showRefreshDialog()" translate>
                        RUN
                    </button>
                </div>
            </fieldset>
            <fieldset class="holder left">
                <ad-textbox inputtype="text" value="windsurferSetup.hotel_code" name="hotel-code" id="hotel-code" label="{{'WINDSURFER_CRS_HOTEL_CODE'| translate}}" styleclass="full-width" ng-if="windsurferSetup.active"></ad-textbox>
                <ad-textbox inputtype="text" value="windsurferSetup.access_url" name="access-url" id="hotel-code" label="{{'WINDSURFER_CRS_ACCESS_URL'| translate}}" styleclass="full-width" ng-if="windsurferSetup.active"></ad-textbox>
                <ad-textbox inputtype="text" value="windsurferSetup.username" label="{{'WINDSURFER_CRS_USERNAME'| translate}}" ng-if="windsurferSetup.active" styleclass="full-width"></ad-textbox>
                <ad-textbox inputtype="password" value="windsurferSetup.password" label="{{'WINDSURFER_CRS_PASSWORD'| translate}}" styleclass="full-width" ng-if="windsurferSetup.active"></ad-textbox>
            </fieldset>
            <fieldset class="holder right" ng-if="windsurferSetup.active">
                <ad-dropdown-name name="default-rate" savemodel="windsurferSetup.default_rate" valueproperty="id" property="rate_name" list="channelManagerRates" label="{{'DEFAULT_EXTERNAL_RATE_CODE'| translate}}" div-class="full-width">
                </ad-dropdown-name>
                <ad-dropdown-name name="default-origin" savemodel="windsurferSetup.default_origin" valueproperty="value" property="name" list="bookingOrigins" label="{{'SITEMINDER_DEFAULT_BOOKING_ORIGIN'| translate}}" div-class="full-width">
                </ad-dropdown-name>
                <ad-dropdown-name name="default-payment" savemodel="windsurferSetup.default_payment_id" valueproperty="id" property="description" list="paymentMethods" label="{{'SITEMINDER_DEFAULT_PAYMENT_METHOD'| translate}}" div-class="full-width">
                </ad-dropdown-name>
            </fieldset>
            <ad-save-cancel-area save-action="saveWindsurferCRSSetup" cancel-action="goBackToPreviousState"></ad-save-cancel-area>
        </div>
    </section>
</div>
