        <!-- Content -->
<section id="main" class="centered kiosk" role="main" click-touch='resetTime()'>
    <div id="content">
        <h1>{{headingText |translate}}</h1>
        <div id="flex-holder" >
            <div id="textual" ng-iscroll="terms" ng-iscroll-delay="100" ng-init="setScroll()" class="pull-left station-terms scrollable fill-height"> <!-- Add ng-scroll here -->
                <div class="wrapper">
                    <h4><label>{{termsHeading |translate}}</label></h4>
                    <div id="terms" data-ng-bind-html="trustAsHtml(hotel_terms_and_conditions)"></div>
                </div>
            </div>
            <div id="actions" class="pull-right">
                <button type="button" class="button" touch-press="agreeTerms()" ><label>{{agreeButtonText |translate}}</label></button>
                <button type="button" class="button transparent" touch-press="navToPrev()" ><label>{{cancelButtonText |translate}}</label></button>
                <p><strong >{{subHeading |translate}}</strong><label>{{subHeadingText |translate}}</label></p>
            </div>
        </div>
    </div>
<span ng-include="'/assets/partials/rvTabletFooter.html'" ></span>
</section>
        