<section id="main" class="centered" role="main" ng-show='at === "admin-login-screen" || at === "key-success" || at === "error" || at === "last_confirm" || at === "talk-to-staff"' click-touch='resetTime()'>
    <div id="content">
        <h1 ng-hide="messageOverride">{{headingText |translate}}</h1>
        <h1 ng-show="messageOverride">{{messageOverrideSpeak}}</h1>
        <h2>{{subHeadingText |translate}}</h2>
        <!-- General error -->
        <button ng-show="at === 'error'" type="button" class="button" touch-press="navToHome()">{{modalBtn1 |translate}}</button>
        
        
        <!-- Admin -->
        <button ng-show="at === 'admin-login-screen'" type="button" class="button" touch-press="loginAdmin()">{{modalBtn1 |translate}}</button>
        <button ng-show="at === 'admin-login-screen'" type="button" class="button" touch-press="navToPrev(true)">{{modalBtn2 |translate}}</button>
        <!-- talk to staff-->
        <button ng-show="at === 'talk-to-staff'" type="button" class="button" touch-press="navToHome()">{{modalBtn1 |translate}}</button>
        <!--key success screens -->
        <div>
            <div id="room" ng-show="showRoomNumberOnKeySuccess">
                <span class="number">{{selectedReservation.room}}</span>
            </div><br><br>
        </div>
        <button ng-show="at === 'key-success' && modalBtn1 !== '' && input.madeKey === 1 && input.makeKeys === 1" type="button" class="button" touch-press="deliverRegistration()">{{modalBtn1 |translate}}</button>
        <button ng-show="at === 'key-success' && modalBtn1 !== '' && input.madeKey === 1 && input.makeKeys === 2" type="button" class="button" touch-press="makeKeyTwo()">{{modalBtn1 |translate}}</button>
        <button ng-show="at === 'key-success' && modalBtn1 !== '' && input.madeKey === 2 && input.makeKeys === 2" type="button" class="button" touch-press="deliverRegistration()">{{modalBtn1 |translate}}</button>
        <!-- completed check-in -->
        <button ng-show="at === 'last_confirm' && modalBtn2 !== ''"       type="button" class="button" touch-press="navToHome()">{{modalBtn2 |translate}}</button> <!-- always exit/return to home -->
    </div>
<span ng-include="'/assets/partials/rvTabletFooter.html'" ></span>
</section>