<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog">
   <div>
		<form method="post" id="rate-options" name="rate-options" class="modal-content form confirmation" ng-cloak>
		    <button id="modal-close" type="button" class="modal-close" ng-click="cancelOccupancyChange()">
		    	<span class="icons icon-close invert">
		    </button>

		    <strong class="h3 message" ng-if="!isSRRate">Custom Rate of <span ng-bind-html="customRate | sntCurrency:this"></span> applies to this reservation. Rate for current guest count is <span ng-bind-html="rateForCurrentGuest | sntCurrency:this"></span>
		    </strong>

		    <strong class="h3 message" ng-if="!!isSRRate">Custom Rate of SR applies to this reservation. Rate for current guest count is SR
		    </strong>

		    <div class="actions">

		        <button type="button" ng-click="keepCurrentRate()" class="button green" translate>KEEP_CURRENT_RATE</button>
		        <button type="button" ng-click="ChangeToNewRate()" class="button blue" translate>CHANGE_TO_NEW_RATE</button>
		        <button type="button" class="button blank" ng-click="cancelOccupancyChange()" translate>CLOSE</button>

		    </div>
		</form>
	</div>
</div>
