<!-- Rooms & Rates -->
<div id="stay-dates-content" class="reservations-content-wrapper">
	
	<!-- Filters -->
	<div class="reservation-filters">
		<!-- Change room type visible only for first date -->
		<div id="change-room-type" class="select">
			<select name="room-type" id="room-type">
				<option value="all-rooms" selected>All Room Types</option>
				<option value="deluxe-room">Deluxe Room</option>
				<option value="deluxe-twin">Deluxe Twin</option>
				<option value="junior-suite">Junior Suite</option>
				<option value="standard-room">Standard Room</option>
			</select>
		</div>
		<ul id="filter-calendar">
			<li id="show-types">Room Types</li>
			<li id="show-bar">Best Available</li>
		</ul>
	</div>

	<!-- Calendar -->
	<div id="stay-dates-calendar" class="reservation-content stay-dates-content scrollable">
		<div class="wrapper">
			
			<div class="calendar-left">
				<button type="button" id="calendar-prev" class="fc-button-prev">Prev</button>
				<div id="calendar1"></div>
			</div>
			
			<div class="calendar-right">
				<button type="button" id="calendar-next" class="fc-button-next">Next</button>
				<div id="calendar2"></div>
			</div>

			<div id="stay-dates-chage" class="update-details">
				<ul class="data">
					<li class="nights"><span class="guest-status nights">nights</span><span id="new-nights">4 nights</span></li>
					<li class="date"><span class="guest-status small-icon check-in">check-in</span><span id="new-check-in">Wednesday 07-23-2014</span></li>
					<li class="date"><span class="guest-status small-icon check-out">check-out</span><span id="new-check-out">Monday 07-28-2014</span></li>
					<li class="room-type">
						<div class="select">
							<select name="final-room-type" id="final-room-type">
								<option value="deluxe-room">Deluxe Room</option>
								<option value="deluxe-twin" selected>Deluxe Twin</option>
								<option value="junior-suite">Junior Suite</option>
								<option value="standard-room">Standard Room</option>
							</select>
						</div>
					</li>
				</ul>
				<div class="action">
					<button id="cancel-stay-dates-change" type="button" class="button blank">Cancel</button>
					<button id="set-stay-dates" type="button" class="button green">Set Dates</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Legend -->
	<div id="stay-dates-legend" class="stay-dates-legend">
		<strong class="notice">Drag &amp; drop to change stay dates</strong>
		<ul>
			<li><span class="check-in"></span>Arrival</li>
			<li><span class="mid-stay"></span>Mid stay</li>
			<li><span class="check-out"></span>Departure</li>
			<li><span class="availability"></span>Room Type available</li>
			<li><span class="no-type-availability"></span>No Type availability</li>
			<li><span class="no-house-availability"></span>No House availability</li>
		</ul>
	</div>
</div>