<div class="reservations-content-wrapper">
    <div class="reservation-filters" ng-class="{'with-guests': stateCheck.stayDatesMode}" ng-click="errorMessage = '';">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div class="edit-guests" ng-show="!borrowForGroups && stateCheck.stayDatesMode">
            <a ng-click="toggleEditGuestOptions()" class="button has-arrow toggle">
                <span class="label">
                Guests
                <em ng-hide="stateCheck.guestOptionsIsEditable">({{ stateCheck.dateModeActiveDate | date : 'EEE dd'}})
                </em>
                </span> {{(stateCheck.selectedStayDate.guests.adults*1 + stateCheck.selectedStayDate.guests.children*1 + stateCheck.selectedStayDate.guests.infants*1)}}
            </a>
            <div id="guest-options" class="reservation-guests" ng-show="stateCheck.guestOptionsIsEditable">
                <div class="select adults">
                    <label for="room-adults" class="label" translate>ADULTS</label>
                    <select name="room-adults" id="room-adults" ng-model="stateCheck.selectedStayDate.guests.adults" ng-change="updateDayOccupancy('adults'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxAdults] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.adults">{{i}}</option>
                    </select>
                </div>
                <div class="select children">
                    <label for="room-children" class="label" translate>CHILDREN</label>
                    <select name="room-children" id="room-children" ng-model="stateCheck.selectedStayDate.guests.children" ng-change="updateDayOccupancy('children'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxChildren] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.children">{{i}}</option>
                    </select>
                </div>
                <div class="select infants">
                    <label for="room-infants" class="label" translate>INFANTS</label>
                    <select name="room-infants" id="room-infants" ng-model="stateCheck.selectedStayDate.guests.infants" ng-change="updateDayOccupancy('infants'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxInfants] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.infants">{{i}}</option>
                    </select>
                </div>
            </div>
        </div>
        <ul ng-hide="borrowForGroups">
            <li ng-class="{active: stateCheck.activeView == 'RECOMMENDED'}" ng-click="setActiveView('RECOMMENDED')"
                ng-show="otherData.recommendedRateDisplay">
            {{'RESV_RECOMMENDED'|translate}}
            </li>
            <li ng-class="{active: stateCheck.activeView == 'ROOM_TYPE'}" ng-click="setActiveView('ROOM_TYPE')">
                {{'RESV_ROOM'|translate}}
            </li>
            <li ng-class="{active: stateCheck.activeView == 'RATE'}" ng-click="setActiveView('RATE')">
                {{'RESV_RATE'|translate}}
            </li>
        </ul>
        <div class="find-rates" ng-show="!borrowForGroups && stateCheck.activeView == 'RATE'">
            <button type="submit" name="submit" class="icons icon-search" translate>SEARCH</button> <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
             <input auto-complete id="find-rates" auto-options="rateAutoCompleteOptions" name="find-rates" type="text" placeholder="Find Rates" value="" autocomplete="off" ng-model="stateCheck.rateFilterText" ul-class="find-cards" />
        </div>
        <!-- ng-disabled="activeCriteria == 'RATE' || activeCriteria == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay)" -->
        <div class="select" ng-show="!borrowForGroups && stateCheck.activeView == 'ROOM_TYPE'">
            <select ng-model="stateCheck.preferredType" ng-change="onRoomTypeChange($event)" ng-disabled="stateCheck.activeView == 'RATE' || stateCheck.activeView == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay && stateCheck.dateModeActiveDate != reservationData.arrivalDate) || reservationData.status == 'CHECKEDIN' || reservationData.status == 'CHECKING_OUT'">
                <option value="" translate ng-if="reservationData.tabs.length < 2">RESV_ALL_ROOMS</option>
                <option value="" ng-if="viewState.currentTab >0 && !stateCheck.preferredType" class="placeholder">Select Room Type</option>
                <option value="{{roomType.id}}" ng-repeat="roomType in otherData.roomTypes" ng-selected="roomType.id == stateCheck.preferredType" ng-hide="isRoomTypeSelected(roomType.id);">
                    {{roomType.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="reservation-content rooms-and-rates-content no-content" ng-show="(stateCheck.activeView == 'ROOM_TYPE' && display.roomFirstGrid.length == 0) ||
        (stateCheck.activeView == 'RATE' && display.rateFirstGrid.length == 0) ||
        (stateCheck.activeView == 'RECOMMENDED' && display.rateFirstGrid.length == 0)">

        <div class="info">
            <span class="icon-no-content icon-room"></span>
            <strong class="h1" translate>NO_AVAILABILITY</strong>
            <span class="h2" translate>NO_ROOM_RATE_MSG</span>
        </div>
    </div>
    <div class="reservation-content rooms-and-rates-content scrollable" ng-class="{'edit-guests': stateCheck.stayDatesMode}" ng-iscroll="room_types" ng-iscroll-delay="500"
    ng-show="display.roomFirstGrid.length > 0 || display.rateFirstGrid.length > 0">
        <div>
            <ul ng-if="stateCheck.activeView == 'RECOMMENDED'" class="rooms-and-rates wrapper">
                <ng-include src="'/assets/partials/reservation/rvRoomRatesRecommendedView.html'"></ng-include>

            </ul>
            <ul class="rooms-and-rates wrapper" ng-if="stateCheck.activeView == 'ROOM_TYPE'">

                <li ng-repeat="room in display.roomFirstGrid track by $index">
                    <a class="has-arrow toggle" ng-class="{active: !room.isCollapsed, disabled: borrowForGroups}" ng-click="showRatesList(room)">
                        <div class="data">
                            <h2>{{room.name}}</h2>
                            <!-- <span class="recommended" ng-show="!borrowForGroups && display.roomFirstGrid.length > 0 && $index > 0 && (room.defaultRate.adr - display.roomFirstGrid[0].defaultRate.adr) > 0">
                                {{ 'RESV_FOR_ONLY' | translate}}&nbsp;{{currencySymbol}}{{(room.defaultRate.adr - display.roomFirstGrid[0].defaultRate.adr) | number}}&nbsp;{{'RESV_MORE'|translate}}
                            </span> -->
                            <!-- Use class red when number of available rooms is less than e.g. 5 (not sure how this number should be defined and should it be 0 or some other number). Otherwise use class "green". -->
                            <span class="count red" ng-show="stateCheck.stayDatesMode && room.defaultRate.dates[stateCheck.dateModeActiveDate].availability < 5">
                                {{room.defaultRate.dates[stateCheck.dateModeActiveDate].availability}} AVL
                                <label ng-if="!borrowForGroups && room.defaultRate.isGroupRate"> in Group Block</label>
                                <label ng-if="!borrowForGroups && room.defaultRate.isAllotmentRate"> in Allotment</label>
                            </span>
                            <span class="count red" ng-show="!stateCheck.stayDatesMode && room.availability < 5">
                                {{room.availability}} AVL
                                <label ng-if="!borrowForGroups && room.defaultRate.isGroupRate"> in Group Block</label>
                                <label ng-if="!borrowForGroups && room.defaultRate.isAllotmentRate"> in Allotment</label>
                            </span>
                            <span class="count green" ng-show="stateCheck.stayDatesMode && room.defaultRate.dates[stateCheck.dateModeActiveDate].availability > 4">
                                {{room.defaultRate.dates[stateCheck.dateModeActiveDate].availability}} AVL
                                <label ng-if="!borrowForGroups && room.defaultRate.isGroupRate"> in Group Block</label>
                                <label ng-if="!borrowForGroups && room.defaultRate.isAllotmentRate"> in Allotment</label>
                            </span>
                            <span class="count green" ng-show="!stateCheck.stayDatesMode && room.availability > 4">
                                {{room.availability}} AVL
                                <label ng-if="!borrowForGroups && room.defaultRate.isGroupRate"> in Group Block</label>
                                <label ng-if="!borrowForGroups && room.defaultRate.isAllotmentRate"> in Allotment</label>
                            </span>
                            <span ng-repeat="roomRates in room.ratesArray">
                              <span class="restriction-icon {{eachRestriction.restrictionIcon}} {{eachRestriction.restrictionBgColor}} {{eachRestriction.restrictionBgClass}}"  ng-repeat="eachRestriction in roomRates.restriction"></span>
                            </span>

                        </div>
                        <div class="book-rate" ng-if="room.isCollapsed">
                            <h4 ng-hide="borrowForGroups || room.defaultRate.isCorporate" translate>RESV_BEST_RATE</h4>
                            <h4 ng-show="!borrowForGroups && room.defaultRate.isCorporate" translate>RESV_COR_RATE</h4>
                            <div class="price" ng-if="!borrowForGroups && !room.defaultRate.isSuppressed">
                                {{currencySymbol}}{{room.defaultRate.adr | number: 2}}
                                <span translate>RESV_AVG_NIGHT</span>
                            </div>
                            <div class="price" ng-if="!borrowForGroups && room.defaultRate.isSuppressed">
                                SR<span translate>RESV_AVG_NIGHT</span>
                            </div>

                            <!-- <div class="button-container"> -->
                                <button class="button white blue-text" ng-show="stateCheck.selectedStayDate.rate.id == room.defaultRate.id && (stateCheck.selectedStayDate.roomType.id == room.id || reservationData.rooms[activeRoom].roomTypeId == room.id)" ng-click="handleNoEdit($event,room.id,room.defaultRate.id)">
                                    CURRENT RATE
                                </button>
                                <!-- making sure that this button always hidden when borrow -->
                                <button class="button {{room.defaultRate.buttonClass}}" ng-hide="borrowForGroups || (stateCheck.selectedStayDate.rate.id == room.defaultRate.id && (stateCheck.selectedStayDate.roomType.id == room.id || reservationData.rooms[activeRoom].roomTypeId == room.id )) || restrictIfOverbook(room.id,room.defaultRate.id)" ng-click="handleBooking(room.id,room.defaultRate.id,$event)" translate>
                                    RESV_BOOK
                                </button>
                                <!-- making sure that this button always show when borrow -->
                                <button class="button {{room.defaultRate.buttonClass}}" ng-show="borrowForGroups" ng-click="handleBooking(room.id,room.defaultRate.id,$event)" translate>
                                    RESV_BOOK
                                </button>
                            <!-- </div> -->
                        </div>
                    </a>
                    <!-- Rates list -->

                    <ul class="rates" ng-class="{active: !room.isCollapsed}" ng-if="!room.isCollapsed">
                        <li ng-repeat="rate in room.ratesArray" ng-class="{'closed': rate.numRestrictions > 0}">
                            <a class="has-arrow toggle" ng-class="{active: rate.showDays}" ng-click="viewRateBreakUp(rate);">
                                <h3 ng-class="{'restricted': rate.numRestrictions > 0}">
                                    {{rate.name}}
                                </h3>
                                    <span class="corporate" ng-if="rate.isCorporate" translate>CORPORATE_LABEL</span>
                                    <span class="corporate" ng-if="rate.isPromotion">PROMOTION</span>
                                    <span class="corporate" ng-if="rate.isMember">MEMBER</span>
                                    <span class="corporate" ng-if="rate.isGroupRate">GROUP</span>
                                    <span class="corporate" ng-if="rate.isAllotmentRate">ALLOTMENT</span>

                                    <span class="restriction-icon {{eachRestriction.restrictionIcon}} {{eachRestriction.restrictionBgColor}} {{eachRestriction.restrictionBgClass}}"  ng-repeat="eachRestriction in rate.restriction"></span>

                                    <!-- <span class="restriction-icon" ng-if="rate.numRestrictions > 1">R</span> -->

                                  <!--   <span class="restricted" ng-if="rate.numRestrictions > 1">
                                       === MULTIPLE RESTRICTIONS APPLY
                                    </span> -->
                                    <!-- <span class="restricted" ng-if="rate.numRestrictions > 1">
                                        MULTIPLE RESTRICTIONS APPLY
                                    </span>
                                    <span class="restricted {{restrictionColorClass[restrictionsMapping[rate.restriction.restriction_type_id].key]}}" ng-if="rate.numRestrictions == 1">
                                         {{restrictionsMapping[rate.restriction.restriction_type_id].value}}{{rate.restriction.days || rate.restriction.days == 0? rate.restriction.days +' DAYS' : ''}}
                                    </span> -->
                                 <!--    <span class="restriction-icon" ng-if="rate.numRestrictions > 1">R</span>
                                    <span class="restriction-icon {restriction-icon-class} {restriction-bg-class} {restriction-bgcolor}">{Restriction}</span> -->

                                <div class="price" ng-if="!rate.isSuppressed">
                                    {{currencySymbol}}{{rate.adr | number: 2}}
                                    <span translate>RESV_AVG_NIGHT</span>
                                </div>
                                <div class="price" ng-if="rate.isSuppressed">
                                    SR
                                    <span translate>RESV_AVG_NIGHT</span>
                                </div>
                                <button ng-show="stateCheck.selectedStayDate.rate.id == rate.id && (stateCheck.selectedStayDate.roomType.id == room.id || reservationData.rooms[activeRoom].roomTypeId == room.id) && !borrowForGroups" class="button white blue-text" ng-click="handleNoEdit($event,room.id,rate.id)">
                                    CURRENT RATE
                                </button>
                                <button class="button {{rate.buttonClass}}" ng-hide="!borrow && (stateCheck.selectedStayDate.rate.id == rate.id && (stateCheck.selectedStayDate.roomType.id == room.id || reservationData.rooms[activeRoom].roomTypeId == room.id)) || restrictIfOverbook(room.id,rate.id)" ng-click="handleBooking(room.id,rate.id, $event)" translate>RESV_BOOK
                                </button>
                            </a>
                            <div class="rate-details" ng-if="rate.showDays">
                                <ul class="info">
                                    <li ng-bind-html="reservationData.roomsMeta[room.id].description"></li>
                                    <li>{{reservationData.ratesMeta[rate.id].description}}</li>
                                    <li>{{reservationData.ratesMeta[rate.id].deposit_policy.description}}</li>
                                    <li>{{reservationData.ratesMeta[rate.id].cancellation_policy.description}}</li>
                                </ul>
                                <table class="room-cost">
                                    <thead>
                                        <tr>
                                            <th translate>DATE</th>
                                            <th translate>RESV_RATE</th>
                                            <th translate>ADD_ONS</th>
                                            <th>{{'TAXES_INCL'|translate}}</th>
                                            <th>{{'TAXES_EXCL'|translate}}</th>
                                            <th translate>RESV_TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="total-label" translate>RESV_TOTAL_ROOM</td>
                                            <td class="total-value" ng-if="!rate.isSuppressed">{{currencySymbol}}{{rate.total | number:2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="day in rate.dates">
                                            <td>
                                                {{day.obj | date: fulldayInWeek }}, {{day.obj | date: dateFormat }}
                                            </td>
                                            <!-- Room charge -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.amount | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- Add on -->
                                            <td ng-if="!rate.isSuppressed && !day.inclusiveAddonsExist">{{currencySymbol}}{{day.addon | number: 2}}</td>
                                            <td ng-if="!rate.isSuppressed && !!day.inclusiveAddonsExist">INCL</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- taxes -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.tax.incl | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- excl taxes -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.tax.excl | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- incl taxes -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.total | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <td class="edit"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- If multiple restrictions apply: -->
                                <ul ng-if="!stateCheck.stayDatesMode && rate.restrictions.length > 1" class="restrictions">
                                    <li ng-repeat="restriction in rate.restrictions" ng-class="restrictionColorClass[restrictionsMapping[restriction.restriction_type_id].key]">
                                        {{restrictionsMapping[restriction.restriction_type_id].value}}{{restriction.days || restriction.days == 0? restriction.days +' DAYS' : ''}}
                                    </li>
                                </ul>
                                <ul ng-if="stateCheck.stayDatesMode && rate.dates[stateCheck.dateModeActiveDate].restrictions.length > 1" class="restrictions">
                                    <li ng-repeat="restriction in rate.dates[stateCheck.dateModeActiveDate].restrictions" ng-class="restrictionColorClass[restrictionsMapping[restriction.restriction_type_id].key]">
                                        {{restrictionsMapping[restriction.restriction_type_id].value}}{{restriction.days || restriction.days == 0? restriction.days +' DAYS' : ''}}
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="break" ng-show="room.ratesArray.length < room.totalRatesCount" ng-click="showRatesList(room, true)">
                            <span class="thin">SHOW MORE RATES</span>
                        </li>
                    </ul>
                </li>
                <li class="break" ng-show="stateCheck.showLessRooms && stateCheck.baseInfo.totalCount > 2 && stateCheck.selectedRoomType == -1" ng-click="showAllRooms()"> <span translate>RESV_SEE_MORE_ROOMS</span>
                </li>
            </ul>
            <ul class="rooms-and-rates wrapper" ng-if="stateCheck.activeView == 'RATE'">
                <ng-include src="'/assets/partials/reservation/rvRoomRatesRateView.html'"></ng-include>
            </ul>
        </div>
    </div>
</div>