<div class="reservations-content-wrapper">
    <div class="reservation-filters" ng-class="{'with-guests': stateCheck.stayDatesMode}">
        <div class="edit-guests" ng-show="stateCheck.stayDatesMode">
            <a ng-click="toggleEditGuestOptions()" class="button has-arrow toggle">
                <span class="label">
                Guests 
                <em ng-hide="stateCheck.guestOptionsIsEditable">({{ stateCheck.dateModeActiveDate | date : 'EEE dd'}})
                </em>
                </span> {{(stateCheck.selectedStayDate.guests.adults*1 + stateCheck.selectedStayDate.guests.children*1 + stateCheck.selectedStayDate.guests.infants*1)}}
            </a>
            <div id="guest-options" class="reservation-guests" ng-show="stateCheck.guestOptionsIsEditable">
                <div class="select adults">
                    <label for="room-adults" class="label" translate>ADULTS</label>
                    <select name="room-adults" id="room-adults" ng-model="stateCheck.selectedStayDate.guests.adults" ng-change="updateDayOccupancy('adults'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxAdults] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.adults">{{i}}</option>
                    </select>
                </div>
                <div class="select children">
                    <label for="room-children" class="label" translate>CHILDREN</label>
                    <select name="room-children" id="room-children" ng-model="stateCheck.selectedStayDate.guests.children" ng-change="updateDayOccupancy('children'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxChildren] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.children">{{i}}</option>
                    </select>
                </div>
                <div class="select infants">
                    <label for="room-infants" class="label" translate>INFANTS</label>
                    <select name="room-infants" id="room-infants" ng-model="stateCheck.selectedStayDate.guests.infants" ng-change="updateDayOccupancy('infants'); toggleEditGuestOptions()">
                        <option ng-repeat="i in [0, otherData.maxInfants] | makeRange" value="{{i}}" ng-selected="i == stateCheck.selectedStayDate.guests.infants">{{i}}</option>
                    </select>
                </div>
            </div>
        </div>
        <ul>
            <li ng-show="otherData.recommendedRateDisplay" ng-class="{active: activeCriteria =='RECOMMENDED'}" ng-click="activeCriteria='RECOMMENDED';refreshScroll()">{{'RESV_RECOMMENDED'|translate}}</li>
            <li ng-class="{active: activeCriteria == 'ROOM_TYPE'}" ng-click="activeCriteria='ROOM_TYPE'; refreshScroll()">{{'RESV_ROOM'|translate}}</li>
            <li ng-class="{active: activeCriteria == 'RATE'}" ng-click="activeCriteria= 'RATE';refreshScroll()">{{'RESV_RATE'|translate}}</li>
        </ul>
        <div class="find-rates" ng-show="activeCriteria == 'RATE'">
            <button type="submit" name="submit" class="icons icon-search" translate>SEARCH</button> <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input ng-blur="hideResults();" ng-focus="isRateFilterActive = true" name="find-rates" type="text" placeholder="Find Rates" value="" autocomplete="off" class="ui-autocomplete-input" ng-model="stateCheck.rateFilterText" ng-change="filterRates();">
        </div>
        <!-- ng-disabled="activeCriteria == 'RATE' || activeCriteria == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay)" -->
        <div class="select" ng-show="activeCriteria == 'ROOM_TYPE'">
            <select ng-model="stateCheck.preferredType" ng-change="onRoomTypeChange($event)" ng-disabled="activeCriteria == 'RATE' || activeCriteria == 'RECOMMENDED' || (stateCheck.stayDatesMode && stateCheck.rateSelected.oneDay && stateCheck.dateModeActiveDate != reservationData.arrivalDate) || reservationData.status == 'CHECKEDIN' || reservationData.status == 'CHECKING_OUT'">
                <option value="" translate ng-if="reservationData.tabs.length < 2">RESV_ALL_ROOMS</option>
                <option value="" ng-if="viewState.currentTab >0 && !stateCheck.preferredType" class="placeholder">Select Room Type</option>
                <option value="{{roomType.id}}" ng-repeat="roomType in otherData.roomTypes" ng-selected="roomType.id == stateCheck.preferredType" ng-hide="isRoomTypeSelected(roomType.id);">
                    {{roomType.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="reservation-content rooms-and-rates-content no-content" ng-show="display.roomFirstGrid.length == 0">
        <div class="info">
            <span class="icon-no-content icon-room"></span>
            <strong class="h1" translate>NO_AVAILABILITY</strong>
            <span class="h2" translate>NO_ROOM_RATE_MSG</span>
        </div>
    </div>
    <div class="reservation-content rooms-and-rates-content scrollable" ng-iscroll="room_types" ng-iscroll-delay="500" ng-show="display.roomFirstGrid.length > 0">
        <div>
            <ul ng-if="activeCriteria == 'RECOMMENDED'" class="rooms-and-rates wrapper"></ul>
            <ul class="rooms-and-rates wrapper" ng-if="activeCriteria == 'ROOM_TYPE'">
                <li ng-repeat="room in display.roomFirstGrid track by $index" ng-hide="$index > 1 && showLessRooms" ng-init="isVisibleRoom = (selectedRoomType == room.id)">
                    <a class="has-arrow toggle" ng-class="{active: isVisibleRoom}" ng-click="isVisibleRoom = !isVisibleRoom; refreshScroll()">
                        <div class="data">
                            <h2>{{room.name}}</h2>
                        </div>
                        <div class="book-rate" ng-if="!isVisibleRoom">
                            <h4 ng-hide="room.defaultRate.isCorporate" translate>RESV_BEST_RATE</h4>
                            <h4 ng-show="room.defaultRate.isCorporate" translate>RESV_COR_RATE</h4>
                            <div class="price" ng-if="!room.defaultRate.isSuppressed">
                                {{currencySymbol}}{{room.defaultRate.adr | number: 2}}
                                <span translate>RESV_AVG_NIGHT</span>
                            </div>
                            <div class="price" ng-if="room.defaultRate.isSuppressed">
                                SR<span translate>RESV_AVG_NIGHT</span>
                            </div>
                            <button class="button white blue-text" ng-show="stateCheck.selectedStayDate.rate.id == roomAvailability[room.id].defaultRate && stateCheck.preferredType == room.id" ng-click="handleNoEdit($event, room.id, roomAvailability[room.id].defaultRate)">
                                CURRENT RATE
                            </button>
                            <button class="button" ng-click="handleBooking(room.id,room.defaultRate.id,$event)" ng-class="getBookButtonStyle(room.id,room.defaultRate.id)" translate>
                                RESV_BOOK
                            </button>
                        </div>
                    </a>
                    <!-- Rates list -->
                    <ul class="rates" ng-class="{active: isVisibleRoom}" ng-if="isVisibleRoom">
                        <li ng-repeat="rate in room.rates">
                            <a class="has-arrow toggle" ng-class="{active: rate.showDays}" ng-click="viewRateBreakUp(rate,room);">
                                <h3>
                                    {{rate.name}}
                                </h3>
                                <div class="price" ng-if="!rate.isSuppressed">
                                    {{currencySymbol}}{{rate.adr | number: 2}}
                                    <span translate>RESV_AVG_NIGHT</span>
                                </div>
                                <div class="price" ng-if="rate.isSuppressed">
                                    SR
                                    <span translate>RESV_AVG_NIGHT</span>
                                </div>
                                <button ng-show="stateCheck.selectedStayDate.rate.id == rate && stateCheck.preferredType == room.id" class="button white blue-text" ng-click="handleNoEdit($event, room.id, rate)">
                                    CURRENT RATE
                                </button>
                                <button class="button" ng-hide="(stateCheck.selectedStayDate.rate.id == rate && stateCheck.preferredType == room.id) || restrictIfOverbook(room.id,rate)" ng-class="getBookButtonStyle(room.id,rate.id)" ng-click="handleBooking(room.id,rate.id, $event)" translate>RESV_BOOK
                                </button>
                            </a>
                            <div class="rate-details" ng-if="rate.showDays">
                                <ul class="info">
                                    <li ng-bind-html="room.description"></li>
                                    <li>{{displayData.allRates[rate].description}}</li>
                                    <li>{{displayData.allRates[rate].deposit_policy.description}}</li>
                                    <li>{{displayData.allRates[rate].cancellation_policy.description}}</li>
                                </ul>
                                <table class="room-cost">
                                    <thead>
                                        <tr>
                                            <th translate>DATE</th>
                                            <th translate>RESV_RATE</th>
                                            <th translate>ADD_ONS</th>
                                            <th>{{'TAXES_INCL'|translate}}</th>
                                            <th>{{'TAXES_EXCL'|translate}}</th>
                                            <th translate>RESV_TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" class="total-label" translate>RESV_TOTAL_ROOM</td>
                                            <td class="total-value" ng-if="rate.isSuppressed">{{currencySymbol}}{{rate.total | number:2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr ng-repeat="day in rate.dates">
                                            <td>
                                                {{day.obj | date: fulldayInWeek }}, {{day.obj | date: dateFormat }}
                                            </td>
                                            <!-- Room charge -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.amount | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- Add on -->
                                            <td ng-if="!rate.isSuppressed && !day.inclusiveAddonsExist">{{currencySymbol}}{{day.addon | number: 2}}</td>
                                            <td ng-if="!rate.isSuppressed && !!day.inclusiveAddonsExist">INCL</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- taxes -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.tax.incl | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- excl taxes -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.tax.excl | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <!-- incl taxes -->
                                            <td ng-if="!rate.isSuppressed">{{currencySymbol}}{{day.total | number: 2}}</td>
                                            <td ng-if="rate.isSuppressed">SR</td>
                                            <td class="edit"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- If multiple restrictions apply: -->
                                <ul ng-if="!stateCheck.stayDatesMode && getAllRestrictions(room.id,rate).length > 1" class="restrictions">
                                    <li ng-repeat="restriction in getAllRestrictions(room.id,rate)" ng-class="restrictionColorClass[restriction.key]">
                                        {{restriction.value}}
                                    </li>
                                </ul>
                                <ul ng-if="stateCheck.stayDatesMode && roomAvailability[room.id].ratedetails[stateCheck.dateModeActiveDate][rate].restrictions.length > 1" class="restrictions">
                                    <li ng-repeat="restriction in roomAvailability[room.id].ratedetails[stateCheck.dateModeActiveDate][rate].restrictions" ng-class="restrictionColorClass[restriction.key]">
                                        {{restriction.value}}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="rooms-and-rates wrapper" ng-if="activeCriteria == 'RATE'">
                Version 2 Rate View
            </ul>
        </div>
    </div>
</div>
