<section id="rooms-and-rates" class="content reservations-inner" >

    <ul class="reservation-header" id="rooms-and-rates-header">
        <li ng-repeat = "room in rooms" class="load-room" ng-class="{'active': $index == activeRoom , 'hidden' : rooms.length < 2}"> ROOM {{$index + 1}}</li>
    </ul>
    <div id="rooms-and-rates-content" class="reservations-content-wrapper">
        <div class="reservation-filters">
            <div id="change-room-type" class="select">
              <select ng-model="preferredType" ng-options="roomType.id as roomType.name for roomType in roomTypes" ng-change="filterRooms()">
                  <option value="">All Room Types</option>
              </select>
          </div>
          <ul id="filter-rooms-and-rates">
            <li id="show-recommended" ng-class="{active: activeCriteria =='RECOMMENDED'}" ng-click="activeCriteria='RECOMMENDED'">Recommended</li>
            <li id="show-type" ng-class="{active: activeCriteria == 'ROOM_TYPE'}" ng-click="activeCriteria='ROOM_TYPE'">Room Type</li>
            <li id="show-rate" ng-class="{active: activeCriteria == 'RATE'}" ng-click="activeCriteria= 'RATE'">Rate</li>
        </ul>
    </div>

    <div id="room-and-rate-types"  ng-iscroll="room_types"  ng-iscroll-delay="500" class="reservation-content rooms-and-rates-content scrollable" style="height:{{containerHeight}}px">
        <ul ng-if="activeCriteria == 'RECOMMENDED'" class="rooms-and-rates wrapper">
         
        </ul>

        <ul class="rooms-and-rates wrapper" ng-if="activeCriteria == 'ROOM_TYPE'">

        <li ng-repeat= "room in displayData.roomTypes">
         
            <a class="has-arrow toggle" ng-class="{active: selectedRoomType == room.id}" ng-click="setSelectedType(room)">
                <div class="data">
                    <h2>{{room.name}}</h2>
                    <span ng-show="displayData.roomTypes.length > 0 && $index > 0">For only {{currencySymbol}}{{roomAvailability[room.id].averagePerNight - roomAvailability[displayData.roomTypes[0].id].averagePerNight}} more per night</span>
                </div>
                <div class="book-rate" ng-class="{hidden: selectedRoomType == room.id}">
                    <h4>Best Available Rate</h4>
                    <div class="price">{{currencySymbol}}{{roomAvailability[room.id].averagePerNight}}<span>Avg. Rate per night</span></div>
                    <button class="button green" ng-click="handleBooking(room.id,roomAvailability[room.id].defaultRate,$event)">Book</button>
                </div>
            </a>
            <!-- Rates list -->
            <ul class="rates" ng-class="{hidden: selectedRoomType != room.id}">
                <li ng-repeat="rate in roomAvailability[room.id].rates">
                    <a class="has-arrow toggle" ng-class="{active: isActive}" ng-init="isActive=false;" ng-click="isActive = !isActive ; refreshScroll()">
                        <h3>{{displayData.allRates[rate].name}}</h3>
                        <div class="price">
                            {{currencySymbol}}{{roomAvailability[room.id].total[rate].average}}
                            <span>Avg. Rate per night</span>
                        </div>
                        <button class="button green" ng-click="handleBooking(room.id,rate, $event)">Book</button>
                    </a>
                    <!-- Rate Details -->
                    <div class="rate-details" ng-class="{hidden: !isActive}">
                        <ul class="info">
                            <li>{{room.description}}</li>
                            <li>{{displayData.allRates[rate].description}}</li>
                            <li>{{displayData.allRates[rate].deposit_policy.description}}</li>
                            <li>{{displayData.allRates[rate].cancellation_policy.description}}</li>
                        </ul>
                        <table class="room-cost">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Rate</th>
                                    <th>Tax({{tax}}%)</th>
                                    <th>Total</th>
                                    <th class="edit"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="total-label">Total Room Cost</td>
                                    <td class="total-value">{{currencySymbol}}{{roomAvailability[room.id].total[rate].total | number:0}}</td>
                                    <td class="edit" ng-hide="true  ">
                                        <a href="modals/apply-discount/" class="open-modal button with-icon only-icon purple edit">
                                            <span class="icons icon-pencil"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat = "breakdown in roomAvailability[room.id].ratedetails | filter : {rate_id : rate }">
                                    <td>{{breakdown.day | date:fullDateFormat}}</td>
                                    <td>{{currencySymbol}}{{breakdown.rate | number: 2}}</td>
                                    <td>{{currencySymbol}}{{breakdown.tax}}</td>
                                    <td>{{currencySymbol}}{{breakdown.rate | number: 2 }}</td> 
                                    <td class="edit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </li>
        </ul> 
        <ul ng-if="activeCriteria == 'RATE'" class="rooms-and-rates wrapper">
         
        </ul>
    </div>
</div>
</section>