<div role="dialog" id="modal" class="modal-show">
	<div class="modal-content">
		<button type="button" id="modal-close" class="modal-close" ng-click="closeDialog()">
			<span class="icons icon-close invert"></span>
		</button>
		
		<div class="h3 message" ng-repeat="message in popupMessage" >
			<span ng-if=!$last>{{message}}, </span>
			<span ng-if=$last> {{message}} </span>
		</div>
		
		<button id="ok" class="button modal-close red" ng-click="okButtonClicked()">
			Ok
		</button>
	</div>
</div>