<div role="dialog" id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}"> <!--modal-content diary-move -->
  <div ng-cloak class="modal-content alert">
        <button id="modal-close" type="button" class="modal-close" ng-click="closeDialog()">
            <span class="icons icon-close invert">
        </button>
        <span class="h2 message">
           {{'POSTINGS_WITHOUT_CREDIT_NOT_PERMITTED_FOR_THIS_RESERVATION' | translate}}
        </span>
        <div class="actions" ng-show="!hasPermissionToAllowPostWithNoCredit()">
            <button type="button" class="button red" ng-click="closeDialog()">Ok</button>
        </div>
        <div class="actions" ng-show="hasPermissionToAllowPostWithNoCredit()">
            <button id="try-again" class="button green end-of-day-button" ng-click="yesClick()" translate>POST CHARGES</button>
            <button class="button blank end-of-day-button" ng-click="cancelClicked()"translate>Cancel</button>
         </div>
   </div>

</div>