<div role="dialog" id="modal" class="modal-show">
	<form id="post-charge" class="modal-content post-charge">
		<button type="button" id="modal-close" class="modal-close">
			<span class="icons icon-close invert"></span>
		</button>
		<div id="notification-message"></div>
		<!-- Left side -->
		<fieldset class="content-left">
			<div role="search" class="search-form">
				<div class="select">
					<select
						name="charge-groups"
						id="charge-groups"
						ng-model="chargeGroup"
						ng-change = "filterbyChargeGroup()"
						ng-options="item.value as item.name for item in fetchedData.charge_groups">
						<option value="" class="placeholder">All Charge Groups</option>
					</select>
				</div>
				<div class="entry">
					<a id="clear-query" href="#" class="icons icon-clear-search">Clear query</a>
					<button type="button" name="submit" class="icons icon-search">
						Search
					</button>
					<input type="search" placeholder="Search items" name="query" id="query" autocomplete="off" ng-model="query" ng-change="filterByQuery()">
				</div>
			</div>
			<div id="items-listing" class="scrollable" ng-iscroll='itemList' ng-iscroll-delay='50'>
				<ul id="search-item-results" class="wrapper">
					<li id="items-list" ng-repeat="each in fetchedData.items" ng-if="each.show" ng-click="addItem()">
						<a class="button white">
							{{ each.item_name }}
							<span class="price">
								$
								<span class="value">{{ each.unit_price }}</span>
							</span>
							<span ng-if="each.show_count" class="count"></span>
						</a>
					</li>
				</ul>
			</div>
		</fieldset>
		<!-- Right side -->
		<fieldset class="content-right">
			<span class="h2 message"> Post charge to Bill #
				<div id="select-bill-number" class="select">
					<select name="post-charge-to-bill">
						<option value="1"> 1 </option>
					</select>
				</div> </span>
			<div id="no-items-added" class="no-content" ng-hide="items.length">
				<div class="info">
					<strong class="h1">0 items selected</strong>
				</div>
			</div>
			<div id="items-added" ng-show="items.length">
				<div id="items-summary" class="scrollable" ng-iscroll='chosenItems' ng-iscroll-delay='50'>
					<ul class="wrapper">
						<li ng-repeat="each in items" ng-class="{'selected': each.item_name === chosenItem.item_name}">
							{{ each.item_name }}
							<span class="count" ng-if="each.count > 1">({{ each.count }})</span>
							<span class="base">at ${{ each.unit_price }} / unit</span>
							<span class="price">
								$
								<span class="value">{{ each.total_price }}</span>
							</span>
						</li>
					</ul>
				</div>
				<p id="total-charge" class="offset-2">
					Total <span class="price">$ <span class="value">{{ net_total_price }}</span></span>
				</p>
				<div id="numpad">
					<div id="numpad-numbers">
						<button value="1" type="button" class="button white">
							1
						</button>
						<button value="2" type="button" class="button white">
							2
						</button>
						<button value="3" type="button" class="button white">
							3
						</button>
						<button value="4" type="button" class="button white">
							4
						</button>
						<button value="5" type="button" class="button white">
							5
						</button>
						<button value="6" type="button" class="button white">
							6
						</button>
						<button value="7" type="button" class="button white">
							7
						</button>
						<button value="8" type="button" class="button white">
							8
						</button>
						<button value="9" type="button" class="button white">
							9
						</button>
						<button value="+/-" type="button" class="button white small">
							+/-
						</button>
						<button value="0" type="button" class="button white">
							0
						</button>
						<button value="." type="button" class="button white small">
							.
						</button>
					</div>
					<div id="numpad-options">
						<button value="QTY" type="button" id="quantity" class="button white numpad-toggle selected">
							QTY
						</button>
						<button value="PR" type="button" id="price" class="button white numpad-toggle">
							PR
						</button>
						<button value="undo" type="button" class="button white with-icon only-icon clear-value">
							<span class="icons icon-clear"></span>Clear last value
						</button>
						<button value="delete" type="button" class="button white with-icon only-icon remove-item">
							<span class="icons icon-trash"></span>Remove item
						</button>
					</div>
				</div>
				<div class="actions float">
					<button type="button" id="post" class="button green modal-close">
						Post charge
					</button>
					<button type="button" id="cancel" class="button blank modal-close">
						Cancel
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>