<div role="dialog" id="modal" class="modal-show">
	<form id="post-charge" class="modal-content post-charge">
		<button type="button" id="modal-close" class="modal-close">
			<span class="icons icon-close invert"></span>
		</button>
		<div id="notification-message"></div>
		<!-- Left side -->
		<fieldset class="content-left">
			<div role="search" class="search-form">
				<div class="select">
					<select name="charge-groups" id="charge-groups">
						<option value="all-charge-groups" id="all-charge-groups" class="placeholder">All Charge Groups</option>
						<option value="favorites" selected="selected" id="favorites">Favorites</option>
						<option value="PARKING" id="1"> PARKING </option>
						<option value="Minibar" id="3"> Minibar </option>
						<option value="Food &amp; Beverage" id="4"> Food &amp; Beverage </option>
						<option value="INCIDENTALS" id="5"> INCIDENTALS </option>
						<option value="Payments" id="25"> Payments </option>
						<option value="Two test" id="66"> Two test </option>
						<option value="qqqq123" id="73"> qqqq123 </option>
					</select>
				</div>
				<div class="entry">
					<a id="clear-query" href="#" class="icons icon-clear-search">Clear query</a>
					<button type="button" name="submit" class="icons icon-search">
						Search
					</button>
					<input type="search" placeholder="Search items" name="query" id="query" data-keyboard="lock" autocomplete="off">
				</div>
			</div>
			<div id="items-listing" class="scrollable">
				<ul id="search-item-results" class="wrapper" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="5.0" data-item="Apple 1Kg" data-is-favourite="true" data-id="55" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Apple 1Kg <span class="price">$<span class="value"> 5.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="100.0" data-item="Band Aid" data-is-favourite="true" data-id="73" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Band Aid <span class="price">$<span class="value"> 100.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="7.2" data-item="Duff Beer 50cl" data-is-favourite="true" data-id="57" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Duff Beer 50cl <span class="price">$<span class="value"> 7.20</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="7.0" data-item="Evian 2L" data-is-favourite="true" data-id="53" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Evian 2L <span class="price">$<span class="value"> 7.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="4.5" data-item="Ginger Ale" data-is-favourite="true" data-id="52" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Ginger Ale <span class="price">$<span class="value"> 4.50</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="2.0" data-item="Jack Daniels" data-is-favourite="true" data-id="50" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Jack Daniels <span class="price">$<span class="value"> 2.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="2.0" data-item="Laundry" data-is-favourite="true" data-id="79" data-charge-group="5" data-cc="USD" data-base="unit" class="button white"> Laundry <span class="price">$<span class="value"> 2.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="5.0" data-item="Oranges 1Kg" data-is-favourite="true" data-id="56" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Oranges 1Kg <span class="price">$<span class="value"> 5.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="1.0" data-item="Room" data-is-favourite="true" data-id="80" data-charge-group="" data-cc="USD" data-base="unit" class="button white"> Room <span class="price">$<span class="value"> 1.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="3.0" data-item="Salt &amp; Vinegar Crisps" data-is-favourite="true" data-id="65" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Salt &amp; Vinegar Crisps <span class="price">$<span class="value"> 3.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="100.0" data-item="Seltzer Water" data-is-favourite="true" data-id="94" data-charge-group="" data-cc="USD" data-base="unit" class="button white"> Seltzer Water <span class="price">$<span class="value"> 100.00</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="3.2" data-item="Spring Water" data-is-favourite="true" data-id="54" data-charge-group="3" data-cc="USD" data-base="unit" class="button white"> Spring Water <span class="price">$<span class="value"> 3.20</span></span> </a>
					</li>
					<li id="items-list">
						<a href="#" data-type="post-charge" data-price="0.0" data-item="Upgrade" data-is-favourite="true" data-id="86" data-charge-group="" data-cc="USD" data-base="unit" class="button white"> Upgrade <span class="price">$<span class="value"> 0.00</span></span> </a>
					</li>
				</ul>
				<div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="overflow: hidden; pointer-events: none;">
					<div class="iScrollIndicator" style="transition-duration: 0ms; display: block; height: 299px; transform: translate(0px, 0px) translateZ(0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);"></div>
				</div>
			</div>
		</fieldset>
		<!-- Right side -->
		<fieldset class="content-right">
			<span class="h2 message"> Post charge to Bill #
				<div id="select-bill-number" class="select">
					<select name="post-charge-to-bill">
						<option value="1"> 1 </option>
					</select>
				</div> </span>
			<div id="no-items-added" class="no-content">
				<div class="info">
					<strong class="h1">0 items selected</strong>
				</div>
			</div>
			<div id="items-added" class="hidden">
				<div id="items-summary" class="scrollable">
					<ul class="wrapper" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);"></ul>
					<div class="iScrollVerticalScrollbar iScrollLoneScrollbar" style="overflow: hidden; pointer-events: none;">
						<div class="iScrollIndicator" style="transition-duration: 0ms; display: none; height: 8px; transform: translate(0px, -8px) translateZ(0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);"></div>
					</div>
				</div>
				<p id="total-charge"></p>
				<div id="numpad">
					<div id="numpad-numbers">
						<button value="1" type="button" class="button white">
							1
						</button>
						<button value="2" type="button" class="button white">
							2
						</button>
						<button value="3" type="button" class="button white">
							3
						</button>
						<button value="4" type="button" class="button white">
							4
						</button>
						<button value="5" type="button" class="button white">
							5
						</button>
						<button value="6" type="button" class="button white">
							6
						</button>
						<button value="7" type="button" class="button white">
							7
						</button>
						<button value="8" type="button" class="button white">
							8
						</button>
						<button value="9" type="button" class="button white">
							9
						</button>
						<button value="+/-" type="button" class="button white small">
							+/-
						</button>
						<button value="0" type="button" class="button white">
							0
						</button>
						<button value="." type="button" class="button white small">
							.
						</button>
					</div>
					<div id="numpad-options">
						<button value="QTY" type="button" id="quantity" class="button white numpad-toggle selected">
							QTY
						</button>
						<button value="PR" type="button" id="price" class="button white numpad-toggle">
							PR
						</button>
						<button value="undo" type="button" class="button white with-icon only-icon clear-value">
							<span class="icons icon-clear"></span>Clear last value
						</button>
						<button value="delete" type="button" class="button white with-icon only-icon remove-item">
							<span class="icons icon-trash"></span>Remove item
						</button>
					</div>
				</div>
				<div class="actions float">
					<button type="button" id="post" class="button green modal-close">
						Post charge
					</button>
					<button type="button" id="cancel" class="button blank modal-close">
						Cancel
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>