<!-- navbar -->
<div class="container-fluid padding-0">
    <div class="row header-bar">
        <img alt="" class="logo-image" src="{{hotelLogo}}"/>
    </div>
</div>

<!-- main section starts here -->
<div class="container">
   <!-- if guest has already checked In -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 margin-top-40 top-spacing">
            <p class="main-text">It appears you have already completed your check-in.</p>
            <p class="sub-main-text margin-top-40">For further inquiries please contact the hotel at <a href="tel: {{hotelPhone}}"  class="phone-text">{{hotelPhone}}.</a></p>
            <p class="sub-main-text">Thank You!</p>
        </div>
        <div class="col-md-3">
        </div>                   
    </div>
</div>
