.addons-content {
    height: 100%;

    .addons {

        @media screen and (max-width: 480px) {
            .show;
        }

        .addon-items {
            .options {
                margin-bottom: 10px;
            }

            .addon-tab {
                li {
                    #flexbox > .parent( row wrap, space-between, '', '');
                    
                    .data,
                    .price,
                    .add-enhancement {
                        width: 100%;
                    }

                    .price {
                        margin-top: 10px;
                    }
                   
                    .add-enhancement {
                        margin-top: 30px;
                    }
                }
            }
        }

    }
}