
<!-- navbar -->
<div class="row header-bar">
    <img alt="" class="logo-image" src="{{hotelLogo}}"/>
</div>
<!-- main section starts here -->
<div class="container">
    <!-- request -->
     <div class="row" ng-show="isFetching && !netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="request-text">Your request is being processed.
            This may take a few seconds..... please wait!</p>
        </div>
        <div class="col-md-2">
        </div>                   
    </div>
    <!-- error -->
    <div class="row" ng-show="netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="error-text">Our apologies, something went wrong, please complete your check-out at our front desk.You can also call the hotel at <a href="tel: {{hotelPhone}}"class="phone-text">{{hotelPhone}}.</a></p>
        </div>
        <div class="col-md-2">
        </div>                   
    </div>
    <!-- main content -->
    <div class="row" ng-hide="isFetching || netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-4 top-spacing">
            <p class="main-text">Checkout</p>
            <p class="sub-main-text">Your balance is</p>
            <p class="balance-amount">{{currencySymbol}}{{billData.balance}}</p>
            <div class="view-bill" ng-hide="showBill"  ng-click="showBill = true">
                <div class="right-arrow-button"></div>VIEW BILL
            </div>
            <div class="view-bill" ng-show="showBill" ng-click="showBill = false">
                <div class="down-arrow-button">&nbsp;</div>VIEW BILL
            </div>
        </div>
           <!--  -->
        <div class="show-bill-wrap" ng-show="showBill" >
            <div class="overlay-bg">
                <div class="show-bill">
                    <div class="bill-contain-wrap">
                        <span class="close-bill" ng-click="showBill = false"><img src="/assets/common_images/close_icon.png"></span>
                        <div class="bill-contain">
                            <div class="bill-hotel-logo">
                                <img class="img-responsive" src="{{hotelLogo}}" alt="Responsive image">
                            </div>
                            <div>
                                <p class="left-align">Room {{ roomNo }}</p>
                                <p class="left-align">{{ userName }}<span ng-show="userCity.length > 0 || userState.length > 0"> | </span> {{ userCity }}<span ng-show="userCity.length > 0 && userState.length > 0">,</span> {{ userState }}</p>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Fees</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat= "bill in billData.fee_details" >
                                    <tr>
                                        <td>
                                            <span>{{ bill.date }}</span>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr ng-show="{{bill.guest_room_text.length > 0}}">
                                        <td >
                                            <span>{{ bill.guest_room_text}}:<span>{{bill.guest_room_description}}</span></span>
                                        </td>
                                        <td>
                                            <span class="right-text">{{ bill.guest_room_fees}}</span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="amountDetails in bill.charge_details">
                                        <td>
                                            <span>{{ amountDetails.description }}
                                        </td>
                                        <td class="right-text">
                                            <span>{{ amountDetails.amount }}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="total">
                                            <td>TOTAL</td>
                                            <td>{{billData.total_fees}}</td>
                                        </tr>
                                        <tr class="total">
                                            <td>CREDIT</td>
                                            <td>{{billData.credits}}</td>
                                        </tr>
                                        <tr class="total">
                                            <td>BALANCE</td>
                                            <td class="balance">{{billData.balance}}</td>
                                        </tr>
                                    </tfoot>    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  


    <!--  -->
        <div class="col-md-1"></div>
        <div class="col-md-3 top-spacing sm-no-top-spacing margin-top-10">
                 <a class="btn accept-charges">
                 <div class="">Accept charges <br>and check-out</div>
                 <div class="sm-icon margin-top-10">
                     <div class="accept-charge-icon">&nbsp;</div>
                 </div>
                </a>
        </div>
        <div class="col-md-1">
        </div>                   
    </div>
    <div class="row footer-text" ng-hide="isFetching || netWorkError">
            The credit card on record will be charged.
    </div>
</div>