<div class='edit-data' id='add-new' style='display: block;'>
	<div class='data-holder'>
		<!-- Add payment type -->
		<form class='form inline-form float'>
			<div class='form-title'>
				<h3 translate>ADD</h3>
				<em class='status'>{{ 'MANDATORY_FIELDS_MESSAGE1' | translate }} <strong>*</strong> {{ 'MANDATORY_FIELDS_MESSAGE2' | translate }} </em>
			</div>
			<fieldset class='holder left' style="height: 300px;">
				<ad-textbox inputtype="text" value="addData.name"
				label = "Description" placeholder = "Enter name"
				required="yes" styleclass="full-width"></ad-textbox>

			</fieldset>
			<fieldset class="holder right">
		        <div class="entry rel">
		            <label for="select-rate">Select Charge Codes</label>
		            <!-- Add .active when showing options -->
		            <div class="faux-select">
		                <span class="value">{{addData.selectedCount}} selected</span>
		            </div>
					<div id="select-rate" class="faux-select-options">
		                <div class="search">
		                    <button id="faux-select-clear-query" class="clear-query"><span class="icons icon-clear-search">Clear query</span></button>
		                    <button type="submit" name="submit" class="icons icon-search">Search</button>
		                    <input ng-change="searchChargeCodes()" ng-model="addData.queryParam" name="faux-select-query" id="faux-select-query" class="query" placeholder="Search by Rate Name" autocomplete="off" type="text">
		                </div>
		                <!-- add .checked if checked -->

		                <label class="checkbox" ng-repeat="chargeCode in chargeCodes">
		                    <!-- add .checked if checked -->
		                    <span class="icon-form icon-checkbox" ng-class="{'checked': chargeCode.is_selected}"></span>
		                    <!-- add checked="checked" if checked -->
		                    <input name="resync_rate" ng-model="chargeCode.is_selected" ng-class="{'checked': chargeCode.is_selected}" ng-change="selectedChargeCode()"  value="{{chargeCode.value}}" type="checkbox">
		                    <span class="text">{{chargeCode.charge_code}}</span>
		                </label>
		                
		            </div> 
			    </div>

			</fieldset>

			<div class='actions float'>
				<button class='button blank edit-data-inline' id='cancel' type='button' ng-click="clickCancel()" translate>
					CANCEL
				</button>
				<button class='button green edit-data-inline' id='save' type='button' ng-click="saveTaxExempt()" translate>
					SAVE_CHANGES
				</button>
			</div>

		</form>
	</div>
</div>
