<section id="replacing-div-first" class="content current admin-scrollfix" div-touch-move-stop-propogate>
	<div>
		<section>
			<header class="content-title float">
				<h2 translate>INVOICES</h2>
				<a id="go_back" data-type="load-details" class="action back" ng-click="goBackToPreviousState()"translate>BACK</a>
			</header>
			<section class="content-scroll">
				<div ng-include="'/assets/partials/common/notification_message.html'"></div>
				<form  class="form float" >
					<fieldset class="holder left">
						<ad-textbox div-class="full-width" text-area-class="full-width" value="invoiceSettings.first_invoice_no" label = "{{'FIRST_INVOICE_NO' | translate}}" placeholder = "{{'PLACEHOLDER_FIRST_INVOICE_NO' | translate }}" readonly="{{isFirstInvoiceNoReadOnly}}"></ad-textbox>
					</fieldset>
					<fieldset class="holder right">
						<ad-textbox div-class="full-width" text-area-class="full-width" value="invoiceSettings.invoice_no_prefix" label = "{{'INVOICE_NO_PREFIX' | translate}}" placeholder = "{{'PLACEHOLDER_INVOICE_NO_PREFIX' | translate }}"></ad-textbox>
					</fieldset>
					<fieldset class="holder left">
						<ad-toggle-button label="{{'EXT_TAX_BREAKDOWN' | translate}}" is-checked="invoiceSettings.has_enabled_extended_tax_breakdown"></ad-toggle-button>
					</fieldset>

					<div class="actions float">
						<button type="button" id="cancel" class="button blank" ng-click="goBackToPreviousState()"translate>
							CANCEL
						</button>
						<button type="button" id="save" class="button green" ng-click="saveClick()"translate>
							SAVE_CHANGES
						</button>
					</div>
				</form>
			</section>
		</section>
	</div>
</section>