<!-- navbar -->
<div class="container-fluid padding-0">
    <div class="row header-bar">
        <img alt="" class="logo-image" src="{{hotelLogo}}" />
    </div>
</div>
<!-- main section starts here -->
<div class="container">
    <!-- request text -->
    <div class="row" ng-show="isPosting && !netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="request-text">Your request is being processed. This may take a few seconds..... please wait!</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <!-- error message -->
    <div class="row" ng-show="netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="error-text">Our apologies, something went wrong, please complete your check-in at our front desk. You can also call the hotel at <a href="tel: {{hotelPhone}}" class="phone-text">{{hotelPhone}}.</a></p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <!-- main content -->
    <div class="row" ng-hide="isPosting || netWorkError">
        <div class="col-md-1"></div>
        <!-- left side -->
        <div class="col-md-4 top-spacing">
            <p class="main-text final-text">You're checked in!</p>
            <p class="sub-text">Reservation #:{{confirmationNumber}}</p>
            <p class="sub-text">Room {{responseData.room_no}}</p>
        </div>
        <div class="horizontal-line-sep-mobile"></div>
        <!-- right side -->
        <div class="col-md-2">
            <div class="vertical-line">&nbsp;</div>
        </div>
        <div class="col-md-4 top-spacing sm-no-top-spacing">
            <div class="qr-code-info">
                <ol>
                    <li class="sub-main-text">Scan the QR code at the Lobby Kiosk located in upper lobby near Reception.</li>
                    <li class="sub-main-text">The kiosk will dispense your key.</li>
                </ol>
            </div>
            <img src="data:image/png;base64, {{image|| responseData.key_info}}" width="180" height="180" alt="">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>