
<div class="content" id="login" ng-hide="data.showDebugOptions">
	<div ng-show="hasLoader" id="loading"><div id="loading-spinner" ></div></div>
	<img alt="" class="logo" src="/assets/images/logo.png" />

	<span class="notice error" ng-show="errorMessage!=''" >
		<ul>
			<li ng-repeat="message in errorMessage">
				{{message}}
			</li>
		</ul>
	</span>

	<span class="notice success" ng-show="successMessage!=''" >
		<ul>
			<li>
				{{successMessage}}
			</li>
		</ul>
	</span>

	<form accept-charset="UTF-8" ng-submit="submit()" autocomplete="off" class="form" id="login-form" method="post" name="login-form" novalidate>
		<input name="utf8" type="hidden" value="" />
		<input name="authenticity_token" type="hidden" value="" />

		<div class="entry">
			<label for="email">E-mail</label>
			<input id="email" name="email" ng-model="data.email" placeholder="Enter your e-mail address" type="email" value="" />
		</div>
		<div class="entry">
			<label for="password">Password </label>
			<input autocomplete="off" id="password" ng-model="data.password" name="password" placeholder="Enter your password" type="password" value="{{data.password}}" />
		</div>
		<div class="action">
            <button type="submit" class="button green">Login</button>
            <a ng-click="forgotPassword()">Forgot Password?</a>
        </div>
	</form>

	<div class="support">
		For questions please contact your hotel administrator or visit the StayNTouch <a href="#" ng-click="onClickSupportLink()">Support Portal</a> for more information.
	</div>
	<div class="support">
		<br/>
		<a ng-click="onSystemStatusClick()" href="#">System Status</a> 
	</div>
	<div class="support">
		Rover Version {{data.roverVersion}}
	</div>
	
</div>
<button style="opacity: 0;bottom: 0; left:0; position: fixed;" ng-click="loadURL()">Load URL</button>
