
<form name="contact-info" ng-show="current == 'guest-contact'" class="card-content form"  aria-labelledby="guest-contact" role="tabpanel" aria-expanded="true" aria-hidden="false" ng-controller="RVContactInfoController">
	<div ng-iscroll="contact_info"  ng-iscroll-delay="1000" style="position: absolute; top:0px; bottom:0px; left:0px; width: 100%;" ng-iscroll-form='true'>
				<div class="wrapper float">
					<div class="entry full-width">
						<div id="notification-message-guest"></div>
					</div>
					<div class="holder float left">
						
						<ad-textbox value="guestCardData.contactInfo.title"   label = "Title" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.first_name"   label = "First name" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.last_name"   label = "Last Name" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.works_at"   label = "Works at" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.job_title"   label = "Job title" ></ad-textbox>

						<div class="entry has-datepicker">
							<label for="birthday"> Birthday </label>
							<input type="text" ng-model="guestCardData.contactInfo.birthday" readonly="" name="guest-birthday" maxlength="8" id="guest-birthday" class="hasDatepicker">
							<button type="button" class="ui-datepicker-trigger">
								...
							</button>
						</div>
						<div class="entry radio-check full-width">
							<label for="opt-in">Email Opt In</label>
							<label class="checkbox"><span class="icon-form icon-checkbox"></span>
								<input type="checkbox" value="opt-in" name="opt-in" id="opt-in">
								Promotions &amp; News Email Opt In </label>
						</div>
					</div>
					<div class="holder float right">
						<ad-textbox value="guestCardData.contactInfo.email_address"   label = "E-mail address" styleclass="full-width"></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.address"   label = "Address" styleclass="full-width"></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.city"   label = "City" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.postal_code"   label = "Postal code" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.state"   label = "State" ></ad-textbox>

						<div class="entry">
							<label for="country">Country</label>
							<div form="contact-info" class="select">
								<select ng-options="country[0] for country  in countriesList" ng-model="contactInfo.country">
								<option style="display:none" value=""></option>
							</select>
							</div>
						</div>
						<ad-textbox value="guestCardData.contactInfo.phone"   label = "Phone" ></ad-textbox>
						<ad-textbox value="guestCardData.contactInfo.mobile"   label = "Mobile" ></ad-textbox>
						<div class="entry">
							<input type="hidden" value="" name="reservation_id" id="reservation_id">
						</div>
					</div>
				</div>

				</div>
			</form>