
<div role="complementary" id="guest-card"   ng-controller="guestCardController" style="height: {{guestCardHeight}}px;" ng-class="{'open': guestCardVisible}" ui-jq="resizable" ui-options="resizableOptions" ng-click="guestCardClick($event)"  >

	<div id="card-wrapper">
		<!-- Guest Card Header -->
		<header class="float" id="guest-card-header">
			<figure class="guest-image">
				<!-- TODO: use actual image -->
				<img alt="" id="guest-image" src="https://pms-dev.stayntouch.com/assets/avatar-trans.png">
			</figure>
			<form action="" id="change-name" method="post" name="change-name" class="ng-pristine ng-valid">
				<div class="holder">
					<div class="entry">
						<input type="text" class="masked-input h1" data-size="{{guestCardData.contactInfo.first_name.length}}"  ng-model="guestCardData.contactInfo.first_name" ng-blur="updateContactInfo()" auto-grow-field>
						
						<input type="text" class="masked-input h1" data-size="{{guestCardData.contactInfo.last_name.length}}" ng-model="guestCardData.contactInfo.last_name" ng-blur="updateContactInfo()" auto-grow-field>
						
					</div>
					<strong class="status"> </strong>
					<!-- The VIP button is hidden since the VIP turn on/off option is not available now. -->
					<div class="switch-button hidden disabled">
						<input type="checkbox" disabled="" id="vip" name="vip" value="0">
						<label class="data-off"> <span class="switch-icon vip">VIP</span> <span class="value">Off</span> </label>
						<label class="data-on"> <span class="value">On</span> <span class="switch-icon vip">VIP</span> </label>
					</div>
				</div>
				<div class="holder data">
					<input type="text" data-size="{{guestCardData.contactInfo.city.length}}" class="masked-input icons icon-gc-location" placeholder="" ng-model="guestCardData.contactInfo.city" ng-blur="updateContactInfo()"auto-grow-field>
					<input type="text" data-size="{{guestCardData.contactInfo.state.length}}" class="masked-input" ng-model="guestCardData.contactInfo.state" ng-blur="updateContactInfo()" auto-grow-field>
					<input type="tel" data-size="{{guestCardData.contactInfo.phone.length}}" class="masked-input icons icon-gc-phone" ng-model="guestCardData.contactInfo.phone" ng-blur="updateContactInfo()" auto-grow-field>
					<input type="email" data-size="{{guestCardData.contactInfo.email_address.length}}" class="masked-input icons icon-gc-email" ng-model="guestCardData.contactInfo.email_address" ng-blur="updateContactInfo()"auto-grow-field>
				</div>
			</form>
		</header>
		<!-- Guest Card Content -->
		<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="guest-card-content">
			<!-- Guest Card tabs navigation -->
			<ul role="tablist" class="float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="guest-card-tabs-nav">
				<li aria-selected="true" aria-labelledby="guest-contact" aria-controls="contact-info" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active" ng-class="{'ui-tabs-active': current == 'guest-contact'}" ng-click="guestCardTabSwitch('guest-contact')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor ng-binding" id="guest-contact">Contact Information </a>
				</li>
				<li aria-selected="false" aria-labelledby="guest-like" aria-controls="likes" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-like'}" ng-click="guestCardTabSwitch('guest-like')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-like">Likes</a>
				</li>
				<li aria-selected="false" aria-labelledby="guest-credit" aria-controls="cc-payment" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-credit'}" ng-click="guestCardTabSwitch('guest-credit')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-credit">Credit Cards &amp; Payment</a>
				</li>
				<li aria-selected="false" aria-labelledby="guest-loyalty" aria-controls="loyalty" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-loyalty'}" ng-click="guestCardTabSwitch('guest-loyalty')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-loyalty">Loyalty</a>
				</li>
			</ul>
			<!-- Guest Card Tab 1 contact info-->
			<span ng-include="'/assets/partials/guestCard/guestCardContactInfo.html'"></span> 
			<!-- Guest Card Tab 2 likes -->
			<span ng-include="'/assets/partials/guestCard/guestCardLikes.html'"></span> 
			<!-- Guest Card Tab 3 payment -->
			<span ng-include="'/assets/partials/guestCard/guestCardPayment.html'"></span>
			<!-- Guest Card Tab 4 loyalty-->
			<span ng-include="'/assets/partials/guestCard/guestCardLoyalty.html'"></span>
		</div>
	</div>
	
</div>