<div role="complementary" id="guest-card" class="ui-resizable"  ng-controller="guestCardController" style="height: {{guestCardHeight}}px;" ng-class="{'open': guestCardHeight ===550}">
	<div id="card-wrapper" class="ng-scope">
		<!-- Guest Card Header -->
		<header class="float" id="guest-card-header">
			<figure class="guest-image">
				<!-- TODO: use actual image -->
				<img alt="" id="guest-image" src="https://pms-dev.stayntouch.com/assets/avatar-trans.png">
			</figure>
			<form action="" id="change-name" method="post" name="change-name" class="ng-pristine ng-valid">
				<div class="holder">
					<div class="entry">
						<input type="text" class="masked-input h1" placeholder=""  ng-model="guestCardData.contactInfo.first_name">
						
						<input type="text" class="masked-input h1" placeholder="" value="Achari" ng-model="guestCardData.contactInfo.last_name">
						
					</div>
					<strong class="status"> </strong>
					<!-- The VIP button is hidden since the VIP turn on/off option is not available now. -->
					<div class="switch-button hidden disabled">
						<input type="checkbox" disabled="" id="vip" name="vip" value="0">
						<label class="data-off"> <span class="switch-icon vip">VIP</span> <span class="value">Off</span> </label>
						<label class="data-on"> <span class="value">On</span> <span class="switch-icon vip">VIP</span> </label>
					</div>
				</div>
				<div class="holder data">
					<input type="text" data-size="0" class="masked-input icons icon-gc-location" placeholder="" ng-model="guestCardData.contactInfo.city">
					<input type="text" data-size="0" class="masked-input" ng-model="guestCardData.contactInfo.state">
					<input type="tel" data-size="0" class="masked-input icons icon-gc-phone" ng-model="guestCardData.contactInfo.phone">
					<input type="email" data-size="0" class="masked-input icons icon-gc-email" ng-model="guestCardData.contactInfo.email_address">
				</div>
			</form>
		</header>
		<!-- Guest Card Content -->
		<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="guest-card-content">
			<!-- Guest Card tabs navigation -->
			<ul role="tablist" class="float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id="guest-card-tabs-nav">
				<li aria-selected="true" aria-labelledby="guest-contact" aria-controls="contact-info" tabindex="0" role="tab" class="ui-state-default ui-corner-top ui-tabs-active" ng-class="{'ui-tabs-active': current == 'guest-contact'}" ng-click="guestCardTabSwitch('guest-contact')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor ng-binding" id="guest-contact">Contact Information </a>
				</li>
				<li aria-selected="false" aria-labelledby="guest-like" aria-controls="likes" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-like'}" ng-click="guestCardTabSwitch('guest-like')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-like">Likes</a>
				</li>
				<li aria-selected="false" aria-labelledby="guest-credit" aria-controls="cc-payment" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-credit'}" ng-click="guestCardTabSwitch('guest-credit')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-credit">Credit Cards &amp; Payment</a>
				</li>
				<li aria-selected="false" aria-labelledby="guest-loyalty" aria-controls="loyalty" tabindex="-1" role="tab" class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': current == 'guest-loyalty'}" ng-click="guestCardTabSwitch('guest-loyalty')">
					<a tabindex="-1" role="presentation" class="ui-tabs-anchor" id="guest-loyalty">Loyalty</a>
				</li>
			</ul>
			<!-- Guest Card Tab 1 -->
			<span ng-include="'/assets/partials/guestCard/contactInfo.html'"></span> 

			<!-- Guest Card Tab 2 -->
			<form aria-expanded="false" role="tabpanel" aria-labelledby="guest-like" action="" class="card-content form scrollable ui-tabs-panel ui-widget-content ui-corner-bottom current ng-pristine ng-valid ng-hide" id="likes" method="post" ng-show="current == 'guest-like'" name="likes">
				<div data-view="LikesView" id="guest_likes">
					<div class="wrapper float">
						<div class="entry full-width">
							<div id="notification-message-guest"></div>
						</div>
						<div class="holder left">
							<strong class="h3">Preferences</strong>
							<div class="entry full-width">
								<label for="newspaper">Newspaper</label>
								<select id="newspaper" name="newspaper">
									<option value=""></option>
									30
									<option value="Frankfurter Allgemeine"> Frankfurter Allgemeine </option>
									31
									<option value="The New York Times"> The New York Times </option>
									32
									<option value="USA Today"> USA Today </option>
									33
									<option value="Sydney Morning Herald"> Sydney Morning Herald </option>
									42
									<option value="TIMES OF INDIA"> TIMES OF INDIA </option>
									43
									<option value="BOSTON HERALD"> BOSTON HERALD </option>
									44
									<option value="SYDNEY MORNING HERALD"> SYDNEY MORNING HERALD </option>
									72
									<option value="The Sun"> The Sun </option>
									81
									<option value="BBC"> BBC </option>
									84
									<option value="CROATIAN TIMES"> CROATIAN TIMES </option>
									85
									<option value="SUEDDEUTSCHE ZEITUNG"> SUEDDEUTSCHE ZEITUNG </option>
									86
									<option value="USA TODAY"> USA TODAY </option>
								</select>
							</div>
							<div class="entry full-width">
								<label for="roomtype">Room type</label>
								<select id="roomtype" name="roomtype">
									<option value=""></option>
									<option value="Queen"> Queen </option>
									<option value="King"> King </option>
									<option value="Test1"> Test1 </option>
									<option value="Test 2"> Test 2 </option>
									<option value="Test 3"> Test 3 </option>
									<option value="Test 4"> Test 4 </option>
									<option value="Test 5"> Test 5 </option>
									<option value="Test 6"> Test 6 </option>
									<option value="Test 7"> Test 7 </option>
									<option value="Test 8"> Test 8 </option>
									<option value="Test 9"> Test 9 </option>
									<option value="Test 10"> Test 10 </option>
									<option value="ss"> ss </option>
								</select>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> FLOOR </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="FLOOR" id="pref_0" name="pref_0" prefname="FLOOR" value="HIGH FLOOR">
									HIGH FLOOR </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="FLOOR" id="pref_1" name="pref_0" prefname="FLOOR" value="LOW FLOOR">
									LOW FLOOR </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> SMOKING </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="SMOKING" id="pref_2" name="pref_1" prefname="SMOKING" value="SMOKING">
									SMOKING </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="SMOKING" id="pref_3" name="pref_1" prefname="SMOKING" value="NON-SMOKING">
									NON-SMOKING </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> ELEVATOR </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="ELEVATOR" id="pref_4" name="pref_2" prefname="ELEVATOR" value="NEAR ELEVATOR">
									NEAR ELEVATOR </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="ELEVATOR" id="pref_5" name="pref_2" prefname="ELEVATOR" value="AWAY FROM ELEVATOR">
									AWAY FROM ELEVATOR </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> Test </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Test" id="pref_6" name="pref_3" prefname="Test" value="a">
									a </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Test" id="pref_7" name="pref_3" prefname="Test" value="b">
									b </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> Building </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Building" id="pref_8" name="pref_4" prefname="Building" value="Tower">
									Tower </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Building" id="pref_9" name="pref_4" prefname="Building" value="Down">
									Down </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> New like </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="New like" id="pref_10" name="pref_5" prefname="New like" value="1">
									1 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="New like" id="pref_11" name="pref_5" prefname="New like" value="2">
									2 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="New like" id="pref_12" name="pref_5" prefname="New like" value="3">
									3 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="New like" id="pref_13" name="pref_5" prefname="New like" value="4">
									4 </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> test12389787989798797987979 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="test12389787989798797987979" id="pref_14" name="pref_6" prefname="test12389787989798797987979" value="1">
									1 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="test12389787989798797987979" id="pref_15" name="pref_6" prefname="test12389787989798797987979" value="2">
									2 </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> aaaaa </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="aaaaa" id="pref_16" name="pref_7" prefname="aaaaa" value="asdasd">
									asdasd </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="aaaaa" id="pref_17" name="pref_7" prefname="aaaaa" value="asd">
									asd </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="aaaaa" id="pref_18" name="pref_7" prefname="aaaaa" value="342">
									342 </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> Jos Likes </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Jos Likes" id="pref_19" name="pref_8" prefname="Jos Likes" value="Beer">
									Beer </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Jos Likes" id="pref_20" name="pref_8" prefname="Jos Likes" value="Craftbeer">
									Craftbeer </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> Category 3 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Category 3" id="pref_21" name="pref_9" prefname="Category 3" value="opt 1">
									opt 1 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Category 3" id="pref_22" name="pref_9" prefname="Category 3" value="opt 2">
									opt 2 </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> Craftbeer Preference </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Craftbeer Preference" id="pref_23" name="pref_10" prefname="Craftbeer Preference" value="IPA">
									IPA </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Craftbeer Preference" id="pref_24" name="pref_10" prefname="Craftbeer Preference" value="Tripple">
									Tripple </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Craftbeer Preference" id="pref_25" name="pref_10" prefname="Craftbeer Preference" value="Dubble">
									Dubble </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> 3 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="3" id="pref_26" name="pref_11" prefname="3" value="4">
									4 </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> Test 200 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Test 200" id="pref_27" name="pref_12" prefname="Test 200" value="opt1">
									opt1 </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="Test 200" id="pref_28" name="pref_12" prefname="Test 200" value="opt2">
									opt2 </label>
							</div>
							<div class="entry radio-check float">
								<label for="floor"> testerab </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="testerab" id="pref_29" name="pref_13" prefname="testerab" value="ab">
									ab </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" data-group="testerab" id="pref_30" name="pref_13" prefname="testerab" value="cd">
									cd </label>
							</div>
						</div>
						<input type="hidden" id="totalpreference" value="14">
						<div class="holder right">
							<strong class="h3">Room Features</strong>
							<!-- To handle custom div starting and closing using HTML -->
							<div class="entry radio-check float">
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_0" name="features" value="POOL VIEW">
									POOL VIEW </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_1" name="features" value="BALCONY">
									BALCONY </label>
								<!-- To handle custom div starting and closing using HTML -->
							</div>
							<!-- To handle custom div starting and closing using HTML -->
							<div class="entry radio-check float">
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_2" name="features" value="CONNECTING ROOM">
									CONNECTING ROOM </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_3" name="features" value="SPA">
									SPA </label>
								<!-- To handle custom div starting and closing using HTML -->
							</div>
							<!-- To handle custom div starting and closing using HTML -->
							<div class="entry radio-check float">
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_4" name="features" value="TERRACE">
									TERRACE </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_5" name="features" value="ACCESSIBLE">
									ACCESSIBLE </label>
								<!-- To handle custom div starting and closing using HTML -->
							</div>
							<!-- To handle custom div starting and closing using HTML -->
							<div class="entry radio-check float">
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_6" name="features" value="NEAR ELEVATOR">
									NEAR ELEVATOR </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_7" name="features" value="QUIET ROOM">
									QUIET ROOM </label>
								<!-- To handle custom div starting and closing using HTML -->
							</div>
							<!-- To handle custom div starting and closing using HTML -->
							<div class="entry radio-check float">
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_8" name="features" value="JACUZZI">
									JACUZZI </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_9" name="features" value="KITCHENETTE">
									KITCHENETTE </label>
								<!-- To handle custom div starting and closing using HTML -->
							</div>
							<!-- To handle custom div starting and closing using HTML -->
							<div class="entry radio-check float">
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_10" name="features" value="LARGE ROOM">
									LARGE ROOM </label>
								<label class="checkbox"> <span class="icon-form icon-checkbox"></span>
									<input type="checkbox" id="feat_11" name="features" value="HIGH FLOOR">
									HIGH FLOOR </label>
								<!-- To handle custom div starting and closing using HTML -->
							</div>
						</div>
						<input type="hidden" id="totalfeatures" value="12">
					</div>
				</div>

			</form>
			<!-- = render :partial => "shared/like" -->
			<!-- Guest Card Tab 3 -->
			<form aria-expanded="false" role="tabpanel" aria-labelledby="guest-credit" action="" class="card-content form scrollable ui-tabs-panel ui-widget-content ui-corner-bottom current ng-pristine ng-valid ng-hide" id="cc-payment" method="post" ng-show="current == 'guest-credit'" name="cc-payment">
				<div data-view="GuestPaymentView" id="guest_payment">
					<div class="wrapper float" data-payment-count="1" id="payment_tab">
						<div class="entry full-width">
							<div id="notification-message-guest"></div>
						</div>
						<!-- Credit cards on file -->
						<a class="active-item credit-card-option-row1509 float item-payment primary" credit_id="1509" id="credit_row1509">
						<figure class="card-logo">
							<img alt="" src="/assets/mc.png">
						</figure> <span class="number"> Ending with <span class="value number"> 0008 </span> </span> <span class="date"> Date <span class="value date"> 03/25 </span> </span> <span class="name"> Name <span class="value name"> Revathi A5 </span> </span> <span class="primary" id="primary_credit"> <span class="value primary">Primary</span> </span> </a>
						<a class="add-new-button" id="add_new_payment">+ New Payment Method</a>
					</div>
				</div>
			</form>
			<!-- Guest Card Tab 4 -->
			<form aria-expanded="false" role="tabpanel" aria-labelledby="guest-loyalty" action="" class="card-content form scrollable ui-tabs-panel ui-widget-content ui-corner-bottom current ng-pristine ng-valid ng-hide" id="loyalty" method="post" ng-show="current == 'guest-loyalty'" name="loyalty">
				<div data-view="GuestcardLoyaltyView" id="guest_loyalty">
					<div class="wrapper float" id="loyalty-tab">
						<!-- Frequent Flyer Program -->
						<div class="holder left">
							<strong class="h3">Frequent Flyer Program</strong>
							<div id="loyalty-ffp"></div>
							<a class="add-new-button" data-action="new-ffp" id="add-new-ffp">+ New Frequent Flyer Program</a>
						</div>
						<!-- Hotel Loyalty Program -->
						<div class="holder right">
							<strong class="h3">Hotel Loyalty Program</strong>
							<div id="loyalty-hlp"></div>
							<a class="add-new-button" data-action="new-hlp" id="add-new-hlp">+ New Hotel Loyalty Program</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-click="guestCardToggle()" style="z-index: 90;" class="ui-resizable-handle ui-resizable-s"></div>
</div>