
<form id="guestcard-contact-info" ng-show="current == 'guest-contact'" class="card-content form"  aria-labelledby="guest-contact" role="tabpanel" aria-expanded="true" aria-hidden="false" ng-controller="RVContactInfoController" ng-blur="saveContactInfo()">
	<div ng-iscroll="contact_info"  ng-iscroll-delay="1000" style="position: absolute; top:0px; bottom:0px; left:0px; width: 100%;" ng-iscroll-form='true'>
				<div class="wrapper float">
					<div class="entry full-width">
						<div id="notification-message-guest"></div>
					</div>
					<div class="holder float left">
						
						<rv-textbox value="guestCardData.contactInfo.title"   label = "Title" ></rv-textbox>
						<div class="entry"></div>
						<rv-textbox value="guestCardData.contactInfo.first_name"   label = "First name" ></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.last_name"   label = "Last Name" ></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.works_at"   label = "Works at" ></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.job_title"   label = "Job title" ></rv-textbox>

						<div class="entry has-datepicker">
							<label for="birthday"> Birthday </label>
							<input type="text" ng-model="guestCardData.contactInfo.birthday" readonly="" name="guest-birthday" maxlength="8" id="guest-birthday" class="hasDatepicker"ng-click="popupCalendar()" >
							<button type="button" class="ui-datepicker-trigger" ng-click="popupCalendar()">
								...
							</button>
						</div>
						<div class="entry radio-check full-width">
							<label for="opt-in">Email Opt In</label>
							<label id="guestcard_email_checkbox" class="checkbox"ng-class="{'checked': guestCardData.contactInfo.is_opted_promotion_email}"><span class="icon-form icon-checkbox" ng-class="{'checked': guestCardData.contactInfo.is_opted_promotion_email}"></span>
								<input type="checkbox"  name="opt-in" id="opt-in" ng-model="guestCardData.contactInfo.is_opted_promotion_email">
								<span class="guest_card_promotions">Promotions &amp; News Email Opt In </span> </label>
						</div>
					</div>
					<div class="holder float right">
						<rv-textbox value="guestCardData.contactInfo.email_address"   label = "E-mail address" styleclass="full-width"></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.address"   label = "Address" styleclass="full-width"></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.city"   label = "City" ></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.postal_code"   label = "Postal code" ></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.state"   label = "State" ></rv-textbox>

						<div class="entry">
							<label for="country">Country</label>
							<div form="contact-info" class="select">
								<select ng-options="country[1] as country[0] for country  in countriesList" ng-model="guestCardData.contactInfo.country">
								<option style="display:none" value=""></option>
							</select>
							</div>
						</div>
						<rv-textbox value="guestCardData.contactInfo.phone"   label = "Phone" ></rv-textbox>
						<rv-textbox value="guestCardData.contactInfo.mobile"   label = "Mobile" ></rv-textbox>
						<div class="entry">
							<input type="hidden" value="" name="reservation_id" id="reservation_id">
						</div>
					</div>
				</div>

				</div>
			</form>