<form ng-controller="RVGuestCardActivityLogController" method="post" name="cc-activity-log" class="form card-tab inner-header activity-log">

     <div class="tab-header with-filters hidden">
        <div class="search-form has-dates">
            <div class="entry">
                <div class="select">
                    <select id="company-module">
                        <option value="all" selected="">All Modules</option>
                        <option value="{module}">{Module}</option>
                        ... repeat for modules
                    </select>
                </div>
            </div>
            <div class="entry dates">
                <div class="entry-data has-datepicker">
                    <label for="activity-log-date-from">From</label>
                    <button id="activity-log-date-from-clear" class="clear-query">
                        <span class="icons icon-clear-search">Clear query</span>
                    </button>
                    <input name="activity-log-date-from" id="activity-log-date-from" type="text" class="datepicker" value="{date-from}" readonly="">
                </div>
                <div class="entry-data has-datepicker">
                    <label for="activity-log-date-to">To</label>
                    <button id="activity-log-date-to-clear" class="clear-query">
                        <span class="icons icon-clear-search">Clear query</span>
                    </button>
                    <input name="activity-log-date-to" id="activity-log-date-to" type="text" class="datepicker" value="{date-to}" readonly="">
                </div>
            </div>
            <div class="entry">
                <div class="select">
                    <select id="activity-log-activities">
                        <option value="all" selected="">All Activities</option>
                        <option value="{activity}">{Activity}</option>
                        ... repeat for all actvities
                    </select>
                </div>
            </div>
            <div class="entry search">
                <button class="clear-query">
                    <span class="icons icon-clear-search">Clear query</span>
                </button>
                <button type="submit" name="submit" class="icons icon-search">Search</button>
                <input name="activity-log-search" class="query" placeholder="Search by Details" type="search" autocomplete="off">
            </div> 
           
            <div class="entry">
                <div class="multi-select active">
                    <span class="value">All Users</span>
                </div>
                <div class="multi-select-options">
                    <div class="search">
                        <button class="clear-query">
                            <span class="icons icon-clear-search">Clear query</span>
                        </button>
                        <button type="submit" name="submit" class="icons icon-search">Search</button>
                        <input class="query" placeholder="Search User" autocomplete="off" type="search">
                    </div>
                    <div class="scrollable">
                        <div class="wrapper">
                            <label class="checkbox inline"><span class="icon-form icon-checkbox"></span>
                                <input value="{user}" type="radio">
                                <span class="text">{User}</span>
                            </label>
                            ... repeat for each user
                        </div>
                    </div>
                </div> 
            </div>
            <button type="button" class="button green">Filter</button>
        </div> 
    </div>

    <!-- If there are open bills: -->
    <div class="tab-details scrollable" ng-iscroll="rvGuestCardActivityLogScroll" ng-iscroll-delay="100" ng-class="{ 'with-pagination': showPagination() }">
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <th>
                            <span ng-click="sortByAction('USERNAME')" class="sort" ng-class="{'sorting-asc':activityLogFilter.user == 'asc','sorting-desc':activityLogFilter.user == 'desc'}">User</span>
                        </th> 
                        <th>
                            <span ng-click="sortByAction('DATE')" class="sort" ng-class="{'sorting-asc':activityLogFilter.date == 'asc','sorting-desc':activityLogFilter.date == 'desc'}">Date &amp; Time</span>
                        </th>
                        <th>
                            <span ng-click="sortByAction('ACTION')" class="sort" ng-class="{'sorting-asc':activityLogFilter.action == 'asc','sorting-desc':activityLogFilter.action == 'desc'}">Action</span>
                        </th>
                        <th>
                            <span>Details</span>
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in activityLogObj.response.results">
                        <td class="name">
                            {{item.user_name}}
                            <span class="property">{{item.property}}</span>
                        </td>
                        <td class="date">{{item.date | date: dateFormat }}, {{item.time}}</td>
                        <td class="action">{{item.action}}</td>
                        <td class="details">
                            <span ng-repeat="details in item.details">
                                <span class="old" ng-show="isOldValue(details.old_value)">{{ details.key }}
                                    <strong>{{ details.old_value }}</strong>
                                </span>
                                {{details.key}}
                                <span>
                                    <strong>{{details.new_value}}</strong>
                                </span>                        
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <rv-pagination ng-show="showPagination()" page-options="activityLogPagination" page-data="activityLogObj.response"></rv-pagination>

</form>