 <form method="post" ng-controller="RVGuestCardLoyaltyController" id="gc-loyalty" name="loyalty" class="form card-tab scrollable" ng-show="current == 'guest-loyalty'">
     <div id="loyaltyList" ng-iscroll='loyaltyList' ng-iscroll-delay='50' class="scroll-guest-tab">
        <div class="wrapper">
            <span class="notice">Set Primary Hotel Loyalty Program</span>
            <!-- Frequent Flyer Program -->
            <div class="holder left">
                <strong class="h3">Frequent Flyer Program</strong>
                <a class="active-item item-loyalty open-modal float" ng-repeat="freaquentLoyalty in loyaltyData.userMemberships.frequentFlyerProgram">
                   <span class="value code">{{freaquentLoyalty.membership_type}}</span>
                    <span class="value number">{{freaquentLoyalty.membership_card_number}}</span>
                    <span class="value name">{{freaquentLoyalty.membership_level}}</span>
                </a>
          
                <a ng-click="addNewFreaquentLoyality()" class="open-modal add-new-button">+ New Frequent Flyer Program</a>
            </div>

            <!-- Hotel Loyalty Program -->
            <div class="holder right">
                <strong class="h3">Hotel Loyalty Program</strong>
                <a class="active-item item-loyalty open-modal float" ng-repeat="hotelLoyalty in loyaltyData.userMemberships.hotelLoyaltyProgram">
                    <span class="value code">{{hotelLoyalty.membership_type}}</span>
                    <span class="value number">{{hotelLoyalty.membership_card_number}}</span>
                    <span class="value name">{{hotelLoyalty.membership_level}}</span>
                </a>
                <a ng-click="addNewHotelLoyality()" class="open-modal add-new-button">+ New Hotel Loyalty Program</a>
            </div>
        </div>
      </div>
   </form>