/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/

@iconAdminMenu: 		url("cssimg/admin/admin-navigation.png");
@iconAdminMenu2x: 		url("cssimg/admin/admin-navigation@2x.png");

@icons: 				url("cssimg/admin/admin-icons.png");
@icons2x: 				url("cssimg/admin/admin-icons@2x.png");

@iconsApp: 				url("cssimg/app/app-icons.png");
@iconsApp2x:			url("cssimg/app/app-icons@2x.png");

@themeTabasco: 			hsl(9, 80%, 41%);
@themeMeteor:			hsl(35, 80%, 41%);
@themeSahara: 			hsl(51, 80%, 41%);
@themeLeaf: 			hsl(94, 80%, 35%);
@themeJava:				hsl(166, 80%, 41%);
@themeChill: 			hsl(196, 80%, 41%);
@themeDenim: 			hsl(219, 80%, 41%);
@themeIndigo: 			hsl(260, 80%, 41%);
@themeSeance: 			hsl(289, 80%, 35%);
@themeCerise: 			hsl(320, 80%, 41%);

/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/