/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

/* jQuery UI datepicker     ==============================*/
    .has-datepicker {
        &.entry {
            .ui-datepicker-trigger { top: 24px; }
        }
    }

/* jQuery UI sortable       ==============================*/
    .ui-sortable-helper:not(.ui-draggable-dragging) {
        position: relative;
        line-height: 40px;
        padding: 0 10px;
        margin-bottom: 10px;
        cursor: pointer;
        .clickable;
        .no-transition;

        .icon-handle {
            position: absolute;
            top: 12px;
            right: 12px;
            .square(16px);
            .show;
        }                   
    }

/* jScrollPane              ==============================*/
    .jspContainer{
        overflow: hidden;
        position: relative;

        .jspPane {
            position: absolute;
            width: 100% !important;
        }

        .jspVerticalBar {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 5px;
            height: 100%;
            z-index: 999;
        }

        .jspHorizontalBar,
        .jspCap,
        .jspArrow,
        .jspCorner { .hide; }

        .jspTrack {
            height: 100%;
            position: relative;

            .jspDrag {
                height: 100%;
                position: relative;
                top: 0;
                left: 0;
                cursor: pointer;
                .gradient (@logoGradientStart, @logoGradientEnd);
                #border-radius > .rounded(5px);
            }
        }
    }

/* tablesorter              ==============================*/
    .sorting,
    .sorting_asc,
    .sorting_desc {
        cursor: pointer;
        padding-left: 30px !important;
        background-image: @icons;
        background-repeat: no-repeat;

        &.sorting { background-position: 10px -185px; }
        &.sorting_asc { background-position: 10px -235px; }
        &.sorting_desc { background-position: 10px -285px; }
    }

/* Modal window             ==============================*/
    #modal,
    .inline-modal {
        .modal-content {

            /* CMS content ***/
            &.cms-content {
                width: 420px;

                .notice {
                    font-size: 14px;
                }

                .cms-tree {
                    max-height: 320px;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;

                    &::-webkit-scrollbar { 
                        margin-right: 5px;
                        .square(5px);
                    }
                    &::-webkit-scrollbar-track { background: transparent; }
                    &::-webkit-scrollbar-thumb {
                        background: @logoGradientStart;
                        #border-radius > .rounded(3px);
                    }
                    &::-webkit-scrollbar-thumb:window-inactive { background: transparent; }

                    li {
                
                        .sort {
                            cursor: pointer;
                            height: 40px;
                            padding: 0 10px;

                            .cms-name { 
                                font-size: 16px; 
                                font-weight: 400;
                            }

                            .icon-added {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                width: 20px;
                                .square(20px);
                                .hide-text;
                                .show;
                            }
                        }

                        &.selected {
                            .sort {
                                .cms-name { font-weight: 600; }
                            }
                        }

                        &.add {
                            .add-new-button { 
                                padding: 0 10px;
                                line-height: 40px;
                                .show;
                            }
                        }
                    }

                    &.boxes {
                        padding: 10px;
                        background: rgba(0,0,0,.1);
                        .box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
                        #border-radius > .rounded();

                        li {

                            .sort {
                                cursor: default;

                                .cms-name { font-weight: 600; }

                                .cms-type {
                                    position: absolute;
                                    top: 0;
                                    right: 10px;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    text-align: right;
                                }
                            }
                            

                            &:last-child { margin-bottom: 10px; }
                        }

                        &::-webkit-scrollbar-thumb { background: rgba(0,0,0,.1); }
                    }
                }

                .actions { margin-top: 21px; }
            }

            /* External Interface Refresh Date Picker */
            &.external-interface-dates{
                width: 830px;
                .actions{
                    text-align: center;
                    button{
                        width: auto;
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 0 20px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }

/* Autocomplete             ==============================*/
    .autocomplete-results {
        position: absolute;
        width: 100%;
        z-index: 999;

        .scrollable {
            overflow: hidden;
            max-height: 180px;
            width: 100%;
            #border-radius > .bottom();
            .box-shadow(0 2px 3px rgba(0,0,0,.2));
        }
      
        .wrapper { 
            padding: 10px;
            background: @grey1;
        }

        li {
            font-weight: 600;
            cursor: pointer;

            &:not(:last-child) { border-bottom: 1px solid rgba(0,0,0,.1); }
        }

        .iScrollVerticalScrollbar {
            position: absolute;
            width: 4px;
            top: 5px;
            right: 5px;
            bottom: 5px;
            z-index: 99;
            
            .iScrollIndicator {
                position: absolute;
                width: 100%;
                background: @logoGradientStart;
                #border-radius > .rounded(4px);
            }
        }        
    }

/* jQuery UI autocomplete   ==============================*/
    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        cursor: default;
        z-index: 99999;
        .faux-clickable;
        min-height: 40px;
        max-height: 240px;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        li {
            margin: 0;
            .box-shadow(0 1px 2px rgba(0,0,0,.1));

            a {
                padding: 10px;
                font-size: 18px;
                line-height: 30px;
                font-weight: 600;
                color: @textColor;
                .show;

                .highlight { color: @logoPrimary; }
            }
        }

        &.find-cards {
            width: auto;
            max-width: 420px !important;

            li {
                a {
                    position: relative;
                    padding: 10px 20px 10px 50px;
                    .show;

                    .icons,
                    .group-info,
                    img {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        .square(30px);
                        #border-radius > .rounded();
                    }

                    .icons {
                        .hide-text;

                        &.icon-company { 
                            background-position: 7px -3514px;
                            background-color: @ccard; 
                        }

                        &.icon-travel-agent { 
                            background-position: 6px -3634px;
                            background-color: @tacard; 
                        }

                        &.icon-group,
                        &.icon-group-large { 
                            background-position: 5px -7774px;
                            background-color: @groupcard; 
                        }

                        &.icon-allotment { 
                            background-position: 5px -8433px;
                            background-color: @allotmentcard; 
                        }
                    }

                    .group-info {
                        font-size: 18px;
                        line-height: 30px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-align: center;
                        color: @grey3;
                        width: 30px;
                        background-color: @grey1;
                    }
                }
            }
        }

        &.find-user { width: auto; }
    }

    .ui-helper-hidden-accessible { .hide; }
       
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/