/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* Container				==============================*/
	#content { 
		.content {
			#pixel-to-percent > .width( 1000, 1240 );
		}
	}

/* Admin left side menu		==============================*/
	#tabs-menu {
		#pixel-to-percent > .width( 240, 1240 );
	}

/* Dashboard page 			==============================*/
	.dashboard-items {
		li { 
			#pixel-to-percent > .width( 485, 1010); 
		}

		> li {
			&:nth-child(even) { margin-right: 0; }
		}				
	}

/* Grid table 				==============================*/
	.grid {
		table-layout: auto;
	}

/* Form layouts 				==========================*/
	.form {
		.holder {
			width: 100%;
			float: none;
			clear: both;

			&.left {
				margin: 0 0 40px 0;
			}
		}
	}

/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/