<!-- Content -->
<section id="main" role="main">
    <div id="content">
        <h1>{{'EARLY_AVAIL_HEADER' | translate}}</h1>
        <h3 ng-hide="is_early_prepaid && !reservation_in_early_checkin_window">{{'EARLY_AVAIL_SUB_HEADER' | translate}} {{standardCheckinTime}} </h3>
        <h3 ng-show="is_early_prepaid && !reservation_in_early_checkin_window">{{'EARLY_AVAIL_PURCHASED_REALLY_EARLY' | translate}}</h3>
       
        <div id="message">
            <h2 ng-show="is_early_prepaid && reservation_in_early_checkin_window" class="nocaps">{{'EARLY_AVAIL_PURCHASED' | translate}} </h2>
            <h2 ng-show="!is_early_prepaid && reservation_in_early_checkin_window"  class="nocaps">{{'EARLY_AVAIL_FREE' | translate}} </h2>
            
            <button ng-show="reservation_in_early_checkin_window" type="button" class="button" touch-press='initTermsPage(true)'>{{'CONTINUE_TEXT' |translate}}</button>
            <button ng-show="!reservation_in_early_checkin_window" type="button" class="button" touch-press='goToHome()'>{{'DONE' |translate}}</button>

        </div>
    </div>
</section>