<section id="main" class="centered" role="main" ng-hide='at !== "select-keys-after-checkin"' click-touch='resetTime()'>
        <div id="content">
            <h2 ng-hide="isPickupKeys" class="no-margin">{{'CHKED_IN_SUCCESS_HEADER' |translate}} {{selectedReservation.guest_details[0].first_name}}.</h2>
            <h1 ng-hide="isPickupKeys">{{'CHKED_IN_SUCCESS_MSG' |translate}}</h1>
            <h1 ng-show="isPickupKeys" class="no-margin" >{{selectedReservation.first_name}}.</h2>
            <h1 ng-show="isPickupKeys">{{'PUK_CHKED_IN_MSG' |translate}}</h1>
            <div id="room" ng-show="zestStationData.show_room_number">
                <span class="number">{{selectedReservation.room}}</span>
            </div>
            <div id="keys">
                <h2>{{'HOW_MANY_KEYS' |translate}}</h2>
                <div id="key-options">
                    <button ng-hide="isEmpty('UNO_KEY')" ng-class="{'flex':flexText('UNO_KEY')}" type="button" class="button" touch-press="makeKeys(1)">{{'UNO_KEY' |translate}}</button>
                    <button ng-hide="isEmpty('DOS_KEY')" ng-class="{'flex':flexText('DOS_KEY')}" type="button" class="button" touch-press="makeKeys(2)">{{'DOS_KEY' |translate}}</button>
                </div>
            </div>
            <div id="actions" class="align-left small-text">
                <!--p>Additional Guests:
                    <br />{Add'l Guest 1} <!-- Repeat this for each Add'l guest >
                </p-->
                <!--button type="button" class="button transparent">Add / Remove Guests</button-->
            </div>
        </div>
        <span ng-include="'/assets/partials/rvTabletFooter.html'" ></span>
</section>