
<!-- Content -->
<section id="main" class="centered" role="main" ng-hide='at !== "cc-sign"' click-touch='resetTime()'>
    <div id="content">
        <h1>{{'SIGN_SCREEN' |translate}}</h1>
                <form type="post" action="" id="signature">
        <form id="signature-pad" class="complete-registration form" style=' height: 295px; border-radius: 8px;'>
            <div>
                    <div class="sig">
                        <div width='100%' class='station-sign' id="signature" ui-jq="jSignature" ui-options="signaturePluginOptions" ng-mouseover="disableScroll()" ng-mouseleave="enableScroll()">

                        </div>
                    </div>
            </div>
        </form>
        </form>
                    

        <div id="actions" class="sign-screen-nav">
            <button type="button" class="button transparent prev" touch-press='clearSignature()'>{{'CLEAR_BTN' |translate}}</button>
            <button type="button" class="button next" ng-mode="{{signature}}" touch-press="submitSignature()">{{'NEXT_BTN' |translate}}</button>
        </div>
    </div>
    <ng-include src="'assets/partials/rvTabletFooter.html'" ></ng-include>
</section>