input,
select,
.button {
    font-family: @fontFamily;
    font-size: 1.389em;
    vertical-align: middle;
    text-transform: uppercase;
    border: 0;
    #rounded > .round();
    .show;
    .transition();
} 

input {
    color: @textColor;
    background: @inputBackground;
    padding: 0 20px;
    .size(64px, 100%);
}

select {
    color: @textColor;
    background: @inputBackground;
    padding: 0 20px;
    cursor: pointer;
    .size(64px, 100%);
}

.button {
    text-align: center;
    color: @actionColor;
    background: @actionBackground;
    cursor: pointer;
    line-height: 64px;
    height: 64px;
    padding: 0 30px;

    &:active { background: darken(@actionBackground, 10); }

    &.blank {
        padding: 0;
        background: transparent;

         &:active { background: transparent; }
    }

    &.option { padding: 0; }

    &.transparent {
        background: @transparentColor;

        &:active { background: darken(@transparentColor, 30); }
    }

    &.with-icon {
        position: relative;
        text-align: left;
        padding: 0 40px 0 80px;

        .icons {
            position: absolute;
            top: 50%;
            left: 25px;
            margin-top: -12px;
        }
    }
}

.form {
    #flexbox > .flex();
    #flexbox > .parent(row wrap, flex-start, flex-start, '');

    &.short { 
        width: 50%;
        margin: 0 auto; 
    }
}

.entry {
    &.select {
        position: relative;
        width: 100%;
        clear: both;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .box-shadow(0 1px 0 rgba(0,0,0,.1));

        &:after {
            content: '';
            position: absolute;
            top: 30px;
            right: 20px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid rgba(0,0,0,.8);
            .square(0);
            .show;
        }
    }

    &.input { 
        position: relative;
        margin-right: 10px;
        #calc > #width > .remove(85%, 10px);

        .icons {
            position: absolute;
            top: 10px;
            right: 20px;
            fill: @white;
            .square(44px);
        }
    }
    .read-only {
        opacity: 0.5;
        pointer-events: none;
        font-style: italic;
    }
    &.select-with-button {
        padding-bottom: 0;
        margin: 0 10px 0 0;
        margin-right: 10px;
        #calc > #width > .remove(85%, 10px);
        .box-shadow(none);
    }

    &.action {
        width: 15%;
    }
}
