input,
textarea,
select,
.button:not(.ng-hide) {
    font-family: @fontFamily;
    font-size: 1.389em;
    vertical-align: middle;
    text-transform: uppercase;
    border: 0;
    #rounded > .round();
    .show;
    .transition();
    display: initial !important;
}

li {
    .button:not(.ng-hide) {
        display: block !important;
    }
}

input,
textarea {
    color: @inputColor;
    background: @inputBackground;
    width: 100%;
}

input {
    padding: 0 20px;
    height: 64px;   
}

textarea {
    padding: 20px;
    resize: none;
}

select {
    color: @inputColor;
    background: @inputBackground;
    padding: 0 20px;
    cursor: pointer;
    .size(64px, 100%);
}

input,
select {
    &::-webkit-input-placeholder {
        font-style: italic;
        color: fade(contrast(@inputBackground), 50);
    }

    &::-moz-placeholder {
        font-style: italic;
        color: fade(contrast(@inputBackground), 50);
    }

    &:-ms-input-placeholder {
        font-style: italic;
        color: fade(contrast(@inputBackground), 50);
    }

    &:-moz-placeholder {
        font-style: italic;
        color: fade(contrast(@inputBackground), 50);
    }
}

.button {
    text-align: center;
    color: @actionColor;
    background: @actionBackground;
    cursor: pointer;
    line-height: 64px;
    height: 64px;
    padding: 0 30px;
    &:active {
        background: darken(@actionBackground, 10);
    }
    &.blank {
        padding: 0;
        background: transparent;
        &:active {
            background: transparent;
        }
    }
    &.option {
        padding: 0;
    }
    &.transparent {
        background: @transparentColor;
        &:active {
            background: darken(@transparentColor, 30);
        }
    }
    &.with-icon {
        position: relative;
        text-align: left;
        padding: 0 40px 0 80px;
        .icons {
            position: absolute;
            top: 50%;
            left: 25px;
            margin-top: -12px;
        }
    }
    &.only-icon {
        .square(64px);
        position: relative;
        .icons {
            .square(30px);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &.text-red {
        color: @red;
    }
    &.disabled,
    &[disabled] {
        opacity: 0.3;
    }
}

.form {
    width: 100% !important;
    #flexbox > .flex();
    #flexbox > .parent(row wrap, flex-start, flex-start, '');
    &.short {
        width: 60% !important;
        margin: 0 auto;
    }

    &.no-action {
        .action { .hide(); }
        .entry {
            &.input {
                width: 100%;
            }
        }
    }
}

.entry {
    &.select {
        position: relative;
        width: 100%;
        clear: both;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        .box-shadow(0 1px 0 rgba(0, 0, 0, .1));
        &:after {
            content: '';
            position: absolute;
            top: 30px;
            right: 20px;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid rgba(0, 0, 0, .8);
            .square(0);
            .show;
        }
    }

    &.select-with-button {
        padding-bottom: 0;
        margin: 0 10px 0 0;
        #calc > #width > .remove(85%, 10px);
        .box-shadow(none);
    }

    &.input {
        position: relative;
        #calc > #width > .remove(85%, 10px);
        margin-right: 10px;

        .icons {
            position: absolute;
            top: 10px;
            right: 20px;
            fill: @white;
            .square(44px);
        }
    }
    .read-only {
        opacity: 0.5;
        pointer-events: none;
        font-style: italic;
    }
    &.select-with-button {
        width: 82%;
        margin-right: 3px;
    }
    &.with-label {
        margin-bottom: 10px;
        &:after {
            display: table;
            content: '';
            clear: both;
        }
        .entry {
            margin: 0;
        }
        > label,
        > input,
        > .select:not(.ng-hide) {
            display: inline-block !important;
        }
        > label {
            width: 59%;
            vertical-align: middle;
            font-size: 1.5em;
        }
        > input,
        > .select {
            .size(64px, 40%);
        }
        &.reverse {
            > label {
                width: 39%;
            }
            > input,
            > .select {
                .size(64px, 60%);
            }
        }
        .disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
    &.action {
        padding-left: 10px;
        width: 15%;
    }
    &.entry-address {
        margin: 0 20px 20px 0;
        #calc > #width > .remove(35%, 13.33px);
        float: left;

        &.address-small {
            #calc > #width > .remove(25%, 13.33px);
        }
        &.select {
            clear: inherit;
            .box-shadow(none);
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.clear-nationality-btn {
    margin-right: -35px;
}

.save-nationality-btn {
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-autocomplete {
    overflow: hidden;
    max-height: 215px !important;
    border: 2px solid @white;
    border-radius: 2px;
}

.ui-autocomplete .ui-menu-item {
    background: @white;
    color: @brandColor;
    padding: 20px;
    font-size: 1.389em;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: @white;
    color: @brandColor;
}

.clear-text-icon {
    top: 15px;
    position: relative;
    right: 73px;
}

.admin-label-description {
    font-size: .8em !important;
    float: left;
    position: relative;
    margin-top: -18px;
    width: 55% !important;
}

.admin-screen > div > #textual {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.admin-screen > div > #textual:after {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.disabled-button {
    opacity: 0.5;
    pointer-events: none;
}

.demo-second-cls {
    top: 20px !important;
}

.input-group {
    #flexbox > .flex();
    #flexbox > .parent(row wrap, '', center, '');
    border: 1px solid fade(@black, 20%);
    border-radius: 50px;
    .button {
        width: 30%;
        font-weight: 600;
        color: fade(@black, 30%) !important;
        font-size: 32px !important;
        &:hover,
        &:active {
            color: @brandColor;
        }
    }
    input {
        width: 40%;
        text-align: center;
        color: @black;
    }
    input,
    .button {
        border-radius: 0;
        background: transparent !important;
        border-right: 1px solid fade(@black, 20%) !important;
        box-shadow: none !important;
        &:first-child {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        &:last-child {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border-right: 0 !important;
        }
    }
}

.key-text-style {
    margin-bottom: 2px;
    &.more {
        margin-bottom: 2%;
    }
}

.key-text-reasons>li {
    text-align: left !important;
    width: 65% !important;
    margin-left: 25%;
    >h4 {
        font-weight: 500;
    }
}

.footer-centered {
    justify-content: center !important;
}

.select-sub-text {
    font-size: 16px;
}

.select-icon-checked>svg {
    height: 100%;
    width: 60%;
    fill: @white;
}

.options-less-space {
    margin-top: 30px !important;
}

.checkmark-fill {
    fill: @brandColor;
}

.editor-mode-cls {
    min-width: 200px;
}

.action > .button:not(.ng-hide) {
    display: table-cell !important;
}

#content > button:not(.ng-hide) {
    display: table-cell !important;
}

.entry > .select:not(.ng-hide) {
    &.button {
        display: inline-block !important;
    }
}

.centered > #content > .button:not(.ng-hide) {
    display: block !important;
}

/*
    Specify which icon-date 
    Check-in > Select by Date (inside input field)
    or
    Home Screen "Book-Now"
 */
/*Check-in > Select by Date (inside input field)*/
.entry&.input > ng-include > .icons&.icon-date {
    position: absolute !important;
    margin-left: -6% !important;

    @media only screen and (min-width: 1024px) and (max-width: 1024px) { 
        margin-left: -11% !important;
        margin-top: .5%;
    }

    @media only screen and (min-width: 1366px) and (max-width: 1366px) { 
        margin-left: -11% !important;
        margin-top: 0% !important;
    }
}
/*Home Screen "Book-Now"*/
.button&.option>div>#icon-date {
    position: initial !important;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    /*border: none; - if you want the border removed*/
}

.oos-reason-hist{
    border-width: 0px;
    border-color: @brandColor;
    border-style: ridge;
    border-bottom-width: 1px;
    border-spacing: 2px;
}

.guest-icons {
    height: 50px;
    width: 50px;
    background-image: @guesticons;
    background-repeat: no-repeat;
    border: 0;
    .show;
    &.icon-student {
        background-position: 5px -21073px;
    }

    &.icon-infant {
        background-position: 5px -21197px;
    }

    &.icon-adult {
        background-position: 5px -20957px;
    }
}
.clear-text-icon{
    cursor: pointer;
}
#textual.country-list.fill-height {
    max-height: 200px !important;
    min-height: 0px !important;
}

#country-id-search {
    #calc > #width > .remove(75%, 10px);
}
.country-list {
    #calc > #width > .remove(75%, 10px) !important;
    ul {
        margin-bottom: 0px;
        height: auto;
        li {
            border-bottom: 1px #e5e5e5 solid;
            cursor:  pointer;
            padding: 10px;
        }
    }
}
