<div role="dialog" id="modal" class="modal-show">
<form method="post" id="contracted-nights" name="contracted-nights" class="modal-content form grid">
    <button class="modal-close" id="modal-close" type="button"><span class="icons icon-close invert"></span></button>
    <span class="h2 message">Contracted nigths</span>   
    
    <div class="grid-wrapper">
        <div class="holder left">
            <div class="entry">
                <label for="contracted-all">All</label>
                <input name="contracted-all" id="contracted-all" value="" type="text"  />
            </div>
            <div class="entry move">
                <span id="copy-to-all" class="admin-icons icon-mover-right">Copy values</span>
            </div>
        </div>
        <div class="holder right">
            <div ng-repeat="nights in contractData.occupancy" class="entry">
                <label for="contracted-jan">{{nights.month}}</label>
                <input name="contracted-jan" id="contracted-jan" value="{{nights.contracted_occupancy}}" type="text" />
            </div>
            
        </div>
    </div>
    <div class="actions float">
        <button type="button" id="submit" class="button green modal-close" ng-click="saveContractedNights()">Save</button>
        <button type="button" id="cancel" class="button blank modal-close" ng-click="clickedCancel()">Cancel</button>
    </div>
</form>
</div>