<!-- Preloaded nested view -->
<div ng-include="'/assets/partials/common/header.html'"></div>

<div id="company-card-nested-first" class="nested-view view-current" role="main">
    <div class="company-card cards fullscreen">
        <div class="cards-wrapper">

            <!-- Cards Header -->
            <header class="cards-header">
                <div id="company-card-header" class="card-header ">
                    <!-- When company logo exists -->
                    <figure class="guest-image" ng-if="escapeNull(contactInformation.logo)!=''">
                        <img ng-src="{{contactInformation.logo}}" alt="" />
                    </figure>
                    <!-- When there's no logo use this instead of <figure>  -->
                    <div class="guest-image icons icon-company" ng-if="escapeNull(contactInformation.logo)==''">
                        Company
                    </div> 
                    <form method="post" name="change-company-name" id="change-company-name">
                        <div class="holder">
                            <div class="entry">
                                <input name="cc-name-first" id="cc-name-first" placeholder="" value="{{contactInformation.name1}}" ng-model="contactInformation.name1" type="text" class="masked-input h1" />
                                <input name="cc-name-first" id="cc-name-first" placeholder="" value="{{contactInformation.name2}}" ng-model="contactInformation.name2" type="text" class="masked-input h1" />
                            </div>
                        </div>
                        <div class="holder data">
                            <input  name="cc-city" id="cc-city" placeholder="" value="{{contactInformation.city}}" ng-model="contactInformation.city" type="text" class="masked-input icons icon-gc-location" />
                            <input  name="cc-state" id="cc-state" placeholder="" value="{{contactInformation.state}}" ng-model="contactInformation.state"  type="text" class="masked-input" />
                            <input name="cc-phone" id="cc-phone" placeholder="" value="{{contactInformation.phone}}" ng-model="contactInformation.phone" type="tel" class="masked-input icons icon-gc-phone" />
                            <input name="cc-email" id="cc-email" placeholder="" value="{{contactInformation.email}}" ng-model="contactInformation.email" type="email" class="masked-input icons icon-gc-email" />
                        </div>
                    </form>
                </div>
            </header>

            <!-- Cards Content -->
            <div class="cards-content" ng-iscroll="company-card-content" ng-iscroll-delay="500" >               
                <div id="company-card-content" class="card-tabs card-content" >
                    <!-- company Card tabs navigation -->
                    <ul id="company-card-tabs-nav" class="card-tabs-nav float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

                        <li  ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-contact-info'}" ng-click="switchTabTo('cc-contact-info')">
                            <a >Contact Information</a>
                        </li>

                        <li  ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-contracts'}" ng-click="switchTabTo('cc-contracts')">
                            <a >Contracts</a>
                        </li>


                        <li class="ui-state-default ui-corner-top" ng-class="{'ui-tabs-active': currentSelectedTab == 'cc-reservations'}" ng-click="switchTabTo('cc-reservations')">
                            <a >Reservations</a>
                        </li>

                    </ul>
                    <!-- Company Card Tab 1 Contact Information -->
                    <div ng-include="'/assets/partials/companyCard/rvCompanyCardContactInformation.html'"></div>

                    <!-- Company Card Tab 2 Contract -->
                    <div ng-controller="companyCardContractsCtrl"  ng-include="'/assets/partials/companyCard/rvCompanyCardContract.html'"></div>

                    <!-- Company Card Tab 3 Resevations -->
                    <div ng-include="'/assets/partials/companyCard/rvCompanyCardReservations.html'"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Second nested view -->
<div id="company-card-nested-second" class="nested-view" role="main"></div>