/*------------------------------- Themes ----------------------------------------------------*/

@import "../style.less";

body{
    background-color:@black;
}
a,a:hover{
    color:#fff !important;
}
.main-text{
    color:@white;
}
.sub-main-text{
    color:@white;
}
.template-text,.footer-text,
.balance-amount,.phone-text,
.phone-text:hover,.request-text,
.error-text {
    color: @white !important;
}
.view-bill{
    color:#A9862F
}
.sub-text,.sub-text:hover,.query-text,.query-text:hover{
    color: #8c8c8c !important;
}
.light-text{
    color:@grey !important;
}
.btn,.btn:hover{
    background:#C5A349;
}
.dark-button,.dark-button:hover{
    background: #A9862F !important;
}
.checkouttime1,.checkouttime1:hover{
    background: #C5A349;
}
.checkouttime2,.checkouttime2:hover{
    background: #A9862F;
}
.checkouttime3,.checkouttime3:hover{
    background: #8E6D1B;
}
.no-thanks,.no-thanks:hover{
    color:white !important;
    text-decoration: underline;
}

.down-arrow-button{
    background-image:url('/assets/common_images/gold/down_arrow.png'); 
}
.right-arrow-button{
    background-image:url('/assets/common_images/gold/right_arrow.png'); 
}


.grey-btn{
    background:#8B8B8B;
}
.upgrade-details .upgrades-btn {
    background: #AE222B;
}

.proceed-to-checkin {
      background: #AE222B;
}