/* StayNTouch Zest Station Styles | First Theme */

/* 1. COLORS
==========================================================*/
@brandColor:            #d69276;
    
@textColor:             @black;
@backgroundColor:       @white;

@actionColor:           @white;
@actionBackground:      @brandColor;

@inputBackground:       #d9d9d9;
@inputColor:            @black;
@transparentColor:      rgba(0,0,0,.5);

/* 2. TYPOGRAPHY
==========================================================*/

/* 300 ***/
@font-face {
    font-family: 'source_sans_pro';
    src: url('../../type/sourcesanspro-light-webfont.eot');
    src: url('../../type/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../type/sourcesanspro-light-webfont.woff') format('woff'),
         url('../../type/sourcesanspro-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
} 

/* 400 ***/
@font-face {
    font-family: 'source_sans_pro';
    src: url('../../type/sourcesanspro-regular-webfont.eot');
    src: url('../../type/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../type/sourcesanspro-regular-webfont.woff') format('woff'),
         url('../../type/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}  

/* 400 italic ***/
@font-face {
    font-family: 'source_sans_pro';
    src: url('../../type/sourcesanspro-italic-webfont.eot');
    src: url('../../type/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../type/sourcesanspro-italic-webfont.woff') format('woff'),
         url('../../type/sourcesanspro-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}  

/* 600 ***/
@font-face {
    font-family: 'source_sans_pro';
    src: url('../../type/sourcesanspro-semibold-webfont.eot');
    src: url('../../type/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../type/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('../../type/sourcesanspro-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} 

/* 700 ***/
@font-face {
    font-family: 'source_sans_pro';
    src: url('../../type/sourcesanspro-bold-webfont.eot');
    src: url('../../type/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../type/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../../type/sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
} 

@fontFamily: "source_sans_pro", sans-serif;

.logo-svg{
    background-image: url("../css/themes/lake-house/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90px;
    width: 215px;
}

/* 3. IMAGES
==========================================================*/
@background: #fcfffb;
@backgroundSize: '';

@headerIconsColor:      @brandColor;
@headerIconsActive:     @brandColor;

.icons { 
    &.icon-create-key {
        fill: @brandColor;
        stroke: @brandColor;
    }

    &.icon-no-print { stroke: @white; }

    &.icon-oos {
        fill: @brandColor;
    }

    &.icon-arrow-left,
    &.icon-arrow-right {
        fill: none;
        stroke: @white;
    }

    &.icon-arrow-down {
        fill: @brandColor;
    }

    &.icon-user-id {
        .cls-1 {
            stroke: @white; 
        }
    }
}

/* 4. LAYOUT
==========================================================*/

#lake-house {

    #header {
        height: 135px;

        .button {
            .icons {
                fill: @black;
            }
        }
    }

    #main {
        #calc > #height > .remove(100%, 135px);
        top: 135px;

        &.centered {
            padding-top: 100px;
            #content {
                height: 100%;
            }
        }
    }

    .entry.input:not(.select) {
        .icons {
            fill: @brandColor;
        }
    }
    
    #logo {
        padding-top: 0px;
        margin-top: 45px;
    
        .logo {
            width: auto;
            height: 90px;
        }
    }

    #options {
        
        .icon-text {
            color: @white;
        }

        .icons {
            fill: @white;
        }

        li.break {
            padding-top: 60px;

            &:after,
            &:before {
                display: none;
            }
        }
    }

    #selection {
        li {
            .details {
                background-color: #efefef;
                color: @black;
            }
        }
    }

    #signature {
        background-color: #efefef;
    }

    #guests {
        .button {
            color: @white;
            background-color: #000;
        }
    } 

    .add-on-list {
        li {

            &:not(.selected){
                border-color: rgba(0,0,0,0.05);

                .add-on-content {
                    background: rgba(0,0,0,0.05);
                }
            }
            
        }
    }

    .add-on {

        .input-group {
            input {
                color: @brandColor;
            }
        }
    }

    #textual {
        background: #efefef;
         

        &:before,
        &:after {
            background: #efefef;
        }

        #rate {
            li {
                &.total {
                    color: #000;
                }
            }
        }

        &.guest-information {
            .guest-information-right {
                input,
                textarea,
                select {
                    background: rgba( 0, 0, 0, 0.15 );
                }
            }
        }
        
    }

    #rate {
        li {
            &.sub {
                color: #a1a1a1;
            }

            &.total {
                color: #000;
            }
        }
    }

    #textual,
    .popup {
        .icons {
            fill: @white;
        }
    }

    #upgrade {
        border-color: @brandColor;
        
        .upgrade-price {
            background: @brandColor;
            color: @white;
        }
    }

    .upgrade-list {
        li {
            &:not(.selected) {
                border-color: #efefef;
                background: #efefef;

                .upgrade-content {
                    background: transparent;
                }
            }
        }
    }

    .minibar-item,
    .minibar-review .review-container {
        background: #efefef;
    }
}