<!--  Home -->
<section id="main" class="centered kiosk" role="main" >
	<div id="content">
		<nav id="options" class="large-icons" role="nav">
			<ul role="menu">
				<li ng-if="zestStationData.home_screen.pickup_keys">
					<button type="button" class="button option" touch-press='clickedOnPickUpKey()'>
						<div ng-include="icons.url.key"></div>
					</button>
                                    {{'PICKUP_KEY' |translate}}
                                <span>
                                    {{'HOME_PUK_SUB' |translate}}
                                </span>
				</li>
				<li ng-if="zestStationData.home_screen.check_in">
					<button type="button" class="button option" touch-press='clickedOnCheckinButton()'>
						<div ng-include="icons.url.checkin"></div>
					</button>
                                    
                                {{'CHECK_IN' |translate}}
					
				</li>
				<li ng-if="zestStationData.home_screen.check_out">
					<button type="button" class="button option" touch-press='clickedOnCheckoutButton()'>
						<div ng-include="icons.url.checkout"></div>
					</button>
                                {{'CHECK_OUT' |translate}}
					
				</li>
			</ul>
		</nav>
	</div>
<span ng-include="'/assets/partials/rvTabletFooter.html'" ></span>
</section>