<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()" >
	<header class="content-title float">
		

		<h2 ng-hide='showStationDashboard' translate>ANALYTIC_SETUP_HEADER</h2>
		<a ng-hide='showStationDashboard' ng-click="goBackToPreviousState()" class="action back" translate>BACK</a>
		<a ng-show='!isHotelAdmin && !showStationDashboard' ng-click="toggleStationDashboard()" class="action" style='background-position-y: 100px;' translate>STATION_DASHBOARD</a>

		<h2 ng-show='showStationDashboard' translate>STATION_DASHBOARD</h2>
		<a ng-show='showStationDashboard' ng-click="toggleStationDashboard()" class="action back" translate>BACK</a>

	</header>

	<section class="content-scroll">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<div ng-include="'/assets/partials/common/notification_success_message.html'"></div> 















		<form class="form float" ng-hide='showStationDashboard'>	

		    <fieldset class="holder left" ng-show="!isHotelAdmin">
			
		    	<ad-textbox value="data.product_cross_customer.tracker_guest_web"  name = "zest-web" id = "zest-web" label = "{{'ZEST_WEB_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}" styleclass="full-width" ></ad-textbox>
				
				<ad-textbox value="data.product_cross_customer.tracker_zest_ios"  name = "zest-ios" id = "zest-ios" label = "{{'ZEST_IOS_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  readonly="{{readOnly}}" styleclass="full-width"></ad-textbox>

				<ad-textbox label="{{'ZEST_ANDROID_LABEL' | translate}}" value="data.product_cross_customer.tracker_zest_android"  placeholder="{{'PLACEHOLDER_TRACKING_ID' | translate }}" name="zest-android" id="zest-android" styleclass="full-width"></ad-textbox>		
				
			</fieldset>	

			<fieldset class="holder left" ng-show="isHotelAdmin">
				<div class="form-title full-width">
							<h3><span translate>SNT_TRACKERS_TITLE</span> </h3>
						</div>
			
		    	<ad-textbox value="data.product_customer.tracker_guest_web"  name = "zest-web" id = "zest-web" label = "{{'ZEST_WEB_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  styleclass="full-width"></ad-textbox>
				
				<ad-textbox value="data.product_customer.tracker_zest_ios"  name = "zest-ios" id = "zest-ios" label = "{{'ZEST_IOS_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  readonly="{{readOnly}}" styleclass="full-width"></ad-textbox>

				<ad-textbox label="{{'ZEST_ANDROID_LABEL' | translate}}" value="data.product_customer.tracker_zest_android"   placeholder="{{'PLACEHOLDER_TRACKING_ID' | translate }}" name="zest-android" id="zest-android" styleclass="full-width"></ad-textbox>		
				
			</fieldset>
			
			<fieldset class="holder right" ng-show="isHotelAdmin">
				<div class="form-title full-width">
							<h3><span translate>HOTEL_TRACKERS_TITLE</span> </h3>
						</div>

			    <ad-select-number label-in-drop-down="{{'SELECT_SERVICE' | translate}}"
								  items="data.available_trackers"
								  selected-id='data.product_customer_proprietary.selected_tracker'
								  selbox-class="placeholder"
								  div-class="full-width" label="{{'ANALYTIC_SERVICE_LABEL' | translate}}">
				</ad-select-number>
				
				<ad-textbox value="data.product_customer_proprietary.tracker_guest_web"  name = "zest-web" id = "zest-web" label = "{{'ZEST_WEB_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  styleclass="full-width"></ad-textbox>
				
				<ad-textbox value="data.product_customer_proprietary.tracker_zest_ios"  name = "zest-ios" id = "zest-ios" label = "{{'ZEST_IOS_LABEL' | translate}}" placeholder = "{{'PLACEHOLDER_TRACKING_ID' | translate }}"  readonly="{{readOnly}}" styleclass="full-width"></ad-textbox>

				<ad-textbox label="{{'ZEST_ANDROID_LABEL' | translate}}" value="data.product_customer_proprietary.tracker_zest_android"  placeholder="{{'PLACEHOLDER_TRACKING_ID' | translate }}" name="zest-android" id="zest-android" styleclass="full-width"></ad-textbox>			
				
			</fieldset>		

			<div class="actions float">
				<button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBackToPreviousState()" translate>
					CANCEL
				</button>
				<button type="button" like-type="common" id="update" class="button  ng-binding green" ng-click="saveAnalyticSetup()" translate>
					SAVE_CHANGES
				</button>
			</div>

		</form>





































		<form class="form float" ng-show='showStationDashboard'>	
			<script src="https://apis.google.com/js/client:platform.js"></script>
		    <fieldset class="" ng-show="!isHotelAdmin">
				  <meta name="google-signin-client_id" content="864320523517-3knpgsou4qd4nd878s4rs3fffuvoo4gg.apps.googleusercontent.com">
				    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
				  
		    	<h1 ng-show='!signedIn'>Please Sign In</h1>
			    <!-- The Sign-in button. This will run `queryReports()` on success. -->
			    <p id='sign-in-btn' class="g-signin2" data-onsuccess="onSigninSuccess" data-onfailure="onSignInFailure">Sign-In</p>

			    <p id='sign-out-btn' style='position:absolute; top: 15%; left: 1%; display:none; ' class="g-signin" ng-click='signOut()'><button class="button blue">Google Sign-Out</button></p>


        <!--h1>Welcome SNT!</h1>
        <h3>From here you can check the status of Hotel Zest Station sessions, and gather some information for support and diagnostics
        <br> If you haven't already done so, sign-in to Google using the button at the bottom-right of the screen, this will check your permissions see if you're allowed to view the analytic data or not.
        </h3><br>
        <h3>Questions? Contact one of the developers at jaguars@stayntouch.com</h3-->
        <!--div ng-click='queryEvents()' class='abcRioButtonContentWrapper'>
            <span class='refresh-btn-cls'>
                    <svg class='refresh-svg' height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 8l-4 4h3c0 3.31-2.69 6-6 6-1.01 0-1.97-.25-2.8-.7l-1.46 1.46C8.97 19.54 10.43 20 12 20c4.42 0 8-3.58 8-8h3l-4-4zM6 12c0-3.31 2.69-6 6-6 1.01 0 1.97.25 2.8.7l1.46-1.46C15.03 4.46 13.57 4 12 4c-4.42 0-8 3.58-8 8H1l4 4 4-4H6z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </span>

                <span class='refresh-btn-cls'>

                    <svg class='refresh-svg' height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 8l-4 4h3c0 3.31-2.69 6-6 6-1.01 0-1.97-.25-2.8-.7l-1.46 1.46C8.97 19.54 10.43 20 12 20c4.42 0 8-3.58 8-8h3l-4-4zM6 12c0-3.31 2.69-6 6-6 1.01 0 1.97.25 2.8.7l1.46-1.46C15.03 4.46 13.57 4 12 4c-4.42 0-8 3.58-8 8H1l4 4 4-4H6z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                </span>
        </div-->


        <input style='position: absolute;right: 51%; top: 15%;' placeholder="From Date" type="text" id="datepicker-from"></p>
        <input style='position: absolute;right: 40%;top: 15%;' placeholder="To Date" type="text" id="datepicker-to">
        <button style='position: absolute;right: 35%;top: 15%; margin-left: 15px;' 
        	class="button green" ng-click='searchByDate()'>Search</button>

        <div class='lmask' ng-click='clickedMask()' ng-show='showDeviceDetails!==""'></div>
        <div class='loader' ng-show='loading'></div>
        <!-- Do not remove this header id, its used to inject new data on refresh calls -->
        <p id='header'></p>
        <!-- // -->
            <!--    TODO:  MOVE TO TEMPLATE   -->
            <!--div class="col-lg-3 col-md-6" style='' ng-repeat="hotel in hotelList">
                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class='{"all-good":hotel.status==="In-Order", "small-problem":hotel.status==="Out-of-Order", "no-bueno":hotel.status==="bad"}'>
                        <div class="row">
                            <div class="col-xs-3">
                                <span>{{hotel.name.toUpperCase()}}</span>
                                <i class="fa fa-laptop fa-5x"></i>
                                <!-- Change Icon to ipad or pc based on type of kiosk, yotel's PC vs other ipads -->
                            <!--/div>
                            <div class="col-xs-9 text-right">
                                <div class="large-text">{{hotel.devices.length}} online</div>
                                <div>{{hotel.events.length}} Events Today!</div>
                                <div class='last-update-cls'>Last Updated: {{hotel.info.lastUpdate}}</div>
                            </div>
                        </div>
                    </div>




                    <a href="#" ng-click='viewHotelDetails(hotel)'>
                        <div class="panel-footer">
                            <span class="pull-left">View Info</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>



                    <div ng-show='showHotelDetails === hotel.name'>
                        <div ng-repeat="device in hotel.devices" class='hotel-device-item' ng-class='{"small-problem":device.status==="Out-of-Order", "no-bueno":device.status==="bad"}' ng-click='viewDeviceDetails(device);'>
                            {{device.workstation_name}} <span class='device-status-cls'>{{device.status}} <br><span style='font-size:xx-small; position: relative; top: -12px;left: -3%;'> {{device.info.lastUpdate}}</span>
                        </div>
                    </div>
                </div>
            </div-->
            <!--  //  TODO:  MOVE TO TEMPLATE   -->
         

                <section ng-hide='showDeviceDetails!==""' class="">
                    
                    <table class="grid" style='padding-top: 5%'>
                        <tbody>
                            <tr ng-repeat="hotel in hotelList" > 
                                <td ng-click="viewHotelDetails(hotel)" >
                                    <a data-item="3" data-colspan="2" class="edit-data-inline"> {{hotel.name.toUpperCase()}}, {{hotel.devices.length}} online</a>

                                    <div ng-show='showHotelDetails === hotel.name' ng-repeat="device in hotel.devices" class='station-device'> 
                                        <div ng-class='{"small-problem":device.status==="Out-of-Order", "no-bueno":device.status==="bad"}' ng-click='viewDeviceDetails(device);' >

                                            <a data-item="1" data-colspan="1" class="edit-data-inline" style=''> 

                                                {{device.workstation_name}} 
                                                <span class='device-status-cls' style='float:right'>
                                                    {{device.status}} 
                                                </span>
                                                <br>
                                                <span style='float:right'> 
                                                    {{device.info.lastUpdate}}
                                                </span>
                                                <br>
                                            </a>
                                        </div> 
                                        <hr> 
                                    </div>

                                </td>

                            </tr>
                        </tbody>


                    </table>

                </section>










        <div class='device-details-view' ng-class='{"hidden":showDeviceDetails===""}' style='margin-top: 5%'>
            <div class='device-view-cls'>
                <span style='font-size: x-large; color:black'>{{getHotelName(deviceDetailsToShow.info.theme)}}, {{deviceDetailsToShow.workstation_name}}</span>
                <!--span style='color:black; position: absolute;right: 2.25%;'>Filter: <input type='text' ng-model='deviceEventFilter'></span-->
                <div class="list-group device-view">
                    <a class="list-group-item" ng-repeat="evt in deviceDetailsToShow.events | limitTo:evtLimit track by $index">
                        <div>
                            <div ng-click='showEvtDetails(evt, $index)'>
                                <i class="fa fa-fw" ng-class='{"fa-thumbs-down":evt.workstation_status==="out-of-order", "fa-thumbs-up":evt.workstation_status==="in-order"}'></i> {{evt.workstation_status}}
                                <i class="fa" style='font-size: large;' ng-class='{"fa-user":evt.current_screen!=="zest_station.home" && evt.current_screen!=="zest_station.outOfService"}' '></i>
                                        <span class="pull-right text-muted small"><em>{{evt.kiosk_time}}</em>
                                        </span>
                                    </div>
                                    

                                    <div class='event-details ' ng-show='showEvts===$index ' style='border-width: 1px;border-style: solid;border-radius: .5em;padding: 2px;'>
                                        <!-- instead of coding to specific params, 
                                             just dump anything sent from the json object in station/baseCtrl.js 
                                             *format Reasons and Activity items
                                         -->
                                        <div ng-repeat="(key, val) in evt">
                                            
                                            <span ng-if='key!=="session_oos_reasons" && key!=="session_activity" '>{{key}} : {{val}}</span>

                                            <!-- session_oos_reasons -->
                                            <div ng-if='key==="session_oos_reasons" ' class='oos-reason-cls '>
                                                <div>
                                                    Out of Order Reasons (this session)    
                                                </div>
                                                 
                                                 <div class='oos-reason ' ng-repeat='(k, v) in val '>
                                                    {{v.reason}} : {{v.datetime}}
                                                 </div>
                                            </div>

                                            <!-- session_activity -->
                                            <div ng-if='key==="session_activity" ' class='oos-reason-cls '>
                                                <div>
                                                    Activity (this session)    
                                                </div>

                                                 <div class='oos-reason ' ng-repeat='(k, v) in val '>
                                                    {{v.flow}} | {{v.activity}}, {{v.mode}} [{{v.conf}}] : {{v.datetime}}
                                                 </div>
                                            </div>

                                        </div>

                                    </div>
                                    <hr>
                                </div>


                            </a>
                            <a href ng-click="incrementLimit()" class='more-cls'>more</a>
                            <a href ng-click="decrementLimit()" class='less-cls'>less</a>
                    </div>

                    
                </div>
            </div>





			</fieldset>	

			<div class="actions float">
				<button type="button" id="close" class="button blank add-data-inline" ng-click="toggleStationDashboard()" translate>
					BACK
				</button>
			</div>

		</form>















	</section>
</div>