/* StayNTouch Zest Station Styles | Village Theme */

/* 1. COLORS
==========================================================*/
@brandColor:            #ffd03e;
 
    
@textColor:             @white;
@backgroundColor:       #1d1919;

@actionColor:           #1d1919;
@actionBackground:      @brandColor;

@inputBackground:       #707070;
@inputColor:            @white;
@transparentColor:      rgba(0,0,0,.35);

/* 2. TYPOGRAPHY
==========================================================*/

@fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 

/* 3. IMAGES
==========================================================*/
@background:            @backgroundColor;
@backgroundSize:        contain;

@headerIconsColor:      @white;
@headerIconsActive:     @brandColor;

.icons { 
    fill: @black;
    &.icon-create-key {
        fill: @brandColor;
        stroke: @brandColor;
    }

    &.icon-no-print { stroke: @brandColor; }

    &.icon-oos {
        fill: @brandColor;
    }

    &.icon-arrow-left,
    &.icon-arrow-right {
        fill: none;
        stroke: @black;
    }

    &.icon-arrow-down {
        fill: @black;
    }

    &.icon-user-id {
        .csl-1 {
            stroke: @black;
        }
    }

    &.icon-no-print {
        line {
            stroke: @black;
        }
    }
}

/* 4. LAYOUT
==========================================================*/

#jonas {

    .logo-svg{
        background-image: url("../css/themes/jonas/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 85px;
        width: 209px;
        margin-top: 40px;
    }

    #header {
        height: 135px;
    }

    #main {
        #calc > #height > .remove(100%, 135px);
        top: 135px;

        &.centered {
            padding-top: 100px;
            #content {
                height: 100%;
            }
        }
    }

    #actions {
        &.pull-right {
            p {
                strong {
                    font-size: 18px;
                    font-weight: 400; 
                }
                color: @textColor;
            }
        }
    }
     
    #logo {
        margin-top: 40px;
        padding: 0;
         
        .logo {
            height: 85px;
            width: auto;
        }
    }

    .button {
        &.transparent {
            background-color: @white;
        }
    }


    #options {
        li.radio-option input[type=radio]:not(:checked) + .button {
            background: rgba(255, 255, 255, 0.5);
        }
    }

    #textual {
       background: #f5f5f5;

       &:before,
       &:after {
        background: #f5f5f5;
       }

        #rate {
            li {
                &.total {
                    color: @black;
                }
            }
        }
    }

    #selection {
        .details {
            background: #f5f5f5;
            color: @black;
        }
    }

    /* Popup fixes start */
    .popup {
        .button {
            &.transparent {
                background: rgba(0,0,0,.1);
            }
        }
    }
    /* Popup fixes end */

    #guests {
        .button {
            background-color: #000;
            color: white;
        }
    }

    #upgrade {
        .upgrade-price {
            background-color: @brandColor;
            color: @actionColor;
        }
    }

    .entry {

        &.select {
            .box-shadow(0 1px 0 rgba(255, 255, 255, 0.35));
        }
    }


    .upgrade-list:not(.upgrade-list-v2) li:not(.selected) .upgrade-content { background: @black;}

    .add-on-list,
    .add-on { 
        .input-group {
            input {
                color: @black;
            }
        }
        .button {
            &.transparent {
                background-color: fade(@black, 10);
            }
        }
    }

    .add-on {
        
        &:not(.selected) {
            background-color: #f5f5f5;
            border-color: #f5f5f5;
        }

        .add-on-picture {
            .icons { fill: @black; }
        }

        #options {
            li {
                .option {
                    &.not-selected {
                        color: @black;
                    }
                }
            }
        }
    }
}