<div id="modal"  ng-class="{'modal-show': modalOpened}" role="dialog">
    <form method="post" action="{action}" id="group-room-and-rates" name="group-room-and-rates" class="modal-content group-rooms">
        <button id="modal-close" type="button" class="modal-close" ng-click="closeDialog()">
            <span class="icons icon-close invert">
        </button>

        <span class="message h2" translate>ROOM_TYPES_AND_RATES</span>

        <div id="group-rooms-grid" class="rooms-grid scrollable" ng-iscroll="room_type_scroller" 
            ng-iscroll-delay="500">
            <div class="wrapper">
                <div class="row" ng-repeat="row in selectedRoomTypeAndRates track by $index">
                    <div class="entry-data">
                        <div class="room-type">
                            <label for="room-type-1-select" class="row-count">{{$index+1}}</label>
                            <div class="select">
                                <select id="room-type-1-select" ng-model="row.selectedRoomType" iscroll-stop-propagation > <!-- Add class="placeholder" if value="" is selected -->
                                    <option value="" translate>SELECT_ROOM_TYPE</option>
                                    <option value="roomType.id" ng-repeat="roomType in roomTypes">
                                        {{roomType.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="entry">
                            <label for="room-type-1-bar" translate>BAR_SINGLE</label>
                            <input id="room-type-1-bar" ng-model="row.bestAvailableRate" type="text" readonly />
                        </div>
                        <div class="entry">
                            <label for="room-type-1-single" translate>SINGLE_OCCUPANCY</label>
                            <input id="room-type-1-single" ng-model="row.singleOccupancyRate" type="text" />
                        </div>
                        <div class="entry">
                            <label for="room-type-1-double" translate>DOUBLE_OCCUPANCY</label>
                            <input id="room-type-1-double" ng-model="row.doubleOccupancyRate" type="text" />
                        </div>
                        <div class="entry">
                            <label for="room-type-1-plus" translate>ONE_MORE_ADULT</label>
                            <input id="room-type-1-plus" ng-model="row.oneMoreAdultRate" type="text" />
                        </div>
                    </div>
                    <span class="remove-type icons icon-remove-60"
                        ng-class="{'hidden': !shouldShowDeleteButton()}"
                        ng-click="deleteRoomTypeAndRatesRow($index)">
                        -
                    </span> <!-- Should have class "hidden" until 2nd row is added -->
                    <span class="add-type icons icon-add-60" 
                        ng-class="{'hidden': !shouldShowAddNewButton()}"
                        ng-click="addNewRoomTypeAndRatesRow()">
                        +
                    </span> <!-- Hidden until room type is defined, then remove class "hidden". When pressed, and 2nd row and add class "hidden" again -->
                </div>                
            </div>
        </div>

        <div class="actions">
            <button type="button" class="button blank">Cancel</button>
            <button type="button" class="button green">Update</button>
        </div>
    </form>
</div>