<div style="display: block;" id="add-new" class="edit-data"> 
	<div class="data-holder">
		<form class="form inline-form float">
			<div class="form-title">
			    <h3><span translate>CHARGE_CODE</span> {{'DETAILS' | translate}} </h3>
			    <em class="status"> {{'MANDATORY_FIELDS_MESSAGE1'| translate}} <strong>*</strong>{{'MANDATORY_FIELDS_MESSAGE2' | translate}} </em>
			</div>

			<fieldset class="holder left">

				<ad-textbox value="prefetchData.code" label = "{{'CHARGE_CODE'| translate}}" placeholder = "{{'CHARGE_CODE_PLACEHOLDER'| translate}}" required = "yes" styleclass="full-width" ></ad-textbox>

				<ad-textbox value="prefetchData.charge_code_trl" label = "{{'CHARGE_CODE_TRANSLATION'| translate}}" placeholder = "{{'CHARGE_CODE_TRANSLATION_PLACEHOLDER'| translate}}" styleclass="full-width" hide="!availableLanguagesSet.show_language_field"></ad-textbox>

				<ad-textarea rows="4" div-class="full-width" text-area-class="full-width" value="prefetchData.description" label = "{{'DESCRIPTION'| translate}} " placeholder = "{{'DESC_PLACEHOLDER' | translate }}" required="true"></ad-textarea>

				<ad-textarea rows="4" div-class="full-width" text-area-class="full-width" value="prefetchData.description_trl" label = "{{'DESCRIPTION_TRANSLATED'| translate}} " placeholder = "{{'ENTER_TRANSLATIONS_FOR_DESCRIPTION' | translate }}" hide="!availableLanguagesSet.show_language_field"></ad-textarea>
				
					<div class="entry" ng-hide="isAllowanceType(prefetchData.selected_charge_code_type)">
						<label translate>ALLOW_MANUAL_POSTINGS</label>

						<div id="div-upsell-rooms" class="switch-button single"
						ng-class="{ on : prefetchData.allow_manual_posting }">
							<input type="checkbox" name="upsell-rooms" ng-model="prefetchData.allow_manual_posting">
							<span class="switch-icon"></span>
						</div>
					</div>
                                
                <div class="entry" style="margin-bottom:15px;" ng-show='isStandAlone' ng-hide='!isStandAlone'>    
                    <ad-dropdown  label="{{'CHARGE_GROUP'| translate}}" label-in-drop-down="{{'CHARGE_GROUP'| translate}}" list="prefetchData.charge_groups" selected-Id='prefetchData.selected_charge_group' ng-disabled="prefetchData.selected_charge_code_type === '11'" on-change="onChangeChargeGroup"  required = "yes" div-class="full-width"></ad-dropdown>
                </div>
                
                <div class="entry" style="margin-bottom:15px;" ng-show='!isStandAlone' ng-hide='isStandAlone'>
                    <ad-dropdown label="{{'CHARGE_GROUP'| translate}}" label-in-drop-down="{{'CHARGE_GROUP'| translate}}" list="prefetchData.charge_groups" selected-Id='prefetchData.selected_charge_group' ng-disabled="prefetchData.selected_charge_code_type === '11'" on-change="onChangeChargeGroup" required = "no" div-class="full-width"></ad-dropdown>
				</div> 
				<div class="entry full-width" style="margin-bottom:15px;" ng-show='warningMessage.length'>
					<section ng-if="warningMessage.length" ng-switch="" on="warningMessage.length" class="notice error-message">                  
					<span class="close-btn" ng-click="clearWarningMessage()"></span>
					<span class="ng-binding ng-scope">{{warningMessage}}</span></section>
				</div>

				<div class="entry full-width" required="required">
					<label class="ng-binding">
						{{'CHARGE_CODE_TYPE'| translate}}
						<strong class="" ng-show="isStandAlone"> * </strong>
					</label>
					<div class="select">
						<select ng-model="prefetchData.selected_charge_code_type" ng-change="onChangeChargeCodeType(prefetchData.selected_charge_code_type)">
							<option value="" disabled>Charge code type</option>
							<option value="{{chargeCodeType.value}}" ng-repeat="chargeCodeType in prefetchData.charge_code_types" ng-disabled="disableChargeCodeType">
							{{chargeCodeType.name}}
							</option>
						</select>
					</div>
				</div>

				<div class="entry full-width" ng-if="isAllowanceType(prefetchData.selected_charge_code_type)">
                    <label for="overage-charge">
                        {{'OVERAGE_CHARGE_CODE_LABEL' | translate}}
                        <strong>*</strong>
                    </label>
                    <div class="select">
                        <select name="overage-charge" id="overage-charge" ng-model="prefetchData.overage_charge_code_id" ng-options="code.id as code.name  + ' - ' + code.description for code in chargeCodes"></select>
                    </div>
                </div>

                <div class="entry full-width" ng-if="isAllowanceType(prefetchData.selected_charge_code_type)">
                    <label for="spillage-charge">
                        {{'SPILLAGE_CHARGE_CODE_LABEL' | translate}}
                        <strong>*</strong>
                    </label>
                    <div class="select">
                        <select name="spillage-charge" id="spillage-charge" ng-model="prefetchData.spillage_charge_code_id" ng-options="code.id as code.name  + ' - ' + code.description for code in chargeCodes"></select>
                    </div>
                </div>

				<!-- show For charge codes of the code type Payment -->
				<div class="entry full-width" required="required" ng-show="isPaymentSelected()" >
					<label class="ng-binding" ng-hide="label.length==0">
						{{'PAYMENT_TYPE'| translate}}
						<strong class="" ng-show="isStandAlone"> * </strong>
					</label>
					<div class="select">
                        <select ng-class="{'placeholder': !stateAttributes.selectedPaymentType }"
                                ng-model="stateAttributes.selectedPaymentType"
                                ng-change="changeSelectedPaymentType()">
                            <option value="" translate>SELECT_PAYMENT_TYPE</option>
                            <option ng-repeat="paymentType in prefetchData.payment_types track by paymentType.composite_id"
                                    ng-hide="paymentType.name == 'CC'" value="{{paymentType.composite_id}}">
                                {{paymentType.description}}
                            </option>
                        </select>
					</div>
				</div>
				<div class="entry full-width" required="required" ng-hide="(!prefetchData.advance_payment_enabled || isPaymentSelected() || isDepositSelected() || isArManualBalanceSelected() || isArManualCreditSelected() || isFeesSelected() || isTaxSelected() || isTouristTaxSelected())">
					<label class="ng-binding" ng-hide="label.length==0" for="" >
						{{'DEPOSIT_CHARGE_CODE'| translate}}
					</label>
					<div class="select">
						<select convert-to-number name="payment-type" ng-model="prefetchData.linked_deposit_charge_code_id">
							<option value="">Select Deposit charge code</option>
							<option value="{{depositChargeCode.value}}" ng-selected="depositChargeCode.value == prefetchData.linked_deposit_charge_code_id" ng-repeat="depositChargeCode in prefetchData.deposit_charge_codes">
							{{depositChargeCode.name}}
							</option>
						</select>
					</div>
				</div>
				<div class="entry full-width" required="required" ng-hide="isAllowanceType(prefetchData.selected_charge_code_type)">
					<label class="ng-binding" ng-hide="label.length==0" for="" >
						{{'FEES'| translate}}
					</label>
					<div class="select">
						<select convert-to-number name="payment-type" ng-model="prefetchData.selected_fees_code">
							<option value="">Select Fees</option>
							<option value="{{feesCode.value}}" ng-selected="feesCode.value == prefetchData.selected_fees_code" ng-repeat="feesCode in prefetchData.fees_codes">
							{{feesCode.name}} {{feesCode.description}}
							</option>
						</select>
					</div>
				</div>

				<!-- show For charge codes of the code type TAX or FEES or TOURIST TAX , for standalone hotels-->
				<div class="entry full-width" >
					
					<ad-textbox value="prefetchData.minimum_amount_for_fees"
						hide="!((
							isTaxSelected() || isTouristTaxSelected() || isFeesSelected()
						) && !isPmsConfigured)"

						inputtype="text" value=""
						label="{{'MINIMUM_AMOUNT_TO_CHARGE_FEE'| translate}}"
						placeholder=""
						styleclass="full-width">
					</ad-textbox>

					<div ng-show="(isTaxSelected() || isFeesSelected() || isTouristTaxSelected()) && !isPmsConfigured" class="entry full-width" >
						<label translate> AMOUNT </label>
						
						<div class="select select-col col1-3 ">
							<select ng-model="prefetchData.selected_amount_sign" class="styled">
								<!-- Default to positive values for TAX / FEES -->
	                        	<option value="+" ng-selected="prefetchData.selected_amount_sign === '+' || isTaxSelected() || isTouristTaxSelected()" translate>
	                        		POSITIVE_SIGN
	                        	</option> 
	                        	<!-- RESTRICT only positive valuse for taxes! -->
	                        	<option ng-if="!(isTaxSelected() || isTouristTaxSelected())" value="-" ng-selected="prefetchData.selected_amount_sign === '-'" translate>
	                        		NEGATIVE_SIGN
	                        	</option> 
	                        </select>
						</div>
						<div class=" select-col col1-3 " >
							<ad-textbox value="prefetchData.amount" inputtype="text" value="" styleclass = "col1-3"	label = "" placeholder = "" style="  margin-top: 0; width: 66px;"></ad-textbox>
						</div>
						<div class="select select-col col1-3">
							<select ng-model="prefetchData.selected_amount_symbol" class="styled">
	                            <option ng-repeat='symbol in prefetchData.symbolList'  ng-selected="symbol.name===prefetchData.selected_amount_symbol" value="{{symbol.name}}">{{symbol.value}}</option>
	                        </select>
						</div>
					</div>

					<!-- show For charge codes of the code type TAX only -->
					<div ng-show="(isTaxSelected() || isTouristTaxSelected()) && !isPmsConfigured">
						<ad-select-number label="{{'AMOUNT_TYPE' | translate}}" div-class="full-width"  label-in-drop-down="{{'SELECT_AMOUNT_TYPE' | translate}}" items="prefetchData.amount_types" selected-Id="prefetchData.selected_amount_type" ></ad-select-number>
						<ad-select-number label="{{'POST_TYPE' | translate}}" div-class="full-width"  label-in-drop-down="{{'Select Post Type' | translate}}" items="prefetchData.post_types" selected-Id="prefetchData.selected_post_type" ></ad-select-number>
					</div>
				</div>
				<section ng-if="prefetchData.is_snapshot_active &&
							prefetchData.selected_charge_code_type &&
						 	prefetchData.selected_charge_code_type !== '1' &&
						 	prefetchData.selected_charge_code_type !== '2'">
					<div class="form-title" >
						<h3>Snapshot<span translate> Settings</span></h3>
					</div>
					<div class="entry full-width">
						<label>
							Snapshot subgroup
						</label>
						<div class="select">
							<select ng-model="prefetchData.snapshot_subgroup">
								<option value="">&lt;default&gt;</option>
								<option value="FB">FB</option>
								<option value="AUX">AUX</option>
								<option value="ACC">ACC</option>
							</select>
						</div>
					</div>
				</section>
				

			</fieldset>
			
			<fieldset class="holder right">
				<!-- to hide the chrage codes if type is TAX. Since we need to show the charge codes on change type -->
				<div ng-hide="isTaxSelected() || isTouristTaxSelected() || !isPmsConfigured ">
					<div class="form-title">
						<h3><span translate>CHARGE_CODE</span> {{'LINK_WITH' | translate}} </h3>
					</div>
					<div class="entry full-width">
						<div id="room-key-for-rover" class="boxes">
							<div class="entry radio-check" ng-repeat="link in prefetchData.link_with">
								<label class="checkbox" ng-class="{ checked : link.is_checked === 'true' }"> <span class="icon-form icon-checkbox" ng-class="{ checked : link.is_checked === 'true' }"></span> <label for="link-with-1"></label>
									<input type="checkbox"  ng-click="link.is_checked =(link.is_checked  === 'true')? 'false':'true'">
									{{link.name}} </label>
							</div>
						</div>
					</div>
				</div>
				<!--for charge code type other than PAYMENT or TAX -->
				<div ng-hide="shouldHideAddTaxOption()" ng-include="'/assets/partials/chargeCodes/adListTax.html'" ></div>

			</fieldset>

			<div class="actions float">
				<button type="button" ng-click="clickedCancel()" class="button blank edit-data-inline" translate>
					CANCEL
				</button>
                            <button type="button" ng-click="clickedSave()" class="button green edit-data-inline" ng-class="{'grey':isStandAlone && !prefetchData.selected_charge_group}" ng-disabled="isStandAlone && !prefetchData.selected_charge_group" translate>
					SAVE_CHANGES
				</button>
			</div>

		</form>
	</div>
</div>
