<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog">
    <form method="post" action="" class="modal-content form demographics" ng-cloak>

        <button ng-click="closeDialog()" ng-hide="groupSummaryData.promptMandatoryDemographics" id="modal-close" class="modal-close" type="button"><span class="icons icon-close invert"></span></button>

        <strong class="h2 message" ng-hide="groupSummaryData.promptMandatoryDemographics">Demographics</strong>
        <!-- <span class="text" ng-hide="groupSummaryData.promptMandatoryDemographics">Fields marked with <strong>*</strong> are mandatory</span> -->
        
        <strong class="h2 message" ng-show="groupSummaryData.promptMandatoryDemographics">Demographics Missing!</strong>
        <span class="text" ng-show="groupSummaryData.promptMandatoryDemographics">Set mandatory demographics to continue</span>

        <div ng-include="'/assets/partials/common/notification_message.html'"></div>

        <!-- [<[< RESERVATION TYPES >]>] -->
        <div class="entry margin" ng-show="shouldShowReservationType">
            <label for="reservation-type">
                Reservation type
                <!-- <strong ng-show="">*</strong> -->
            </label>
            <div class="select">
                <select convert-to-number iscroll-stop-propagation name="reservation-type" id="reservation-type"
                    ng-class="{'placeholder': !groupConfigData.summary.demographics.reservation_type_id}" 
                    ng-model="groupConfigData.summary.demographics.reservation_type_id">
                    <option value="" selected translate>RESERVATION_TYPE_PLACEHOLDER</option>
                    <option ng-repeat="reservationType in groupSummaryData.demographics.reservationTypes" 
                        value="{{reservationType.value}}" 
                        ng-selected="reservationType.value == groupConfigData.summary.demographics.reservation_type_id">
                        {{reservationType.name}}
                    </option>
                </select>
            </div>
        </div>

        <!-- [<[< MARKETS >]>] -->
        <div class="entry margin" ng-show="shouldShowMarket">
            <label for="market">
                Market<strong ng-show="hotelSettings.force_market_code && groupSummaryData.promptMandatoryDemographics">*</strong>                
            </label>
            <div class="select">
                <select convert-to-number iscroll-stop-propagation name="market" id="market"
                    ng-class="{'placeholder': !groupConfigData.summary.demographics.market_segment_id}" 
                    ng-model="groupConfigData.summary.demographics.market_segment_id">
                    <option value="" selected translate>MARKET_PLACEHOLDER</option>
                    <option ng-repeat="market in groupSummaryData.demographics.markets" 
                        value="{{market.value}}" 
                        ng-selected="market.value == groupConfigData.summary.demographics.market_segment_id">
                        {{market.name}}
                    </option>
                </select>
            </div>
        </div>

        <!-- [<[< SOURCES >]>] -->
        <div class="entry margin" ng-show="shouldShowSource">
            <label for="source">
                Source<strong ng-show="hotelSettings.force_source_code && groupSummaryData.promptMandatoryDemographics">*</strong>                
            </label>
            <div class="select">
                <select convert-to-number iscroll-stop-propagation name="source" id="source"
                    ng-class="{'placeholder': !groupConfigData.summary.demographics.source_id}" 
                    ng-model="groupConfigData.summary.demographics.source_id">
                    <option value="" selected translate>SOURCE_PLACEHOLDER</option>
                    <option ng-repeat="source in groupSummaryData.demographics.sources" 
                        value="{{source.value}}" 
                        ng-selected="source.value == groupConfigData.summary.demographics.source_id">
                        {{source.name}}
                    </option>
                </select>
            </div>
        </div>

        <!-- [<[< ORIGINS >]>] -->
        <div class="entry margin" ng-show="shouldShowOriginOfBooking">
            <label for="origin">
                Origin of Booking<strong ng-show="hotelSettings.force_origin_of_booking && groupSummaryData.promptMandatoryDemographics">*</strong>
            </label>
            <div class="select">
                <select convert-to-number iscroll-stop-propagation name="origin" id="origin"
                    ng-class="{'placeholder': !groupConfigData.summary.demographics.booking_origin_id}" 
                    ng-model="groupConfigData.summary.demographics.booking_origin_id">
                    <option value="" selected translate>ORIGIN_BOOKING_PLACEHOLDER</option>
                    <option ng-repeat="origin in groupSummaryData.demographics.origins" 
                        value="{{origin.value}}" 
                        ng-selected="origin.value == groupConfigData.summary.demographics.booking_origin_id">
                        {{origin.name}}
                    </option>
                </select>
            </div>
        </div>

        <!-- [<[< SEGMENTS >]>] -->
        <div class="entry margin" ng-show="shouldShowSegments">
            <label for="origin">
                Segment<strong ng-show="hotelSettings.force_segments && groupSummaryData.promptMandatoryDemographics">*</strong>
            </label>
            <div class="select">
                <select convert-to-number iscroll-stop-propagation name="segment" id="segment"
                    ng-class="{'placeholder': !groupConfigData.summary.demographics.segment_id}" 
                    ng-model="groupConfigData.summary.demographics.segment_id"
                    ng-disabled="!!groupConfigData.summary.demographics.segment_id && !!groupSummaryData.computedSegment">
                    <option value="" selected translate>SEGMENT_PLACEHOLDER</option>
                    <option ng-repeat="segment in groupSummaryData.demographics.segments" 
                        value="{{segment.value}}" 
                        ng-selected="segment.value == groupConfigData.summary.demographics.segment_id">
                        {{segment.name}}
                    </option>
                </select>
            </div>
        </div>


        <div class="actions">
            <button type="button" 
                class="button blank" 
                ng-hide="groupSummaryData.promptMandatoryDemographics" 
                ng-click="cancelDemographicChanges();closeDialog();">
                Cancel
            </button>

            <button type="button" class="button"
                ng-hide="groupSummaryData.promptMandatoryDemographics" 
                ng-disabled="!isDemographicsFormValid(false)" 
                ng-class="isDemographicsFormValid(false) ? 'green' : 'grey'",
                ng-click="saveDemographicsData();">
                Save
            </button>

            <button ng-show="groupSummaryData.promptMandatoryDemographics" 
                type="button" 
                class="button" 
                ng-disabled="!isDemographicsFormValid(true)" 
                ng-class="isDemographicsFormValid(true) ? 'green' : 'grey'"
                ng-click="saveNewGroup()">
                Save & Continue
            </button>
            
        </div>
    </form>
</div>
