<form id="group-summary" name="group-summary" ng-click="clearErrorMessage()" class="form card-tab scrollable" ng-controller="rvGroupConfigurationSummaryTab" ng-iscroll="groupSummaryScroller" ng-iscroll-delay="500" outside-click-handler>
    <div class="wrapper">
        <div class="holder left">
            <strong class="h3" translate>GROUP_INFO</strong>
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <div class="entry full-width">
                <label for="group-name">
                    {{ 'NAME' | translate}}
                    <strong>*</strong>
                </label>
                <input id="group-name" ng-model="groupConfigData.summary.group_name" ng-disabled="isInStaycardScreen()" type="text" />
            </div>
            <div class="entry margin">
                <label for="group-code" translate>GROUP_CODE</label>
                <input id="group-code" ng-model="groupConfigData.summary.group_code" type="text" ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry">
                <label for="group-firstname" translate>CONTACT_FIRST_NAME</label>
                <input id="group-firstname" ng-model="groupConfigData.summary.first_name" type="text" ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry margin">
                <label for="group-lastname" translate>CONTACT_LAST_NAME</label>
                <input id="group-lastname" ng-model="groupConfigData.summary.last_name" type="text" ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry">
                <label for="group-phone" translate>CONTACT_PHONE</label>
                <input id="group-phone" ng-model="groupConfigData.summary.contact_phone" type="text" ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry full-width">
                <label for="group-email" translate>CONTACT_EMAIL</label>
                <input id="group-email" ng-model="groupConfigData.summary.contact_email" type="text" ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry break full-width card-buttons" ng-hide="isInStaycardScreen()">
                <a ng-click="openDemographicsPopup();" class="button" ng-class="{'grey': isInAddMode(), 'white brand-text': !isInAddMode()}" translate>DEMOGRAPHICS</a>
                
                <a ng-click="openBillingInformation();" class="button blue" ng-if="groupConfigData.summary.posting_account_billing_info" translate>BILLING_INFORMATION</a>

                <a ng-click="openBillingInformation();" class="button"  ng-class="{'grey': isInAddMode(), 'blue': !isInAddMode()}"  ng-if="!groupConfigData.summary.posting_account_billing_info" translate>ADD_BILLING_INFO</a>

                <a ng-click="openSendConfirmationPopup()" class="button white blue-text"  ng-class="" translate>SEND CONFIRMATION</a>
            </div>

            <div class="entry break full-width" ng-show="shouldShowGroupActionsButton()">
                <!-- Show only for existing groups:
                    'icon-no-actions' is grey, when there are no actions
                    'icon-actions' is green, when all actions are resloved
                    'icon-new-actions' is red, when there are unresolved actions-->
                <button type="button" class="button staycard-button {{getActionsButtonClass()}}"
                        ng-click="openGroupActionsPopup()">
                    <span class="title">Actions</span>
                    {{groupConfigData.summary.total_group_action_tasks_count}}
                </button>
            </div>
        </div>
        <div class="holder right auto-height">
            <strong class="h3" translate>ROOM_BLOCK_SUMMARY</strong>
            <div class="entry full-width stay-dates">
                <div class="entry-data">
                    <label for="group-block-from">
                        {{'FROM' | translate}}
                        <strong>*</strong>
                    </label>
                    <!-- value="{Start Date - not earlier than business or arrival date, not after departure date}" -->
                    <!--<input id="group-block-from" ng-if="!isInAddMode()" type="text" value="{{groupConfigData.summary.block_from | date:dateFormat}}" readonly />-->
                    <!-- If new group, add class "datepicker" -->
                    <input id="group-block-from" class="datepicker" type="text" ui-date="fromDateOptions" rv-set-textbox-value listen-this="groupConfigData.summary.block_from|date:dateFormat" readonly ng-class="{'not-selected': !groupConfigData.summary.block_from}" />
                </div>
                <div class="entry-data">
                    <label for="group-block-to">
                        {{'TO' | translate}}
                        <strong>*</strong>
                    </label>
                    <!-- value="{End Date - not earlier than Start Date, not after departure date}" -->
                    <!--!<input ng-if="!isInAddMode()" id="group-block-to" type="text" value="{{groupConfigData.summary.block_to | date:dateFormat}}" readonly />-->
                    <!-- If new group, add class "datepicker" -->
                    <input id="group-block-to" class="datepicker" type="text" ui-date="toDateOptions" rv-set-textbox-value listen-this="groupConfigData.summary.block_to|date:dateFormat" readonly ng-class="{'not-selected': !groupConfigData.summary.block_to}" />
                </div>
                <button type="button" class="button blue" ng-show="shouldShowMoveButton()" ng-click="clickedOnMoveButton()">Move Group</button>
                <!-- When button pressed, disable due date input and replace "Move Group" button with: --> 
                <button type="button" class="button blank" ng-show="shouldShowMoveCancelButton()" ng-click="clickedOnCancelMoveButton()">Cancel</button>
                <button type="button" class="button green" ng-show="shouldShowMoveSaveButton()" ng-click="clickedOnSaveMoveButton()">Save</button>            
            </div>
            <div class="entry full-width with-button has-datepicker">
                <label for="group-release-date">
                    {{'ROOM_RELEASE_DATE' | translate}}
                    <strong>*</strong>
                </label>
                <!-- releaseDateOptions -->
                <input class="datepicker" type="text" ui-date="releaseDateOptions" value="{{groupConfigData.summary.release_date|date:dateFormat}}" readonly ng-class="{'not-selected': !groupConfigData.summary.release_date}" />
                <button type="button" ng-hide="isInStaycardScreen()" ng-click="warnReleaseRooms();" class="button" ng-class="{'red': !isInAddMode() ,'grey': isInAddMode() || !!groupConfigData.summary.is_cancelled}" translate>RELEASE_NOW</button>
                <!-- Class grey is for new group (when this button does nothing), red is for existing group -->
            </div>
            <div class="entry clear">
                <label for="group-hold-status">
                    {{'HOLD_STATUS' | translate}}
                    <strong>*</strong>
                </label>
                <div class="select">
                    <select id="group-hold-status" ng-model="groupConfigData.summary.hold_status" iscroll-stop-propagation ng-change="onHoldStatusChange();" ng-disabled="shouldDisableHoldStatusChange()">
                        <option value="" selected translate ng-if="!groupConfigData.summary.hold_status">SET_STATUS</option>
                        <option ng-repeat="holdstatus in groupConfigData.holdStatusList" value="{{holdstatus.id}}" ng-selected="holdstatus.id == groupConfigData.summary.hold_status" ng-hide="holdstatus.name == 'Cancel' && holdstatus.is_system && !isCancellable()">
                            {{holdstatus.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="entry margin">
                <label for="group-revenue" translate>GROUP_APR</label>
                <input id="group-revenue" value="{{getRevenue()}}" type="text" readonly ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry margin small">
                <label for="group-rooms" translate>ROOMS</label>
                <input id="group-rooms" ng-model="groupConfigData.summary.rooms_total" type="text" readonly ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry small">
                <label for="group-pickup" TRANSLATE>PICK_UP</label>
                <input id="group-pickup" ng-model="groupConfigData.summary.rooms_pickup" type="text" readonly ng-disabled="isInStaycardScreen()"/>
            </div>
            <div class="entry full-width with-button">
                <label for="group-rate" translate>RATE</label>
                <div class="select">
                    <select id="group-rate" ng-model="groupConfigData.summary.rate" iscroll-stop-propagation ng-change="onRateChange()" ng-disabled="isInStaycardScreen()">
                        <optgroup>Group Rates</optgroup>
                        <option value="" ng-if="!groupConfigData.summary.rate" selected>Select Rate</option>
                        <option value="-1" ng-selected="groupConfigData.summary.rate == -1">Custom Rate</option>
                        <optgroup ng-show="!!groupSummaryData.rates.length" label="Group Rates">
                            <!-- ... repeat for all rates -->
                            <option ng-repeat="rate in groupSummaryData.rates" ng-selected="groupConfigData.summary.rate == rate.id" value="{{rate.id}}">{{rate.name}}</option>
                        </optgroup>
                        <optgroup ng-show="!!groupSummaryData.contractedRates.length" label="Company/ Travel Agent Contract">
                            <option ng-repeat="rate in groupSummaryData.contractedRates" ng-selected="groupConfigData.summary.rate == rate.id" value="{{rate.id}}">{{rate.name}}</option>
                        </optgroup>
                    </select>
                </div>
                <a ng-click="!groupConfigData.summary.is_cancelled ? (isInAddMode() ? manageAddons() : viewAddons()) : false" class="button with-icon" ng-class="{'brand-colors' : !isInAddMode() && !groupConfigData.summary.is_cancelled, 'grey' : isInAddMode() || !!groupConfigData.summary.is_cancelled}">
                    <!-- {addons-link} can either be for a popup (existing group) or an addons screne (new group) -->
                    <!-- If addons already exist, show:  -->
                    <span ng-show="groupConfigData.summary.addons_count > 0" class="count">
                        {{groupConfigData.summary.addons_count}}
                    </span>
                    <span class="icons icon-addons"></span> Add-Ons
                </a>
            </div>
            <!-- Notes -->
            <strong class="h3 margin">Notes</strong>
            <div class="entry full-width no-label with-notes">
                <textarea id="group-notes" ng-disabled="isInStaycardScreen()" ng-model="groupSummaryData.newNote" placeholder="Write a note" rows="2"></textarea>
                <button type="button" ng-disabled="isInStaycardScreen()" class="button post" ng-class="{'brand-colors' : !isInAddMode() && !isInStaycardScreen() , 'grey' : isInAddMode()||isInStaycardScreen()}" ng-click="saveGroupNote()">Post</button>
            </div>
            <ul class="notes" ng-disabled="isInStaycardScreen()">
                <li ng-repeat="note in groupConfigData.summary.notes">
                    <figure class="guest-image">
                        <img src="{{note.user_image}}" alt="" />
                    </figure>
                    <div class="note-title">
                        <h4>{{note.username}}</h4>
                        <time datetime="{{note.posted_date}}">
                            <span class="time">{{note.posted_date}}</span>
                            <span class="date">{{note.posted_time}}</span>
                        </time>
                        <button type="button" class="icons icon-trash" ng-click="removeGroupNote(note.note_id)">Delete post</button>
                    </div>
                    <p>{{note.description}}</p>
                </li>
            </ul>
        </div>
    </div>
</form>
