<div role="dialog" id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}">

	<div class="modal-content diary-change-stay">
	    <button id="modal-close" type="button" class="modal-close" ng-click="closeDialog()">
	    	<span class="icons icon-close invert"></button>
	    <span class="h2 message">
	        Extend Stay Failed!
	    </span>

	    <span class="stay-info-text hidden">From</span>
	    <div class="stay-info from hidden">
	        <div class="stay-nights">
	            <span class="guest-status nights"></span>
	            {nights} Nights
	        </div>
	        <div class="arrival">
	            <span class="guest-status check-in"></span>
	            {Arrival Day} {Arrival Date}
	        </div>
	        <div class="departure">
	            <span class="guest-status check-out"></span>
	            {Departure Day} {Departure Date}
	        </div>
	    </div>

	    <span class="stay-info-text hidden">To</span>
	    <div class="stay-info hidden">
	        <div class="stay-nights">
	            <span class="guest-status nights"></span>
	            {nights} Nights
	        </div>
	        <div class="arrival">
	            <span class="guest-status check-in"></span>
	            {Arrival Day} {Arrival Date}
	        </div>
	        <div class="departure">
	            <span class="guest-status check-out"></span>
	            {Departure Day} {Departure Date}
	        </div>
	    </div>

	    <div class="stay-change-status">
	        <!-- Status color classes:
	            - orange
	            - red
	            - green
	        -->
	        <h3 class="red">{{popupData.message}}</h3>
	        <p ng-if="!popupData.showOverBookingButton">For stay extension options please go to the Stay card</p>
	        <p ng-if="popupData.showOverBookingButton">Overbook or Try different dates</p>
	        <!-- Button color classes:
	            - blue (Overbook button)
	            - brand-colors (Go to buttons)
	            Remove .hidden to show the button
	        -->
	        <button ng-if="popupData.showOverBookingButton" type="button" class="button blue">Overbook</button>
	    </div>

	    <!-- Remove .hidden after "Checking.." is done -->
	    <div class="actions">
	        <button type="button" class="button blank modal-close" ng-click="closeDialog()">Close Window</button> 
	    </div>
	</div>

</div>	