<!-- main section starts here -->
<div class="container">
    <!-- final message -->
    <div class="row" ng-show="isCheckoutCompleted">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="main-text" ng-if="!screenCMSDetails.title">Thank you for staying with us!</p>
            <p class="main-text" ng-if="screenCMSDetails.title" ng-bind-html="screenCMSDetails.title"></p>
            <p class="sub-main-text" ng-if="!screenCMSDetails.description">Hope you enjoyed.</p>
            <p class="sub-main-text" ng-if="screenCMSDetails.description" ng-bind-html="screenCMSDetails.description"></p>
        </div>
        <div class="col-md-2">
        </div>                   
    </div> 
</div>
