<!-- main section starts here -->
<div class="container">
    <!-- late checkout success -->
    <div class="row" ng-show="success">
        <div class="col-md-2"></div>
        <!-- left side -->
        <div class="col-md-4 top-spacing">
            <p class="main-text">Thank You.</p>
            <p class="sub-main-text"><em>The following will appear on your bill.</em>
	        </p>
	       <p class="sub-main-text">Late Check-out ({{ lateCheckOut.time }} {{ lateCheckOut.ap }} ) .... {{currencySymbol}}{{ lateCheckOut.amount }}
           </p>
           <p class="sub-main-text">
            <em>{{keyExpiry}}</em>
           </p>
        </div>
        <div class="col-md-1"></div>
        <!-- right side -->
        <div class="col-md-3 top-spacing sm-no-top-spacing">
            <a class="btn btn-template margin-top-10" ui-sref="checkOutConfirmation"> Back to Check-out</a>
        </div>
        <div class="col-md-1">
        </div>                   
    </div>
</div>