<form method="get" action="" name="commisions-search-form" id="commisions-search-form" class="search-form has-options three-options three-actions" role="search">
    <!-- Add .commision-checked when one or more commisions are checked -->
    <div class="entry search">
        <!-- add class .visible when keywords are entered -->
        <button class="clear-query" ng-class="{'visible' : filterData.searchQuery.length >0 }" ng-click ="clearSearchQuery()">
            <span class="icons icon-clear-search" >Clear query</span>
        </button>
        <button class="icons icon-search">Search</button>
        <input name="commisions-query" class="query" placeholder="Search by Agent Name, IATA Number or City" type="search" autocomplete="off" ng-model="filterData.searchQuery" ng-change="searchAccounts()">
    </div>
    <div class="entry options">
        <div class="select with-label">
            <label for="paid-status" >Paid Status</label>
            <select ng-init="filterData.paidStatus = filterData.paidStatusOptions[0]" ng-model="filterData.paidStatus" ng-change="searchAccounts()" id="sort-by"  ng-options="option.name for option in filterData.paidStatusOptions">
            </select>
        </div>

        <div class="input with-label">
            <label for="min-amount">{{'MIN_AMOUNT' | translate}}({{currencySymbol}})</label>
            <input type="text" ng-model="filterData.minAmount" id="min-amount" ng-change="searchAccounts()">
        </div>

        <div class="select with-label larger-select">
            <label for="sort-by">Sort By</label>
            <select ng-init="filterData.sort_by = filterData.sortOptions[0]" ng-model="filterData.sort_by" ng-change="searchAccounts()" id="sort-by"  ng-options="option.name for option in filterData.sortOptions">
            </select>
        </div>
    </div>
    <div class="entry actions">
        <button type="button" class="button blue with-icon only-icon">
            <span class="icons icon-print"></span>
        </button>
        <!-- Remove class .hidden when one/more commisions are checked -->
        <button type="button" class="button red with-icon only-icon hidden">
            <span class="icons icon-hold"></span>
        </button>
        <!-- Remove class .hidden when one/more commisions are checked -->
        <button type="button" class="button green with-icon only-icon hidden">
            <span class="icons icon-wallet"></span>
        </button>
    </div>
</form>

<!-- Search pagination -->
<div class="search-pagination" ng-show="true">
    <button type="button" class="button dark-grey next" ng-click="loadNextPage()" ng-disabled="isNextButtonDisabled()" translate>NEXT</button>
    <button type="button" class="button dark-grey prev" ng-click="loadPrevPage()" ng-disabled="isPrevButtonDisabled()" translate>PREVIOUS</button>
    <p>{{'SHOWING' | translate}} <strong>{{start}}-{{end}}</strong> {{'OF' | translate}} <strong id="total-count">{{commissionsData.total_results}}</strong> {{'ITEMS' | translate}}</p>
</div>

<!-- Search panel - WITH RESULTS -->
<section class="content commisions-content" role="main">
    <div class="commisions-header">

        <ul class="commisions-totals">
            <!--<li class="check">-->
                <!--<span>Select</span>-->
                <!--&lt;!&ndash; add .checked when checked &ndash;&gt;-->
                <!--<label class="checkbox inline">-->
                    <!--&lt;!&ndash; add .checked when all is checked-->
                         <!--add .semi-checked when only part of commissions are checked &ndash;&gt;-->
                    <!--<span class="icon-form icon-checkbox"></span>-->
                    <!--&lt;!&ndash; add attribute checked="checked" when checked &ndash;&gt;-->
                    <!--<input type="checkbox" value="{value}">-->
                <!--</label>-->
            <!--</li>-->
            <li>
                <span>Open Bills</span>
                <span class="amount">{{commissionsData.total_number_of_unpaid_bills}}</span>
            </li>
            <li>
                <span>Total Revenue</span>
                <span class="amount">{{currencySymbol}}{{commissionsData.total_revenue}}</span>
            </li>
            <li>
                <span>Total to Date</span>
                <span class="amount">{{currencySymbol}}{{commissionsData.total_commission_to_date}}</span>
            </li>
            <li>
                <span>Total Paid</span>
                <span class="amount green">{{currencySymbol}}{{commissionsData.total-paid}}</span>
            </li>
            <li>
                <span>Total Owing</span>
                <span class="amount red">{{currencySymbol}}{{commissionsData.total_commission_owing}}</span>
            </li>
        </ul>
    </div>
    <!-- Add .no-pagination when there is no pagination -->
    <!-- Add .no-commisions-header when there is no header -->
    <div class="commisions-list scrollable" ng-iscroll='commissionOverViewScroll'>
        <div class="wrapper">
            <ul class="search-results">
                <li class="commision-item" ng-repeat ="account in commissionsData.accounts">
                    <!--<div class="check">-->
                        <!--&lt;!&ndash; add .checked when checked &ndash;&gt;-->
                        <!--<label class="checkbox inline">-->
                            <!--&lt;!&ndash; add .checked when checked &ndash;&gt;-->
                            <!--<span class="icon-form icon-checkbox"></span>-->
                            <!--&lt;!&ndash; add checked="checked" when checked &ndash;&gt;-->
                            <!--<input value="{value}" type="checkbox">-->
                        <!--</label>-->
                    <!--</div>-->
                    <a href="{travel-agent-commision-page">
                        <span class="account-image icons icon-travel-agent"></span>
                        <div class="data">
                            <h2>{{account.account_name}}</h2>
                            <div class="meta-data">
                                <span class="icons icon-location">{{account.location}}</span>
                                <span class="icons icon-guest-travelagent">{{account.iata_number}}</span>
                            </div>
                        </div>
                        <div class="info-holder">
                            <div class="info open-bills">
                                <strong>{{account.number_of_unpaid_bills}}</strong>
                                <span>Open Bills</span>
                            </div>
                            <div class="info">
                                <strong>{{currencySymbol}}{{account.total_revenue}}</strong>
                                <span>Revenue</span>
                            </div>
                            <div class="info">
                                <strong class="green">{{currencySymbol}}{{account.commission_to_date}}</strong>
                                <span>To Date</span>
                            </div>
                            <div class="info">
                                <!-- add class .red if 'owing' > 0 -->
                                <strong ng-class="{'red': account.commission_owing > 0 }">{{currencySymbol}}{{account.commission_owing}}</strong>
                                <span>Owing</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>