<!-- Search form -->
<form method="get" action="" name="commisions-search-form" id="commisions-search-form" class="search-form has-options two-options" role="search">
   <!-- Add .commision-checked when one or more commisions are checked -->
   <div class="entry search">
      <!-- add class .visible when keywords are entered -->
      <button class="clear-query" ng-class="{'visible' : filterData.searchQuery.length >0 }" ng-click ="clearSearchQuery()">
      <span class="icons icon-clear-search" >Clear query</span>
      </button>
      <button class="icons icon-search">Search</button>
      <input name="commisions-query" class="query" placeholder="Search by Agent Name, IATA Number or City" type="search" autocomplete="off" ng-model="filterData.searchQuery" ng-change="searchAccounts()">
   </div>
   <div class="entry options">
      <div class="input with-label">
         <label for="min-amount">{{'MIN_AMOUNT' | translate}}({{ ::currencySymbol }})</label>
         <input type="text" ng-model="filterData.minAmount" id="min-amount" ng-change="searchAccounts()">
      </div>
      <div class="select with-label larger-select">
         <label for="sort-by">Sort By</label>
         <select ng-init="filterData.sort_by = filterData.sortOptions[0]" ng-model="filterData.sort_by" ng-change="searchAccounts()" id="sort-by"  ng-options="option.name for option in filterData.sortOptions">
         </select>
      </div>
   </div>
   <div class="entry actions">
      <button type="button" class="button blue with-icon only-icon" ng-click="printButtonClick()">
      <span class="icons icon-print"></span>
      </button>
   </div>
</form>
<!-- Search pagination -->
<div class="search-pagination" ng-show="showPagination">
   <button type="button" class="button dark-grey next" ng-click="loadNextPage()" ng-disabled="isNextButtonDisabled()" translate>NEXT</button>
   <button type="button" class="button dark-grey prev" ng-click="loadPrevPage()" ng-disabled="isPrevButtonDisabled()" translate>PREVIOUS</button>
   <p>{{'SHOWING' | translate}} <strong>{{start}}-{{end}}</strong> {{'OF' | translate}} <strong id="total-count">{{ ::commissionsData.total_results }}</strong> {{'ITEMS' | translate}}</p>
</div>
<!-- Search panel - WITH RESULTS -->
<section class="content commissions-content" role="main">
   <!-- When searching, add .searching-->
   <div class="commissions-header">
      <ul class="filters">
         <!-- Add .active to current filter -->
         <li ng-class="{ 'active' : filterData.filterTab === 'PAYABLE' }" ng-click="setFilterTab('PAYABLE')">
            Payable
            <strong>{{ ::currencySymbol }}44</strong>
         </li>
         <li ng-class="{ 'active' : filterData.filterTab === 'ON_HOLD' }" ng-click="setFilterTab('ON_HOLD')">
            On Hold
            <strong>{{ ::currencySymbol }}44</strong>
         </li>
      </ul>
      <!-- Hide if 1 or more agents are selected (checked) -->
      <ul class="commissions-info" ng-hide="isAnyCommisionSelected">
         <!-- Show if active filter: Payable -->
         <li>
            <span>Eligible for payment</span>
            <span class="amount">{{ ::currencySymbol }}444</span>
         </li>
         <!-- Show if active filter: Payable -->
         <li class="actions">
            <button type="button" class="button purple with-icon" ng-click="exportCommisions()">
            <span class="icons icon-save"></span>Export
            </button>
         </li>
         <!-- Show if active filter: On Hold (remove .hidden) -->
         <li class="hidden">
            <span>Amount on Hold</span>
            <span class="amount">{{ ::currencySymbol }}444</span>
         </li>
      </ul>
      <!-- Show if active filer: Payable & 1 or more agents are selected (checked) (remove .hidden) -->
      <ul class="commissions-selected commissions-info" ng-show="isAnyCommisionSelected && filterData.filterTab === 'PAYABLE' ">
         <li>
            <span>Bills Selected</span>
            <span class="amount">{{ noOfBillsSelected }}</span>
         </li>
         <li>
            <span>Eligible for payment</span>
            <span class="amount">{{ ::currencySymbol }} 55</span>
         </li>
         <li class="actions">
            <button type="button" class="button red with-icon" ng-click="putOnHoldCommisions()"><span class="icons icon-hold"></span>Hold</button>
            <button type="button" class="button purple with-icon" ng-click="exportCommisions()"><span class="icons icon-save"></span>Export</button>
            <button type="button" class="button green with-icon" ng-click="setRecordsToPaid()"><span class="icons icon-wallet"></span>Set records to paid</button>
            <!-- Clear checked agents -->
            <button type="button" class="button white">Cancel</button>
         </li>
      </ul>
      <!-- Show if active filer: On Hold & 1 or more agents are selected (checked) (remove .hidden) -->
      <ul class="commissions-selected commissions-info" ng-show="isAnyCommisionSelected && filterData.filterTab === 'ON_HOLD' ">
         <li>
            <span>Bills Selected</span>
            <span class="amount">{{ noOfBillsSelected }}</span>
         </li>
         <li>
            <span>Amount on Hold</span>
            <span class="amount">{{ ::currencySymbol }} 44</span>
         </li>
         <li class="actions">
            <button type="button" class="button blue with-icon" ng-click="releaseCommisions()"><span class="icons icon-release"></span>Release</button>
            <!-- Clear checked agents -->
            <button type="button" class="button white" ng-click="resetSelections()">Cancel</button>
         </li>
      </ul>
      <!-- Hide if 1 or more agents are selected (checked) or searching -->
      <ul class="commissions-info totals">
         <li>
            <span>Open Bills</span>
            <span class="amount">44</span>
         </li>
         <li>
            <span>Total Owing</span>
            <span class="amount red">{{ ::currencySymbol }}{total-owing}</span>
         </li>
      </ul>
   </div>
   <!-- Add .no-pagination when there is no pagination -->
   <!-- Add .no-commisions-header when there is no header -->
   <div class="commissions-list">
      <!-- Add .hidden if no results (Hide)-->
      <ul class="commissions-list-header">
         <li class="expand">
            <span class="icons icon-double-arrow black expand-arrow"></span>
         </li>
         <li class="check">
            <!-- If clicked, check all or uncheck all -->
            <!-- Add .checked if checked -->
            <label class="checkbox inline">
               <!-- Add .checked if all are checked, add .semi-checked if some of the agents are checked -->
               <span class="icon-form icon-checkbox" ng-class="{'checked': allCommisionsSelected, 'semi-checked': isAnyCommisionSelected && !allCommisionsSelected}"></span>
               <!-- add checked="checked" when checked -->
               <input type="checkbox" ng-model="allCommisionsSelected" ng-change="allCommisionsSelectionChanged()">
            </label>
         </li>
         <li class="agent-info">
            Travel Agent Info
         </li>
         <!-- Show if active filter: Payable (add .hidden to hide) -->
         <li>
            Payable Bills
         </li>
         <!-- Show if active filter: On Hold (remove .hidden)-->
         <li class="hidden">
            Bills on Hold
         </li>
         <li>
            Commission
         </li>
         <li>
            Owing
         </li>
      </ul>
      <!-- Add .no-results if no results -->
      <div class="commissions-list-content scrollable" ng-class="{'no-results': commissionsData.accounts.length === 0}" ng-iscroll='commissionOverViewScroll'>
         <div class="wrapper">
            <ul class="search-results">
               <!-- Show if no results -->
               <li class="no-content" ng-show="commissionsData.accounts.length === 0">
                  <div class="info">
                     <span class="icon-no-content icon-ok"></span>
                     <strong class="h1">No Commissions</strong>
                     <!-- <span class="h2">{no-content-message}</span> -->
                  </div>
               </li>
               <li class="commision-item" ng-repeat ="account in commissionsData.accounts">
                  <!-- Add .expanded if expanded -->
                  <div class="faux-anchor" ng-class="{'expanded' : expandedSubmenuId === account.id}">
                     <div class="expand toggle" ng-click="expandCommision(account)">
                        <!-- Add .active if expanded -->
                        <span class="icons icon-double-arrow black expand-arrow" ng-class="{'active' : expandedSubmenuId === account.id}"></span>
                     </div>
                     <div class="check">
                        <!-- add .checked when checked -->
                        <label class="checkbox inline">
                           <!-- add .checked when checked -->
                           <span class="icon-form icon-checkbox" ng-class="{'checked': account.isSelected, 'semi-checked': account.isSemiSelected}"></span>
                           <!-- add checked="checked" when checked -->
                           <input type="checkbox" ng-model="account.isSelected" ng-change="commisionSelectionChanged(account)">
                        </label>
                     </div>
                     <a class="has-arrow" ng-click="navigateToTA(account)">
                        <span class="account-image icons icon-travel-agent"></span>
                        <div class="data">
                           <h2>{{ ::account.account_name }}</h2>
                           <div class="meta-data">
                              <span class="icons icon-guest-travelagent">{{ ::account.iata_number }}</span>
                              <span class="icons icon-location">{{ ::account.location }}</span>
                           </div>
                        </div>
                        <!-- Show only if on hold -->
                        <span class="icons icon-hold red" ng-show="true"></span>
                        <ul class="info">
                           <li>
                              {{ ::account.number_of_unpaid_bills }}
                           </li>
                           <li>{{ ::currencySymbol }}{{ ::account.commission_owing | number: precisonTwo }}</li>
                           <!-- Remove class .red if 0 -->
                           <li ng-class="{'red': account.commission_owing > 0 }">{{ ::currencySymbol }}{{ ::account.commission_owing | number: precisonTwo }}</li>
                        </ul>
                     </a>
                     <!-- Remove .hidden when expanded -->
                     <div class="commission-details" ng-class="{'hidden' :expandedSubmenuId !== account.id}">
                        <table style="margin-bottom: 60px;">
                           <thead>
                              <tr>
                                 <th></th>
                                 <th class="name">Guest</th>
                                 <!-- Show this only if active filter: Payable -->
                                 <th class="amount">Conf. No.</th>
                                 <th class="amount">Revenue</th>
                                 <th class="amount">Commission</th>
                                 <th class="owing">Owing</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-show="selectedCommisionReservations.reservations.length == 0"><td colspan="3">No data present.</td></tr>
                              <!-- Add class .odd or .even based on the row number -->
                              <tr ng-class="{'odd': $index % 2 != 0, 'even': $index % 2 == 0}" ng-repeat="reservation in selectedCommisionReservations.reservations">
                                 <td>
                                    <label class="checkbox inline">
                                      <!-- add .checked when checked -->
                                       <span class="icon-form icon-checkbox" ng-class="{'checked': reservation.isSelected}"></span>
                                       <!-- add checked="checked" when checked -->
                                       <input type="checkbox" ng-model="reservation.isSelected" ng-change="reservationSelectionChanged()">
                                    </label>
                                 </td>
                                 <td class="name">{{ ::reservation.last_name }}, {{ reservation.first_name}}</td>
                                 <!-- Show this only if active filter: Payable -->
                                 <td class="amount">{{ ::currencySymbol}} {{  reservation.conf_no}}</td>
                                 <td class="amount">
                                    {{ ::currencySymbol }} {{ reservation.revenue}}
                                 </td>
                                 <td class="amount">
                                    {{ ::currencySymbol }} {{ reservation.commission}}
                                 </td>
                                 <!-- Add .red if more than 0 -->
                                 <td class="owing" ng-class="{'red': reservation.owing>0}">{{ ::currencySymbol }} {{ reservation.owing}}</td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="search-pagination" ng-show="showResPagination">
                           <button type="button" class="button dark-grey next" ng-click="loadNextReservationPage()" ng-disabled="disableReservationNextPage()" translate>NEXT</button>
                           <button type="button" class="button dark-grey prev" ng-click="loadPrevReservationPage()" ng-disabled="reservationsPageNo === 1" translate>PREVIOUS</button>
                           <p>{{'SHOWING' | translate}} <strong>{{startRes}}-{{endRes}}</strong> {{'OF' | translate}} <strong id="total-count">{{ ::selectedCommisionReservations.total_count }}</strong> {{'ITEMS' | translate}}</p>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>