<div id="modal" class="modal-show" ng-cloak>
	<div class="modal-content new-content">
		<form method="post" action="" id="fitler-rooms" name="fitler-rooms" class="modal-content form fitler-rooms">

			<span class="h2 message">Filter Rooms</span>
			<div class="full-width">     
				<div class="entry" style="width:50%">
					<div class="select full-width">
		                <select id="worksheet-unassigned-floor" name="worksheet-unassigned-floor" ng-model="filters.selectedFloor" ng-class="{'placeholder': !filters.selectedFloor}" ng-options="floor.floor_number as floor.description for floor in floors">
		                    <option value="" selected>All floors</option>
		                </select>   
					</div>
				</div>
				<div class="entry" style="width:50%">	
					<label class="checkbox inline" ng-class="{checked: filters.vipsOnly}">
		                <span class="icon-form icon-checkbox" ng-class="{checked: filters.vipsOnly}"></span>
		                <input type="checkbox" ng-class="{checked: filters.vipsOnly}" ng-model="filters.vipsOnly"/>
		                Show VIPs only
		            </label> 
	        	</div>
	        </div>
	            
	        <div class="full-width" style="clear:both">
	            <div class="entry" style="width:50%">
					<div class="select">
		                <select ng-model="filters.selectedFOStatus" ng-class="{'placeholder': !filters.selectedFOStatus}">
		                    <!-- Add class="placeholder" if value="" is selected -->
		                    <option value="">FO status</option>
		                    <option value="VACANT">Vacant</option>
		                    <option value="OCCUPIED">Occupied</option>
		                </select>
					</div>
				</div>
				<div class="entry" style="width:50%">
					<div class="select">
		                <select ng-model="filters.selectedReservationStatus" ng-class="{'placeholder': !filters.selectedReservationStatus}">
		                    <!-- Add class="placeholder" if value="" is selected -->
		                    <option value="">Reservation status</option>
		                    <option value="Not Reserved">Not Reserved</option>                    
		                    <option value="Arrival">Arrival</option>
		                    <option value="Arrived">Arrived</option>
		                    <option value="STAYOVER">STAYOVER</option>
		                    <option value="Due out">Due out</option>
		                    <option value="Departed">Departed</option>
		                </select>
					</div>
				</div>
			</div>				
			
			<div class="entry full-width" style="clear:both">
				Arrival Time				
				<div class="reservation-times"> 
					<!-- Arrival time -->
					<div class="check-data icons icon-time time-in"> <!-- Add class 'locked' if time is not editable -->
					    <label class="label"> > </label>
					    <div class="select hour" style="width:33%;max-width:75px;float: left;">
					        <select ng-model="filters.checkin.after.hh" ng-model="reservationParentData.checkinTime.hh" > <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">HH</option> <!-- Selected if time not set -->
					            <option value="01">01</option>
					            <option value="02">02</option>
					            <option value="03">03</option>
					            <option value="04">04</option>
					            <option value="05">05</option>
					            <option value="06">06</option>
					            <option value="07">07</option>
					            <option value="08">08</option>
					            <option value="09">09</option>
					            <option value="10">10</option>
					            <option value="11">11</option>
					            <option value="12">12</option>
					        </select>
					    </div>
					    <div class="select minutes">
					        <select ng-model="filters.checkin.after.mm" style="width:33%;max-width:75px;float: left;"> <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">MM</option> <!-- Selected if time not set -->
					            <option value="00">00</option>
					            <option value="15">15</option>
					            <option value="30">30</option>
					            <option value="45">45</option>
					        </select>
					    </div>
					    <div class="select ampm">
					        <select ng-model="filters.checkin.after.am" style="width:33%;max-width:75px;float: left;">
					            <option value="AM" selected>AM</option>
					            <option value="PM">PM</option>
					        </select>
					    </div>
					    <label class="label" style="clear:both"> < </label>
					    <div class="select hour" style="width:33%;max-width:75px;float: left;">
					        <select ng-model="filters.checkin.before.hh" > <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">HH</option> <!-- Selected if time not set -->
					            <option value="01">01</option>
					            <option value="02">02</option>
					            <option value="03">03</option>
					            <option value="04">04</option>
					            <option value="05">05</option>
					            <option value="06">06</option>
					            <option value="07">07</option>
					            <option value="08">08</option>
					            <option value="09">09</option>
					            <option value="10">10</option>
					            <option value="11">11</option>
					            <option value="12">12</option>
					        </select>
					    </div>
					    <div class="select minutes">
					        <select ng-model="filters.checkin.before.mm" style="width:33%;max-width:75px;float: left;"> <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">MM</option> <!-- Selected if time not set -->
					            <option value="00">00</option>
					            <option value="15">15</option>
					            <option value="30">30</option>
					            <option value="45">45</option>
					        </select>
					    </div>
					    <div class="select ampm">
					        <select ng-model="filters.checkin.before.am" style="width:33%;max-width:75px;float: left;">
					            <option value="AM" selected>AM</option>
					            <option value="PM">PM</option>
					        </select>
					    </div>
					</div>
				</div>
			</div>

			<div class="entry full-width" style="clear:both">
				Departure Time				
				<div class="reservation-times"> 
					<!-- Arrival time -->
					<div class="check-data icons icon-time time-in"> <!-- Add class 'locked' if time is not editable -->
					    <label class="label"> > </label>
					    <div class="select hour" style="width:33%;max-width:75px;float: left;">
					        <select ng-model="filters.checkout.after.hh" > <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">HH</option> <!-- Selected if time not set -->
					            <option value="01">01</option>
					            <option value="02">02</option>
					            <option value="03">03</option>
					            <option value="04">04</option>
					            <option value="05">05</option>
					            <option value="06">06</option>
					            <option value="07">07</option>
					            <option value="08">08</option>
					            <option value="09">09</option>
					            <option value="10">10</option>
					            <option value="11">11</option>
					            <option value="12">12</option>
					        </select>
					    </div>
					    <div class="select minutes">
					        <select ng-model="filters.checkout.after.mm" style="width:33%;max-width:75px;float: left;"> <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">MM</option> <!-- Selected if time not set -->
					            <option value="00">00</option>
					            <option value="15">15</option>
					            <option value="30">30</option>
					            <option value="45">45</option>
					        </select>
					    </div>
					    <div class="select ampm">
					        <select ng-model="filters.checkout.after.am" style="width:33%;max-width:75px;float: left;">
					            <option value="AM">AM</option>
					            <option value="PM">PM</option>
					        </select>
					    </div>
					    <label class="label" style="clear:both"> < </label>
					    <div class="select hour" style="width:33%;max-width:75px;float: left;">
					        <select ng-model="filters.checkout.before.hh" > <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">HH</option> <!-- Selected if time not set -->
					            <option value="01">01</option>
					            <option value="02">02</option>
					            <option value="03">03</option>
					            <option value="04">04</option>
					            <option value="05">05</option>
					            <option value="06">06</option>
					            <option value="07">07</option>
					            <option value="08">08</option>
					            <option value="09">09</option>
					            <option value="10">10</option>
					            <option value="11">11</option>
					            <option value="12">12</option>
					        </select>
					    </div>
					    <div class="select minutes">
					        <select ng-model="filters.checkout.before.mm" style="width:33%;max-width:75px;float: left;"> <!-- Add attribute 'disabled' if time is not editable -->
					            <option value="">MM</option> <!-- Selected if time not set -->
					            <option value="00">00</option>
					            <option value="15">15</option>
					            <option value="30">30</option>
					            <option value="45">45</option>
					        </select>
					    </div>
					    <div class="select ampm">
					        <select ng-model="filters.checkout.before.am" style="width:33%;max-width:75px;float: left;">
					            <option value="AM">AM</option>
					            <option value="PM">PM</option>
					        </select>
					    </div>
					</div>
				</div>
			</div>

			<div class="actions" style="clear:both">
				<button type="button" ng-click="filterUnassigned()" class="button green modal-close">Continue</button>
				<button type="button" ng-click="closeDialog()" class="button blank modal-close">Cancel</button> 
			</div>
		</form>
	</div>
</div>