<div id="modal" ng-class="{'modal-show': !modalClosing}" role="dialog">
    <div class="modal-content form new-worksheet">
        <button id="modal-close" type="button" ng-click="closeSaveConfirmationDialog()" class="modal-close"><span class="icons icon-close invert"></span></button>
        <span class="message h2" translate>Save Work Sheet First?</span>

        <div class="actions">
            <button type="button" class="button green"
                ng-click="saveMultiSheet({
                    callNextMethod: 'updateView'
                });"
                translate>SAVE
            </button>
            <button type="button" class="button blank"
                ng-click="closeSaveConfirmationDialog()"
                translate>CANCEL
            </button>
        </div>
    </div>
</div>