<form method="post" action="{action}" id="new-property-group" class="form inline-form float">
    <div class="form-title">
        <h3><span>Add new</span> Property Group</h3>
        <em class="status">Fields marked with <strong>*</strong> are mandatory!</em>
    </div>

    <div class="entry with-button float">
        <label for="name">{{'GROUP_NAME' | translate}} <strong>*</strong></label>
        <input id="name" value="" ng-model="prefetchData.name" placeholder="Enter group name" type="text" required />
    </div>
    <div class="entry full-width">
        <label class="no-margin">{{'HOTELS_IN_GROUP' | translate}} <strong>*</strong></label>
        <em class="entry-description">Selecting a hotel from another group will remove it from that group once you save changes.</em>
        <div class="boxes col3">
            <!-- First, show all hotels that are not added to existing groups, like this -->
           <!--  <label class="checkbox inline with-description" ng-repeat="option in prefetchData.chain_hotels">
                <span class="icon-form icon-checkbox"></span>
                <input type="checkbox">
                {{option.name}}
            </label> -->
            <!-- ... repeat L18-L22 for every hotel that's not added to existing groups -->

            <!-- Then, show all hotels added to existing groups -->
            <label class="checkbox inline with-description" ng-repeat="option in prefetchData.chain_hotels" ng-class="{ 'checked' : option.is_checked, 'disabled': option.is_already_linked_to_group }"> <!-- When this is selected, remove class "disabled" and add class "checked". When unselected, remove class "checked" and add class "disabled" -->
                <span class="icon-form icon-checkbox checked"></span> <!-- Class 'checked' should always be applied, even if L28 is not checked -->
                <input type="checkbox" ng-click="checkBoxClicked($index)" ng-class="{ 'checked' : option.is_checked, 'disabled': option.is_already_linked_to_group }" ng-model="option.is_checked"> <!-- Toggle attr 'checked' when clicked is-checked="option.is_checked" is-grayed="option.is_already_linked_to_group" -->
                <span>{{option.name}}</span>
                <em>{{option.belongs_to_property_group}}</em>
            </label>
            <!-- ... repeat L26-31 for every hotel that's added to existing groups -->
        </div>
    </div>

    <div class="actions">
        <button type="button" class="button blank">Cancel</button>
        <button type="button" class="button green">Add Group</button>
    </div>
</form>


<!-- <div class="data-holder">
	<section class="content-scroll">
		<form id="edit-like" class="form inline-form float">
			<fieldset class="holder full-width" >
				<div class="form-title">
					<h3><span ng-show="isAdd" translate>NEW</span>
					<span ng-show="isEdit" translate>Edit</span>
					{{'PROPERTY_GROUP' | translate}} </h3>
					<em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
				</div>
				<fieldset class="holder left">
					<div class="entry full-width">
						<label>
					        {{'GROUP_NAME' | translate}}
					        <strong > * </strong></label>
					    </label>
						<input type="text" placeholder="Enter Group Name" ng-model="prefetchData.name" class="date-picker-input-small"/>
						<div class="item-delete-wrapper">
	                		<span class="icons delete_small rate_end_delete cursor_pointer item-delete" ng-click="deleteEndDate()">
	                		</span>
	                		<span class="item-delete-text">Delete</span>
		                </div>
					</div>
				</fieldset>
				<div class="entry full-width float">
				    <label>
				        {{'HOTELS_IN_GROUP' | translate}}
				        <strong > * </strong></label>
				    </label>
					<div id="newspaper-options" class="boxes">

						<label class="checkbox inline" ng-repeat="option in prefetchData.chain_hotels">
							<ad-checkboxgrp toggle="checkBoxClicked($index)" label="{{option.name}}" is-checked="option.is_checked" is-grayed="option.is_already_linked_to_group" sub-title="{{option.belongs_to_property_group}}"></ad-checkboxgrp>
						</label>

					</div>
				</div>
			</fieldset>
			<div class="actions float">
				<button type="button"  ng-click="clickedCancel()" class="button blank edit-data-inline" translate>CANCEL</button>
				<button type="button"  ng-click="clickedSave()" class="button green edit-data-inline" translate>SAVE_GROUP</button>
			</div>
		</form>
	</section>
</div> -->