
<!-- Bill Tabs for Day items and Group items -->
<div class="bill-summary-wrapper" ng-controller = "billSummaryController">
	<div id="bill1-summary" class="scrollable">
		<ul class="wrapper" style="width: 348px; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
			<li class="add-new">
				<a id="add-new-button" class="add-new-button">+ Add</a>
			</li>
			<!-- For checkin date -->
			<li class="active check-in">
				<a href="#bill1-expense1" class="toggle dual-toggle"> <span class="day"> Tue </span> <span class="date"> 31 </span> <span class="guest-status check-in small-icon">check-in</span> <span class="price">$                  199</span> </a>
			</li>
			<!-- For checkout date -->
			<!-- For checkin date -->
			<li>
				<a href="#bill1-expense2" class="toggle dual-toggle"> <span class="day"> Wed </span> <span class="date"> 01 </span> <span class="price">$                  199</span> </a>
			</li>
			<!-- For checkin date -->
			<li class="check-out">
				<div class="no-expense">
					<span class="day"> Thu </span>
					<span class="date"> 02 </span>
					<span class="guest-status check-out small-icon">check-out</span>
				</div>
			</li>
			<!-- For dates between checkin and checkout -->
			<!-- packages -->
			<li class="package last active">
				<a href="#bill1-package4" class="toggle dual-toggle"> <span class="day"> Packages </span> <span class="price"> INCL </span> </a>
			</li>
			<!-- Group items tab -->
		</ul>
		<div class="iScrollHorizontalScrollbar iScrollLoneScrollbar" style="overflow: hidden; pointer-events: none;">
			<div class="iScrollIndicator" style="transition-duration: 0ms; display: none; width: 1261px; transform: translate(-10px, 0px) translateZ(0px); transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);"></div>
		</div>
	</div>
	<!-- Bill  summaries -->
	<!-- Bill item per day -Summary -->
	<div id="bill1-expense1" class="summary-expanded float hidden">
		<a href="#bill1-expense1-details" class="toggle has-arrow">
		<div class="price">
			$              199.00 <span>+ fees</span>
		</div>
		<div class="rate">
			<span> Rate per night </span>
			Bed &amp; Breakfast Package
		</div>
		<div class="room">
			<span> Guest Room Type </span>
			Standard Room- Double Beds
		</div> </a>
		<form method="post" action="/check-in">
			<label for="bill1-expense1-tobill">Bill #</label>
			<div class="select">
				<select name="bill1-expense1-tobill">
					<option value="" disabled="disabled" class="placeholder">Move to bill</option>
					1
					<option value="1" selected="selected"> 1 </option>
				</select>
			</div>
		</form>
		<div id="bill1-expense1-details" class="stay-details float hidden">
			<div class="rate-details">
				Bed &amp; Breakfast Package
			</div>
			<div class="room-details">
				Standard Room- Double Beds
			</div>
		</div>
	</div>
	<div id="bill1-expense2" class="summary-expanded float hidden">
		<a href="#bill1-expense2-details" class="toggle has-arrow">
		<div class="price">
			$              199.00 <span>+ fees</span>
		</div>
		<div class="rate">
			<span> Rate per night </span>
			Bed &amp; Breakfast Package
		</div>
		<div class="room">
			<span> Guest Room Type </span>
			Standard Room- Double Beds
		</div> </a>
		<form method="post" action="/check-in">
			<label for="bill1-expense2-tobill">Bill #</label>
			<div class="select">
				<select name="bill1-expense1-tobill">
					<option value="" disabled="disabled" class="placeholder">Move to bill</option>
					1
					<option value="1" selected="selected"> 1 </option>
				</select>
			</div>
		</form>
		<div id="bill1-expense2-details" class="stay-details float hidden">
			<div class="rate-details">
				Bed &amp; Breakfast Package
			</div>
			<div class="room-details">
				Standard Room- Double Beds
			</div>
		</div>
	</div>
	<div id="bill1-expense3" class="summary-expanded float hidden">
		<a href="#bill1-expense3-details" class="toggle has-arrow">
		<div class="price">
			$              199.00 <span>+ fees</span>
		</div>
		<div class="rate">
			<span> Rate per night </span>
			Bed &amp; Breakfast Package
		</div>
		<div class="room">
			<span> Guest Room Type </span>
			Standard Room- Double Beds
		</div> </a>
		<form method="post" action="/check-in">
			<label for="bill1-expense3-tobill">Bill #</label>
			<div class="select">
				<select name="bill1-expense1-tobill">
					<option value="" disabled="disabled" class="placeholder">Move to bill</option>
					1
					<option value="1" selected="selected"> 1 </option>
				</select>
			</div>
		</form>
		<div id="bill1-expense3-details" class="stay-details float hidden">
			<div class="rate-details">
				Bed &amp; Breakfast Package
			</div>
			<div class="room-details">
				Standard Room- Double Beds
			</div>
		</div>
	</div>
	<!-- package summary -->
	<div id="bill1-package4" class="summary-expanded float hidden">
		<table class="expense-details">
			<thead>
				<tr>
					<th class="price">Price</th>
					<th>Package</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="price"> INCL </td>
					<td> Buffet Breakfast Child </td>
				</tr>
				<tr>
					<td class="price"> INCL </td>
					<td> Buffet Breakfast Adult (Description) </td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Group items per day - Summary -->
</div>
	
