Reservation Listing

<ul id="reservation-timeline" class="reservation-tabs-nav" role="tablist">
	<li tabindex="-1" role="tab" class="icons-tabs icon-reservation no-reservation" aria-selected="false" aria-labelledby="ui-id-32" aria-controls="upcoming">
		<a tabindex="-1" role="presentation" id="ui-id-32" ui-href="#upcoming">
			Upcoming
			<span>1</span>
		</a>
	</li>
	<li tabindex="0" role="tab" class="icons-tabs icon-reservation" aria-selected="true" aria-labelledby="ui-id-33" aria-controls="current">
		<a tabindex="-1" role="presentation" id="ui-id-33" ui-href="#current">
			Current
			<span class="highlight">8</span>
		</a>
	</li>
	<li tabindex="-1" role="tab" class="icons-tabs icon-reservation no-reservation" aria-selected="false" aria-labelledby="ui-id-34" aria-controls="history">
		<a tabindex="-1" role="presentation" id="ui-id-34" ui-href="#history">
			History
			<span>0</span>
		</a>
	</li>
</ul>

<ul class="wrapper ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
<li data-confirmation-num="4834942" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4834942" aria-labelledby="ui-id-1" aria-selected="false">
<a href="#reservation-4834942" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">
<span class="guest-status inhouse small-icon"></span>
<span class="number">4834942</span>
</a>
</li>
<li data-confirmation-num="4834943" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4834943" aria-labelledby="ui-id-2" aria-selected="false">
<a href="#reservation-4834943" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">
<span class="guest-status inhouse small-icon"></span>
<span class="number">4834943</span>
</a>
</li>
<li data-confirmation-num="4834944" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4834944" aria-labelledby="ui-id-3" aria-selected="false">
<a href="#reservation-4834944" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">
<span class="guest-status inhouse small-icon"></span>
<span class="number">4834944</span>
</a>
</li>
<li data-confirmation-num="4835685" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4835685" aria-labelledby="ui-id-4" aria-selected="false">
<a href="#reservation-4835685" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">
<span class="guest-status check-in small-icon"></span>
<span class="number">4835685</span>
</a>
</li>
<li data-confirmation-num="4835687" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4835687" aria-labelledby="ui-id-5" aria-selected="false">
<a href="#reservation-4835687" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5">
<span class="guest-status check-out small-icon"></span>
<span class="number">4835687</span>
</a>
</li>
<li data-confirmation-num="4835690" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="reservation-4835690" aria-labelledby="ui-id-6" aria-selected="true">
<a href="#reservation-4835690" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-6">
<span class="guest-status check-in small-icon"></span>
<span class="number">4835690</span>
</a>
</li>
<li data-confirmation-num="4835691" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4835691" aria-labelledby="ui-id-7" aria-selected="false">
<a href="#reservation-4835691" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-7">
<span class="guest-status check-in small-icon"></span>
<span class="number">4835691</span>
</a>
</li>
<li data-confirmation-num="4835692" class="icons-tabs no-icon reservation-tab ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="reservation-4835692" aria-labelledby="ui-id-8" aria-selected="false">
<a href="#reservation-4835692" data-transition="reservation-list" class="no-auto-bind ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-8">
<span class="guest-status inhouse small-icon"></span>
<span class="number">4835692</span>
</a>
</li>
<!-- Setting button to hidded - need in future -->
<a class="hidden open-modal add-new-button">+ Add new</a>
</ul>