<div ng-controller="reservationCardPaymentMethodController">
	<span id="reservation-card-payment">
		<form method="post" class="block-item item-payment has-button float" action="">
			<div class="block-title">
				<h3>PAYMENT METHOD</h3>
				<span>
					{{guarentee_type}} Guarantee
				</span>
			</div>
			<!-- The credit card selection popup is not available for 'NOSHOW', 'CHECKEDOUT', 'CANCELED' reservations -->
			<a id="select-card-from-list" data-token="{{paymentmethod.mli_token | limitTo:-4 }}" class="next-view">
				<figure class="card-logo">
					<img src="/assets/mc.png" alt="">
				</figure>
				<span class="number">
					Ending with
					<span id="token-last-value" class="value number">
						{{paymentmethod.mli_token | limitTo:-4 }}
					</span>
				</span>
				<span class="date">
					Date
					<span class="value date">
						12/20
					</span>
				</span>
			</a>
			<div class="actions payment_actions">
				<a id="update_card" data-payment-id="513" class="button with-icon green">
					<span class="icons icon-wallet"></span>
					Update CC
				</a>
			</div>

		</form>
	</span>
</div>	