/* StayNTouch Zest Station Styles | Public NY Theme */

/* 1. COLORS
==========================================================*/
	@brandColor:			#000;
	
	@textColor: 			@brandColor;
	@backgroundColor: 		@white;
	
	@actionColor: 			@white;
	@actionBackground: 		@brandColor;
	
	@inputBackground: 		@white;
	@transparentColor: 		rgba(128,128,128,.5);



/* 2. TYPOGRAPHY
==========================================================*/

@fontFamily: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;


/* 3. IMAGES
==========================================================*/
	@background: @white;
	@backgroundSize: '';
	
	@headerIconsColor: 		@brandColor;
	@headerIconsActive:		@brandColor;


	#close-button {
		right: 3%;
		top:3em !important;

        @media only screen and (min-width: 1024px) and (max-width: 1024px) { top: 95% !important;	 }
        @media only screen and (min-width: 1366px) and (max-width: 1366px) { top: 120% !important;	 }
		@media only screen and (min-width: 1367px) {top: 4.75em!important;}
	}
	#back-button {
		left: 3%;
		top:3em !important;

        @media only screen and (min-width: 1024px) and (max-width: 1024px) { top: 95% !important;	 }
        @media only screen and (min-width: 1366px) and (max-width: 1366px) { top: 120% !important;	 }
		@media only screen and (min-width: 1367px) {top: 4.75em!important;}
	}

	#content{
		top: 10% !important;
	}
	.admin-screen#main {
		margin-top: 12.5% !important;
	    height: 80% !important;
	}
	.terms-content {
		padding-top: 12%;
	}
	.action{
		button{
		    background: white !important;
		    color: black !important;
		    border-style: solid !important;
		    border-width: 1px !important;
		    border-radius: 0em !important;
		}
	}
	.button-class{
		background: white !important;
	    color: black !important;
	    border-style: solid !important;
	    border-width: 1px !important;
	    border-radius: 0em !important;
	}
	.popup .popup-content #message-action {
		.button{
			.button-class;
		    &.print,&.email{
		    	.button-class;
		    }
		}
	}
	.ows-msg-section{
		.button{
			.button-class;
		}
	}
	.room-upsell-content,.addon-screen>#content {
    	padding-top: 0;
    	height: 90% !important;
	}
	.add_remove, .make-key-now{
	    background: white !important;
	    color: black !important;
	    border-style: solid !important;
	    border-width: 1px !important;
	    border-radius: 0em !important;
	}
	#keys.icmp-key-image {
		margin-bottom: 40px;
        margin-top: 30px !important;
	}
	.add_remove_main {
		padding-top:8% !important;
	}

	#actions{
		button{
		    background: @white !important;
		    color: black !important;
		    border-style: solid !important;
		    border-width: 1px !important;
		    border-radius: 0em !important;
		    &.selected {
		    	border-color:@white;
		    }
		}
	}

	.icons { 
		&.icon-create-key {
			fill: @brandColor;
			stroke: @brandColor;
		}

		&.icon-no-print { stroke: @white; }

		&.icon-oos {
			fill: @brandColor;
		}
		&.icon-arrow-left,
        &.icon-arrow-right {
            fill: none;
            stroke: @white;
        }
	}
	.icon-fill {
		fill: @backgroundColor;
	}

    .logo-svg{
        background-image: url("../css/themes/public_v2/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
	    background-position: center;

	    height: 300%;
	    margin-top: 13.25%;

    }

/* 4. LAYOUT
==========================================================*/
	svg.icons {
		fill: @white;
	}
	.svgIconFill{
        @media only screen and (min-width: 400px) and (max-width: 1409px) { fill: @white;	 }
	}
	.hideSvg{
		display:none;
	}
	span,text,button,header{
		font-weight: 300;
	}
	.option {    
		border-radius: 0px !important;
	    width: 125px !important;
	    height: 125px !important;
	    .icons{
    	 	margin: 0px !important;
	    }
	}
	.lighter-text {
		opacity: .4;
	}

	.done-btn, .add-remove-btn, .idle-timeout-btn, .make-key-btn, .remove-btn, select, .price>button {
		background: @white !important;
	    color: black !important;
	    border-style: solid !important;
	    border-width: 1px !important;
	    border-radius: 0em !important;
	    &.selected {
	    	border-color:@white;
	    }
	}
	select{
    	display: -webkit-inline-box;
    }

    #options.options-menu {
      margin-top: 45px !important;
    }
   
	input:not(.editor-mode-cls) {
		border-bottom-color: black !important; 
		border-bottom-style: solid !important; 
		border-bottom-width: 1px !important;
		border-bottom-right-radius: 0px !important; 
		border-bottom-left-radius: 0px !important;
	}
	input:not(.admin-input) {
		border-bottom-color: black !important; 
		border-bottom-style: solid !important; 
		border-bottom-width: 1px !important;
		border-bottom-right-radius: 0px !important; 
		border-bottom-left-radius: 0px !important;
	}
	
	.icon-watch {
		margin: 40px;
	    width: 450% !important;
	    height: 450% !important;
	    margin-top: 27px !important;
	}

	#departure-date{
    	width: 85%;
	}
	
	.admin-screen-title {
		font-size: 1.7em !important;
	    position: absolute !important;
    	top: 115px !important;
	}
	#jumperFilter,.admin-input {
		position: relative !important;
	}
	#country-selector{
		display: -webkit-inline-box !important;
	}
	.upgrades-section {
		padding-top: 15% !important;
		height: 90% !important;

        @media only screen and (min-width: 1024px) { top: 0% !important; height: 90% !important;}
	}
	#upgrade{
	    height: 75%;
	}

	.room-details {
		top: 10% !important;
		height: 90% !important;
		margin-bottom: 15px;
    	margin-top: 15px;
	}
	.room-upsell-content{
		margin-bottom: 15px;
    	margin-top: 15px;
	}
	.admin-editor-toggle {
		margin-left: -0.175% !important;
	}
	li {
		&.break {
			margin-top:-2% !important;
		}	
	}

	#logo {
		margin-top: 16% !important;
	}
	
	h1{
		font-weight:200 !important;/* gotham extra light */
		letter-spacing: -2px !important;
	}

	#content > button:not(.ng-hide) {
		display: block !important;
	}

	.form.short {
		width: 50% !important;
	}

.admin-field-contents{
	height: 90% !important;
}

.entry&.input > ng-include > #icon-date {
 	height: 50% !important;
	padding: 10px;
	margin-top: 24px !important;
	margin-left:-6.25% !important;
	margin-bottom: -38.5px;

    @media only screen and (min-width: 1024px) and (max-width: 1024px) { 
      	position: absolute;
	    margin-bottom: 0!important;
	    height: 63%!important;
	    padding: 8px;
	    margin-top: -8px!important;
        margin-left: -3.25%!important;
    }

    @media only screen and (min-width: 1366px) and (max-width: 1366px) { 
	    position: absolute;
	    margin-bottom: 0!important;
	    height: 65%!important;
	    padding: 9px;
	    margin-top: -9px!important;
	    margin-left: -2.25%!important;
    }
}
/*Home Screen "Book-Now"*/
.button&.option>div>#icon-date {
    position: initial !important;
}

.details {
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0 !important;
    padding: 0 0 3% 0 !important;
}
.details-content{
    width: 80% !important;
    margin-bottom: -10% !important;
}

.email-entry-div,.email-entry-mode>div{
	width: 60% !important;
	
}
.email-mobile-key > span > .email-entry-div{
	margin-left: 20%;
}
.invalid-email, .edit-email-content{
	margin-top: 30% !important;
	>nav>ul>li{
		width: auto !important
	}
}
.select-res-heading {
    width: 100% !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0 !important;
    padding: 0;
    padding: 0;
    text-align: left;
    padding-bottom: 3%;
    margin-bottom: 3%;
}
#labels {
	padding:0 !important;
}


#actions.selectPagingBtns{
	padding:0 !important;
}
.sub, .total{
	padding-left:0px !important;
	>span{
		text-align:left !important;
	}
}
#room:not(.success-key){
	text-align:left !important;
}
.number {
	padding:0 !important;
}
.select-keys{
    width: 50% !important;
	>h1,h2{
		text-align:left !important;
	}
}
.make-key-btn{
    padding: 0.5% !important;
    height: auto !important;
    width: 50% !important;
    font-size: x-large !important;
}
.checkin-key-options{
	width:100% !important;
	margin-top:5% !important;
	>#content{
	    max-width: 100% !important;
	}
}
.checkmark-fill {
    fill: @white;
}
.close-icon-svg{
	height: 200%;
	position: absolute; 
	left: -35%;
	top: -20%;
}
.back-icon-svg{
	fill: white;
	height: 200%;
	position: absolute;
	top: -20%;
	left: -40%;
}
.third-party-content{
	margin-top: 20% !important;
}
.centered.adjusted>span>#content{
	margin-top: 20% !important;
}

.add-guest-mode-content{
    height: 75% !important;
    margin-top: 50px;
	top: 12% !important;
}
.check_in_add_remove > .input-field-contents {
	height: 45% !important;
}
.station-terms{
    margin-bottom: 100px;
}
.add-on-content #options li .option{
		border-radius: 150px !important;
}

.details.guest-icons {
	padding: .5% !important;
}
