/* StayNTouch Zest Station Styles | Sister City Theme */

/* 1. COLORS
==========================================================*/
@brandColor:            #0b24fb;
 
    
@textColor:             @white;
@backgroundColor:       #0b24fb;

@actionColor:           @white;
@actionBackground:      @brandColor;

@inputBackground:       transparent;
@transparentColor:      rgba(0,0,0,.35);

/* 2. TYPOGRAPHY
==========================================================*/

@font-face {
    font-family:'LL Akkurat Pro Regular Web';
        src: url('../../type/lineto-akkurat-pro-regular.eot');
        src: url('../../type/lineto-akkurat-pro-regular.eot?#iefix') format('embedded-opentype'),
            url("../../type/lineto-akkurat-pro-regular.woff2") format("woff2"),
            url('../../type/lineto-akkurat-pro-regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    } 
@fontFamily: 'LL Akkurat Pro Regular Web', sans-serif;

/* 3. IMAGES
==========================================================*/
@background:            @backgroundColor;
@backgroundSize:        cover;

@headerIconsColor:      @white;
@headerIconsActive:     @brandColor;

.icons { 
    &.icon-create-key {
        fill: @white;
        stroke: @white;
    }

    &.icon-no-print { stroke: @white; }

    &.icon-oos {
        fill: @white;
    }

    &.icon-arrow-left,
    &.icon-arrow-right {
        fill: none;
        stroke: @white;
    }
}

/* 4. LAYOUT
==========================================================*/

#sister-city {
    font-weight: 600;

    * {
        text-transform: none;
        font-weight: 600;
        line-height: 21px;
        font-size: 16px;
    }

    h1 {
        font-size: 21px;
        line-height: 24px;
    }

    input,
    select,
    textarea {
        border-bottom: 2px solid @white;
        border-radius: 0;

        &::-webkit-input-placeholder {
            font-style: normal;
            color: @white;
        }
    
        &::-moz-placeholder {
            font-style: normal;
            color: @white;
        }
    
        &:-ms-input-placeholder {
            font-style: normal;
            color: @white;
        }
    
        &:-moz-placeholder {
            font-style: normal;
            color: @white;
        }
    }

    select {
        option {
            color: #000;
        }
    }

    // PMS Zest Station logo
    .logo-svg{
        background-image: url("../css/themes/sister-city/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 133px;
        background-position: center;
        margin-top: 7.9%;
    }

    .entry {

        &.select { 
            &:after {
                border-top-color: @white;
            }
        }

        &.action {
            .button {
                max-width: 160px;
            }
        }
    } 

    .button {
        background: transparent;
        font-size: 16px;
        line-height: 21px;

        &.transparent {
            background: transparent;
            border: none;
        }
        &.text-red { color: @white; }
    }

    #header {
        height: 133px;
    }

    #main {
        #calc > #height > .remove(100%, 133px);
        top: 133px;

        .button {
            font-weight: 600;

            &:not(.option) {
                border-radius: 0px;
            }
    
            &:not(.only-icon):not(.transparent) {
                border: 2px solid @white;
            }

            &.option {
                &:active,
                &:hover {
                    background: @white;
                    color: @brandColor;
                }
            }
        }
    }

    #actions {
        .button {
            font-size: 16px;
            line-height: 21px;
        }
        &.pull-right {
            width: 160px;

            p {
                strong {
                    font-size: 18px; 
                }
                text-transform: none;
                color: @textColor;
            }
        }
    }
    
    #rate {
        li {
            margin-bottom: 5px;

            &.break {
                padding-bottom: 15px;
                margin-bottom: 15px;
                .box-shadow(inset 0 -2px 0 @white);
            }

            &.sub {
                color: @white;
            }
        }
    }
     
    #logo {
        .logo {
            .size(auto, 156px);
        }
     }

    #options {
        .icons {
            fill: @white;
        }

        .button {
            background: transparent;
            border: 2px solid @white;
    
            svg {
                .hide();
            }
        }

        li {
            text-transform: none;
            font-size: 31px;
            line-height: 36px;

            *:not(.icon-text) {
                font-size: 31px;
                line-height: 36px;
            }

            &:not(.icon-text):not(.break) > span {
                font-size: 16px;
                line-height: 21px;
            }

            &.break > span {
                font-size: 28px;
            }
        }

        .purchase-option {
            li {
                font-size: 21px;
                line-height: 24px;

                *:not(.icon-text){
                    font-size: 21px;
                    line-height: 24px;
                }
            }
        }
        
        /* Popup fixes start */
        li {
            &.radio-option {

                input[type=radio]:checked + .option {
                    opacity: 1;
                    background: @white;
                }

                input[type=radio]:checked + .option path {
                    fill: @brandColor;
                }
            }
        }
        /* Popup fixes end */       
    }

    #selection { 
        li { 
            .details {
                background: transparent;
                color: @white;
                border-radius: 0px;
                border: 2px solid @white;
            } 
        } 
    }

    #textual {
        &:before,
        &:after {
            .hide();
        }

        background: transparent;
        color: @white;
        text-transform: none;

        #payment {
            strong,
            span {
                color: @white;
            }
        }

        &.pull-left {
             
            #calc > #width > .remove(100%, 160px);
 
        }

        &.confirm-card {
            .label {
                color: @white;
            }
        }

        #rate {
            li {
                &.total {
                    color: @white;
                }
            }
        }
    }

    #guests {
        color: @white;
        strong,
        span {
            color: @white;
        }

        .button {
            &:not(.only-icon):not(.transparent){
            padding: 0;
            line-height: 1;
            height: auto;
            border-top:0;
            border-right: 0;
            border-left: 0;
            border-bottom-color: @white;
            }
        }
    }

    .popup {
        /* Popup fixes start */
        textarea {
            background: @backgroundColor;
        }

        .button {
            color: @brandColor;
            border-radius: 0px;

            &:not(.transparent) {
                border: 2px solid @brandColor;
            }

            &.with-icon {
                text-align: center;
                padding: 0;
                svg { .hide(); }
            }
        }

        #message-action {
            .button {
                border-color: transparent;
            }
        }

        .add-on {
            .action {
                .button {
                    &:not(.transparent) {
                        color: @white;
                        border: 2px solid @white;
                    }
                }
            }
        }
        /* Popup fixes end */

        #languages {
            .button {
                color: @black;

                &.active {
                    color: @brandColor;
                    border: 2px solid @brandColor;
                }
            }
        }
    }

    #bill-grid {
        #grid-head {

            .cell {
                color: @white;
                .box-shadow(~'inset 0 2px 0 white, 0 2px 0 white');
            }
        }
    }

    .add-on-list,
    .add-on { 
        .button {
            &.transparent {
                color: @white;
            }
        }
    }

    .add-on {

        background: @brandColor;

        .add-on-content {
            color: @white;

            .price {
                strong,
                small {
                    color: @white;
                }
            }
        }

        #options { 
            li {
                .option {
                    color: @brandColor;
                    background: @white;
                    &.not-selected{
                        color: @white;
                        background: transparent;
                    }

                }


                .amount {
                    color: @white;
                }
                > span { color: @white }
            }
        }
        
    }

    .add-on-list {
        .add-on {
            background: @brandColor;
            color: @white;

            &.selected {
                border-color: @white;
                background: @white;
                color: @brandColor;

                .add-on-content {
                    background: @white;
                    color: @brandColor;
                }
            }
        }
    }

    .input-group {
        .button,
        input {
            color: @white !important;
            border-radius: 0px;
        }
        .button {
            border: 2px solid @white !important;
        }

        input {
            border-bottom: 2px solid @white;
            border-top: 2px solid @white;
            border-right: none !important;
            border-left: none !important;
        }
    }

    .upgrade-list {

        &.upgrade-list-v2 {
            .upgrade-content {
                background: transparent;
                color: @white;
            }

            .price {
                small {
                    color: @white;
                }
            }
        }

    }

    #upgrade {
        background: transparent;
        color: @white;

        .upgrade-info {
            color: @white;
        }

        .upgrade-price {
            border-top: 4px solid white;
        }
    }
}