<div class="form float" ng-if="state.activeTab === 'REVENUECENTER'">
    <div class="entry full-width" ng-controller="adComtrolRevenueCenterCtrl">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>

        <div class="form-title full-width">
            <h3>Revenue Centers</h3>
        </div>

        <div class="entry full-width" ng-show="state.mode !== 'ADD'">
            <div class="content-title" style="position: relative;">
                <span class="count">MAPPINGS({{revCenters.length - state.deletedCount}})</span>
                <button ng-click="onClickAdd()" class="action add" scrollup="replacing-div-first">Add new</button>
            </div>
        </div>

        <div id="add-new" ng-show="state.mode === 'ADD'">
            <div class="data-holder">
                <form class="form inline-form float">
                    <div class="form-title">
                        <h3><span></span> {{'ADD_REVENUE_CENTER'| translate}} </h3>
                        <em class="status"> {{'MANDATORY_FIELDS_MESSAGE1' | translate}} <strong>*</strong>
                            {{'MANDATORY_FIELDS_MESSAGE2' | translate}} </em>
                    </div>
                    <fieldset class="holder left float">
                        <ad-textbox styleclass="full-width" value="state.new.code"
                                    label="{{'CODE' | translate}}"
                                    placeholder="{{'CODE' | translate}}"
                                    required="yes"></ad-textbox>
                        <ad-textbox styleclass="full-width" value="state.new.name"
                                    label="{{'NAME' | translate}}"
                                    required="yes"
                                    placeholder="{{'NAME' | translate}}"></ad-textbox>
                    </fieldset>
                    <div class="actions float">
                        <button type="button" ng-click="onCancelAdd()" class="button blank edit-data-inline"
                                translate>
                            CANCEL
                        </button>
                        <button type="button" ng-click="onSave()" class="button green edit-data-inline"
                                ng-class="{'grey' : state.new.name == '' || state.new.code == ''}"
                                ng-disabled="state.new.name == '' || state.new.code == ''"
                                translate>
                            SAVE_CHANGES
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <table id="brands" class="grid datatable dataTable"
               ng-show="revCenters.length - state.deletedCount > 0"
               ng-table="" template-pagination="nil">
            <tbody>
            <tr ng-repeat="revCenter in revCenters track by $index" ng-hide="revCenter.isDeleted">
                <td data-item="1" data-title="'Code'" ng-click="onSelect($index, revCenter)"
                    header-class="width-40" ng-hide="state.selected === $index">
                    <a class="edit-data-inline">{{revCenter.code}}</a>
                </td>
                <td data-item="2" data-title="'Name'" ng-click="onSelect($index, revCenter)"
                    header-class="width-50" ng-hide="state.selected === $index">
                    <a class="edit-data-inline">{{revCenter.name}}</a>
                </td>
                <td header-class="width-10" data-title="'Delete'" class="delete"
                    ng-hide="state.selected === $index">
                    <a class="icons icon-delete large-icon" ng-click="onClickDelete(revCenter)">Delete this
                        Segment</a>
                </td>
                <td colspan="3" ng-show="state.selected === $index">
                    <div style="display: block;" id="add-new" class="edit-data">
                        <div class="data-holder">
                            <!-- Edit Department -->
                            <form class="form inline-form float">
                                <div class="form-title">
                                    <h3><span></span> {{'EDIT_REVENUE_CENTER'| translate}} </h3>
                                    <em class="status"> {{'MANDATORY_FIELDS_MESSAGE1' | translate}}
                                        <strong>*</strong>
                                        {{'MANDATORY_FIELDS_MESSAGE2' | translate}} </em>
                                </div>
                                <fieldset class="holder left float">
                                    <ad-textbox styleclass="full-width" value="revCenter.code"
                                                label="{{'CODE' | translate}}"
                                                placeholder="{{'CODE' | translate}}"
                                                required="yes"></ad-textbox>
                                    <ad-textbox styleclass="full-width" value="revCenter.name"
                                                required="yes"
                                                label="{{'NAME' | translate}}"
                                                placeholder="{{'NAME' | translate}}"></ad-textbox>
                                </fieldset>
                                <div class="actions float">
                                    <button type="button" ng-click="onCancelEdit()"
                                            class="button blank edit-data-inline"
                                            translate>
                                        CANCEL
                                    </button>
                                    <button type="button" ng-click="onUpdate(revCenter)"
                                            class="button green edit-data-inline"
                                            ng-class="{'grey' : revCenter.name == '' || revCenter.code == ''}"
                                            ng-disabled="revCenter.name == '' || revCenter.code == ''"
                                            translate>
                                        UPDATE
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
