<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container backgroundbg" >
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>
		<div ng-show="isLoading && !netWorkError" class="checkout-status centeralign checkout-now-status" >
			<p class="msg-head">Your request is being processed.</p>
			<p class="msg-body">This may take a few seconds..... please wait!</p>
		</div>

		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
			<p class="msg-head">Our apologies, something went wrong, please complete your pre check in at our front desk.</p></p>
			<p class="msg-body">You can also call the hotel at <a href="tel: {{hotelPhone}}"class="white-alert-link-tag">{{hotelPhone}}.</a></p>
		</div>
		<!-- contentarea starts here-->
		<div class="container" ng-hide="isLoading || netWorkError">
			<!-- top section starts here-->
			<div class="row checkin-wrapper-top arrival-details">
				<div class="pad-rt-60 pre-checkin-container-padding">
					<div class="chekin-heading centeralign margin-bottom-50">
						Enter Your Birthdate
					</div>
					<div class="row cabin_number_field ">
                     <div class="expiry-year-container eta-container">
                     	 <span class="white-text">MONTH</span>
                        <div class="select-style">
                           <select ng-model="guestDetails.month"
                              ng-options="month as month for month in months" ng-change="yearOrMonthChanged()">
                              <option value="">MM</option>
                           </select>
                        </div>
                     </div>
                     <div class="expiry-year-container eta-container">
						 <span class="white-text">DAY</span>
                        <div class="select-style">
                           <select ng-model="guestDetails.day">
                              <option value="">DD</option>
                              <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						      <option>6</option>
						      <option>7</option>
						      <option>8</option>
						      <option>9</option>
						      <option>10</option>
						      <option>11</option>
						      <option>12</option>
						      <option>13</option>
						      <option>14</option>
						      <option>15</option>
						      <option>16</option>
						      <option>17</option>
						      <option>18</option>
						      <option>19</option>
						      <option>20</option>
						      <option>21</option>
						      <option>22</option>
						      <option>23</option>
						      <option>24</option>
						      <option>25</option>
						      <option>26</option>
						      <option>27</option>
						      <option>28</option>
						      <option ng-show="guestDetails.month != 2 || !(guestDetails.year % 4)")>
						        29
						      </option>
						      <option ng-show="guestDetails.month != 2">
						        30
						      </option>
						      <option ng-show="guestDetails.month == 1 || guestDetails.month == 3 || guestDetails.month == 5 || guestDetails.month == 7 || 
						          guestDetails.month == 8 || guestDetails.month == 10 || guestDetails.month == 12">
						        31
						      </option>
                           </select>
                        </div>
                     </div>
                     <div class="expiry-year-container eta-container">
                     	 <span class="white-text">YEAR</span>
                        <div class="select-style arrival-time">
                           <select ng-model="guestDetails.year"
                              ng-options="year as year for year in years" ng-change="yearOrMonthChanged()">
                              <option value="">YYYY</option>
                           </select>
                        </div>
                     </div>
                  </div>
			<div class="centeralign">
				<input type="submit" class="col-xs-12 textBox  link-btn with-bg nextbtn text-transform-none" ng-click="postGuestDetails()" value="Continue"/>
				<input type="submit" class="col-xs-12 textBox  link-btn with-bg nextbtn gray-bg margin-top-10 text-transform-none" ng-click="skip()" ng-show="!guestBirthdateMandatory" value="Skip"/>
			</div>
	</div>
</div>	
<div class="row  no-top-margin">
	<div class="col-md-6 error-callus">
		&nbsp;
	</div>
</div>						
</div>
<!-- pre-checkinbtn section ends here-->
</div>
