<div class="jumbotron">
    <div class="container ">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row headerrow">
                    <logo-image></logo-image>
                </div>
            </div>
            <div class="row">
                <div class="checkout-status centeralign">
                    <p class="msg-head" ng-bind="screenDetails.title"></p>
                    <p class="msg-body" ng-bind="screenDetails.description"></p>
                </div>
            </div>
            <div class="row checkin-wrapper-top arrival-details no-top-padding">
                <a ui-sref="checkinArrival">
                    <input type="submit" class="col-xs-12 textBox  link-btn with-bg nextbtn early-checkin-button" value="Continue" />
                </a>
            </div>
        </div>
    </div>
</div>