<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title">
        <h2 ng-show="!isAddMode" ><span translate>EDIT_ITEM_LABEL</span> <span>{{data.name}}</span></h2>
        <h2 ng-show="isAddMode" translate>ADD_ITEM_LABEL</h2>
        <a ng-click="goBack()" class="action back" translate>BACK</a>
        <a class="action remove" ng-hide="!data.id " ng-click="deleteItem(data.id)" translate>DELETE_ITEM_LABEL</a>
    </header>

    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <form method="post" action="" id="{add/edit}" name="{add/edit}-item" class="form float">
            <fieldset class="holder left">
                <div class="form-title">
                    <h3><span translate>ITEM_LABEL</span> <span translate>DETAILS_LABEL</span></h3>
                    <em class="status"><span translate>MANDATORY_FIELDS_MESSAGE1</span> <strong>*</strong> <span translate>MANDATORY_FIELDS_MESSAGE2</span></em>
                </div>
                <div class="entry full-width">
                    <label for="item-availability"><span translate>AVAILABILITY_STATUS_LABEL</span> <strong>*</strong></label>
                    <div class="switch-button" ng-class="{'on': data.status}">
                        <input name="item-availability" ng-model="data.status" id="item-availability" value="1" type="checkbox"  />
                        <span class="switch-icon"></span>
                    </div>
                </div>
                <div class="entry">
                    <label for="item-name"><span translate>ITEM_NAME_LABEL</span> <strong>*</strong></label>
                    <input type="text" name="item-name" ng-model="data.name" id="item-name" placeholder="Enter item name" value="{Item Name}" required />
                </div>
                <div class="entry full-width">
                    <label for="item-type"><span translate>ITEM_TYPE_LABEL</span> <strong>*</strong></label>
                    <div class="boxes">
                        <label class="radio" ng-class = "{'checked': data.page_template=='POI'}"> 
                            <span class="icon-form icon-radio " ng-class = "{'checked': data.page_template=='POI'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="poi" value="POI" />
                            <span translate>POI_LABEL</span> 
                        </label>
                        <label class="radio" ng-class = "{'checked': data.page_template=='POI'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='GENERAL'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="general" value="GENERAL" />
                            <span translate>GENERAL_LABEL</span> 
                        </label>
                        <label class="radio" ng-class = "{'checked': data.page_template=='POI'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='LINK'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="link" value="LINK" />
                           <span translate>LINK_LABEL</span> 
                        </label>

                        <label class="radio" ng-class = "{'checked': data.page_template=='SCREEN'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='SCREEN'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="link" value="SCREEN" />
                           <span translate>SCREEN_LABEL</span> 
                        </label>

                        <label class="radio" ng-class = "{'checked': data.page_template=='ADDON'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='ADDON'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="link" value="ADDON" ng-change = "itemTypeSelected()"/>
                           <span translate>ADDON_LABEL</span> 
                        </label>

                        <label class="radio" ng-class = "{'checked': data.page_template=='SPACE'}"> 
                            <span class="icon-form icon-radio" ng-class = "{'checked': data.page_template=='SPACE'}"></span>
                            <input type="radio" name="item-type" ng-model="data.page_template" id="link" value="SPACE" ng-change = "itemTypeSelected()"/>
                           <span translate>SPACE_LABEL</span> 
                        </label>

                    </div>
                </div>

                <div class="entry full-width">
                    <label for="item-icon" > <span translate>ITEM_ICON_LABEL</span> </label>
                    <div class="file-upload with-preview small-preview">
                        <span class="input">{{iconFileName}}</span>
                        <a id="deleteLogo" class="icons icon-delete large-icon delete_item ng-scope" ng-if="data.icon !== ''" ng-click="deleteIcon()"></a>
                        <input type="file" name="item-icon" ng-model = "data.icon" file-name-key="iconFileName" app-filereader id="item-icon" />
                        <button type="button" ng-if="data.icon != null && data.icon != ''" class="button brand-colors" translate>REPLACE_ICON_LABEL</button>
                        <button type="button" ng-if="data.icon == null || data.icon == ''" class="button brand-colors" translate>ADD_ICON_LABEL</button>
                    </div>
                    <span class="file-preview small-preview">
                        <img src="{{data.icon}}" alt="" />
                    </span>
                </div>

                <div class="entry full-width" ng-hide="data.page_template=='SCREEN'">
                    <label for="item-image"><span translate>ITEM_IMAGE_LABEL</span><span translate>IMAGE_SPEC</span></label>
                    <div class="file-upload with-preview large-preview cms-item-image-picker">
                        <span class="input">{{fileName}}</span>
                        <input type="file" name="item-image" ng-model="data.image" app-filereader id="item-image" />
                        <button type="button" ng-if="data.image != null && data.image != ''" class="button brand-colors" translate>REPLACE_IMAGE_LABEL</button>
                        <button type="button" ng-if="data.image == null || data.image == ''" class="button brand-colors" translate>ADD_IMAGE_LABEL</button>
                    </div>
                    <span class="file-preview large-preview">
                        <img src="{{data.image}}" alt="" />
                    </span>
                </div>
                <div class="entry full-width">
                    <label for="item-description" ><span translate>DESCRIPTION_LABEL</span> <strong ng-show="data.page_template=='SCREEN'">*</strong></label>
                    <textarea name="item-description" ng-model="data.description" id="item-description" rows="4" placeholder="Item description ..."></textarea>
                </div>
                <div class="entry full-width" ng-hide="data.page_template=='SCREEN' || data.page_template=='ADDON' || data.page_template=='SPACE'">
                    <label for="item-phone" translate>PHONE_LABEL</label>
                    <input type="text" name="item-phone" ng-model="data.phone" id="item-phone" placeholder="Enter Phone number" value="" />
                </div>
                <div class="entry full-width" ng-hide="data.page_template=='SCREEN' || data.page_template=='ADDON' || data.page_template=='SPACE'">
                    <label for="item-email" translate>EMAIL_LABEL</label>
                    <input type="text" name="item-email" ng-model="data.email" id="item-email" placeholder="Enter Email Id" value="" />
                </div>
                <div class="entry full-width" ng-hide="data.page_template=='SCREEN' || data.page_template=='ADDON' || data.page_template=='SPACE'">
                    <label for="item-address"><span translate>ADDRESS_LABEL</span> <strong ng-show="data.page_template=='POI'">*</strong></label>
                    
                    <textarea name="item-address" ng-model="data.address" id="item-address" rows="4" placeholder="Enter Address"></textarea>
                </div>
                
                <div class="entry full-width" ng-hide="data.page_template=='SCREEN' || data.page_template=='ADDON' || data.page_template=='SPACE'">
                    <label for="item-url"><span translate>URL_LABEL </span><strong ng-show="data.page_template=='LINK'">*</strong></label>
                    <input type="text" name="item-url" ng-model="data.website_url" id="item-url" placeholder="Enter URL" value=""  />
                </div>                
                

            </fieldset>
            <fieldset class="holder right">

                <div class="form-title">
                    <h3><span translate>TO_SECTION_LABEL</span></h3>
                </div>
                <div class="entry full-width">
                    <ul class="boxes cms-tree">
                        <li class="section" ng-repeat="section in data.parent_section">
                            <div class="sort">
                                <span class="cms-name">{{section.name}}</span>
                                <div class="cms-delete">
                                    <a class="icons icon-delete" ng-click="deleteParentSection($index)">Delete</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="add">
                            <a  class="add-new-button open-modal" ng-click= "openAddParentModal(true)" translate>ADD_SECTION_LABEL</a>
                        </li>
                    </ul>
                </div>

                <div class="form-title">
                    <h3><span translate> TO_CATEGORY_LABEL</span></h3>
                </div>
                <div class="entry full-width">
                    <ul class="boxes cms-tree">
                        <li class="category" ng-repeat="category in data.parent_category">
                            <div class="sort">
                                <span class="cms-name">{{category.name}}</span>
                                <div class="cms-delete">
                                    <a class="icons icon-delete" ng-click="deleteParentCategory($index)">Delete</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="add">
                            <a  class="add-new-button open-modal" ng-click = "openAddParentModal(false)" translate>ADD_CATEGORY_LABEL</a>
                        </li>
                    </ul>
                </div>  

                <div ng-show="data.page_template=='SPACE'" class="entry full-width">

                     <ad-dropdown label="{{'SPACE_MAX_OCCUPANCY_LABEL' | translate}}" label-in-drop-down="{{'SPACE_MAX_OCCUPANCY_PLACEHOLDER' | translate}}" list="space_occupancys" selected-Id='data.max_occupancy' required='yes' selbox-class='placeholder' ng-show="data.page_template=='SPACE'"></ad-dropdown>


                     <label class="entry full-width" for="addon-description"><span translate>SPACE_DURATION_LABEL </span></label>

                    <div class="entry full-width">
                       <div id="space-durations" class="boxes col2">
                          <ad-checkbox ng-repeat="duration in space_durations" is-checked="duration.isChecked" label="{{duration.name}}" parent-label-class="room-likes" span-class="checkbox-background" datagroup="{{duration}}" index = "{{$index}}" change="setSpaceDurations"></ad-checkbox>

                       </div>
                    </div>

                    <div class="entry full-width">
                    <label for="fulfillment" translate>SPACE_FULFILLMENT_LABEL </label>
                    <div class="boxes">
                        
                        <!-- <label class="radio">
                            <span class="icon-form icon-radio" ng-class="{'checked': data.fulfillment =='none'}"></span>
                            <input name="audience" id="audience-everyone" value="none" type="radio" ng-model="data.fulfillment" />
                            <span translate>SPACE_FULFILLMENT_NONE</span>
                        </label>
                        <label class="radio">
                            <span class="icon-form icon-radio" ng-class="{'checked': data.fulfillment =='email'}"></span>
                            <input name="audience" id="audience-users" type="radio" value="email" ng-model="data.fulfillment"/>
                            <span translate>SPACE_FULFILLMENT_EMAIL</span>
                        </label>    -->                     
                        <!-- Remove class "hidden" when "Specific User(s)" option is selected. Add it back if other option is selected -->
                        <span ng-show="true" translate>SPACE_FULFILLMENT_EMAIL_ACCOUNTS_LABEL</span>
                        <input id="audience-specific-user" class = "campaign-textbox" placeholder="Enter email accounts" type="text" ng-show= "true" ng-model="data.recipient_emails" /> 
                                                 

                    </div>
                    </div>
                     
                </div>

                <div class="entry" ng-show="data.page_template=='SCREEN'">
                    <label for="screen-id"><span translate>SCREEN_ID_LABEL</span> <strong>*</strong></label>
                    <input type="text" name="screen-id" ng-model="data.screen_id" id="item-name" placeholder="Enter screen id" value="{Item Name}" required />
                </div>

                <div class="entry" ng-show="data.page_template=='SCREEN'">
                    <label for="screen-id"><span translate>SCREEN_TITLE_LABEL</span> <strong>*</strong></label>
                    <input type="text" name="screen-title" ng-model="data.screen_title" id="item-name" placeholder="Enter screen title" value="{Item Name}" required />
                </div>

                <div ng-show="data.page_template=='ADDON'">


                     <ad-dropdown label="{{'EARLY_CHECKIN_ADDON' | translate}}" label-in-drop-down="{{'EARLY_CHECKIN_ADDON' | translate}}" list="addons" selected-Id='data.addon_id' required='yes' selbox-class='placeholder' ng-show="data.page_template=='ADDON'"></ad-dropdown>  

                    <div class="entry full-width" ng-show="data.page_template=='ADDON'">
                       <label for="addon-description"><span translate>ADDON_DESCRIPTION_LABEL </span></label>
                       <input type="text" class = "cms-addon-texts" name="addon-description" id="addon-description" ng-disabled = "true" readonly="true"
                       value="{{getSelectedAddonDescription()}}" />
                    </div> 

                    <div class="entry full-width" ng-show="data.page_template=='ADDON'">
                        <label for="addon-price"><span translate>ADDON_PRICE_LABEL </span></label>
                        <input type="text" class = "cms-addon-texts" name="addon-price" id="addon-price"  ng-disabled = "true" readonly="true" value="{{getSelectedAddonPrice()}}" />
                    </div>
                     <ad-dropdown label="{{'ADDON_MIN_DURATION_LABEL' | translate}}" label-in-drop-down="{{' '}}" list="min_duration_values" selected-Id='data.addon_min_duration' required='no' selbox-class='placeholder' ng-show="data.page_template=='ADDON'"></ad-dropdown>  

                     <ad-dropdown label="{{'ADDON_MAX_ORDER_LABEL' | translate}}" label-in-drop-down="{{' '}}" list="max_order_values" selected-Id='data.addon_max_order' required='no' selbox-class='placeholder' ng-show="data.page_template=='ADDON'"></ad-dropdown>

                </div>
            </fieldset>
            <div class="actions float">
                <button type="button" ng-click="goBack()" class="button blank" translate>CANCEL</button>
                <button type="button" ng-click="saveItem()" class="button green" translate>SAVE_CHANGES</button>  
            </div>
        </form>
    </section>
</section>