    <div ng-controller="ADContentManagementTreeViewCtrl" >
        <div id="sections" class="cms-grid">

            <!-- Tree header -->
            <ul class="cms-tree-header">
                <li class="cms-name">Name</li>
                <li class="cms-type">Type</li>
                <li class="cms-date">Last Update</li>
                <li class="cms-activate">Status</li>
                <li class="cms-delete">Delete</li>
            </ul>

            <!-- Tree content -->
            <ol class="cms-tree">
                <!-- First level: Sections -->
                <li class="section branch" ng-class="{'collapsed': !section.isExpanded, 'expanded': section.isExpanded}"  ng-repeat="section in contentList">
                    <div class="sort">
                        <span class="reorder" ng-click= "toggleExpansion($index)"></span>
                        <a ng-click = "componentSelected(section.component_type, section.id)" class="cms-name">{{section.name}}</a>
                        <span class="cms-type">{{section.component_type}}</span>
                        <em class="cms-date">{{section.updated_at}}</em>
                        <div class="cms-activate">
                            <div class="switch-button" ng-class="{'on':section.status}">
                                <input name="section" id="section" value="section" type="checkbox" ng-model="section.status" />
                                <span class="switch-icon"></span>
                            </div>
                        </div>
                        <div class="cms-delete">
                             <a  class="icons icon-delete large-icon">Delete</a>
                        </div>
                    </div>

                    <!-- 1st level category. All deper category levels use same <li class="category"> markup so it's not repeated here. Standard ordered list nesting should be applied. -->
                    <div ng-show="section.children.length > 0 && section.isExpanded" ng-include= "'/assets/partials/contentManagement/adContentManagementChildView.html'"></div>
                </li>
                
            </ol>
        </div>
    </div>
   
<!-- </section> -->