    <div ng-controller="ADContentManagementGridviewCtrl" >
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>


        <div id="sections" class="cms-grid">

            <!-- Grid options -->
            <div class="grid-options">
                <!-- Show sections, categories or items. This template assumes section is default view. If that is changed, then be carefull in hiding items below listed as hidden by default - some should not be hidden if category or item is shown by default -->
                <div class="entry filter">
                    <label for="showing-structure">Showing</label>
                    <div class="select">
                        <select id="showing-structure" ng-model="selectedView">
                            <option value="section" selected>Sections</option>
                            <option value="category">Categories</option>
                            <option value="item">Items</option>
                        </select>
                    </div>
                </div>

                <!-- Filter by section, hidden by default - show only when listing categories or items --> 
                <div class="entry filter" ng-show="selectedView != 'section'">
                    <label for="showing-categories">From Section</label>
                    <div class="select">
                        <select id="showing-categories" ng-model="fromSection" ng-change="filterBySectionAndCategory()" class="placeholder">
                            <option value="all" >All sections</option>
                            <option value="{{section.name}}" ng-repeat="section in sections">{{section.name}}</option>
                            
                        </select>
                    </div>
                </div>

                <!--Filter by category, hidden by default - show only when listing items -->
                <div class="entry filter" ng-show="selectedView == 'item'">
                    <label for="showing-items">From Category</label>
                    <div class="select" ng-model = "fromCategory">
                        <select id="showing-items" ng-change="filterBySectionAndCategory()" class="placeholder">
                            <option value="all">All categories</option>
                             <option value="{{category.name}}" ng-repeat="category in categories">{{category.name}}</option>
                            
                        </select>
                    </div>
                </div>

                <!-- Show only unassigned categories or items, hidden by default - show only when listing items or categories -->
                <div class="entry radio-check " ng-show="selectedView != 'section'">
                    <label for="unassigned" class="checkbox">
                        <span class="icon-form icon-checkbox" ng-class="{'checked': showUnMappedList}"></span>
                        Show only unassigned
                        <input id="unassigned" name="unassigned" ng-change="filterBySectionAndCategory()" ng-model = "showUnMappedList" type="checkbox">
                    </label>
                </div>

                <!-- Search option -->
                <div class="entry search">
                    <label for="structure-search">Search</label>
                    <div class="holder">
                        <button type="submit" name="submit" class="icons icon-search">Search</button>
                        <input type="search" class="query" placeholder="Search sections, categories or items" ng-model="searchText"  id="structure-search" autocomplete="off" />
                    </div>
                </div>    
            </div>

            <!-- Grid content -->
            <table class="grid datatable ng-table" ng-show="selectedView == 'section'" ng-table="sectionParams">
                
                <!-- Section table HTML -->
                <thead>                 

                    <th class="sortable" ng-class="{
                        'sort-asc': sectionParams.isSortBy('name', 'asc'),
                        'sort-desc': sectionParams.isSortBy('name', 'desc')
                      }"
                        ng-click="sectionParams.sorting({'name' : sectionParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>NAME</span></div>
                    </th>
                    <th class="sortable" ng-class="{
                        'sort-asc': sectionParams.isSortBy('last_updated', 'asc'),
                        'sort-desc': sectionParams.isSortBy('last_updated', 'desc')
                      }"
                        ng-click="sectionParams.sorting({'last_updated' : sectionParams.isSortBy('last_updated', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Last Update</span></div>
                    </th>       

                    <th class="sortable" ng-class="{
                        'sort-asc': sectionParams.isSortBy('no_of_categories', 'asc'),
                        'sort-desc': sectionParams.isSortBy('no_of_categories', 'desc')
                      }"
                        ng-click="sectionParams.sorting({'no_of_categories' : sectionParams.isSortBy('no_of_categories', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>No. of categories</span></div>
                    </th>    
                    <th class="sortable" ng-class="{
                        'sort-asc': sectionParams.isSortBy('no_of_items', 'asc'),
                        'sort-desc': sectionParams.isSortBy('no_of_items', 'desc')
                      }"
                        ng-click="sectionParams.sorting({'no_of_items' : sectionParams.isSortBy('no_of_items', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>No. of items</span></div>
                    </th>        
                    <th class="sortable" ng-class="{
                        'sort-asc': sectionParams.isSortBy('status', 'asc'),
                        'sort-desc': sectionParams.isSortBy('status', 'desc')
                      }"
                        ng-click="sectionParams.sorting({'status' : sectionParams.isSortBy('status', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Status</span></div>
                    </th> 
                        <th class="width-10" translate> delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="gridItem in $data | filter:searchText">
                        <td><a ng-click="componentSelected(selectedView, gridItem.id)">{{gridItem.name}}</a></td>
                        <td><em>{{gridItem.last_updated}}</em></td>
                        <td>{{gridItem.no_of_categories}}</td>
                        <td>{{gridItem.no_of_items}}</td>
                        <td class="activate">
                            <div class="switch-button " ng-class="{'on':gridItem.status}">
                                <input name="status" id="status" value="gridItem.status" type="checkbox" ng-model="gridItem.status"  />
                                <span class="switch-icon"></span>
                            </div>
                        </td>
                        <td class="delete">
                            <a  class="icons icon-delete large-icon">Delete</a>
                        </td>
                    </tr>
                </tbody>
             </table> 

             <!-- Categories table HTML -->
             <table class="grid datatable ng-table" ng-show="selectedView == 'category'" ng-table="categoryParams">
                
                
                <thead>                 

                    <th class="sortable" ng-class="{
                        'sort-asc': categoryParams.isSortBy('name', 'asc'),
                        'sort-desc': categoryParams.isSortBy('name', 'desc')
                      }"
                        ng-click="categoryParams.sorting({'name' : categoryParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>NAME</span></div>
                    </th>

                    <th class="sortable" ng-class="{
                        'sort-asc': categoryParams.isSortBy('last_updated', 'asc'),
                        'sort-desc': categoryParams.isSortBy('last_updated', 'desc')
                      }"
                        ng-click="categoryParams.sorting({'last_updated' : categoryParams.isSortBy('last_updated', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Last Update</span></div>
                    </th>       

                    <th class="sortable" ng-class="{
                        'sort-asc': categoryParams.isSortBy('no_of_categories', 'asc'),
                        'sort-desc': categoryParams.isSortBy('no_of_categories', 'desc')
                      }"
                        ng-click="categoryParams.sorting({'no_of_categories' : categoryParams.isSortBy('no_of_categories', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Parent Category</span></div>
                    </th>    
                    <th class="sortable" ng-class="{
                        'sort-asc': categoryParams.isSortBy('no_of_items', 'asc'),
                        'sort-desc': categoryParams.isSortBy('no_of_items', 'desc')
                      }"
                        ng-click="categoryParams.sorting({'no_of_items' : categoryParams.isSortBy('no_of_items', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>No. of items</span></div>
                    </th>        
                    <th class="sortable" ng-class="{
                        'sort-asc': categoryParams.isSortBy('status', 'asc'),
                        'sort-desc': categoryParams.isSortBy('status', 'desc')
                      }"
                        ng-click="categoryParams.sorting({'status' : categoryParams.isSortBy('status', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Status</span></div>
                    </th> 
                        <th class="width-10" translate> delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="gridItem in $data | filter:searchText">
                        <td><a ng-click="componentSelected(selectedView, gridItem.id)">{{gridItem.name}}</a></td>
                        <td><em>{{gridItem.last_updated}}</em></td>
                        <td>{{gridItem.parent_category}}</td>
                        <td>{{gridItem.no_of_items}}</td>
                        <td class="activate">
                            <div class="switch-button " ng-class="{'on':gridItem.status}">
                                <input name="status" id="status" value="gridItem.status" type="checkbox" ng-model="gridItem.status"  />
                                <span class="switch-icon"></span>
                            </div>
                        </td>
                        <td class="delete">
                            <a  class="icons icon-delete large-icon">Delete</a>
                        </td>
                    </tr>
                </tbody>
             </table>

             <!-- Items table HTML -->
             <table class="grid datatable ng-table" ng-show="selectedView == 'item'" ng-table="itemParams">               
                
                <thead>                 

                    <th class="sortable" ng-class="{
                        'sort-asc': itemParams.isSortBy('name', 'asc'),
                        'sort-desc': itemParams.isSortBy('name', 'desc')
                      }"
                        ng-click="itemParams.sorting({'name' : itemParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>NAME</span></div>
                    </th>

                    <th class="sortable" ng-class="{
                        'sort-asc': itemParams.isSortBy('page_template', 'asc'),
                        'sort-desc': itemParams.isSortBy('page_template', 'desc')
                      }"
                        ng-click="itemParams.sorting({'page_template' : itemParams.isSortBy('page_template', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Type</span></div>
                    </th>
                    <th class="sortable" ng-class="{
                        'sort-asc': itemParams.isSortBy('last_updated', 'asc'),
                        'sort-desc': itemParams.isSortBy('last_updated', 'desc')
                      }"
                        ng-click="itemParams.sorting({'last_updated' : itemParams.isSortBy('last_updated', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Last Update</span></div>
                    </th>       

                    <th class="sortable" ng-class="{
                        'sort-asc': itemParams.isSortBy('section', 'asc'),
                        'sort-desc': itemParams.isSortBy('section', 'desc')
                      }"
                        ng-click="itemParams.sorting({'section' : itemParams.isSortBy('section', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Section</span></div>
                    </th>    
                    <th class="sortable" ng-class="{
                        'sort-asc': itemParams.isSortBy('category', 'asc'),
                        'sort-desc': itemParams.isSortBy('category', 'desc')
                      }"
                        ng-click="itemParams.sorting({'category' : itemParams.isSortBy('category', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Category</span></div>
                    </th>        
                    <th class="sortable" ng-class="{
                        'sort-asc': itemParams.isSortBy('status', 'asc'),
                        'sort-desc': itemParams.isSortBy('status', 'desc')
                      }"
                        ng-click="itemParams.sorting({'status' : itemParams.isSortBy('status', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                        <div><i class="glyphicon glyphicon-user"></i> <span translate>Status</span></div>
                    </th> 
                        <th class="width-10" translate> delete</th>
                </thead>
                <tbody>
                    <tr ng-repeat="gridItem in $data | filter:searchText">
                        <td><a ng-click="componentSelected(selectedView, gridItem.id)">{{gridItem.name}}</a></td>
                        <td>{{gridItem.page_template}}</td>
                        <td><em>{{gridItem.last_updated}}</em></td>
                        <td>{{gridItem.section}}</td>
                        <td>{{gridItem.category}}</td>
                        <td class="activate">
                            <div class="switch-button " ng-class="{'on':gridItem.status}">
                                <input name="status" id="status" value="gridItem.status" type="checkbox" ng-model="gridItem.status"  />
                                <span class="switch-icon"></span>
                            </div>
                        </td>
                        <td class="delete">
                            <a  class="icons icon-delete large-icon">Delete</a>
                        </td>
                    </tr>
                </tbody>
             </table>              
            
        </div>
    </div>
       
