
<!-- Content -->
<section id="cc-transactions" class="content" role="main">
    
    <!-- Header -->
    <form method="post" action="" id="cc-transactions-header" class="journal-header cc-transactions">
        
        <div ng-if="data.activeTab === 0" class="entry date">
            <label for="cc-transactions-date">Date</label>
            <div class="entry-data">
                <input id="cc-transactions-date" type="text" class="datepicker" value="{Date}" readonly />
                <strong class="day">{{data.transactionDate | date:'d'}}</strong>
                <span class="month">{{data.transactionDate | date:'MMMM'}}</span>
                <span class="year">{{data.transactionDate | date:'y'}}</span>
            </div>
        </div>
        <div ng-if="data.activeTab === 0" class="entry action">
            <button type="button" class="button green">Submit Batch</button>
        </div>

        <ul class="display">
            <li class="active">
                <span ng-click="activatedTab(0)" class="icons icon-navbar icon-payments">Payments</span>
                ${Value}
            </li>
            <li>
                <span ng-click="activatedTab(1)" class="icons icon-navbar icon-authorizations">Authorizations</span>
                ${Value}
            </li>
        </ul>
    </form>

    <!-- Print box -->
    <form method="post" action="" id="journal-print-options" class="journal-print" role="complementary">
        <div class="entry">
            <div class="switch-button on">
                <input id="cc-transactions-print" value="" type="checkbox" checked />
                <label class="data-off">
                    <span class="value">Summary</span>
                    <span class="switch-icon">Details</span>
                </label>
                <label class="data-on">
                    <span class="switch-icon">Summary</span>
                    <span class="value">Details</span>
                </label>
            </div>
        </div>
        <div class="actions">
            <button id="print-cc-transactions" type="button" class="button blue">Print</button>
        </div>
    </form>

    <!-- Content PAYMENTS-->
    <div ng-show="data.activeTab == 0" ng-include="'/assets/partials/financials/ccTransactions/rvPayments.html'"></div>

    <!-- Content AUTHORIZATION-->
    <div ng-show="data.activeTab == 1" ng-include="'/assets/partials/financials/ccTransactions/rvAuthorization.html'"></div>

</section>