<div role="dialog" id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}">
    <div class="modal-content form alert timeout">

        <span class="icons icon-popup-alert"></span>
        <strong class="h2 message">Your session has timed out</strong>
        <span class="text">Due to inactivity in the past {{ loginData.autoLogoutDelay }} minutes</span>

        <div class="entry full-width">
            <label for="password">Enter you password to continue</label>
            <input id="password" type="password" placeholder="Enter your password" ng-model="loginData.password" ng-class="{'error': hasError && !loginData.password}">
            <!-- Add class 'error' if user provides wrong password. As soon as they start typing in the password again, remove it. -->
            <!-- If user provides wrong password, show this (remove it as soon as users start typing in the password again: -->
            <span class="description red" ng-if="errorMessage && !loginData.password">{{errorMessage}}</span>
        </div>
        <div class="actions">
            <!--{'grey' until user starts typing in password or if they type in the wrong password, otherwise 'green'}-->
            <button type="button"
                    class="button"
                    ng-click="continueSession()"
                    ng-class="{'grey': !loginData.password, 'green': loginData.password}"
                    ng-disabled="!loginData.password">Continue
                session</button>
            <button type="button" class="button red" ng-click="logout()">Log out</button>
        </div>
    </div>
</div> 
