/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* Screen positioning       ==============================*/
    .content:not(#login) {
        top: 60px;
        .calc-height(100, 60); /* %, px */

        /** Rooms screen ***/
        &#rooms {
            top: 120px;
            .calc-height(100, 120); /* %, px */
        }

        &#filter-options {
            top: 60px;
            .calc-height(100, 60); /* %, px */
        }

        &#guest-info {
            top: 100px;
            .calc-height(100, 100); /* %, px */
        }
    }

/* Nav Bar                  ==============================*/
    .nav-bar{ 
        height: 60px;

        .nav-toggle,
        .back-button,
        .clear-selection,
        .toggle, { top: 10px; }

        h1 {
            .h2;
            line-height: 60px;
        }

        .clear-selection {
            left: 20px; 
            font-size: 16px; 
        }

        .toggle {
            &.only-icon {
                right: 10px;
            }

            &.complete { 
                right: 20px;
                font-size: 16px; 
            }
        }
    }

/* 5. COMPONENTS
==========================================================*/

/* Search bar               ==============================*/
    .search-form {
        height: 60px;

        .entry {
            height: 40px;

            .icon-search {
                top: 12.5px;
                right: 12.5px;
            }

            #query {
                line-height: 40px;
                min-height: 40px;
                .placeholder-text(16px, 40px, 400, @grey3);
            }

            #clear-query {
                top: 12.5px;
                right: 12.5px;
            }
        }
    }   

/* Dashboard page           ==============================*/
    #dashboard {
        .wrapper {
            padding: 40px 40px 20px 40px;

            h2 {
                margin: 20px 0;
                font-size: 30px;
                line-height: 30px;
            }

            #guests-today {
                margin-bottom: 30px;
                display: table;
                width: 100%;
                .float;

                li {
                    text-align: center;
                    display: table-cell;
                    table-layout: fixed;
                    padding: 0 5px;
                    .button {
                        padding: 20px;

                        .icons { 
                            margin: 0;
                            background: transparent;
                            text-indent: 0;
                            width: 100%;
                        }

                        strong {
                            font-size: 72px;
                            line-height: 1.1em;
                            overflow: hidden;
                            .show;
                        }
                    }
                }
            }
        }
    }

/* Rooms page               ==============================*/
    
    /* Rooms listing ***/
    #rooms {
        li {           
            a {
                padding: 0 10px 0 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                border-bottom: 1px solid rgba(0,0,0,.1);
                background-color: @white;
                position: relative;
                .show;
                .float;

                .room-number {
                    font-size: 30px;
                    line-height: 50px;
                    vertical-align: middle;
                    font-weight: 700;
                    width: 70px;
                    .show;
                    .pull-left;
                }

                .room-stats-wrap {
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 90px;
                    right: 50px;
                }

                .room-status,
                .fo-status {
                    font-size: 16px;
                    font-style: normal;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                .room-status {
                     width: 50%;
                 }

                 @media (max-width: 319px) {
                    .room-stats-wrap {
                        clear: both;
                        position: static;
                        padding: 3px 0 10px;
                    }

                    .room-status,
                    .fo-status {
                        width: 49%;
                        line-height: 1;
                    }

                    .fo-status {
                        text-align: right;
                        .pull-right;
                    }
                }

                .guest-image {
                    position: relative;
                    top: 5px;
                    .pull-right;
                    #border-radius > .rounded(40px);
                    .square(40px);

                    .vip {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        font-size: 9px;
                        line-height: 16px;
                        .square(16px);
                        #border-radius > .rounded(16px);       
                    }

                    img {
                        width: 100%;
                        height: auto;
                        #border-radius > .rounded(40px);
                    }
                }
            }
        }
    }

    /* Rooms filters ***/
    #filter-rooms {
        .wrapper {
            padding: 20px;
        
            .holder {
                margin-bottom: 30px;

                .title { margin-bottom: 20px; }

                .entry {
                    .radio,
                    .checkbox { font-size: 16px; }
                }
            }
        }
    }

/* Room details page        ==============================*/

    #room-details {
        #room-header {
            padding: 0 10px;
            color: @white;
            float: left;
            position: relative;
            z-index: 10;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            background: @grey3;
            .float;

            h1 {
                display: inline-block;
                font-size: 36px;
                line-height: 60px;
                vertical-align: middle;
                padding-left: 46px;
                font-weight: 600;
                .pull-left;
            }

            .select {
                margin: 10px 0;
                width: 50%;
                .pull-right;

                select { 
                    line-height: 20px;
                    min-height: 40px;
                    height: 40px;
                }
            }

            @media (max-width: 319px) {
                h1 {
                    float: none;
                    text-align: center;
                    display: block;
                    background-position-x: center !important;
                    padding-left: 60px;
                }

                .select {
                    float: none;
                    width: 100%;
                }
            }

            &.occupied { background: @blue; }
            &.inspected-clean { background: @green; }
            &.pickup { background: @orange; }
            &.dirty { background: @red; }
        }

        #room-details-content {
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #room-content-wrapper {
            width: 100%;
            height: 100%;

            h1 { font-size: 48px; }
        }

        #fo-status { 
            font-size: 18px;
            padding: 20px 0; 
        }

        #guest-info {
            .wrapper { 
                padding: 0 40px; 

                .guest-image { 
                    margin-top: 40px;
                    .square(128px); 
                }

                h2 {
                    .guest-status { margin: 5px 10px 0 0; }

                    .name {
                        font-size: 44px;
                        line-height: 44px;
                        vertical-align: top;
                    }
                }

                .status {  font-size: 21px; }

                .checkout-guest {
                    margin-top: 40px;

                    strong { font-size: 18px; }

                    .button {
                        margin: 20px auto;
                        line-height: 60px;
                        font-size: 21px;
                        .show;
                    }
                }
            }

            .iScrollVerticalScrollbar { 
                top: 20px;
                bottom: 20px;
            }

            &.no-content {
                position: relative;
                margin: 0;
                padding: 60px 10px 0;
                min-height: 230px;
                background: transparent;
                text-align: center;
                color: @grey3;
                .square(100%);
                .box-shadow(none);

                .info {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    margin-top: -40px; 

                    @media (orientation: landscape) {
                        margin-top: -24px;
                    }

                    .h1 { 
                        font-size: 24px;
                        line-height: 1.5em;
                        font-weight: 700;
                        margin: 0;
                    }
                }
            }

            @media (max-width: 319px) {
                .wrapper {
                    padding: 120px 10px 0;
                }

                &.no-content {
                    padding: 120px 10px 0;
                }
            }

            @media (max-height: 319px) {
                &.no-content .info {
                    position: static;
                    margin: 50px 0;
                }
            }
        }   
    }

/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/
