
/*------------------------------- Base -----------------------------------------------------*/
p{
    text-align:center;
}
body{
    background: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.upper-case{
	text-transform:uppercase;
}

hr {
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
input, .text-comment{
	box-shadow: 2px 2px 3px #d1d1d1 inset;
	border: medium none !important;
    background: #efefef none repeat scroll 0 0;
}

.small-italic-text {
    font-size: 10px !important;
    color: gray;
    font-style: italic;
}