/* date picker styles */
.date-picker-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
}
.date-text{
  text-transform: uppercase;
  font-size:17px;
}
.pickadate-next,.pickadate-prev{
  text-transform: uppercase;
  font-size:12px !important;
}

.calendar-selection-button {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: 25px 20px;
}
.calendar-selection{
   cursor:pointer;
}


.calendar-back {
  background-image: url('/assets/common_images/back_icon_white.png');
}


.calendar-done{
   background-image: url('/assets/common_images/done_white.png');
   background-size: 25px 17px;
}

.pickadate-prev,.pickadate-next,.pickadate-prev:hover,.pickadate-next:hover{
  color:#000 !important;
}

.date-picker-wrap {
  background-color: #FFF !important;
  max-width: 460px;
  height: 100%;
  margin: auto;
  padding: 40px;
}
.date-picker-header{
  font-size: 17px;
  color: #fff;
  background-color: #AE222B;
  padding: 15px 5px 5px 5px;
}

@media (max-width: 420px) {
  .date-picker-wrap {
    padding: 0;
  }
}
/* ------------------date -picker ---------------------*/

.pickadate-header {
  position: relative;
}

.pickadate {
  font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}

.pickadate-main {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.pickadate a:visited, .pickadate a {
  color: #666666;
}

.pickadate-cell {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.pickadate-cell li {
  display: block;
  float: left;
  border: 1px solid #FFFFFF;
  border-width: 1px;
  width: 14.285%;
  padding: 4.3% 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.pickadate-cell li:nth-child(7n+0) {
  border-right: 1px solid #DCDCDC;
}

.pickadate-cell li:nth-child(1),
.pickadate-cell li:nth-child(8),
.pickadate-cell li:nth-child(15),
.pickadate-cell li:nth-child(22),
.pickadate-cell li:nth-child(29),
.pickadate-cell li:nth-child(36) {
  border-left: 1px solid #DCDCDC;
}

.pickadate-cell .pickadate-disabled,
.pickadate-cell .pickadate-enabled,
.pickadate-cell .pickadate-outofrange-disabled {
  background-color: #DEDCD0;
}

.pickadate-cell .pickadate-disabled,
.pickadate-cell .pickadate-disabled a {
  color: #ac9557;
}

// must not be changed
.pickadate-cell .pickadate-outofrange-disabled,
.pickadate-cell .pickadate-outofrange-disabled a,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled a {
  // date must be hidden
  // user must not see or select it
  color: #DEDCD0;
  color: transparent;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pickadate-cell .pickadate-enabled {
  cursor: pointer;
  font-size: 12px;
  color: #000;
}


.pickadate-cell .pickadate-active {
  background-color: #AE222B !important;
  color:#FFFFFF !important;
}

.pickadate-cell .pickadate-head {
  text-transform: uppercase;
  border-top: 0px ;
  border-left: 0px !important;
  border-right: 0px !important;
}

.pickadate-centered-heading {
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  font-size: 19px;
  margin: 13px 0 13px 0;
}

.pickadate-controls {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding:0 10px;
}

.pickadate-controls .pickadate-next {
  float: right;
}

.pickadate-controls a {
  text-decoration: none;
  font-size: 0.9em;
}

.calendar-done-text{
  margin-left:-15px;
}


// must not be changed
// must only be update for different hotel
.pickadate-cell .pickadate-outofrange-disabled,
.pickadate-cell .pickadate-outofrange-disabled a,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled a,
.pickadate-cell .pickadate-active.pickadate-outofrange-disabled,
.pickadate-cell .pickadate-active.pickadate-outofrange-disabled a {
  // date must be hidden
  // user must not see or select it
  color: #fff;
  color: transparent;

  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* ------------------date -picker ends here-------------------------- */