

/* 300 ***/
@font-face {
	font-family: 'Source Sans Pro';
	src: asset-url('sourcesanspro-light-webfont.eot');
	src: asset-url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), asset-url('sourcesanspro-light-webfont.woff') format('woff'), asset-url('sourcesanspro-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
/*300 ***/
@font-face {
	font-family: 'Source Sans Pro Light Italic';
	src: asset-url('source-sans-pro.light-italic.eot');
	src: asset-url('source-sans-pro.light-italic.eot?#iefix') format('embedded-opentype'), asset-url('source-sans-pro.light-italic.woff') format('woff'), asset-url('ssource-sans-pro.light-italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
/* 400 ***/
@font-face {
font-family: 'Source Sans Pro';
	src: asset-url('sourcesanspro-regular-webfont.eot');
	src: asset-url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), asset-url('sourcesanspro-regular-webfont.woff') format('woff'), asset-url('sourcesanspro-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
/* 400 italic ***/
@font-face {
	font-family: 'Source Sans Pro';
	src: asset-url('sourcesanspro-italic-webfont.eot');
	src: asset-url('sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'), asset-url('sourcesanspro-italic-webfont.woff') format('woff'), asset-url('sourcesanspro-italic-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
/* 600 ***/
@font-face {
	font-family: 'Source Sans Pro';
	src: asset-url('sourcesanspro-semibold-webfont.eot');
	src: asset-url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'), asset-url('sourcesanspro-semibold-webfont.woff') format('woff'), asset-url('sourcesanspro-semibold-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/* 700 ***/
@font-face {
	font-family: 'Source Sans Pro';
	src: asset-url('sourcesanspro-bold-webfont.eot');
	src: asset-url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'), asset-url('sourcesanspro-bold-webfont.woff') format('woff'), asset-url('sourcesanspro-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
