


@import "variables.less";
@import "base.less";
@import "font.less";
@import "layout.less";
@import "state.less";
@import "date-picker.less";
@import "bill-popup.less";
@import "modal-styles.less";
@import (inline) 'guestweb/css/flags.css';


body {
    font-size: 100%;
    font-family: 'Source Sans Pro';
}
.main-text,.sub-text,.sub-main-text,.footer-text{
    font-weight:lighter;
}
.main-text{
    font-size: 30px;
}
.padding-top-30{
  padding-top:30px !important;
}

.black-text{
    color: @black !important;
}

.sub-main-text{
    font-size:15px !important;
}

.sub-text{
    font-size:12.3px;
    text-transform:uppercase;
}
.strong-font{
    font-weight:600;
}

.no-text-transform{
    text-transform:none !important;
}

.grey-btn,.grey-btn:hover{
    background:#8B8B8B !important;
}

.footer-text{
    text-align: center;
    font-style: italic;
    margin-top:30px;
    margin-bottom:30px;
    font-size: 22px;
    padding-left:4%;
    padding-right:4%;
}

.time,.amount{
    font-size: 24px;
}
.ap,.for{
    font-size:16px;
}
.balance-amount{
    font-size:30px;
}
.request-text,.error-text{
    color:@black;
    font-size:22px;
}
.phone-text,.phone-text:hover{
    color:@black !important;
    text-decoration:underline;
}
.query-text,.query-text:hover{
    cursor:pointer;
    font-size:12px;
    text-decoration:underline;
    .black-text;
}
.res-date{
    font-size:18px;
    color:@white;
}
.upgrade-details {
    background-color: #fff;
    p {
         text-align: left;
    }
}
.rate-info,.room-name{
    font-size:30px;
}
.rate-desc{
    padding-left:10px;
    font-size:14px;
}
.rate-info,.rate-desc{
    float:left;
}
.show-in-mobile{
    display:none;
}

/*-------------------------------- terms & conditions ------------------------------------------------*/
.terms-and-conditions-container{
    width:95%;
}
.terms-alert{
    padding:4% 4% 10%;
}
.grey-terms-button,.green-button{
    float:left;
    width:200px;
    color:@white;
}
.grey-terms-button,.grey-terms-button:hover{
    background: #787878;
    color:@white;
}
.green-button{
    padding:1.5%;
}
.grey-terms-button{
  margin-top:10px;
  margin-left:30px;   
  padding:0.9%;
}
.green-text{
    color:@green;
}
.terms-main,.terms-sub{
    text-align:left;
}
.terms-main{
    font-size:22px;
}
.terms-sub{
   font-size:15px;
}
.button-actions{
    margin-top:3%;
}
.full-screen {
    height: 90% !important;
    overflow: scroll;
    width: 95%;
    margin: 2% auto !important;
}
.logo-image{
    max-width:300px;
    margin:3% auto 0;
}
.carousel-inner{
    padding-bottom:2%;
}
/*-------------------------------- CC page------------------------------*/
.cc-alert{
  padding-top:10%;
  padding-bottom:10%;

  p{
    margin:none;
  }
}

.cc-close{
  margin:5% auto;
}
.cc-number-description{
      padding:0 10%;
      font-size:13px;
      .ccv-headings{
        font-weight:bold;
        font-size: 15px;
        margin-top: 10px;
      }
}

.no-thanks{
    font-size: 16px;
    text-transform:uppercase;
}
.view-bill{
    cursor:pointer;
    font-size:18px;
    margin: 0 auto;
    max-width: 104px !important;
    div,span{
        float:left;
    }
}

.footer-sub-text,.footer-sub-text:hover{
    font-size:18px !important;
    color:@white;
}
.res-details-heading,.res-details-heading:hover{
    font-size:18px !important;
    color:#8e8e8e;
}
.horizontal-line-sep-mobile {
    border-top: 1px solid white; 
    width:100%;
    margin-bottom:10px;
    display: none;
}
.late-checkout-final-button{
    font-size:16px;
    text-transform:uppercase;
}
/*-------------------------------- responsive code starts here------------------------------*/


@media (min-width: 990px) {
    .main-text{
        font-size: 44px;
    }
    .sub-text{
        font-size:18px !important;
    }
    .sub-main-text{
        font-size: 24px !important;
    }
    .checkout-btn{
        padding:25%;
    }
    .checkout-btn,.accept-charges{
        width: 420px;
        font-size: 30px;
    }
    .hide-in-desktop{
        display: none;
    }
    .accept-charges{
        padding:15%;
    }
    .vertical-line{
        display:block;
    }
    .res-date{
        font-size:24px;
    }
    .lonely-btn {
        margin-top: 15%;
    }
    .hide-in-mobile{
        display: block;
    }
    .checkout-alone-button{
        float:left;
        margin-left:10px;
    }
    .final-text{
        font-size:34px !important;
    }
    .late-checkout-final-button{
        font-size:24px;
    }
    .right-arrow-button {
        background-position: 0 1px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1028px){
.checkout-alone-button {
    margin-top: 30%  !important;
    margin-left: 40% !important;
}

}

@media (max-width: 480px) {
    .btn-template{
        font-size:28px;
    }
    .accept-charges {
        padding: 5% 22%;
    }
    .one-third-width{
        max-width:none;
    }
    .container{
        width:90%;
    }
    .sm-no-top-spacing{
       margin-top: 0; 
    }
    .sm-icon{
        margin-top:10px;
    }
    .sm-full-strech{
        width:100%;
        padding-left: 0;
        padding-right: 0;
        .row{
           margin-left:0px;
           margin-right:0px;
        }
    }
    .options-container{
        width:100% !important;
    }
    .one-third-width{
        max-width: none;
    }
    .request-text,.error-text{
        font-size:16px;
    }
    .lonely-btn {
        margin-top: -12%;
    }
    .logo-margin{
        margin:6%;
    }
    .proceed-to-checkin {
        position:fixed;
        bottom:0;
    }
    .grey-terms-button{
        margin-top:10px;
        margin-left:0px;   
    }
    .grey-terms-button,.green-button{
        float:none;
    }
    .grey-terms-button{
        width: 173px;
        padding:2.4%;
    }
    .green-button{
        width: 200px;
        padding:3.5% !important;
    }
    .logo-image{
        max-width:250px;
        margin:6% auto;
    }
    .footer-text{
     font-size: 14px;
    }
    .input-field {
        font-size: 18px;
        padding: 0;
    }
    .done-calendar{
        padding-left:2px !important;
    }
    .calendar-button {
        background-size: 35px 27px;
        background-position: 96% 5px;
    }
    .footer-sub-text,.footer-sub-text:hover,.res-details-heading,.res-details-heading:hover{
        font-size:12px !important;
    }
    .early-checkin-button,.early-checkin-button:hover{
        font-size:24px !important;
    }
    .accept-checkbox{
      transform: scale(1.2);
    }
    .horizontal-line-sep-mobile {
        display: block;
    }
    .hide-in-desktop{
        display:block;
    }
     .flag-container{ 
        width: 125%;
    }
    .mobile-field{
        width:51%;
    }
    .dial-div{
        margin-left:8%;
    }
    .flag {
        margin-top: 4px;
    }
}

@media (min-width: 480px) {
  .proceed-to-checkin {
        position: static;
        border-radius: 10px;
    }
  .hide-in-desktop{
        display:none;
  }
}
/* mobile number section */

.country-container{
    width:18% !important;
    cursor: pointer;
    margin-left:0px;
}
.flag-container{
    overflow: visible; 
    height: 40px; 
    width: 114%;
    position:relative;

}

.flag-container::after{
    left:80% !important;
}
.country-dropdown{
    width: 200px;
    position: absolute; 
    opacity: 0; 
    height: 40px;
    left:0;
}
.dial-div{
    background: #D3D3D3 none repeat scroll 0px 0px;
    float: left;
    height: 40px;
    padding: 2%;
    width: 18%;
    margin-left:4%;
    text-align:right;
    font-size: 1.5em;
}
.mobile-field{
    float:right;
    width:54%;
    margin-left:3%;
    height: 40px;
    font-size:1.5em;
}
.country-dropdown{
    width: 200px;
    position: absolute; 
    opacity: 0; 
    height: 40px;
}
.tnc p{
  text-align:left !important;
}
