<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title">
        <h2>Rover Connect ID Lookup</h2>
        <a ng-click="goBackToPreviousState()" class="action back">Back</a>
    </header>
    <section class="content-scroll full-page">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <div class="interface-filters">
            <div class="interface-entry select">
                <label for="entities">Entity</label>
                <select id="entities" ng-class="entities"
                        ng-model="filter.integration" data-action="interface">
                    <option value="" selected>Select Entity</option>
                    <option ng-repeat="entity in entities" value="{{entity}}">{{entity}}</option>
                </select>
            </div>

            <div class="interface-entry search">
                <span class="icons icon-search"></span>
                <input id="interface-query" class="query" placeholder="Search by ID or Code"
                       ng-model="filter.keyword"
                       autocomplete="off" type="search"/>
                <button type="button" ng-click="reloadTable()" class="button green">Search</button>
            </div>
        </div>

        <table id="interface-messages" ng-table="tableParams" template-pagination="custom/pager"
               class="grid interfaces-grid" ng-show="$data.length">
            <tbody ng-repeat="message in $data" ng-init="isExpanded = false;">
            <tr ng-click="isExpanded = !isExpanded">
                <td data-title="'ID'" header-class="cell-300">
                    {{message.transaction_id}}
                </td>
                <td data-title="'Interface'" header-class="cell-180">
                    {{message.meta_data.integration_name}}
                </td>
                <td data-title="'Text'">
                    <pre class="interface-message"><xmp>{{message.request || message.response}}</xmp></pre>
                </td>
                <td data-title="'Created'" header-class="cell-160">
                    {{message.sent_at | date: dateFormat : hotelTimeZoneAbbr}}&nbsp;{{message.sent_at | date: 'hh:mm a'
                    : hotelTimeZoneAbbr }}
                </td>
            </tr>
            <tr class="interface-message-details" ng-show="isExpanded">
                <td colspan="4" ng-if="message.request" snt-highlight-syntax>
                    <strong>Request</strong>
                    <pre class="interface-message auto-links: false; brush: {{(message.meta_data.type | lowercase) === 'json' ? 'js' : (message.meta_data.type | lowercase)}}">
                        {{message.request}}
                    </pre>
                    <strong>Response</strong>
                    <pre class="interface-message brush: js; auto-links: false">
                        {{message.response}}
                    </pre>
                    <!-- If it's a large message, show download button -->
                    <button type="button" class="button blue"
                            ng-click="download(message.id, filter.integration, !!message.request, !!message.response)">
                        Download Entire Message
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <script type="text/ng-template" id="custom/pager">
            <div class="pager" ng-show="$data.length">
                <span ng-show="totalCount>0">Showing {{startCount}} to {{endCount}} of {{totalCount}} items</span>
                <span ng-show="totalCount==0">Showing 0 items</span>
                <ul class="ng-cloak">
                    <li ng-repeat="page in pages"
                        ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
                        ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">

                        <a ng-switch-when="prev" ng-click="params.page(1)" class="page"
                           ng-class="{'disabled': !page.active}">First</a>
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page"
                           ng-class="{'disabled': !page.active}">Previous</a>
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page"
                           ng-class="{'disabled': !page.active}">{{page.number}}</a>

                        <a ng-switch-when="next" ng-click="params.page(page.number)" class="page"
                           ng-class="{'disabled': !page.active}">{{page.number}}</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" class="page"
                           ng-class="{'disabled': !page.active}">Next</a>
                        <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page"
                           ng-class="{'disabled': !page.active}">Last</a>
                    </li>
                </ul>
            </div>
        </script>

    </section>
</div>
