<!-- Collapse View -->
<div ng-hide="selectedMenu ==='export'" ng-click="$emit('changeMenu','export')" class="cursor_pointer">
   <em class="rate_step_title">Export</em>
   <div class="pull-right"><img src="/assets/cssimg/arrow-down.png"></div>
</div>
<!-- Expanded View -->
<div class="form float" ng-show="selectedMenu ==='export'" ng-controller="adIdeasExportSetupCtrl">
   <form class="form zest-web-settins-form float">
      <div class="form-title full-width expanded-menu-header">
         <h3><span>Export</span></h3>
         <div class="toggle-arrows pull-right" ng-click="cancelMenuSelection()">
            <img class="toggle-up" src="/assets/cssimg/arrow-up.png">
         </div>
      </div>
      <div ng-include="'/assets/partials/common/notification_message.html'"></div>
      <fieldset class="holder full-width">
         <ad-form-title full-width="true" form-title="General"></ad-form-title>
         <ad-toggle-button is-checked="ideaSetup.enabled" label="{{'WINDSURFER_CRS_ACTIVATE_INACTIVATE'| translate}}"></ad-toggle-button>
      </fieldset>
      <fieldset class="holder left">
        <!-- GENERAL SETTINGS STARTS HERE -->
         <ad-textbox required='yes' nputtype="text" value="ideaSetup.account_id" label="Account Id" styleclass="full-width"></ad-textbox>
         <div class="entry has-datepicker full-width">
            <label>
            {{'START_DATE' | translate}}
            <strong>*</strong>
            </label>
            <input type="text" class="range-datepicker" ui-date="datepicker.options" ng-model="ideaSetup.start_date" readonly>
         </div>
         <ad-textbox inputtype="number" required="yes" value="ideaSetup.days_past" label="Past Days" styleclass="full-width"></ad-textbox>
         <ad-textbox inputtype="number" required="yes" value="ideaSetup.days_future" label="Future Days" styleclass="full-width"></ad-textbox>
         <!-- GENERAL SETTINGS ENDS HERE -->
         <!-- DELIVERY SETTINGS STARTS HERE -->
         <div id="options" class="entry">
            <label>
            {{ 'DELIVERY' | translate}}
            </label>
            <label class="radio" ng-class="{'checked':ideaSetup.deliver_by_ftp == 'email'}">
            <span class="icon-form icon-radio " ng-class="{checked:ideaSetup.deliver_by_ftp == 'email'}"></span>
            <input type="radio" value="email" ng-model="ideaSetup.deliver_by_ftp"> {{ 'EMAIL' | translate}}
            </label>
            <label class="radio" ng-class="{'checked':ideaSetup.deliver_by_ftp == 'ftp'}">
            <span class="icon-form icon-radio " ng-class="{checked:ideaSetup.deliver_by_ftp == 'ftp'}"></span>
            <input type="radio" value="ftp" ng-model="ideaSetup.deliver_by_ftp"> {{ 'FTP' | translate}}
            </label>
         </div>
      </fieldset>
      <fieldset class="holder full-width">
         <ad-form-title full-width="true" form-title="Export Email Delivery"></ad-form-title>
      </fieldset>
      <fieldset class="holder left">
         <ad-textbox  inputtype="text" value="ideaSetup.email" label="Email Address" styleclass="full-width">
         </ad-textbox>
      </fieldset>
      <fieldset class="holder full-width">
         <ad-form-title full-width="true" form-title="Export FTP Delivery"></ad-form-title>
      </fieldset>
      <fieldset class="holder left">
         <ad-textbox inputtype="text" value="ideaSetup.ftp_username" label="FTP user name" styleclass="full-width"></ad-textbox>
         <ad-textbox  inputtype="text" value="ideaSetup.ftp_password" label="FTP password" styleclass="full-width"></ad-textbox>
         <ad-textbox  inputtype="text" value="ideaSetup.ftp_location" label="FTP location" styleclass="full-width" readonly></ad-textbox>
      </fieldset>
       <!-- DELIVERY SETTINGS ENDS HERE -->
      <fieldset class="holder full-width">
         <div class="form-title">
            <h3>
               <span>Charge Groups</span>
            </h3>
            <em class="status">
            <span>Select at least one Charge Group</span>
            </em>
         </div>
         <div class="entry has-sortable">
            <label class="center_align"><em class="rate_roomtype_text">Available Charge Groups</em></label>
            <ul class="boxes sortable ui-sortable short-list" data-type="source" data-drop="true" ng-model="ideaSetup.available_charge_groups" style="overflow-y: scroll !important;" jqyoui-droppable="{multiple:true, onOver: 'onUnSelectChargeGroup'}" data-j qyoui-options="{accept:'.selected_reports'}">
               <li ng-repeat="chargeGroup in ideaSetup.available_charge_groups" data-drag="true" ng-model="ideaSetup.available_charge_groups" jqyoui-draggable="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}" class="available-reports li-draggable" ng-click="chooseAvailableChargeGroup($index)" ng-class='{selected: chosenAvailableChargeGroups.indexOf($index) > -1}'>
                  <span class="icons icon-handle"></span>
                  <span class="icons icon-handle"></span> {{ chargeGroup }}
               </li>
            </ul>
         </div>
         <div class="entry movers rates_mover">
            <span class="top_mover">
            <span class="icons icon-mover-right to-target"
               data-type="target"
               ng-click="selectChosen()"
               ng-class="{active: chosenAvailableChargeGroups.length >= 1}"
               data-type="source">
            Select Report(s)
            </span>
            <span class="icons icon-mover-left to-source" data-type="source" ng-click="unSelectChosen()" ng-class="{active: chosenSelectedChargeGroups.length >= 1}">
            Un-select Report(s)
            </span>
            </span>
            <span>
               <div class="green_gradient icons">
                  <span class="active to-source green_mover icons_rates"
                     data-type="source"
                     ng-click="selectAll()">
                  Select Report(s)
                  </span>
               </div>
               <div class="red_gradient icons">
                  <span class="active to-target  red_mover icons_rates" data-type="target" ng-click="unSelectAll()">
                  Un-select Report(s)
                  </span>
               </div>
            </span>
         </div>
         <div class="entry has-sortable">
            <label class="center_align">
            <span class="assigned_room_text">Selected Charge Group</span></label>
            <ul class="boxes sortable ui-sortable short-list" data-type="target" data-drop="true" ng-model="ideaSetup.selected_charge_groups" jqyoui-droppable="{multiple:true, onOver: 'onSelectChargeGroup'}" data-jqyoui-options="{accept:'.available-reports'}">
               <li ng-repeat="chargeGroup in ideaSetup.selected_charge_groups" ng-click="chooseSelectedChargeGroup($index)" ng-class='{selected: chosenSelectedChargeGroups.indexOf($index) > -1}' class="selected-reports li-draggable" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}" data-drag="true" ng-model="ideaSetup.selected_charge_groups" jqyoui-draggable="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }">
                  <span class="icons icon-handle"></span>
                  <span class="icons icon-handle"></span> {{ chargeGroup }}
               </li>
            </ul>
         </div>
      </fieldset>
      <ad-save-cancel-area save-action="saveSetup" cancel-action="cancelMenuSelection"></ad-save-cancel-area>
   </form>
</div>
