/*------------------------------- Themes ----------------------------------------------------*/

@import "../style.less";

a,a:hover{
    color:#fff !important;
}
.main-text{
    color:@black;
}
.sub-main-text{
    color: @dark-grey;
}
.template-text,.footer-text{
     color: @dark-grey;
}
.sub-text{
    color: @black;
}
.light-text{
    color:@grey !important;
}
.navbar{
    background-color:@white;
}
.header-bar{
  margin-top :0px !important;
  padding-bottom:20px !important;
  background-color:@black;
}
.btn,.btn:hover{
    background:#d5b06c;
}
.dark-button,.dark-button:hover{
    background: #a8884b !important;
}
.checkouttime1,.checkouttime1:hover{
    background: #d5b06c;
}
.checkouttime2,.checkouttime2:hover{
    background: #bf9b57;
}
.checkouttime3,.checkouttime3:hover{
    background: #a8884b;
}
.no-thanks,.no-thanks:hover{
    color:black !important;
    text-decoration: underline;
}
.upgrade-details .upgrades-btn {
    background: #d5b06c;
}

.proceed-to-checkin {
    background: #E7E7E7;
    span{
        color:#d5b06c;
        float:right;
    }
}
.upgrades-label{
    color:#d5b06c;
}

.calendar-back {
    background-image: url('/assets/common_images/back_icon.png');
}
.calendar-done{
    background-image: url('/assets/common_images/done_white.png');
}
.date-picker-header {
  background-color: #d5b06c !important;
}
.pickadate-cell .pickadate-active {
  background-color: #d5b06c !important;
}
.res-date, .sub-main-text {
    color: @black;
}
.sub-text {
    font-weight: normal;
}
.footer-sub-text, .footer-sub-text:hover {
    color: @black;
}
.horizontal-line-sep-mobile {
    border-color: #EDEDED;
}
.phone-label {
    color: #d5b06c;
    text-decoration: none;
}
.right-arrow-button {
    background-position: 0 4px;
}