<div class="entry amount">
    <!-- gift card -->
    <section ng-show="selectedPaymentType === 'GIFT_CARD'">
        <input placeholder="Enter Card number"
               ng-model="giftCard.number"
               maxlength="22"
               rv-delay-textbox
               delay="1000"
               function-to-fire="onChangeGiftCard"
               type="text"/>

        <label ng-show="giftCard.amountAvailable"> Available Card Balance (<span class="currency">{{payment.selectedPaymentCurrencySymbol}}</span>) </label>

        <input ng-show="giftCard.amountAvailable"
               ng-readonly="true"
               ng-model="giftCard.availableBalance"
               type="text"/>
    </section>

    <label>Amount to pay (<span><span class="currency">{{payment.selectedPaymentCurrencySymbol}}</span></span>)</label>

    <input ng-change="onPaymentInfoChange()"
           ng-model="payment.amount"
           type="text"
           ng-disabled="!payment.isEditable || splitBillEnabled"
           class="amount"
           ng-if="!payment.isRateSuppressed" />


    <input type="text"
           ng-disabled="!payment.isEditable || splitBillEnabled"
           class="amount"
           ng-if="payment.isRateSuppressed"
           value="{{'SUPPRESSED_RATES_TEXT' | translate}}" />                                                                                                                                                                                                                                                                                                                       

    <span ng-show="feeData.showFee" class="delimiter">+</span>

    <input ng-show="feeData.showFee && !payment.isRateSuppressed"
           ng-change="onFeeOverride()"
           ng-model="feeData.calculatedFee"
           value="{{feeData.calculatedFee}}"
           type="text"
           class="fee"/>

    <input ng-show="feeData.showFee && payment.isRateSuppressed"
           value="{{'SUPPRESSED_RATES_TEXT' | translate}}"
           type="text"
           class="fee"/>

    <span ng-show="feeData.showFee" class="delimiter">fee</span>

    <div class="select" ng-hide="selectedPaymentType === 'CC' ">
        <select ng-options="paymentCurrency.id as paymentCurrency.symbol for paymentCurrency in paymentCurrencyList" ng-change="onPaymentCurrencyChange()" ng-model="payment.selectedPaymentCurrencyId">
            <option style="display:none" value="">Select Currency</option>
        </select>
    </div>

    <span ng-show="feeData.showFee" class="total">
          Total:
          <strong ng-if="!payment.isRateSuppressed">
            <span ng-bind-html="feeData.totalOfValueAndFee | sntCurrency:this:payment.selectedPaymentCurrencySymbol">
          </strong>
          <strong ng-if="payment.isRateSuppressed">
              {{'SUPPRESSED_RATES_TEXT' | translate}}
          </strong>
        </span>
</div>


<div id="refund-field" class="entry full-width " ng-show="isRefund() && hotelConfig.selectedReceiptTypeValue === 'tax_payment_receipt' && ((paymentAttempted && isPaymentFailure) || !paymentAttempted)">
    <label for="reference" ng-if="selectedPaymentType !== 'DB'">Payment Receipt</label>

    <!-- Remove .hidden if the selected receipt's amount is lower than the entered one -->
    <div class="notice smaller hidden">
       <strong>Please Review!</strong>
       <p>Amount entered is greater than original receipt.</p>
    </div>

    <!-- Remove .hidden if there are no receipts found -->
    <div class="notice success" ng-if="selectedPaymentType !== 'DB' && (!receiptsList || receiptsList.receipts.length === 0)">
       There are no Payment Receipts for this refund
    </div>

    <!-- Remove .hidden when there are receipts available -->
    <div id="noticeSelectReceipt" class="notice" ng-show="selectedPaymentType !== 'DB' && receiptsList.receipts.length > 0 && !payment.receipt_id">
        Select a Payment Receipt for this refund
    </div>

    <!-- Show while checking for receipts -->
    <div class="notice hidden">
       Checking for payment receipts for this refund...
    </div>
    
    <!-- Show if there are any receipts found -->
    <div class="select" ng-if="receiptsList.receipts.length > 0 && selectedPaymentType !== 'DB'">
        <!-- Remove .placeholder when user has selected an option -->

        <select class="placeholder" ng-options="receiptData.receipt_id as receiptData.description for receiptData in receiptsList.receipts" ng-model="payment.receipt_id">
            <option value="">Select Payment Receipt</option>
        </select>
    </div>
</div>

<div class="entry full-width" ng-if="selectedPaymentType === 'CC' && hotelConfig.paymentGateway === 'SHIJI' && payment.shiji_token_enable_offline">
    <label for="auth-code">{{ 'ENTER_MANUAL_AUTH_CODE' | translate }}</label>
    <input id="auth-code"
           ng-model="payment.auth_code"
           type="text" />
</div>

<!-- Reference field - use only when it exsits; This configuration is available in the Admin/Financials -->
<div class="entry full-width reference" ng-show="hotelConfig.isStandAlone">
    <label>Reference</label>
    <input ng-model="payment.referenceText" type="text" />
</div>

<!-- Buttons -->
<div class="actions" ng-hide="showCCPage || depositPaidSuccesFully">
    <button type="button" class="button blank modal-close" ng-click="closeThePopup()" translate>
        CANCEL
    </button>
    <button type="button" class="button green" click-touch="submitPayment()"
            ng-disabled="shouldHidePaymentButton()"
            ng-class="{'grey':shouldHidePaymentButton()}"
            ng-show="!isRefund() && !splitBillEnabled">
        MAKE PAYMENT
    <button type="button" class="button green" click-touch="submitPayment()"
            ng-disabled="shouldHidePaymentButton()"
             ng-class="{'grey':shouldHidePaymentButton()}"
            ng-show="!isRefund() && splitBillEnabled">
        MAKE PAYMENT ({{ completedSplitPayments + 1 }}/{{ numSplits }})
    </button>
    <button type="button" class="button blue" click-touch="submitPayment()"
            ng-disabled="shouldHidePaymentButton()"
            ng-class="{'grey':shouldHidePaymentButton()}"
            ng-show="isRefund() && !splitBillEnabled">
        REFUND <span ng-bind-html="-1 * payment.amount | sntCurrency:this:payment.selectedPaymentCurrencySymbol"></span>
    </button>
    <button type="button" class="button blue" click-touch="submitPayment()"
            ng-disabled="shouldHidePaymentButton()"
            ng-class="{'grey':shouldHidePaymentButton()}"
            ng-show="isRefund() && splitBillEnabled">
        REFUND <span ng-bind-html="-1 * payment.amount | sntCurrency:this:payment.selectedPaymentCurrencySymbol"></span> ({{ completedSplitPayments + 1}}/{{ numSplits }})
    </button>
</div>