/*------------------------------- Themes ----------------------------------------------------*/

@import "../style.less";

.back-text{
    color:#fff !important;
}
.logo-image {
    margin: 4% auto 2%;
}

.header-bar{
    background:#FB8B33;
}

.back-text{
    color:#fff !important;
}

a,a:hover,.main-text,
.res-date,
.footer-sub-text,.footer-sub-text:hover,.phone-label{
    color:#1A1A1A;
}

.sub-main-text{
    color:#444444;
}

.view-bill{
    color:#FB8B33;
}

.btn,.btn:hover{
    background:#FB8B33;
    color:@white;
}
.dark-button,.dark-button:hover{
    background: #FF7B00 !important;
}
.light-button,.light-button:hover{
    background: #FB8B33 !important;
}
.checkouttime1,.checkouttime1:hover{
    background: #FFA07A;
}
.checkouttime2,.checkouttime2:hover{
    background: #FB8B33;
}
.checkouttime3,.checkouttime3:hover{
    background: #FF7B00;
}
.down-arrow-button{
    background-image:url('/assets/guestweb/common_images/orange/down_arrow.png'); 
}
.right-arrow-button{
    background-image:url('/assets/guestweb/common_images/orange/right_arrow.png'); 
}

.upgrade-details .upgrades-btn {
    background: #FB8B33;
}

.proceed-to-checkin {
    background: #FB8B33;
}
.upgrades-label{
    color:#FB8B33;
}


/*----------------- date picker -------------------------*/

.pickadate-cell .pickadate-active.pickadate-outofrange-disabled a {
  color: #363634;
  color: transparent;
}
.pickadate-cell .pickadate-enabled ,.pickadate-centered-heading{
  color: #000 !important;
}
.pickadate-cell .pickadate-active {
  background-color: #FB8B33 !important;
  color:#fff !important;
}
.date-picker-header{
  background:#FB8B33;
}
.calendar-selection {
    color: #fff;
}
.calendar-back {
  background-image: url('/assets/guestweb/common_images/white/back_icon.png');
}

.calendar-done{
   background-image: url('/assets/guestweb/common_images/white/done_icon.png');
}

.addon-container.selected {
    background-color:rgba(251, 139, 51,0.8);
}

@media (max-width: 990px) {
    .logo-image {
        margin: 9% auto 7%;
        max-width: 150px;
    }
    .back-to-checkout{
        display:none;
    }
}