<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2 translate>ZESTSTATION_PICKUPKEYS</h2>
        <a ng-click ="goBackToPreviousState()" class="action back" translate>ZESTSTATION_BACK</a>

    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_err_message_basic.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>        
    </section>
</div>