<ad-common-parts-in-form-dir on-save-button-click="saveSettings" header-caption="Hue Settings">
    <fieldset class="holder full-width">
        <ad-toggle-button is-checked="hueSettings.kiosk_is_hue_active" div-class="full-width" label="{{ 'USE_HUE' | translate}}"></ad-toggle-button>
        <ad-form-sub-title title="HANDLER_INSTRUCTIONS"></ad-form-sub-title>
        <div class="entry full-width">
            <button translate="" ng-click="connectUsingWS()" class="button green" translate="">CONNECT_TO_WS</button>
        </div>
        <ad-form-sub-title title="DISCOVER_HUE_BRIDGE_INSTRUCTIONS"></ad-form-sub-title>
        <div class="entry full-width">
            <button translate="" ng-click="discoverBridges()" class="button green" translate="">DISCOVER_BRIDGES</button>
        </div>
        <div ng-show="availableBridges.length > 0" class="entry half-width">
            <table class="grid">
                <!-- <col width="40%"> -->
                <col width="30%">
                <!-- <col width="30%"> -->
                <thead>
                    <!-- <th class="header">{{'ID' | translate}}</th> -->
                    <th class="header">{{'IP_ADDRESS' | translate}}</th>
                    <!-- <th class="header">{{'NAME' | translate}}</th> -->
                </thead>
                <tbody>
                    <tr ng-repeat="bridge in availableBridges">
                        <!-- <td>{{bridge.id}}</td> -->
                        <td>
                            {{bridge}}
                        </td>
                        <!--   <td>
                            {{bridge.name}}
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="holder full-width">
        <ad-form-sub-title title="BRIDGE_IP_INSTRUCTIONS"></ad-form-sub-title>
        <ad-textbox value="hueSettings.hue_bridge_ip" name="app-name" id="app-name" label="Target Bridge IP" styleclass="half-width"></ad-textbox>
    </fieldset>
    <fieldset class="holder full-width">
        <ad-form-sub-title title="HUE_USER_NAME_INSTRUCTIONS"></ad-form-sub-title>
        <div class="entry full-width">
            <button translate="" ng-click="createNewAppKey()" class="button green" translate="">CREATE_NEW_APP_KEY</button>
        </div>
        <div class="entry full-width" ng-show="newUsername.length > 0">
            {{'NEW_APP_KEY_IS' | translate}} &nbsp;&nbsp; <span class="hue-app-key">{{newUsername}}</span>
        </div>
        <ad-textbox value="hueSettings.hue_user_name" name="app-name" id="app-name" label="App key" styleclass="half-width"></ad-textbox>
        <ad-textbox value="hueSettings.hue_light_color_hex" name="app-name" id="app-name" label="Light Color" styleclass="half-width" placeholder="{{'LIGHT_COLOR_INSTRUCTIONS' | translate}}"></ad-textbox>

        <div class="entry half-width hue-quick-set" >
            <label>
                {{'LIGHT_BRIGHTNESS' | translate}}
            </label>
            <input
            ng-model="hueSettings.hue_brightness"/>
            <div class="quick-set">
                <i>quick set:</i>
                <button class="bri-set" ng-repeat="brightness in quickSet" ng-click="hueSettings.hue_brightness = brightness">{{brightness}}</button>
            </div>
        </div>
      
        <div class="entry half-width-width">
            <label>
                {{ 'LIGHT_BLINKING_EFFECT' | translate}}
            </label>
            <div class="entry">
                <div class="select">
                    <select ng-options="item.id as item.name for item  in lightEffects" ng-model="hueSettings.hue_blinking_effect">
                        <option style="display:none" value="">SELECT</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- HIDE FOR NOW -->
         <div class="entry half-width hue-quick-set" ng-hide="true">
            <label>
                {{'HUE' | translate}}
            </label>
            <input
            ng-model="hueSettings.light_hue"/><br/><br/>
            <i>quick set:</i>
            <div class="entry">
                <div class="select">
                    <select ng-options="item.id as item.label for item  in quickHueSet" ng-model="hueSettings.hue_value" ng-change="setHue()">
                        <option style="display:none" value="">SELECT</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- HIDE FOR NOW -->
        <div class="entry half-width hue-quick-set" ng-hide="true">
            <label>
                {{'SATURATION' | translate}}
            </label>
            <input
            ng-model="hueSettings.hue_light_saturation"/>
            <div class="quick-set">
                <i>quick set:</i>
                <button class="bri-set" ng-repeat="saturation in quickSet" ng-click="hueSettings.hue_light_saturation = saturation">{{saturation}}</button>
            </div>
        </div>
        </fieldset>
    <fieldset class="holder full-width">
        <ad-form-title form-title="Test Settings"></ad-form-title>
        <ad-form-sub-title title="TEST_SETTINGS_INSTRUCTIONS"></ad-form-sub-title>
    </fieldset>
    <fieldset class="holder full-width">
        <div class="entry full-width">
            <button translate="" ng-click="getLightsList()" class="button green" translate="">GET_LIGHTS</button>
        </div>
        <div ng-show="availableLights.length > 0">
            <table class="grid">
                <col width="10%">
                <col width="20%">
                <col width="30%">
                <col width="20%">
                <thead>
                    <th class="header">Id</th>
                    <th class="header">type</th>
                    <th class="header">Name</th>
                    <th class="header">Reachable</th>
                </thead>
                <tbody>
                    <tr ng-repeat="light in availableLights">
                        <td>{{light.id}}</td>
                        <td>
                            {{light.type}}
                        </td>
                        <td>
                            {{light.name}}
                        </td>
                        <td>
                            {{light.reachable?'Reachable':'Not Reachable'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="holder left">
        <ad-textbox value="hueSettings.hue_test_light_id" name="app-name" id="app-name" label="light ID" placeholder="Enter the ID of light to test" styleclass="full-width"></ad-textbox>
        <div class="entry">
            <button translate="" ng-click="turnONLight()" class="button green" translate="">TURN_ON_LIGHT</button>
        </div>
        <div class="entry">
            <button translate="" ng-click="turnOFFLight()" class="button orange" translate="">TURN_OFF_LIGHT</button>
        </div>
    </fieldset>
</ad-common-parts-in-form-dir>