<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2 translate>ZESTSTATION_TITLE_CHECKIN</h2>
        <a ng-click="goBackToPreviousState()" class="action back" translate>STATION_BACK</a>
    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <form class="form float">
            <!-- Guest delivery options -->
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate>REG_CARD_DELIVERY</span> </h3>
                </div>
                <ad-checkbox is-checked="zestSettings.registration_card.email" label="{{ 'EMAIL' | translate}}"></ad-checkbox>
                <ad-checkbox is-checked="zestSettings.registration_card.print" label="{{ 'PRINT' | translate}}"></ad-checkbox>
                <ad-checkbox is-checked="zestSettings.registration_card.auto_print" label="{{ 'AUTO_PRINT' | translate}}"></ad-checkbox>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>OFFER_EARLY_CHECKIN</span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.offer_early_checkin" label="{{'OFFER_EARLY_CHECKIN'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder left ">
                <div class="form-title full-width">
                    <h3><span translate>REG_CARD</span> </h3>
                </div>
                <div class="entry full-width">
                    <label translate>
                        REG_CARD_TEXT
                    </label>
                    <textarea class="full-width terms_height" type="" ng-model="zestSettings.reg_card_text"></textarea>
                </div>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>ENFORCE_DEPOSIT </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.enforce_deposit" label="{{'ENFORCE_DEPOSIT'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate>ON_SCREEN_ROOM_NUMBER </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.show_room_number" label="{{'ON_SCREEN_ROOM_NUMBER'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>COLLECT_USER_NATIONALITY </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.check_in_collect_nationality" label="{{'COLLECT_USER_NATIONALITY'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate>SECOND_AUTHENTICATION</span> </h3>
                </div>
                <ad-checkbox is-checked="zestSettings.checkin_screen.authentication_settings.departure_date" label="{{ 'DEPARTURE_DATE' | translate}}"></ad-checkbox>
                <ad-checkbox is-checked="zestSettings.checkin_screen.authentication_settings.email" label="{{ 'EMAIL' | translate}}"></ad-checkbox>
                <ad-checkbox is-checked="zestSettings.checkin_screen.authentication_settings.confirmation" label="{{ 'CONFIRMATION' | translate}}"></ad-checkbox>
                <ad-checkbox is-checked="zestSettings.checkin_screen.authentication_settings.number_of_nights" label="{{ 'AUTH_NO_OF_NIGHTS' | translate}}"></ad-checkbox>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>OWS_GUEST_MESSAGES </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.is_kiosk_ows_messages_active" label="{{'OWS_GUEST_MESSAGES'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate>BYPASS_CC_FOR_PREPAID_RESERVATIOIN </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.bypass_cc_for_prepaid_reservation" label="{{'BYPASS_CC_FOR_PREPAID_RESERVATIOIN'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>DISPLAY_TERMS_AND_CONDITIONS </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.kiosk_display_terms_and_condition" label="{{'DISPLAY_TERMS_AND_CONDITIONS'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <!-- Message Overrides for Zest Station Check-in, these override the active locale -->
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate>NO_AVAIL_ROOM_MSG</span> </h3>
                </div>
                <ad-textbox value="zestSettings.check_in_message_texts.speak_to_crew_mod_message1" name="zest-web" id="zest-web" label="" placeholder="{{'ZEST_CHECK_IN_MESSAGE' | translate }}" styleclass="full-width"></ad-textbox>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>KEY_PRINT_SUCCESS_MSG</span> </h3>
                </div>
                <ad-textbox value="zestSettings.check_in_message_texts.key_success_print_success_message" name="zest-web" id="zest-web" label="" placeholder="{{'ZEST_CHECK_IN_MESSAGE' | translate }}" styleclass="full-width"></ad-textbox>
            </fieldset>
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate> KEY_SUCCESS_PRINT_FAIL_MSG</span> </h3>
                </div>
                <ad-textbox value="zestSettings.check_in_message_texts.key_success_print_fail_message" name="zest-web" id="zest-web" label="" placeholder="{{'ZEST_CHECK_IN_MESSAGE' | translate }}" styleclass="full-width"></ad-textbox>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>KEY_FAIL_PRINT_SUCCESS</span> </h3>
                </div>
                <ad-textbox value="zestSettings.check_in_message_texts.key_fail_print_success_message" name="zest-web" id="zest-web" label="" placeholder="{{'ZEST_CHECK_IN_MESSAGE' | translate }}" styleclass="full-width"></ad-textbox>
            </fieldset>
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate> KEY_AND_PRINT_FAIL_MSG</span> </h3>
                </div>
                <ad-textbox value="zestSettings.check_in_message_texts.key_fail_print_fail_message" name="zest-web" id="zest-web" label="" placeholder="{{'ZEST_CHECK_IN_MESSAGE' | translate }}" styleclass="full-width"></ad-textbox>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate> CHECKIN_WAIT_MSG</span> </h3>
                </div>
                <ad-textbox value="zestSettings.check_in_message_texts.not_available_message" name="zest-web" id="zest-web" label="" placeholder="{{'ZEST_CHECK_IN_MESSAGE' | translate }}" styleclass="full-width"></ad-textbox>
            </fieldset>
            <fieldset class="holder left">
                <div class="form-title half-width-title">
                    <h3><span translate>ADDRESS_COUNTRY_LIST </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.kiosk_enforce_country_sort" label="{{'ENFORCE_COUNTRY_SORT'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title half-width-title">
                    <h3><span translate>VALIDATE_FIRST_NAME </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.kiosk_validate_first_name" label="{{'VALIDATE_FIRST_NAME'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <div class="actions float">
                <button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBackToPreviousState()" translate>
                    CANCEL
                </button>
                <button type="button" like-type="common" id="update" class="button ng-binding green" ng-click="saveSettings()" translate>
                    SAVE_CHANGES
                </button>
            </div>
        </form>
    </section>
</div>