<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2 translate>ZESTSTATION_COLORS_AND_GRAPHICS</h2>
        <a ng-click ="goBackToPreviousState()" class="action back" translate>STATION_BACK</a>

    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_err_message_basic.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div> 
        <form class="form float" >

            <!-- color selection -->
            <fieldset class="holder left max-width">
                <div class="form-title full-width">
                    <h3><span translate>COLOR_SEC_LABEL</span> </h3>
                </div>
                    <div class="zest-settings-left" id="text"><!-- text color-->
                        <ad-textbox value="zestSettings.colors.text" label="{{'TEXT_COLOR'| translate}}" styleclass="full-width"></ad-textbox>
                    </div>
                    <div class="zest-settings-right" id="background"><!-- background color-->
                        <ad-textbox value="zestSettings.colors.background" label="{{'BG_COLOR'| translate}}" styleclass="full-width" n></ad-textbox>
                    </div>
                    <div class="zest-settings-left" id="button"><!-- button color-->
                        <ad-textbox value="zestSettings.colors.button" label="{{'BUTTON_COLOR'| translate}}" styleclass="full-width" ></ad-textbox>
                    </div>
                    <div class="zest-settings-right" id="transparent"><!-- transparent color -->
                        <ad-textbox value="zestSettings.colors.transparent"  label="{{'TRANS_COLOR'| translate}}" styleclass="full-width"></ad-textbox>
                    </div>
                    <div class="zest-settings-left" id="input_field_background"><!-- input_field_background -->
                        <ad-textbox value="zestSettings.colors.input_field_background" label="{{'IN_FIELD_BG'| translate}}" styleclass="full-width"></ad-textbox>
                    </div>
                    <div class="zest-settings-right" id="header_icons"><!-- header_icons -->
                        <ad-textbox value="zestSettings.colors.header_icons" label="{{'HEADER_ICONS_COLOR'| translate}}" styleclass="full-width"></ad-textbox>
                    </div>
                    <div class="zest-settings-left" id="header_icons_pressed"><!-- header_icons_pressed -->
                        <ad-textbox value="zestSettings.colors.header_icons_pressed" label="{{'HEADER_ICONS_COLOR_PRESSED'| translate}}" styleclass="full-width"></ad-textbox>
                    </div>
           </fieldset>
          
            <div class="actions float">
                <button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBackToPreviousState()" translate>
                    CANCEL
                </button>
                <button type="button" like-type="common" id="update" class="button ng-binding green" ng-click="saveSettings()" translate>
                    SAVE_CHANGES
                </button>
            </div>

        </form>
    </section>
</div>