<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2 translate>ZESTSTATION_PICKUPKEYS</h2>
        <a ng-click="goBackToPreviousState()" class="action back" translate>STATION_BACK</a>
    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <form class="form float">
            <!-- QR Code Scanning instead of Normal Pickup Key flow -->
            <fieldset class="holder left">
                <div class="form-title full-width">
                    <h3><span translate>PUK_AUTH </span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.pickup_qr_scan" label="{{'QR_SCANNER'| translate}}" div-class="full-width"></ad-toggle-button>
                <ad-toggle-button is-checked="zestSettings.pickup_qr_scan_fail_over" label="{{'QR_FAIL_OVER'| translate}}" div-class="full-width"></ad-toggle-button>
                <!-- arrow directions -->
                <div class="entry full-width" ng-show="zestSettings.pickup_qr_scan">
                    <label>Arrow direction</label>
                    <div class="select">
                        <select ng-model="zestSettings.qr_scanner_arrow_direction">
                            <option value="">Select</option>
                            <option ng-repeat="arrowDirection  in arrowDirections" value="{{arrowDirection}}" ng-bind="arrowDirection"></option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>PUK_QR </span> </h3>
                </div>
                <ad-toggle-button ng-click='zestSettings.qr_scanner_datalogic = false' is-checked="zestSettings.qr_scanner_samsotech" label="{{'QR_SCANNER_TYPE_SAM'| translate}}" div-class="full-width"></ad-toggle-button>
                <ad-toggle-button ng-click='zestSettings.qr_scanner_samsotech = false' is-checked="zestSettings.qr_scanner_datalogic" label="{{'QR_SCANNER_TYPE_DATA'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
             <fieldset class="holder left">
                 <div id="options" class="entry">
                    <label translate>REG_CARD_DELIVERY</label>
                    <label class="radio" ng-class="{'checked':zestSettings.pickup_key_reg_print== 'none'}">
                        <span class="icon-form icon-radio " ng-class="{checked:zestSettings.pickup_key_reg_print == 'none'}"></span>
                        <input type="radio" value="none" ng-model="zestSettings.pickup_key_reg_print"> {{ 'NONE' | translate}}
                    </label>
                    <label class="radio" ng-class="{'checked':zestSettings.pickup_key_reg_print == 'auto_print'}">
                        <span class="icon-form icon-radio " ng-class="{checked:zestSettings.pickup_key_reg_print == 'auto_print'}"></span>
                        <input type="radio" value="auto_print" ng-model="zestSettings.pickup_key_reg_print">{{ 'AUTO_PRINT' | translate}}
                    </label>
                </div>
            </fieldset>
            <fieldset class="holder right">
                <div class="form-title full-width">
                    <h3><span translate>AUTHENTICATE_CC</span> </h3>
                </div>
                <ad-toggle-button is-checked="zestSettings.pickupkey_authenticate_cc" label="{{'AUTHENTICATE_CC'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder left" ng-if="zestSettings.kiosk_manual_id_scan">
                <div class="form-title full-width">
                    <h3><span translate>STATION_GUEST_ID_ACTIVATE</span> </h3>
                </div>
                <div class="form-subtitle-title">
                    <h6>
                        <span translate="">ALWAYS_REQUIRE_STAFF_TO_VERIFY_IDS_IN_PICKUP_KEY</span> 
                    </h6>
                </div>
                <ad-toggle-button is-checked="zestSettings.pickup_key_always_ask_for_id" label="{{'RE_VERIFY_IDS'| translate}}" div-class="full-width"></ad-toggle-button>
            </fieldset>
            <div class="actions float">
                <button type="button" id="cancel" class="button blank add-data-inline" ng-click="goBackToPreviousState()" translate>
                    CANCEL
                </button>
                <button type="button" like-type="common" id="update" class="button ng-binding green" ng-click="saveSettings()" translate>
                    SAVE_CHANGES
                </button>
            </div>
        </form>
    </section>
</div>
