<div class='station-lang-download-popup'>
	<p class='station-lang-header'>You can edit the tags in-line, please remember to click the save button before leaving this area
	</p>
	<p class='station-lang-filter'>
		Filter: <input type="text" ng-model='searchbar.value'>
	</p>
	
	<br>
		<div class='station-lang-content'>
		<table class="grid" id="likes" >
			<thead>
				<th>
					Language Tag
				</th>
				<th>
					Value
				</th>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in languageEditorData" style="padding:50px;"  ng-class='{"station-lang-not-result": showResult(key, value) == "false"}' >
					<td>
						{{key}}
					</td>
					<td>
			 		   	<div class="entry">
			                <input type='text' class="room-likes" ng-model='languageEditorData[key]' value='{{value}}'>
		                </div>
					</td>
				</tr>
			</tbody>
	
		</table>
	</div>

	<p class='station-lang-footer'>
		<button class='button orange' ng-click="closePrompt()">Close</button>
		<button class='button orange' ng-click="saveLanguageEditorChanges()">Accept Changes</button>
	</p>

</div>

