<section id="replacing-div-second" class="content current admin-scrollfix " div-touch-move-stop-propogate="" ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2 >Zest Station Language</h2>
        <a ng-click="goBackToPreviousState()" class="action back ">Back to Station Setup</a>
    </header>
    <!-- list mode -->
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    	<div class=''>
			Select the language and drag it to change the display order shown on the Zest Station home screen.
		</div>
		<!--  -->
		<ol class="cms-tree" ui-sortable="sortableOptions" ng-model="languageList">
            <li class="branch" ng-repeat="language in languageList">
                <div class="sort">
                    <a class="cms-name first-letter-capitalize" ng-click="detailIndex=$index;" ng-show="detailIndex != $index">{{language.name}}</a>
                    <div ng-show="detailIndex == $index">
                        <div class="form-title full-width">
                            <h3><span > {{language.name}}</span> </h3>
                        </div>
                        <ad-toggle-button is-checked="language.enabled" label="{{'STATION_LANGUAGE_SUPPORT_SWITCH'| translate}}" div-class=""></ad-toggle-button>
                        <ad-toggle-button is-checked="language.is_default" label="{{'STATION_LANGUAGE_DEFAULT'| translate}}" div-class=""></ad-toggle-button>
                        
                        <div class="entry full-width station-language-entry">
                            <div class="entry">
                                <div class="file-upload">
                                    <span class="input" ng-show="language.translations_file_updated || language.translations_file">{{'FILE_ATTACHED' | translate}}</span>
                                    <span class="input" ng-hide="language.translations_file_updated || language.translations_file">{{'CHOOSE_FILE' | translate}}</span>
                                    <input type="file" ng-model="language.translations_file" accept="*" app-filereader emit-data="english_translations_file" />
                                    <button type="button" class="button brand-colors">{{'ATTACH_FILE' | translate}}</button>
                                    <button type="button" ng-show="language.translations_file_updated || language.translations_file" class="button download-arrow icons " ng-click="downloadLang(language.code)"></button>
                                    <button type="button" ng-show="language.translations_file_updated || language.translations_file" class="button download-arrow icons right editor" ng-click="editLang(language.code)">
                                        <text ng-include="'/assets/cssimg/admin/adEditorIconSvg.svg'"></text>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="actions float">
                            <button type="button" id="cancel" class="button blank add-data-inline" ng-click="detailIndex=-1" translate>
                                CANCEL
                            </button>
                            <button type="button" like-type="common" id="update" class="button ng-binding green" ng-click="saveSettings()" translate>
                                SAVE_CHANGES
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </section>
 </section>