/* StayNTouch Zest Station Styles | Arc Theme */

/* 1. COLORS
==========================================================*/
    @brandColor:            #ffcb07;
    
    @textColor:             @black;
    @backgroundColor:       @white;
    
    @actionColor:           @black;
    @actionBackground:      @brandColor;
    
    @inputBackground:       #707070;
    @transparentColor:      rgba(0,0,0,.5);

/* 2. TYPOGRAPHY
==========================================================*/

    @fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* 3. IMAGES
==========================================================*/
    @background: @white;
    @backgroundSize: '';
    
    @headerIconsColor:      @black;
    @headerIconsActive:     @black;

    .icons { 
        &.icon-create-key {
            fill: @brandColor;
            stroke: @brandColor;
        }

        &.icon-no-print { stroke: @white; }

        &.icon-oos {
            fill: @brandColor;
        }

        &.icon-arrow-left,
        &.icon-arrow-right {
            fill: none;
            stroke: @black;
        }
    
    }
    .logo-svg{
        background-image: url("../css/themes/east-london/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 88.25%;
        background-position: center;
        margin-top: 0%;
    }

/* 4. LAYOUT
==========================================================*/
    
    #east-london {
 
        #header {
            height: 145px;
            background: @black;

            .icons {
                fill: white;
            }
        }

        #main {
            #calc > #height > .remove(100%, 145px);
            top: 145px;

            &.centered {
                padding-top: 100px;
                #content {
                    height: 100%;
                }
            }
        }

        input,
        select {
            background: @inputBackground;
            color: @white;
        }

        .button {
            &.transparent {
                color: @white;
            }
        }
        
        #logo {
            padding-top: 0px;

            .logo {
                width: auto;
                height: 25px;
            }
        }

        #options {
            
            li.break {
                padding-top: 60px;

                &:after,
                &:before {
                    display: none;
                }
            }
        }

        #selection {
            li {
                .details {
                    background: @black;
                    color: @brandColor;
                }
            }
        }

        #guests {
            .button {
                color: @white;
                background-color: @black;
            }
        } 

        .add-on-list {
            li {

                &:not(.selected){
                    border-color: rgba(0,0,0,0.05);

                    .add-on-content {
                        background: rgba(0,0,0,0.05);
                    }
                }
                
            }
        }

        .add-on {

            .input-group {
                input {
                    color: @black;
                }
            }

            .add-on-picture svg { fill: @black; }

            #options {
                li {
                    .option{
                        &.not-selected {
                            color: rgba(0,0,0,0.5);
                        }
                    }

                    .amount {
                        color: @black;
                    }
                }
            }

            .add-on-content {
                .price {
                    strong { color: @black; }
                }
                .action {
                    .button {
                        &.transparent { color: @black }
                        &.text-red {color: @red;}
                    }
                }
            }
        }

        #textual {
            background: #ececec;
            
            #rate li {
                &.total {
                    color: @black;
                }
            }

            &:before,
            &:after {
                background: #ececec;
            }

        }

        #rate {
            li {
                &.sub {
                    color: #a1a1a1;
                }
            }
        }

        #textual,
        .popup {
            .icons {
                fill: @white;
            }
        }

        #upgrade {
            .upgrade-price {
                background: @black;
                color: @brandColor;
            }
        }

        .upgrade-list {
            &.upgrade-list-v2 {
                .button { color: @black; }
            }
        }
    }
