#rate-manager {
    .topbar {
        width: 100%;
        background: #FFFFFF;

        button {
            float:right;
        }
    }
    .content {
        clear:both;
        .left-menu{
            width: 22%;
            display: table-cell;

        }
        .filter-options {
            display:block;
            width: 230px;
            background-color:#E0E0E0 ;
            padding:20px;
            height:100%;
            hr{border:1px solid rgba(0, 0, 0, 0.1);  margin: 20px 0;}
            hr.half-left { width:30%; height:1px; margin:10px 0 0 25px; float:left;  border:1px solid rgba(0, 0, 0, 0.1)}
            hr.half-right{ width:30%; height:1px; margin:10px 25px 0 0; float:right; border:1px solid rgba(0, 0, 0, 0.1)}
            
        }
        .calendar, .graph {
            display: table-cell;
            width: 78%;

            .cal-cell{
                text-align:center; 
                vertical-align:middle;
            }

        } 
    }
}