/* Rate Manager - Left sidebar        ==============================*/
@media not print {

  #rate-manager{
    position: relative; /*Old Rate Manager*/
        height:100%; /*Old Rate Manager*/
    
    

    .filter-options{
      position: absolute;
      top: 60px; /*Old Rate Manager*/
      left: 0px;
      padding-right: 25px;
      z-index: 1040;
      width: 30px;
      .calc-height(100, 60); /*Old Rate Manager*/
      
      .transition(width, .2s, cubic-bezier(.10, .10, .25, .90));
      .show;
      
      .select:after {
        display:none;
      }

      h3 {
        text-align: center;
        padding:0 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      hr {
        .calc-width( 100, 40 );
        margin:0 auto 20px auto;
        border-top-color:transparent;
        border-bottom-color:#c8c8c8;
      }

      .hasDatepicker {
        font-size:14px;
      }

      .leftMenuHandle {
          cursor: e-resize !important;
          height: 50px;
          width: 25px;
          top: 20px;
          right: 0;
          position: absolute;
          z-index: 90;
          background-image: @icons, @rcardTexture1;

                            @media @highdpi {
                            background-image: @icons2x, @rcardTexture1;
                            background-size: 120px, 40px;
                             }
          background-repeat: no-repeat, repeat;
          background-position: 5px -3807px, 0 0;
         .box-shadow(1px 1px 1px rgba(0,0,0,.1));
                       #border-radius > .right(5px);
      }

      .half-border {
        .calc-width( 100, 40 );
        margin:0 auto 20px auto;
        padding:0 40px;
        height:24px;
        .float;
        display:block;
        hr {
          width:35px;
          margin-top:10px;
        }
        .or-class {
          .calc-width(100,70);
          text-align: center;
          font-size:12px;
          color:@grey3;
        }
        hr,
        .or-class {
          .pull-left;
        }
      }

      .tabs-nav {
        padding:0 20px 0px 20px;
        width:100%;
        .float;
        li {
          width:50%;
          .pull-left;
          text-align: center;
          margin:0;

          a {
            display: block;
            heigth:40px;
            line-height: 40px;
            width:100%;
            font-weight: 600;
            text-transform: uppercase;
            color: @grey3;
            text-align: center;
            font-size:14px;

            &.active {
              background-color:@white;
              color:@black;
            }
          }
        }

      }

      .tab {
        background-color:white;
        display: none;
        margin:0 20px;
        .float;
        &.active {
          display: block;
        }

        .checkbox {
          padding:0 10px 0px 40px;
          margin-bottom:0;
          border-bottom:1px solid @grey2;
          width:100%;
          &:last-child {
            border-bottom:none;
          }

          &.inline {
            .icon-form {
              left: 10px;
            }
            
          }
        }

        .entry {
          padding:10px;
          border-top: 1px solid @grey2;
          &:first-child {
            border-top:none;
          }

        }

        .rates-box {
          .calc-width( 100, 20 );

          &.first {
            margin-top:0;
          }
        }

        .select {
          select {
            background-color:@grey1;
          }
          &:after {
            background-color:@grey1;
          }
        }

      }
       
      .entry {
        padding:0 20px 20px 20px;
        input {
          width:100%;
        }
        > label {
          font-size:14px;
          text-transform: uppercase;
          line-height: 1;
          display: block;
          margin-bottom:2px;

          &.checkbox {
            line-height: 40px;
            margin:0;
          }
        }

        &.show-rate-or-room {
          margin-top:-15px;
        }

        select#rmRateType,
        select#rmRate,
        option[value=""],
        .placeholder {
          font-style: italic;
          color: @grey3;
        }

        &.action-filter {
          padding:0;
          overflow: hidden;
          background-color:#d2d2d2;
          .box-shadow(1px 0 1px rgba(0,0,0,.2));
          .actions {
            padding:20px;
            .button {
              width:100%;
            }
          }

        }

        &.has-datepicker {
           .ui-datepicker-trigger {
            top: 14px;
            .calc-width(100,40);
                margin-left: 20px;
           }
        }

        &.entry-company-card {
          position: relative;
          .icons {
            display:block;
            width:18px;
            height:18px;
            position: absolute;
            top:42px;
            left:30px;

          }
          input {
            color:@orange;
            font-weight: 600;
            padding-left:35px;
          }
        }
      }
      
      .company-card-results {
        position: absolute;
        .show;
        top:auto;
        left:235px;
        background-color:white;
        width:350px;
        max-height:250px;
        z-index:100; /* Move it above the scrollbar */
        .box-shadow();

        &:before {
          position: absolute;
          left: -19px; /* 1px less because we have only bottom shadow*/
          bottom: 0px;
          display:block;
          width:0;
          height:0;
          border:10px solid transparent;
          border-bottom-color: white;
          border-right-color: white;
          content:'';
          .box-shadow(0px 1px 0px -0px rgba(0, 0, 0, 0.15));
          z-index: -1; /* Stay behind the results*/

        }
        .search-results { 
          padding:0;
          position:relative;
          max-height: 240px;
          overflow: hidden;
        }

        li {
          .float;
          display:block;
          width: 100%;
          padding: 5px 10px;
          border-bottom:1px solid @grey2;
          min-height: 40px;
          margin: 0;
          &:last-child {
            border-bottom-color: transparent;
          }
          cursor: pointer;
        }
        .icons,
        img {
          display:inline-block;
          vertical-align: middle;
          height: auto;
          max-height: 30px;
          width: 30px;
        }

        .icons {
          height: 30px;
          background-color: @tacard;
          &.icon-company {
            background-color: @ccard;
            background-position: 5px -3457px;
          }
          &.icon-travel-agent {
            background-position: 4px -3576px;
          }
        }

        h4 {
          display:block;
          .pull-right;
          .calc-width(100,30);
          line-height: 30px;
          padding-left:10px;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .scrolling-container {
        position: absolute;
        background: @rcardTexture1;
        overflow: hidden;
        display:block;
        .calc-height(100, 70);
        max-height: 973px;
        
        .wrapper {
          padding-bottom: 20px;
        }
        > .iScrollVerticalScrollbar { 
          bottom:50px;
          right: 5px;
          
          .iScrollIndicator { background: rgba(0,0,0,.05); }
        }

        @media @highdpi { background-size: 40px; }
      }

      .deleteall {
        text-transform: uppercase;
        font-size:14px;
        color:@grey3;
        display:block;
        text-align: center;
        margin-bottom:10px;
        cursor: pointer;

        a {
          color:@grey3; /*OLD Rate Manager*/
        }
 
      }

      .rates-box {
        .calc-width( 100, 40 );
        margin:0 auto 10px auto;
        padding:5px 25px 5px 10px;
        position: relative;
        background-color:@blue;
        font-size:14px;
        color:white;
        text-transform: uppercase;
        min-height:30px;
        line-height: 21px;
        .delete_small {
          position: absolute;
          top:0px;
          right:10px;
          cursor: pointer;
          bottom:0px;
          margin:auto 0;

        }

        &.first {
          margin-top:-10px;
        }

        &.dark {
          background-color:@ccard;
        }

        &.purple {
          background-color:@tacard;
        }
        #border-radius > .rounded();
      }

                .ui-resizable-handle {
                    &.ui-resizable-e {
                        
                        bottom: 20px;
                        background-image: @icons, @rcardTexture1;

                        @media @highdpi {
                            background-image: @icons2x, @rcardTexture1;
                            background-size: 120px, 40px;
                        }
                    }
                }

      &.slide_right { 
        width:255px;
        .select:after {
          display:block;
        }
      }
      .filter-padding,
      .filter-container {
        background: @rcardTexture1;
        .box-shadow(1px 0 1px rgba(0,0,0,.2));
        .calc-height(100,80);
        position: relative;
        overflow: hidden;
      }
       
      .fixed-container {
        padding-top:30px;
      }
     
    }

    .topbar {
      .float;
      background: white;
      .box-shadow();
      padding-left:40px;
      height:50px;
      .info {
        .pull-left;
        .calc-width(100, 180);
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow:ellipsis;

        li {
          margin:10px 10px 10px 0;
          border-right:1px solid @grey2;
          padding-right:10px;
          height:30px;
          font-size:14px;
          text-transform: uppercase;
          max-width: 200px;
          overflow: hidden;
          text-overflow:ellipsis;
          display:inline-block;
          white-space: nowrap;

          &:last-child {
            border-right:none;
            margin-right:0;
            padding-right:0;
          }
         
          strong {
            font-size:12px;
            color:@grey3;
            font-weight: normal;
            text-transform: uppercase;
            display: block;
            line-height: 1.1;
          }

           
        }

        .back-button {
          height: 30px;
          line-height: 30px;
          background-position:10px -1593px;
          background-color:transparent;
          box-shadow: none;
          &:hover {
            background-position:10px -1533px;
          }
        }
      }

      .display-mode {
                  max-width: 180px;
                  .pull-right;

                  li {
                      margin: 0;
                      cursor: pointer;
                      font-size: 14px;
                      text-align: center;
                      text-transform: uppercase;
                      color: @white;
                      background: #fff;
                      .box-shadow(1px 0 0 rgba(0,0,0,.2));
                      .size(50px, 60px);
                      .show;
                      .pull-left;

                      span {
                          padding-top: 50px;
                          font-size: 16px;
                          font-weight: 600;
                          .size(65px, 100%);
                          .show;
                      }

                      .icons.icon-navbar.icon-grid.active {
                        background-position: 19px -4584px;
                      }
            .icons.icon-navbar.icon-graph.active {
                background-position: 18px -4700px;
            }
                      .icons.icon-navbar.icon-graph {
                background-position: 18px -4640px;
            }
                      .icons.icon-navbar.icon-grid {
              background-position: 19px -4525px;
            }

                      &:last-child { .box-shadow(none); }

                      &.active {
                          position: relative;
                          .box-shadow(0 1px 1px rgba(0,0,0,.1));
                          .gradient(@logoGradientStart, @logoGradientEnd);

                          &:after {
                              content: "";
                              position: absolute;
                              left: 50%;
                              bottom: -10px;
                              width: 0; 
                              height: 0; 
                              margin-left: -10px;
                              border-top: 10px solid @logoGradientEnd;
                              border-left: 10px solid transparent;
                              border-right: 10px solid transparent;
                              z-index: 1000;
                          }
                      }
                  }
              }
    
      li {
        width:auto;
        height:50px;

      }
    }
    .rate-manager-content {
      top:140px; /* Header + Topbar*/
      height:100%;
    }
    .content { /*Old Rate Manager*/
          top:140px; /* Header + Topbar*/
          .calc-height(100, 140);
     }

    .calendar {
      height:100%; /*Old Rate Manager*/

      .calendar-wraper {
        height:100%;
        width:100%;
        overflow:hidden;
        position: relative;
    
        .pinnedLeft {
          width:190px;
          .calc-max-height(100,85);
          overflow: hidden;
          position: absolute;
          left:0;
          top:0;
          
          table {
            width:100%;
          }

          .cell {
            height:60px;
            width:100%;


  
            &.rate {
              
              padding:10px 20px;
              td {
                position: relative;
                text-align: right;
                padding-top:10px;
              }
               
              .name {

                &.bolder {
                  font-weight: 600;
                  padding:0;
                }
                .calc-width(100,40);
                padding-left:35px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
                display:block;
                text-transform: uppercase;
                color:@black;
                position: relative;
                &.gray {
                  color:@grey3;
                  text-transform: capitalize;
                }


                .base-rate-indicator {
                  position: absolute;
                  left:10px;
                  top:2px;
                  width: 20px;
                  height:20px;
                  background:@blueStart;
                  color:white;
                  font-size:9px;
                  text-align: center;
                  border-radius:20px;
                  line-height: 20px;
                }
              }
              .icons {
                position: absolute;
                right:0;
                top:10px;
                bottom:0;
                margin:auto;
                .size(40px, 40px);

                &.icon-double-arrow {
                  background-position:14px -1051px;
                  background-size:80px;
                   
                }
              }

              &.expandedFirstRow, /*Old Rate Manager*/
              &.expanded-row {
                height:247px;

                td {
                  padding-top:30px;
                  vertical-align: top;
                }

                .name {
                  color:@orange;
                  font-weight: 600;
                }

                .icons {
                  top:20px;
                  bottom:auto;
                  right: -1px;
                   
                }
              }
            }
          }
          th.cell {
            height:35px;
            margin-bottom:0;
            padding-top:10px;
            padding-bottom:0;
          }

          .rm-buttonOpenClose,
                    {
            display:block;
            text-align: center;
            .gradient(@grey2, @grey2);
            width:100%;
            font-size: 12px;
            padding: 0;
            text-shadow:none;
            &.green {
              .gradient(@greenStart, @greenEnd);
            }
            &.red {
              .gradient(@redStart, @redEnd);
            }
            &.orange {
              .gradient(@orangeStart, @orangeEnd);
            }
          }
          .rm-buttonOpenClose {
            .pull-left;
            width:70px;
            height:35px;
            line-height: 35px;
            margin:0 5px 15px 5px;
            &:first-child {
              margin-left:20px;
            }
            &:last-child {
              margin-right:20px;
            }
          }
        
          
        }

        .calendar-rate-table {
          .calc-width(100,190);
          .calc-max-height(100,50);
          position: absolute;
          top:0;
          left:190px;

          .icon-report {
            width: 16px;
            height: 16px;
            background-size: 15px;
            
            &.icon-upsell {
              background-position: 0 -14px;
            }
    
          }

          .iScrollHorizontalScrollbar {
            bottom:15px;
            top:auto;
          }
  
          .wrapper {
            padding-bottom:30px;
          }

          &::after {
            content:'';
            position: absolute;
            bottom:0;
            width:100%;
            display: block;
            background-color:red;
            height:30px;
            left:0;
            z-index: 1;
            background: #fcfcfc @textureImage repeat;

          }
          
        }

        &.zoom-level-3 {

          .rate-calendar  {


            .date-header,
            .cell-container {
               
              width:265px;
               
            }

            .restriction_holder {
              width:95px;
            }
            
            td {

              .expanded-cell {
                .cell-content {
                  .restriction_holder { 
                    height: 41px;
                    .calc-padding-left( 100, 110 );
                  }

                  .room-type-price {
                                    height: 44px;
                            }
                }
              }

              .cell-content { /*OLD Rate Manager*/

                            &.exp {
                              
                              .restriction_holder { 
                                height:41px;
                                .calc-padding-left( 100, 110 );
                              }

                              .room-type-price {
                                height: 44px;
                              }
                            }
                        }
            }
          }

        }

        &.zoom-level-4 {
          .rate-calendar  {
            .date-header,
            .cell-container {
               
              width:210px;
               
            }

            .restriction_holder.icons-in-row {
              position: relative;
              height:20px;

              .restriction-icon {
                margin:0;
                position: absolute;

                &:first-child {
                  top:-12px;
                  right:0;
                }

                &:nth-child(2){
                  right:0;
                  bottom:-12px;
                }

                &:nth-child(3) {
                  top:-12px;
                  right:25px;
                }

                &:nth-child(4){
                  right:25px;
                  bottom:-12px;
                }
              }
            }

            td {
            
              .expanded-cell {
                .cell-content {
                  .restriction_holder { 
                    height:41px;
                    .calc-padding-left( 100, 110 );

                  }

                  .room-type-price {
                    height:44px;
                     span { font-size:21px; }
                  }
                }
              }

              .cell-content { /*Old Rate Manager*/

                            &.exp {
                              
                              .restriction_holder { 
                                height:41px;
                                .calc-padding-left( 100, 110 );

                              }

                              .room-type-price {
                                height: 44px;
                                 span { font-size:21px; }
                              }
                            }
                        }
            }
          }
        }

        &.zoom-level-5 {

          .rate-calendar  {
            .date-header,
            .cell-container {
               
              width:165px;
               
            }

            .rate-single {
              font-size:18px;
            }

            .restriction_holder.icons-in-row {
              position: relative;
              height:20px;

              .restriction-icon {
                margin:0;
                position: absolute;

                &:first-child {
                  top:-12px;
                  right:0;
                }

                &:nth-child(2){
                  right:0;
                  bottom:-12px;
                }

                &:nth-child(3) {
                  top:-12px;
                  right:25px;
                }

                &:nth-child(4){
                  right:25px;
                  bottom:-12px;
                }
              }
            }


            td {
            

              .expanded-cell {
                .cell-content {
                  .restriction_holder { 
                    .calc-padding-left( 100, 110 );
                    height:41px;
                  }

                  .room-type-price {
                    height:68px;
                     span { 
                      display: block; 
                      width:100%;
                      height:24px;
                     }
                  }
                }
              }

              .cell-content { /*OLD Rate Manager*/

                            &.exp {
                              
                              .restriction_holder { 
                                height:41px;
                                .calc-padding-left( 100, 110 );
                              }

                              .room-type-price {
                                height:68px;
                                 span { 
                                  display: block; 
                                  width:100%;
                                  height:24px;
                                 }
                              }
                            }
                        }
            }

          }


          .pinnedLeft {
            .cell.rate.expandedFirstRow, /*Old Rate Manager */
            .cell.rate.expanded-row
             {
              height:343px;
            }
          }
        }


        &.zoom-level-6 {

          .rate-calendar  {
            .date-header,
            .cell-container {
               
              width:135px;
               
            }

            .rate-single {
              font-size:16px;
              width:80px;
              display:block;
            }
            
            td {
              .cell-content {
                padding:15px;

                &.exp { /*OLD Rate Manager*/
                  
                                .restriction_holder { 
                                  height:41px;
                                  .calc-padding-left( 100, 110 );
                                }

                                .room-type-price {
                                  height:68px;
                                   span { 
                                    font-size:21px;
                                    display: block; 
                                    width:100%;
                                    height:24px;
                                   }
                                }
                          }

              }

              .expanded-cell {
                .cell-content {
                  .restriction_holder {
                    height: 41px; 
                    .calc-padding-left( 100, 110 );
                  }

                  .room-type-price {
                    height:68px;
                     span { 
                      font-size:21px;
                      display: block; 
                      width:100%;
                      height:24px;
                     }
                  }
                }
              }
            }


          }

          .pinnedLeft {
            .cell.rate.expandedFirstRow, /*Old Rate Manager */
            .cell.rate.expanded-row {
              height:343px;
            }
          }
        }
   
        &.zoom-level-7 {

          .rate-calendar {
            .date-header,
            .cell-container {
               
              width:115px;             
            }

            .rate-single {
              font-size:14px;
              width:60px;
              display:block;
            }
            
            td {
              .cell-content {
                padding:15px 10px;

                 &.exp { /*OLD RATE MANAGER*/
                  
                                .restriction_holder {
                                  padding:10px;
                                  height: 41px;
                                }

                                .room-type-price {
                                  height:58px;
                                  padding:5px 10px;
                                   span { 
                                    display: block; 
                                    width:100%;
                                    font-size:14px;
                                   }
                                }
                          }
                
              }

              .expanded-cell {
                .cell-content {
                  .restriction_holder {
                    height: 41px;
                    padding:10px;
                  }

                  .room-type-price {
                    height:58px;
                    padding:5px 10px;
                     span { 
                      display: block; 
                      width:100%;
                      font-size:14px;
                     }
                  }
                }
              }
            }

          }
          
          .pinnedLeft {
            .cell.rate.expandedFirstRow, /*Old Rate Manager */
            .cell.rate.expanded-row {
              height:303px;
            }
          }

        }

      }
      .pinned-bottom {
        position: absolute;
        height:50px;
        width:100%;
        bottom:0;
        left:0;
        background-color:white;
      }

      .rate-calendar {
        margin-bottom:0;
        .last {
          td {
             
            .cell-container {
              height:70px;
              padding-bottom:10px;
            }
             
          }
           
        }
        td,th{

          .date-header,
          .cell-container {
            margin:0 5px;
            width:265px;
            height:60px;
            background-color: rgba(0, 0, 0, 0.05);
            
            &.exp, /*Old Rate Manager*/
            &.expanded-cell {
              height:auto;
            }

            &.weekend_day {
              background-color: rgba(0,0,0,0.025);
            }
          }



          .date-header{
            padding:10px 10px 0px 10px;
            height:60px;
            span {
              background-color:@gcard;
              color:white;
              display:block;
              height:25px;
              line-height: 15px;
              text-transform: uppercase;
              text-align: center;
              font-size:14px;

              &.week-day {
                line-height: 35px;
              }
            }

            &.weekend_day {
              span {
                background-color:#5d808e;
              }
            }

            &.isHistory-cell-content {
              span {
                opacity:0.6;
              }
            }
          }
          .cell-container {
            &.isHistory-cell-content {
               
              opacity:0.6;
               

            }
            padding:10px 10px 0 10px;

            .cell-content {
              background-color:@white;
              #border-radius > .rounded();
              height:100%;
              padding:15px;
              position: relative;
              .box-shadow( inset 1px 1px 0 rgba(0,0,0,.15) ); 
              cursor: pointer;

              &.isHistory-cell-content {
                cursor: default;
                opacity:0.5;
              }
              
            }

            &.expanded-cell {
              padding:10px;
              background-color: rgba(0, 0, 0, 0.1);
              border-top:10px solid #e6e6e6;
              &.weekend_day {
                border-top-color:#eaeaea;
              }
              .cell-content {
                padding:0;

                .restriction_holder {
                  padding:10px 15px 10px 15px;
                  width:100%;
                  float:none;
                  height:auto;
                  display:block;
                  position: relative;
                  .float;
                  .restriction-icon { 
                    position: static;
                    margin-right:0px;
                    top:auto;
                    right:auto;
                    bottom:auto;

                    &:last-child {
                      margin-right:0;
                    }
                  }
                }

                .room-type-price {
                  padding:10px 15px;
                  font-size:12px;
                  text-transform: uppercase;
                  color:@grey3;
                  .float;
                  span {
                    font-size:24px;
                    font-weight: 300;
                    color:@black;
                    .pull-right;

                    &.hasOverride-label, /* OLD Rate Manager*/
                    &.has-override {
                      color: @orange;
                    }

                    &.icon-report {
                      .pull-left;
                    }

                    &.gray {
                      color:@grey3;
                    }
                  }


                }

                &.exp { /*Old Rate Manager*/
                              padding:0;

                              .restriction_holder {
                                padding:10px 15px 10px 15px;
                                width:100%;
                                float:none;
                                height:auto;
                                display:block;
                                position: relative;
                                .float;
                                .restriction-icon { 
                                  position: static;
                                  margin-right:0px;
                                  top:auto;
                                  right:auto;
                                  bottom:auto;

                                  &:last-child {
                                    margin-right:0;
                                  }
                                }
                              }

                              .room-type-price {
                                padding:10px 15px;
                                font-size:12px;
                                text-transform: uppercase;
                                color:@grey3;
                                .float;
                                span {
                                  font-size:24px;
                                  font-weight: 300;
                                  color:@black;
                                  .pull-right;

                                  &.hasOverride-label, /*OLD Rate Manager*/
                                  &.has-override {
                                    color: @orange;
                                  }
                                }
                              }
                            }
              }
            }
          }


        }

        .rate-single {
          .pull-left;
          width:100px;
          font-size:24px;
          font-weight: 300;
          line-height: 20px;

          .icon-report {
            margin-top:-2px;
          }

          &.gray {
            color:@grey3;
          }
        }

        .hasOverride-label, /*Old Rate MAnager*/
        .has-override {
          color:@orange;
        }

        .restriction_holder {
          height:20px;
          .pull-right;
          .calc-width(100, 100);
          
          .restriction-icon {
            &:last-child {
              margin-right:0;
            }
          }
        }

        .exp, /*Old Rate Manager*/
        .expanded-cell {
          .restriction_holder {
            display:block;
            width:100%;
            border-bottom:1px solid #dcdcdc;

            .restriction-icon {
              &:last-child {
                margin-right: inherit;
              }
            }
          }
        }
       
      } 

    }

    .restriction-icon {
      display:inline-block;
      line-height: 20px;
      .pull-left;
      margin-right:5px;
 
      &.right {
        .pull-right;
        margin-left:5px;
        margin-right:0;
      }

      &.bg-violet { background-color: @purpleStart; }
      &.icon-cross,
      &.icon-block {
        background-image: @icons;
        background-repeat: no-repeat;

        @media @highdpi {
          background-image: @icons2x;
          background-size: 120px;
        }
      }

      &.icon-cross, { background-position: 5px -7835px; }
      &.icon-block {  background-position: 5px -7895px; }
    }

    .restriction-legends {
      padding: 10px 25px;
      text-transform: uppercase;
      font-size: 12px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      width: 100%;

      li {
        line-height: 10px;
        height: 30px;
        width: 9%;
        margin-right: 1%;
        position: relative;
        padding-left: 25px;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        font-size: 10px;
        .restriction-icon {
          position: absolute;
          top:0;
          left:0;
        }
      }
    }

    &.rate-manager-new {
      position: absolute;
      .calc-height(100, 60);

      .filter-options{
        top:0;
        height:100%;
      }

      .calendar {
        .calc-height(100, 50);
      }

      
    }

  }

}