#rate-manager {
  .occupancy-graph-container{
  	position: absolute;
  	.filter-options{

  		background:none !important;

      h3 {
        padding-bottom:5px !important;
      }
        
      .entry{
          padding-bottom:7px;
      }
          
      hr {
            padding:0px !important;
            margin:0px !important
      }
      .entry input {
        margin-bottom:10px;
      }
            
  	}

  	.entry.radio-check{
  		margin : 0 0 20px 0; 
  		 label{
		   height : 40px;
		   padding-top: 10px;	
		   padding-left: 40px;		
  		   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gUQBikteQ2wPAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAADCSURBVDjLrZWxDYMwEADP3zFDyjAAA2QHhBR6OmZKRx8kxA4egAFCyQxp0zyRgYCS+K+zLZ/e9v/bscPzdjoDBZADmU4PQA90ST2Nn/a5HVEDXDjGA9Va7FayK3DnN8qkntqN8E/ZRuqCYz6II03qaRQdNMTTADij6N5RiqaGFYVonlmRS5C0FmSCMaLlZMUgWptW9AJ0hsJOtLi9gcyHlVIZCKv5UdAoywhZObcx8/a1yENdSL+8U68dpj3s2LFfwAvhP0O7QfDr4AAAAABJRU5ErkJggg==);
  		   background-repeat : no-repeat;
  		   background-position: 160px 10px;
		   span{
			left:10px;
			top:10px;
			}
  		 }		 
  		 label.target{
  		   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gUQBjQAw76AVQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAEMSURBVDjLY2AgAmzZ0Jm1ZUNXBjFqWYhR9JjbsJ3p/99/DAwMMwipZSKkYPPG7sLXHKp8Lzk1BLZs7C6g2MAnXPoNMPZTTp16igzcvLG7+DWHKh+MT4wrmQi4DsNFhFzJhNt1PSWvOVR50cUJuZIJt+v06nDJ4XMlE46wK8PmOmJcyYQj7GoIxSYuVzJhCbtyfK4j5EomLK6rZiASYHMlE5rrKl9zqPASayA2VzKhua6SgUSA7komcl2Hy5VMSK6rYiATILuSiYGBgWHTxt6q1xwqPOQaiOxKJgYGBoanXHqVDBQCmCuZN2/sqbnLa+NBqYFfWUU4igNkPrK85FDLYf/7+T8DFcArduViAN1taQYD3fsaAAAAAElFTkSuQmCC);
  		 }
  	}
  }
	#update{
    width:100%;
  }
.iScrollIndicator{
	background-color:#FFA916 !important;
}
  .occgraph-outer{
    left: 240px;
    clear:both;
   }	
    .topbar {
        height: 50px;
        line-height: 50px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #FCFCFC;
        ul {
            float: left;
            margin-left: 40px;
            height: 100%;
            li { 
                display: inline-block;
                float: left;
                font-size: 14px;
                line-height: normal;
                h6 {
                  color: #9D9D9D;
                  min-width: 200px;
                  text-transform: uppercase;
                  margin-top: 7px;
                }
                .button {
                    float:right !important;
                }
                .back-button {
                  display: block;
                  line-height: normal;
                  margin-top: 14px;
                }
            }
            li:not(.ng-hide) + li:not(.ng-hide)::before {
              content: "|";
              color: #DDDDDD;
              float: left;
              font-size: 35px;
              line-height: normal;
              margin: 0 15px;
            }
        }
        .display-mode {
          .button {
            background-color: #F5F5F5;
            border-radius: 0;
            border-right: 1px solid #DCDCDC;
            box-shadow: none;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            &.cl-gr-button {
              background: image-url("app/cal_graph_icon.png") no-repeat scroll center center #F5F5F5;
            }
            &.cl-button {
              background: image-url("app/calendar_icon_white.png") no-repeat scroll center center #F5F5F5;
            }
            &.gr-button {
              background: image-url("app/graph_icon.png") no-repeat scroll center center #F5F5F5;
            }
            &.active {
              position: relative;
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
              &.gr-button {
                background: image-url("app/graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
              }
              &.cl-button {
                background: image-url("app/calendar_icon_white.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/calendar_icon_white.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/calendar_icon_white.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/calendar_icon_white.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
              }
              &.cl-gr-button {
                background: image-url("app/cal_graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/cal_graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/cal_graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: image-url("app/cal_graph_icon.png") no-repeat scroll center center, linear-gradient(#FFB319, #FF860D) repeat scroll 0 0 rgba(0, 0, 0, 0);
              }
            }
            &.active:after, &.active:before {
              top: 100%; 
              left: 50%; 
              border: solid transparent; 
              content: " "; 
              height: 0; 
              width: 0; 
              position: absolute; 
              pointer-events: none;
            }
            &.active:after {
              border-color: #FF860D rgba(136, 183, 213, 0) rgba(136, 183, 213, 0);
              border-width: 9px;
              margin-left: -9px;
            }
            
          }
          
        }
        
    }
    .content {
        clear:both;
        margin-top: 40px;
        .left-menu{
            width: 22%;
            display: table-cell;

        }
        .filter-options {
            display:block;
            width: 230px;
            top : 60px; /* To avoid the div falling down, when table has Height fixed. Need Review review */
            background-color:#E0E0E0 ;
            padding:20px;
            height:100%;
            hr{border:1px solid rgba(0, 0, 0, 0.1);  margin: 20px 0;}
            hr.half-left { width:30%; height:1px; margin:10px 0 0 25px; float:left;  border:1px solid rgba(0, 0, 0, 0.1)}
            hr.half-right{ width:30%; height:1px; margin:10px 25px 0 0; float:right; border:1px solid rgba(0, 0, 0, 0.1)}
            .rates-box{ 
              background-color : skyblue;
              margin:10px 0 10px;
              width:100%;

              .rate-data{ width:80% !important;
              background-color : skyblue;
              float:left;
              line-height:14px;
              padding:5px 0px 3px 5px;

              }
              .delete_small{ width:15%;float:right;}
            }
            .has-datepicker.entry .ui-datepicker-trigger {
                left: 0px !important;
                top: 23px !important;
            }
            
        }
        .calendar, .graph {
            display: block;
            width: 100%;

            .cal-cell{
                text-align:center; 
                vertical-align:middle;
                line-height: 24px;
            }
            .iScrollHorizontalScrollbar {
              top: auto !important;
            }
        }
        #rate-manager-not-configured {
          vertical-align: middle;
          height: 90%;
          width: 100%;
          overflow: hidden;
          text-align: center;
          & > span {
            display: table;
            height: 100%;
            width: 100%;
            & > span {
              display: table-cell;
              vertical-align: middle;
              color: #9D9D9D;
              font-size: 30px;
              font-weight: bold;
              & > span {
                font-weight: 100;
                font-size: 20px;
                display: block;
                margin-top: 15px;
              }
            }
          }
        }
    }

    .calendar-wraper {
      position: relative;
    }
    
    .rate-calendar{
        table {
        }
        tr {
          .first-row {
            text-align: right;
            padding: 0 20px;
            vertical-align: text-top;
            padding-top: 30px;
            &.actions {
              padding-top: 20px;
            }
            img {
              cursor: pointer;
            }
            .button {
              padding: 0 5px;
              margin-left: 10px;
              font-weight: normal;
              font-size: 14px;
              &.open {
                background-color: #D9D9D9;
                background-image: -moz-linear-gradient(#D9D9D9, #D0D0D0);
                background-image: -webkit-linear-gradient(#D9D9D9, #D0D0D0); /* For Safari 5.1 to 6.0 */
                background-image: -o-linear-gradient(#D9D9D9, #D0D0D0); /* For Opera 11.1 to 12.0 */
                background-image: linear-gradient(#D9D9D9, #D0D0D0); /* Standard syntax */
              }
            }
            span {
              float: right;
              text-transform: uppercase;
              font-weight: normal;
              &:first-child {
                width: 85%;
                float: left;
              }
              &:last-child {
                width: 10%;
                padding-top: 6px;
              }
            }
            
          }
        }
        th, td {
            margin: 0px 10px 0px 10px;
            vertical-allign: middle;
            padding-right: 10px;
        }

        .cell-content{
            border : 10px solid #e7e7e7;
            height : 80px;
            line-height : 80px; /* Trick for vertical alligh*/
            font-size : 20px;

            &.exp {
                height: auto;
                border: 10px solid #a7a7a7;
                line-height: normal;
                & > div {
                  & > div {

                  & > div:first-child {
                    border-bottom: 1px solid #e7e7e7;
                    margin-bottom: 10px;
                    height: 50px;
                    span {
                      height: 26px;
                      margin-bottom: 10px;
                      margin-top: 10px;
                    }
                  }
                    & > div {
                      height: 30px;
                      text-transform: uppercase;
                      font-size: 13px;
                      color: #999;
                      text-align: left;
                      padding: 0 10px;

                        span {
                          float: right;
                          text-align: right;
                          height: inherit;
                          font-size: 20px;
                          font-weight: lighter;
                          color:#333;
                        }
                    }
                  }
                }
            }
            & > div {
              display: table;
              width: 100%;
              height: 100%;
              & > div {
                display: table-cell;
                vertical-align: middle;
                .rate-single {
                  width: 25px;
                  height: 25px;
                  line-height: normal;
                  padding-left: 10px;
                  font-weight: lighter;
                  color: #333;
                }
                .right {
                  float: right;
                }
                .left {
                  float: left;
                }

              }
            }
            
        }
        .date-header {
          border : 10px solid #e7e7e7;
          height : 80px;
          font-size : 18px;
          text-align: center;
          white-space: pre-line;
          vertical-align: middle;
          display:table;
          width: 100%;
          color: #FFFFFF;
          border-radius: 20px;
          text-transform: uppercase;
        }
        th .date-header {
          background-color : #393c41;
        }
        th .date-header span { 
          display: table-cell;
          vertical-align: middle;
        }
        th .cell-content{
                background-color : #393c41;
        }
        td .cell-content{
                background-color : #fcfcfc;
        }

    }
}

.restriction-legends{
    background-color : #fcfcfc;
    font-size : 16px;
    text-transform:uppercase;
    padding: 10px 40px;
    overflow: hidden;
    span{
        padding-right: 20px;
        padding-bottom : 10px;
        // padding-top : 10px;
        font-size: 14px;
        font-weight: normal;
        float:left;
    }

    #update{
      width:100%;
    }

    .occgraph-outer{
      position: absolute;
      left: 550px;
      top: 88px;
      clear:both;
    }
}


.settarget {
    width:100% !important;
    .ngdialog-content {
        width:70% !important;
        input {
            width:100% !important;
            font-weight:bold !important;
            font-size:18px !important;
            color:#d8d8d8;
            padding:10px 6px;
            text-align:right;
        }
        
        table {
            tr {
                border-bottom:1px solid #dadada;
                th {
                    font-size:14px !important;
                    color:#202123;
                    text-align:center !important;
                    padding-top:30px;
                }
                td {
                    padding:20px 10px;
                    font-size:12px !important;
                    font-weight:bold !important;
                    color:#202123;
                    text-align: center !important;
                }
            }
        }

        h1{                
           font-family: "source_sans_pro",Helvetica,Arial,sans-serif !important;
           font-size:24px !important;
           font-weight:bold;
           margin:0px;
           padding:0px 0px 10px;
           text-align:center;
        }
               
em{
    font-size:14px !important;
    font-weight:normal !important;
}

table tr {
    border-bottom:1px solid #dadada;}

.noline {
    border-bottom:none !important;
}

.cellbg {
    background-color: #fcfcfc;
    font-size:11px;
    text-align:right;
    color:#d8d8d8;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15) inset;
    margin: 0;
    min-height: 30px !important;
    resize: none;
    transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9) 0s;
    vertical-align: middle;
    padding:5px 5px 0 0;
}

.cellbg input{
    background-color:none !important;
    border: 0 none;
    border-radius: 0px !important;
    box-shadow:none!important;;
    margin: 0;
    height: 20px !important;
    resize: none;
    transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9) 0s;
    vertical-align: middle;
    width:92% !important;
    font-weight:bold !important;
    font-size:18px !important;
    color:#d8d8d8;
    padding:5px 6px;
    text-align:center;
}
        .nogreen {
            background:none !important;
            color:#202123 !important;
            border:none !important;
            outline:none !important;
            box-shadow:none !important;
            float: right;
        }
        .green {
          float: left !important;
        }
    }
}

.restriction-status {
  color:white;
  font-size:10px;
    display: block;
    height: 17px;
    width: 40px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    float: right;
    text-align: center;
    z-index: 10000;
    padding-top:4px;
    
}
.status-on{
    background-color: #89bd55;
}
.status-off{
    background-color: #e63838;
}
.status-mixed{
    background-color: rgba(0, 0, 0, 0.15);;
}

dialog{
    color:#000;
    .header{
      background: none repeat scroll 0 0 #000000;
      color: #FCFCFC;
      display: block;
      height: 100px;
      margin-top: -17px;
      padding: 20px;
      width: 100%;
    }

    .restbg {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05)
    }
  
    .text {
      width:150px;
      text-align: left !important;
    }

    table tr th, table tr td {
      text-align: center;
      vertical-align: top !important;
   
    }

    table tr th, table tr td .inputlabel {
      text-align: left;
      text-transform:uppercase;
      font-size:12px;
      padding-top:50px;
      padding-left: 10%;
        input{
          width:88% !important;
        }
    }

    .cancellationbuttonwrap{
      padding-top:25px;
    }
      
    .cancellationbuttonwrap button {
      width:80% !important;
      margin-bottom:15px;
    }
    .restriction_text {
        padding: 25px;
        text-align: center;
        h1{
          text-transform: uppercase;
        }

        .mixed_restrictions {
            padding:15px;
            margin-top:20px;
            color: #625305;
            background: none repeat scroll 0 0 #F8E26E;
            border: 1px solid #F3CE0D;
            border-radius: 3px 3px 3px 3px;
        }
    }
    .restriction-type {
        border-bottom: 1px solid #D8D8D8;
        font-size: 14px;
        margin: 0 10px;
        padding: 10px 0 15px;
        text-transform: uppercase;
        text-align:left;

        &.selected {
          background: #F0F0F0;
        }
    }
    .price-info {
        font-size: 14px;
        padding: 10px 0 15px;
        margin: 0 10px;
        text-transform: uppercase;
        text-align:left;
        .price-item {
          height:55px;
          .amount {
            font-size: 19px;
          }
        }
        
    }

    .footer{
        text-align:center;
        border-top:1px solid #D8D8D8;
        padding-top:20px;
        .button{
            font-size: 21px;
            height: 60px;
            width: 188px;
        }
    }
    .price-div{
      margin-left:25px;
      // .price-div-data{
//         
        .price-set-title{
          font-size: 14px;
        }
        .price-fields{
          border-bottom:1px solid #D8D8D8;
          margin-bottom: 6px;
          padding-bottom:12px;
           input {
              line-height: 40px;
              padding: 0 10px;
              background: none repeat scroll 0 0 #FCFCFC !important;
              border: 0 none;
              border-radius: 2px;
              box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15) !important;
              min-height: 40px;
              box-shadow:0 !important;
              resize: none;
              transition: all 0.3s cubic-bezier(0.1, 0.1, 0.25, 0.9) 0s;
          }

          select {
            min-height: 35px !important;
            padding: 7px !important;
          }

          label{
          font-size:12px;
          display:block;
          text-align:left !important;
          }

          .or{
            margin-left:2px;
            margin-right:2px;
            font-size: 10px;
          }
          .inp-field{
             margin-right:2px;
          }
          .inp-field-before-or{
              margin-right:4px;
          }
          .inp-field-after-or{
              margin-left:4px;
              margin-right:2px;
          }
        }
      // }
    }
}


/** Added for leftside menu transition by qburst */

.leftMenuHandle {
    position:absolute;
    left: 230px;
    top:20px; 
    background-color: #DDDDDD;
    // background-image: url("/assets/main-navigation.png"), url("/assets/texture-dark.png");
    // background-position: -10px -10px, 0 0;
    // background-repeat: no-repeat, repeat;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    display: block;
    height: 45px;
    width: 25px;
    padding-top: 5px;
}
.leftMenuHandle:before {
  content: "|||";
  color: #C7C7C7;
  line-height: 35px;
  padding: 5px;
  font-size: 22px;
}
.slide_right {
    position: absolute;
    left: 0;
    /*-webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;*/
  }
.slide_left {
    position: absolute;
    left: -225px;
    /*-webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;*/
}
.restriction-icon {
      width: 25px;
      height: 25px;
      background-color: rgba(0, 0, 0, 0.15);
      display: block;
      margin-right: 10px;
      float: left;    
      border: 0;
      text-align: center;
      color: #FCFCFC;
      &.bg-green {
          background-color: #89bd55;
      }
      &.bg-red {
          background-color: #e63838;
      }
      &.bg-blue {
          background-color: #82c3de;
      } 
      &.bg-violet {
          background-color: #a261bd;
      }
      &.icon-cross {
          background-image: url(/assets/rate-manager/close.png);
          background-repeat: no-repeat;
          background-position: center center;
          
      }
      &.icon-block {
          background-image: url(/assets/rate-manager/cross.png);
          background-repeat: no-repeat;
          background-position: center center;
          

          
      }
  }
 .strike-through{
   text-decoration:line-through;
 }

.icons.right-arrow-copy{
  background-position: 0 -802px;
}

.ngdialog.ngdialog-theme-default.restriction-popup{

  &.fromRoomTypeView{
   .ngdialog-content{
    width: 700px;
    }
  }

  padding-top: 80px;
  .ngdialog-content{
    width: 270px;
    &.data-entry{
    width: 700px;
    }    
    &.expanded{
      width: 940px;
    }
    &.moderate{
      width: 810px;
    }
    table{
      margin-bottom: 0px;
    }
  .updatePriceAndRestrictionsContainer{
    .header{
      height: 80px;
    }

    .footer{
      height: 80px;
      padding-top: 10px;
      button{
        height: 45px;
        width: 120px;
      }
    }
  }

  #restictionsList{
    width:270px;
    height:400px;
    overflow: hidden;
    position: relative;
  .restriction-type{
    position: relative;
    min-height: 45px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 5px;
    span{
      display: inline-block;
      &.restriction-status{
        position: absolute;
        right:10px;
        top:10px;
      }
      &.text{
        width: 130px;
        text-align: left !important;
        margin-right: 60px;
        font-size: 13px;
        line-height: 12px;
      }
      &.restriction-icon{
        position: relative;
        line-height: 24px;
      }
    }
  }
  }

  #restrictionDays{
    position: relative;
    width:270px;
    height:400px;
    overflow-y: hidden;
    background-color:#DEDEDE;  
    margin-left: 0px;      
    .select{
      width: 200px;
      margin-left: 20px;
      margin-top: 10px;
    }


    .restriction_text{
      text-align: left;
      padding:25px 0 0 20px;
      font-size: 15px;
      font-weight: bold;
      &.price-div{
        margin: 0;
        padding-top: 0px;
      }
    }
    .price-set-title{
      text-align: left;
      margin-left: 8px;
      label.checkbox{
       -webkit-box-shadow: none;
       box-shadow: none;
        display: block;
        border: none;
        background: none;
        height: 30px;
      }
      input{
        height: 18px;
      }
      &.application{
        position: relative;
        top: -10px;
      }
    }
  }

  #mixedRestrictions{
    width:400px;
    height:400px;

    h4{
      text-transform: uppercase;
    }

    .inputlabel{
      padding-top: 15px;

      label{
        font-weight: bold;
        display: inline-block;
      }
    }

      .cancellationbuttonwrap{
          button{ 
          height: 45px;
          font-size: 18px;

          &.large{
            height: 60px;
          }
        }

        .button.cancel{
          color: #030303;
          font-weight: normal;
          font-size: 15px;
        }

      }

    .mixed_restrictions{
       color:#D98814;      

      em{
        font-size: 14px;
      }

      span.h4{
        display: inline;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  #restrictionPriceContainer{
    width:400px;
    height:400px;
    padding-left: 10px;
    margin-left: 0;
  }

  #pricesContainer{
    width:270px;
    height:400px;
    overflow-y: scroll;
    background-color: #E4E4E4;

    .price-info{
      padding: 0;
    .price-item{
      color:#CCC;
      .amount{
        color: #28292D;
      }
    }
  }
  }

}
}