//SCROLL FIX IN VIEW BILL
.bill_content{
   top:50px;
}
.header_position{
  position:absolute;
}
.scroll-guest-tab{
  position:absolute; 
  top:0px; 
  bottom: 0px; 
  left:0px; 
  width: 100%;
}
//Fix for move to bill
.selectBill{
  width:60px;
}
.guest-likes-scroll{
  position:absolute; 
  top:0px; bottom:0px; 
  overflow:hidden;width: 100%;
}
.preference-div{
  width:47% !important;
  margin-right:14px !important;
}
.showDisabled{
  opacity: 0.5;
  pointer-events: none;
}
.scroll-payment{
  width:100%;
  height: 400px;   
 }
 
 .pay-content {
   padding: 0px !important;
 }

//scrollfix in dashboard
.dashboard-scroll-div{
  position:absolute; 
  top:120px; 
  left:0px; 
  width: 100%; 
}
//scrollfix in dashboard
.hkdashboard-scroll-div{
  position:absolute; 
  top:146px; 
  left:0px; 
  width: 100%; 
}
.position-absolute{
  position:absolute; 
}
.pay-bill-modal{
  height: auto !important;
}
.reservation-list{
  height:550px !important;
}
.cards-list{
  height:100% !important;
}
.display-card-search{
  display: block !important;
}
