









/* StayNTouch | Rover LESS file */

/* 1. ROOT
==========================================================*/
@import "less/common/01-A_reset.less";

@import "less/common/01-B_variables.less";
@import "less/app/01-B_variables.less"; 

@import "less/common/01-C_mixins.less"; 
@import "less/common/01-D_mixins-animations.less"; 

/* 2. TYPOGRAPHY
==========================================================*/
@import "less/common/02_typography.less"; 

/* 3. GRAPHICAL ELEMENTS
==========================================================*/
@import "less/common/03_graphics.less"; 
@import "less/app/03_graphics.less"; 

/* 4. LAYOUT
==========================================================*/
@import "less/common/04_layout.less";
@import "less/app/04_layout.less";

/* 5. COMPONENTS
==========================================================*/
@import "less/common/05-A_components.less";
@import "less/app/05-A_components.less";

@import "less/common/05-B_forms.less";
@import "less/app/05-B_forms.less";

@import "less/common/05-C_plugins.less";
@import "less/app/05-C_plugins.less"; 

/* 6. IE
==========================================================*/
@import "less/app/06_ie.less"; 

/* 7. MEDIA QUERIES
==========================================================*/
@media only print {
    @import "less/app/07_print.less"; 
}


@import "less/app/08_smartband.less"; 

// back button
.actions-back {
  position: absolute;
  left: 55px;
  top: 10px;
  padding: 0;

  .back-button:not(.button):not(.switch) {
    padding: 6px 20px 4px 45px;
    display:block;
    background-position: 15px -1588px;

    &:hover {
      background-position: 15px -1528px;
    }
  }
}


#main-menu .nav-toggle.updated span.active {
   background-image:  asset-url("image-active-drawer.png") !important;
}

//Added for animation effects
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  -ms-transition: 2.4s ease-in-out;
  -webkit-transition: 2.4s ease-in-out;
  transition:  2.4s ease-in-out;
}

.slide-left.ng-enter {}
.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-left.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}


.slide-right.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
} 

.slide-right.ng-enter.ng-enter-active, 
.slide-right.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}



.container.menu-open .page-current, .container.menu-open .page-locked {
    animation: 0s ease 0s normal both 1 appMenuOpen;
 }




/* ------------------date -picker ---------------------*/
.pickdate-cell-bg{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
}
.pickdate-container-bg{
  background: url("/assets/date_container_bg.png");
}
.pickadate-header {
  position: relative;
}



.pickadate-main {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.pickadate a:visited, .pickadate a {
  color: #666666;
}

.pickadate-cell {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.pickadate-cell li {
  display: block;
  float: left;
  border-left: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
  width: 14.285%;
  padding: 2.3%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
    margin-bottom: 0.5em !important;

}

.pickadate-cell li:nth-child(7n+0) {
  border-right: 2px solid #f1f1f1;
}

.pickadate-cell li:nth-child(1),
.pickadate-cell li:nth-child(8),
.pickadate-cell li:nth-child(15),
.pickadate-cell li:nth-child(22),
.pickadate-cell li:nth-child(29),
.pickadate-cell li:nth-child(36) {
  border-left: 2px solid #f1f1f1;
}


.pickadate-cell .pickadate-disabled,
.pickadate-cell .pickadate-disabled a {
  color: #9D9D9D;
  font-size: 18px;
}


.pickadate-cell .pickadate-outofrange-disabled,
.pickadate-cell .pickadate-outofrange-disabled a,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled a {

  
  color: transparent;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pickadate-cell .pickadate-enabled {
  cursor: pointer;
  font-size: 18px;
  color: #000;
  font-weight:400;
}


.pickadate-cell .pickadate-active {
  color: #fff !important;
  background-color: #ffaa17;

}

.pickadate-cell .pickadate-active {
  color: #000;

}

.pickadate-cell .pickadate-head {
  color: #9D9D9D;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 0px ;
  border-left: 0px !important;
  border-right: 0px !important;
}

.pickadate-centered-heading {
  text-transform: uppercase;
  color:#000;
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  margin: 13px 0 13px 0;
}

.pickadate-controls {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.pickadate-controls .pickadate-next {
  float: right;
}

.pickadate-controls a {
  text-decoration: none;
  font-size: 0.9em;
}

.pickadate-cell .pickadate-outofrange-disabled,
.pickadate-cell .pickadate-outofrange-disabled a,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled,
.pickadate-cell .pickadate-disabled.pickadate-outofrange-disabled a,
.pickadate-cell .pickadate-active.pickadate-outofrange-disabled,
.pickadate-cell .pickadate-active.pickadate-outofrange-disabled a {

  color: gray;
  color: transparent;

  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.date-picker-bg{
  
  background: url("/assets/texture.png") repeat scroll 0 0 #FCFCFC;
  padding:10px;
  margin:5px;
}
.date-picker-bg_right{
  width:48%;
  float:right;
}
.date-picker-bg_left{
  width:48%;
  float:left;
}

.pickadate_select{
  background: none repeat scroll 0 0 #ffffff !important;
  padding-right:14px;
  color:black;
  box-shadow:none !important;
  outline:0 !important;
}
.float_left{
  float:left;

}
.float_right{
  float:right;

}
.calendar_top_panel{
  background-color:white;
  height:46px;
}
.pickadate-prev,.pickadate-next{
  
  width:30px;
  padding:15px 5px !important;
}
.pickadate-body{
  margin-top:10px;

}
.date_picker_conatiner{
border-style: solid;
border-width: 1px 0;
border-color: #f1f1f1;
height: 410px;
}

.date_range_set_table{
  margin-bottom:0px;
  width:100%;
  tr,td{
    box-shadow: none !important;
  }
  tr{
    border-style: solid;
    border-width: 1px 0;
    border-color: #f1f1f1;
  }
}
.pickadate-cell .current-date{
  color: #66CCFF !important;
}

#modal .ngmodal-uidate-wrap {
  width: 480px;
}

/*------------------date -picker ends here-------------------------- */


.ui-match { color: #F6991B; margin-right: 0px !important;}
.post-button {
  line-height: 50px !important;
  width: 100% !important;
}
.action-post-button{
  width:23.645% !important;
}

//Commenting this as this overrides icon class used by Stjpan.
//TODO: Review places where this class were used, and apply the styles locally. 
 // .icons {
     // background-image: url("/assets/admin/admin-icons.png");
     // background-repeat: no-repeat;
     // border: 0 none;
     // display: block;
 // }
.delete_small {
    background-position: 13px -542px !important;
}
.cursor-hand {
    cursor: pointer;
}



.grey{
  color:grey;
}

// CICO-609 'Accompany' in Search- Multiple images
.guest-image img{
    &.first-image {
        margin-left: 0;
        position: absolute;
        width: 70%;
    }
    &.second-image {
        margin-left: 15px;
        margin-top: 15px;
        position: relative;
        width: 70%;
    }
}
// CICO-609 'Accompany' in stay card.
.accompany-guest{
  background-color: #E0E0E0;
  border-radius:5px;
  padding:5px 15px;
  height:auto;
  margin-bottom: 20px;
  .group{
    margin: 5px 0 5px;
    height:25px;
  }
  .name{
    font-style:italic;
    line-height: 20px;
  }
  .guest{
    margin: 5px 0 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 5px;
  }
  .label{
    width:30%;
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0px !important;
  padding: 0px !important;

  /* CICO-8546: Fixing issue with close animation */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none !important;
  width: auto !important;
}
.ngdialog-close {
  display: none;
}

//Search page Changes : CICO-3997

#search_list #search-form{
height: 60px;
background: rgba(0,0,0,0.1);
.entry{
  width:100%;
   top:-20px;
}
input{
background-color:#FCFCFC;
}

button.icons.icon-search{
  background: @icons;
    background-repeat: no-repeat;
   top:15px;
}



}

#search-cards .entry{
  .icon-search{
    background-image: @icons;
  }
}
.switch-button .data-off .switch-icon, .switch-button .data-on .switch-icon, .switch-button .data-off .value,.switch-button .data-on .value {

  font-size:12px !important;
}

/* Customizing the z-index for loader to use with the popups */
#loading{
  z-index: 99999;
}

/* Admin icons      ==================================*/
@iconsAdmin: url("/assets/admin/admin-icons.png");
  .admin-icons {
    background-image: @iconsAdmin;
    background-repeat: no-repeat;
    border: 0;
    .show;

    &.icon-mover-right {
      background-position: 13px -788px; 
      
      &:hover,
      &:active { background-position: 13px -888px; }
    }

    @media @highdpi {
      background-image: @iconsAdmin2x;
      background-size: 50px;
    }
  }

#print-keys label.only-number:nth-child(odd){
  margin-right: 10px !important;
}

.payment-popup{
  width:100% !important;
}

.roomListAnimation {
  width: 67% !important;
  margin-left: 200px !important;
}

#room-assignment .room-assignment-content.only-upgrades .upgrades .wrapper > li .room-details {    
    height: 50px !important;
}

#room-assignment .room-assignment-content .rooms-listing .results .rooms li .button {
    height: 50px !important;
    vertical-align: middle;     
}


/* 
* Angular UI-States Animations      
* ==================================
* DO NOT change the numeric values
*/

/* ui-view animation hook up class for root-view */
.root-view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("/assets/texture.png") repeat scroll 0 0 #FCFCFC;
}
.root-view.ng-enter {
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  /**/
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /**/
  #fade > .in;
}

/* ui-view animation hook up class for main-view */
.main-view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("/assets/texture.png") repeat scroll 0 0 #FCFCFC;
}

/* making sure we are not flickering */
.main-view.ng-enter,
.main-view.ng-leave {
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  /**/
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.main-view.ng-enter,
.main-view.ng-enter-active {
  z-index: 50;
}

.main-view.ng-leave,
.main-view.ng-leave-active {
  z-index: 30;
}

/* to remove a slight delay in applying the animations
on a slow performaing device, keep the entering view hidden
untill angular is ready to activate it */
.main-view.ng-enter {
  /*opacity: 0;*/
  display: none;
}
.main-view.ng-enter-active {
  /*opacity: 1;*/
  display: block;
}

/* normal app state animations */
.main-view.ng-enter {
  #move > #ui-view > .enter;
}

.main-view.ng-leave {
  #move > #ui-view > .leave;
}

/* when returning back */
.return-back .main-view.ng-enter {
  #move > #ui-view > .enter-rev;
}

.return-back .main-view.ng-leave {
  #move > #ui-view > .leave-rev;
}

/* 
* The End     
* ==================================
* Angular UI-States Animations
*/

.room-number {    
    line-height: initial !important;
}

.room-status {    
    line-height: 64px !important;
}

.iScrollVerticalScrollbar .iScrollIndicator {
    background: none repeat scroll 0 0 #FFB319;
    border-radius: 4px 4px 4px 4px;
    position: absolute;
    width: 100%;
}
.occupancy-cancel{
  margin-left: 30px;
}

.room-upgrades-list{
  padding-bottom: 10px !important;
}

/*  
Padding for the ows error popup
*/
#modal .modal-content.new-content.warning {
    padding: 20px 20px 10px;

}

#edit-reservation .edit-reservation-content .reservation-updates {
  .updates-wrapper {
    height: 90%;
    .updates-content {
      &#unable-to-extend{
        padding-left: 90px; 
        padding-right: 90px;
        .h2{
          margin:0 80px 0 80px;
        }
        .button {
          width: 200px; 
          margin:13px 200px 0 200px;
        }
      }
    }
  }
  .room-rates-btn{
    height: 10%; 
    float:left;
    margin-left: 40%; 
  }
}

.overlay{
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 480px){

  .ngdialog.ngdialog-theme-default.modal-theme .ngdialog-content {
      width: 200px;
  }

  #modal .modal-content.new-content {
    width: 200px;
  }

  #modal .modal-content .button {
      font-size: 14px;
      line-height: 30px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
  }

  #modal .modal-content.new-content .actions .button {
      padding: 0 10px;
      width: 100%;
      margin-bottom: 5px;
  }

}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 990px){

  .ngdialog.ngdialog-theme-default.modal-theme .ngdialog-content {
      width: 400px;
  }

  #modal .modal-content.new-content {
    width: 400px;
  }

  #modal .modal-content .button {
      font-size: 14px;
      line-height: 30px;
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
  }

  #modal .modal-content.new-content .actions .button {
      padding: 0 10px;
      width: 50%;
      margin-bottom: 5px;
  }

}


/* Rooms page               ==============================*/
    
    /* Rooms listing ***/
    #rooms {
        li {
            margin: 0;         
            a {
                color: @textColor;
                padding: 0 10px 0 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                border-bottom: 1px solid rgba(0,0,0,.1);
                background-color: @white;
                position: relative;
                .show;

                .room-number {
                    font-size: 30px;
                    line-height: 50px;
                    vertical-align: middle;
                    font-weight: 700;
                    width: 70px;
                    .show;
                    .pull-left;
                }

                .room-stats-wrap {
                    display: block;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 90px;
                    right: 50px;    
                }


                .room-status,
                .fo-status {
                    display: inline-block;
                    color: @grey3;
                    font-size: 13px;
                    font-weight: 400; 
                    font-style: italic;
                    line-height: 50px;
                }

                .room-status {
                    width: 50%;
                    .pull-left;
                 }

                 @media (max-width: 319px) {
                    .room-stats-wrap {
                        clear: both;
                        position: static;
                        padding: 3px 0 10px;
                    }

                    .room-status,
                    .fo-status {
                        width: 49%;
                        line-height: 1;
                    }

                    .fo-status {
                        text-align: right;
                        .pull-right;
                    }
                }

                .guest-image {
                    position: relative;
                    top: 5px;
                    .pull-right;
                    #border-radius > .rounded(40px);
                    .square(40px);

                    .vip {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        font-size: 9px;
                        line-height: 16px;
                        .square(16px);
                        #border-radius > .rounded(16px);       
                    }

                    img {
                        width: 100%;
                        height: auto;
                        #border-radius > .rounded(40px);
                    }
                }

                &.room-clean { 
                    .room-number { color: @green; }
                }

                &.room-dirty { 
                    .room-number { color: @red; }
                }

                &.room-out {
                    .room-number { color: @grey3; }
                }

                &.room-pickup {
                    .room-number { color: @orange; }
                }

                &:hover,
                &:active {
                    background-color: rgba(0,0,0,.02);
                }
            }
        }
    }

    /* Rooms page               ==============================*/
        
        /* Rooms listing ***/
        #rooms {
            li {           
                a {
                    color: @textColor;
                    padding: 0 20px 0 20px;

                    .room-number,
                    .room-status,
                    .fo-status { line-height: 60px !important; }

                    .room-number { 
                        font-size: 36px;
                        width: 120px;
                        vertical-align: middle;
                        font-weight: 700;
                        display: block;
                        float: left;
                    }
                    
                    .room-status,
                    .fo-status {
                        font-size: 16px;
                        font-style: normal;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: #9d9d9d;
                    }

                    .guest-image {
                        top: 10px;
                        .square(40px);
                    }

                    .room-stats-wrap {
                        left: 150px;
                        right: 60px;
                    }

                    &.with-image {
                        .guest-image {
                            top: 10px;
                            .square(40px);
                        }
                    }
                }
            }
        }    
            /* Rooms page               ==============================*/
        
        /* Rooms listing ***/
        #rooms {
            .wrapper { padding: 0 20px; }

            li {
                margin-bottom: 10px;

                a {
                    border-bottom: 0;
                    .clickable;

                    &:hover,
                    &:active { background-color: @white; }
                }
            }

            .iScrollVerticalScrollbar { 
                top: 0;
                bottom: 0;
            }
        }


/* 
* Reports screen change animations  
* ==================================
* DO NOT change the numeric values
*/
#report-details.content.stay-card-inner{
  position: absolute;
}

@media (max-width: 999px) {
  #report-details.content.stay-card-inner {
    position: static;
  }
}

#reports-details-wrap #report-details .report-content {
  .calc-height(100, 180);
}

/* ui-view animation hook up class for main-view */
.reports-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("/assets/texture.png") repeat scroll 0 0 #FCFCFC;
}

/* making sure we are not flickering */
.reports-wrapper.ng-hide-remove,
.reports-wrapper.ng-hide-add {
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
  /**/
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.reports-wrapper.ng-hide-remove,
.reports-wrapper.ng-hide-add-active {
  z-index: 50;
}

.reports-wrapper.ng-hide-remove,
.reports-wrapper.ng-hide-add-active {
  z-index: 30;
}

/* normal app state animations */
.reports-wrapper.ng-hide-remove {
  #move > #ui-view > .enter;
}

.reports-wrapper.ng-hide-add {
  #move > #ui-view > .leave;
}

/* when returning back */
.return-back .reports-wrapper.ng-hide-remove {
  #move > #ui-view > .enter-rev;
}

.return-back .reports-wrapper.ng-hide-add {
  #move > #ui-view > .leave-rev;
}
