<div id="billing-content" class="content-wrapper" ng-controller="rvBillingInfoCardsRouteDetailsCtrl">
	<fieldset class="content-left">
		<div id="entity-details" ng-iscroll='routeDetails' ng-iscroll-delay='100' class="entity-details scrollable">
			<div class="wrapper">
				<div class="title">
					{{'ENTITY' | translate}}
				</div>
				<!-- Selected entity -->
				<div class="entity guest">
					<figure class="guest-image" ng-class = "getEntityIconClass(selectedEntity)" ng-if="escapeNull(selectedEntity.images[0].guest_image)!=''">
						<img src="{{selectedEntity.images[0].guest_image}}" alt="" />
					</figure>

					<figure class="guest-image" ng-if="escapeNull(selectedEntity.images[0].guest_image)==''">
	                    <div class="guest-image icons icon-company" ng-if="escapeNull(selectedEntity.entity_type)=='COMPANY_CARD'" ></div>
	                    <div class="guest-image icons icon-travel-agent" ng-if="escapeNull(selectedEntity.entity_type)=='TRAVEL_AGENT'" ></div>
	                </figure>
					<h2>{{selectedEntity.name}}</h2>
                  	<span class="status" ng-class="getEntityRole(selectedEntity)" ng-show="selectedEntity.entity_type !='RESERVATION'">{{selectedEntity.status}}</span>
				</div>
				<div class="title" ng-show= "showPayment">{{'PAYMENT' | translate}}
					<button type="button" id="edit-entity" ng-click="editPaymentMethod();" class="button with-icon only-icon purple edit" ng-show= "renderAddedPayment != null">
						<span class="icons icon-pencil" ></span>
					</button>
				</div>

				<!-- Available credit card -->

				<div ng-iscroll='paymentList' ng-iscroll-delay='100' style="position: relative;max-height:210px;overflow: hidden;" ng-show = "!isAddPayment && showPayment && renderAddedPayment == null">
					<div class="wrapper">
						<div class="payment" ng-class="{'active': selectedEntity.selected_payment == paymentType.id}" ng-show = "!isAddPayment && showPayment" ng-repeat="paymentType in attachedPaymentTypes" ng-click = "selectedEntity.selected_payment = paymentType.id">
							<!-- add class active when selected -->
							<span ng-show = "paymentType.payment_type_id == 1">
								<figure class="card-logo">
									<img src="/assets/{{paymentType.card_code}}.png" alt="" />
								</figure>
								<span class="number">{{'NUMBER' | translate}} <span class="value number">{{paymentType.mli_token}}</span></span>
								<span class="date">{{'DATE' | translate}} <span class="value date">{{paymentType.card_expiry}}</span></span>
							</span>
							<span class="value code" ng-show = "paymentType.payment_type_id != 1">{{ paymentType.payment_type }}</span>
							<span class="icons icon-ok-10" ng-show="selectedEntity.selected_payment == paymentType.id"></span>
						</div>
					</div>
				</div>

				<div class="payment active"  ng-show = "renderAddedPayment != null && !isAddPayment  && showPayment && !saveData.newPaymentFormVisible">
						<!-- add class active when selected -->
						<span ng-show = "renderAddedPayment.payment_type == 'CC'">
							<figure class="card-logo">
								<img src="/assets/{{renderAddedPayment.creditCardType}}.png" alt="" />
							</figure>
							<span class="number">{{'NUMBER' | translate}} <span class="value number">{{renderAddedPayment.endingWith}}</span></span>
							<span class="date">{{'DATE' | translate}} <span class="value date">{{renderAddedPayment.cardExpiry}}</span></span>
						</span>
						<span class="value code" ng-show = "renderAddedPayment.payment_type != 'CC'">{{ renderAddedPayment.payment_type_description }}</span>
						<span class="icons icon-ok-10" ></span>
				</div>
				<button type="button" class="add-new-button" ng-click = "showAddPayment()" ng-show = "!isAddPayment && showPayment && renderAddedPayment == null">{{'NEW_PAYMENT' | translate}}</button>

				<!-- For to add the new credit card, should be shown when button above is tapped -->
				<div id = "newpaymentview"  ng-show = "isAddPayment && showCreditCardDropDown && showPayment && paymentDetails == null"  ng-include="'/assets/partials/bill/rvRoutesAddPayment.html'"> </div>
				<div>
					<!-- Posting Amount -->
	                <div class="title">
	                    {{'POSTING_CAP' | translate}}<span>({{currencySymbol}})</span>
	                </div>
	                <div class="entry">
	                    <input type="text" ng-model="selectedEntity.credit_limit"/>
	                </div>

	                <!-- Reference No. -->
	                <div class="title">
	                    {{'REFERENCE_NUMBER' | translate}}
	                </div>
	                <div class="entry" >
	                    <input type="text" ng-model="selectedEntity.reference_number"/>
	                </div>
                </div>
			</div>
		</div>
	</fieldset>
	<fieldset class="content-right">
		<span class="h2 message" translate> DETAILS</span>
		<span ng-include="'/assets/partials/billingInformation/sharedPartials/rvChargeCodesAndBillingGroup.html'">		
		</span>
	</fieldset>
</div>
<div class="actions">
	<button type="button" id="close-information" class="button blank modal-close" ng-click = "closeThisDialog()">CANCEL</button>
	<button type="button" id="save-route" class="button green modal-close" ng-click = "saveRoute()" translate>SAVE</button>
</div>