<div id="modal" ng-class="{'modal-show': !modalClosing}" role="dialog" ng-cloak>
	<div class="rate-manager-modal modal-content" ng-click="clearErrorMessage()">
	    <div class="modal-container">
	        <div class="modal-header">
	            <div class="modal-header-left">
	            	<h2>{{header}}</h2>
	            	<em>{{headerBottomLeftLabel}}</em>
	            	<em class="rate-name">{{headerBottomRightLabel}}</em>
	            </div>
	            <div class="modal-header-right">
	                <!-- Remove class .hidden when there is a notice-->
	                <div class="notice" ng-class="{'hidden': headerNoticeOnRight.trim() === ''}">
	                    {{headerNoticeOnRight}}
	                </div>
            	</div>
	        </div>
	        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
	        <div class="modal-body">
	        	<div class="content-left">
                    <div class="restriction-list" >
					    <div class="restriction_text" >
					        <h3>
					            RESTRICTIONS
					        </h3>
					    </div>
					    <div class="scrollable" ng-iscroll="scroller-restriction-list">
					        <ul class="wrapper">
					        	<li class="restriction-type" 
					        		ng-repeat="restriction in restrictionList"  
					        		ng-click="changeRestrictionStatus(restriction)" 
					        		ng-class="{'selected': restriction.selected}">
					        		
					        		<div class="restriction-left">
						        		<span ng-class="restriction.className">
						        			{{restriction.value}}
						        		</span>
						        		<span class="restriction-name">{{restriction.description}}</span>

						        		<!-- Display this if the restriction is editable -->
						        		<span class="icons icon-double-arrow rotate-right" ng-if="restriction.hasInputField">
						        			
						        		</span>
						        	</div>

						        	<div class="restriction-right">

					                    <!-- Show this when the restriction is mixed -->
					                    <div class="mixed-button" ng-if="restriction.status === 'VARIED'">
					                        Varied
					                    </div>
					                    <!-- Show this when the restriction is NOT mixed -->
					                    <!-- Add class .on when restriction is ON, remove otherwise-->
					                    <!-- Add class .disabled if the restriction is editable and has no value, remove otherwise -->
					                    <div class="switch-button" ng-class="{'on': restriction.status === 'ON'}"
					                    	ng-if="restriction.status !== 'VARIED'">
					                        <span class="switch-icon"></span>
					                        <!-- Add attribute checked="checked" when the restriction is ON, remove otherwise -->
					                        <!-- Add attribute disabled="disabled" when restriction is editable and has no value, remove otherwise -->
					                        <input type="checkbox" ng-checked="restriction.status === 'ON'"/>
					                    </div>
					                         
					                </div>
					        	</li>
					    	</ul>
					    </div>					    
             		</div>
            	</div>
            	<div class="content-middle"> <!--ng-show="contentMiddleMode !== ''" -->
            		<div ng-if="contentMiddleMode === 'ROOM_TYPE_PRICE_LISTING'">
						<div class="restriction_text" >
						    <h3>
						        PRICES
						    </h3>
						    <!-- Display if we are viewing Rates -->
						    <em>Prices for all room types</em>
						</div>
						<div class="prices-container scrollable" ng-iscroll="room-type-price-listing">
						    <div class="wrapper">
						    
						        <div class="price-info" ng-repeat="roomType in roomTypeAndPrices">
						            <span class='name'>{{roomType.name}}</span>
						            <span class="price">{{roomType.single}}</span>
						        </div>
						        
						    </div>
						</div>            			
            		</div>

            		<div ng-if="contentMiddleMode === 'RESTRICTION_EDITING'">
	            		<div class="restriction_text">
						    <h3>{{restrictionForShowingTheDetails.description}}</h3>
						    <em>Adjust restriction for all room types</em>
						    <div class="mixed_restrictions notice" ng-show="restrictionForShowingTheDetails.status==='VARIED'">
						        This overrides all 
						        <strong class='restriction-description'>
						        	{{restrictionForShowingTheDetails.description}}
						        </strong>
						        restrictions for the selected room type(s) and date range.
						    </div>
						    <div class="inputlabel" for="restictionCount" ng-show="restrictionForShowingTheDetails.hasInputField">
						        <label for="restictionCount"> {{restrictionForShowingTheDetails.description}} </label>
						        <input id="restictionCount" ng-model="restrictionForShowingTheDetails.value"/>
						    </div>

						    <div class="cancellationbuttonwrap">
						        <button class="button green" type="button" ng-click="clickedOnRestrictionSetButton($event)">Set</button>
						        <button class="button red" type="button" ng-click="clickedOnRestrictionRemoveButton()">Remove</button>
						        <button class="button blank cancel" type="button" ng-click="clickedOnCancelRestrictionEditingButton()">Cancel</button>
						    </div>
						</div>
            		</div>

					<div class="no-content" ng-if="contentMiddleMode === 'SINGLE_RATE_ROOM_TYPE_CHILD_RATE'">
					    <div class="info">
					        <span class="icon-no-content icon-rates"></span>
					        <strong class="h1">Can't adjust price for child rate</strong>
					        <span class="h2">
					            You can however adjust the price on it's parent rate 
					            <strong>{{parentRateName}}</strong>
					        </span>
					        <button class="button purple" type="button" ng-hide="true">
					            Adjust Parent Rate
					        </button> 
					    </div>
					</div>
            		<div id="" ng-if="contentMiddleMode === 'SINGLE_RATE_SINGLE_ROOM_TYPE_HOURLY_AMOUNT_EDIT'">
            		</div>
            		<div id="restrictionPriceContainer" ng-if="contentMiddleMode === 'SINGLE_RATE_MULTIPLE_ROOM_TYPE_NIGHTLY_AMOUNT_EDIT'" 
            			class="price-div">
					    <div class="restriction_text" >
					        <h3>Adjust Price </h3>
					        <em>Adjust price for all room type</em>
					        <section class="price-field-container scrollable" ng-iscroll="room-type-price-editing">
							    <div class="wrapper">

							        <div class="price-fields">
							            
							            <label>
							                SINGLE
							            </label>							          
							            
							            <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.single_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disable ng-change="refreshScrollers()"d add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('single')" ng-model="priceDetails.single_changing_value">
							            </span>
							            
							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.single_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.single_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('single')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>

							        <div class="price-fields">
							            <!-- Add class .has-override if has override -->
							            <label >
							                DOUBLE
							            </label>   
							           <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.double_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('double')" ng-model="priceDetails.double_changing_value">
							            </span>

							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.double_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            
							        
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.double_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('double')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>

							        <div class="price-fields">
							            <label ng-class="{'has-override': priceDetails.child_overridden}">
							                CHILD
							            </label>   
							           <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.child_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disable d add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('child')" ng-model="priceDetails.child_changing_value">
							            </span>
							            
							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.child_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.child_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('child')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>

							        <div class="price-fields">
							            <label>
							                EXTRA ADULT
							            </label>   
							           <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.extra_adult_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disable d add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('extra_adult')" ng-model="priceDetails.extra_adult_changing_value">
							            </span>
							            
							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.extra_adult_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.extra_adult_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('extra_adult')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>							        
							    </div>
							</section>
					    </div>
					</div>            		
            		<div id="restrictionPriceContainer" ng-if="contentMiddleMode === 'SINGLE_RATE_SINGLE_ROOM_TYPE_NIGHTLY_AMOUNT_EDIT'" 
            			class="price-div">
					    <div class="restriction_text" >
					        <h3>Adjust Price </h3>
					        <em>Adjust price for this room type</em>
					        <section class="price-field-container scrollable" ng-iscroll="room-type-price-editing">
							    <div class="wrapper">

							        <div class="price-fields">
							            <!-- Add class .has-override if has override -->
							            <label ng-class="{'has-override': priceDetails.single_overridden}">
							                SINGLE
							                <!-- Display if has override-->
							                <span class="icon-report icon-upsell" ng-show="priceDetails.single_overridden"></span>
							            </label>   
							           
							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="price entry">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <input type="text" ng-model="priceDetails.single" ng-disabled="!!priceDetails.single_changing_value">
							            </span> 

							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="or-class"> OR</span> 
							       
							           
							            
							            <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.single_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disable ng-change="refreshScrollers()"d add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('single')" ng-model="priceDetails.single_changing_value">
							            </span>
							            
							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.single_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.single_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('single')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>

							        <div class="price-fields">
							            <!-- Add class .has-override if has override -->
							            <label ng-class="{'has-override': priceDetails.double_overridden}">
							                DOUBLE
							                <!-- Display if has override-->
							                <span class="icon-report icon-upsell" ng-show="priceDetails.double_overridden"></span>
							            </label>   
							           
							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="price entry">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <input type="text"  ng-model="priceDetails.double" ng-disabled="!!priceDetails.double_changing_value">
							            </span> 

							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="or-class"> OR</span> 
							       

										<span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.double_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('double')" ng-model="priceDetails.double_changing_value">
							            </span>

							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.double_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            
							        
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.double_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('double')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>

							        <div class="price-fields">
							            <!-- Add class .has-override if has override -->
							            <label ng-class="{'has-override': priceDetails.child_overridden}">
							                CHILD
							                <!-- Display if has override-->
							                <span class="icon-report icon-upsell" ng-show="priceDetails.child_overridden"></span>
							            </label>   
							           
							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="price entry">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <input type="text" ng-disabled="!!priceDetails.child_changing_value" ng-model="priceDetails.child">
							            </span> 

							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="or-class"> OR</span> 
							       
							           
							            
							            <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.child_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disable d add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('child')" ng-model="priceDetails.child_changing_value">
							            </span>
							            
							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.child_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.child_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('child')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>

							        <div class="price-fields">
							            <!-- Add class .has-override if has override -->
							            <label ng-class="{'has-override': priceDetails.extra_adult_overridden}">
							                EXTRA ADULT
							                <!-- Display if has override-->
							                <span class="icon-report icon-upsell" ng-show="priceDetails.extra_adult_overridden"></span>
							            </label>   
							           
							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="price entry">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <input type="text" ng-disabled="!!priceDetails.extra_adult_changing_value" ng-model="priceDetails.extra_adult">
							            </span> 

							            <!-- Hide if All Data is selected (All Rooms/All Rates)-->
							            <span class="or-class"> OR</span> 
							       
							           
							            
							            <span class="entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.extra_adult_amount_operator">
							                    <option value="+">+</option>
							                    <option value="-">-</option>
							                </select> 
							            </span>

							            <span class="extra_amount entry">
							                <!-- if is disable d add attribute 'disabled="disabled"'-->
							                <input type="text" ng-change="priceStartedToCustomize('extra_adult')" ng-model="priceDetails.extra_adult_changing_value">
							            </span>
							            
							            <!-- add class .disabled if is disabled -->
							            <span class="select_amount_diff entry select">
							                <!-- if is disabled add attribute 'disabled="disabled"'-->
							                <select ng-model="priceDetails.extra_adult_amount_perc_cur_symbol">
							                    <option value="%">%</option>
							                    <option value="{{currencySymbol}}">{{currencySymbol}}</option>
							                </select> 
							            </span>
							            <br clear="all">

							            <!-- remove class .hidden if price has changed-->
							            <div class="apply-all-div" ng-class="{'hidden': priceDetails.extra_adult_changing_value.trim() === ''}">
							                <button ng-click="clickedOnApplyToAllOccupancies('extra_adult')" class="button blue apply-all-button">Apply to all occupancies</button>
							            </div>
							        </div>							        
							    </div>
							</section>
					    </div>
					</div>
            	</div>
            	<div class="content-right">
	                <h3>Repeat on Dates</h3>

		            <!-- Add class .checked when checked-->
		            <label class="checkbox" ng-show="shouldShowApplyPriceCheckbox()" ng-class="{'checked': applyPriceToDates}">
		                <!-- add class .checked when checked -->
		                <span class="icon-form icon-checkbox" ng-class="{'checked': applyPriceToDates}"></span>
		                <!-- add attribute 'checked="checked"' when checked-->
		                <input name="apply-price-to-dates" id="apply-price-to-dates" 
		                	ng-model="applyPriceToDates" type="checkbox"/>
		                Apply Price
		            </label>

		            <!-- Add class .checked when checked-->
		            <label class="checkbox" ng-class="{'checked': applyRestrictionsToDates}">
		                <!-- add class .checked when checked -->
		                <span class="icon-form icon-checkbox" ng-class="{'checked': applyRestrictionsToDates}"></span>
		                <!-- add attribute 'checked="checked"' when checked-->
		                <input name="apply-restriction-to-dates" id="apply-restriction-to-dates" 
		                	ng-model="applyRestrictionsToDates" type="checkbox"/>
		                Apply Restrictions
		            </label>

	                <h4>For every</h4>
	                <div class="list_week_days">
	                    <!-- Add class .checked when checked-->
	                    <label class="checkbox" ng-class="{'checked': weekDay.selected}"
	                    	ng-repeat="weekDay in weekDayRepeatSelection">
	                        <!-- Add class .checked when checked-->
	                        <span class="icon-form icon-checkbox" ng-class="{'checked': weekDay.selected}"></span>
	                        <!-- add attribute 'checked="checked"' when checked-->
	                        <input  ng-model="weekDay.selected" value="restrictions" type="checkbox"/>
	                         {{weekDay.weekDay}}
	                    </label>
	                    
	                    <!-- 'ButtonText':
	                        - 'Select All' - when some day is not selected
	                        - 'Select None' - when all days are selected
	                    -->
	                    <button ng-click="clickedOnWeekDaySelectAllButton()" 
	                    	ng-show="!showSelectNoneForWeekDaySelection()">
	                        Select All
	                    </button>
	                    <button ng-show="showSelectNoneForWeekDaySelection()"
	                    	ng-click="clickedOnWeekDaySelectNoneButton()">
	                        Select None
	                    </button>	                    
	                </div>

	                <h4>Until</h4>
	                <div class="has-datepicker">
	                    <input placeholder="Select Date Range" type="text" class="range-datepicker green" readonly rv-clear-text-box listen-this="untilDate" ui-date="datePickerOptions" value="{{untilDate|date:dateFormat}}" />
	                </div>

	            </div>
	        </div>

			<div class="footer">
	            <div class="actions">
	                <button class="button blank" type="button" ng-click="closeDialog()">
	                    Cancel
	                </button>
	                <!-- remove class .hide if there is any override and rate is not a child or any other rule is applied. Please do review rules for overrides
	                    -->
	                <button class="button purple" ng-hide="true" type="button">
	                    Clear Rate Overrides
	                </button>
	            
	                <button class="button green" ng-click="clickedOnSetButton($event)" type="button">
	                    Set
	                </button>
	            </div>
        	</div>
	    </div>
	</div>
</div>