<!-- main section starts here -->
<div class="container">
    <!-- main content -->
    <div class="row" ng-hide="isPosting">
        <div class="col-md-1"></div>
        <!-- left side -->
        <div class="col-md-4 top-spacing">
            <!-- default main  text -->
            <p class="main-text final-text" ng-if="!screenCMSDetails.title">You're checked in!</p>
            <!-- CMS main text -->
            <p class="main-text" ng-if="screenCMSDetails.title" ng-bind-html="screenCMSDetails.title"></p>
            <!-- default sub  text -->
            <p class="sub-text" ng-if="!screenCMSDetails.description">Reservation #:{{confirmationNumber}}</p>
            <!-- CMS sub  text -->
            <p class="sub-main-text" ng-if="screenCMSDetails.description" ng-bind-html="screenCMSDetails.description"></p>
        </div>
        <div class="horizontal-line-sep-mobile"></div>
        <!-- right side -->
        <div class="col-md-2">
            <div class="vertical-line">&nbsp;</div>
        </div>
        <div class="col-md-3 top-spacing sm-no-top-spacing">
            <p class="sub-main-text">{{responseData.delivery_message}}
            </p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>