<!-- main section starts here -->
<div class="container">
    <div class="row" ng-hide="isPosting">
        <div class="col-md-1"></div>
        <div class="col-md-4 top-spacing section-container">
            <!-- default main text -->
            <p class="main-text" ng-if="!screenCMSDetails.title">Early Check-in</p>
            <!-- CMS main text -->
            <p class="main-text final-text" ng-if="screenCMSDetails.title" ng-bind-html="screenCMSDetails.title"></p>
             <!-- default sub text -->
            <p class="sub-main-text" ng-if="!screenCMSDetails.description"> Thank You. A {{earlyCheckinCharge}} charge for <b>Early Check-in</b> has been added to your bill.</p>
            <!-- CMS sub  text -->
            <p class="sub-main-text" ng-if="screenCMSDetails.description" ng-bind-html="screenCMSDetails.description"></p>
        </div>
        <div class="col-md-2">
            <div class="vertical-line">&nbsp;</div>
        </div>
        <div class="col-md-4 top-spacing sm-no-top-spacing section-container">
            <a class="btn btn-template margin-top-10" ng-click="nextButtonClicked()">Continue</a>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>