<!-- contentarea starts here-->

<div class="jumbotron">

	<div class="container backgroundbg" >
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>

		<!-- show posting message
		<div ng-show="isFetching && !netWorkError" class="checkout-status centeralign checkout-now-status" >
		Your request is being processed, this may take a few seconds..... please wait!
		</div>

		show error message

		<div ng-show="netWorkError" class="checkout-status centeralign checkout-now-status">
		<div class="checkout-failure-text">Our apologies, something went wrong, please complete your check out at our front desk.</div>
		<div>You can also call the hotel at {{hotelPhone}}.</div>
		</div>

		-->

		<!-- contentarea starts here-->
		<div class="container" ng-hide="isFetching || netWorkError">
			<!-- top section starts here-->

			<div class="row">

				<div class="reservation-id centeralign">
					<span class="lightcontent">RESERVATION #324242</span>
				</div>
				<div class="col-md-6 headtext centeralign">

					Your trip details

				</div>
				<div class="col-md-6 date-container">
					<div class="row">
						<div class="col-xs-6 reservation-dates centeralign">

							<div class="lightcontent">
								ARRIVAL DATE
							</div>

							<div class="dateContent">
								Jan. 23,2014
							</div>

						</div>
						<div class="col-xs-6  reservation-dates centeralign">

							<div class="lightcontent">
								DEPARTURE DATE
							</div>
							<div class="dateContent">
								Jan. 23,2014
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- top section ends here-->

			<div class="col-md-6 ">

				<div class="col-xs-12 room-desc ">

					<div class="row">
						<div class=" reservation-dates">
							<div class="lightcontent">
								ROOM TYPE
							</div>
						</div>
						<div class="room_details">
							Standard King Room
						</div>

					</div>
					<div class="row">
						<div class=" reservation-dates">
							<div class="lightcontent">
								RATE
							</div>
						</div>
						<div class="room_details">
							Best Available Rate
						</div>

					</div>
					<div class="row">
						<div class=" reservation-dates ">
							<div class="lightcontent">
								AVERAGE RATE PER NIGHT
							</div>
						</div>
						<div class="room_details">
							$ 123
						</div>

					</div>

				</div>
				<div class="row now-later-options">
					<div class="col-xs-12 checkin ">
						<div class="rel-wrapper">
							<a href="#"></a>
							Check in
							<img src="/assets/img/checkin_icon.png" width="48" height="48" alt=""/>
						</div>
					</div>
				</div>
				<div class=" col-xs-12row">
					<div class=" reservation-dates ">
						<div class="lightcontent">
							ERRORS? <u>CALL US.</u>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- checkinbtn section ends here-->
	</div>

</div>