<div class="modal-content modal-vertical-centered">
<div class="centeralign cc-alert">
	    <div style="text-align:left;" class="cc-number-description">
			<p class="ccv-headings centeralign green-text"><p class="terms-main">To complete Check-in,</p><p class="terms-sub"> Please add and agree the following</p></p>
			<span>
				<description template="{{termsText}}">
				</description>
			</span>
		</div>

		<button type="button" ng-click="agreeClicked()" class="btn btn-close room-error-button room-error-green-button">I AGREE</button><br/><br/>
		<button type="button" ng-click="cancel()" class="btn btn-close room-error-button light-gray-bg">CANCEL TRANSACTION</button>
	</div>
</div>