/* StayNTouch Zest Station Styles | De Jonker Theme */

/* 1. COLORS
==========================================================*/
	@brandColor:			#f28c03;
	
	@textColor: 			@white;
	@backgroundColor: 		#00233b;
	
	@actionColor: 			@white;
	@actionBackground: 		@brandColor;
	
	@inputBackground: 		#707070;
	@inputColor:			@textColor;
	@transparentColor: 		rgba(0,0,0,.35);

/* 2. TYPOGRAPHY
==========================================================*/
	@fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* 3. IMAGES
==========================================================*/
	@background: 			@backgroundColor url("../css/themes/de-jonker/background.jpg") no-repeat center center;
	@backgroundSize: 		cover;

	@headerIconsColor: 		@black;
	@headerIconsActive:		@brandColor;

	.icons { 
		&.icon-create-key {
			fill: @white;
			stroke: @white;
		}

		&.icon-no-print { stroke: @white; }

		&.icon-oos {
			fill: @white;
		}

		&.icon-arrow-left,
        &.icon-arrow-right {
            fill: none;
            stroke: @white;
        }
	}

	.logo-svg{
		background-image: url("../css/themes/de-jonker/logo.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		background-position: center;
		height: 80%;
	}

/* 4. LAYOUT
==========================================================*/
	
	#de-jonker {

		#header {
			background-color: @white;
			height: 145px;
		}

		#main {
			background-color: fade(@backgroundColor, 50%);
		}

		#actions {
			&.pull-right {
				p {
					strong {
						font-size: 18px;
						font-weight: 400; 
					}
					color: @textColor;
				}
			}
		}
		 
		#logo {
			padding-top: 0;
			
			.logo {
				.size(auto, 115px);
			}
 		}

 		#options {
			.icons {
				fill: @white;
			}
		}

		#guests {
			.button {
				background-color: @black;
			}
		}
		
	}
	.add-guest-mode-content{
	    height: 85% !important;
	    margin-top: 50px;
	}
	.check_in_add_remove > .input-field-contents {
		height: 45% !important;
	}