<h4 translate><span>{{'ADD'| translate}}</span> Social Network</h4>
<ad-dropdown div-class='full-width' label-in-drop-down="{{ 'SELECT_SOCIAL_NETWORK' | translate }}" label="{{ 'SOCIAL_NETWORK' | translate }}" sel-class='placeholder' list="socialNetworks" required='yes' selected-Id='newSocialLinkData.type' options = "{'showOptionsIf': isLinkAvailable}"></ad-dropdown>
<ad-textbox inputtype="text" styleclass="full-width" value="newSocialLinkData.link" label="{{'SOCIAL_NETWORK_URL' | translate}}" placeholder="{{'ENTER_SOCIAL_NETWORK_URL' | translate}}" required="yes"></ad-textbox>
<div class="actions float">
    <button type="button" id="cancel" class="button blank" ng-click="onCancelAddLink()" translate>
        CANCEL
    </button>
    <button type="button" id="save" class="button green" ng-click="onPushNewLink()" translate>
        Add Link
    </button>
</div>