/* StayNTouch Zest Station Styles | Row NYC Theme */

/* 1. COLORS
==========================================================*/
	@brandColor:			#e128a0;
 
	
	@textColor: 			@white;
	@backgroundColor: 		@black;
	
	@actionColor: 			@white;
	@actionBackground: 		@brandColor;
	
	@inputBackground: 		#707070;
	@inputColor:			@textColor;
	@transparentColor: 		rgba(0,0,0,.35);

/* 2. TYPOGRAPHY
==========================================================*/
	@fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* 3. IMAGES
==========================================================*/
	@background: #000;
	@backgroundSize: 		cover;

	@headerIconsColor: 		@white;
	@headerIconsActive:		@brandColor;

	.icons { 
		&.icon-create-key {
			fill: @white;
			stroke: @white;
		}

		&.icon-no-print { stroke: @white; }

		&.icon-oos {
			fill: @white;
		}

		&.icon-arrow-left,
		&.icon-arrow-right {
			fill: none;
			stroke: @white;
		}
		&.hi-tech-demo-icon{
			height: 72% !important;
			width: 112.5% !important;
			margin: -120px !important;
		}
		&.hi-tech-demo-icon-purple{
			margin-left: -50% !important;
			margin-top: -40% !important;
			fill: @actionBackground !important;
			stroke: @actionBackground !important;
		}
	}
	.logo-svg{
		background-image: url("../css/themes/row-nyc/logo.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
		height: 133px;
		background-position: center;
		margin-top: 7.9%;
	}

/* 4. LAYOUT
==========================================================*/
	
	#row-nyc {

		#header {
			height: 133px;
		}

		#main {
			/*
			The change specified as global was moved here to avoid design breaks in the existing templates. 
			Originally it was present in app/assets/zest_station/css/less/layout.less.
			===Start===
			*/
			&.centered {
				#options {
					margin-top: 0;

				}
			}
			/*
			===End===
			*/
		}

		#actions {
			&.pull-right {
				p {
					strong {
						font-size: 18px;
						font-weight: 400; 
					}
					color: @textColor;
				}
			}
		}

		.button.transparent { 
			background-color: fade(@white, 40);
		}
		 
		#logo {
			.logo {
				.size(133px, auto);
			}
		}

		#options {
			.icons {
				fill: @white;
			}
		}

		#guests {
			.button {
				background-color: @black;
			}
		}

		.add-on-list,
		.add-on { 
			.button {
				&.transparent {
					background-color: fade(@black, 10);
				}
			}
		}
		
	}
	
	.add-guest-mode-content{
	    height: 87% !important;
	    margin-top: 50px;
	}
	.check_in_add_remove > .input-field-contents {
		height: 45% !important;
	}
