<!-- Add class .with-details to show the left details -->
<div id="guest-id" class="modal-content form guest-id with-details">
    <button id="modal-close" type="button" class="dark-title modal-close" ng-click='deleteModal()' style="z-index:100;"><span class="icons icon-close"></span></button>

    <div class="modal-header" style="position: relative;">
        <h2>
            {{guestIdData.first_name}}  {{guestIdData.last_name}}
        </h2>
        <em ng-show='guestIdData.isPrimaryGuest'>Primary Guest </em>
        <em ng-show='!guestIdData.isPrimaryGuest'>Accompanying Guest </em>
        <button type="button" class="button purple with-icon" ng-click="dowloadDocumnetDetails()">
            <span class="icons icon-save"></span>
            {{ 'DOWNLOAD' | translate }}
        </button>
    </div>

    <div class="modal-body">
        <div class="content-left">
            <ul class="details">
                <li>
                    <span translate>GUEST_FIRST_NAME</span>
                    {{guestIdData.first_name}} 
                </li>
                <li>
                    <span translate>GUEST_LAST_NAME</span>
                    {{guestIdData.last_name}} 
                </li>
                <li>
                    <span translate>DOB</span>
                    {{guestIdData.dob}} 
                </li>
                <li>
                    <span translate>NATIONALITY</span>
                    {{guestIdData.nationality}} 
                </li>
                <li>
                    <span translate>ID_NUMBER</span>
                    {{guestIdData.docID}} 
                </li>
                <li>
                    <span translate>ID_EXPIRY</span>
                    {{guestIdData.docExpiry}} 
                </li>
            </ul>
        </div>
        <div class="content-right">
            <h2 class="guest-id-title">Guest ID Scanned</h2>
            <p class="guest-id-desc">
                {{guestIdData.idType}} Scanned {{guestIdData.scanDate}}
                <!-- TODO apply filter for date/time format -->
            </p>
            <ul class="guest-id-switch">
                <li ng-click="guestIdData.displayMode = 'FRONT_SIDE'" ng-class="{'active':guestIdData.displayMode === 'FRONT_SIDE'}">Front</li>
                <li ng-click="guestIdData.displayMode = 'BACK_SIDE'" ng-class="{'active': guestIdData.displayMode === 'BACK_SIDE'}" ng-if='guestIdData.twoSidedDoc'>Back</li>
                <li ng-click="guestIdData.displayMode = 'SIGNATURE'" ng-class="{'active': guestIdData.displayMode === 'SIGNATURE'}">Signature</li>
            </ul>
            <div class='guest-id-img-div' ng-show="guestIdData.displayMode === 'FRONT_SIDE'">
                <img class='guest-id-img' data-ng-src="{{guestIdData.imgFrontSrc}}" alt="">
            </div>
            <div class='guest-id-img-div' ng-show="guestIdData.displayMode === 'BACK_SIDE'">
                <img class='guest-id-img' data-ng-src="{{guestIdData.imgBackSrc}}" alt="">
            </div>
            <div class='guest-id-img-div' ng-show="guestIdData.displayMode === 'SIGNATURE'">
                <img class='guest-id-img' data-ng-src="{{guestIdData.signature}}" alt="">
            </div>

            <!-- Add other image if front & back and remove .hidden when clicked on 'Back'
            <img class="hidden" src="{img}" alt=""> -->
            
            <!-- Closes the Modal -->
            <!-- <br><button class="modal-close button blank" ng-click='deleteModal()'>Close the Window</button> -->
        </div>
    </div>
</div>