
<div ng-include="'/assets/partials/common/header.html'"></div>
<!-- Search form -->
<form method="get" action="" name="work-management-search-form" id="work-management-search-form" class="search-form has-options" role="search">
    <div class="entry options">
        <div class="has-datepicker">
            <input id="rmDateRange" placeholder="{{stateVariables.viewingDate.date | date : 'dd MMMM yyyy'}}" readonly="" maxlength="8" value="{{currentFilterData.selected_date_range}}" class="hasDatepicker"  name="">
            <button ng-click="showCalendar('RVWorkManagementSearchDatePickerController')" type="button" class="ui-datepicker-trigger" style="top: 0px">...</button>
        </div>
    </div>
</form>

<!-- Work Management -->
<section id="work-management" class="content scrollable" role="main" ng-if="!stateVariables.searching && !stateVariables.noSearchResults">
    <div class="wrapper">
        <div class="dashboard-block data">
            <ul>
                <li>  &nbsp;  </li>
                <li>Total Hours</li>
                <li>Total Staff</li>
                <li>Total Rooms</li>
                <li>Assigned</li>
                <li>Completed</li>
            </ul>
        </div>
        <div class="dashboard-block data" ng-repeat="workType in workStats.work_types">
            <ul>
                <li>{{workType.name}}</li>
                <li>{{ getTotalForAllTasks(workType, 'total_hours') }}</li>
                <li>{{ getTotalForAllTasks(workType, 'total_maids_required') }}</li>
                <li>{{ getTotalForAllTasks(workType, 'total_rooms') }}</li>
                <li>{{ getTotalForAllTasks(workType, 'total_rooms_assigned') }}</li>
                <li>{{ getTotalForAllTasks(workType, 'total_rooms_completed') }}</li>
            </ul>
            <ul ng-repeat="task in workType.tasks">
                <li>{{ task.name}}</li>
                <li>{{ task.total_hours }}</li>
                <li>{{ task.total_maids_required }}</li>
                <li>{{ task.total_rooms }}</li>
                <li>{{ task.total_rooms_assigned }}</li>
                <li>{{ task.total_rooms_completed }}</li>
            </ul>
        </div>
        <div class="dashboard-block buttons">
            <ul class="actions">
                <li><a ui-sref="rover.workManagement.multiSheet({ date : stateVariables.viewingDate.date })" class="button blue">Manage Work Sheets</a></li>
                <!--<li><button ng-click="showCreateWorkSheetDialog()" class="button green open-modal">Create Work Sheet</button></li>-->
            </ul>
        </div>
    </div>
</section>