<!-- Worksheet content -->
<section id="worksheet-content" class="content" role="main">
    <div class="worksheet-error-msg" ng-include="'/assets/partials/common/notification_message.html'"></div>

    <!-- To append lone dragging item -->
    <ul class="worksheet-content for-lone-task"></ul>

    <!-- Worksheet header -->
    <section class="worksheet-header">
        <div class="entry date">
            <label for="worksheet-date" translate>DATE</label>
            <div class="entry-data" ng-click="showCalendar('RVWorkManagementMultiDatePickerController')">
                <input name="worksheet-date" id="worksheet-date" type="text" class="datepicker" value="{date}" readonly />
                <strong id="worksheet-date-day" class="day">{{multiSheetState.selectedDate | date : 'dd'}}</strong>
                <span id="worksheet-date-month" class="month">{{multiSheetState.selectedDate | date : 'MMMM'}}</span>
                <span id="worksheet-date-year" class="year">{{multiSheetState.selectedDate | date : 'yyyy'}}</span>
            </div>
        </div>
        <div class="entry employees">
            <label for="worksheet-employees" translate>EMPLOYEES</label>
            <!-- MOdified angular multi select template based on https://raw.githubusercontent.com/isteven/angular-multi-select/master/angular-multi-select.js, lines 71-106 -->
            <div multi-select custom-template="workmanagement" input-model="employeeList" button-label="maid_name" item-label="maid_name"  max-labels="0" on-item-click="selectEmployee()" on-open="onEmployeeListOpen(employeeList)" on-close="onEmployeeListClosed()" tick-property="ticked" disable-property="checkboxDisabled" scroller="multiSelectWorkSheet"></div>
        </div>
        <div class="entry task">
            <label for="work-type" translate>WORK TYPE</label>
            <div class="select">
                <select id="work-type"
                    ng-model="multiSheetState.header.work_type_id">
                    <!-- removed ng-change since we are $watch.ing it in ctrl
                    if the value chanages save the multisheet then change view -->
                    <option value="" selected >Show All Work Types</option>
                    <option ng-repeat="workType in workTypes" value="{{workType.id}}" ng-if="workType.is_active">{{workType.name}}</option>
                </select>
            </div>
        </div>
        <div class="entry actions">
            <div class="action">
                <label translate>PRINT</label>
                <button type="button" class="button blue with-icon only-icon"
                    ng-click="openPrintWorkSheetPopup()">
                    <span class="icons icon-print"></span>
                </button>
            </div>
            <div class="action">
                <label>Re-Set</label>
                <button type="button" class="button white with-icon only-icon"
                    ng-click="updateView()">
                    <span class="icons icon-reset"></span>
                </button>
            </div>
            <div class="action" ng-show="workSheetChanged"> <!-- Keep hidden until changes are mand -->
                <label translate>SAVE</label>
                <button type="button" class="button green with-icon only-icon"
                    ng-click="saveMultiSheet()">
                    <span class="icons icon-ok-20"></span>
                </button>
            </div>
        </div>
    </section>

    <!-- Unassigned rooms -->
    <section id="unassigned-rooms">
        <h2 translate>UNASSIGNED</h2>
        <button type="button" class="button white with-icon only-icon"
                ng-click="showFilter()">
            <span class="icons icon-filter"></span>
           {{'FILTER_ROOMS' | translate}}
        </button>
        <!-- Vertical scroll here -->
        <div id="worksheet-unassigned" class="worksheet-content scrollable"
            ng-iscroll="unAssignedRoomList"
            data-drop="true"
            jqyoui-droppable="{multiple:true, onDrop:'dropToUnassign(event, dropped)'}"
            data-jqyoui-options="{accept: '#assigned-rooms .worksheet-task'}">
            <div class="wrapper">
                <ul class="worksheet-room sortable" ng-repeat="(roomIndex, room) in multiSheetState.unassignedFiltered" ng-hide="!room.show">
                    <li class="worksheet-task multi-sheet unassigned"
                        iscroll-stop-propagation
                        ng-repeat="task in room.room_tasks"
                        ng-if="!(multiSheetState.header.work_type_id && task.work_type_id != multiSheetState.header.work_type_id)"
                        id="unassigned-UA-{{ roomIndex }}-{{ $index }}"
                        data-drag = "{{multiSheetState.dndEnabled}}"
                        jqyoui-draggable ="{index: {{$index}}, animate:false, onStart:'dragStart()', onStop:'dragDrop()', onDrag:'userDragging()'}"
                        data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo:'#worksheet-content .for-lone-task'}">
                        <div class="info">
                            <!-- To Do: Improve this logic/move to controller -->
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Due out'">DUE OUT</span>
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived / Day use / Due out'">DUE OUT</span>
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived / Day use / Due out / Departed'">DEPARTED</span>
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Due out / Arrival'">DUE OUT</span>
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Due out / Departed'">DEPARTED</span>
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived / Departed'">DEPARTED</span>
                            <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Departed'">OUT</span>
                            <span class="guest blue" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Stayover'">STAYOVER</span>
                            <span class="guest green" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrival'">ARRIVAL</span>
                            <span class="guest green" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived'">IN</span>
                            <span class="guest grey" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Not Reserved'">UNASSIGNED</span>
                            <!-- Grey for unassigned or not reserved, red for out or checkout time, blue for stayover -->
                            <span class="room" ng-class="{
                                            'red': multiSheetState.allRooms[room.room_index].current_status == 'DIRTY',
                                            'orange': multiSheetState.allRooms[room.room_index].current_status == 'PICKUP',
                                            'green' : multiSheetState.allRooms[room.room_index].current_status == 'CLEAN' ||
                                             multiSheetState.allRooms[room.room_index].current_status == 'INSPECTED'}">
                            {{multiSheetState.allRooms[room.room_index].current_status}}</span>
                            <!-- Red for dirty, orange for pickup, green for clean or inspected -->
                        </div>
                        <h3>
                            <span class="icons icon-suite" ng-if="multiSheetState.allRooms[room.room_index].is_suite">Suite room</span>
                            {{task.room_no}}
                        </h3>
                        <span class="task">{{task.task_name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Assigned rooms - 0 employees selected-->
    <section id="assigned-rooms" class="no-content" ng-if="multiSheetState.selectedEmployees.length === 0">
        <div class="info">
            <span class="icon-no-content icon-housekeeping"></span>
            <strong class="h1" translate>NO_EMPLOYEES_SELECTED</strong>
            <span class="h2" translate>SELECT_EMPLOYEES_TO_ASSIGN</span>
        </div>
    </section>

    <!-- Assigned rooms - Employees selected-->
    <section id="assigned-rooms" class="scrollable"
        ng-if="multiSheetState.selectedEmployees.length > 0"
        ng-iscroll="worksheetHorizontal"> <!-- Horizontal scroll here -->
        <div class="wrapper" style="width: {{getWidthForWorkSheetContent()}};">
            <div class="employee"
                ng-repeat="(empIndex, employee) in multiSheetState.selectedEmployees">
                <div class="totals">
                    <h2><!--{First letter of First Name}.{Last Name} //TODO-->
                        {{employee.display_name}}
                    </h2>
                    <ul>
                        <li>
                            <!-- Add class 'red' if longer then shift length -->
                            <span class="value"
                                    ng-class="{ 'red': multiSheetState.summary[employee.id].timeAllocated > multiSheetState.summary[employee.id].shiftLength
                                    }">
                                {{ multiSheetState.summary[employee.id].timeAllocated }}
                            </span>
                            <span class="total">
                                {{ multiSheetState.summary[employee.id].shiftLength }}
                            </span>
                        </li>
                        <li>
                            <span class="value">
                                {{ multiSheetState.summary[employee.id].tasksCompleted }}
                            </span>
                            <span class="total">
                                {{ multiSheetState.summary[employee.id].tasksAssigned }}
                            </span>
                        </li>
                    </ul>
                </div>
                <div id="{{ empIndex }}-{{ employee.id }}" class="worksheet-content scrollable"
                    data-drop="true"
                    jqyoui-droppable="{multiple:true, onDrop:'dropToAssign(event, dropped)'}"
                    data-jqyoui-options="{accept: '#assigned-rooms .worksheet-task, #unassigned-rooms .worksheet-task'}"
                    ng-iscroll="assignedRoomList-{{$index}}"> <!-- Vertical scroll here -->
                    <div class="wrapper">
                        <ul class="worksheet-room"
                            ng-repeat="(roomIndex, room) in employee.rooms">
                            <li class="worksheet-task"
                                id="assigned-{{ empIndex }}-{{ roomIndex }}-{{ $index }}"
                                iscroll-stop-propagation
                                ng-repeat="task in room.room_tasks"
                                ng-if="!(multiSheetState.header.work_type_id && task.work_type_id != multiSheetState.header.work_type_id)"
                                ng-class="{ 'completed-task': task.is_completed}"
                                data-drag = "{{multiSheetState.dndEnabled}}"
                                jqyoui-draggable ="{index: {{$index}}, animate:false, onStart:'dragStart()', onStop:'dragDrop()', onDrag:'userDragging()' }"
                                data-jqyoui-options="{revert: 'invalid', helper:'clone', appendTo:'#worksheet-content .for-lone-task', cancel: '.completed-task'}"
                                emit-when="{event: 'ALL_RENDER_COMPLETE', condition: ($parent.$parent.$last && $parent.$last && $last)}">
                                <div class="info">
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Due out'">DUE OUT</span>
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived / Day use / Due out'">DUE OUT</span>
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived / Day use / Due out / Departed'">DEPARTED</span>
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Due out / Arrival'">DUE OUT</span>
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Due out / Departed'">DEPARTED</span>
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived / Departed'">DEPARTED</span>
                                    <span class="guest red" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Departed'">OUT</span>
                                    <span class="guest blue" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Stayover'">STAYOVER</span>
                                    <span class="guest green" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrival'">ARRIVAL</span>
                                    <span class="guest green" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Arrived'">IN</span>
                                    <span class="guest grey" ng-if="multiSheetState.allRooms[room.room_index].reservation_status == 'Not Reserved'">UNASSIGNED</span>
                                    <!-- Grey for unassigned or not reserved, red for out or checkout time, blue for stayover -->
                                    <span class="room" ng-class="{
                                                    'red': multiSheetState.allRooms[room.room_index].current_status == 'DIRTY',
                                                    'orange': multiSheetState.allRooms[room.room_index].current_status == 'PICKUP',
                                                    'green' : multiSheetState.allRooms[room.room_index].current_status == 'CLEAN' ||
                                                     multiSheetState.allRooms[room.room_index].current_status == 'INSPECTED'}">
                                    {{multiSheetState.allRooms[room.room_index].current_status}}</span>
                                    <!-- Red for dirty, orange for pickup, green for clean or inspected -->

                                    <span ng-class="getReservationStatusClass(multiSheetState.allRooms[room.room_index])"
                                        ng-bind="getReservationStatusValue(multiSheetState.allRooms[room.room_index])"></span>

                                    <span ng-class="getCurrentStatusClass(multiSheetState.allRooms[room.room_index])">
                                        {{ multiSheetState.allRooms[room.room_index] }}
                                    </span>
                                </div>
                                <h3>
                                    <span class="icons icon-suite" ng-if="multiSheetState.allRooms[room.room_index].is_suite">Suite room</span>
                                    {{task.room_no}}
                                </h3>
                                <span class="task">{{task.task_name}}</span>
                                <!-- If task is completed, IT SHOULD BE LOCKED AND USER SHOULD NOT BE ABLE TO MOVE IT. Also, add:-->
                                <span class="icons icon-ok-10" ng-show="task.is_completed"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>