<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click='clearErrorMessage()'>
    <div class="inline-edit">
        <header class="content-title float">
            <h2 translate> LANGUAGES </h2>
            <a ng-click="goBackToPreviousState()" class="action back" translate>BACK</a>
            <ad-toggle-button is-checked="languageData.use_languages" ng-click="toggleLanguagesUse()" div-class="header-title" ><!--label="{{'USE_LANGUAGES'| translate}}">-->
            </ad-toggle-button>
        </header>
        <section class="content-scroll">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <table id="languages" class="grid datatable dataTable" ng-table="itemList">
                <tbody>
                    <tr ng-repeat="language in languageData.languages track by $index">
                        <td data-item="1" data-title="'Name'" header-class="width-50">
                            {{language.name}}
                        </td>
                        <td data-item="2" data-title="'Status'" class="" header-class="width-10">
                            <div class="entry">
                                <div class="switch-button single" ng-class="{ on: language.is_active }">
                                    <input type="checkbox" ng-click="onToggleActivation(language)">
                                    <span class="switch-icon"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>
