<div class="data-holder">
	<form room_type_id="1" id="edit-room-type" class="form inline-form float">
		<div class="form-title">
			<h3 ng-show="!isAddMode"><span translate>EDIT</span> {{floorData.floortitle}} </h3>
			<h3 ng-show="isAddMode"><span translate>ADD</span> </h3>
			<em class="status"> <span translate>MANDATORY_FIELDS_MESSAGE1</span> <strong>*</strong> <span translate>MANDATORY_FIELDS_MESSAGE2</span> </em>
		</div>
		
		<fieldset class="holder left float">
			
			<ad-textbox value="floorData.floor_number" name = "floor-number" id = "floor-number" label = "Number" placeholder = "Enter Floor No" required = "yes" maxlength=10></ad-textbox>

			<!-- <ad-dropdown div-class='full-width' label-in-drop-down="{{ 'SELECT_FLOOR' | translate }}"label="{{ 'FLOOR_NO' | translate }}" sel-class='placeholder'  list='floors' required='yes' selected-Id='floorListData.floor_number'></ad-dropdown> -->
			
		</fieldset>
		<fieldset class="holder right float">
			
            <ad-textbox styleclass="full-width" value="floorData.description" name = "room-type-name" id = "room-type-name" label = "{{ 'DESCRIPTION' | translate }}" placeholder = "Enter Description" ></ad-textbox>
		</fieldset> 

		<div class="form-title">
			<h3>
				<span translate>FLOOR</span>
				Rooms
			</h3>
			<em class="status"> <span translate>ASSIGN_ROOMS_TO_THIS_FLOOR</span></em>
		</div>
		
		<fieldset class="holder left">	
			<div class="entry full-width has-sortable" style="width: auto;">
				<h3 class="center_align" translate>
					UNASSIGNED_ROOMS
				</h3>	
				<div>
				<ad-textbox  value="floorData.searchKey" name = "searchKey" id = "searchKey" placeholder = "Search by number or range" ></ad-textbox>
			    <button type="button" id="search" ng-click="searchInUnassignedRooms()" translate>
				SEARCH
			    </button>
			    </div>		
				<ul class="boxes col3 short-list sortable ui-sortable" 
					
					data-drop="true" 
					style="overflow-y: scroll !important;" 

					jqyoui-droppable="{multiple:true}" 
					data-jqyoui-options="{accept:'.assigned-rooms'}" ng-model="unassignedRooms">
					<div ng-show="!isShowMode">
                    Find Rooms<br>
                    Search by number or range, eg:"10" or "40-60"<br>
                    Search by multiple numbers or ranges, eg:"20,40-60"<br>
                    <button type="button" id="showAllUnAssignedRooms" class="" ng-click="showAllUnassignedRooms()" translate>
				    SHOW ALL UNASSIGNED ROOMS
			        </button>
			        </div>
					<li class="non-assigned-room" 
						ng-repeat="room in unassignedRooms"

						data-drag = "true"
						jqyoui-draggable ="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }"

						ng-model="unassignedRooms"
						data-jqyoui-options="{revert: 'invalid', helper:'clone'}" 

						ng-click = "unAssignedRoomSelected($index)"
						ng-class = '{selected: selectedUnAssignedRoomIndex === $index}'>

						{{room.room_number}}

						<span class="icons icon-handle"></span>
					</li>
					<button type="button" id="selectAll" class="" ng-click="selectAllUnassignedRooms()" ng-show="unassignedRooms.length"translate>
				    SELECT ALL
			        </button>
			        <button type="button" id="assignSelected" class="" ng-click="assignSelected()" ng-show="selectedUnassignedRooms.length > 1" translate>
				    ASSIGN SELECTED
			        </button>		
				</ul>
			</div>
			
		</fieldset>	

		<fieldset class="holder right">		
			<div class="entry full-width has-sortable" style="width: auto;">
				<h3 class="center_align" translate>
					ASSIGNED_ROOMS
				</h3>
					
				<ul class="boxes col3 short-list sortable ui-sortable" 					
					
					data-drop="true" 
					style="overflow-y: scroll !important;" 

					jqyoui-droppable="{multiple:true}" 
					data-jqyoui-options="{accept:'.non-assigned-room'}"  ng-model="assignedRooms">

					<li class="assigned-rooms" 
						ng-repeat="room in assignedRooms"

						data-drag = "true"
						jqyoui-draggable ="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }"

						data-jqyoui-options="{revert: 'invalid', helper:'clone'}" 
						ng-model="assignedRooms"
						ng-click = "assignedRoomSelected($event, $index)"
						ng-class = '{selected: selectedUnAssignedRoomIndex === $index}'>

						{{room.room_number}}

						<span class="icons icon-handle"></span>
					</li>
					<button type="button" id="selectAllAssignedRooms" class="" ng-click="selectAllAssignedRooms()" ng-show="assignedRooms.length"translate>
				    SELECT ALL
			        </button>
			        <button type="button" id="unAssignSelected" class="" ng-click="unAssignSelected()" ng-show="selectedAssignedRooms.length > 1" translate>
				    UNASSIGN SELECTED
			        </button>				
				</ul>
			</div>
			
		</fieldset>	
		<div class="actions float">
			<button type="button" id="cancel" class="button blank add-data-inline" ng-click="clickCancel()" translate>
				CANCEL
			</button>
			<button type="button" like-type="common" id="update" ng-class="{ 'green' : validate() }" class="button  ng-binding" ng-disabled="!validate()" ng-click="saveFloor()" translate>
				SAVE_CHANGES
			</button>
		</div>
	</form>
</div>