<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click='clearErrorMessage()'>
	<header class="content-title">
		<h2 translate> FLOORS </h2>
		<span class="count"> ({{data.floors.length}}) </span>
		<a class="action add" ng-click="gotoAddFloor()"  ng-show="stateVariables.activeTab === 'MANAGE'" translate>ADD_NEW</a>
		<div class="actions float pull-right">
			<button type="button" class="button add-data-inline toggle-tab" ng-click="toggleAssignFloors()" 
				ng-class="{'orange' : stateVariables.activeTab === 'MANAGE', 'white' : stateVariables.activeTab !== 'MANAGE'}">
				MANAGE FLOORS
			</button>
			<button type="button" class="button add-data-inline toggle-tab" ng-click="toggleAssignFloors()" 
				ng-class="{'orange' : stateVariables.activeTab === 'ASSIGN', 'white' : stateVariables.activeTab !== 'ASSIGN'}">
				MANAGE ROOMS
			</button>
		</div>
	</header>
	<!-- Manage Floors Section -->
	<section class="content-scroll" ng-if="stateVariables.activeTab === 'MANAGE'">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>		
		<table class="grid datatable" ng-table="tableParams" template-pagination="" 
		ng-show="showTableDetails">

			<tbody> 
				<tr ng-repeat="floor in $data"> 
					<td ng-click="gotoEditFloor(floor.id)" sortable="'floor_number'" data-title="'Floor No'">
						<a  class="edit-data-inline" ng-click="gotoEditFloor(floor.id)">
							{{floor.floor_number}} 
						</a>						
					</td>

					<td ng-click="gotoEditFloor(floor.id)" sortable="'description'" data-title="'Floor Description'">
						<a class="edit-data-inline">{{floor.description}} </a>
					</td>

					<td class="delete" header-class="delete" data-title="'DELETE'" >
						<span ng-click="deleteFloor($index)" class="icons icon-delete large-icon floor_delete">&nbsp;</span>
					</td>
				</tr>
			<!--</tbody> -->
		</table>
	</section>
	<!-- Assign Rooms Section -->
	<section ng-include="'/assets/partials/floorSetups/adAssignRooms.html'"></section>
</section>