<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click='clearErrorMessage()'>
	<header class="content-title">
		<h2 translate> FLOORS </h2>
		<span class="count"> ({{data.floors.length}}) </span>
		<a class="action add" ng-click="gotoAddFloor()"  translate>ADD_NEW</a>
		<div class="actions float pull-right">
			<button type="button" class="button add-data-inline ng-scope" ng-click="toggleAssignFloors()" 
				ng-class="{'orange' : stateVariables.activeTab === 'MANAGE', 'white' : stateVariables.activeTab !== 'MANAGE'}">
				MANAGE FLOORS
			</button>
			<button type="button" class="button add-data-inline ng-scope" ng-click="toggleAssignFloors()" 
				ng-class="{'orange' : stateVariables.activeTab === 'ASSIGN', 'white' : stateVariables.activeTab !== 'ASSIGN'}">
				ASSIGN ROOMS
			</button>
		</div>
	</header>
	<!-- Manage Floors Section -->
	<section class="content-scroll" ng-if="stateVariables.activeTab === 'MANAGE'">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>		
		<table class="grid datatable" ng-table="tableParams" template-pagination="" 
		ng-show="showTableDetails">

			<tbody> 
				<tr ng-repeat="floor in $data"> 
					<td ng-click="gotoEditFloor(floor.id)" sortable="'floor_number'" data-title="'Floor No'">
						<a  class="edit-data-inline" ng-click="gotoEditFloor(floor.id)">
							{{floor.floor_number}} 
						</a>						
					</td>

					<td ng-click="gotoEditFloor(floor.id)" sortable="'description'" data-title="'Floor Description'">
						<a class="edit-data-inline">{{floor.description}} </a>
					</td>

					<td class="delete" header-class="delete" data-title="'DELETE'" >
						<span ng-click="deleteFloor($index)" class="icons icon-delete large-icon floor_delete">&nbsp;</span>
					</td>
				</tr>
			<!--</tbody> -->
		</table>
	</section>
	<!-- Assign Rooms Section -->
	<section class="content-scroll" ng-if="stateVariables.activeTab === 'ASSIGN'" ng-controller="ADAssignRoomsCtrl">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		      <!-- Roles permissions navigation -->
        <div id="permissions" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all" data-tabs="details-tabs">
            <div class="entry has-sortable locked">
	            <ul id="roles-menu" class="float ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist" ng-model='UserRoles'>
	                <li ng-repeat="floor in floorsList" ng-click="selectFloor($index)" ng-class="{'ui-tabs-active': roomAssignment.selectedFloorIndex === $index }">
	                	<a class="ui-tabs-anchor" role="presentation"> 
	                		FLOOR {{floor.floor_number}}
	                	</a>
	                </li>                           
	            </ul>
            </div>
            <form class="form float ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
            	<section ng-include="'/assets/partials/floorSetups/adAssignRooms.html'"></section>
            </form>
        </div>
	</section>
</section>