<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title">
        <h2 ng-show="!isAddMode">Edit Floor <span>{{floorData.floor_number_old}}</span></h2>
        <h2 ng-show="isAddMode">New Floor</h2>
        <a ng-click="back()" class="action back">Back to Floors</a>
        <button ng-show="!isAddMode" type="button" class="action remove" ng-click="deleteFloor()">
            Delete Floor
        </button>
    </header>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <form id="{{getFormIdForMe()}}" name="{{getFormNameForMe()}}" class="form">
            <fieldset class="holder full-width">
                <div class="form-title">
                    <h3 ng-show="!isAddMode"><span translate>EDIT</span> details </h3>
                    <h3 ng-show="isAddMode"><span translate>Floor</span> Details</h3>
                    <em class="status"> <span translate>MANDATORY_FIELDS_MESSAGE1</span> <strong>*</strong> <span translate>MANDATORY_FIELDS_MESSAGE2</span> </em>
                </div>
                <ad-textbox value="floorData.floor_number" name="floor-number" id="floor-number" label="Number" placeholder="Enter Floor No" required="yes" maxlength=10 styleclass="margin"></ad-textbox>
                <ad-textbox value="floorData.description" name="room-type-name" id="room-type-name" label="{{ 'DESCRIPTION' | translate }}" placeholder="Enter Description"></ad-textbox>
            </fieldset>
            <div class="actions ">
                <button type="button" id="cancel" class="button blank" ng-click="clickCancel()" translate>
                    CANCEL
                </button>
                <button type="button" like-type="common" id="update" class="button " ng-click="saveFloor()" ng-disabled="shouldDisableSaveButton()" ng-class="{'green': !shouldDisableSaveButton(), 'grey': shouldDisableSaveButton()}" translate>
                    SAVE_CHANGES
                </button>
            </div>
        </form>
    </section>
</div>
