<ad-common-parts-in-form-dir on-save-button-click="saveInterfaceConfig"
                             header-caption="{{'DUETTO_SETUP_HEADER'|translate}}">

    <div class="entry full-width">
        <label><span translate>ACTIVATE_INACTIVATE</span></label>
        <div name="active-inactive-toggle" class="switch-button single" ng-class="{ on: config.enabled }"
             ng-click="toggleEnabled()">
            <input type="checkbox">
            <span class="switch-icon"></span>
        </div>
    </div>

    <ad-sync-block ng-if="config.enabled"
                   interface="{{interface}}"
                   config="config">
    </ad-sync-block>

    <div class="form-title full-width">
        <h3><span translate>DUETTO_SUB_TITLE</span></h3>
    </div>

    <fieldset class="holder left">
        <ad-textbox inputtype="text"
                    value="config.hotel_code"
                    label="{{'HOTEL_CODE'| translate}}"
                    styleclass="full-width"></ad-textbox>
        <ad-textbox inputtype="text"
                    value="config.end_point"
                    label="{{'END_POINT'| translate}}"
                    styleclass="full-width"></ad-textbox>
    </fieldset>

    <fieldset class="holder right">
        <ad-textbox inputtype="text" value="config.user_name"
                    label="{{'USER_NAME'| translate}}"
                    styleclass="full-width"></ad-textbox>
        <ad-textbox inputtype="password"
                    value="config.password"
                    label="{{'PASSWORD'| translate}}"
                    styleclass="full-width"></ad-textbox>
    </fieldset>

    <div class="form-title full-width">
        <h3><span translate>DUETTO_EXPORT_CONFIG</span></h3>
    </div>

    <fieldset class="holder left">
        <ad-textbox inputtype="text"
                    value="config.data_set_id"
                    label="{{'DATA_SET_ID'| translate}}"
                    styleclass="full-width"></ad-textbox>
        <ad-dropdown-name savemodel="config.default_rate_code"
                          valueproperty="id"
                          property="name"
                          list="rates"
                          label="{{'DEFAULT_RATE'| translate}}"
                          div-class="full-width">
        </ad-dropdown-name>
    </fieldset>

    <fieldset class="holder right">
        <div class="entry full-width">
            Feature Settings <ad-textarea rows="5"
                         div-class="full-width"
                         text-area-class="full-width"
                         value="config.emails"
                         label="{{ 'EMAIL_ACCOUNTS_SEPERATED_BY_SEMICOLON' | translate}}"
                         placeholder="">
            </ad-textarea>
        </div>
    </fieldset>
    <fieldset class="holder full-width">
        <div class="form-title">
            <h3>Feature Settings</h3>
        </div>
        <fieldset class="holder left">
            <ad-toggle-button is-checked="config.stay_info_after_checkout"
                              label="{{'STAY_INFO_AFTER_CHECKOUT'| translate}}"></ad-toggle-button>
        </fieldset>
        <fieldset class="holder">
            <ad-toggle-button is-checked="config.routed_charges"
                              label="{{'CRM_ROUTE_CHARGES_LABEL'| translate}}"></ad-toggle-button>
            <p class="holder full-width"><em>{{'CRM_ROUTE_CHARGES_DESCRIPTION'| translate}}</em></p>
        </fieldset>
        <fieldset class="holder left">
            <div class="entry full-width">
                <label>STAY INFO REVENUE</label>
                <div class="switch-container">
                    <div class="switch-button with-text"
                         ng-class="{'on' : config.send_detailed_revenue}">
                        <input type="checkbox" ng-model="config.send_detailed_revenue"/>
                        <label class="data-off">
                            <span class="button orange">GROUPED</span>
                            <span class="value">DETAILED</span>
                        </label>
                        <label class="data-on">
                            <span class="value">GROUPED</span>
                            <span class="button orange">DETAILED</span>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

    </fieldset>
</ad-common-parts-in-form-dir>

