<!-- navbar -->
<div class="container-fluid padding-0">
    <div class="row header-bar">
        <img alt="" class="logo-image" src="{{hotelLogo}}" />
    </div>
</div>
<!-- main section starts here -->
<div class="container">
    <!-- request text -->
    <div class="row" ng-show="isLoading">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="request-text">Your request is being processed. This may take a few seconds..... please wait!</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row" ng-show="paymentSuccess">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="main-text">Payment Success!</p>
            <p class="sub-main-text">The payment was successfully paid.</p>
            <a class="btn btn-template early-checkin-button margin-top-20" ng-click="goToNextPage()"> Continue</a>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <!-- cc entry -->
    <div class="row" ng-hide="isLoading ||  paymentSuccess">
        <div class="col-md-4"></div>
        <!-- PAYMENT_MODE -->
        <div class="col-md-4 top-spacing" ng-show="mode === 'PAYMENT_MODE'">
            <p class="main-text">Payment</p>
            <!-- end ngIf: isPrecheckinOnly -->
            <p class="sub-main-text">You owe a balance of {{currencySymbol}}{{outStandingBalance}}. Select your payment method.</p>
            <p class="sub-main-text error-notification margin-top-20" ng-show="paymentError">There was a problem making the payment.</p>
            <!-- starts here -->
            <div class="section-container margin-top-20">
                <div class="cc-details-container margin-top-20" ng-show="cardPresent">
                    <div class="cc-image-container">
                        <div class="orange customcb">
                            <input type="checkbox" value="1" id="customcb2" name="" checked/>
                            <label class="inner" for="customcb2"></label>
                            <label class="outer" for="customcb2"></label>
                        </div>
                        <img src="/assets/guestweb/common_images/{{paymentMethodDetails.payment_details.card_type_image}}" />
                    </div>
                    <div class="cc-texts-container">
                        <p>****{{paymentMethodDetails.payment_details.card_number}}</p>
                        <p>{{paymentMethodDetails.payment_details.card_name}}</p>
                        <p>Expires {{paymentMethodDetails.payment_details.card_expiry}}</p>
                    </div>
                </div>
                <br/>
                <div class="change-card-container" ng-click="changeCard()">
                    <div class="change-card-text" ng-show="cardPresent">
                        <p>Change Credit card</p>
                    </div>
                    <div class="change-card-text" ng-hide="cardPresent">
                        <p>Add Credit card</p>
                    </div>
                    <div class="change-card-img">
                        <img src="/assets/guestweb/common_images/black/right_arrow.png" />
                    </div>
                </div>
                <!-- button actions -->
                <a class="btn btn-template early-checkin-button margin-top-80" ng-click="payBalance()" ng-show="cardPresent"> Pay Balance</a>
            </div>
        </div>
        <!-- Card entry mode -->
        <div class="col-md-4 top-spacing" ng-show="mode === 'CC_ENTRY_MODE'">
            <div class="section-container cc-entry-container">
                <div class="row">
                    <p class="main-text">Add credit Card</p>
                    <p class="sub-main-text error-notification" ng-show="cardError">There was a problem with your card.</p>
                    <p class="sub-main-text error-notification" ng-show="cardNotFilledError">Please enter all the required information.</p>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <!-- card number -->
                    <div>
                        <span class="sub-text upper-case pull-left">card number</span>
                        <br>
                        <input class="input-field" ng-model="cardNumber"></input>
                    </div>
                </div>
                <div class="row">
                    <!-- month -->
                    <div class="drop-down-container pull-left">
                        <span class="sub-text upper-case pull-left">Expires (Month/Year)</span>
                        <br>
                        <br>
                        <div class="select-style">
                            <select class="margin-top-10" ng-model="monthSelected" ng-options="month.value as month.name for month in months">
                                <option value="">Month</option>
                            </select>
                        </div>
                    </div>
                    <!-- year -->
                    <div class="drop-down-container pull-right">
                        <span class="sub-text upper-case  pull-left">&nbsp;&nbsp;</span>
                        <br>
                        <br>
                        <div class="select-style left-margin-5">
                            <select class="margin-top-10" ng-model="yearSelected" ng-options="year as year  for year in years">
                                <option value="">Year</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- card number -->
                    <div>
                        <span class="sub-text upper-case pull-left">Name on card</span>
                        <br>
                        <input class="input-field" ng-model="cardName"></input>
                    </div>
                </div>
                <!-- cvv -->
                <div class="row">
                    <div class="cvv-input-field">
                        <span class="sub-text pull-left">CCV</span>
                        <br>
                        <input class="input-field" ng-model="ccv"></input>
                    </div>
                </div>
            </div>
            <!-- save payment button  -->
            <a class="btn btn-template early-checkin-button margin-top-20" ng-click="saveCard()"> Continue</a>
            <a class="btn btn-template early-checkin-button margin-top-10 grey-btn" ng-click="cancelCardEntry()"> Cancel</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>