<section id="replacing-div-first" class="content current">
	<div data-view="RateTypeListView">
		<header class="content-title float">
			<h2> Rate Types </h2>
			<span class="count"> ({{data.rate_types.length}})</span>
			<a id="add-new-button" class="action add" ng-click="addNew()">Add new</a>
		</header>

		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<div id="new-form-holder" ng-show="currentClickedElement == 'new'" ng-include="'/assets/partials/rate_types/adRateTypeAdd.html'"></div>

		<div id="new-form-holder"></div>

		<table id="rate-types" class="grid">

			<tbody ng-repeat = "ratetype in data.rate_types">

				<tr data-rate-type-id="{{ratetype.id}}">

					<td ng-show="ratetype.system_defined ===true"><strong>{{ratetype.name}}</strong><em>(System defined)</em></td>

					<td ng-hide="ratetype.system_defined ===true || currentClickedElement == $index" ng-click = "editRateTypes($index,ratetype.id)"><a class="edit-data-inline">{{ratetype.name}}</a></td>

					<td ng-hide="currentClickedElement == $index"><em>{{ratetype.rate_count}} rates</em></td>
					<td class="delete"  ng-hide="currentClickedElement ==$index"><a ng-hide="ratetype.system_defined ===true" id="3" ng-click="deleteRateType($index,ratetype.id)" class="icons icon-delete large-icon delete_item"  ></a></td>

					<td class="activate" ng-hide="currentClickedElement == $index" >
					<div class="entry" >
						<label ></label>
						<div class="switch-button single"  ng-class="{ on : ratetype.activated == 'true' }" ng-click="toggleClicked($index)">
							<input type="checkbox" is_system_defined="ratetype.system_defined"  value="" name="" id="">
							<span class="switch-icon"></span>

						</div>
					</div></td>

					<td colspan="4" ng-include="getTemplateUrl($index,ratetype.id)"></td>

				</tr>

			</tbody>
		</table>
	</div>
</section>