<section class="" >
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <form user="2" id="edit-user" class="form float">
            <fieldset class="holder full-width">
                    <div class="form-title" style="padding-bottom: 5px;">
                        <h3><span>Add</span> Rate </h3>
                        <select ng-change="selectRate(selectedRate)" style="width:inherit; background-color:#F8F8F8;" ng-class="{'inactive':selectedRate.placeholder === true}" ng-model="selectedRate" ng-options="rate.name for rate in rateData"></select>
                    </div>
                    <div class="entry has-sortable">
                            <label>Included Room Types</label>
                            <ul id="assigned-roles" 
                            data-placeholder="Drop a role here to assign it to the user"

                            data-jqyoui-options="{accept:'.unassigned-user-roles'}"

                            class="boxes sortable empty short-list" data-drop="true" 
                            ng-model='selectedIncludedRoomType' 

                            jqyoui-droppable="{multiple:true, onOver: 'droppedSelectedRoomType'}" 

                            data-type="target">

                                    <li ng-repeat="type in includedRoomTypes track by $index" 
                                    class="assigned-user-roles li-draggable"

                                    data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}"
                                    ng-model="includedRoomTypeSelected" 

                                    jqyoui-draggable="{index: {{$index}}, placeholder:false, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem'}" 
                                    ng-hide="!type.name" 

                                    ng-class="{selected: selectedIncludedRoomTypeIndex == $index, justDropped: justDropped == $index}" 

                                    ng-click="selectIncludedRoomType(type, $event, $index)">

                                            <span class="icons icon-handle"></span>
                                            <span class="icons icon-handle"></span>
                                            {{type.name}}
                                    </li>
                                    <span class="placeholder ui-state-disabled"  ng-show="includedRoomTypes.length == 0">Drop a room type here to include changes</span>
                            </ul>
                    </div>


                    <div class="entry movers">
                        <span data-type="target" class="icons icon-mover-right to-target" ng-click="leftToRight()" ng-class="{'active': selectedIncludedRoomTypeIndex != -1}">Add Rate </span>
                        <span data-type="source" class="icons icon-mover-left to-source" ng-click="rightToLeft()" ng-class="{'active': selectedExcludedRoomTypeIndex != -1}">Remove Rate</span>

                        <span class='move-all-icons'>
                                <div class="green_gradient icons">
                                        <span class="to-source green_mover icons_rates" data-type="source" ng-click="moveAllRight()"></span>
                                </div>
                                <div class="red_gradient icons">
                                        <span class="to-target  red_mover icons_rates" data-type="target" ng-click="moveAllLeft()"></span>
                                </div>

                        </span>
                    </div>




                    <div class="entry has-sortable" >
                            <label>Excluded Room Types</label>
                            <ul data-placeholder="To remove a role for the user simply drop it here" 

                            class="boxes sortable short-list"
                            data-drop="true" ng-model='excludedRoomTypes' 

                            data-jqyoui-options="{accept:'.assigned-user-roles'}"
                            jqyoui-droppable="{multiple:true, onOver: 'selectedIncludedRoomType' }" data-type="source">

                                    <li ng-repeat="roomtype in excludedRoomTypes track by $index" 
                                    class="unassigned-user-roles li-draggable"
                                    data-drag="true" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}" 

                                    ng-model="excludedRoomTypes" 

                                    jqyoui-draggable="{index: {{$index}}, placeholder:false,animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem'}" 

                                    ng-hide="!roomtype.name" ng-class="{selected: selectedExcludedRoomTypeIndex == $index}" 

                                    ng-click="selectExcludedRoomType(roomtype, $event, $index)">
                                            <span class="icons icon-handle"></span>
                                            <span class="icons icon-handle"></span>
                                            {{roomtype.name}}
                                    </li>
                            </ul>
                    </div> 

            </fieldset>
            <div class="actions float">
                    <button type="button" id="cancel" class="button blank add-data-inline" ng-click='cancelMainAddRemove()'>
                            Cancel
                    </button>
                    <button type="button" id="save" class="button green add-data-inline" ng-class="{'grey overlay': selectedRate.placeholder == true}" ng-click="addRateToChannelMgr()">
                            Add Rate
                    </button>
            </div>
        </form>
</section>