<div class="group-card cards fullscreen" ng-class="{'new-card': isInAddMode()}" >
    <div class="cards-wrapper">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <!-- Header -->
        <header class="cards-header">
            <div id="group-card-header" class="card-header">
                <form>
                    <div class="holder">
                        <div class="entry">
                            <input id="group-name" placeholder="Account Name" ng-model="groupConfigData.summary.group_name" type="text" class="masked-input h1" data-size="{{groupConfigData.summary.group_name.length}}" auto-grow-field/>
                        </div>
                    </div>
                </form>
                <div class="card-actions" ng-hide="isInAddMode()">
                    <!--  HIDE BUTTON FOR NOW TILL DUPLICATE FUNCTIONALITY IS COMPLETE-->
                    <button type="button" class="button blue hidden" ng-click="duplicateGroup()">Duplicate</button>
                </div>                
                <div class="card-actions" ng-show="isInAddMode()">
                    <button type="button" class="button green" ng-click="saveNewGroup()">Save Group</button>
                    <button type="button" class="button blank" ng-click="discardNewGroup()">Discard</button>
                </div>                
            </div>
        </header>
        <!-- Content -->
        <div class="cards-content">
            <div ng-if="isInAddonSelectionMode()" ng-include="'/assets/partials/groups/summary/rvGroupConfigurationAddons.html'"></div>
            <div ng-if="!isInAddonSelectionMode()" id="group-card-content" class="card-tabs card-content">
                <!-- Group tabs navigation -->
                <ul id="group-card-tabs-nav" class="card-tabs-nav">
                    <li ng-click="switchTabTo('ACCOUNT')"  ng-class="{'ui-tabs-active' : groupConfigData.activeTab == 'ACCOUNT'}">
                        <a>Summary</a>
                    </li>
                    <li ng-click="switchTabTo('TRANSACTIONS')" ng-class="{'ui-tabs-active' : groupConfigData.activeTab == 'TRANSACTIONS'}">
                        <a>Transactions</a>
                    </li>
                    <li ng-click="switchTabTo('ACTIVITY')" ng-class="{'ui-tabs-active' : groupConfigData.activeTab == 'ACTIVITY'}">
                        <a>Activity Log</a>
                    </li>
                </ul>
                <!-- Group Tab - Summary -->
                <!-- SUMMARY, ROOM_BLOCK, ROOMING, ACCOUNT, TRANSACTIONS, ACTIVITY -->
                <!-- Group Card Tab - Room Block Details -->
                <ng-include src="getCurrentTabUrl()">
                </ng-include>
            </div>
        </div>
    </div>
</div>
