<!-- Content PAYMENTS-->
<div id="journal-content" class="journal-content scrollable" ng-controller="RVJournalPaymentController" ng-iscroll='payment-content' ng-iscroll-delay='1000' style="height:90%;">
    <div class="wrapper">
        <table id="journal-grid" class="journal-grid">
            <thead>
                <tr>
                    <th colspan="2" translate>PAYMENT_TYPE</th>
                    <th colspan="2" translate>CHARGE_CODE</th>
                    <th translate>NUMBER</th>
                    <th colspan="2" translate>AMOUNT</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-right" translate>TOTAL</td>
                    <td colspan="2">{total value}</td>
                </tr>
            </tfoot>
            <tbody>
                <!-- First level row (with white background) -->
                <tr class="grid-group rows-toggle" data-href="{3rd level row id}"> 
                    <!-- I've used data-href here to target which rows should toggle on click - data-href here needs to match data-id -->
                    <th scope="row" colspan="2">{Cash/Check/Credit Card/Direct Bill etc.}</th>
                    <td colspan="2">{charge-code}</td>
                    <td>{number}</td>
                    <td colspan="2">{amount}</td>
                </tr>
                <!-- Third level row (sometime with headings above columns), no background color -->
                <tr class="grid-item-heading hidden" data-id="{3rd level row id}">
                    <th scope="col" translate>ROOM_LABEL</th>
                    <th scope="col" translate>NAME</th>
                    <th scope="col" translate>RESERVATION_NUMBER</th>
                    <th scope="col" translate>DETAILS</th>
                    <th scope="col" translate>TIME</th>
                    <th scope="col" translate>DEBIT</th>
                    <th scope="col" translate>CREDIT</th>
                </tr>
                <tr class="grid-item hidden" data-id="{3rd level row id}">
                    <td>{room #</td>
                    <td>{guest name}</td>
                    <td>{res. number}</td>
                    <td>{details}</td>
                    <td>{time}</td>
                    <td>{debit}</td> 
                    <td>{credit</td>                                           
                </tr>
                ... repeat as needed
            </tbody>
        </table>
    </div>
</div>