<!-- PRINT BOX FOR REVENUE -->
<div ng-show="activeTab==0" class="holder">
    <div class="entry">
        <label for="revenue-charge-group">Charge Group</label>
        <div class="select">
            <select name="revenue-charge-group" id="revenue-charge-group" class="placeholder">
                <option value="" selected>All Charge Groups</option>
                <option value="{charge group 1}">{charge group 1}</option>
                <option value="{charge group 2}">{charge group 2}</option>
                ...
            </select>
        </div>
    </div>
    <div class="entry">
        <label for="revenue-charge-code">Charge Code / Name</label>
        <div class="select">
            <select name="revenue-charge-code" id="revenue-charge-code" class="placeholder">
                <option value="" selected>All Charge Codes</option>
                <option value="{charge code 1}">{charge code 1}</option>
                <option value="{charge code 2}">{charge code 2}</option>
                ...
            </select> 
        </div>
    </div>
    <div class="entry">
        <div class="switch-button on">
            <input name="revenue-print-toggle" id="revenue-print-toggle" value="" type="checkbox" checked />
            <label class="data-off">
                <span class="value">Summary</span>
                <span class="switch-icon">Details</span>
            </label>
            <label class="data-on">
                <span class="switch-icon">Summary</span>
                <span class="value">Details</span>
            </label>
        </div>
    </div>
    <div class="actions">
        <button id="print-revenue" type="button" class="button blue">Print</button>
    </div>
</div>

<!-- PRINT BOX FOR PAYMENTS -->
<div ng-show="activeTab==1" class="holder">
    <div class="entry">
        <label for="payments-payment-type">Payment Type / Charge Code</label>
        <div class="select">
            <select name="payments-payment-type" id="payments-payment-type" class="placeholder">
                <option value="" selected>All</option>
                <option value="{option 1}">{option 1}</option>
                <option value="{option 2}">{option 2}</option>
                ...
            </select>
        </div>
    </div>
    <div class="entry">
        <div class="switch-button on">
            <input name="payments-print-toggle" id="payments-print-toggle" value="" type="checkbox" checked />
            <label class="data-off">
                <span class="value">Summary</span>
                <span class="switch-icon">Details</span>
            </label>
            <label class="data-on">
                <span class="switch-icon">Summary</span>
                <span class="value">Details</span>
            </label>
        </div>
    </div>
    <div class="actions">
        <button id="print-payments" type="button" class="button blue">Print</button>
    </div>
</div>

<!-- PRINT BOX FOR CASHIER -->
<div ng-show="activeTab==2" class="holder">
    <div class="entry">
        <label for="cashier-report">Report</label>
        <div class="select">
            <select name="cashier-report" id="cashier-report">
                <option value="">Select Report Type</option>
                <option value="credit-card" selected>Cashier Summary</option>
                ...
            </select>
        </div>
    </div>
    <div class="actions">
        <button id="print-cashier" type="button" class="button blue">Print</button>
    </div>
</div>
