<!-- Content REVENUE-->
<div id="journal-content" class="journal-content scrollable" ng-controller="RVJournalRevenueController" ng-iscroll='revenue-content' ng-iscroll-delay='1000' style="height:90%;">
    <div class="wrapper">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>

        <div id="journal-grid" class="journal-grid">

                <!-- First level - charge groups -->
                <div class="grid-group" ng-repeat="(index1 ,level1) in data.revenueData.charge_groups"  ng-show="level1.show && level1.filterFlag">

                    <a ng-click="clickedFirstLevel(index1)" ng-class="{'active':level1.active}" class="revenue-title has-arrow toggle">
                        <strong ng-show="level1.show" class="name">{{level1.name}}</strong>
                        <span ng-show="level1.show" class="value">{{currencySymbol}}{{level1.total}}</span>
                    </a>

                    <!-- Second level - charge codes -->
                    <div ng-repeat="(index2 ,level2) in level1.charge_codes" ng-show="level1.active" class="grid-charge">

                        <a ng-click="clickedSecondLevel(index1 ,index2)" ng-class="{'active':level2.active}" ng-show="level2.show && level2.filterFlag" class="revenue-title has-arrow toggle">
                            <span class="code" ng-show="level2.show">{{level2.id}}</span>
                            <strong class="name" ng-show="level2.show">{{level2.name}}</strong>
                            <span class="value" ng-show="level2.show">{{currencySymbol}}{{level2.total}}</span>
                        </a>

                        <!-- Third level - -->
                        <table ng-show="level2.active && level2.show" class="grid-items">
                            <thead ng-show="isShowTableHeading(index1 ,index2)">
                                <tr>
                                    <th scope="col">Room</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Reservation Number</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Debit</th>
                                    <th scope="col">Credit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index3 ,level3) in level2.transactions" ng-show="level3.show">
                                    <td>{{level3.room}}</td>
                                    <td>{{level3.name}}</td>
                                    <td>{{level3.reservation_number}}</td>
                                    <td>{{level3.type}}</td>
                                    <td>{{level3.details}}</td>
                                    <td>{{level3.time}}</td>
                                    <td>{{level3.debit}}</td> 
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                
            </div>


        



    </div>
</div>
