<!-- Print header -->
<ul class="journal-header-print">
    <li>
        Revenue
        <span>{{currencySymbol}}{{ data.revenueData.total_revenue | number: precisonTwo}}</span>
    </li>
</ul>

<!-- Content REVENUE-->
<div id="journal-content" class="journal-content scrollable" ng-controller="RVJournalRevenueController" ng-iscroll='revenue_content' ng-click="clickedOnRevenue($event)">
    
    <div class="wrapper">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div id="journal-grid" class="journal-grid" ng-class="{'print-details': !data.isRevenueToggleSummaryActive}">

            <ul class="grid-header revenue">
                <li class="name" translate>CHARGE_GROUPS</li>
                <li class="number" translate>NUMBER</li>
                <li class="value" translate>AMOUNT</li>
            </ul>

                <!-- First level - charge groups -->
                <div class="grid-group" ng-repeat="(index1 ,level1) in data.revenueData.charge_groups">

                    <a ng-click="clickedFirstLevel(index1)" ng-class="{'active':level1.active, 'has-arrow':checkHasArrowFirstLevel(index1)}" class="revenue-title toggle">
                        <strong class="name">{{level1.name}}</strong>
                        <span class="number" >{{escapeNullData(level1.number)}}</span>
                        <span class="value">{{currencySymbol}}{{ level1.total | number: precisonTwo}}</span>
                    </a>
                    <!-- Second level - charge codes -->
                    <div ng-show="level1.active" ng-repeat="(index2 ,level2) in level1.charge_codes" class="grid-charge">

                        <a ng-click="clickedSecondLevel(index1 ,index2)" ng-class="{'active':level2.active , 'has-arrow':checkHasArrowSecondLevel(index1, index2)}" class="revenue-title toggle">
                            <span class="code short-text">{{level2.code}}</span>
                            <strong class="name">{{level2.name}}</strong>
                            <span class="value">{{currencySymbol}}{{ level2.total | number: precisonTwo}}</span>
                        </a>

                        <!-- Third level - transactions  -->
                        <table ng-show="level2.active" class="grid-items">
                            <thead ng-show="level2.transactions.length > 0">
                                <tr>
                                    <th scope="col" translate>ROOM_LABEL</th>
                                    <th scope="col" translate>NAME</th>
                                    <th scope="col" translate>RESERVATION_NUMBER</th>
                                    <th scope="col" translate>TYPE</th>
                                    <th scope="col" translate>DETAILS</th>
                                    <th scope="col" translate>DATE_AND_TIME</th>
                                    <th scope="col" translate>DEBIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(index3 ,level3) in level2.transactions">
                                    <td>{{level3.room}}<br/>{{level3.account_no}}</td>
                                    <td>{{level3.name}}<br/>{{level3.account_name}}</td>
                                    <td>{{level3.reservation_number}}</td>
                                    <td>{{level3.type}}</td>
                                    <td ng-bind-html="level3.details"></td>
                                    <td>{{level3.time}}</td>
                                    <td>{{currencySymbol}}{{level3.debit | number: precisonTwo}}</td>
                                </tr>

                                <!-- Pagination row -->
                                <tr class="pagination" ng-show="level2.total_count > data.filterData.perPage && level2.transactions.length > 0">
                                    <td colspan="7">
                                        <div class="search-pagination">
                                            <button type="button" class="button dark-grey next" ng-click="loadNextSet(index1, index2)" ng-disabled="isNextButtonDisabled(index1, index2)" translate>NEXT</button>
                                            <button type="button" class="button dark-grey prev" ng-click="loadPrevSet(index1, index2)" ng-disabled="isPrevButtonDisabled(index1, index2)" translate>PREVIOUS</button>
                                            <p>{{ 'SHOWING' | translate }} <strong>{{ level2.start }}-{{ level2.end }}</strong> {{ 'OF' | translate }} <strong>{{ level2.total_count }}</strong> {{ 'ITEMS' | translate }}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="grid-footer">
                    <p class="payment"><span translate>TOTAL</span> {{currencySymbol}}{{ data.revenueData.total_revenue | number: precisonTwo}}</p>
                </div>
            </div>

    </div>
</div>


<!-- Print footer -->
<ul class="journal-footer-print">
    <li>
        From <span>{{ data.fromDate | date : dateFormat }}</span> to <span>{{ data.toDate | date : dateFormat }}</span><br />
        Departments(s) <span>{{data.selectedDepartmentName.join(', ')}}</span><br />
        Employee(s) <span>{{data.selectedEmployeesName.join(', ')}}</span><br />
        Charge Group(s) <span>{{ data.uiSelectedChargeGroup }}</span>
    </li>
    <li>
        Business date <span>{{ userInfo.business_date | date:dateFormat }}</span><br />
        User <span>{{ userInfo.first_name }} {{ userInfo.last_name }}</span>
    </li>
</ul>