<!-- Content REVENUE-->
<div id="journal-content" class="journal-content scrollable" ng-controller="RVJournalRevenueController" ng-iscroll='revenue-content' ng-iscroll-delay='1000' style="height:90%;">
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <div class="wrapper">

        <div id="journal-grid" class="journal-grid">
                <!-- First level - charge groups -->
                <div class="grid-group">
                    <a href="#{charge-group-id}" class="revenue-title has-arrow toggle">
                        <strong class="name">{Charge Group}</strong>
                        <span class="value">${amount}</span>
                    </a>
                    <!-- Second level - charge codes, hidden by default. To show, remove class "hidden" when 1st level anchor is clicked -->
                    <div id="{charge-group-id}" class="grid-charge hidden1">
                        <a href="#{charge-code-id}" class="revenue-title has-arrow toggle">
                            <span class="code">1001</span>
                            <strong class="name">Accommodation</strong>
                            <span class="value">$9816.40</span>
                        </a>
                        <!-- Third level - postings, hidden by default. To show, remove class "hidden" when 2nd level anchor is clicked -->
                        <table id="{charge-code-id}" class="grid-items hidden1">
                            <thead>
                                <tr>
                                    <th scope="col">Room</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Reservation Number</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Debit</th>
                                    <th scope="col">Credit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{room #</td>
                                    <td>{guest name}</td>
                                    <td>{res. number}</td>
                                    <td>{type}</td>
                                    <td>{details}</td>
                                    <td>{time}</td>
                                    <td>{debit}</td> 
                                    <td>{credit</td> 
                                </tr>
                                .. repeat for each posting
                            </tbody>
                        </table>
                        ... repeat for each charge code
                    </div>
                </div>
                ... repeat for each charge group
            </div>


        



    </div>
</div>
