<!-- Print header -->
<ul class="journal-header-print summary">
    <li>
        <span>Summary</span>
        {{'BAL_AS_OF_EOD' | translate}}
        <span>{{ data.summaryDate | date : 'MMMM d, y'}}</span>
    </li>
</ul>

<!-- Content -->
<div ng-controller="RVJournalSummaryDetailsController" id="journal-content" ng-iscroll='summary_content' class="journal-content summary scrollable">
    <div class="wrapper">
        <div class="journal-summary first">
            <h3 ng-if="(details.summaryData.deposit_debits !== 0 || details.summaryData.deposit_credits !== 0)" class="has-arrow toggle" ng-class="{'active': details.summaryData.deposit_balance.active }" ng-click="toggleJournalSummaryItem('DEPOSIT_BALANCE')" translate>DEPOSIT_BAL</h3>
            <h3 ng-if="(details.summaryData.deposit_debits === 0 && details.summaryData.deposit_credits === 0)" translate>DEPOSIT_BAL</h3>
            <ul>
                <li>{{'OPENING' | translate}}<span>{{currencySymbol}}{{details.summaryData.deposit_opening_balance | number: precisonTwo }}</span></li>
                <li>{{'DEBIT' | translate}}<span>{{currencySymbol}}{{details.summaryData.deposit_debits | number: precisonTwo }}</span></li>
                <li>{{'CREDIT' | translate}}<span>{{currencySymbol}}{{details.summaryData.deposit_credits | number: precisonTwo }}</span></li>
                <li>{{'CLOSING' | translate}}<span>{{currencySymbol}}{{details.summaryData.deposit_closing_balance | number: precisonTwo }}</span></li>
            </ul>
        </div>

        <div class="journal-grid print-details" ng-show="details.summaryData.deposit_balance.active">
            <table class="grid-items">
                <thead>
                    <tr>
                            <th>Room</th>
                            <th class="cell-reservation">Reservation</th>
                            <th>Invoice / Folio No.</th>
                            <th>Date & Time</th>
                            <th class="cell-details">Details</th>
                            <th class="cell-charges">Charge</th>
                            <th class="align-right">Debit</th>
                            <th class="align-right">Credit</th>
                        </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in details.summaryData.deposit_balance.transactions">
                        <td>{{item.room}}</td>
                            <td>
                                <strong class="cell-row">{{item.name}}</strong>
                                <span class="cell-row">{{item.reservation_number}}</span>
                                <!-- If split to accompanying guest, show acc.guest name (only in Guest Balance):--> 
                                <em class="cell-row grey-text" >{{item.accompany_guest_name}}</em>
                                
                            </td>
                            <td>{{item.invoice_or_folio}}</td>
                            <td>
                                <span class="cell-row">{{item.date}}</span>
                                <span class="cell-row grey-text">{{item.time}}</span>
                            </td>
                            <td>
                                <span class="cell-row" ng-bind-html="item.details"></span>
                               <!-- ... repeat L104 for each details entry
                                 If adjusted, show like this: 
                                <span class="cell-row"><em class="adjusted">Adjustment</em> - {Adjustment Reason}</span>-->
                            </td>
                            <td>
                                <strong class="cell-row">{{item.charge_code}}</strong>
                                <span class="cell-row grey-text">{{item.charge_desc}}</span>
                            </td>
                            <td class="align-right">
                                <span class="currency">{{currencySymbol}}</span>{{item.debit | number: precisonTwo}}
                            </td>
                            <td class="align-right">
                                <span class="currency">{{currencySymbol}}</span>{{item.credit | number: precisonTwo}}
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="journal-summary">
            <h3 ng-if="(details.summaryData.guest_debits !== 0 || details.summaryData.guest_debits !== 0)" class="has-arrow toggle" ng-class="{'active': details.summaryData.guest_balance.active }" ng-click="toggleJournalSummaryItem('GUEST_BALANCE')" translate>GUEST_BAL</h3>
            <h3 ng-if="(details.summaryData.guest_debits === 0 && details.summaryData.guest_debits === 0)" translate>GUEST_BAL</h3>
            <ul>
                <li><span>{{currencySymbol}}{{details.summaryData.guest_opening_balance | number: precisonTwo }}</span></li>
                <li><span>{{currencySymbol}}{{details.summaryData.guest_debits | number: precisonTwo }}</span></li>
                <li><span>{{currencySymbol}}{{details.summaryData.guest_credits | number: precisonTwo }}</span></li>
                <li><span>{{currencySymbol}}{{details.summaryData.guest_closing_balance | number: precisonTwo }}</span></li>
            </ul>
        </div>

        <div class="journal-grid print-details" ng-show="details.summaryData.guest_balance.active">
            <table class="grid-items">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th class="cell-reservation">Reservation</th>
                        <th>Invoice / Folio No.</th>
                        <th>Date & Time</th>
                        <th class="cell-details">Details</th>
                        <th class="cell-charges">Charge</th>
                        <th class="align-right">Debit</th>
                        <th class="align-right">Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in details.summaryData.guest_balance.transactions">
                        <td>{{item.room}}</td>
                        <td>
                            <strong class="cell-row">{{item.name}}</strong>
                            <span class="cell-row">{{item.reservation_number}}</span>
                            <!-- If split to accompanying guest, show acc.guest name (only in Guest Balance):--> 
                            <em class="cell-row grey-text" >{{item.accompany_guest_name}}</em>
                            
                        </td>
                        <td>{{item.invoice_or_folio}}</td>
                        <td>
                            <span class="cell-row">{{item.date}}</span>
                            <span class="cell-row grey-text">{{item.time}}</span>
                        </td>
                        <td>
                            <span class="cell-row" ng-bind-html="item.details"></span>
                           <!-- ... repeat L104 for each details entry
                             If adjusted, show like this: 
                            <span class="cell-row"><em class="adjusted">Adjustment</em> - {Adjustment Reason}</span>-->
                        </td>
                        <td>
                            <strong class="cell-row">{{item.charge_code}}</strong>
                            <span class="cell-row grey-text">{{item.charge_desc}}</span>
                        </td>
                        <td class="align-right">
                            <span class="currency">{{currencySymbol}}</span>{{item.debit | number: precisonTwo}}
                        </td>
                        <td class="align-right">
                            <span class="currency">{{currencySymbol}}</span>{{item.credit | number: precisonTwo}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="journal-summary">
            <h3 ng-if="(details.summaryData.ar_debits !== 0 || details.summaryData.ar_credits !== 0)" class="has-arrow toggle" ng-class="{'active': details.summaryData.ar_balance.active }" ng-click="toggleJournalSummaryItem('AR_BALANCE')" translate>AR_BALANCE</h3>
            <h3 ng-if="(details.summaryData.ar_debits === 0 && details.summaryData.ar_credits === 0)" translate>AR_BALANCE</h3>
            <ul>
                <li><span>{{currencySymbol}}{{details.summaryData.ar_opening_balance | number: precisonTwo }}</span></li>
                <li><span>{{currencySymbol}}{{details.summaryData.ar_debits | number: precisonTwo }}</span></li>
                <li><span>{{currencySymbol}}{{details.summaryData.ar_credits | number: precisonTwo }}</span></li>
                <li><span>{{currencySymbol}}{{details.summaryData.ar_closing_balance | number: precisonTwo }}</span></li>
            </ul>
        </div>

        <div class="journal-grid print-details" ng-show="details.summaryData.ar_balance.active">
            <table class="grid-items">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th class="cell-reservation">Reservation</th>
                        <th>Invoice / Folio No.</th>
                        <th>Date & Time</th>
                        <th class="cell-details">Details</th>
                        <th class="cell-charges">Charge</th>
                        <th class="align-right">Debit</th>
                        <th class="align-right">Credit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in details.summaryData.ar_balance.transactions">
                        <td>{{item.room}}</td>
                        <td>
                            <strong class="cell-row">{{item.name}}</strong>
                            <span class="cell-row">{{item.reservation_number}}</span>
                            <!-- If split to accompanying guest, show acc.guest name (only in Guest Balance):--> 
                            <em class="cell-row grey-text" >{{item.accompany_guest_name}}</em>
                            
                        </td>
                        <td>{{item.invoice_or_folio}}</td>
                        <td>
                            <span class="cell-row">{{item.date}}</span>
                            <span class="cell-row grey-text">{{item.time}}</span>
                        </td>
                        <td>
                            <span class="cell-row" ng-bind-html="item.details"></span>
                           <!-- ... repeat L104 for each details entry
                             If adjusted, show like this: 
                            <span class="cell-row"><em class="adjusted">Adjustment</em> - {Adjustment Reason}</span>-->
                        </td>
                        <td>
                            <strong class="cell-row">{{item.charge_code}}</strong>
                            <span class="cell-row grey-text">{{item.charge_desc}}</span>
                        </td>
                        <td class="align-right">
                            <span class="currency">{{currencySymbol}}</span>{{item.debit | number: precisonTwo}}
                        </td>
                        <td class="align-right">
                            <span class="currency">{{currencySymbol}}</span>{{item.credit | number: precisonTwo}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="journal-summary totals">
            <h3 translate>TOTALS</h3>
            <ul>
                <li>
                    <span>
                        {{currencySymbol}}
                        {{details.summaryData.deposit_opening_balance+details.summaryData.guest_opening_balance+details.summaryData.ar_opening_balance | number: precisonTwo }}
                    </span>
                </li>
                <li>
                    <span>
                        {{currencySymbol}}
                        {{details.summaryData.deposit_debits+details.summaryData.guest_debits+details.summaryData.ar_debits | number: precisonTwo }}
                    </span>
                </li>
                <li>
                    <span>
                        {{currencySymbol}}
                        {{details.summaryData.deposit_credits+details.summaryData.guest_credits+details.summaryData.ar_credits | number: precisonTwo }}
                    </span>
                </li>
                <li>
                    <span>
                        {{currencySymbol}}
                        {{details.summaryData.deposit_closing_balance+details.summaryData.guest_closing_balance+details.summaryData.ar_closing_balance | number: precisonTwo }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Print footer -->
<ul class="journal-footer-print summary">
    <li>
        Date <span>{{ data.summaryDate | date : 'MMMM d, y'}}</span>
    </li>
    <li>
        Business date <span>{{ userInfo.business_date | date:dateFormat }}</span><br />
        User <span>{{ userInfo.first_name }} {{ userInfo.last_name }}</span>
    </li>
</ul>