<!-- Content -->
<div ng-controller="RVJournalSummaryController" id="journal-content" class="journal-content summary">
    <div class="journal-summary first">
        <h3 translate>DEPOSIT_BAL</h3>
        <ul>
            <li>{{'OPENING' | translate}}<span>{{currencySymbol}}{value}</span></li>
            <li>{{'DEBIT' | translate}}<span>{{currencySymbol}}{value}</span></li>
            <li>{{'CREDIT' | translate}}<span>{{currencySymbol}}{value}</span></li>
            <li>{{'CLOSING' | translate}}<span>{{currencySymbol}}{value}</span></li>
        </ul>
    </div>
    <div class="journal-summary">
        <h3 translate>GUEST_BAL</h3>
        <ul>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
        </ul>
    </div>
    <div class="journal-summary">
        <h3 translate>AR_BALANCE</h3>
        <ul>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
        </ul>
    </div>
    <div class="journal-summary totals">
        <h3 translate>TOTALS</h3>
        <ul>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
            <li><span>{{currencySymbol}}{value}</span></li>
        </ul>
    </div>
</div>