<form outside-click-handler  class="form card-tab scrollable" ng-iscroll='' ng-iscroll-delay="1000" ng-iscroll-form="true">
	<div class="wrapper">
		<div class="entry full-width">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		</div>
		<!-- <div class="holder left"> -->
			<ol>
				<li ng-click="setScreenMode('FILES')">Files</li>
				<li ng-click="setScreenMode('NOTES')">Notes</li>
			</ol>
		<!-- 	
		</div>
		
		<div class="holder right" > -->
			<ng-include ng-if="screenMode === 'NOTES'" src="'/assets/directives/fileCloudStorage/partials/rvCardNotes.html'"></ng-include>
			<ng-include ng-if="screenMode === 'FILES'" src="'/assets/directives/fileCloudStorage/partials/rvFileCloudFiles.html'"></ng-include>
		<!-- </div> -->
	</div>
</form>