<div ng-repeat="fileType in cardData.fileTypes">
	<!-- If grouping by file type -->
	<h4 class="file-type-title" ng-if="cardData.group_files_by === 'FILE_TYPE'">
	{{fileType}}
	<span>({{getFileCount(fileType)}})</span>
	</h4>
	<ul class="files files-file-type">
		
		<li class="file"
			ng-if="file.content_type === fileType"
			ng-repeat="file in cardData.fileList | orderBy : sortFiles : cardData.sort_files_by === 'NEWLY_ADDED' | filter: cardData.searchText"
			ng-class="{'selected': file.is_selected}">
			<label class="checkbox inline" ng-class="{'hidden': !cardData.hasFilePersmissions}" >
				<span class="icon-form icon-checkbox" ng-class="{'checked': file.is_selected }"></span>
				<input ng-model="file.is_selected" type="checkbox" ng-change="fileSelectionChanged()"/>
			</label>
			<div class="file-container open-modal" ng-click="openFileDetails(file)">
				<div class="file-image">
					<div ng-if="!isImageAndHasThumbNail(file)" class="file-icon">
						<span class="icons icon-document {{getIconClass(file.content_type)}"></span>
						<div class="file-type {{getContentTypeClass(file.content_type)}}">{{file.content_type}}</div>
					</div>
					<img ng-if="isImageAndHasThumbNail(file)" 
						 ng-src="{{file.preview_url}}"
                 		 img-error/>
				</div>
				<h3 class="file-title">{{file.file_name}}</h3>
				<div class="file-details">
					<div class="file-author">{{file.user}}</div>
					<div class="file-date">{{file.uploaded_at}}</div>
				</div>
			</div>
		</li>
	</ul>
</div>