<div class="jumbotron">
	<div class="container backgroundbg">
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
			</div>
		</div>

		<!-- contentarea starts here-->
		<div class="container">
			<!-- top section starts here-->
			
			<div class="row check-inout-wrapper">
				<div ng-show="returnHome && !netWorkError" class="col-md-12 checkout-status centeralign">
					Your request is being processed, this may take a few seconds..... please wait!
				</div>

				<div ng-hide="!returnHome && posted" class="col-md-12 checkout-status centeralign">
					Your request is being processed, this may take a few seconds..... please wait!
				</div>

				<div ng-show="!returnHome && posted && !success && !netWorkError" class="col-md-12 checkout-status centeralign">
					Something went wrong, complete your check out by going to or call our front desk. You can also call the hotel at {{hotelPhone}}.
				</div>

				<div ng-show="netWorkError" class="col-md-12 checkout-status centeralign">
					Something went wrong, complete your check out by going to or call our front desk. You can also call the hotel at {{hotelPhone}}.
				</div>

				<div ng-show="!returnHome && posted && success && !netWorkError" class="col-md-12 headtext centeralign">
					Thank you
					<p class="leadtext">
						<em class="lightcontent">The following will appear on your bill.</em>
					</p>
					<p class="latecheckout-charged centeralign">Late Check Out ({{ lateCheckOut.time }} {{ lateCheckOut.ap }} ) .... {{ lateCheckOut.amount | currency }}</p>
				</div>
			</div>

			<div ng-show="returnHome || posted " class="row">
				<p ng-hide="netWorkError">
					<a href="#/checkOutNow" class="link-btn with-bg">Back to check-out screen</a>
				</p>
			</div>
			
		</div>
	</div>
</div>