<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container backgroundbg">
		<div class="container-fluid">
			<div class="row headerrow">
				<logo-image></logo-image>
				<p class="roomnumber centeralign">
					<span>{{details.roomType}} {{roomNo}}</span>
				</p>
			</div>
		</div>
		<!-- contentarea starts here-->
		<div class="container">
			<!-- top section starts here-->

			<div class="row check-inout-wrapper">
				<div class="col-md-6 headtext centeralign">
					{{details.headerTitle}}
					<p class="leadtext">
						<span class="lightcontent">{{details.headersubTitle}} {{checkoutTime}}</span>
					</p>
				</div>
				<!-- top section ends here-->
				
				<!-- checkoubtn section starts here-->
				<div class="col-md-6 no-padding now-later-options no-screen-attach">
					<div class="row">
						<div class="col-xs-12 checkoutnow single">
							<div class="rel-wrapper">
								<a href="#/checkoutBalance"></a>
								<div class="row">
									Check out<br/>now.
									<!-- {{details.buttonText}} -->
								</div>
								<div class="row  icontop">
									<img src="/assets/img/checkout_icon.png" width="48" height="48" alt=""/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<!-- checkoubtn section ends here-->

				<div class="row" >
					<p class="foot-text centeralign" ng-show="true">
						<em>{{footerMessage1}}</em>
					</p>
					<p class="foot-text centeralign second-in ">
						<em>{{details.footerMessage2}} {{checkoutTime}}.</em>
					</p>
				</div>

			

		</div>
	</div>
