<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
					<div ng-hide="posted" class="headtext centeralign checkout-now-status" >
				Posting data...
			</div>
			
			<div ng-show="posted && !success" class="headtext centeralign checkout-now-status">
				Something went wrong...
			</div>
			
			<div ng-show="posted && success" class="headtext centeralign checkout-now-status">
					Check out is complete. A email with your bill details has been sent to {{userMail}}.com. Thank you for staying with us!
			</div>
			</div>
		</div>
	</div>
</div>