<div class="cards-wrapper">
    <!-- Cards Header -->
    <header class="cards-header">
        <!-- Guest Card -->
        <div id="guest-card-header" class="card-header first">
            <figure class="guest-image">
                <img src="../images/avatar.jpg" alt="" />
                <span class="search-indicator"></span>
            </figure>
            <form method="get" action="" name="search-guests" id="search-guests" class="card-search-form" role="search">
                <div class="holder">
                    <div class="entry">
                        <input name="gc-firstname" id="gc-firstname" placeholder="First Name" value="" type="text" class="masked-input fixed name h1" />
                        <input name="gc-lastname" id="gc-lastname" placeholder="Last Name" value="" type="text" class="masked-input fixed name h1" />
                        <input name="gc-city" id="gc-city" placeholder="City" value="" type="text" class="masked-input fixed city h1" />
                        <input name="gc-loyalty" id="gc-loyalty" placeholder="Loyalty Number" value="" type="text" class="masked-input fixed loyalty h1" />
                    </div>
                </div>
            </form>
        </div>
        <!-- Company Card -->
        <div id="company-card-header" class="card-header change-card second">
            <div class="guest-image icons icon-company">
                Add <span>Company</span>
            </div>
            <form method="get" action="" name="search-company" id="search-company" class="card-search-form" role="search">
                <div class="holder">
                    <div class="entry">
                        <input name="cc-name-first" id="cc-name-first" placeholder="Company" value="" type="text" class="masked-input fixed name h1" />
                        <input name="cc-name-last" id="cc-name-last" placeholder="Name" value="" type="text" class="masked-input fixed name h1" />
                    </div>
                </div>
            </form>
        </div> 
        <!-- Travel Agent Card -->
        <div id="travel-agent-card-header" class="card-header change-card third">
            <div class="guest-image icons icon-travel-agent">
                Add <span>Travel Agent</span>
            </div>
            <form method="get" action="" name="search-travel-agent" id="search-travel-agent" class="card-search-form" role="search">
                <div class="holder">
                    <div class="entry">
                        <input name="tac-name-first" id="tac-name-first" placeholder="Travel" value="" type="text" class="masked-input fixed name h1" />
                        <input name="tac-name-last" id="tac-name-last" placeholder="Agent" value="" type="text" class="masked-input fixed name h1" />
                    </div>
                </div>
            </form>
        </div>
    </header>

    <!-- Cards Content -->
    <div class="cards-content">
        <!-- Guest Card -->
        <div id="guest-card-content" class="card-content visible">
            <div id="search-guests-wrapper" class="search-content scrollable">
                <div class="wrapper">
                    <ul id="search-guests-results" class="search-results hidden"></ul>
                </div>
                <div id="search-guests-no-results" class="no-content">
                    <div class="info">
                        <span class="icon-no-content icon-cards"></span>
                        <strong class="h1">Find Guests</strong>
                        <span class="h2">Search by <strong>Name</strong>, <strong>Group</strong>, <strong>Room No.</strong> or <strong>Confirmation No.</strong></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Company Card -->
        <div id="company-card-content" class="card-content hidden">
            <div id="search-company-wrapper" class="search-content scrollable">
                <div class="wrapper">
                    <ul id="search-company-results" class="search-results hidden"></ul>
                </div>
                <div id="search-company-no-results" class="no-content">
                    <div class="info">
                        <span class="icon-no-content icon-cards"></span>
                        <strong class="h1">Find Companies</strong>
                        <span class="h2">Search by <strong>Company Name</strong>, <strong>IATA #</strong>, or <strong>Corporate ID</strong></span>
                    </div>
                </div>
            </div>
        </div>
         <!-- Travel Agent Card -->
        <div id="travel-agent-card-content" class="card-content hidden">
            <div id="search-travel-agent-wrapper" class="search-content scrollable">
                <div class="wrapper">
                    <ul id="search-travel-agent-results" class="search-results hidden"></ul>
                </div>
                <div id="search-travel-agent-no-results" class="no-content">
                    <div class="info">
                        <span class="icon-no-content icon-cards"></span>
                        <strong class="h1">Find Travel Agents</strong>
                    <span class="h2">Search by <strong>Company Name</strong>, <strong>IATA #</strong>, or <strong>Corporate ID</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>