<!-- contentarea starts here-->

<div class="jumbotron">
	<div class="container ">
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row headerrow">
					<logo-image></logo-image>
				</div>
			</div>
			<div class="row">
							
				<div class="checkout-status centeralign checkout-now-status">
					<p class="msg-head">RESET PASSWORD</p>
					<p class="msg-body">Please choose a new password for Yotel app</p>
					
					<div class="msg-body" >					   
					   <div class= "passwd-reset-labels">
					   	    <label class="passwd-reset-left-item">
		                       Username 
	                       </label>
	                    </div>
	                    <div class= "passwd-reset-inputs">
	                       <strong class="passwd-reset-right-item">:</strong> 
                           <label class="passwd-reset-right-item">
		                       xxx
	                       </label>
	                    </div>

	                    <div class= "passwd-reset-labels">
					   	    <label class="passwd-reset-left-item">
		                       New Password 
	                       </label>
	                    </div>
	                    <div class= "passwd-reset-inputs">
	                       <strong class="passwd-reset-right-item">:</strong> 
                           <input class="passwd-reset-right-item" type="text"  placeholder="new password" id="new_psswd" name="new_psswd">
	                    </div>

	                    <div class= "passwd-reset-labels">
					   	    <label class="passwd-reset-left-item">
		                       Confirm New Password 
	                       </label>
	                    </div>
	                    <div class= "passwd-reset-inputs">
	                       <strong class="passwd-reset-right-item">:</strong> 
                           <input class="passwd-reset-right-item" type="text"  placeholder="confrm new password" id="confirm_new_psswd" name="confirm_new_psswd">
	                    </div>		                   
				    </div>
				    <button class="passwd-reset-button continue-button" >
							<span class="continue-text">Reset My Password</span>
					</button>
                </div>
				
			</div>
		</div>
	</div
></div>