
<div class="col-md-12 top-spacing section-container mob-padding-bottom-10" ng-hide="screenData.facialRecognitionInProgress">
   <p class="sub-main-text">Please stand in front of the front camera to take your picture</p>
</div>
<a  ng-hide="screenData.facialRecognitionInProgress"class="btn btn-template margin-top-20" ng-click="startFacialRecognition()">Continue</a>

<div class="col-md-12 top-spacing section-container mob-padding-bottom-10" ng-show="screenData.facialRecognitionInProgress">
   <p class="main-text">Facial recongnition in progress</p>
</div>

