<section id="replacing-div-second" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-hide="isLoading" ng-click="clearErrorMessage()"><div data-view="ZestCheckinConfiguration" >

	<header class="content-title float">
		<h2 translate>RESERVATION_SETTINGS</h2>
		<a ng-click="goBackToPreviousState()" data-type="load-details" class="action back" translate>BACK</a>
	</header>
	<section class="content-scroll">
		<div ng-include="'/assets/partials/common/notification_message.html'"  ></div>

		<form style="overflow-y:auto;" class="form float" >
			<fieldset class="holder full-width">
				<fieldset class="holder left"  ng-if="isStandAlone">
					<div style="height:20px;"></div>
					<!-- <ad-checkbox is-checked="reservationSettingsData.recommended_rate_display" label="{{'USE_RECOMMENDED_RATE_DISPLAY' | translate}}" div-class="full-width"></ad-checkbox> -->
					<ad-toggle-button label="{{'USE_RECOMMENDED_RATE_DISPLAY' | translate}}" is-checked="reservationSettingsData.recommended_rate_display" ></ad-toggle-button>
					<div class="entry">
						<label translate>DEFAULT_RATE_DISPLAY</label>
						<div class="select">
							<select class="placeholder" ng-model="reservationSettingsData.default_rate_display_name" ng-options="rate_type.name as rate_type.name for rate_type in defaultRateDisplays">
							</select>
						</div>
					</div>
				</fieldset>

				<!-- max guest counts starts here -->

				<fieldset class="holder right"  ng-if="isStandAlone">
					<div class="entry full-width">
						<div class=" col1-3 actions_margin_top">
							<ad-textbox inputtype="text" value="reservationSettingsData.max_guests.max_adults" styleclass = "col1-3"
							label = "{{'MAX_ADULTS' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
						<div class=" actions_margin_top" >
							<ad-textbox inputtype="text" value="reservationSettingsData.max_guests.max_children" styleclass = "col1-3"
							label = "{{'MAX_CHILDREN' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
						<div class="col1-3">
							<ad-textbox inputtype="text" value="reservationSettingsData.max_guests.max_infants" styleclass = "col1-3"
							label = "{{'MAX_INFANTS' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
						<div class="col1-3">
							<ad-textbox inputtype="text" value="reservationSettingsData.max_room_quantity" styleclass = "col1-3"
							label = "{{'MAX_ROOM_QUANTITY' | translate}}" placeholder = "" style=" width: 100px;"
							></ad-textbox>
						</div>
					</div>
				</fieldset>

				<!-- max guest counts ends here -->

				<fieldset class="holder left" ng-if="isStandAlone">
					<div class="entry" >
						<label translate>CC AUTHORIZATION AT CHECK IN</label>
						<div class="select select-col width80-percent" >
							<select ng-model="reservationSettingsData.cc_authorization_at_checkin_name" class="styled">
		                        	<option ng-selected="cc_authorization_at_checkin_value.value==reservationSettingsData.cc_authorization_at_checkin_name" ng-repeat="cc_authorization_at_checkin_value in reservationSettingsData.cc_authorization_at_checkin_values" value="{{cc_authorization_at_checkin_value.value}}">{{cc_authorization_at_checkin_value.value}}</option>
		                    </select>
	                    </div>
	                </div>
	                <div class="entry">
	                    <label translate>MAX_NUMBER_OF_NIGHTS</label>
	                    <div class=" select-col col1-2 ">
	                        <input type="text"  placeholder="{{'PLACEHOLDER_MAX_NUMBER_OF_NIGHTS' | translate }}" name=""  class="col1-3"
							ng-model="reservationSettingsData.cc_authorization_at_checkin_nights"style="margin-top: 0; width: 200px;"/> 
							
						</div>
					</div>
					<div ng-show="true" class="entry full-width" >
						<div class="select select-col col1-4 ">
							<select ng-model="reservationSettingsData.cc_authorization_at_checkin_symbol" class="styled">
	                        	<option ng-repeat="sign in defaultSignDisplays" ng-selected="sign.value==reservationSettingsData.cc_authorization_at_checkin_symbol" value="{{sign.value}}">{{sign.value}}</option>
	                        </select>
						</div>
						<div class=" select-col col1-4 " >
							<ad-textbox value="reservationSettingsData.cc_authorization_at_checkin_per_value" inputtype="text" value="" styleclass = "col1-3"	label = "" placeholder = "" style="  margin-top: 0; width: 100px;"></ad-textbox>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_at_checkin_value" class="styled">
	                            <option ng-repeat="checkin_value in checkin_values"  ng-selected="checkin_value.value ===reservationSettingsData.cc_authorization_at_checkin_value" value="{{checkin_value.value}}">{{checkin_value.name}}</option>
	                        </select>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_at_checkin_type" class="styled">
	                            <option ng-repeat="checkin_type in checkin_types"  value="{{checkin_type.value}}" ng-selected="checkin_type.value ===reservationSettingsData.cc_authorization_at_checkin_type">{{checkin_type.name}}</option>
	                        </select>
						</div>
					</div>
				</fieldset>

				<fieldset class="holder right"  ng-if="isStandAlone">
					<div class="entry" >
						<label translate>CC_AUTHORIZATION_for_STAY_EXTENSIONS</label>
						<div class="select select-col width80-percent " >
							<select ng-model="reservationSettingsData.cc_authorization_for_stay_extension_name" class="styled">
		                        	<option ng-selected="cc_authorization_for_stay_extension_value.value==reservationSettingsData.cc_authorization_for_stay_extension_name" ng-repeat="cc_authorization_for_stay_extension_value in reservationSettingsData.cc_authorization_at_checkin_values" value="{{cc_authorization_for_stay_extension_value.value}}">{{cc_authorization_for_stay_extension_value.value}}</option>
		                    </select>
	                    </div>
	                </div>
	                <div class="entry">
	                	<label translate>MAX_NUMBER_OF_NIGHTS</label>
	                    <div class=" select-col col1-2 ">
	                    	<input type="text"  placeholder="{{'PLACEHOLDER_MAX_NUMBER_OF_NIGHTS' | translate }}" name=""  class="col1-3"
							ng-model="reservationSettingsData.cc_authorization_for_stay_extension_nights" style="margin-top: 0; width: 200px;"/>
							
						</div>
					</div>
					<div ng-show="true" class="entry full-width" >
						<div class="select select-col col1-4 ">
							<select ng-model="reservationSettingsData.cc_authorization_for_stay_extension_symbol" class="styled">
	                        	<option ng-repeat="sign in defaultSignDisplays" ng-selected="sign.value==reservationSettingsData.cc_authorization_for_stay_extension_symbol" value="{{sign.value}}">{{sign.value}}</option>
	                        </select>
						</div>
						<div class=" select-col col1-4 " >
							<ad-textbox value="reservationSettingsData.cc_authorization_for_stay_extension_per_value" inputtype="text" value="" styleclass = "col1-3"	label = "" placeholder = "" style="  margin-top: 0; width: 100px;"></ad-textbox>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_for_stay_extension_value" class="styled">
	                            <option ng-repeat="checkin_value in checkin_values"  ng-selected="checkin_value.value ===reservationSettingsData.cc_authorization_for_stay_extension_value" value="{{checkin_value.value}}">{{checkin_value.name}}</option>
	                        </select>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_for_stay_extension_type" class="styled">
	                            <option ng-repeat="checkin_type in checkin_types"  value="{{checkin_type.value}}" ng-selected="checkin_type.value ===reservationSettingsData.cc_authorization_for_stay_extension_type">{{checkin_type.name}}</option>
	                        </select>
						</div>
					</div>
				</fieldset>

				<fieldset class="holder left" ng-if="isStandAlone && !isHourlyRatesEnabled">
					<div class="entry" >
						<label translate>CC_TOPUP_AUTHORIZATION_RULE</label>
						<div class="select select-col width80-percent" >
							<select ng-model="reservationSettingsData.cc_authorization_at_eod_name" class="styled">
		                        	<option ng-selected="cc_authorization_at_eod_value.value==reservationSettingsData.cc_authorization_at_eod_name" ng-repeat="cc_authorization_at_eod_value in reservationSettingsData.cc_authorization_at_eod_values" value="{{cc_authorization_at_eod_value.value}}">{{cc_authorization_at_eod_value.value}}</option>
		                    </select>
	                    </div>
	                </div>
	                <div class="entry">
	                    <label translate>MAX_NUMBER_OF_NIGHTS</label>
	                    <div class=" select-col col1-2 ">
	                        <input type="text"  placeholder="{{'PLACEHOLDER_MAX_NUMBER_OF_NIGHTS' | translate }}" name=""  class="col1-3"
							ng-model="reservationSettingsData.cc_authorization_at_eod_nights" style="margin-top: 0; width: 200px;"/>							
						</div>
					</div>
					<div ng-show="true" class="entry full-width" >
						<div class="select select-col col1-4 ">
							<select ng-model="reservationSettingsData.cc_authorization_at_eod_symbol" class="styled">
	                        	<option ng-repeat="sign in defaultSignDisplays" ng-selected="sign.value==reservationSettingsData.cc_authorization_at_eod_symbol" value="{{sign.value}}">{{sign.value}}</option>
	                        </select>
						</div>
						<div class=" select-col col1-4 " >
							<ad-textbox value="reservationSettingsData.cc_authorization_at_eod_per_value" inputtype="text" value="" styleclass = "col1-3"	label = "" placeholder = "" style="  margin-top: 0; width: 100px;"></ad-textbox>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_at_eod_value" class="styled">
	                            <option ng-repeat="eod_value in eod_values"  ng-selected="eod_value.value ===reservationSettingsData.cc_authorization_at_eod_value" value="{{eod_value.value}}">{{eod_value.name}}</option>
	                        </select>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_at_eod_type" class="styled">
	                            <option ng-repeat="eod_type in eod_types"  value="{{eod_type.value}}" ng-selected="eod_type.value ===reservationSettingsData.cc_authorization_at_eod_type">{{eod_type.name}}</option>
	                        </select>
						</div>
					</div>
				</fieldset>

				<fieldset class="holder right" ng-if="isStandAlone">
					<div class="entry" >
						<label translate>CC_AUTHORIZATION_FOR_INCIDENTALS_ONLY</label>
						<div class="select select-col width80-percent" >
							<select ng-model="reservationSettingsData.cc_authorization_for_incidental_name" class="styled">
		                        	<option ng-selected="item.value==reservationSettingsData.cc_authorization_for_incidental_name" ng-repeat="item in reservationSettingsData.cc_authorization_for_incidentals" value="{{item.value}}">{{item.value}}</option>
		                    </select>
	                    </div>
	                </div>
					<div class="entry full-width" >
						<div class=" select-col col1-4 " >
							<ad-textbox value="reservationSettingsData.cc_authorization_for_incidental_per_value" inputtype="text" value="" styleclass = "col1-3" label = "" placeholder = "" style="margin-top: 0; width: 100px;"></ad-textbox>
						</div>
						<div class="select select-col col1-4">
							<select class="styled">
	                            <option ng-repeat="value in incidentalObj.values"  ng-selected="true">{{value.name}}</option>
	                        </select>
						</div>
						<div class="select select-col col1-4">
							<select ng-model="reservationSettingsData.cc_authorization_for_incidental_type" class="styled">
	                            <option ng-repeat="type in incidentalObj.types"  value="{{type.value}}" ng-selected="type.value ===reservationSettingsData.cc_authorization_for_incidental_type">{{type.name}}</option>
	                        </select>
						</div>
					</div>
				</fieldset>

				<fieldset class="holder left" ng-if="isStandAlone">
					<ad-toggle-button label="Hourly Rates" is-checked="reservationSettingsData.is_hourly_rate_on" ></ad-toggle-button>
					<ad-toggle-button label="{{'ADDONS_FOR_RESERVATIONS' | translate}}" is-checked="reservationSettingsData.is_addon_on" ></ad-toggle-button>
					<ad-toggle-button label="Item Inventory" is-checked="reservationSettingsData.is_item_inventory_on" ></ad-toggle-button>
				</fieldset>
				<fieldset class="holder right  margin-bottom-20-important" ng-if="isStandAlone">

					<ad-toggle-button label="Commissions" is-checked="reservationSettingsData.has_enabled_commissions"  div-class=""></ad-toggle-button>

					<ad-checkbox hide="{{!reservationSettingsData.has_enabled_commissions}}" is-checked="reservationSettingsData.tax_on_commissions" label="{{ 'TAX_ON_COMMISSIONS' | translate}}" div-class="margin-top-30 padding-left-15" ></ad-checkbox>

            		<ad-dropdown hide="{{!reservationSettingsData.has_enabled_commissions || !reservationSettingsData.tax_on_commissions}}" label-in-drop-down="{{'SELECT_TAX_TRANSACTION_CODE' | translate}}" list="reservationSettingsData.tax_transaction_codes" selected-id='reservationSettingsData.selected_tax_transaction_code' selbox-class="placeholder" div-class="full-width" label="{{'TAX_TRANSACTION_CODE' | translate}}"></ad-dropdown>

					<ad-checkbox is-checked="reservationSettingsData.commission_by_agent" label="{{ 'Commissions by Agent' | translate}}" div-class="" hide='{{!reservationSettingsData.has_enabled_commissions}}'></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.commission_by_rate" label="{{ 'Commissions by Rate' | translate}}" div-class="" hide='{{!reservationSettingsData.has_enabled_commissions}}'></ad-checkbox>
					<div class="entry" ng-hide="!reservationSettingsData.commission_by_agent || !reservationSettingsData.has_enabled_commissions">
                		<div class="select-col col1-3 ">
                    		<ad-textbox inputtype="text" value="reservationSettingsData.agent_commission_value" styleclass="col1-3" label="" placeholder="" style=" width: 66px;"></ad-textbox>
                		</div>
                		<div class="select select-col col1-3">
                    		<select class="styled" ng-model="reservationSettingsData.agent_commission_type">
                        		<option value="amount">{{currencySymbol}}</option>
                        		<option value="percent">%</option>
                    		</select>
                		</div>
            		</div>
					<div class="entry float_right_important" ng-hide="!reservationSettingsData.commission_by_rate || !reservationSettingsData.has_enabled_commissions">
						<div class="select-col col1-3 ">
                    		<ad-textbox inputtype="text" value="reservationSettingsData.rate_commission_value" styleclass="col1-3" label="" placeholder="" style=" width: 66px;"></ad-textbox>
                		</div>
                		<div class="select select-col col1-3">
                    		<select class="styled" ng-model="reservationSettingsData.rate_commission_type">
                        		<option value="amount">{{currencySymbol}}</option>
                        		<option value="percent">%</option>
                    		</select>
                		</div>
            		</div>

            		<ad-dropdown hide="{{!reservationSettingsData.has_enabled_commissions}}" label-in-drop-down="{{'SELECT_PREPAID_COMMISSION_CHARGE_CODE' | translate}}" list="reservationSettingsData.prepaid_commission_charge_codes" selected-id='reservationSettingsData.selected_prepaid_commission_charge_code' selbox-class="placeholder" div-class="full-width" label="{{'PREPAID_COMMISSION_CHARGE_CODE' | translate}}"></ad-dropdown>

				</fieldset>

				<fieldset class="holder left">
					<ad-checkbox is-checked="reservationSettingsData.disable_cc_swipe" label="{{ 'DISABLE_CC_SWIPE_AT_CHECK_IN' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.disable_terms_conditions_checkin" label="{{ 'DISABLE_TERMS_AND_CONDITIONS_AT_CHECK_IN' | translate}}" div-class="full-width"  ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.disable_email_phone_dialog" label="{{ 'DISABLE_EMAIL_PHONE_DIALOGUE' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox ng-if="isStandAlone" is-checked="reservationSettingsData.disable_early_departure_penalty" label="{{ 'DISABLE_EARLY_DEPARTURE_PENALTY' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox ng-if="isStandAlone" is-checked="reservationSettingsData.disable_reservation_posting_control" label="{{ 'DISABLE_RESERVATION_POSTING_CONTROL' | translate}}" div-class="full-width" ></ad-checkbox>
				</fieldset>
				<fieldset class="holder right" ng-if="isStandAlone">
					<ad-checkbox is-checked="reservationSettingsData.force_source_code" label="{{ 'FORCE_SOURCE_CODE' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.force_reservation_type" label="{{ 'FORCE_RESERVATION_TYPE' | translate}}" div-class="full-width"  ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.force_market_code" label="{{ 'FORCE_MARKET_CODE' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.force_origin_of_booking" label="{{ 'FORCE_ORIGIN_OF_BOOKING' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.force_segments" label="{{ 'FORCE_SEGMENT' | translate}}" div-class="full-width" ></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.force_rate_adjustment_reason" label="{{ 'FORCE_ADJ_REASON' | translate}}" div-class="full-width"></ad-checkbox>
					<ad-checkbox is-checked="reservationSettingsData.show_overbooking_alert" label="{{ 'SHOW_OVERBOOKING_ALERT' | translate}}" div-class="full-width"></ad-checkbox>


				</fieldset>

			</fieldset>
			<div class="actions float">
				<button type="button" ng-click="goBackToPreviousState()" class="button blank add-data-inline" translate>CANCEL</button>
				<button type="button" ng-click="saveChanges()" class="button green" translate>SAVE_CHANGES</button>
			</div>
		</form>
	</section>
</div>
</section>