<!-- If there are contracts, show this. -->
<!-- If we don't show sidebar actions, remove .with-actions -->
<div ng-controller="rvCardContractListCtrl" class="contracts-list with-actions" ng-class="{'actions-2': contractData.mode === 'EDIT'}">
    <!-- Show these if we are creating a new contract -->
    <div class="no-content" ng-if="contractData.mode === 'ADD'">
        <div class="info">
            <span class="icon-no-content icon-contracts-black"></span>
            <strong class="h1">Creating new Contract</strong>
            <span class="h2">Once saved it will appear here</span>
        </div>
    </div>

    <div class="contracts-list-items scrollable" ng-if="contractData.mode === 'EDIT'" ng-iscroll="contractListScroller">
        <div class="wrapper">
            <!-- If it has no items, add .no-items -->
            <!-- If it's opened, add .open -->
            <div class="contract-list-items-section"
                ng-repeat="item in contractData.contractsList"
                ng-class="{'no-items': item.count === 0, 'open': item.opened}">
                <h2 ng-click="openContractsList(item)">
                    {{item.type}}
                    <span class="count">{{item.count}}</span>
                    <!-- If there are items, show arrow
                      'status-class':
                        - 'rotate-uo' -> when opened
                        - 'rotate-down' -> when closed -->
                    <span ng-show="item.count !== 0"
                        class="icons icon-double-arrow black "
                        ng-class="{'rotate-up': item.opened,
                            'rotate-down': !item.opened}">
                    </span>
                </h2>
                <ul>
                    <!-- Add class .active if showing this contact -->
                    <li ng-repeat="contract in item.contracts"
                        ng-click="fetchDetails(contract.id)"
                        ng-class="{'active': (contract.id === contractData.selectedContractId && contractData.mode === 'EDIT'),
                                'inactive': !contract.is_active}">
                        <h3 class="item-title">{{contract.contract_name}}</h3>
                        <div class="item-info">
                            <span>{{contract.contract_start_date | date:dateFormat}}</span>
                            <span class="icons icon-single-arrow"></span>
                            <span>{{contract.contract_end_date | date:dateFormat}}</span>
                        </div>
                        <span class="icons icon-contracts" ng-class="{'active': contract.is_active && item.type !== 'PAST'}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Show this to enable creating contracts. -->
    <div class="contracts-list-actions" ng-if="contractData.mode === 'EDIT'">
        <button type="button" class="button blue" ng-click="linkContract()">Link Existing Contract</button>
        <button type="button" class="button green" ng-click="newContract()">Create New Contract</button>
    </div>
</div>
