<div role="dialog" id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}">
	<div class="modal-content alert contract-alert">
		<button ng-click="closeDialog()" class="modal-close" id="modal-close" type="button">
			<span class="icons icon-close invert"></span>
		</button>
	    <span class="icons icon-popup-alert"></span>
	    <span class="h2 message">You are about to remove a rate</span>
	    <p class="text">Once removed, rate "{{rateObj.name}}" will no longer be associated with "{{contractData.editData.contract_name}}".</p>
	    <button class="button red" ng-click="confirmRemoveRate(rateObj.id)">Remove Rate</button>
	    <button class="button blank" ng-click="closeDialog()">Cancel</button>
	</div>
</div>