<!-- Search form -->
<form method="get" class="search-form invoice-search" role="search">
    <div class="entry search">
        <button class="clear-query" ng-class="{'visible': invoiceSearchFlags.isQueryEntered}" ng-click="clearQuery()"><span class="icons icon-clear-search">Clear query</span></button><!-- add class .visible when keywords are entered -->
        <button class="icons icon-search">Search</button>
        <input name="commisions-query" ng-model="invoiceSearchData.query" class="query" placeholder="{{searchPlaceHolder}}" type="search" autocomplete="off" rv-delay-textbox="" delay="1000" function-to-fire="searchInvoice">
    </div>
    <div class="entry options">
        <label class="checkbox inline">
            <span class="icon-form icon-checkbox" ng-class="{'checked': invoiceSearchData.no_folio_number_only}"></span>
            <input type="checkbox" ng-model="invoiceSearchData.no_folio_number_only" ng-click="searchInvoice()"/>
            No Folio Number
        </label>
    </div>
</form>

<!-- Search pagination -->
<!-- {../_shared/pagination.html} -->
<rv-pagination ng-show="totalResultCount > invoiceSearchPagination.perPage" page-options="invoiceSearchPagination" page-data="totalResultCount"></rv-pagination>
<!-- Search Results -->
<section id="find-invoices" class="content" role="main" ng-hide="invoiceSearchFlags.showFindInvoice">
    <ul class="invoice-list-header">
        <li class="guest-details">Details</li>
        <li class="number">Invoice No.</li>
        <li class="number">Folio No.</li>
        <li class="balance">Balance</li>
    </ul>
    <div class="invoice-list-content scrollable" ng-iscroll="invoice-list"> <!-- Hook iScroll here -->
        <div class="wrapper">
            <ul class="search-results">
                <li class="invoice-item" ng-repeat="invoiceReservationData in invoiceSearchData.reservationsList.results">
                    <div class="bill has-arrow next-view" >
                        <!-- Image - Leave blank if it's an additional bill on the same reservation that's not been routed to accompanying guest or company or travel agent -->
                        <!-- If primary guest, output L2 -->
                        <figure class="guest-image" ng-show="invoiceReservationData.associated_item.type === 'RESERVATION'"><img src="{{::invoiceReservationData.associated_item.image_url}}" alt="" /></figure>

                        <!-- If accompanying guest, output L5-L8 -->
                        <!-- <figure class="guest-image accompany" ng-repeat="accompanyingGuests in invoiceReservationData.associated_item.accompanying_guests">
                            <img src="{primary guest img src}" alt="" />one
                            <img src="{acc guest img src}" alt="" />
                        </figure> -->

                        <!-- If company, output L11 -->
                        <!-- <div class="guest-image icons icon-company" ng-show="invoiceReservationData.associated_item.company_card !== null"></div>
 -->
                        <!-- If travel agent, output L13 -->
                        <!-- <div class="guest-image icons icon-travel-agent" ng-show="invoiceReservationData.associated_item.travel_agent_card !== null"></div> -->

                        <!-- If account, output L17 -->
                        <div class="group-info" ng-show="invoiceReservationData.associated_item.type === 'POSTING_ACCOUNT'">A</div>


                        <!-- Guest / Account Info - Leave blank if it's an additional bill on the same reservation that's not been routed to accompanying guest or company or travel agent -->
                        <div class="data">
                            <h2 ng-bind-html="escapeNull(invoiceReservationData.associated_item.name)|highlight:invoiceSearchData.query:false">{{::invoiceReservationData.associated_item.name}}</h2> <!-- Wrap search match with <span class="highlight"></span> -->
                            <span class="confirmation">
                                <span class="confirmation-text" ng-show="invoiceReservationData.associated_item.type === 'RESERVATION'">CONF. NO.
                                    <span ng-bind-html="escapeNull(invoiceReservationData.associated_item.number)|highlight:invoiceSearchData.query:false" class="confirmation-text">{{::invoiceReservationData.associated_item.number}}</span>
                                </span>
                                <span class="confirmation-text" ng-show="invoiceReservationData.associated_item.type === 'POSTING_ACCOUNT'">ACCOUNT. NO.
                                    <span ng-bind-html="escapeNull(invoiceReservationData.associated_item.number)|highlight:invoiceSearchData.query:false" class="confirmation-text">{{::invoiceReservationData.associated_item.number}}</span>
                                </span>
                            </span>

                            <!-- If company is attached to reservation (doesn't have to have routed bill), show:-->
                            <span class="icons icon-guest-travelagent" ng-bind-html="escapeNull(invoiceReservationData.associated_item.travel_agent_card)|highlight:invoiceSearchData.query:false" >{{::invoiceReservationData.associated_item.travel_agent_card}}</span> 

                            <!-- If TA is attached to reservation (doesn't have to have routed bill), show:-->
                            <span class="icons icon-guest-company" ng-bind-html="escapeNull(invoiceReservationData.associated_item.company_card)|highlight:invoiceSearchData.query:false">{{::invoiceReservationData.associated_item.company_card}}</span>

                            <div class="reservation-type red" ng-if="invoiceReservationData.associated_item.type === 'RESERVATION' && invoiceReservationData.associated_item.is_day_use && hotelDiaryConfig.mode !== 'FULL'">D</div>
                            <div class="reservation-type red" ng-if="invoiceReservationData.associated_item.type === 'RESERVATION' && !invoiceReservationData.associated_item.is_day_use && hotelDiaryConfig.mode === 'FULL'">N</div>

                        </div>

                        <!-- Invoice Info -->
                        <div class="invoice-info" ng-click="clickedItem($index, 0)">
                            <div class="number" ng-bind-html="escapeNull(invoiceReservationData.bills[0].invoice_no)|highlight:invoiceSearchData.query:false">{{::invoiceReservationData.bills[0].invoice_no}}</div>
                            <div class="number" ng-bind-html="escapeNull(invoiceReservationData.bills[0].folio_number)|highlight:invoiceSearchData.query:false">{{::invoiceReservationData.bills[0].folio_number}}</div>
                            <div class="balance" ng-class="{'text-red': invoiceReservationData.bills[0].balance === 0}"> <!-- Add class 'text-red' if amount is 0 -->
                                <span class="currency">{{::currencySymbol}}</span>{{::invoiceReservationData.bills[0].balance | number: precisonTwo }}
                            </div>
                            
                        </div>
                        <button type="button" class="button with-icon only-icon" ng-class="getInvoiceButtonClass($index, 0)" ng-click="showFormatBillPopup($index, 0)"> <!-- Clicking this opens {../modals/format-bill.html} -->
                                <span class="icons icon-invoice"></span>
                            
                            </button>
                    </div>
                    <div class="bill" ng-repeat="bill in invoiceReservationData.bills" ng-show="!$first">
                        <!-- Image - Leave blank if it's an additional bill on the same reservation that's not been routed to accompanying guest or company or travel agent -->
                        <!-- If primary guest, output L2 -->
                        

                        <!-- If accompanying guest, output L5-L8 -->
                        <figure class="guest-image accompany" ng-show="bill.routing_details.type ==='GUEST'">
                            <img src="{{::bill.routing_details.image_url}}" alt="" ng-show="bill.routing_details.is_primary"/>
                            <img src="{{::bill.routing_details.image_url}}" alt="" ng-show="!bill.routing_details.is_primary"/>
                        </figure>

                        <!-- If company, output L11 -->
                        <div class="guest-image icons icon-company" ng-show="bill.routing_details.type ==='COMPANY'"></div>

                        <!-- If travel agent, output L13 -->
                        <div class="guest-image icons icon-travel-agent" ng-show="bill.routing_details.type ==='TRAVELAGENT'"></div>

  
                        <!-- Guest / Account Info - Leave blank if it's an additional bill on the same reservation that's not been routed to accompanying guest or company or travel agent -->
                        <div class="data">
                            <h2 ng-bind-html="escapeNull(bill.routing_details.name)|highlight:invoiceSearchData.query:false">{{::bill.routing_details.name}}</h2> <!-- Wrap search match with <span class="highlight"></span> -->
                            <span class="icons icon-guest-company" ng-show="bill.routing_details.type === 'COMPANY'" ng-bind-html="escapeNull(bill.routing_details.address)|highlight:invoiceSearchData.query:false">{{::bill.routing_details.address}}</span>
                            <span class="icons icon-guest-travelagent" ng-show="bill.routing_details.type === 'TRAVELAGENT'" ng-bind-html="escapeNull(bill.routing_details.address)|highlight:invoiceSearchData.query:false">{{::bill.routing_details.address}}</span>
                        <!--     <span class="confirmation"><span class="confirmation-text">{{bill.routing_details.number}}</span> -->

                            <!-- If company is attached to reservation (doesn't have to have routed bill), show:
                            <span class="icons icon-guest-company">{Company Name}</span> -->

                            <!-- If TA is attached to reservation (doesn't have to have routed bill), show:
                            <span class="icons icon-guest-travelagent">{Travel Agent Name}</span> -->

                            <div class="reservation-type red" ng-if="invoiceReservationData.associated_item.type === 'RESERVATION' && invoiceReservationData.associated_item.is_day_use && hotelDiaryConfig.mode !== 'FULL'">D</div>
                            <div class="reservation-type red" ng-if="invoiceReservationData.associated_item.type === 'RESERVATION' && !invoiceReservationData.associated_item.is_day_use && hotelDiaryConfig.mode === 'FULL'">N</div>

                        </div>

                        <!-- Invoice Info -->
                        <div class="invoice-info" >
                            <div class="number" ng-bind-html="escapeNull(bill.invoice_no)|highlight:invoiceSearchData.query:false">{{::bill.invoice_no}}</div>
                            <div class="number" ng-bind-html="escapeNull(bill.folio_number)|highlight:invoiceSearchData.query:false">{{::bill.folio_number}}</div>
                            
                            <div class="balance" ng-class="{'text-red': bill.balance === 0}"> <!-- Add class 'text-red' if amount is 0 -->
                                <span class="currency">{{::currencySymbol}}</span>{{::bill.balance | number: precisonTwo}}
                            </div>
                            
                        </div>
                        <button type="button" class="button with-icon only-icon blue" ng-click="showFormatBillPopup($parent.$index, $index)" ng-class="getInvoiceButtonClass($parent.$index, $index)"> <!-- Clicking this opensss {../modals/format-bill.html} -->
                                <span class="icons icon-invoice"></span>                            
                            </button>
                    </div>
                    <!-- ... repeat L61-L86 for every bill in the reservation/account -->
                </li>
                <!-- ... repeat L60-L88 for every reservation/account -->
            </ul>
        </div>
    </div>
</section>

<div id="search-cards-no-results" class="no-content" ng-show="invoiceSearchFlags.showFindInvoice">
    <div class="info">
        <span class="icon-no-content icon-cards"></span>
        <strong class="h1">Find Invoice</strong>
    <span class="h2">Search by <strong >Invoice or Folio No</strong>, <strong>Account / Guestname</strong> or <strong>Balance Amount</strong></span>
    </div>
</div>

<!-- When search results exist and print button is tapped, add invoice details here -->
<div class="invoice" ng-if="invoiceSearchFlags.isClickedReservation">
    <div ng-include="'/assets/partials/bill/rvPrintBillCard.html'" ></div>
</div>
<div class="invoice" ng-if="!invoiceSearchFlags.isClickedReservation">
    <div ng-include="'/assets/partials/accounts/transactions/rvAccountInvoice.html'" ></div>
</div>