<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2>{{interface + '_HEADER' | translate}}</h2>
        <a ng-click="goBackToPreviousState()" class="action back" translate>BACK</a>
        <div class="actions float pull-right">
            <button type="button" class="button add-data-inline toggle-tab" ng-click="changeTab('SETTING')"
                    ng-class="{'orange' : state.activeTab === 'SETTING', 'white' : state.activeTab !== 'SETTING'}">
                SETTINGS
            </button>
            <button type="button" class="button add-data-inline toggle-tab" ng-click="changeTab('MAPPING')"
                    ng-class="{'orange' : state.activeTab === 'MAPPING', 'white' : state.activeTab !== 'MAPPING'}">
                MAPPINGS
            </button>
            <button type="button" class="button add-data-inline toggle-tab" ng-click="changeTab('SYNC')"
                    ng-class="{'orange' : state.activeTab === 'SYNC', 'white' : state.activeTab !== 'SYNC'}">
                SYNC
            </button>
        </div>
    </header>

    <section class="content-scroll">
        <ng-include src="'/assets/partials/interfaces/hogia/adHogiaSetting.html'"></ng-include>
        <ng-include src="'/assets/partials/interfaces/adMapping.html'"></ng-include>
        <ng-include src="'/assets/partials/interfaces/hogia/adHogiaSync.html'"></ng-include>
    </section>
</div>
