<div class="block-item item-room" ng-controller="reservationRoomStatus" ng-class="addHasButtonClass(reservationData.reservation_card.reservation_status, reservationData.reservation_card.is_upsell_available)" >
  <h3 class="block-title">
        Room
		<span class="block-text" ng-if="shouldShowOriginalRoomType()">Original: {{reservationData.reservation_card.original_room_type_desc}}</span>

      <button ng-controller="staycardController" ng-click="showRoomSharerPopup()" type="button" class="button blue" ng-hide="sharedReservationData.sharers.length === 0">Shared</button>

        <!-- Do Not Move toggle -->

         <div class="move-room" ng-show="showDoNotMoveToggleButton()">
            <label for="lock-room" class="label">Do Not Move</label>
            <div class="switch-button" ng-class="{'on': reservationData.reservation_card.cannot_move_room}" ng-click="toggleDoNotMove()">
                <span class="switch-icon"  ng-class="{'on': reservationData.reservation_card.cannot_move_room}" ></span>
                <button type="checkbox" id="lock-room" ng-model="reservationData.reservation_card.cannot_move_room" >
            </div>
        </div>

  	</h3>

	<!-- Room Assignment screen is not available for 'NOSHOW', 'CHECKEDOUT', 'CANCELED' reservations -->
	<!-- The arrows are removed and room assignment buttons are not clickable in that case -->
	<a class="next-view no-auto-bind" ng-click="goToroomAssignment()" ng-class="getRoomClass(reservationData.reservation_card.reservation_status, reservationData.reservation_card.cannot_move_room)">
		 <strong class="room-number" ng-class="getRoomStatusClass(reservationData.reservation_card.reservation_status, reservationData.reservation_card.room_status, reservationData.reservation_card.fo_status, reservationData.reservation_card.room_ready_status,  reservationData.reservation_card.checkin_inspected_only)" >
		 	 {{reservationData.reservation_card.room_number}}
		 </strong>
		 {{reservationData.reservation_card.room_type_description}}
     <span class="icons icon-room-lock" ng-show="reservationData.reservation_card.cannot_move_room"></span>
	</a>

	<div class="actions">
		<button ng-if="showUpgradeButton" type="button"
				class="button with-icon"
				ng-click="goToRoomUpgrades()"
				ng-disabled="reservationData.reservation_card.is_upsell_available !== 'true'"
				ng-class="{	'loading-content': !isUpsellAvailabilityKnown,
							'brand-colors': reservationData.reservation_card.is_upsell_available === 'true',
							'content-unavailable': reservationData.reservation_card.is_upsell_available !== 'true'}">
			<span class="icons {{reservationData.reservation_card.is_upsell_available === 'true' ? 'icon-upgrade' : 'icon-content-unavailable'}}"></span>
			Upgrade
		</button>

  		<a ng-hide="!showKeysButton(reservationData.reservation_card.reservation_status)" ng-show="showKeysButton(reservationData.reservation_card.reservation_status)" click-touch="clickedIconKey()" id="add-keys" class="button with-icon blue"> <!-- Add attribute data-position="bottom-right" if QR is to be shown -->
    		<span class="icons icon-key"></span>
    		<span ng-show="reservationData.reservation_card.key_settings != 'pin'">Keys</span>
    		<span ng-show="reservationData.reservation_card.key_settings == 'pin'">Pin</span>
  		</a>

	</div>

</div>