<div class="block-item item-rate">
	<div class="block-title">
		<h3> ADR / <strong>Total Room Charge</strong></h3>
	</div>
	<a id="stay-card-total-stay-cost" class="has-arrow next-view hover-hand" ui-sref="rover.staycard.billcard({reservationId:reservationData.reservation_card.reservation_id, clickedButton: viewBillButton})"> 
		<span class="number" ng-show="reservationData.reservation_card.is_rates_suppressed">
			{{reservationData.reservation_card.text_rates_suppressed}} / 
			<strong> {{reservationData.reservation_card.text_rates_suppressed}}</strong>
			
		</span> 
		<span class="number" ng-hide="reservationData.reservation_card.is_rates_suppressed">
			{{currencySymbol}}{{reservationData.reservation_card.avg_daily_rate}} / 
			<strong> {{currencySymbol}}{{reservationData.reservation_card.total_rate}}</strong>
			
		</span> 
	{{reservationData.reservation_card.package_description}} 
	</a>
</div>