<div id="reservation-notes">
	<div class="block-item item-notes has-buttons">
		<div class="block-title">
			<h3>Notes</h3>
		</div>
		<form method="post" id="post_notes" class="float">
			<textarea rows="2" placeholder="Write a note" style="height: 110px;margin-right: 10px;width: 72.8972%;"></textarea>
			<div class="actions action-post-button">
				<button type="button" id="reservation_notes_post" class="button brand-colors post post-button">
					Post
				</button>
			</div>
		</form>
		<ul class="notes">
			<li ng-repeat="notes in reservationData.reservation_card.notes.reservation_notes">
				<figure class="guest-image">
					<img src="notes.user_image" alt="">
				</figure>
				<div class="note-title">
					<h4> {{notes.username}} </h4>
					<time datetime="T">
						<span class="time"> </span>
						<span class="date"> </span>
					</time>
					<span class="topic"> {{notes.topic}} </span>
					<a note_id="409" id="delete_note" class="icons icon-trash">Delete post</a>
				</div>
				<p>
					{{notes.text}}
				</p>
			</li>
		</ul>
	</div>
</div>