<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog" ng-click="clearErrorMessage()" ng-cloak>
<form ng-show="!shouldShowWaiting" method="post" action="cancel-reservation" id="cancel-reservation" name="cancel-reservation" class="modal-content form cancel-reservation" ng-class="{'select-card':ngDialogData.state == 'PENALTY'}"><!-- Add class "select-card" when applying penalty charge -->
    <button class="modal-close" id="modal-close" type="button" ng-click="completeCancellationProcess()"><span class="icons icon-close invert"></span></button>
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>   
    <!-- 1. Cancel Options screen -->
      <fieldset id="cancel-options" ng-if="ngDialogData.state == 'CONFIRM'" ng-show="!DailogeState.isCancelled ">
        <span class="h2 message" ng-show="ngDialogData.penalty > 0" translate> OUTSIDE_CANCELLATION </span>
        <span class="text" ng-show="ngDialogData.penalty > 0">{{'PENALTY_PRE'| translate}} {{ ngDialogData.penaltyText }} {{'PENALTY_POST' | translate}}.</span>

        <div class="entry full-width">
            <label for="cancel-reason">{{'CANCELLATION_REASON'| translate}}(<span translate>OPTIONAL</span>)</label>
            <textarea id="cancel-reason" name="cancel-reason" placeholder="{{'CANCELLATION_REASON_PLACEHOLDER' | translate}}" rows="2" ng-model="cancellationData.reason"/>
        </div> 
        <div class="actions" ng-show="ngDialogData.penalty > 0">
            <button type="button" class="button green" ng-click="applyPenalty()" translate>PENALTY_APPLY</a>
            <button type="button" class="button blue" ng-click="cancelReservation()" translate>PENALTY_SKIP</a>
            <button type="button" class="button blank modal-close" ng-click="closeReservationCancelModal()" translate>CANCEL</button> 
        </div>
        <div class="actions" ng-show="ngDialogData.penalty == 0">            
            <button type="button" class="button blue" ng-click="cancelReservation()" translate>PROCEED</a>
            <button type="button" class="button blank modal-close" ng-click="closeReservationCancelModal()" translate>CANCEL</button> 
        </div>
    </fieldset>

    <!-- 2. Apply penalty screen-->
    <fieldset id="apply-penalty" class="credit-card" ng-show="ngDialogData.state == 'PENALTY'&&!DailogeState.isCancelled" ng-show = "!DailogeState.isCancelled ">
        <strong class="h2 message">Select or Add Credit Card</strong>
        <span class="text">Card will be charged with a {{currencySymbol}}{{ ngDialogData.penalty }} penalty.</span>
        <div id="set-payment" class="payment-form">
            <snt-payment
                    hotel-config="hotelPaymentConfig"
                    workstation-id = "{{workstation_id}}"
                    reservation-id="{{passData.reservationId}}"
                    bill-number="billNumber"
                    payment-types="passData.details.paymentTypes"
                    selected-payment-type="cancellationData.paymentType"
                    selected-c-c="depositDetails.attached_card"
                    amount='ngDialogData.penalty'
                    action-type="CANCEL_RESERVATION_STAYCARD"
                    deposit-policy-name="{{depositPolicyName}}"
                    is-editable='isDepositEditable'
                    is-rate-suppressed='isReservationRateSuppressed'
                    has-permission='hasPermissionToMakePayment()'
                    form-template-url='/assets/partials/payment/rvCancelReservationPartial.html'
                    first-name="{{firstName}}"
                    last-name="{{lastName}}"
                    ng-show="!errorOccured && !depositPaidSuccesFully">
            </snt-payment>
        </div>
    </fieldset>
    <fieldset id="reservation-canceled" ng-show ="DailogeState.isCancelled">
        <span class="h2 message">Reservation cancelled</span>
        <div id="status" ng-show ="DailogeState.successMessage != ''" class="notice success" >{{DailogeState.successMessage}}</div>
        <div id="status" ng-show ="DailogeState.failureMessage != ''" class="notice error">{{DailogeState.failureMessage}}</div>
        <div class="entry full-width" ng-hide="isEmailAttached()">
            <label for="guest-email" translate>EMAIL</label>
            <input name="guest-email" id="guest-email" value="" type="text" autocomplete="off" ng-model="DailogeState.sendConfirmatonMailTo"/>
        </div>
        <div class="actions">
            <button type="button" class="button with-icon Grey" ng-show ="!DailogeState.sendConfirmatonMailTo&&!isEmailAttached()">
                <span class="icons icon-email"></span> 
                {{'EMAIL_CANCELLATION' | translate}}
            </button>
            <button type="button" class="button with-icon blue" ng-show ="DailogeState.sendConfirmatonMailTo||isEmailAttached()" ng-click="sendReservationCancellation()">
                <span class="icons icon-email" ></span>
                {{'EMAIL_CANCELLATION' | translate}}
            </button>
            <button type="button" class="button with-icon blue" ng-show="printCancellationLetter" ng-click="printReservationCancellation()">
                <span class="icons icon-print"></span> 
                {{'PRINT_CANCELLATION' | translate}}
            </button>
            <button type="button" class="button blank" ng-click="completeCancellationProcess()">Close</button> 
        </div>
    </fieldset>
</form>
<div ng-show="shouldShowWaiting" class="modal-content modal-vertical-centered" style="position: relative;padding: 40px;text-align: center;">
	<div class="centeralign alert-box">
		WAITING FOR PAYMENT COMPLETION 
	</div>
	<div class="waiting-payment">&nbsp;</div>
</div>

</div>
<div ng-include="'/assets/partials/reservation/includes/rvCancellationPrintTemplate.html'"></div>