<div class="block-wrapper">
    <a class="block-title toggle has-arrow" ng-class="{'active': !additionalDetails.hideDetails}" ng-click="clickedAdditionalDetails($event)">Additional details</a>
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <div class="block-grid" ng-class="{'hidden': additionalDetails.hideDetails }">        
        <!-- Tax Exempt -->
        <div class="block-item additional-detail item-tax-exempt" ng-if="shouldShowTaxExempt()">
            <h3 class="block-title">Tax Exempt</h3>
            <div class="entry half-width">
                <div class="switch-button" ng-class="{'on': additionalDetails.isTaxExemptEnabled, 'overlay' : reservationData.reservation_card.reservation_status === 'CHECKEDOUT'}" >
                    <div class="click-catcher" style="position:absolute; left:0; right:0; top:0; bottom:0; z-index:999;" ng-click="toggleTaxExempt()"></div>
                    <input type="checkbox" ng-model="additionalDetails.isTaxExemptEnabled" ng-checked="additionalDetails.isTaxExemptEnabled" />
                    <label class="data-off">
                        <span class="value">Off</span>
                        <span class="switch-icon">On</span>
                    </label>
                    <label class="data-on">
                        <span class="switch-icon grey">Off</span>
                        <span class="value">On</span>
                    </label>
                </div>
                <div class="select" ng-class="{'overlay' : reservationData.reservation_card.reservation_status === 'CHECKEDOUT'}" ng-show="additionalDetails.isTaxExemptEnabled"><!-- Remove class 'hidden' when L11 is checked -->
                    <select ng-change="updateTaxExemptData()" 
                            ng-model="additionalDetails.taxExemptType"
                            ng-options="taxExempt.id as taxExempt.name for taxExempt in taxExemptTypes">
                    </select>
                </div>
            </div>
            <div class="entry" ng-show="additionalDetails.isTaxExemptEnabled" ng-class="{'overlay' : reservationData.reservation_card.reservation_status === 'CHECKEDOUT'}"> <!-- Remove class 'hidden' when L11 is checked -->
                <textarea rows="4" maxlength="200" ng-change="doUpdateTaxExemptData()" ng-model="additionalDetails.taxExemptRefText" placeholder="{{'TAX_EXEMPT_REFERENCE' | translate}}"></textarea>
            </div>
        </div>

        <!-- If TA is attached and commission is turned on: -->
        <div class="block-item item-commission additional-detail" ng-if="!isEmptyObject(reservationData.reservation_card.commission_details)">
            <h3 class="block-title">
                {{'COMMISSION' | translate }}
                <span ng-if="reservationData.reservation_card.commission_details.is_prepaid" clas="label" translate>PREPAID</span>
            </h3>
            <div class="entry">
                <div class="switch-button" ng-class="{'on': reservationData.reservation_card.commission_details.is_on}">
                    <div class="click-catcher" style="position:absolute; left:0; right:0; top:0; bottom:0; z-index:999;" ng-click="toggleCommission()" ng-if="::hasPermissionToEditCommission" ></div>
                    <input id="ta-commission" value="1" type="checkbox" checked disabled />
                    <label class="data-off">
                        <span class="value">Off</span>
                        <span class="switch-icon">On</span>
                    </label>
                    <label class="data-on">
                        <span class="switch-icon grey">Off</span>
                        <span class="value">On</span>
                    </label>
                </div>
                <input value="{{reservationData.reservation_card.commission_details.commission_value}}"
                       type="text"
                       ng-model-options="{ updateOn: 'blur' }"
                       ng-model="reservationData.reservation_card.commission_details.commission_value"
                       ng-disabled="::!hasPermissionToEditCommission"
                       ng-change="updateCommissionFromStaycard()" 
                       ng-show="reservationData.reservation_card.commission_details.is_on"/>
                <div class="select" ng-show="reservationData.reservation_card.commission_details.is_on">
                    <select convert-to-number name="travel-agent-commission-type"
                            ng-model="reservationData.reservation_card.commission_details.commission_type"
                            ng-disabled="::!hasPermissionToEditCommission"
                            ng-change="updateCommissionFromStaycard()">
                        <option value="percent">%</option>
                        <option value="amount">{{currencySymbol}}</option>
                    </select>
                </div>
                <div class="select" ng-show="reservationData.reservation_card.commission_details.is_on && reservationData.reservation_card.commission_details.commission_type === 'amount'">
                    <select ng-model="reservationData.reservation_card.commission_details.post_type"
                            ng-change="updateCommissionFromStaycard()">
                        <option value="STAY" translate>PER_NIGHT</option>
                        <option value="NIGHT" translate>PER_STAY</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Reservation Type -->
        <div class="block-item item-type additional-detail">
            <h3 class="block-title">Reservation Type</h3>
            <div class="select">
                <select convert-to-number name="reservation-type" id="reservation-type" ng-class="{'placeholder':reservationParentData.demographics.reservationType == ''}" ng-model="reservationParentData.demographics.reservationType" ng-change="updateAdditionalDetails()" iscroll-stop-propagation>
                    <!-- Add  class="placeholder" when no value option is selected -->
                    <option value="">Select Reservation Type</option>
                    <option ng-repeat="reservationType in otherData.reservationTypes" value="{{reservationType.value}}" ng-selected="reservationType.value==reservationParentData.demographics.reservationType">{{reservationType.name}}</option>
                </select>
                </select>
            </div>
        </div>

        <!-- Market -->
        <div class="block-item item-market additional-detail" ng-if="otherData.marketsEnabled">
            <h3 class="block-title">Market</h3>
            <div class="select">
                <select convert-to-number name="market" ng-class="{'placeholder':reservationParentData.demographics.market == ''}" ng-model="reservationParentData.demographics.market" ng-change="updateAdditionalDetails()" iscroll-stop-propagation>
                    <!-- Add  class="placeholder" when no value option is selected -->
                    <option value="">Select Market</option>
                    <option ng-repeat="market in otherData.markets" value="{{market.value}}" ng-selected="market.value==reservationParentData.demographics.market">{{market.name}}</option>
                </select>
            </div>
        </div>
        <!-- Source -->
        <div class="block-item item-source additional-detail" ng-if="otherData.sourcesEnabled">
            <h3 class="block-title">Source</h3>
            <div class="select">
                <select convert-to-number name="source" ng-class="{'placeholder':reservationParentData.demographics.source == ''}" ng-model="reservationParentData.demographics.source" ng-change="updateAdditionalDetails()" iscroll-stop-propagation>
                    <!-- Add  class="placeholder" when no value option is selected -->
                    <option value="">Select Source</option>
                    <option ng-repeat="source in otherData.sources" value="{{source.value}}" ng-selected="source.value==reservationParentData.demographics.source">{{source.name}}</option>
                </select>
            </div>
        </div>
        <!-- Origin of Booking -->
        <div class="block-item item-origin additional-detail" ng-if="otherData.originsEnabled">
            <h3 class="block-title">Origin of Booking</h3>
            <div class="select">
                <select convert-to-number name="origin" ng-class="{'placeholder':reservationParentData.demographics.origin == ''}" ng-model="reservationParentData.demographics.origin" ng-change="updateAdditionalDetails()" iscroll-stop-propagation>
                    <!-- Add  class="placeholder" when no value option is selected -->
                    <option value="">Select Origin of Booking</option>
                    <option ng-repeat="origin in otherData.origins" value="{{origin.value}}" ng-selected="origin.value==reservationParentData.demographics.origin">{{origin.name}}</option>
                </select>
            </div>
        </div>
        <!-- Market -->
        <div class="block-item item-segment additional-detail" ng-if="otherData.segmentsEnabled">
            <h3 class="block-title">Segment</h3>
            <div class="select">
                <select convert-to-number name="market" ng-class="{'placeholder':reservationParentData.demographics.segment == ''}" ng-model="reservationParentData.demographics.segment" ng-change="updateAdditionalDetails()" iscroll-stop-propagation ng-disabled="additionalDetails.segmentAvailable && isSegmentAutoComputed()">
                    <!-- Add  class="placeholder" when no value option is selected -->
                    <option value="">Select Segment</option>
                    <option ng-repeat="segment in otherData.segments" value="{{segment.value}}" ng-selected="segment.value==reservationParentData.demographics.segment">{{segment.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
