<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog" ng-click="clearErrorMessage()" ng-cloak>
    <form ng-show="!shouldShowWaiting" method="post" action="deposit-required" id="deposit-required" name="deposit-required" class="modal-content form deposit-required">
        <!-- Add class "has-card" when selected card is shown. Add class "select-card" when selecting/entering a credit card. -->
        <button class="modal-close" id="modal-close" type="button" ng-click="closeDialog()"><span class="icons icon-close invert"></span></button>
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <strong class="h2 message" ng-show="!errorOccured && !depositPaidSuccesFully">Deposit required</strong>
        <div class="payment-form">
            <!-- below is the payment directive -->
            <snt-payment reservation-id="{{reservationId}}" payment-types="passData.details.paymentTypes" selected-payment-type="paymentType" attached-cc="depositDetails.attached_card" amount='depositAmount' fee-data="feeData" action-type="DEPOSIT" deposit-policy-name="depositPolicyName" currency-symbol="currencySymbol" is-deposit-editable='true' has-permission-to-make-payment='hasPermissionToMakePayment()' form-template-url='/assets/partials/reservationCard/rvSntDepositPayment.html' ng-show="!errorOccured && !depositPaidSuccesFully">
            </snt-payment>
            <!-- Deposit payment successfully -->
            <div class="feedback no-top-border" ng-show="depositPaidSuccesFully">
                <div class="notice success">Deposit paid!</div>
                <ul class="transaction">
                    <li ng-show="authorizedCode !==''">
                        Your Authorize code is: <span class="auth">{{authorizedCode}}</span>
                    </li>
                    <li ng-if="isShowFees()">
                        Amount paid: <span class="value"> {{currencySymbol}}{{depositAmount}} + {{currencySymbol}}{{feeData.calculatedFee}} fee
                        </span>
                    </li>
                    <li ng-if="!isShowFees()">
                        Amount paid: <span class="value"> {{currencySymbol}}{{depositAmount}}
                        </span>
                    </li>
                </ul>
            </div>
            <!-- Deposit payment failed -->
            <div class="feedback" ng-show="errorOccured">
                <div class="notice error">{{paymentErrorMessage}}</div>
            </div>
            <!-- button actions -->
            <div class="actions">
                <button type="button" class="button blue" ng-show="errorOccured" ng-click="tryAgain()">Try again</button>
                <button type="button" class="button blank modal-close" ng-click="closeDialog()">Close</button>
            </div>
        </div>
    </form>
</div>