<span id="reservation-card-payment" ng-controller="reservationPaymentController">
	<form method="post" class="block-item item-payment float" ng-class="getHasButtonClass(reservationData.reservation_card.reservation_status)" action="">
		<h3 class="block-title">
			{{ 'PAYMENT_METHOD' | translate }}
			<span>
				{{reservationData.reservation_card.guarentee_type}} {{ 'GUARANTEE' | translate }}
			</span>
		</h3>		
		<!-- The credit card selection popup is not available for 'NOSHOW', 'CHECKEDOUT', 'CANCELED' reservations -->
		<a class="next-view open-modal" ng-show="reservationData.reservation_card.payment_method_used == 'CC'" ng-click="openPaymentList()">
			<figure class="card-logo">
				<img src="/assets/{{reservationData.reservation_card.payment_details.card_type_image}}" alt="">
			</figure> 
			<span class="number" > <span translate>ENDING_WITH </span>
				<span id="token-last-value" class="value number"> {{reservationData.reservation_card.payment_details.card_number}} </span> 
			</span> 
			<span class="date" > <span translate>DATE </span>
				<span class="value date"> {{reservationData.reservation_card.payment_details.card_expiry}} </span> 
			</span>
		    <span ng-show="reservationData.reservation_card.payment_details.is_swiped" class="icons icon-swiped">Credit card swiped</span> 
		</a>
		<div  ng-click="openAddNewPaymentModel()" class="actions payment_actions" ng-show="displayButton(reservationData.reservation_card.reservation_status) && reservationData.reservation_card.payment_method_used == 'CC'">
			<a class="button with-icon green" > 
				<span class="icons icon-wallet"></span> {{ 'UPDATE_CC' | translate }}
			</a>
		</div>

		<a class="next-view" ng-show="reservationData.reservation_card.payment_method_used !== 'CC' && reservationData.reservation_card.payment_method_used !== ''" ng-click="openPaymentList()">
	  			<span class="value code"></span>
	  			{{ reservationData.reservation_card.payment_method_description }}
		</a>
		<a class="next-view" ng-show="reservationData.reservation_card.payment_method_used === ''" ng-click="openPaymentList()">
	  			<span class="value code"></span>
	  			{{ 'NOT_DEFINED' | translate }}
		</a>
		<div ng-click="openAddNewPaymentModel()" class="actions payment_actions" ng-show="displayButton(reservationData.reservation_card.reservation_status) && reservationData.reservation_card.payment_method_used !== 'CC'">
			<a class="add-new-button open-modal" > + {{ 'ADD' | translate }}</a>
		</div>
	</form> 
</span>