<div role="dialog" id="modal" class="modal-show">
    <div class="modal-content shared-room">
        <button class="modal-close" id="modal-close" type="button" ng-click="closeDialog()"><span class="icons icon-close invert"></span></button>
        <span class="h2 message">Room {{reservation.reservation_card.room_number}}</span>
        <span class="text">Shared Reservations</span>
        <div class="shared-reservations scrollable"> <!-- Sort this list by name, including the current guest as well -->
            <ul class="wrapper">
                <li ng-if="sharedReservationData.sharers.length > 0 && sharer.active" ng-repeat="sharer in sharedReservationData.sharers" class="active" click-touch="goToSharedReservation(sharer);  closeDialog()">
                    <figure class="guest-image">
                        <img src="{{sharer.guest_details.avatar}}" alt="" />
                    </figure>
                <div class="data">
                    <h2>{{sharer.guest_details.last_name}}, {{sharer.guest_details.first_name}}</h2>
                    <span class="confirmation">{{sharer.confirm_no}}</span>
                </div>
                <span class="guest-status {{getGuestStatusIcon(sharer.reservation_status, sharer.is_opted_late_checkout)}}">{{sharer.reservation_status}}</span>
                </li>

                <!-- Room shared with guests: -->
                <li ng-if="sharedReservationData.sharers.length > 0 && !sharer.active" ng-repeat="sharer in sharedReservationData.sharers"  click-touch="goToSharedReservation(sharer);  closeDialog()">
                    <button type="button"> <!-- If accompany guest add class="accompany" -->
                        <figure class="guest-image"> <!-- If accompany guest add class "accompany" -->
                            <img src="{{sharer.guest_details.avatar}}" alt=""/>
                        <!-- if it's accompanying guest, show this as well:
                        <img src="{accompanying-guest-image-or-avatar}" alt="" />-->
                        </figure>
                        <div class="data">
                            <h2>{{sharer.guest_details.last_name}}, {{sharer.guest_details.first_name}}</h2>
                            <span class="confirmation">{{sharer.confirm_no}}</span>
                        </div>
                        <span class="guest-status {{getGuestStatusIcon(sharer.reservation_status, sharer.is_opted_late_checkout)}}">{{sharer.reservation_status}}</span>
                    </button>
                </li>

            </ul>
        </div>
        <div class="actions">
            <button type="button" class="button blank" ng-click="closeDialog()">Close</button>
        </div>
    </div>
</div>
