/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
@iconNoContent: 	url("cssimg/app/no-content.png");
@iconNoContent2x: 	url("cssimg/app/no-content@2x.png");

@icons: 			url("cssimg/app/app-icons.png");
@icons2x: 			url("cssimg/app/app-icons@2x.png");

@iconsAdmin:        url("cssimg/admin-icons.png");
@iconsAdmin2x:      url("cssimg/admin-icons@2x.png");

@iconKey: 			url("cssimg/app/icon-key.png");
@iconKey2x: 		url("cssimg/app/icon-key@2x.png");

@iconReports:       url("cssimg/app/icon-reports.png");
@iconReports2x:     url("cssimg/app/icon-reports@2x.png");

@iconsTabs: 		url("cssimg/app/tabs-nav.png");
@iconsTabs2x: 		url("cssimg/app/tabs-nav@2x.png");

@iconPrint:         url("cssimg/app/icon-print.png");

@signaturePen: 		url("cssimg/app/pen.cur");
@signatureBck: 		url("cssimg/app/signature.png");

@stars: 			url("cssimg/stars.png");
@stars2x: 			url("cssimg/stars@2x.png");

@starsActive: 		url("cssimg/stars-active.png");
@starsActive2x:		url("cssimg/stars-active@2x.png");

@starsInverted: 	url("cssimg/stars-inverted.png");
@starsInverted2x:	url("cssimg/stars-inverted@2x.png");

@starsMedium: 		url("cssimg/stars-medium.png");
@starsMedium2x:		url("cssimg/stars-medium@2x.png");

@starsLarge: 		url("cssimg/stars-large.png");
@starsLarge2x:		url("cssimg/stars-large@2x.png");

@gcardTexture:      url("cssimg/texture-guest-card.png");
@ccardTexture:      url("cssimg/texture-company-card.png");
@tacardTexture:     url("cssimg/texture-ta-card.png");
@groupcardTexture:  url("cssimg/texture-group-card.png");
@allotmentcardTexture:  url("cssimg/texture-allotment-card.png");

@draggable:         url("cssimg/draggable.cur");
@dragging:          url("cssimg/dragging.cur");

@iconStayCard:      url("cssimg/app/icon-staycard.png");
@iconStayCard2x:    url("cssimg/app/icon-staycard@2x.png");

/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/