/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

/* jQuery UI resizable		==============================*/
	.ui-resizable {
		position: absolute;

		.ui-resizable-handle {
			position: absolute;
			font-size: 0.1px;
			.show;

			&.ui-resizable-s {
				cursor: s-resize;
				height: 20px;
				width: 56px;
				bottom: -10px;
				left: 50%;
				margin-left: -26px;
				background-repeat: no-repeat, repeat;
				background-position: 8px -396px, 0 0;
				.box-shadow(0 2px 2px rgba(0,0,0,.2));
				#border-radius > .bottom(5px);
			}

			&.ui-resizable-e {
				cursor: e-resize;
				height: 50px;
				width: 25px;
				top: 20px;
				right: 0;
				background-repeat: no-repeat, repeat;
				background-position: 5px -3807px, 0 0;
				.box-shadow(1px 1px 1px rgba(0,0,0,.1));
				#border-radius > .right(5px);
			}

			&.ui-resizable-sn,
			&.ui-resizable-w,
			&.ui-resizable-se,
			&.ui-resizable-sw,
			&.ui-resizable-nw,
			&.ui-resizable-se { .hide; }
		}

		&.ui-resizable-disabled,
		&.ui-resizable-autohid {
			.ui-resizable-handle { .hide; }
		}

		&.guest-card {
			.ui-resizable-handle {
				&.ui-resizable-s {
					background-color: @gcard;
					background-image: @icons, @gcardTexture;

					@media @highdpi {
						background-image: @icons2x, @gcardTexture;
						background-size: 120px, 40px;
					}
				}
			}
		}

		&.company-card {
			.ui-resizable-handle {
				&.ui-resizable-s {
					background-color: @ccard;
					background-image: @icons, @ccardTexture;

					@media @highdpi {
						background-image: @icons2x, @ccardTexture;
						background-size: 120px, 40px;
					}
				}
			}
		}

		&.travel-agent-card {
			.ui-resizable-handle {
				&.ui-resizable-s {
					background-color: @tacard;
					background-image: @icons, @tacardTexture;

					@media @highdpi {
						background-image: @icons2x, @tacardTexture;
						background-size: 120px, 40px;
					}
				}
			}
		}

		&.sidebar-left {
			height: 100%;

			.ui-resizable-handle {
				top: auto;
				bottom: 170px;

				&.ui-resizable-e {
					background-image: @icons, @rcardTexture1;

					@media @highdpi {
						background-image: @icons2x, @rcardTexture1;
						background-size: 120px, 40px;
					}
				}
			}
		}
	}

/* jQuery UI datepicker		==============================*/
	.has-datepicker {
		&.entry {
			.ui-datepicker-trigger { top: 28px; }
		}
	}

/* jQuery UI autocomplete	==============================*/
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	z-index: 99999;
	
	&.find-cards {
		max-height: 240px;
		width: auto !important;
		.faux-clickable;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	
		li {
			margin: 0;
			.box-shadow(0 1px 2px rgba(0,0,0,.1));

			a {
				position: relative;
				padding: 10px 20px 10px 50px;
				font-size: 18px;
				line-height: 30px;
				font-weight: 600;
				color: @textColor;
				.show;

				.highlight { color: @logoPrimary; }

				img {
					position: absolute;
					top: 10px;
					left: 10px;
					.square(30px);
					#border-radius > .rounded();
				}
			}
		}
	}

	&.find-rate {
		.faux-clickable;

		li {
			margin: 0;
			.box-shadow(0 1px 2px rgba(0,0,0,.1));

			a {
				padding: 10px;
				font-size: 18px;
				line-height: 30px;
				font-weight: 600;
				color: @textColor;
				.show;

				.highlight { color: @logoPrimary; }
			}
		}
	}
}

.ui-helper-hidden-accessible { .hide; }

/* Modal window				==============================*/
	#modal,
	.inline-modal {
		.modal-content {
			/* Confirmation modal window ***/
			&.confirmation {
				width: 360px;

				input[type="text"] {
					font-size: 18px;
					font-weight: 600;
				}

				.button { 
					margin-bottom: 10px;

					&:last-child { margin-bottom: 0; }
				}

				.actions { margin-top: 20px; }

				&#print-key { width: 400px; }
			}

			/* New content modal window ***/
			&.new-content {
				padding: 0 0 20px 0;
				width: 480px;

				.new-form-title {
					color: @white;
					text-transform: uppercase;
					line-height: 50px;
					vertical-align: middle;
					padding: 0 20px;
					margin-bottom: 20px;
					background: @gcard;
					#border-radius > .top();
					.show;
				}

				.entry { 
					padding: 0 20px; 
					margin-bottom: 20px;
				}

				.actions {
					text-align: center;
					padding: 10px 0;
					.float;

					.button {
						display: inline-block;
						width: auto;
						padding: 0 40px;

						&.blank { 
							padding: 0 20px 0 0; 
							text-align: right; 
						}
					}

					&.break-buttons {
						padding: 0 20px;

						.button {
							&:first-child { margin-right: 10px;}
							&.blank { 
								margin: 10px auto 0 auto;
								text-align: center;
								padding: 0 40px;
								.show; 
							}
						}
					}
				}
			}

			/* Admin content modal window ***/
			&.admin-form {
				padding: 20px;
				width: 480px;

				.admin-title {
					line-height: 40px;
					font-weight: 400;
					margin-bottom: 20px;
					border-bottom: 1px solid rgba(0,0,0,.1);
				}

				.entry { 
					margin-bottom: 20px;

					input { background: @white; }

					.normalInputStyle {
						background: @white !important;
						-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15) !important;
						-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15) !important;
						box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15) !important;
					}
				}

				.actions {
					padding-top: 20px;
					border-top: 1px solid rgba(0,0,0,.1);

					.button {
						margin: 0 auto;
						line-height: 50px;
						.size(50px,200px);
					}
				}
			}

			/* Social lobby reply form ***/
			&.lobby-form,
			&.change-rate-form {
				padding: 0;
				width: 740px;
				.float;

				.post-details {
					color: @white;
					padding: 20px;
					background: @gcard;
					position: relative;
					#border-radius > .top();
					.show;
					.float;

					.data {
						margin-left: 10px;
						.pull-left;
						.calc-width(100, 240); /* %, px */

						.room {
							font-size: 16px;
							font-weight: 600;
							margin-right: 10px; 
							.pull-left;
						}
					
						h1 {
							.h2;
							line-height: 24px;
							font-weight: 600;
							clear: none;
							.pull-left;
						}

						h2 {
							.h4;
							line-height: 26px;
							font-style: italic;
						}

						.job-title {
							font-size: 12px;
							line-height: 26px;
							vertical-align: middle;
							text-transform: uppercase;
							margin-left: 10px; 
							.pull-left;
						}
					}

					.button {
						position: absolute;
						top: 20px;
						right: 20px;
						width: 160px;
					}
				}

				.message { margin-bottom: 20px; }

				.holder {
					padding: 20px 20px 0 20px;
					width: 50%;
					.pull-left;

					.entry { 
						margin-bottom: 20px; 

						&.only-switch { height: 40px; }
					}

					.actions { padding: 0; } 

					&.left {
						position: relative;
						border-right: 1px solid rgba(0,0,0,.1);

						&:after {
							content: "Or";
							position: absolute;
							top: 50%;
							right: -13px;
							font-size: 18px;
							font-weight: 600;
							text-transform: uppercase;
							padding: 10px 0;
							background: @background;
						}
					}

					&.right { clear: right; }
				}

				.actions {
					clear: both;
					padding: 20px 0;

					.button.blank { 
						width: 140px;
						margin: 0 auto;
					}
				}				
			}

			/* Messages & review form ***/
			&.messages-form,
			&.review-form {
				padding: 0;
				width: 480px;
				.float;

				.sender-details {
					color: @white;
					padding: 20px;
					background: @gcard;
					position: relative;
					#border-radius > .top();
					.show;
					.float;

					.data {
						margin-left: 20px;
						overflow: hidden;
						.pull-left;
						.calc-width(100, 70); /* %, px */

						.room {
							font-size: 16px;
							font-weight: 600;
							margin-right: 10px; 
							.pull-left;
						}
					
						h1 {
							.h2;
							line-height: 24px;
							font-weight: 600;
							clear: none;
							.pull-left;
						}

						h2,
						h3 {
							font-size: 14px;
							line-height: 16px;
							font-style: italic;
							max-height: 32px;
						}

						time {
							font-size: 12px;
							line-height: 26px;
							vertical-align: middle;
							text-transform: uppercase;
							margin-left: 10px; 
							.pull-right;
						}

						.review-title {
							.float;

							h2 {
								font-size: 16px;
								font-weight: 600;
								font-style: normal;
								white-space: nowrap;
						  		overflow: hidden;
						  		text-overflow: ellipsis;
								.calc-width(100, 80); /* %, px */
								.pull-left;
							}

							.stars {
								.stars-inverted;
								.pull-right;
							}
						}
					}
				}

				.message { margin-top: 40px; }

				.entry {
					padding: 0 20px;
				}

				.actions {
					padding: 0 20px 20px 20px;
				}
			}

			/* Post charge window ***/
			&.post-charge {
				padding: 0;
				width: 920px;
				height: 580px;
				.float;

				.content-left,
				.content-right {
					position: relative;
					overflow: hidden;
					.size(100%, 50%);
					.pull-left;
				}

				.content-left { 
					padding: 20px 0;
					background: rgba(0,0,0,.05);

					.search-form {
						text-align: left;
						height: 52px;
						padding: 0 0 10px 0;
						margin: 0 20px 10px 20px;
						overflow: hidden;
						background: transparent;
						border-bottom: 2px solid rgba(0,0,0,.1);
						.float;

						.select {
							width: 40%;
							.pull-left;

							select { height: 40px; }
						}

						.entry {
							.calc-width(60, 10); /* %, px */
							.pull-right;
						}
					}
					
					.scrollable { 
						position: absolute;
						left: 20px;
						top: 80px; 
						.calc-width(100, 25); /* %, px */
						.calc-height(100, 100); /* %, px */

						/* custom scrollbars, cant revelage on iscroll */
						overflow: auto;
						-webkit-overflow-scrolling: touch;
						/**/
						&::-webkit-scrollbar {
						  -webkit-appearance: scrollbarthumb-vertical;
						  width: 7px;
						}
						/**/
						&::-webkit-scrollbar-track {
						  background: transparent none;
						}
						/**/
						&::-webkit-scrollbar-thumb {
						  width: 7px;
						  background: rgba(0, 0, 0, 0.5);
						  box-sizing: border-box;
						  border: 1px solid rgba(255, 255, 255, 0.9);
						  border-radius: 3px;
						}

						li {
							margin: 0 10px 10px 0;

							.button {
								position: relative;
								text-align: left;
								text-transform: none;
								line-height: 26px;
								min-height: 50px;
								padding: 12px 80px 6px 10px;

								.highlight { color: @logoPrimary; }

								.count {
									position: absolute;
									top: 15px;
									right: 100px;
									color: @white;
									background: @logoPrimary;
									text-align: center;
									font-size: 12px;
									line-height: 20px;
									font-weight: 600;
									.show;
									// no width and padding will allow
									// design to show counts more than 99
									height: 20px;
									padding: 0 7px;
									#border-radius > .rounded(20px);
								}

								.price {
									position: absolute;
									top: 0;
									right: 10px;
									font-size: 24px;
									line-height: 50px;
									font-weight: 300;
								}
							}
						}

						.iScrollVerticalScrollbar {
							top: 0;
							right: 7px;
							bottom: 0;
						}
					}
				}

				.content-right {
					position: relative;
					padding: 20px;

					.no-content {
						position: static;
						.calc-height(100, 80); /* %, px */

						.h1 { 
							font-size: 24px; 
							margin: 0;
						}
					}

					.scrollable { 
						position: relative;
						width: 100%;
						height: auto;
						max-height: 190px;

						/* custom scrollbars, cant revelage on iscroll */
						overflow: auto;
						-webkit-overflow-scrolling: touch;
						/**/
						&::-webkit-scrollbar {
						  -webkit-appearance: scrollbarthumb-vertical;
						  width: 7px;
						}
						/**/
						&::-webkit-scrollbar-track {
						  background: transparent none;
						}
						/**/
						&::-webkit-scrollbar-thumb {
						  width: 7px;
						  background: rgba(0, 0, 0, 0.5);
						  box-sizing: border-box;
						  border: 1px solid rgba(255, 255, 255, 0.9);
						  border-radius: 3px;
						}

            			> .wrapper { padding-bottom: 2px; }

						li {
							position: relative;
							margin: 0 10px 0 0;
							padding: 5px;
							text-align: left;
							line-height: 1.1em;
							font-weight: 600;
							cursor: pointer;
							.transition;

							span {
								color: @grey3;
								font-weight: 400;

								&.base {
									font-size: 14px;
									.show;
								}

								&.price,
								&.value { color: @textColor; }

								&.price {
									position: absolute;
									top: 5px;
									right: 5px;
								}
							}

							&.selected { .faux-clickable; }
						}

						.iScrollVerticalScrollbar {
							top: 0;
							right: 5px;
							bottom: 0;
						}
					}

					#total-charge {
						border-top: 2px solid rgba(0,0,0,.1);
						padding-top: 10px;
						padding-right: 15px;
						font-weight: 600;
						line-height: 30px;
						width: auto;
						.float;
						
						.price {
							font-size: 30px;
							font-weight: 300;
							.pull-right;
						}
						
						&.offset-1 { top: 140px; }
						/*&.offset-2 { top: 185px; }*/
						&.offset-3 { top: 230px; }
					}

					#numpad {
						position: absolute;
						left: 20px;
						top: 334px;
						.square(230px);
						.float;

						.button {
							display: inline-block;
							padding: 0;
							.square(50px);
						}

						#numpad-numbers {
							width: 175px;
							.pull-left;

							.button {
								font-size: 30px;
								font-weight: 400;
								margin: 0 5px 5px 0;

								&.small { font-size: 18px; }
							}
						}

						#numpad-options {
							width: 50px;
							.pull-left;

							.button {
								font-size: 16px;
								font-weight: 600;
								margin: 0 0 5px 0;

								&.selected {
									color: @white;
									text-shadow: 1px 1px 0 rgba(0,0,0,.15);
									.box-shadow(inset 0 -1px 0 rgba(0,0,0,.2));
									.button > .brand-colors;
								}
							}
						}	
					}

					.actions {
						position: absolute;
						right: 20px;
						bottom: 20px;
						.calc-width(100, 280); /* %, px */
					}
				}
			}

			/* Key delivery form ***/
			&.key-delivery {
				padding: 0;
				width: 670px;
				#border-radius > .rounded();
				.float;

				#room-status,
				#key-status {
					position: relative;
					padding: 20px;
					text-align: center;
					-webkit-box-sizing: content-box;
					-moz-box-sizing: content-box; 
					box-sizing: content-box;
					.pull-left;
					.calc-width(50, 40); /* %, px */

					&.connecting { height: 260px; }
					&.not-connected { height: 320px; }
					&.connected { height: 420px; }
					&.completed { height: 320px; }
				}

				#room-status {
					color: @white;

					.message { 
						position: absolute;
						top: 20px;
						left: 0;
						width: 100%;
					}

					h1 {
						display: inline-block;
  						vertical-align: middle;
  						font-size: 30px;
						line-height: 50px;
						font-weight: 700;
						
						span { 
							font-size: 72px;
							font-weight: 300;
							.show; 
						}

						&.icon-key { padding-top: 100px; }
					}

					&:before {
						content: "";
						display: inline-block;
						height: 100%;
						vertical-align: middle;
						margin-right: -0.25em; /* Adjusts for spacing */
					}

					.number {
						position: absolute;
						left: 0;
						bottom: 20px;
						width: 100%;
					}
				}

				#key-status {
					.info {
						color: @grey3;
						font-size: 18px;
						.show;
					}

					.action {
						margin-bottom: 20px;

						.info { padding: 60px 0;}

						.button:last-child { margin-top: 10px; }
					}

					.qr-holder { 
						position: absolute;
						bottom: 20px;
						left: 0;
						width: 100%;

						.info { margin-bottom: 10px; }

						img {
							width: 203px;
							height: auto;
						}
					}

					&.print-key {

						.status { 
							padding-top: 120px;
							font-size: 14px;
							.show; 

							&.pending { 
								color: @logoPrimary; 
								margin-top: 40px;
							}

							&.error { 
								color: @red; 
								margin: 20px 0;
							}
							
							&.success { 
								color: @green; 
								margin-top: 30px;
							}
						}

						#print-keys {
							margin-top: 20px;

							label:not(.only-number) { text-align: left; }

							.only-number {
								.checkbox;
								padding: 0;
								line-height: 50px;
								.pull-left;
								.no-transition;

								&.printed { .gradient(@greenStart, @greenEnd); }
							}
						}

						&.connecting { 
							.pending { #blink > .infinite(); }
						}
						
						&.not-connected { 
							.info { color: @red; }
							.action { margin: 0; }						
						}
						
						&.connected { 
							.info { color: @green; }
						}

					}
				}

				&.check-in {
					#room-status { background: @green; }
					.scan-key { height: 420px; }
					.key-sent { height: 340px; }

					.print-key {
						&.not-connected { 
							.info { padding: 65px 0; }
						}

						&.completed { 
							.info { padding: 65px 0; }
						}
					}
				}

				&.inhouse,
				&.check-out,
				&.late-check-out {
					.scan-key { height: 340px; }
					.print-key {
						&.not-connected { 
							.info { padding: 95px 0; }
						}

						&.completed { 
							.info { padding: 95px 0; }
						}
					}

					&.inhouse {
						#room-status { background: @blue; }
					}

					&.check-out,
					&.late-check-out {
						#room-status { background: @red; }
					}
				}
			}

			/* CC modal ***/
			&.card-content {
				width: 840px; 

				.active-item {
					position: relative;
					padding: 0 20px;
					margin-bottom: 10px;
					line-height: 50px;
					vertical-align: middle;
					.clickable;
					.float;

					.card-logo { 
						margin: 10px 10px 0 0; 
						.pull-left;
					}

					> span {
						
						&.number,
						&.date,
						&.name { 
							margin-right: 20px; 
							.pull-left;
						}

						&.number { width: 150px; }
						&.date { width: 100px; }
						&.name {
							width: 220px;

							.value {
								width: 170px;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
							}
						}

						&.in-gc { 
							width: 90px;
							margin-right: 0;
							.pull-right;
						}

						&.primary {
							position: absolute;
							top: 0;
							right: 105px;
							margin-right: 0;
						}
					}

					&.primary {
						.value { font-weight: 600; }
					}
				}
			}

			/* Pay bill ***/
			&.pay-bill {
				.size(390px, 320px);

				.payment-info { .show; }

				.credit-card { 
					 .hide; 

		            .select-card,
		            .new-card {
		            	#fade > .in;
		            	.transition;

		            	&.hidden { #fade > .out; }
		            }

		            .select-card {
		            	.cards-list {
							position: relative;
							height: 320px;

							.wrapper { padding: 0 10px 0 0; }
							.iScrollVerticalScrollbar { 
								top: 0;
								bottom: 0;
								right: 0;
							}

							.active-item {
								position: relative;
								line-height: 50px;
								padding: 0 10px;
								.clickable;

								> span {
									margin-right: 10px;

									&.number { width: 150px; }
									&.date { width: 100px; }
									&.name { width: 220px; margin-right: 0; }

									&.primary {
										position: absolute;
										top: 0;
										right: 10px;
										margin-right: 0;
									}
								}

								.card-logo { margin-right: 10px; }
							}
						}
		            }

		            .new-card {
		            	.holder {
							.entry {
								width: 40%;

								input {
									&:nth-of-type(2) { margin-left: 10px; }
								}

								&.margin {
									margin-right: 40px;
									.calc-width(60, 40);
								}

								&.full-width { 
									margin: 0; 

									.checkbox { margin-bottom: 0; }
								}
							}
						}

						.actions {
							margin-top: 20px;
							text-align: center;
							.float;

							.button {
								display: inline-block;
								width: auto;
								padding: 0 40px;

								&.blank { 
									padding: 0 20px 0 0; 
									text-align: right; 
								}
							}
						}	
		            }	
				}

				.actions { 
					margin-top: 20px; 
					padding-top: 20px;
					border-top: 1px solid rgba(0,0,0,.1);
				}

				&.card-attached {
					.size(480px, 420px);

					.active-item {
						line-height: 50px;
						padding: 0 10px;
						margin: 0;
						.clickable;

						> span {
							&.number { width: 150px; }
							&.date { width: 100px; margin-right: 0; }
						}

						.card-logo { margin-right: 20px; }
					}
				}

				&.select-card {
					.size(560px, 720px);

					.payment-info { .hide; }
					.credit-card { .show; }				
				}

				&.new-card {
					.size(440px, 480px);

					.payment-info { .hide; }
					.credit-card { .show; }
				}
			}

			/* Grid modal ***/
			&.grid {
				padding: 20px;
				width: 550px;
				
				.grid-wrapper {
					.float;

					.holder {
						.pull-left;

						.entry { 
							width: 60px;

							label {
								margin-bottom: 0;
							}
						}

						&.left {
							width: 100px;

							.entry {
								margin: 0;

								&.move {
									width: 40px;

									.icon-mover-right {
										margin-top: 25px;
										cursor: pointer;
										.hide-text;
										.square(40px);
									}
								}

								input { font-weight: 700; }
							}
						}

						&.right {
							width: 410px; 

							.entry { 
								margin: 0 10px 20px 0;

								&:nth-child(6n) { margin-right: 0; }
							}
						}
					}
				}

				.actions {
					margin-top: 20px;
					text-align: center;

					.button { 
						display: inline-block;
						width: auto;

						&.green { padding: 0 40px; }
					}
				}
			}
			
			/* Reservation confirmation modals ***/
			&.rooms-and-rates {
				width: 360px;

				.confirmed {
					margin: 40px 0;

					li {
						font-weight: 600;
						text-transform: uppercase;
						margin-bottom: 10px;
						text-align: center;

						.count {
							color: @grey3;
							font-weight: 400;
							margin-left: 5px;
						}

						&.booked { color: @green; }

						&:last-child { margin-bottom: 0; }
					}
				}

				.actions {
					.button {
						margin-bottom: 10px;

						&:last-child { margin-bottom: 0; }
					}
				}
			}

			&.room-enhancements {
				width: 420px;

				.enhancements-added {
					margin: 40px 0;

					li {
						font-weight: 600;
						text-transform: uppercase;
						padding-bottom: 10px;
						margin-bottom: 10px;
						border-bottom: 1px solid rgba(0,0,0,.1);
						.float;

						.count {
							color: @grey3;
							font-weight: 400;
							margin-left: 5px;
						}

						.icon-trash {
							cursor: pointer;
							.pull-right;
						}

						&:last-child { 
							margin-bottom: 0; 
							padding-bottom: 0;
							border: 0;
						}
					}
				}

				.actions {
					.button {
						margin-bottom: 10px;

						&:last-child { margin-bottom: 0; }
					}
				}
			}

			/* New card ***/
			&.new-card {
				.button {
					padding: 0 40px;
					margin-bottom: 10px;

					&.blank { margin-bottom: 0; }
				}
			}
		}
	}

	/* SPL_CASE: Auto-close notice message inside post charge ***/
	#modal .modal-content.post-charge .content-right {
		.notice {
			position: absolute;
			z-index: 10;
			right: 20px;
			left: 20px;
		}
	}

/* iScroll Scrollbar		==============================*/
	.iScrollVerticalScrollbar {
		position: absolute;
		width: 4px;
		top: 20px;
		right: 5px;
		bottom: 20px;
		z-index: 99;
		
		.iScrollIndicator {
			position: absolute;
			width: 100%;
			background: @logoGradientStart;
			#border-radius > .rounded(4px);
		}
	}

	.iScrollHorizontalScrollbar {
		position: absolute;
		height: 4px;
		left: 5px;
		right: 5px;
		top: 10px;
		z-index: 99;

		.iScrollIndicator {
			position: absolute;
			height: 100%;
			background: @logoGradientStart;
			#border-radius > .rounded(4px);
		}
	}

/* SignaturePad				==============================*/
	#signature-pad {
		height: 300px;
		overflow: hidden;
		width: 100%;

		.sigWrapper {
			clear: both;
		  	height: 140px;
		  	padding: 10px;
		  	margin-bottom: 20px;
		  	background: @white;
			.box-shadow(inset 1px 1px 1px rgba(0,0,0,.5));
			#border-radius > .rounded(5px);
			.show;

			.pad {
				position: relative;
			  	cursor: @signaturePen, crosshair;
			  	cursor: @signaturePen 16 16, crosshair;
				-ms-touch-action: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
			}
		}
	}

/* FullCalendar				==============================*/
	
	/* Header ***/
		.fc-header {
			margin-bottom: 0;

			td {
				background-color: @white;
				white-space: nowrap;
		  		overflow: hidden;
		  		text-overflow: ellipsis;
		  		line-height: 40px;
		  		height: 50px;
		  		padding: 5px 0;
		  		vertical-align: middle;

		  		&.fc-header-left {
		  			width: 40px;
					text-align: left;
					#border-radius > .left();
					.box-shadow(-1px 1px 0 rgba(0,0,0,.15));
		  		}

		  		&.fc-header-center {
					text-align: center;
					.box-shadow(0 1px 0 rgba(0,0,0,.15));

					h2 { 
						font-size: 18px;
						font-weight: 600;
						text-transform: uppercase;
					}
				}
					
				&.fc-header-right {
					width: 40px;
					text-align: right;
					#border-radius > .right();
					.box-shadow(1px 1px 0 rgba(0,0,0,.15));
				}

				.fc-button {
					overflow: hidden;
					cursor: pointer;
					.show;
					.hide-text;
					.square(40px);

					.fc-text-arrow,
					&.fc-state-disabled { .hide; }
				}
			}
		}

	/* Content ***/
		.fc-content {
			clear: both;
			zoom: 1;
			#fade > .in(); 

			.fc-view {
				width: 100%;
				overflow: visible;
			}

			&.updating {
				#fade > .out(); 
			}
		}

	/* Dates ***/
		.fc-day-number {
			font-size: 18px;
			font-weight: 600;
			text-align: right;
			z-index: 99;
			padding: 2px 7px 0 0;
			.size(20px, 100%);
			.pull-right;
		}

		.fc-day-content {
			width: 60px !important;
			height: 50px !important;
			background: rgba(0,0,0,.1);
		}

		.fc-event {
			z-index: 9;

			.fc-event-inner {
				overflow: hidden;
				width: 60px !important;
				height: 50px !important;
				#border-radius > .rounded();
				.show;

				.fc-event-title,
				.fc-event-day {
					text-align: right;
					line-height: 25px;
					padding-right: 5px;
					z-index: 99;
					.show;
					.size(25px, 100%);
					.pull-right;
				}

				.fc-event-day {
					font-size: 18px;
					font-weight: 600;					
				}

				.fc-event-title {
					font-size: 12px;
					vertical-align: bottom;
				}
			}

			&.check-in { 
				z-index: 990;
				
				.fc-event-inner {
					cursor: pointer;
					background: @green; 

					.fc-event-day,
					.fc-event-title { color: @white; }
					.fc-event-title { 
						background: @icons no-repeat 5px -115px; 

						@media @highdpi {
							background-image: @icons2x;
							background-size: 120px;
						}
					}
				}
			}

			&.check-out { 
				z-index: 999;

				.fc-event-inner {
					cursor: pointer;
					background: @red; 

					.fc-event-day,
					.fc-event-title { color: @white; }
					.fc-event-title { 
						text-indent: 9999px; 
						background: @icons no-repeat 5px -155px; 

						@media @highdpi {
							background-image: @icons2x;
							background-size: 120px;
						}
					}
				}
			}

			&.mid-stay { 
				.fc-event-inner {
					position: relative;
					background: rgba(137,189,85,.2);
					
					.fc-event-day,
					.fc-event-title { color: @green; }

					&:after {
						content: "";
						position: absolute;
						top: 0;
					    left: 0;
					    bottom: 0;
					    right: 0;
    					z-index: -1;  
						background-image: @textureImage;
						background-repeat: repeat;
						background-size: 40px;
					}
				}
			}

			&.type-available {
				.fc-event-inner {
					border: 3px solid @green;
					.background();

					.fc-event-day { color: @textColor; }
					.fc-event-title { color: @grey3; }
				}
			}

			&.house-unavailable {
				.fc-event-inner {
					.background();

					.fc-event-day { color: @red; }
					.fc-event-title { color: @red; }

					&:after {
						content: ' ';
					    position: absolute;
					    left: 0;
					    right: 0;
					    top: 0;
					    bottom: 0;
					    background-color: rgba(230,56,56,.3);
					}
				}
			}

			&.split-view {
				
				/* Vertical split
				.fc-event-inner { width: 30px !important; }
				&.check-in {
					.fc-event-inner {
						.fc-event-day { 
							text-indent: 9999px; 
							background: @icons no-repeat 7px -115px; 

							@media @highdpi {
								background-image: @icons2x;
								background-size: 120px;
							}
						}

						.fc-event-title { background: transparent; }
					}
				}
				&.check-out {
					margin: -50px 0 0 30px !important;
				}  ***/

				/* Horizontal split ***/
				.fc-event-inner { height: 25px !important; }
				&.check-in {
					.fc-event-inner {
						.fc-event-title { 
							margin-top: -25px;
							text-indent: 9999px; 
						}
					}
				}
				&.check-out {
					.fc-event-inner {
						.fc-event-title { text-indent: 0; }
						.fc-event-day { .hide; }
					}
				}  

				/* Restore looks when dragging ***/
				&.ui-draggable-dragging {
					.fc-event-inner { height: 50px !important; }
					&.check-in {
						.fc-event-inner {
							.fc-event-title { 
								margin-top: 0;
								text-indent: 0; 
							}
						}
					}
					&.check-out {
						.fc-event-inner {
							.fc-event-title { text-indent: 9999px; }
							.fc-event-day { .show; }
						}
					} 
				}
			}

			&[data-rate]:not([data-rate=""]):not(.hide-tooltip) {
				.show;
				white-space: pre;

				&:before,
				&:after {
					visibility: hidden;
					pointer-events: none;
					.transition;
					.opacity(0);
				}

				&:before {
					content: attr(data-rate); 
					position: absolute;
					bottom: 49px;
					right: 10px;
					padding: 10px;
					background-color: @white;
					font-size: 18px;
					font-weight: 600;
					min-width: 200px;
					.show;
					.box-shadow();
					#border-radius > .rounded();
				}

				&:after {
					content: "";
					position: absolute;
					bottom: 40px;
					left: 20px;
					width: 0;
					height: 0;
					border-top: 10px solid @white;
					border-right: 10px solid transparent;
					border-left: 10px solid transparent;
				}

				&:hover:before,
				&:hover:after {
					visibility: visible;
					.opacity(100);
				}

				&[data-room-type]:not([data-room-type=""]) {
					&:before { content: attr(data-room-type) "\A" attr(data-rate);  }
				}
			}
		}		
	
	/* Calendar table ***/
		table.fc-border-separate {
			width: 100%;
			margin: 0 0 5px 0;

			thead {
				th {
					color: @grey3;
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
					line-height: 30px;
					vertical-align: middle;
				}
			}

			tbody {
				tr {
					td {
						padding: 0 5px 5px 0;
						width: 60px !important;
						height: 50px !important;

						&:nth-child(7n) { padding-right: 0; }

						> div {
							width: 60px !important;
							height: 50px !important;
							overflow: hidden;
						}

						&.fc-other-month {
							.fc-day-number { .opacity(30); }
						}
					}

					&.fc-last {
						td { padding-bottom: 0; }
					}
				}
			}
		}

/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/