/* 1. ROOT
==========================================================*/

body { background-size: 40px, 100%, 100%; }

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* Search page 				==============================*/
	.search-results {
		a {
			.data {
				span,
				em {
					&.icon-location { padding-left: 15px; }
					&.icon-group { padding-left: 20px; }
				}
			}
		}
	}

/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/