#smartband{
	height: 571px;
	width: 607px !important;

	.header{
		background: none repeat scroll 0 0 #F5F5F5;
	    padding: 14px 16px 16px 28px;
	    height: 80px;
	    border-bottom: 1px solid #D7D7D7;
	    display: block;
	    width: 100%;	    
		box-shadow: .5px .5px 0 rgba(0, 0, 0, 0.15);
	    
	    span.heading{
			color: #000000;
		    display: block;
		    float: left;
		    font-size: 25px;
		    font-weight: bold;
		    padding-top: 14px;
		    width: auto;
	    }

	    #add-new-button{
	    	height: 50px !important;	    	
	    	width: 179px !important;		
			float: right;
			font-size: 15px;		
	    }

	    #see-all-band-button{		    		
			display: inline-block; 
			float: right;
    		font-size: 15px;	
    		height: 50px !important;
    		width: 40%;		
	    }	    
	}	

	.middle{

		padding-top: 3px;
		height: 420px;		
		background-color:  #DCDCDC;
		display:block;
		position: absolute;
		li{

			background-color: #fcfcfc;
			border-radius: 1.5px;
			box-shadow: .5px .5px 1px 0px rgba(0, 0, 0, 0.15);
			width: 586px;
			height: 50px;

			padding: 7px 7px 7px 9px;
			margin: 5px 15px  5px 5px;
			
			span.smartband-icon{
				width: 48px;
				height: 35px;
				background-image:url('/assets/smartband_icon_small.png');
				background-repeat: no-repeat;
				display: inline-block;
				float: left;
			}
			span.band-holder {
				color: #4174d2;
				font-size: 21.5px;
				font-weight: bold;
				height: 16.5px;
				margin-left: 14px;
				padding-top: 9px;
				display: inline-block;
			}
			span.charge{
				color: #202225;
				font-size: 20px;
				font-weight: Light;
				padding-top: 10px;
				padding-right: 10px;
				display: inline-block;
				float: right;
			}	
		}
	}


	.footer{
		background: none repeat scroll 0 0 #F5F5F5;
	    color: #000;
	    display: inline-block;
	    vertical-align: middle;
	    width: 100%;
	    padding: 2%;
	    height: 70px;
	    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15) inset;
	    a#close-popup{
	    	display: block;
	    	width: 100%;
	    	text-align: center;
	    	color: #000;
	    	text-transform: uppercase;
	    }
	}

	.add-new{
		padding: 3% 5% 6% 5%;		
	}


}