<div>
	<!-- Navbar -->
	<header class="nav-bar float" role = "banner">
		<!-- Drawer toggle -->
		<a class="nav-toggle active" ng-click="$emit('navToggled')" ng-class="{'active': true}">Menu</a>
		<!-- Title -->
		<h1 class="h2"> Dashboard <span><strong> {{userDetails.first_name}}
			{{userDetails.last_name}} </strong> | <em class="date"> {{userDetails.business_date | date:'EEEE, d MMMM y'}}</em></span>

			<!-- Late checkout --></h1><a id="late-checkout-alert" ui-sref="rover.search" class="icons icon-alert late-check-out"> {{lateCheckoutDetails.late_checkout_count}} </a>
		<div class="logo">
			<img alt = "", src= "{{userDetails.logo}}" />
		</div>
		<!-- Right side button -->
	</header>
	<section id="dashboard" class="content scrollable" role = "main">
		<div class="wrapper">
			<h2>{{greetingsMessage}} {{userDetails.first_name}}! </h2>
			<ul id="guests-today">
				<li>
					<a class="button green" ui-sref="rover.search">Checking in <strong> {{dashboardData.due_in_count?dashboardData.due_in_count:0}} </strong> </a>
				</li>
				<li>
					<a class="button blue" ui-sref="rover.search"> In house <strong> {{dashboardData.inhouse_count?dashboardData.inhouse_count:0}} </strong> </a>
				</li>
				<li>
					<a class="button red" ui-sref="rover.search"> Checking out <strong> {{dashboardData.due_out_count?dashboardData.due_out_count:0}} </strong> </a>
				</li>
			</ul>
			<ul id="stats-today" class="upsell_on">
				<li>
					Guest review score
					<span ng-show="dashboardData.guest_review_score">{{dashboardData.guest_review_score}}</span>
					<span ng-hide="dashboardData.guest_review_score" class="no-data"> No data available </span>
				</li>
				<li>
					Upsell target
					<span class="blue"> {{currencySymbol}}{{dashboardData.upsell_target?dashboardData.upsell_target:0}} </span>
				</li>
				<li>
					Actual upsell
					<span class="red">{{currencySymbol}}{{dashboardData.actual_upsell?dashboardData.actual_upsell:0}}</span>
				</li>
				<li>
					VIP checkin's
					<span>{{dashboardData.vip_checkin_count?dashboardData.vip_checkin_count:0}}</span>
				</li>
				<li>
					Rooms for upsell
					<span>{{dashboardData.rooms_for_upsell?dashboardData.rooms_for_upsell:0}}</span>
				</li>
				<li>
					Rooms upsold
					<span>{{dashboardData.rooms_upsold?dashboardData.rooms_upsold:0}}</span>
				</li>
				</li>
			</ul>
		</div>

	</section>
</div>