<div id="dashboard-adr" class="dashboard-block data">
    <h3>ADR</h3>
    <ul>
        <li>Today<span>{{currencySymbol}}{{statisticsData.adr.today}}</span></li>
        <li>{{tomorrow|date:monthAndDate}}<span>{{currencySymbol}}{{statisticsData.adr.tomorrow}}</span></li>
        <li>{{dayAfterTomorrow|date:monthAndDate}}<span>{{currencySymbol}}{{statisticsData.adr.day_after_tommorow}}</span></li>
        <li>{{userInfo.business_date|date:fullMonth}}<span>{{currencySymbol}}{{statisticsData.adr.current_month}}</span></li>
        <li>{{userInfo.business_date|date:fullYear}}<span>{{currencySymbol}}{{statisticsData.adr.current_year}}</span></li>
    </ul>
</div>