<!-- IF ANALYTICS FEATURE TOGGLE IS ON  -->
<div ng-if="analyticsDashboardEnabled" ng-controller="RVhouseKeepingDashboardController">
    <div ng-include="'/assets/partials/search/rvSearchRoomWidgetWithAnalytics.html'"></div>
    <!-- SUMMARY VIEW -->
    <section id="dashboard" class="content scrollable" role = "main"
             ng-iscroll='dashboard_scroller' ng-iscroll-delay="100"
             ng-show="showDashboard"
             ng-if="!dashboardFilter.analyticsActive">
        <div class="wrapper">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbHouseKeepingRoomsSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbOccupancyHouseKeepingSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
        </div>
    </section>
<div  ng-if="dashboardFilter.analyticsActive" ng-controller="rvAnalyticsMainController">
    <!-- ANALYTICS VIEW -->
    <section id="dashboard" class="content scrollable analytics analytics-summary"
             role="main"
             ng-iscroll="analytics_scroller" ng-iscroll-delay="100"
             ng-if="dashboardFilter.displayMode === 'DASHBOARD_LIST' && !dashboardFilter.gridViewActive" ng-include="'/assets/partials/analytics/rvAnalyticsMain.html'">
     </section>

    <section id="dashboard" class="content scrollable analytics"
             role="main"
             ng-iscroll="analytics_details_scroller" ng-iscroll-delay="100"
             ng-if="dashboardFilter.displayMode === 'CHART_DETAILS' && !dashboardFilter.gridViewActive" ng-include="'/assets/partials/analytics/rvAnalyticsMain.html'">
     </section>
</div>

<!-- IF ANALYTICS FEATURE TOGGLE IS OFF AND CODE TO BE DELETED AFTER SOME RELEASES  -->
<div ng-if="!analyticsDashboardEnabled">
    <div ng-include="'/assets/partials/search/rvSearchRoomWidget.html'"></div>

    <section id="dashboard" class="content scrollable" role = "main"
             ng-iscroll='dashboard_scroller' ng-iscroll-delay="100"
             ng-show="showDashboard" ng-controller="RVhouseKeepingDashboardController">
        <div class="wrapper">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbHouseKeepingRoomsSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbOccupancyHouseKeepingSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
        </div>
    </section>
</div>
