<!-- IF ANALYTICS FEATURE TOGGLE IS ON  -->
<div ng-if="analyticsDashboardEnabled" ng-controller="RVhouseKeepingDashboardController">
    <div ng-include="'/assets/partials/search/rvSearchRoomWidgetWithAnalytics.html'"></div>
    <!-- SUMMARY VIEW -->
    <section id="dashboard" class="content scrollable" role = "main"
             ng-iscroll='dashboard_scroller' ng-iscroll-delay="100"
             ng-show="showDashboard"
             ng-if="!dashboardFilter.analyticsActive">
        <div class="wrapper">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbHouseKeepingRoomsSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbOccupancyHouseKeepingSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
        </div>
    </section>
    <!-- ANALYTICS VIEW -->
    <section id="dashboard" class="content scrollable analytics" role="main"
             ng-if="dashboardFilter.analyticsActive">
            <ng-include src="'/assets/partials/analytics/rvHouseKeepingAnalytics.html'" ng-controller="RVHouseKeepingAnalyticsController">
            </ng-include>
    </section>
</div>

<!-- IF ANALYTICS FEATURE TOGGLE IS OFF AND CODE TO BE DELETED AFTER SOME RELEASES  -->
<div ng-if="!analyticsDashboardEnabled">
    <div ng-include="'/assets/partials/search/rvSearchRoomWidget.html'"></div>

    <section id="dashboard" class="content scrollable" role = "main"
             ng-iscroll='dashboard_scroller' ng-iscroll-delay="100"
             ng-show="showDashboard" ng-controller="RVhouseKeepingDashboardController">
        <div class="wrapper">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbHouseKeepingRoomsSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbOccupancyHouseKeepingSection.html'"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
        </div>
    </section>
</div>
