<div ng-include="'/assets/partials/search/rvManagerDashboardSearchReservations.html'"></div>

<section id="dashboard" class="content scrollable" role = "main"
ng-iscroll='dashboard_scroller' ng-iscroll-delay="100"
ng-show="showDashboard" ng-click="clearErrorMessage()">
	<div class="wrapper" data-ng-init="pageLoaded()" ng-class="{'has-release-notes' : !!activeNotification && showNotificationForCurrentUser && !isIpad }">
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
		<div ng-hide="!isStandAlone" ng-include="'/assets/partials/dashboard/rvDbOccupancySection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbRoomSection.html'"></div>
		<div class="dashboard-statistics" ng-class="{'active' : isStatisticsOpened}">
            <button type="button" class="button white has-arrow" ng-class="{'active' : isStatisticsOpened}" ng-click="toggleStatistics()">Statistics</button>

            <div  ng-include="'/assets/partials/dashboard/rvDbAvgDailyRateSection.html'"  ng-if="isADRShown()"></div>
            <div ng-include="'/assets/partials/dashboard/rvDbUpSellSection.html'" ng-if="isStatisticsOpened"></div>
			<div ng-include="'/assets/partials/dashboard/rvDbRateOfTheDaySection.html'" ng-if="isStatisticsOpened"></div>
        </div>

	</div>
</section>

<div class="release-notes" ng-if="!!activeNotification && showNotificationForCurrentUser">
	<div class="release-notes_hide">
		<label class="checkbox inline">
			<span class="icon-form icon-checkbox"></span>
			<input type="checkbox" value="1" />
			Don't Show Again
		</label>
	</div>
	<div class="release-notes_content">
		<strong class="release-notes_text">{{activeNotification.message}}</strong>
		<div class="release-notes_action">
			<button class="button blank" ng-click="cancelReleaseNote(activeNotification)">Close</button>
			<a class="button blue" target="_blank" ng-click="showReleaseNote(activeNotification)" ng-show="!!activeNotification.action_source">View Details</a>
		</div>
	</div>
</div>	


