<div ng-include="'/assets/partials/search/rvSearchReservation.html'"></div>	
<div ng-iscroll='dashboard_scroller' class="scrollable scroll-guest-tab" style="top:120px;" ng-iscroll-delay="100" ng-show="!showSearch">
	<div>
		<div ng-include="'/assets/partials/dashboard/rvDbGreetingMessageSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbGuestsSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbOccupancySection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbAvgDailyRateSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbRoomSection.html'"></div>
		<div ng-include="'/assets/partials/dashboard/rvDbUpSellSection.html'"></div>
	</div>
</div>

