/* StayNTouch Zest Station Styles | Cachet Boutique Theme */

/* 1. COLORS
==========================================================*/
	@brandColor:			#d1411b;
 
	
	@textColor: 			@black;
	@backgroundColor: 		#fff;
	
	@actionColor: 			@white;
	@actionBackground: 		@brandColor;
	
	@inputBackground: 		#707070;
	@inputColor:			@white;
	@transparentColor: 		rgba(0,0,0,.35);

/* 2. TYPOGRAPHY
==========================================================*/
	@fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* 3. IMAGES
==========================================================*/
	@background: 			@backgroundColor url("../css/themes/cachet-boutique/background.png") no-repeat bottom center;
	@backgroundSize: 		cover;

	@headerIconsColor: 		@white;
	@headerIconsActive:		@brandColor;

	.icons { 
		&.icon-create-key {
			fill: @white;
			stroke: @white;
		}

		&.icon-no-print { stroke: @white; }

		&.icon-oos {
			fill: @white;
		}

		&.icon-arrow-left,
        &.icon-arrow-right {
            fill: none;
            stroke: @white;
        }
	}

	.logo-svg{
	    background-image: url("../css/themes/cachet-boutique/logo.svg");
	    background-repeat: no-repeat;
	    background-size: contain;
	    width: 200px;
	    height: 80px;
	    background-position: center;
	    margin-top: .5%;
	}

/* 4. LAYOUT
==========================================================*/
	
	#cachet-boutique {

		 
		#header {
			background-color: #000;
			height: 125px;
		}

		#main {
			&.centered {
				#options {
					margin-top: 60px !important;
				}
			}
		}

		#actions {
			&.pull-right {
				p {
					strong {
						font-size: 18px;
						font-weight: 400; 
					}
					color: @textColor;
				}
			}
		}

		 
		#logo {
			padding-top: 0;
			
			.logo {
				width:170px;
				height: auto;
			}
 		}

 		#options {
			.icons {
				fill: @white;
			}
		}

		#guests {
			.button {
				background-color: #8b8b8b;
			}
		}

		.add-on { 
			.add-on-content { 
				.price { 
					.action  {
						input {
							color: @textColor;
						}
					}
				}
			}
		}
		
	}
	
	.add-guest-mode-content{
	    height: 90% !important;
	    margin-top: 50px;
	}

	.check_in_add_remove > .input-field-contents {
		height: 45% !important;
	}

  	.jumper {
  		background-color: #d6d6d6 !important;
  	}