<section id="replacing-div-first" class="content current">
	<div id="edit_hotel" data-view="HotelListView">
		<!-- Hotels list -->
		<section>
			<header class="content-title float">
				<h2>Hotels</h2>
				<span class="count">({{data.hotels.length}})</span>
				<a id="add_new_hotel" ui-sref="admin.hoteldetails" class="action add">Add new</a>
			</header>
			<div id="notification-message"></div>
			<table id="hotels_list_table" class="grid datatable">
				<thead>
					<tr role="row">
						<th width="35%" class="sorting"> Hotel </th>
						<th width="" class="sorting"> Room </th>
						<th width="" class="sorting"> Chain </th>
						<th width="" class="sorting"> Brand </th>
						<th width="" class="activate long"> Reservation Import </th>
					</tr>
				</thead>

				<tbody>
					<tr data-hotel-id="{{hotel.id}}" ng-repeat="hotel in data.hotels">
						<td>
							<a ui-sref="admin.hoteldetails" ng-click="HotelCtrl(hotel.id, 'admin.hoteledit')"  class="title">
								 <strong> {{hotel.hotel_name}} </strong>
								 <em> {{hotel.city}} , {{hotel.state}} </em>
							</a>
						</td>
						<td><span class="number"> {{hotel.number_of_rooms}} </span></td>
						<td> {{hotel.chain_name}} </td>
						<td> {{hotel.brand_name}} </td>
						<td class="activate long">
							<div class="entry">
								<label for="reservation-import-1"></label>
								<div class="switch-button single" ng-class="{ on : hotel.is_res_import_on == 'true' }">
									<input type="checkbox" name="reservation-import" id="reservation-import-1">
									<span class="switch-icon"></span>
								</div>
							</div>
						</td>
					</tr>

				</tbody>
			</table>
		</section>
	</div>
</section>