<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog" ng-cloak>
    <div class="modal-content">

        <div class="modal-header">
            <span class="h2 message" translate>MESSAGE</span>
        </div>

        <div class="scrollable" ng-iscroll="chargeCodesList" ng-iscroll-delay="100" style="max-height: 580px;">
            <div class="wrapper">
                <pre>{{ngDialogData.message}}</pre>
            </div>
        </div>

        <div class="entry button-grp">
            <button type="button" class="button blank" ng-click="closeThisDialog()" translate>
                CANCEL
            </button>
        </div>

    </div>

</div>

