<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()" ng-cloak>
    <header class="content-title float">
        <h2 translate>ZESTSWEB_GLOBAL_TITLE</h2>
        <a ng-click="goBackToPreviousState()" class="action back" translate>ZESTSTATION_BACK</a>
    </header>
    <section class="content-scroll" on-scroll="pageScrolled">
        <div ng-include="'/assets/partials/common/notification_err_message_basic.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <table class="grid">
            <!-- Render Rate Details View -->
            <tr>
                <td ng-include="'/assets/partials/zestwebGlobalSettings/adZestwebGeneralSettings.html'"></td>
            </tr>
            <tr>
                <td ng-include="'/assets/partials/zestwebGlobalSettings/adZestwebColorSettings.html'"></td>
            </tr>
            <!-- <tr>
                <td ng-include="'/assets/partials/zestwebGlobalSettings/adZestwebBgImageSettings.html'"></td>
            </tr> -->
            <tr>
                <td ng-include="'/assets/partials/zestwebGlobalSettings/adZestwebTextSettings.html'"></td>
            </tr>
        </table>
    </section>
</div>