<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog" ng-cloak>
    <div class="modal-content alert">
        <span class="icons icon-popup-alert"></span>

        <span class="message h2" ng-if="borrowData.isBorrowFromHouse && hasBorrowFromHousePermission">There is no availability in the group allocation for the selected dates. Borrow from house?</span>
        <span class="message h2" ng-if="borrowData.isBorrowFromHouse && !hasBorrowFromHousePermission">You don't have the permission to borrow from house</span>
        
        <span class="message h2" ng-if="borrowData.isRoomTypeOverbooked && ( !hasOverBookRoomTypePermission || !hasBorrowFromHousePermission)">You don't have the permission to overbook room type</span>
        <span class="message h2" ng-if="borrowData.isRoomTypeOverbooked && hasOverBookRoomTypePermission && hasBorrowFromHousePermission">There is no availability for the room type in house. Overbook?</span>
        
        <span class="message h2" ng-if="borrowData.isHouseOverbooked && ( !hasOverBookHousePermission || !hasBorrowFromHousePermission)">You don't have the permission to overbook house</span>
        <span class="message h2" ng-if="borrowData.isHouseOverbooked && hasOverBookHousePermission && hasBorrowFromHousePermission">There is no availability in house. Overbook?</span>
        
        <span class="message h2" ng-if="borrowData.isHouseAndRoomTypeOverbooked && ( !hasOverBookRoomTypePermission || !hasOverBookHousePermission || !hasBorrowFromHousePermission)">You don't have the permission to overbook room type and house</span>
        <span class="message h2" ng-if="borrowData.isHouseAndRoomTypeOverbooked && hasBorrowFromHousePermission && hasOverBookRoomTypePermission && hasOverBookHousePermission">There is no availability in room type and house. Overbook?</span>
        
        <button type="button" class="button green modal-close" ng-click="performBorrowFromHouse()" ng-if="borrowData.shouldShowBorrowBtn">Borrow</button>
        <button type="button" class="button blank" ng-click="closeBorrowDialog();">Cancel</button>
    </div>
</div>
