<div id="group-card-header" class="card-header" ng-class="UICardClass('group-card')" ng-controller="RVGroupCardCtrl" ng-show="isStandAlone" outside-click-handler>
    <section ng-if="!searchMode">
        <div class="guest-image icons icon-group-large" ng-click="switchCard('group-card')"></div>
        <form name="edit-group" id="new-group" class="dual-actions">
            <div class="holder">
                <div class="entry">
                    <input id="group-name" placeholder="" value="{{groupConfigData.summary.group_name}}" type="text" class="masked-input h1" />
                </div>
            </div>
            <div class="holder data">
                <!-- These should not allow free text input, you should only be able to search and add -->
                <input class="masked-input icons icon-gc-company" id="group-company" value="{{groupConfigData.summary.company.name}}" type="text" />
                <!-- Search only companies -->
                <input class="masked-input icons icon-gc-ta" id="group-ta" value="{{groupConfigData.summary.travel_agent.name}}" type="text" />
                <!-- Search only travel agents -->
            </div>
        </form>
        <div class="card-actions dual-actions">
            <!-- Add class "dual-actions" if in Stay Card/Create Reservation screens -->
            <button type="button" class="button blue" ng-hide="true">Duplicate</button>
            <!-- If in Stay Card or Create Reservation, show these instead: -->
            <button type="button" class="button brand-colors" ng-click="gotoGroupDetails()">Group Details</button>
            <button type="button" class="button red" ng-click="removeGroupCard()">Remove Group</button>
        </div>
    </section>
    <section section ng-if="searchMode">
        <div class="guest-image icons icon-group-large new" ng-click="switchCard('group-card')">
            <span class="search-indicator"></span>
        </div>
        <form method="post" name="search-group" id="search-group" class="card-search-form" role="search">
            <div class="holder">
                <div class="entry" ng-click="openGuestCard()">
                    <input name="group-name" id="group-name" placeholder="Group Name" value="" class="masked-input fixed long-name h1" type="text" rv-delay-textbox ng-model="searchData.groupCard.name" delay="1000" function-to-fire="searchGroups">
                    <input name="group-code" id="group-code" placeholder="Group Code #" value="" class="masked-input fixed code h1" type="text" rv-delay-textbox ng-model="searchData.groupCard.code" delay="1000" function-to-fire="searchGroups">
                </div>
            </div>
        </form>
    </section>
</div>
