<div id="rateManagerLeftPanel" ng-controller="rvRateManagerLeftSideFilterCtrl" class="filter-options"
	 ng-click="hideCompanyCardSearchResults()" 
	 ng-class="{'slide_right': isFilterVisible, 'slide_left': !isFilterVisible}" >

	<a class="leftMenuHandle" ng-click="toggleFilterVisibility()"></a>
	<div class="filter-container">
		<div class="fixed-container">
			<h3>FILTER OPTIONS</h3>


			<div class="scrolling-container scrollable" ng-iscroll="filter_details" ng-iscroll-delay="50">

				<div class="wrapper">

					<div class="entry has-datepicker">
						<label for="rmDateRange">DATE RANGE</label>
						<input id="rmDateRange" placeholder="Select Date Range" readonly="" maxlength="8" value="{{selectedDateRange}}" class="hasDatepicker">
						<button ng-click="showCalendar()" type="button" class="ui-datepicker-trigger">...</button>
					</div>

					<div class="entry">
						<label>ORDER BY</label>
						<div class="select">
							<select iscroll-stop-propagation=""
									ng-model="orderBySelectedValue"
									convert-to-number>
								<option ng-selected="orderBy.id === orderBySelectedValue"
										ng-repeat="orderBy in orderByValues"
										class="placeholder" value="{{orderBy.id}}">
										{{orderByValueMappings[orderBy.value]}}
								</option>
								
							</select>
						</div>
					</div>

					<!-- Filters -->
					<div class="entry">
						<label for="show">Show</label>
						<ul class="filters">
						<!-- Add .active on a selected filter -->
							<li ng-click="switchTabAndCorrespondingActions('RATES')" ng-class="{'active': (chosenTab ==='RATES' || showAllRates) }">Rates</li>
							<li ng-click="switchTabAndCorrespondingActions('RATE_TYPES')" ng-class="{'active': (chosenTab ==='RATE_TYPES' || showAllRateTypes) }">Rate Types</li>
							<li ng-click="switchTabAndCorrespondingActions('ROOM_TYPES')" ng-class="{'active': (chosenTab ==='ROOM_TYPES' || showAllRoomTypes) }">Room Types</li> 
						</ul>
					</div>

					<!-- Filter Rates, add .hidden if filter 'Rates' is not active -->
					<div class="entry" ng-class="{'hidden': chosenTab !== 'RATES'}">
						<label for="rate">Filter Individual Rate(s)</label>
						<div class="select-group">
							<div class="select">
								<select name="rate-type" class="placeholder">
								<!-- add selected="selected" to a selected rate type
								if no one is selected, add it to placeholder-->
									<option class="placeholder" value="">
										Filter by Rate Type
									</option>
									<option ng-repeat="rateType in rateTypes" value="{{rateType.id}}">
                                        {{rateType.name}}
                                    </option>
								</select>
							</div>
							<div class="select">
								<select id="rate" class="placeholder">
								<!-- add selected="selected" to a selected rate 
								if no one is selected, add it to placeholder-->
									<option class="placeholder" value="">
										Rates
									</option>
									<option ng-show="shouldShowRate(rate)" ng-repeat="rate in rates"
                                        value="{{rate.id}}" >
                                        {{rate.name}}
                                    </option>
								</select>
							</div>
						</div>
					</div>

					<!-- Filter Contracted Rates, add .hidden if filter 'Rates' is not active -->
					<div class="entry entry-company-card" ng-class="{'hidden': chosenTab !== 'RATES'}">
						<label for="company-card" class="search-text">
						Filter Contracted Rates
						</label>
						<span type="submit" name="submit" class="icons icon-search1"></span>
						<input type="text" id="company-card" placeholder="Enter search criteria" autocomplete="off">
					</div>

					<!-- Remove .hidden to when 'Rate Types' filter is active
					Otherwise add .hidden
					-->
					<div class="entry"  ng-class="{'hidden': chosenTab !== 'RATE_TYPES'}">
						<label for="rate-type">Filter Individual Rate Type(s)</label>
						<div class="select">
							<select id="rate-type" name="rate-type">
								<option class="placeholder" value="0">
									Rate Type(s)
								</option> 
								<option value="{rate-type}">{rate-type name}</option>
					... repeat for each rate type
							</select>
						</div>
					</div>

					<!-- Rates Selected
					Show when a Rate is selected
					Hide if a Contracted Rate is selected after this
					Hide if filter 'Rates' is not active
					-->
					<div class="selected-data" ng-class="{'hidden': chosenTab !== 'RATES'}">
						<strong>Rates Selected</strong>

						<div class="rates-box">
							<span class="rate-data">{Rate Name}</span>
							<span class="icons delete_small"> &nbsp;</span>
							<br clear="all">
						</div>
					... Repeat for each Rate selected

					<!-- Show if more than 1 -->
						<button class="button blank deleteall">Clear Selection</button>
					</div>

					<!-- Contracted Rates
					Show when a Contracted Rate is selected
					Hide if a Rate is selected after this
					Hide if filter 'Rates' is not active
					-->
					<div class="selected-data" ng-class="{'hidden': chosenTab !== 'RATES'}">
						<strong>Contracts Selected</strong>

						<!-- 'background-class' : 'dark' or 'purple' 
						'dark' - Company Card or something else
						'purple' - travel agent
						-->
						<div class="rates-box {background-class}">
							<span class="rate-data">{Account Card}</span>
							<span class="rate-data location">{Account Address}</span>
							<span class="icons delete_small"> &nbsp;</span>
							<br clear="all">
						</div>
					... repeat for each contracted rate

						<!-- Show if more than 1 -->
						<button class="button blank deleteall">Clear Selection</button>
					</div>

					<!-- Rate Types
					Show when filter 'Rate Types' is active -->
					<div class="selected-data" ng-class="{'hidden': chosenTab !== 'RATE_TYPES'}">
						<strong>Rate Types Selected</strong>

						<div class="rates-box">
							<span class="rate-data">{Rate Type}</span>
							<span class="icons delete_small"> &nbsp;</span>
							<br clear="all">
						</div>

						<!-- Show if more than 1 -->
						<button class="button blank deleteall">Clear Selection</button>
					</div>

				</div> 
			</div>
		</div>
	</div>

	<!-- Company Card Results / content -->
	<!-- Remove .hidden if there are search results type in input with id={company-card-id} -->
	<!-- Add class .hidden when clicked on one account to get listed -->
	<div class="rate-manager-card hidden" >
		<div class="rate-manager-card-search-results">
			<ul>

			{LI Structure: ../_shared/autocomplete.html}
			... repeat for each account
			</ul> 
		</div>
		<span class="arrow-left"></span>
	</div>

	<div class='action-filter'>
		<div class="actions float">

		<!-- Remove class .green if there are no dates set -->
		<!-- Disable the button if there are no dates set (adding attribute disabled="disabled") -->
		<!-- 'Button-Text':
		- 'Show All Rates' - Filter 'Rates' is active & nothing is selected
		- 'Show Selected Rates' - Filter 'Rates' is active & Rates are selected
		- 'Show Contract Rates' - Filter 'Rates' is active & Contracts are selected
		- 'Show All Rate Types' - Filter 'Rate Types' is active & nothing is selected
		- 'Show Selected Rate Types' - Filter 'Rate Types' is active & rate types are selected
		- 'Show All Room Types' - Filter 'Room Types' is active
		-->
			<button class="button" type="button" ng-click="clickedOnShowRates()" ng-class="{ 'grey': shouldDisableShowRateButton(), 'green': !shouldDisableShowRateButton() }">{{getButtonText()}}</button>

		</div>
	</div>
</div>