<div class="data-holder">
    <!-- Edit promo -->
    <form class="form inline-form float">
        <div class="form-title">
            <h3 translate><span></span> ADD PROMOTION</h3>
            <em class="status">{{'MANDATORY_FIELDS_MESSAGE1' | translate}}<strong>*</strong> {{'MANDATORY_FIELDS_MESSAGE2' | translate}} </em>
        </div>
        <fieldset class="holder left float">
            <ad-textbox value="newPromo.name" label="{{'NAME' | translate}}" placeholder="{{'SEGMENTS_NAME_PLACEHOLDER' | translate}}" required="yes"></ad-textbox>
            <ad-textbox value="newPromo.code" label="{{'CODE' | translate}}" placeholder="{{'PROMO CODE' | translate}}" required="yes"></ad-textbox>
            <div class="entry has-datepicker margin">
                <label>{{'FROM_DATE' | translate}}
                </label>
                <input type="text" ng-model="newPromo.from_date" readonly="" placeholder="Select Start Date" class="date-picker-input-small">
                <button ng-click="popupCalendar('FROM')" class="ui-datepicker-trigger date-picker-small ui-datepicker-trigger-btn" type="button">
                    ...
                </button>
                <div class="date-delete-wrapper">
                    <span class="icons delete_small rate_end_delete cursor_pointer date-delete" ng-click="resetDate('FROM')">&nbsp;</span>
                </div>
            </div>
            <div class="entry has-datepicker margin">
                <label>{{'TO_DATE' | translate}}
                </label>
                <input type="text" ng-model="newPromo.to_date" readonly="" placeholder="Select End Date" class="date-picker-input-small">
                <button ng-click="popupCalendar('TO')" class="ui-datepicker-trigger date-picker-small ui-datepicker-trigger-btn" type="button">
                    ...
                </button>
                <div class="date-delete-wrapper">
                    <span class="icons delete_small rate_end_delete cursor_pointer date-delete" ng-click="resetDate('TO')">&nbsp;</span>
                </div>
            </div>
            <div class="entry">
                <ad-textbox styleclass="full-width" value="newPromo.discount.value" name="amount" id="amount" label="Amount[{{ currencySymbol }}]" placeholder="{{'ENTER_THE_AMT'|translate}}"></ad-textbox>
            </div>
            <div class="entry">
                <div class="entry full-width">
                    <label for="amount-type-id">
                        {{'AMOUNT_TYPE'|translate}}
                    </label>
                    <div class="select">
                        <select name="amount-type-id" id="amount-type-id" ng-model="newPromo.discount.type">
                            <option value="" data-text="Not set" class="placeholder">Choose amount type</option>
                            <option value="AMOUNT">{{'AMOUNT'|translate}}[{{ currencySymbol }}]</option>
                            <option value="PERCENTAGE" translate>PERCENTAGE</option>
                            < </select>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="holder full-width">
            <div class="form-title">
                <h3>
                    <span>Room</span>
                    Types
                </h3>
                <em class="status">
                    <span>Assign at least 1 room type</span>
                </em>
            </div>
            <div class="entry has-sortable">
                <label class="center_align">
                    <em class="rate_roomtype_text">Available Room Types</em>
                </label>
                <ul class="boxes sortable ui-sortable short-list" data-type="source" data-drop="true" ng-model="nonAssignedroomTypes" style="overflow-y: scroll !important;" jqyoui-droppable="{multiple:true}" data-jqyoui-options="{accept:'.assigned-room-types'}">
                    <li ng-repeat="roomtype in nonAssignedroomTypes" data-drag="true" ng-model="nonAssignedroomTypes" jqyoui-draggable="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}" class="non-assigned-room-types li-draggable" ng-click="unAssignedRoomSelected($event, $index)" ng-class='{selected: selectedUnAssignedRoomIndex === $index}'>
                        <span class="icons icon-handle"></span>
                        <span class="icons icon-handle"></span> {{roomtype.name}}
                    </li>
                </ul>
            </div>
            <div class="entry movers rates_mover">
                <div class="top_mover">
                    <span class="icons icon-mover-right to-target" data-type="target" ng-click="topMoverightClicked()" ng-class="{active: selectedUnAssignedRoomIndex!=-1}" data-type="source">unassign room(s)</span>
                    <span class="icons icon-mover-left to-source" data-type="source" ng-click="topMoveleftClicked()" ng-class="{active: selectedAssignedRoomIndex!=-1}">Assign room(s)</span>
                </div>
                <div>
                    <div class="green_gradient icons">
                        <span class="to-source green_mover icons_rates" data-type="source" ng-click="bottomMoverightClicked()">Assign room(s)</span>
                    </div>
                    <div class="red_gradient icons">
                        <span class="to-target  red_mover icons_rates" data-type="target" ng-click="bottomMoveleftClicked()">unassign room(s)</span>
                    </div>
                </div>
            </div>
            <div class="entry has-sortable">
                <label class="center_align">
                    <span class="assigned_room_text">Assigned Room Types</span></label>
                <ul class="boxes sortable ui-sortable short-list" data-type="target" data-drop="true" ng-model="assignedRoomTypes" jqyoui-droppable="{multiple:true, onOver: 'reachedAssignedRoomTypes'}" data-jqyoui-options="{accept:'.non-assigned-room-types'}">
                    <li ng-repeat="roomtype in assignedRoomTypes" ng-click="assignedRoomSelected($event,$index)" ng-class='{selected: selectedAssignedRoomIndex === $index}' class="assigned-room-types li-draggable" data-jqyoui-options="{revert: 'invalid', helper:'clone',appendTo: 'body'}" data-drag="true" ng-model="assignedRoomTypes" jqyoui-draggable="{index: {{$index}}, animate:false, onStart:'hideCurrentDragItem', onStop:'showCurrentDragItem' }">
                        <span class="icons icon-handle"></span>
                        <span class="icons icon-handle"></span> {{roomtype.name}}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="actions float">
            <button type="button" ng-click="cancelAddPromo()" class="button blank edit-data-inline" translate>
                CANCEL
            </button>
            <button type="button" ng-click="saveNewPromo()" class="button green edit-data-inline" translate>
                SAVE_CHANGES
            </button>
        </div>
    </form>
</div>
