<div class="config-wrapper">
    <ul class="date-wrapper" ng-class="{'inactive': currentClickedSet != $index}">
        <li style="width:30px;">
            <span class="icons delete_small" ng-click="confirmDeleteSet(set.id, $index, set.name)"  ng-hide="!is_date_range_editable(dateRange.end_date)">&nbsp;</span>
        </li>
        <li style="width:150px;" ng-hide="currentClickedSet == $index">{{set.name}}</li>
        <li ng-show="currentClickedSet == $index" style="width:25%">
            <ad-textbox disabled="!is_date_range_editable(dateRange.end_date)" value="set.name" style="width:150px; margin-top:10px;"></ad-textbox>
        </li>

        <li style="width:65%">
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.monday" ng-click="toggleDays($index, 'monday')" label="MON"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.tuesday" ng-click="toggleDays($index, 'tuesday')" label="TUE"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.wednesday" ng-click="toggleDays($index, 'wednesday')" label="WED"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.thursday" ng-click="toggleDays($index, 'thursday')" label="THU"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.friday" ng-click="toggleDays($index, 'friday')" label="FRI"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.saturday" ng-click="toggleDays($index, 'saturday')" label="SAT"></ad-checkboxtext-left>
            <ad-checkboxtext-left style="float:left;width:80px;margin:5px;" is-disabled="!is_date_range_editable(dateRange.end_date)" is-checked="set.sunday" ng-click="toggleDays($index, 'sunday')" label="SUN"></ad-checkboxtext-left>
        </li>
        <!--
        <li style="float:right; padding-top:10px;" ng-show="currentClickedSet == $index">
            <span class="icons icon-rate-search" style="float:right; width:40px;">&nbsp;</span>
        </li>
        <li style="float:right; padding-top:10px;" ng-show="currentClickedSet == $index">
            <span class="icons icon-rate-fill" style="float:right; width:40px;">&nbsp;</span>
        </li>
        -->
        <li class="arrow-right" ng-hide="currentClickedSet == $index">
            <span class="cursor-hand"><img src="/assets/arrow-down.png" ng-click="setCurrentClickedSet($index)"></span>
        </li>
        <!-- <li class="arrow-right" ng-show="currentClickedSet == $index">
            <span class="cursor-hand"><img src="/assets/arrow-up.png" ng-click="unsetCurrentClickedSet($index)"></span>
        </li> -->
      
        <li class="arrow-right " ng-show="currentClickedSet == $index" style="width:38px;">
            <span class="icons icon-calendar" style="width:40px;" ng-click="popupCalendar()" ng-hide="!is_date_range_editable(dateRange.end_date)">&nbsp;</span>
        </li>
        
    </ul>
</div>

<div class="rate-config" >
    <table width="100%" border="0" align="right" cellspacing="0" cellpadding="0" id="ratetable" ng-show="currentClickedSet == $index">
        <tr>
            <td width="20%" align="right">&nbsp;</td>
            <td width="2%">&nbsp;</td>
            <td width="16%" align="left">Single ({{currencySymbol}})</td>
            <td width="5%" align="center">&nbsp;</td>
            <td width="16%" align="left">Double ({{currencySymbol}})</td>
            <td width="4%" align="center">&nbsp;</td>
            <td width="16%" align="left">Extra Adult (+{{currencySymbol}})</td>
            <td width="4%" align="center">&nbsp;</td>
            <td width="16%" align="left">Child (+{{currencySymbol}})</td>
            <td width="4%" align="center">&nbsp;</td>
        </tr>
        <tr ng-repeat="room_rate in set.room_rates">
            <td align="right" class="room-type">{{room_rate.name}}</td>
            <td align="center">&nbsp;</td>
            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.single" ng-disabled="!is_date_range_editable(dateRange.end_date)"></div>
            </td>
            <td align="center" ng-hide="!is_date_range_editable(dateRange.end_date)">
                <span class="icons right-arrow-grey" ng-click="moveSingleToDouble($parent.$index,$index)">&nbsp;</span>
            </td>
            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.double" ng-disabled="!is_date_range_editable(dateRange.end_date)"></div>
            </td>
            <td align="center">&nbsp;</td>
            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.extra_adult" ng-disabled="!is_date_range_editable(dateRange.end_date)"></div>
            </td>
            <td align="center">&nbsp;</td>
            <td align="left">
                <div class ="rate_entry"><input type="text" ng-model="room_rate.child" ng-disabled="!is_date_range_editable(dateRange.end_date)"></div>
            </td>
            <td align="center">&nbsp;</td>
        </tr>
      <tr>
        <td width="20%" align="right">&nbsp;</td>
        <td width="2%">&nbsp;</td>
        <td width="16%" align="left">&nbsp;</td>
        <td width="4%" align="center">
            <span class="icons right-arrow-green" ng-hide="!is_date_range_editable(dateRange.end_date)" ng-click="moveAllSingleToDouble($index)">&nbsp;</span>
        </td>
        <td width="16%" align="left">&nbsp;</td>
        <td width="4%" align="center">&nbsp;</td>
        <td width="15%" style="text-align:right;" colspan="3">
            <button type="button" class="button" ng-click="saveDateRange(dateRange.id)" ng-hide="set.isSaved" ng-disabled="!checkFieldEntered($index)" ng-class="(set.isEnabled) ? 'green' : 'grey'">SAVE&nbsp;SET</button>
            <button type="button" class="button" ng-click="saveDateRange(dateRange.id)" ng-show="set.isSaved" ng-disabled="!checkFieldEntered($index)" ng-class="(set.isEnabled) ? 'green' : 'grey'">UPDATE&nbsp;SET</button>
        </td>

         </tr>
       
    </table>
</div>




    
    
        

