
<table width="100%" >
	<tr>
		<td width="5%" align="left" style="padding:0px !important;"><span class="icons delete_small" ng-click="deleteSet(set.id)" >&nbsp;</span></td>
		<td width="20%" align="left" style="align: left; display: inline;"><ad-textbox value="set.name" style="width:150px; margin-top:10px;"></ad-textbox></td>
		<td width= "75%" align="left" style="margin-top:0px;">
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.monday" label="MON" width="70px"></ad-checkboxtext-left>
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.tuesday" label="TUE" width="70px"></ad-checkboxtext-left>
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.wednesday" label="WED" width="70px"></ad-checkboxtext-left>
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.thursday" label="THU" width="70px"></ad-checkboxtext-left>
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.friday" label="FRI" width="70px"></ad-checkboxtext-left>
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.saturday" label="SAT" width="70px"></ad-checkboxtext-left>
			<ad-checkboxtext-left style="float:left;width:60px;margin:5px;" is-checked="set.sunday" label="SUN" width="70px"></ad-checkboxtext-left>
		</td>
		<td width="5%" align="right"><img src="/assets/arrow-down.png" ng-click="setCurrentClickedSet($index)" ng-hide="currentClickedSet == $index"> </td>
	</tr>

		</table>
<table ng-show="currentClickedSet == $index" border="1">
	<tr>
		<td width="13%">	</td><td width="13%">Single	</td><td width="8%">	</td><td width="13%">	Double</td><td width="13%">	EXTRA ADULT</td><td width="13%">CHILD	</td><td width="8%">	DISTRIBUTE</td>
	</tr>
	
	<tr ng-repeat="roomtypes in set.room_types">
		<td width="13%">{{roomtypes.name}}</td>
		<td width="13%"><ad-textbox value="roomtypes.single" style="width:150px;"></ad-textbox></td>
		<td width="8%" ng-click="moveSingleToDouble($parent.$index,$index)"> >> </td>
		<td width="13%"><ad-textbox value="roomtypes.double" style="width:150px;"></ad-textbox></td>
		<td width="13%"><ad-textbox value="roomtypes.extra_adult" style="width:150px;"></ad-textbox></td>
		<td width="13%"><ad-textbox value="roomtypes.child" style="width:150px;"></ad-textbox></td>
		<td width="8%"><ad-checkbox style="float:left;width:60px;margin:5px;" is-checked="roomtypes.distribute" label=""></ad-checkbox></td>
	</tr>
	<tr>
		<td width="13%">	</td><td width="13%">	</td><td width="8%" ng-click="moveAllSingleToDouble($index)"> >> </td><td width="13%">	</td><td width="13%">	</td><td width="13%">	</td><td width="8%">	</td>
	</tr>
	<tr><td colspan="7"><input type="button" value="Save Set" ng-click="saveSet($index)" ng-disabled="checkFieldEntered($index)" class="button  brand-colors"/><input type="button" value="Quick Fill" /></td></tr>
</table>



	
	
		

