<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click='clearErrorMessage()'>
	<div>
		<header class="content-title float">
			<h2> Channel Managers </h2>
			<span class="count"> ({{totalCount}}) </span>

		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
			
			
			<!--span class="count-show">Show</span>
			<div class="select table-count interfaces-table-count">
				<select ng-model="displyCount"	ng-options="opt for opt in displayCountList"></select>
			</div>
			<span class="count-entries">entries</span-->
				
			

			<div id="new-form-holder"></div>
			<!--ng-table component -->
			<table class="grid" ng-table="tableParams" template-pagination="custom/pager" ng-class="{'edit-data': currentClickedElement == $index}">
				<tbody>
					<tr ng-repeat="interface in data" > 
                                            <td data-title="'Name'" sortable="'name'" header-class="width-25" ng-hide="currentClickedElement == $index">
                                                <a class="edit-data" ng-click="editChannelManager(interface)">
                                                    <strong> {{interface.description}}</strong>
                                                </a>
                                            </td>

                                            <td data-title="'Status'" sortable="'active'" ng-class = "{'green': interface.active}" header-class="width-15" ng-hide="currentClickedElement == $index">
                                                <div class="entry" ng-click="toggleActive(interface)">
                                                    <div class="switch-button single" ng-class="{'on': interface.active}">
                                                        <input type="checkbox"  ng-checked="interface.active">
                                                        <span class="switch-icon"></span>
                                                    </div>
                                                </div>
                                            </td>
                                                
					</tr>
				</tbody>
			</table>
		</section>
		<!--end -->

		<!--Custom pagination footer goes here-->
		<script type="text/ng-template" id="custom/pager">
			<div class = "pager">
				<span ng-show="totalCount>0">Showing {{startCount}} to {{endCount}} of {{totalCount}} items</span>
				<span ng-show="totalCount==0">Showing 0 items</span>
				<ul class="ng-cloak">
	              	<li ng-repeat="page in pages"
		                ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
		                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
	
		                <a ng-switch-when="prev" ng-click="params.page(1)" class="page" ng-class="{'disabled': !page.active}">First</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Previous</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Next</a>
		                <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page" ng-class="{'disabled': !page.active}">Last</a>
		          	</li>
	            </ul>
	        </div>
		</script>
		<!--end-->
	</div>
</section>