<form ng-cloak class="form grey-texture-bg-color">
	<fieldset class="holder full-width grey-texture-bg-color">
		<div class="center_align grey-texture-bg-color">
			<em>{{ dateNeeded }} Date</em> &nbsp;
			<span ng-show="isFromDateSelected" class="italic_text">
				{{ datePickerDate | date: 'yyyy-MM-dd' }}
			</span>
		</div>

		<div class="date-picker-bg">
			<div class="date-picker-wrap">
			   <div class="col-xs-12">
			      <div pickadate="" ng-model="datePickerDate" min-date="fromDate" date="date" is-current-month="true" is-date-selected="isFromDateSelected"></div>
			   </div>
			</div>
		</div>
	</fieldset>

	<div class="actions float">
		<button class="button blank add-data-inline" type="button" ng-click="cancelClicked()">Cancel</button>
		<button class="button green" ng-click="updateClicked()" type="button">Update Date</button>
	</div>
</form>