<div id="wrapper" class="content current" ng-click="clearErrorMessage()">
    <header class="content-title float">
        <h2 ng-if="!is_edit">Add new Rate</h2>
        <h2 ng-if="is_edit">Edit Rate</h2>
        <a class="action back" ui-sref="admin.rates">Back to rates</a>
    </header>
    <div ng-include="'/assets/partials/common/notification_message.html'"></div>
    <table class="grid">
        <!-- Render Rate Details View -->
        <tr>
            <td ng-include="'/assets/partials/rates/adRatesAddDetails.html'"></td>
        </tr>
        <!-- Render Rate Room Types View -->
        <!-- TODO Hide row for Add Mode -->
        <tr ng-show="rateData.id > 0">
            <td ng-include="'/assets/partials/rates/adRatesAddRoomTypes.html'"></td>
        </tr>
        <!-- to be done-->
        <tr ng-repeat ="dateRange in rateData.date_ranges">
            <td ng-include="'/assets/partials/rates/adRatesAddConfigure.html'" ng-controller="ADRatesAddConfigureCtrl"></td>
        </tr>
        <tr ng-show="rateMenu ==='ADD_NEW_DATE_RANGE'">
            <td ng-include="'/assets/partials/rates/adRatesAddRange.html'"></td>
        </tr>

    </table>
    <!-- template to add new date range -->
    

    <div ng-click="addNewDateRange()" ng-show="shouldShowAddNewDateRange()" class="center_align add_new_date_range_container"> 
        <a class="icons icon-add">
        <span>NEW DATE RANGE</span>
        </a>
    </div>
</div>
