<section id="replacing-div-first"
			class="content current">
	<div data-view="GuestCardLikesView">
		<header class="content-title float">
			<h2>Addons</h2>
			<span class="count">
				({{ addonList.length }})
			</span>
			<a id="add-new-button" class="action add" ng-click="addNew()">Add new</a>
		</header>
		
		<div ng-include="'/assets/partials/common/notification_message.html'"></div>

		<div id="new-form-holder" ng-show="isAddMode" ng-include="getTemplateUrl()"></div>

		<table id="addons" class="grid" ng-table="tableParams" ng-hide="isAddMode">
			<tbody>
				<tr ng-repeat="item in  addonList">
					<td header-class="width-30"  data-title="'Name'" sortable="'name'" ng-click="editSingle()" ng-hide="currentClickedAddon == $index" >
						<a class="edit-data-inline">{{ item.name }}</a>
					</td>

					<td header-class="width-50"  data-title="'Description'" sortable="'description'" ng-hide="currentClickedAddon == $index" >	
						{{ item.description }}
					</td>

					<td data-title="'Toggle'" header-class="width-10" class="activate text-left" ng-hide="currentClickedAddon == $index" >
						<div class="entry">
							<label></label>
							<div class="switch-button single"
									ng-class="{ on: item.activated }">
								<input type = "checkbox"
										id = "rates-addons"
										name = "rates-addons"
										ng-click = "switchActivation()">
								<span class="switch-icon"></span>
							</div>
						</div>
					</td>

					<td data-title="'Delete'" header-class="width-10" class="delete" >
						<a class="icons icon-delete large-icon" ng-click="deleteAddon()">Delete this addon</a>		
					</td>

					<td colspan="4" ng-include="getTemplateUrl($index,room_types.id)" ng-show="currentClickedAddon == $index"></td>
				</tr>
			</tbody>
		</table>

	</div>
</section>