<div ng-controller="ADAddRateRangeCtrl">
<div>
<div class="date-picker-bg">
	<div class="date-picker-wrap">
	   <div class="col-xs-12">
	      <div pickadate="" ng-model="nextMonthDateFormated" min-date="nextMonthDateFormated" max-date="maxDate" date="nextMonthDate" is-current-month="false"></div>
	   </div>
	</div>
</div>
<div class="date-picker-bg">
	<div class="date-picker-wrap">
	   <div class="col-xs-12">
	      <div pickadate="" ng-model="date" min-date="date" max-date="maxDate" date="date" is-current-month="true"></div>
	   </div>
	</div>
</div>


</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

