<section class="content current" ng-click='clearErrorMessage()'>
	<div>
		<header class="content-title float">
			<h2> Rates </h2>
			<span class="count"> ({{data.length}}) </span>
			<a class="action add" ng-click="addNewRate()">Add new</a>
			<a class="action import" ng-click="importFromPms()">IMPORT FROM PMS</a>
			<select ng-model="rateType"
			    ng-options="opt.name for opt in rateTypeList">
			    <option value="" disabled>Filter by Rate Type</option>
			</select>
			<input type="text" ng-model="searchTerm"></input>
			<button ng-click = "searchClicked()">Go</button>
		</header>
			<select ng-model="displyCount"
				    ng-options="opt for opt in displayCountList">
				    <option value="">Room count</option>
			</select>
					<div ng-include="'/assets/partials/common/notification_message.html'"></div>
					<div id="new-form-holder"></div>
		<table class="grid" ng-table="tableParams">
			<tbody>
				<tr ng-repeat="rate in $data" ng-class = "{'inactive': !rate.status}"> 
					<td data-title="'Name'" sortable="'rate'" >
						<strong>{{rate.name}}</strong>
					</td>
					<td data-title="'Based on'" sortable="'based_on'">
						{{rate.based_on.name}}
					</td>
					<td data-title="'Type'" sortable="'rate_type'">
						<strong>{{rate.rate_type.name}}</strong>
					</td>
					<td data-title="'Date Ranges'">
						{{rate.date_range_count}}
					</td>
					<td data-title="'Status'" sortable="'status'" class ="status">
						{{rate.status ? 'ACTIVE' : 'INACTIVE'}}
					</td>
				</tr>
			</tbody>
					</table>

		<!-- <div id="paginationwrap">
			<div class="entrycount">Showing 1 to 10 17 entries</div>
				<div class="pagination">
					<a ng-show = "currentPage>1" ng-click = "paginate('0')" class="page">First</a>
					<a ng-show = "currentPage>1" ng-click = "paginate(currentPage - 2)" class="page">Prev</a>
					<a ng-show = "currentPage>1" ng-click = "paginate(currentPage - 1)" class="page">{{currentPage - 1}}</a>
					<a ng-show = "currentPage<numOfPages || currentPage>1" ng-click = "paginate(currentPage)" class="page active">{{currentPage}}</a>
					<a ng-show = "currentPage<numOfPages" ng-click = "paginate(currentPage+1)" class="page active">Next</a>
					<a ng-show = "currentPage<numOfPages" ng-click = "paginate(numOfPages)" class="page active">Last</a>
				</div>
			<br clear="all">
		</div> -->
	</div>
</section>