<!-- Header Collapse View -->
<div ng-hide="detailsMenu ==='additionalDetails'">
    <div class="form-title cursor_pointer" ng-click="changeDetailsMenu('additionalDetails')">
        <div class="rate_additional_details_heading">
            ADDITIONAL DETAILS
            <div class="cursor_pointer rate_additional_details_pointers">
                <img src="/assets/cssimg/arrow-down.png">
            </div>
        </div>
  </div>
</div>

<!-- Expanded View -->
<div ng-show="detailsMenu ==='additionalDetails'" class="form_add_new_rate" >
    <div class="form-title cursor_pointer " ng-click="changeDetailsMenu('')">
        <div class="rate_additional_details_heading">
            ADDITIONAL DETAILS
            <div class="cursor_pointer rate_additional_details_pointers">
                <img src="/assets/arrow-up.png">
            </div>
        </div>
  </div>
	 <!-- <fieldset class="holder full-width"> -->
	 	<fieldset class="holder left">
                <div class="entry has-datepicker margin">
                    <label for="endDate"> end date &nbsp;<span  class="rate_end_date_desc">(overrides date range)</span>
                    </label>
                    <input type="text" ng-model="rateData.end_date_for_display" readonly="" maxlength="8"  placeholder="Set end date" class="date-picker-input-small">
                    <button ng-click="popupCalendar()" class="ui-datepicker-trigger date-picker-small" type="button">
                         ...
                    </button>
                    <div class="date-delete-wrapper">
                        <span class="icons delete_small rate_end_delete cursor_pointer date-delete" ng-click="deleteEndDate()">&nbsp;</span>
                    </div>
                </div>
	 		    <div class="entry full-width">
    	 		   	<div class="entry" ng-hide="!rateTypesDetails.is_use_markets">
                    <label>Market</label>
                    <div class="select">
                        <select class="placeholder" ng-model="rateData.market_segment_id" ng-options="market.value as market.name for market in rateTypesDetails.markets">
                            <option value="">Select Market</option>
                        </select>
                    </div>
                    </div>
                    <div class="entry"  ng-hide="!rateTypesDetails.is_use_sources">
                    <label>Source</label>
                    <div class="select">
                        <select class="placeholder" ng-model="rateData.source_id" ng-options="source.value as source.name for source in rateTypesDetails.sources">
                            <option value="">Select Source</option>
                        </select>
                    </div>
              		</div>
                </div>
                <div class="entry full-width">
                    <div class="entry" ng-show="isOriginOfBookingEnabled">
                        <label>Origin</label>
                        <div class="select">
                            <select class="placeholder" ng-model="rateData.booking_origin_id" ng-options="origin.value as origin.name for origin in originOfBookings">
                                <option value="" disabled>Select Origin</option>
                            </select>
                        </div>
                    </div>
                    <div class="entry">
                        <label>Cleaning Cycle</label>
                        <div class="select">
                            <select class="placeholder" ng-model="rateData.task_id" ng-options="task.id as task.name for task in defaultWorkTypeTasks">
                                <option value="" disabled>Select Task</option>
                            </select>
                        </div>
                    </div>
                </div>

	 	</fieldset>
	 	<fieldset class="holder right">
	 		<ad-toggle-button is-checked="rateData.is_discount_allowed_on" label="DISCOUNT ALLOWED"></ad-toggle-button>
	 		<ad-toggle-button is-checked="rateData.is_suppress_rate_on" label="SUPPRESS RATE"></ad-toggle-button>
            <div ng-hide='isEmpty(rateData.commission_details)'>
                <ad-toggle-button is-checked="rateData.commission_details.is_on" label="{{ 'COMMISSION' | translate }}"></ad-toggle-button>
                <ad-checkbox div-class="actions_margin_top" hide="{{!rateData.commission_details.is_on}}" is-checked="rateData.commission_details.is_prepaid" label="{{ 'PREPAID' | translate }}" parent-label-class="room-likes" span-class="checkbox-background"></ad-checkbox>
                <div class="entry full-width" ng-hide="!rateData.commission_details.is_on">
                    <div class=" select-col col1-3 actions_margin_top">
                        <ad-textbox inputtype="text" value="rateData.commission_details.value" styleclass="col1-3" label="" placeholder="" style=" width: 66px;" ng-model="rateData.commission_details.value"></ad-textbox>
                    </div>
                    <div class="select select-col col1-4">
                        <select class="styled" value="rateData.commission_details.type" ng-model="rateData.commission_details.type">
                        <option value="amount">{{currencySymbol}}</option>
                        <option value="percent">%</option>
                        </select>
                    </div>

                    <div class="entry" ng-show="rateData.commission_details.type === 'amount'">
                        <div class="select">
                            <select class="placeholder" value="rateData.commission_details.commission_type" ng-model="rateData.commission_details.commission_type">
                                <option value="perStay" translate>PER_STAY</option>
                                <option value="perNight" translate>PER_NIGHT</option>
                            </select>
                        </div>
                    </div>

                    <div class="entry full-width float" ng-show="rateData.commission_details.type === 'percent'">
                        <label translate>CHARGE_CODES</label>
                        <div id="newspaper-options" class="boxes">
                            <label class="checkbox" ng-repeat="charge_code in rateData.commission_details.charge_codes">

                                <span class="icon-form icon-checkbox" ng-class="{ checked : charge_code.is_checked }"></span>
                                <input type="checkbox"  name="newspaper" data-id="1" ng-click="charge_code.is_checked = !charge_code.is_checked ">
                                <div id="newspaper-name">{{charge_code.code}} {{charge_code.name}}</div>

                            </label>
                        </div>
                    </div>

                </div>

            </div>
	 	</fieldset>
	 <!-- </fieldset> -->

</div>
<div ng-controller="ADRatesActivityLogCtrl" id="activityLogArea">
    <div class="form-title cursor_pointer" ng-click="toggleActivityLog()">
        <div class="rate_additional_details_heading">
                ACTIVITY LOG
            <div class="cursor_pointer rate_additional_details_pointers">
                <img ng-hide="detailsMenu ==='adRateActivityLog'" src="/assets/cssimg/arrow-down.png">
                <img ng-show="detailsMenu ==='adRateActivityLog'" src="/assets/cssimg/arrow-up.png">
            </div>
        </div>
    </div>
    <div ng-show="detailsMenu ==='adRateActivityLog'" class="form_add_new_rate" >
        <div ng-include="'/assets/partials/rates/adRateActivityLog.html'"></div>
    </div>
</div>