<form class="form form-rate-config">
	<div ng-controller="ADRatesAddConfigureCtrl" style="width:100%;">

		<table width="100%">
			<tr ng-repeat="set in data.sets">
				<td ng-include="'/assets/partials/rates/adAddRateConfig.html'" style="padding:0px !important;"></td>
			</tr>
		</table>

		<div class="actions float">
			<button class="button blank add-data-inline" id="cancel" type="button" ng-click="cancelClick()">
				Cancel
			</button>
			<button ng-click="saveWholeData()" class="button green add-data-inline" id="save" type="button">
				Save Rate
			</button>
		</div>
	</div>
</form>

