<section id="replacing-div-first" class="content current"><div data-view="GuestCardLikesView">
	<header class="content-title float">
		<h2>
			Likes
		</h2>
		<span class="count">
			(
			17
			)
		</span>
		<a id="add-new-button" href="/ui/show?haml_file=admin/hotel_likes/add_like&amp;json_input=hotel_likes/likes_list.json&amp;is_hash_map=true&amp;is_partial=true" class="action add">Add new</a>
	</header>

	<div id="notification-message" style="display: none;"></div>
	<div id="new-form-holder">
	</div>
	<table id="likes" class="grid">
		<tbody>
			<tr data-like-id="1">
				<td>
					<a href="/admin/hotel_likes/1/edit_hotel_likes" class="edit-data-inline">
						ROOM FEATURE
					</a>
				</td>
				<td class="activate">
					<div class="entry">
						<label></label>
						<div id="" class="switch-button single on">
							<input type="checkbox" value="" name="" checked="checked">
							<span class="switch-icon"></span>

						</div>
					</div>

				</td>
			</tr>

			<tr data-like-id="2">
				<td>
					<strong>FLOOR</strong>
					<em>(System defined)</em>
				</td>
				<td class="activate">
					<div class="entry">
						<label></label>
						<div id="" class="switch-button single on">
							<input type="checkbox" value="" name="" checked="checked">
							<span class="switch-icon"></span>

						</div>
					</div>

				</td>
			</tr>

			
		</tbody>
	</table>
</div>
</section>