<!-- navbar -->
<div class="container-fluid padding-0">
    <div class="row header-bar">
        <img alt="" class="logo-image" src="{{hotelLogo}}" />
    </div>
</div>
<!-- main section starts here -->
<div class="container-fluid">
    <!-- request text -->
    <div class="row" ng-show="isLoading && !netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="request-text">Your request is being processed. This may take a few seconds..... please wait!</p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <!-- error message -->
    <div class="row" ng-show="netWorkError">
        <div class="col-md-2"></div>
        <div class="col-md-8 top-spacing">
            <p class="error-text">Our apologies, something went wrong, please complete your check-in at our front desk. You can also call the hotel at <a href="tel: {{hotelPhone}}" class="phone-text">{{hotelPhone}}.</a></p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <!-- email entry -->
    <div class="row" ng-hide="isLoading || netWorkError || emailUpdated">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="section-container">
                <p class="main-text">Enter Your E-mail Address</p>
                <p class="sub-main-text">We use your e-mail address to send you your room number:</p>
                <p class="sub-text pull-left first-field">E-MAIL ADDRESS</p>
                <input type="email" class="input-field padding-3" ng-model="guestDetails.email"></input>
                <!--  submit button-->
                <button type="submit" class="btn btn-template margin-top-20" ng-click="emailSubmitted()">Continue</button>
             <form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <!-- email updated -->
    <div class="row" ng-hide="isLoading || netWorkError || !emailUpdated">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="section-container">
                <p class="main-text"> E-mail Address Updated</p>
                <p class="sub-main-text"> We updated your Guest profile to include this e-mail address: {{guestDetails.email}}</p>
                <button class="btn btn-template margin-top-20" ng-click="continueToPrecheckin()" value="Continue">Continue</button>
                <button class="btn btn-template margin-top-20 grey-btn" ng-click="changeEmail()"> Change Email address</button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
