<!-- <div role="dialog" id="modal" class="modal-show">
	<form class="modal-content form confirmation" name="remove-charge">
		<button class="button red modal-close" type="button" ng-click="callActionsPopupAction('remove')">Remove charge</button> 
		<button class="button green modal-close" type="button"  ng-click="callActionsPopupAction('split')">Split charge</button> 
		<button class="button green modal-close" type="button"  ng-click="callActionsPopupAction('edit')">Edit charge</button> 
		<button class="button blank modal-close" type="button" ng-click="callActionsPopupAction('close')">Cancel</button> 
	</form>
</div> -->
<div role="dialog" id="modal" class="modal-show">
<form method="post" action="" id="edit-charge-options" name="edit-charge" class="modal-content form edit-charge">
    <button class="modal-close" type="button"  ng-click="callActionsPopupAction('close')"><span class="icons icon-close invert"></span></button>
    <!-- 1. Options -->
    <fieldset id="charge-options" class="actions">
        <button type="button" class="button red" ng-click="callActionsPopupAction('remove')">Remove Charge</button>
        <button type="button" class="button blue" ng-click="callActionsPopupAction('split')">Split charge</button>
        <button type="button" class="button brand-colors" ng-click="callActionsPopupAction('edit')">Edit charge</button> 
        <button type="button" class="button blank modal-close" ng-click="callActionsPopupAction('close')">Cancel</button> 
    </fieldset>

</form>
</div>