<div class="invoice-logo envelope">
    <img ng-src="{{printData.hotel_logo}}" alt="" />
    <h1>{{printData.hotel_name}}</h1>
    <span ng-bind-html="printData.hotel_address" ng-if="printData.show_hotel_address"></span>
    
    <span class="type">{{printData.translation.proforma_invoice}}</span>
</div>

<div class="info-container account-info">
    <div class="float">
        <div class="info-left">
            <span ng-if="printData.card_type === 'COMPANY'">
                <span>{{printData.company_card_details.name}}</span><br ng-if="printData.company_card_details.name" />
                <span ng-bind-html="printData.company_card_details.address"></span>
            </span>

            <span ng-if="printData.card_type === 'TRAVELAGENT'">
                <span>{{printData.ta_card_details.name}}</span><br ng-if="printData.ta_card_details.name" />
                <span ng-bind-html="printData.ta_card_details.address"></span>
            </span>
        </div>
    </div>
    <div class="info-bottom float">
        <div class="info-left">
            <strong>{{printData.translation.group_start_date}}: </strong> {{printData.group_start_date | date:dateFormat}}<br/>
            <strong>{{printData.translation.group_end_date}}: </strong> {{printData.group_end_date | date:dateFormat}}<br/> 
            <span ng-if="printData.po_number"><strong>{{printData.translation.po_number}}: </strong> {{printData.po_number}}<br/></span>  
            <span ng-if="printData.payment_date"><strong>{{printData.translation.payment_date}}: </strong> {{printData.payment_date | date:dateFormat}}<br/></span> 
            <span ng-if="printData.should_print_invoice_number"><strong><span ng-if="printData.invoice_number_label">{{printData.invoice_number_label}}:</span>
            <span ng-if="!printData.invoice_number_label">{{printData.translation.invoice_number}}:</span> </strong>{{printData.invoice_number}}<br/></span>
        </div>

        <div class="info-right" ng-if="printData.card_type === 'COMPANY'">
            <strong >{{printData.translation.account_name}}:&nbsp;</strong>{{printData.account_name}}<br/>
        </div>
        <div class="info-right" ng-if="printData.card_type === 'TRAVELAGENT'">
            <strong >{{printData.translation.account_name}}:&nbsp;</strong>{{printData.account_name}}<br/>
        </div>
    </div>
</div>

<div class="invoice-header">
    {{printData.custom_text_header}}
</div>

<div class="invoice-body">
    <table class="invoice-details proforma-details">
        <thead>
            <tr>
                <th class="date">{{printData.translation.date | date:dateFormat}}</th> 
                <th class="type">{{printData.translation.type}}</th>
                <th class="occ">{{printData.translation.occupancy}}</th>
                <th class="align-right amount">{{printData.translation.item_price}}</th>
                <th class="align-right qty">{{printData.translation.quantity}}</th>
                <th class="align-right amount">{{printData.translation.debit}}</th>
                <th class="align-right amount">{{printData.translation.credit}}</th>
                <th class="align-right amount">{{printData.translation.total}}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="7"><strong>{{printData.translation.total_charge}}</strong></td>
                <td><strong><span ng-bind-html="printData.proforma_bill_transactions.total_charge | sntCurrency:this"></span></strong>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.proforma_bill_transactions.invoice_currency_total_charge !== null" ng-bind-html="printData.proforma_bill_transactions.invoice_currency_total_charge | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>
            <tr>
                <td colspan="7"><strong>{{printData.translation.total_credits}}</strong></td>
                <td><strong><span ng-bind-html="printData.proforma_bill_transactions.total_credit | sntCurrency:this"></span></strong>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.proforma_bill_transactions.invoice_currency_total_credit !== null" ng-bind-html="printData.proforma_bill_transactions.invoice_currency_total_credit | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>
            <tr>
                <td colspan="7"><strong>{{printData.translation.balance}}</strong></td>
                <td><strong><span ng-bind-html="printData.proforma_bill_transactions.balance | sntCurrency:this"></span></strong>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.proforma_bill_transactions.invoice_currency_balance !== null" ng-bind-html="printData.proforma_bill_transactions.invoice_currency_balance | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>
            <tr>
                <td colspan="7">{{printData.translation.net_amount}}</td>
                <td><span ng-bind-html="printData.proforma_bill_transactions.net_amount | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.proforma_bill_transactions.invoice_currency_net_amount !== null" ng-bind-html="printData.proforma_bill_transactions.invoice_currency_net_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>
            <tr ng-if="!printData.has_enabled_extended_tax_breakdown" ng-repeat="tax in printData.bill_transactions_info.tax_info">
                <td colspan="7">{{tax.tax_charge_code_desc}}</td>
                <td><span ng-bind-html="tax.amount | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && tax.invoice_currency_amount !== null" ng-bind-html="tax.invoice_currency_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>
            <tr>
                <td colspan="7">{{printData.translation.total_incl_tax }}</td>
                <td>
                    <span ng-bind-html="printData.proforma_bill_transactions.total_incl_tax | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.proforma_bill_transactions.invoice_currency_total_incl_tax !== null" ng-bind-html="printData.proforma_bill_transactions.invoice_currency_total_incl_tax | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>            
        </tfoot>
        <tbody>
            <tr class="first" ng-repeat-start="item in printData.proforma_bill_transactions.transaction_details"  ng-class="{'last' : printData.proforma_bill_transactions.transaction_details[$index].occupancy_details.length === 1}">
                <td class="date">{{item.date | date:dateFormat}}</td>
                <td class="type">{{item.occupancy_details[0].type}}</td>
                <td class="occ">{{item.occupancy_details[0].occupancy}}</td>
                <td class="align-right amount">
                    <span ng-if="item.occupancy_details[0].item_price" ng-bind-html="item.occupancy_details[0].item_price | sntCurrency:this" ></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.occupancy_details[0].invoice_currency_item_price !== null" ng-bind-html="item.occupancy_details[0].invoice_currency_item_price | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
                <td class="align-right qty">{{item.occupancy_details[0].quantity}}</td>
                <td class="align-right amount">
                    <span ng-if="item.occupancy_details[0].debit" ng-bind-html="item.occupancy_details[0].debit | sntCurrency:this" ></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.occupancy_details[0].invoice_currency_debit !== null" ng-bind-html="item.occupancy_details[0].invoice_currency_debit | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
                <td class="align-right amount">
                    <span ng-if="item.occupancy_details[0].credit" ng-bind-html="item.occupancy_details[0].credit | sntCurrency:this" ></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.occupancy_details[0].invoice_currency_credit !== null" ng-bind-html="item.occupancy_details[0].invoice_currency_credit | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
                <td class="align-right amount" valign="bottom" ng-if="printData.proforma_bill_transactions.transaction_details[$index].occupancy_details.length === 1">
                    <span ng-if="item.total_amount" ng-bind-html="item.total_amount | sntCurrency:this" ></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.invoice_currency_total_amount !== null" ng-bind-html="item.invoice_currency_total_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
            </tr>

            <tr ng-repeat-end ng-repeat="occupancyData in item.occupancy_details" ng-if="$index >= 1" ng-class="{'last' : $last}">
                <td></td>
                <td class="type">{{occupancyData.type}}</td>
                <td class="occ">{{occupancyData.occupancy}}</td>
                <td class="align-right amount">
                    <span ng-if="occupancyData.item_price" ng-bind-html="occupancyData.item_price | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && occupancyData.invoice_currency_item_price !== null" ng-bind-html="occupancyData.invoice_currency_item_price | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
                <td class="align-right qty">{{occupancyData.quantity}}</td>
                <td class="align-right amount">
                    <span ng-if="occupancyData.debit" ng-bind-html="occupancyData.debit | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && occupancyData.invoice_currency_debit !== null" ng-bind-html="occupancyData.invoice_currency_debit | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
                <td class="align-right amount">
                    <span ng-if="occupancyData.credit" ng-bind-html="occupancyData.credit | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && occupancyData.invoice_currency_credit !== null" ng-bind-html="occupancyData.invoice_currency_credit | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>
                <td class="align-right amount" valign="bottom" rowspan="{rowspan}" ng-if="$last">
                    <span ng-if="item.total_amount" ng-bind-html="item.total_amount | sntCurrency:this"></span>
                    <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.invoice_currency_total_amount !== null" ng-bind-html="item.invoice_currency_total_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
                </td>

            </tr>
           
        </tbody>
    </table>
</div>
<table class="invoice-details extended-tax-table" ng-if="printData.has_enabled_extended_tax_breakdown">
    <thead>
        <tr>
            <th class="text-align-left" >{{printData.translation.tax_description}}</th>
            <th >{{printData.translation.gross}}</th>
            <th >{{printData.translation.net}}</th>
            <th >{{printData.translation.tax}}</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in printData.extended_tax_breakdown.details">
            <td class="text-align-left" ng-if="item.description === 'Tax Exempt'">{{ printData.translation.tax_exempt }}</td>
            <td class="text-align-left" ng-if="item.description !== 'Tax Exempt'">{{ item.description }}</td>
            <td>
                <span ng-bind-html="item.gross_amount | sntCurrency:this"></span>
                <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.inv_gross_amount !== null" ng-bind-html="item.inv_gross_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
            </td>
            <td>
                <span ng-bind-html="item.net_amount | sntCurrency:this"></span>
                <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.inv_net_amount !== null" ng-bind-html="item.inv_net_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
            </td>
            <td>
                <span ng-bind-html="item.tax_amount | sntCurrency:this"></span>
                <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && item.inv_tax_amount !== null" ng-bind-html="item.inv_tax_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td class="text-align-left" >{{printData.translation.total}}</td>
            <td>
                <span ng-bind-html="printData.extended_tax_breakdown.total_gross_amount | sntCurrency:this"></span>
                <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.extended_tax_breakdown.inv_total_gross_amount !== null" ng-bind-html="printData.extended_tax_breakdown.inv_total_gross_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
            </td>
            <td>
                <span ng-bind-html="printData.extended_tax_breakdown.total_net_amount | sntCurrency:this"></span>
                <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.extended_tax_breakdown.inv_total_net_amount !== null" ng-bind-html="printData.extended_tax_breakdown.inv_total_net_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
            </td>
            <td>
                <span ng-bind-html="printData.extended_tax_breakdown.total_tax_amount | sntCurrency:this"></span>
                <div class="converted-currency" ><span ng-if="isMultiCurrencyEnabled && invoiceCurrencySymbol !== '' && printData.extended_tax_breakdown.inv_total_tax_amount !== null" ng-bind-html="printData.extended_tax_breakdown.inv_total_tax_amount | sntCurrency:this:invoiceCurrencySymbol"></span></div>
            </td>
        </tr>
    </tfoot>           
</table>

<div class="invoice-footer text-center" ng-bind-html="trustAsHtml(printData.custom_text_footer)">
</div>