<div class="invoice-logo">
    <h1>Invoice</h1>
    <img ng-if="printData.hotel_logo!=''" ng-src="{{printData.hotel_logo}}" alt="Logo of hotel" />
</div>
<div class="invoice-header">
    {{printData.custom_text_header}}
</div>
<table class="guest-info">
    <tbody>
        <tr>
            <th>Guest Full Name</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
        </tr>
        <tr>
            <td>{{printData.guest_details.first_name}}&nbsp;{{printData.guest_details.last_name}}</td>
            <td>{{printData.arrival_date}}</td>
            <td>{{printData.departure_date}}</td>
        </tr>
        <tr>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>{{printData.guest_details.city}}</td>
            <td>{{printData.guest_details.state}}</td>
            <td>{{printData.guest_details.postal_code}}</td>
            <td>{{printData.guest_details.country}}</td>
        </tr>
        <tr>
            <th>Confirmation No.</th>
            <th>Room No.</th>
            <th>Invoice No.</th>
        </tr>
        <tr>
            <td>{{printData.confirmation_number}}</td>
            <td>{{printData.room_number}}</td>
            <td>{{printData.invoice_number}}</td>
        </tr>
    </tbody>
</table>

<div class="invoice-body">
    <p class="date"><strong>Invoice date</strong>{{printData.invoice_date}}</p>
    <table class="invoice-details">
        <caption>
            {{printData.hotel_name}}
            <span ng-if="printData.show_hotel_address">
                {{printData.hotel_address}}
            </span>
        </caption>
        <thead>
            <tr>
                <th>Date of Charge</th>
                <th>Charge description</th>
                <th class="align-right">Charge amount</th>
                <th class="align-right">Credit amount</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">Total Charge</td>
                <td>{{printData.currency}}{{printData.total_fees}}</td>
            </tr>
            <tr>
                <td colspan="3">Total Credits</td>
                <td>{{printData.currency}}{{printData.credits | number: precisonTwo}} </td>
            </tr>

            <tr ng-repeat="payment_details in printData.payment_details">
                <td colspan="3" ng-if="$index==0">Method of Payment</td>
                <td colspan="3" ng-if="$index !=0"></td>
                <td ng-if="payment_details.description == 'Credit Card'">
                    <span>{{payment_details.description}}({{payment_details.card_number}})</span>
                </td>
                <td ng-if="payment_details.description != 'Credit Card'">
                    <span>{{payment_details.description}}</span>
                </td>
            </tr>

            <tr>
                <td colspan="3">Balance</td>
                <td>{{printData.currency}}{{printData.balance}}</td>
            </tr>
            <tr>
                <td colspan="3">Net Amount</td>
                <td>{{printData.currency}}{{printData.net_amount}}</td>
            </tr>
           
            <tr ng-repeat="item in printData.charge_details_list" ng-if="item.is_tax">
                <td colspan="3"> 
                    {{item.description}}
                </td>
                <td>           
                    {{printData.currency}}{{item.amount | number: precisonTwo}}
                </td>
            </tr>

            <tr>
                <td colspan="3">Total Incl Tax</td>
                <td>{{printData.currency}}{{printData.total_incl_tax}}</td>
            </tr>            
        </tfoot>

        <tbody>
            <tr ng-repeat="item in printData.charge_details_list" ng-if="!item.is_tax">
                <td>{{feesData.date | date:'MM-dd-yyyy'}}</td>
                <td>{{item.description}}</td>
                <td class="align-right">{{printData.currency}}{{item.amount | number: precisonTwo}}</td>
                <td class="align-right"></td>
            </tr>

            <tr ng-repeat="item in printData.credit_details_list">
                <td>{{feesData.date | date:'MM-dd-yyyy'}}</td>
                <td>{{item.description}}</td>
                <td class="align-right"></td>
                <td class="align-right">{{printData.currency}}{{item.amount | number: precisonTwo}}</td>
            </tr>
        </tbody>

    </table>
</div>
<div class="invoice-footer">
    {{printData.custom_text_footer}}
</div>