<!-- This is the customized registration card (CICO-64935) -->
<table class="guest-data-enter fixed customized border-top">
    <tr>
        <td class="headline centered short" style="max-width: 170pt; width: 30%;">
            GÄSTEBLATT
        </td>
        <td class="short">
            Lfd.-Nr:
        </td>
        <td class="centered short" style="max-width: 150pt; width: 30%;">
            Hotel Bed & Breakfast GmbH
        </td>
    </tr>
</table>

<table class="guest-data-enter fixed customized">
    <tr>
        <td>Famlienname/Last Name <br />
            {{ printRegCardData.guest_details.last_name }}
        </td>
        <td style="max-width: 150pt; width: 30%;">
            Geschlecht/Gender<br />
            {{ printRegCardData.guest_details.gender }}
        </td>
    </tr>
</table>

<table class="guest-data-enter fixed customized">
    <tr>
        <td>Vorname/First Name<br />
            {{ printRegCardData.guest_details.first_name }}
        </td>
        <td style="width: 150pt;">Geburtsdatum/Date of birth<br />
            {{ printRegCardData.guest_details.birthday }}
        </td>
        <td style="max-width: 150pt; width: 30%;">
            Beruf/Profession<br />
            {{ printRegCardData.guest_details.profession }}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Reisedokument & Nummer/Identification Type & Number<br />
            {{printRegCardData.guest_details['id_number']}}
        </td>
        <td>
            Staatsangehörigkeit/Nationality<br />
            {{printRegCardData.guest_details['nationality_name']}}
        </td>
    </tr>
</table>

<table class="guest-data-enter customized border-bottom">
    <tbody>
        <tr>
            <td rowspan="2" class="centered" style="width: 80pt;">
                <strong>Hauptwohnsitz</strong>
                Main Address
            </td>
            <td colspan="3">Strasse/Street<br />
                {{ printRegCardData.guest_details.street }}
            </td>
        
        </tr>
        <tr>
            <td colspan="3" class="inner-table border-left-width">
                <table class="guest-data-enter customized">
                    <tbody>
                        <tr class="details">
                            <td style="width:100pt;">Plz/Postal Code<br />
                                {{ printRegCardData.guest_details.postal_code }}
                            </td>
                            <td style="width:200pt;">Stadt/City<br />
                                {{ printRegCardData.guest_details.city }}
                            </td>
                            <td style="width:150pt;">Bundesland/Province<br />
                                {{ printRegCardData.guest_details.province }}
                            </td>
                            <td>Land/Country<br />
                                {{printRegCardData.guest_details['country_name']}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td class="centered" style="width: 80pt;">
                <strong>Ehegatte oder eingetr. Partner</strong>
                Spouse or partner
            </td>
            <td colspan="4">Vorname, Geburtsjahr/First name, date of birth<br />
                {{printRegCardData.guest_details.accompanying_guest_first_name}}, {{printRegCardData.guest_details.accompanying_guest_dob}}
            </td>
        </tr>

        <tr>
            <td rowspan="{{printRegCardData.rowspanAustrianRegCardChild}}" class="centered" style="width: 80pt;">
                <strong>Kind(er)</strong>
                Child(ren)
            </td>
            <td style="width: 130pt">
                Vorname, Geburtsjahr
                <span class="placeholder">First name, date of birth</span><br />
                {{printRegCardData.guest_details.accompanying_children[0].first_name}}, {{printRegCardData.guest_details.accompanying_children[0].date_of_birth}}
            </td>
            <td style="width: 130pt">
                Vorname, Geburtsjahr
                <span class="placeholder">First name, date of birth</span><br />
                {{printRegCardData.guest_details.accompanying_children[1].first_name}}, {{printRegCardData.guest_details.accompanying_children[1].date_of_birth}}
            </td>
            
            <td class="inner-table">
                <table class="guest-data-enter fixed customized">
                    <tr class="details">
                        <td>
                            Anreise/Arrival<br />
                            {{ printRegCardData.arrival_date | date : dateFormat }}
                        </td>
                        <td>
                            Abreise/Departure<br />
                            {{ printRegCardData.dep_date | date : dateFormat }}
                        </td>
                    </tr>
                </table>
            </td> 
        </tr>
        <tr>
            <td style="width: 130pt">
                Vorname, Geburtsjahr
                <span class="placeholder">First name, date of birth</span><br />
                {{printRegCardData.guest_details.accompanying_children[2].first_name}}, {{printRegCardData.guest_details.accompanying_children[2].date_of_birth}}
            </td>
            <td style="width: 130pt">
                Vorname, Geburtsjahr
                <span class="placeholder">First name, date of birth</span><br />
                {{printRegCardData.guest_details.accompanying_children[3].first_name}}, {{printRegCardData.guest_details.accompanying_children[3].date_of_birth}}
            </td>            
            <td>
                Unterschrift des Meldepflichtigen/Signature
            </td>
        </tr>
        <tr>
            <td colspan="3" style="width: 130pt">
                Vorname, Geburtsjahr
                <span class="placeholder">First name, date of birth</span><br />
                {{printRegCardData.guest_details.accompanying_children[2].first_name}}, {{printRegCardData.guest_details.accompanying_children[2].date_of_birth}}
            </td>
            
        </tr>

        <tr>
            <td rowspan="2" class="centered short" style="width: 80pt;">
                <strong>Bei Reisegruppen</strong>
                Groups
            </td>
            <td rowspan="2" class="inner-table short border-right-grey">
                <table class="guest-data-enter fixed customized">
                    <tbody>
                        <tr>
                            <td class="short border-right-grey">Gesamtanzahl</td>
                            <td class="short">Aufgliederung nach Herkunfts- land</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            
            <td colspan="2" class="inner-table short border-bottom-grey">
                <table class="guest-data-enter fixed customized">
                    <tbody>
                        <tr>
                            <td class="inner-table short border-right-grey">
                                <table class="guest-data-enter fixed customized">
                                    <tbody>
                                        <tr class="details">
                                            <td class="short">Herkunftsland</td>
                                            <td class="short align-right">Anzahl</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="inner-table short">
                                <table class="guest-data-enter fixed customized">
                                    <tbody>
                                        <tr class="details">
                                            <td class="short">Herkunftsland</td>
                                            <td class="short align-right">Anzahl</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            
        </tr>
        <tr class="with-borders">
            <td colspan="2" class="inner-table short">
                <table class="guest-data-enter fixed customized">
                    <tbody>
                        <tr>
                            <td class="inner-table short border-right-grey">
                                <table class="guest-data-enter fixed customized">
                                    <tbody>
                                        <tr class="details">
                                            <td class="short">Herkunftsland</td>
                                            <td class="short align-right">Anzahl</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="inner-table short">
                                <table class="guest-data-enter fixed customized">
                                    <tbody>
                                        <tr class="details">
                                            <td class="short">Herkunftsland</td>
                                            <td class="short align-right">Anzahl</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>