<div id="billing-content" class="content-wrapper" ng-controller="rvRouteDetailsCtrl">
   <fieldset class="content-left">
      <div id="entity-details" class="entity-details scrollable">
         <div class="wrapper">
            <div class="title">
               Entity
               <button type="button" id="edit-entity" class="button with-icon only-icon purple edit">
               <span class="icons icon-pencil"></span>
               </button>
            </div>
            <!-- Selected entity -->
            <div class="entity guest">
               <figure class="guest-image">
                  <img src="{image}" alt="" />
               </figure>
               <h2>{lastname}, {firstname}</h2>
               <span class="guest-status {reservation-status} small-icon">{reservation-status}</span>
            </div>
            <div class="title">Payment</div>
            <!-- Available credit card -->
            <div class="payment" ng-show = "!isAddPayment">
               <!-- add class active when selected -->
               <figure class="card-logo">
                  <img src="{card-logo}" alt="" />
               </figure>
               <span class="number">Number <span class="value number">{number}</span></span>
               <span class="date">Date <span class="value date">{date}</span></span>
            </div>
            
            <!-- Add new credit card button - remove it when new card is added -->
            <button type="button" class="add-new-button" ng-click = "isAddPayment = true" ng-show = "!isAddPayment">+ New Payment Method</button>

            <!-- For to add the new credit card, should be shown when button above is tapped -->
            <div ng-show = "isAddPayment" ng-include="'/assets/partials/bill/rvRoutesAddPayment.html'"  > </div>
         </div>
      </div>
   </fieldset>
   <fieldset class="content-right">
      <span class="h2 message">
         Route to Bill #
         <div class="select">
            <select name="post-charge-to-bill">
               <option value="1" selected="true">1</option>
               <!-- .. add options as needed -->
            </select>
         </div>
      </span>
      <ul id="transaction-type" class="modal-options">
         <li ng-class="{'active' : isBillingGroup}" ng-click = "isBillingGroup = !isBillingGroup">Billing Group</li>
         <li ng-class="{'active' : !isBillingGroup}" ng-click = "isBillingGroup = !isBillingGroup">Charge Codes</li>
      </ul>
      <div id="transactions" class="transactions scrollable" ng-show = "isBillingGroup">
         <div class="entry radio-check wrapper">
            <label class="checkbox">
            <span class="icon-form icon-checkbox"></span>
            <input name="billing-group" id="100" value="100" type="checkbox" />
            <span class="value">100</span> Room
            </label>
            
         </div>
      </div>

      <!-- Search available charge codes -->
      <div id="autocomplete-charge-codes" class="search-codes" ng-show = "!isBillingGroup">
         <input name="search-codes" id="search-codes" type="text" placeholder="Search or Select codes to add" value="" autocomplete="off" />
         <div class="mini-select">
            <select id="charge-codes" name="charge-codes">
               <option value="10">10 Minibar</option>
               
            </select>
         </div>
      </div>
      <!-- Added from search -->
      <div id="transactions" class="transactions codes scrollable" ng-show = "!isBillingGroup">
         <div class="entry radio-check wrapper">
            <label class="checkbox">
               <span class="icon-form icon-checkbox checked"></span>
                  <input name="billing-group" id="100" value="100" type="checkbox" checked />
               <span class="value">100</span> Spa
            </label>
            
         </div>
      </div>
      <!-- No content-->
         <div id="transactions" class="transactions codes scrollable no-content" ng-show = "!isBillingGroup">
            <div class="info">
               <strong class="h1">No codes added</strong>
            </div>
         </div>

   </fieldset>
</div>