<form id="signature-pad" class="complete-registration form">
	<h2>Please sign below</h2>
	<div class="sig sigWrapper">
		<div id="signature">
			<div style="padding:0 !important;margin:0 !important;width: 100% !important; height: 0 !important;margin-top:-1em !important;margin-bottom:1em !important;"></div>
			<canvas style="margin: 0px; padding: 0px; border: medium none; height: 130px; width: 1241px;" class="jSignature pad" width="1241" height="130"></canvas>
			<div style="padding:0 !important;margin:0 !important;width: 100% !important; height: 0 !important;margin-top:-1.5em !important;margin-bottom:1.5em !important;"></div>
		</div>
	</div>
	<div class="entry">
		<label id="terms-and-conditions" for="terms" class="checkbox inline">
			<span class="icon-form icon-checkbox"></span>
			<input type="checkbox" value="1" name="checkin" id="terms">
			By Checking this box you hereby agree to the Terms &amp; Conditions </label>
		<label id="subscribe-via-email" for="subscribe" class="checkbox inline checked">
			<span class="icon-form icon-checkbox checked"></span>
			<input type="checkbox" value="1" name="checkin" id="subscribe" checked="">
			Please send me promotions and news via email. </label>
	</div>
	<div class="actions">
		<!-- Complete checkin button disabled out until ready / vacant room is assigned -->
		<button id="checkin-button" data-room-status="READY" data-reseravation-status="CHECKING_IN" data-required-signature="CHECKIN" data-key-settings="encode" data-fo-status="VACANT" class="button green">
			Complete checkin
		</button>
		<div class="clearButton">
			<a id="clear-signature" class="button blank">Clear signature</a>
		</div>
	</div>
</form>