<!-- Total Fees & Balance -->
<div class="total-stay-fees float">
	<div class="overview" ng-repeat="totalFees in billData.total_fees" >
		<a ng-click="toggleFeesDetails($parent.$index)" ng-hide="billData.hasFeesArray" class="toggle has-arrow with-rate" ng-class="showFeesDetailsOpenClose(billData.isOpenFeesDetails)">
			<span class="title"> Guest Balance:
				<em class="label"> As of
					{{totalFees.fees_date | date:'MM-dd-yyyy'}}
				</em> 
			</span> 
			<span class="value" ng-class="getBalanceClass(totalFees.balance_amount)">{{currencySymbol}}{{totalFees.balance_amount | number: precisonTwo}}</span> 
		</a>
	</div>
	<div class="overview" ng-click="toggleFeesDetails($parent.$index)" ng-show="billData.hasFeesArray" ng-class="showFeesDetailsOpenClose(billData.isOpenFeesDetails)">
		<p>
			<span class="title"> Guest Balance: <em class="label"></em> </span>
			<span class="value"> 
				{{currencySymbol}}	0.00 
			</span>
		</p>
	</div>

	<!-- Show Signature button -->
	<div class="signature" ng-show="reservationBillData.signature_details.is_signed">
		<a class="toggle signature-toggle has-arrow"> 
			<span class="icons icon-signature"></span> 
			Signed 
			<em class="label"> {{reservationBillData.signature_details.signed_date_time}} </em> 
		</a>
	</div>
	
	<!-- Credit card -->
	<div class="block-item item-payment">
		 <!-- AS PER CICO-4842 keeping cc section hidden for billnumber other than 1 -->
		<a class="next-view" ng-show="billData.credit_card_details.payment_type == 'CC' && $index == '0'">
			<figure class="card-logo">
				<img src="/assets/{{billData.credit_card_details.card_code}}.png" alt="">
			</figure> 
			<span class="number"> 
				Ending with 
				<span class="value number"> 
					{{billData.credit_card_details.card_number}} 
				</span> 
			</span> 
			<span class="date"> 
				Date 
				<span class="value date"> {{billData.credit_card_details.card_expiry | date:'MM/yy'}} </span> 
				</span> 
			</a>
		<a class="button with-icon green" ng-click='addNewPaymentModal()' ng-show="billData.credit_card_details.payment_type == 'CC' && $index == '0'"> 
			<span class="icons icon-wallet"></span> Update CC 
		</a>
		<h3 ng-show="billData.credit_card_details.payment_type == 'DB'"> {{billData.guest_or_company_name}} </h3>
		<h3 ng-show="billData.credit_card_details.payment_type == 'CA'"> Cash Payment <a class="add-new-button">+ Add</a></h3>
		<h3 ng-show="billData.credit_card_details.payment_type == 'CK'"> Check Payment <a class="add-new-button">+ Add</a></h3>
		<h3 ng-show="showNotDefined(billData.credit_card_details.payment_type)"> Not Defined <a class="add-new-button">+ Add</a></h3>
	</div>
	<!-- Show signed signature -->
	<!-- Bill Total Stay Fees -->
	<div class="details" ng-class="showFeesDetailsClass(billData.isOpenFeesDetails)" ng-repeat="totalFeesArray in billData.total_fees" ng-show="$parent.$index==showActiveBillFeesDetails">
		<table class="total-fees">
			<thead>
				<tr>
					<!-- %th Type -->
					<th>Date</th>
					<th>Description</th>
					<th>Fees</th>
					<th>Credits</th>
					<th class="action-select">Bill #</th>
					<th class="action"></th>
				</tr>
			</thead>
			<!-- Total Stay fees details in CHECK IN status. -->
			<tfoot>
				<tr class="active edit">
					<td colspan="2" class="total-label">
						<!-- Show email and print buttons -->
						<a class="button with-icon only-icon blue hidden">
							 <span class="icons icon-email"></span> 
						</a>
						<a class="button with-icon only-icon blue hidden"> 
							<span class="icons icon-print"></span> 
						</a> Stay fees (as of
					 		{{totalFeesArray.fees_date | date:'MM-dd-yy'}}	):
					 </td>
					 <td colspan="2" class="total-value" >
						<strong ng-hide="totalFeesArray.total_amount == 'SR'"> 
							{{currencySymbol}}
							{{totalFeesArray.total_amount | number: precisonTwo}}
						</strong>
						<strong ng-show="totalFeesArray.total_amount == 'SR'"> 
							{{totalFeesArray.total_amount}}
						</strong>
					 </td>
					
					 <!-- Show edit button to edit amount -->
					 <td class="edit">
						<a class="button with-icon only-icon purple edit hidden"> 
							<span class="icons icon-pencil hidden"></span> Edit
						</a>
					</td>
				</tr>
				<!-- Show balance -->
				<tr class="active" ng-hide="showGuestBalance(reservationBillData.reservation_status)">
					<td colspan="2" class="total-label"> Balance (as of
					{{totalFeesArray.fees_date | date:'MM-dd-yy'}}
					): </td>
					<td colspan="3" ng-show="totalFeesArray.balance_amount == 'SR'" class="total-value" ng-class="getBalanceClass(billData.total_fees.balance_amount)">
						<strong> 
							{{currencySymbol}}{{totalFeesArray.balance_amount | number: precisonTwo}} 
						</strong>
					</td>
					<td colspan="3" ng-hide="totalFeesArray.balance_amount == 'SR'" class="total-value" ng-class="getBalanceClass(billData.total_fees.balance_amount)">
						<strong> 
							{{totalFeesArray.balance_amount}} 
						</strong>
					</td>
					<td></td>
					<!-- Show fee details -->
				</tr>
				<tr class="active" ng-show="showGuestBalance(reservationBillData.reservation_status)">
					<td colspan="2" class="total-label"> Guest Balance (as of
						{{totalFeesArray.fees_date | date:'MM-dd-yy'}}):
					</td>
					<td colspan="3" ng-hide="totalFeesArray.balance_amount == 'SR'" class="total-value" ng-class="getBalanceClass(billData.total_fees.balance_amount)">
						<strong> 
							{{currencySymbol}}{{totalFeesArray.balance_amount | number: precisonTwo}} 
						</strong>
					</td>
					<td colspan="3" ng-show="totalFeesArray.balance_amount == 'SR'" class="total-value" ng-class="getBalanceClass(billData.total_fees.balance_amount)">
						<strong> 
							{{totalFeesArray.balance_amount}} 
						</strong>
					</td>
					<td></td>
					<!-- Show fee details -->
				</tr>
			</tfoot>
			<tbody>
				<tr class="active edit" ng-repeat="feesData in totalFeesArray.fees_details">
					<td> {{feesData.date | date:'MM-dd-yyyy'}}</td>
					<td> 
						<span ng-repeat="description in feesData.description">
							{{description.fees_desc}}
							<br>
						</span>
					</td>
					<td><strong> 
						<span ng-repeat="description in feesData.description">
							<span ng-show="description.fees_amount == 'SR'">
								{{description.fees_amount}}
							</span>
							<span ng-hide="description.fees_amount == 'SR'">
								{{currencySymbol}}{{description.fees_amount | number: precisonTwo}}
							</span>
							<br>
						</span>
					</strong></td>
					<td>
						<strong ng-show="feesData.credits!=''"> 
							{{currencySymbol}}{{feesData.credits}}
						</strong>
						<strong ng-show="feesData.credits=='SR'"> 
							{{feesData.credits}}
						</strong>
					</td>
					<td>
					
					<div class="select">
						<select class="movetobill" ng-model="feesData.billValue" ng-change="moveToBillAction(feesData.oldBillValue, $index)">
							<option value="" disabled="disabled" class="placeholder">Move to bill</option>
							
							<option value="{{billNumbers.bill_number}}" ng-selected="billNumbers.bill_number==(currentActiveBill+1)" ng-repeat="billNumbers in reservationBillData.bills"> {{billNumbers.bill_number}} </option>
							
						</select>
					</div></td>
					<td class="edit"><a class="button with-icon only-icon purple edit hidden"> <span class="icons icon-pencil hidden"></span> Edit </a></td>
				</tr>
			</tbody>

		</table>
	</div>
</div>