<!-- Fees & Balance Overview -->
<div class="overview" ng-repeat="totalFees in billData.total_fees" >
	<button class="toggle with-rate" type="button" ng-click="toggleFeesDetails($parent.$index)" ng-hide="billData.hasFeesArray" ng-class="showFeesDetailsOpenClose(billData.isOpenFeesDetails)">
		<span class="title" translate>GUEST_BALANCE</span>		
		<span class="value" ng-show="isBalanceShown(totalFees.is_rate_suppressed)" ng-class="getBalanceClass(totalFees.balance_amount)">
			{{currencySymbol}}{{totalFees.balance_amount | number: precisonTwo}}
		</span>
		<span class="value" ng-show="!isBalanceShown(totalFees.is_rate_suppressed)" ng-class="getBalanceClass(totalFees.balance_amount)">
			{{'SUPPRESSED_RATES_TEXT' | translate}}
		</span>
	</button>
	<button type="button" class="button with-icon green" click-touch='showAdvancedBillDialog()' ng-show="( showPayButton && billData.credit_card_details.payment_type !=='DB') || allowPmtWithGiftCard === true || ( billData.credit_card_details.payment_type ==='DB' && reservationBillData.reservation_status === 'CHECKEDOUT')">
		<span class="icons icon-wallet"></span>
		{{ 'PAY' | translate }}
	</button>
	<!-- Open format bill popup -->
    <button type="button" class="button with-icon blue" ng-click="showFormatBillPopup(reservationBillData.bills[currentActiveBill].bill_number)">
        <span class="icons icon-invoice"></span>
        Invoice
    </button>

	<!-- Button to print registration card, show only for check ins  -->
	<button ng-show="reservationBillData.is_show_registration_card_button" type="button" ng-click="printRegistrationCard()" class="button with-icon brand-colors">
		<span class="icons icon-print"></span>
		Registration Card
	</button>

	<label ng-show="isStandAlone" class="checkbox inline" for="no-rate-print" ng-class="{ 'checked':reservationBillData.hide_rates }">
        <span class="icon-form icon-checkbox" ng-class="{ 'checked':reservationBillData.hide_rates }"></span>
        <input ng-click="clickedShowRate()" id="no-rate-print" value="" type="checkbox">
        {{ 'DONT_PRINT_RATE' | translate }}
    </label>

</div>
<div class="overview" ng-click="toggleFeesDetails($parent.$index)" ng-show="billData.hasFeesArray" ng-class="showFeesDetailsOpenClose(billData.isOpenFeesDetails)">
	<p class="toggle with-rate">
		<span class="title" translate>GUEST_BALANCE</span>
		<span class="value" ng-show="!reservationBillData.is_rate_suppressed_present_in_stay_dates">
			{{currencySymbol}} 0.00
		</span>
		<span class="value" ng-show="reservationBillData.is_rate_suppressed_present_in_stay_dates" translate>
			SUPPRESSED_RATES_TEXT
		</span>
		<button type="button" class="button with-icon green" ng-click='showAdvancedBillDialog()' ng-show="( showPayButton && billData.credit_card_details.payment_type !=='DB') || allowPmtWithGiftCard === true || ( billData.credit_card_details.payment_type ==='DB' && reservationBillData.reservation_status === 'CHECKEDOUT')">
			<span class="icons icon-wallet"></span>
			{{ 'PAY' | translate }}
		</button>
		<button ng-show="reservationBillData.is_show_registration_card_button" type="button" ng-click="printRegistrationCard()" class="button with-icon brand-colors">
			<span class="icons icon-print"></span>
			Registration Card
		</button>
		<button type="button" ng-click="clickedEmail()" class="button with-icon blue" ng-show="isStandAlone">
			 <span class="icons icon-email"></span>
			 E-mail
		</button>
		<button type="button" ng-click="clickedPrint()" class="button with-icon blue" ng-show="isStandAlone">
			<span class="icons icon-print"></span>
			Print
		</button>
	</p>
</div>

<!-- View signature -->
<div class="signature" ng-show="isSigned() || isChargeAccepted()" ng-click="showSignature()">
	<button type="button" class="toggle has-arrow">
		<span class="icons" ng-class="{'icon-signature' : isSigned(), 'icon-smartphone' : isChargeAccepted()}"></span>
	</button type="button">
</div>

<!-- Payment method -->
<div class="block-item item-payment">
	<!-- Credit Card -->
	<button type="button" class="next-view" ng-show="billData.credit_card_details.payment_type == 'CC'" ng-click="showPaymentList()">
		<figure class="card-logo">
			<img ng-src="/assets/images/{{billData.credit_card_details.card_code}}.png" alt="" />
			<span class="number">{{billData.credit_card_details.card_number}}</span>
		</figure>
		<span class="name">{{billData.guest_or_company_name}}</span>

		<!-- 	// CICO-16092 //
				CC display option 1 - Swiped, not authenticated:   		class="icons icon-swiped"
				CC display option 2 - Swiped, and authenticated:   		class="icons icon-swiped icon-authenticated"
				CC display option 3 - Swiped, authentication failed: 	class="icons icon-swiped icon-authentication-failed"
		-->
	    <span ng-show="billData.credit_card_details.is_swiped" class="icons icon-swiped" ng-class="{'icon-authenticated':billData.credit_card_details.auth_color_code === 'green', 'icon-authentication-failed': billData.credit_card_details.auth_color_code === 'red' }">Credit card swiped</span>

	    <!--  CC display option 4 - Not swiped, authenticated:  -->
	    <span ng-show="!billData.credit_card_details.is_swiped && billData.credit_card_details.auth_color_code =='green'" class="icons icon-authenticated">Credit card authenticated</span>

	    <!--  CC display option 5 - Not swiped, authentication failed:  -->
	    <span ng-show="!billData.credit_card_details.is_swiped && billData.credit_card_details.auth_color_code =='red'" class="icons icon-authentication-failed">Credit card authentication failed</span>


	</button>

	<!-- Other Payment methods -->
	<button type="button" class="next-view" ng-show="billData.credit_card_details.payment_type != 'CC' && billData.credit_card_details.payment_type !=null" ng-click="clickedAddUpdateCCButton()">
		<span class="name">{{billData.guest_or_company_name}}</span>
		<span class="type">{{billData.credit_card_details.payment_type_description}}</span>
	</button>
	<!-- No Payment methods -->
	<button type="button" class="add-new-button" ng-show="billData.credit_card_details.payment_type == null" ng-click="clickedAddUpdateCCButton()">
		+ {{'ADD_PAYMENT_METHOD' | translate}}
	</button>
	{{feesData.description()}}
	<button type="button" class="button with-icon only-icon brand-colors open-modal move-charge" ng-show="((isAllChargeCodesSelected() || isAnyOneChargeCodeIsExcluded())&& hasMoveToOtherBillPermission())&& isStandAlone" ng-click="moveChargesClicked()">
        <span class="icons icon-move"></span>
            Move selected
    </button>
</div>

<!-- Signature -->
<div class="details" ng-class="{'signature-wrapper' : isSigned(), 'charges-accepted' : isChargeAccepted()}" ng-show="showSignedSignature">
	<div ng-if="isSigned()">
		<figure>
			<img ng-src="{{reservationBillData.signature_details.signed_image}}" alt="" />
		</figure>
		<span class="signature-date" translate>SIGNED <em> {{reservationBillData.signature_details.signed_date|date:dateFormat}} {{reservationBillData.signature_details.local_user_time}}</em> </span>
	</div>
	<div ng-if="isChargeAccepted()">
		Charges Accepted VIA On-Line Check-In
        <em>{{reservationBillData.charges_accepted_at | date:dateFormat}}</em>
	</div>
</div>

<!-- Total Stay Fees -->
<div class="details" ng-class="showFeesDetailsClass(billData.isOpenFeesDetails)" ng-repeat="totalFeesArray in billData.total_fees" ng-show="$parent.$index==showActiveBillFeesDetails && totalFeesArray.fees_details.length>0 ">
	<table class="total-fees">
		<thead>
			<tr>
				<th><span translate>DATE</span> </th>
				<th><span translate>CHARGE_CODE</span></th>
				<th><span translate>DESCRIPTION</span></th>
				<th><span translate>FEES</span></th>
				<th><span translate>CREDITS</span></th>
				<th class="form"><span translate>BILL</span> #</th>
				<th class="action" ng-if="isStandAlone"><span translate>EDIT</span></th>
				<th class="action" ng-if="hasMoveToOtherBillPermission() && isStandAlone"><label class="checkbox inline">
                    <span class="icon-form icon-checkbox" ng-class="{'checked':isAllChargeCodesSelected(),'semi-checked':isAnyOneChargeCodeIsExcluded()}"></span>
                    <input id="bill-1-all" ng-model="reservationBillData.isAllChargeCodeSelected" type="checkbox" ng-change="selectAllChargeCodeToggle()">
               		 </label>
           		 </th>
			</tr>
		</thead>
		<!-- Total Stay fees details in CHECK IN status. -->
		<tfoot>
			<tr class="active edit">
				<td colspan="3" class="total-label">
					<!--Replaced email/print btn with invoice btn -->
					<button type="button" class="button with-icon only-icon blue inline" click-touch="showFormatBillPopup(billData.bill_number)">
                                    <span class="icons icon-invoice"></span>
                                    {{'INVOICE' |translate}}
                    </button>
					<span translate>STAY_FEES_AS_OF</span>
				 	{{totalFeesArray.fees_date | date:dateFormat}}	):
				</td>
				<td colspan="3" class="total-value" >
					<strong ng-show="isBalanceShown(totalFeesArray.is_rate_suppressed)">
						{{currencySymbol}} {{totalFeesArray.total_amount | number: precisonTwo}}
					</strong>
					<strong ng-show="!isBalanceShown(totalFeesArray.is_rate_suppressed)">
						{{'SUPPRESSED_RATES_TEXT' | translate}}
					</strong>
				</td>
				<td ng-if="isStandAlone">
					<button type="button" class="button with-icon only-icon purple edit hidden">
						<span class="icons icon-pencil"></span>
						<span translate>EDIT</span>
					</button>
				</td>
				<td ng-if="isStandAlone">
					<button type="button" class="button with-icon only-icon brand-colors open-modal" ng-show="(isAllChargeCodesSelected() || isAnyOneChargeCodeIsExcluded())&& hasMoveToOtherBillPermission()" ng-click="moveChargesClicked()">
                    <span class="icons icon-move"></span>
                    Move selected
              		</button>
				</td>
				<!-- empty td for matching up design -->
            	<td ng-if="!isStandAlone"></td>
            	<td ng-if="!isStandAlone"></td>
			</tr>
			<!-- Show balance -->
			<tr class="active edit" ng-hide="showGuestBalance(reservationBillData.reservation_status)">
				<td colspan="3" class="total-label">
					<span translate>BALANCE_AS_OF</span>
					{{totalFeesArray.fees_date |date:dateFormat}}
					):
				</td>
				<td colspan="3" ng-show="isBalanceShown(totalFeesArray.is_rate_suppressed)" class="total-value" ng-class="getBalanceClass(totalFeesArray.balance_amount)">
					<strong>
						{{currencySymbol}} {{totalFeesArray.balance_amount | number: precisonTwo}}
					</strong>
				</td>
				<td colspan="3" ng-show="!isBalanceShown(totalFeesArray.is_rate_suppressed)" class="total-value" ng-class="getBalanceClass(billData.total_fees.balance_amount)">
					<strong>
						{{'SUPPRESSED_RATES_TEXT' | translate}}
					</strong>
				</td>
				<td>
					<button type="button" class="button with-icon only-icon green" ng-click='showAdvancedBillDialog()' ng-show="showPayButton">
						<span class="icons icon-wallet"></span>
						{{ 'PAY' | translate }}
					</button>
				</td>
				<td></td>
			</tr>
			<tr class="active edit" ng-show="showGuestBalance(reservationBillData.reservation_status)">
				<td colspan="3" class="total-label">
					<span translate>GUEST_BALANCE_AS_OF</span>
					{{totalFeesArray.fees_date |date:dateFormat}}):
				</td>
				<td colspan="3" ng-show="isBalanceShown(totalFeesArray.is_rate_suppressed)" class="total-value" ng-class="getBalanceClass(totalFeesArray.balance_amount)">
					<strong>
						{{currencySymbol}} {{totalFeesArray.balance_amount | number: precisonTwo}}
					</strong>
				</td>
				<td colspan="3" ng-show="!isBalanceShown(totalFeesArray.is_rate_suppressed)" class="total-value" ng-class="getBalanceClass(billData.total_fees.balance_amount)">
					<strong>
						{{'SUPPRESSED_RATES_TEXT' | translate}}
					</strong>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="active edit" ng-repeat="feesData in totalFeesArray.fees_details">
				<td> {{feesData.date |date:dateFormat}}</td>
				<td>
					<span ng-repeat="description in feesData.description">
						{{description.charge_code}}
						<br />
					</span>
				</td>
				<td class="description">
					<span ng-repeat="description in feesData.description">
						{{description.fees_desc}}
						<br />
					</span>
					<span ng-show="feesData.reference_text != ''" class="reference">
						{{feesData.reference_text}}
					</span>
					<span class="adjusted" ng-show="feesData.adjustment_reason !=''">
						<em>{{'ADJUSTMENT' | translate}}</em> - {{feesData.adjustment_reason}}
					</span>
				</td>
				<td>
					<strong>
						<span ng-repeat="description in feesData.description">
							<span ng-show="!isBalanceShown(feesData.is_rate_suppressed) && description.fees_amount != '' && description.fees_amount != NIL">
								{{'SUPPRESSED_RATES_TEXT' | translate}}
							</span>
							<span ng-show="description.fees_amount != NIL && isBalanceShown(feesData.is_rate_suppressed)">
								{{currencySymbol}}{{description.fees_amount | number: precisonTwo}}
							</span>
							<br />
						</span>
					</strong>
				</td>
				<td>
					<strong ng-show="feesData.credits!='' && isBalanceShown(feesData.is_rate_suppressed)">
						{{currencySymbol}}{{feesData.credits}}
					</strong>
					<strong ng-show="!isBalanceShown(feesData.is_rate_suppressed) && feesData.credits!=''">
						{{'SUPPRESSED_RATES_TEXT' | translate}}
					</strong>
				</td>
				<td>
					<div class="select" ng-if="!isStandAlone">
						<select iscroll-stop-propagation ng-model="feesData.billValue" ng-change="moveToBillAction(feesData.oldBillValue, $index)">
							<option value="" disabled="disabled" class="placeholder" translate>MOVE_TO_BILL</option>
							<option value="{{billNumbers.bill_number}}" ng-selected="billNumbers.bill_number==(currentActiveBill+1)" ng-repeat="billNumbers in reservationBillData.bills"> {{billNumbers.bill_number}} </option>
						</select>
					</div>
					<!-- we have to replicate code as option is not being hidden in devices -->
					<div class="select" ng-if="isStandAlone">
						<select iscroll-stop-propagation ng-show="showMoveChargeDropDown()" ng-model="feesData.billValue" ng-change="moveToBillAction(feesData.oldBillValue, $index)">
							<option value="" disabled="disabled" class="placeholder" translate>MOVE_TO_BILL</option>
							<option value="{{billNumbers.bill_number}}" ng-selected="billNumbers.bill_number==(currentActiveBill+1)" ng-repeat="billNumbers in reservationBillData.bills"> {{billNumbers.bill_number}} </option>
							<option value="{{reservationBillData.bills.length+1}}" ng-show="reservationBillData.bills.length<10">{{reservationBillData.bills.length+1}} &nbsp;&nbsp;({{'NEW_BILL'|translate}})</option>
						</select>
					</div>
				</td>
				<td ng-if="isStandAlone">
					<button type="button" ng-show="showEditChargeButton(feesData.type.value)" class="button with-icon only-icon purple edit" ng-click="openActionsPopup(feesData.id,feesData.description[0].fees_desc,feesData.description[0].fees_amount,feesData.type.value,feesData.credits)">
						<span class="icons icon-pencil"></span>
						<span translate>EDIT</span>
					</button>
				</td>
				<td class="action" ng-if="hasMoveToOtherBillPermission() && isStandAlone">
	                <label class="checkbox inline">
	                    <span class="icon-form icon-checkbox" ng-class="{'checked':feesData.isSelected}"></span>
	                    <input ng-model="feesData.isSelected" type="checkbox"/>
	                </label>
            	</td>
            	<!-- empty td for matching up design -->
            	<td ng-if="!isStandAlone"></td>
            	<td ng-if="!isStandAlone"></td>
			</tr>
		</tbody>
	</table>
</div>