<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog">	
	<div class="modal-content modal-vertical-centered">	
		<div class="centeralign alert-box">	
			Future reservations exist for the same Travel Agent / Company card.	
			<br/>	
			<br/>	
			<a ng-click="replaceCardCaller(ngDialogData.cardType , ngDialogData.card, false, ngDialogData.useCardRate);closeDialog();" class="button green" style="">Change this reservation only</a>
			<a ng-click="replaceCardCaller(ngDialogData.cardType , ngDialogData.card, true, ngDialogData.useCardRate);closeDialog()" class="button blank" style="">Change all Reservations</a>
		</div>
	</div>
</div>