<div id="modal" ng-class="{'modal-show': modalOpened}" role="dialog" ng-cloak>
    <div class="modal-content alert">
        <button id="modal-close" type="button" ng-click="closeDialog()" class="modal-close"><span class="icons icon-close invert"></span></button>
        <span class="icons icon-popup-alert"></span>

        <span class="message h2" ng-show="ngDialogData.card.type==='GROUP'">
        	Group information will replace linked cards, rates and billing information
        </span>

        <span class="message h2" ng-hide="ngDialogData.card.type==='GROUP'">
        	Allotment information will replace linked cards, rates and billing information
        </span>

        <div class="actions">
            <button id="cancel-action" ng-show="ngDialogData.card.type==='GROUP'" type="button" class="button green" ng-click="closeDialog();selectGroup(ngDialogData.card)">
            	Link Group
            </button>
            <button id="cancel-action" ng-hide="ngDialogData.card.type==='GROUP'" type="button" class="button green" ng-click="closeDialog();selectAllotment(ngDialogData.card)">
            	Link Allotment
            </button>
            <button type="button" class="button blank" ng-click="closeDialog();">
            	Close
            </button>
        </div>
    </div>
</div>
