.flag {
    background: rgba(0, 0, 0, 0) url("/assets/guestweb/img/flags.png") no-repeat scroll 0 25px;
    border: 0 none;
    display: block;
    float: left;
    height: 23px;
    left: 195px;
    margin-left: 7px;
    margin-top: 6px;
    top: 15px;
    width: 37px;
}

.flag.AD {
    border: 1px solid #A2C5D3;
    background-position: 0 0
}
.flag.AE {
    border: 1px solid #A2C5D3;
    background-position: 0 -25px
}
.flag.AF {
    border: 1px solid #A2C5D3;
    background-position: 0 -50px
}
.flag.AG {
    border: 1px solid #A2C5D3;
    background-position: 0 -75px
}
.flag.AI {
    border: 1px solid #A2C5D3;
    background-position: 0 -100px
}
.flag.AL {
    border: 1px solid #A2C5D3;
    background-position: 0 -125px
}
.flag.AM {
    border: 1px solid #A2C5D3;
    background-position: 0 -150px
}
.flag.AN {
    border: 1px solid #A2C5D3;
    background-position: 0 -175px
}
.flag.AO {
    border: 1px solid #A2C5D3;
    background-position: 0 -200px
}
.flag.AQ {
    border: 1px solid #A2C5D3;
    background-position: 0 -225px
}
.flag.AR {
    border: 1px solid #A2C5D3;
    background-position: 0 -250px
}
.flag.AS {
    border: 1px solid #A2C5D3;
    background-position: 0 -275px
}
.flag.AT {
    border: 1px solid #A2C5D3;
    background-position: 0 -300px
}
.flag.AU {
    border: 1px solid #A2C5D3;
    background-position: 0 -325px
}
.flag.AW {
    border: 1px solid #A2C5D3;
    background-position: 0 -350px
}
.flag.AX {
    border: 1px solid #A2C5D3;
    background-position: 0 -375px
}
.flag.AZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -400px
}
.flag.BA {
    border: 1px solid #A2C5D3;
    background-position: 0 -425px
}
.flag.BB {
    border: 1px solid #A2C5D3;
    background-position: 0 -450px
}
.flag.BD {
    border: 1px solid #A2C5D3;
    background-position: 0 -475px
}
.flag.BE {
    border: 1px solid #A2C5D3;
    background-position: 0 -500px
}
.flag.BF {
    border: 1px solid #A2C5D3;
    background-position: 0 -525px
}
.flag.BG {
    border: 1px solid #A2C5D3;
    background-position: 0 -550px
}
.flag.BH {
    border: 1px solid #A2C5D3;
    background-position: 0 -575px
}
.flag.BI {
    border: 1px solid #A2C5D3;
    background-position: 0 -600px
}
.flag.BJ {
    border: 1px solid #A2C5D3;
    background-position: 0 -625px
}
.flag.BL {
    border: 1px solid #A2C5D3;
    background-position: 0 -650px
}
.flag.BM {
    border: 1px solid #A2C5D3;
    background-position: 0 -675px
}
.flag.BN {
    border: 1px solid #A2C5D3;
    background-position: 0 -700px
}
.flag.BO {
    border: 1px solid #A2C5D3;
    background-position: 0 -725px
}
.flag.BR {
    border: 1px solid #A2C5D3;
    background-position: 0 -750px
}
.flag.BS {
    border: 1px solid #A2C5D3;
    background-position: 0 -775px
}
.flag.BT {
    border: 1px solid #A2C5D3;
    background-position: 0 -800px
}
.flag.BV {
    border: 1px solid #A2C5D3;
    background-position: 0 -825px
}
.flag.BW {
    border: 1px solid #A2C5D3;
    background-position: 0 -850px
}
.flag.BY {
    border: 1px solid #A2C5D3;
    background-position: 0 -875px
}
.flag.BZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -900px
}
.flag.CA {
    border: 1px solid #A2C5D3;
    background-position: 0 -925px
}
.flag.CC {
    border: 1px solid #A2C5D3;
    background-position: 0 -950px
}
.flag.CD {
    border: 1px solid #A2C5D3;
    background-position: 0 -975px
}
.flag.CF {
    border: 1px solid #A2C5D3;
    background-position: 0 -1000px
}
.flag.CG {
    border: 1px solid #A2C5D3;
    background-position: 0 -1025px
}
.flag.CH {
    border: 1px solid #A2C5D3;
    background-position: 0 -1050px
}
.flag.CI {
    border: 1px solid #A2C5D3;
    background-position: 0 -1075px
}
.flag.CK {
    border: 1px solid #A2C5D3;
    background-position: 0 -1100px
}
.flag.CL {
    border: 1px solid #A2C5D3;
    background-position: 0 -1125px
}
.flag.CM {
    border: 1px solid #A2C5D3;
    background-position: 0 -1150px
}
.flag.CN {
    border: 1px solid #A2C5D3;
    background-position: 0 -1175px
}
.flag.CO {
    border: 1px solid #A2C5D3;
    background-position: 0 -1200px
}
.flag.CR {
    border: 1px solid #A2C5D3;
    background-position: 0 -1225px
}
.flag.CU {
    border: 1px solid #A2C5D3;
    background-position: 0 -1250px
}
.flag.CV {
    border: 1px solid #A2C5D3;
    background-position: 0 -1275px
}
.flag.CX {
    border: 1px solid #A2C5D3;
    background-position: 0 -1300px
}
.flag.CY {
    border: 1px solid #A2C5D3;
    background-position: 0 -1325px
}
.flag.CZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -1350px
}
.flag.DE {
    border: 1px solid #A2C5D3;
    background-position: 0 -1375px
}
.flag.DJ {
    border: 1px solid #A2C5D3;
    background-position: 0 -1400px
}
.flag.DK {
    border: 1px solid #A2C5D3;
    background-position: 0 -1425px
}
.flag.DM {
    border: 1px solid #A2C5D3;
    background-position: 0 -1450px
}
.flag.DO {
    border: 1px solid #A2C5D3;
    background-position: 0 -1475px
}
.flag.DZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -1500px
}
.flag.EC {
    border: 1px solid #A2C5D3;
    background-position: 0 -1525px
}
.flag.EE {
    border: 1px solid #A2C5D3;
    background-position: 0 -1550px
}
.flag.EG {
    border: 1px solid #A2C5D3;
    background-position: 0 -1575px
}
.flag.EH {
    border: 1px solid #A2C5D3;
    background-position: 0 -1600px
}
.flag.ER {
    border: 1px solid #A2C5D3;
    background-position: 0 -1625px
}
.flag.ES {
    border: 1px solid #A2C5D3;
    background-position: 0 -1650px
}
.flag.ET {
    border: 1px solid #A2C5D3;
    background-position: 0 -1675px
}
.flag.FI {
    border: 1px solid #A2C5D3;
    background-position: 0 -1700px
}
.flag.FJ {
    border: 1px solid #A2C5D3;
    background-position: 0 -1725px
}
.flag.FK {
    border: 1px solid #A2C5D3;
    background-position: 0 -1750px
}
.flag.FM {
    border: 1px solid #A2C5D3;
    background-position: 0 -1775px
}
.flag.FO {
    border: 1px solid #A2C5D3;
    background-position: 0 -1800px
}
.flag.FR {
    border: 1px solid #A2C5D3;
    background-position: 0 -1825px
}
.flag.GA {
    border: 1px solid #A2C5D3;
    background-position: 0 -1850px
}
.flag.GB {
    border: 1px solid #A2C5D3;
    background-position: 0 -1875px
}
.flag.GD {
    border: 1px solid #A2C5D3;
    background-position: 0 -1900px
}
.flag.GE {
    border: 1px solid #A2C5D3;
    background-position: 0 -1925px
}
.flag.GF {
    border: 1px solid #A2C5D3;
    background-position: 0 -1950px
}
.flag.GG {
    border: 1px solid #A2C5D3;
    background-position: 0 -1975px
}
.flag.GH {
    border: 1px solid #A2C5D3;
    background-position: 0 -2000px
}
.flag.GI {
    border: 1px solid #A2C5D3;
    background-position: 0 -2025px
}
.flag.GL {
    border: 1px solid #A2C5D3;
    background-position: 0 -2050px
}
.flag.GM {
    border: 1px solid #A2C5D3;
    background-position: 0 -2075px
}
.flag.GN {
    border: 1px solid #A2C5D3;
    background-position: 0 -2100px
}
.flag.GP {
    border: 1px solid #A2C5D3;
    background-position: 0 -2125px
}
.flag.GQ {
    border: 1px solid #A2C5D3;
    background-position: 0 -2150px
}
.flag.GR {
    border: 1px solid #A2C5D3;
    background-position: 0 -2175px
}
.flag.GS {
    border: 1px solid #A2C5D3;
    background-position: 0 -2200px
}
.flag.GT {
    border: 1px solid #A2C5D3;
    background-position: 0 -2225px
}
.flag.GU {
    border: 1px solid #A2C5D3;
    background-position: 0 -2250px
}
.flag.GW {
    border: 1px solid #A2C5D3;
    background-position: 0 -2275px
}
.flag.GY {
    border: 1px solid #A2C5D3;
    background-position: 0 -2300px
}
.flag.HK {
    border: 1px solid #A2C5D3;
    background-position: 0 -2325px
}
.flag.HM {
    border: 1px solid #A2C5D3;
    background-position: 0 -2350px
}
.flag.HN {
    border: 1px solid #A2C5D3;
    background-position: 0 -2375px
}
.flag.HR {
    border: 1px solid #A2C5D3;
    background-position: 0 -2400px
}
.flag.HT {
    border: 1px solid #A2C5D3;
    background-position: 0 -2425px
}
.flag.HU {
    border: 1px solid #A2C5D3;
    background-position: 0 -2450px
}
.flag.ID {
    border: 1px solid #A2C5D3;
    background-position: 0 -2475px
}
.flag.IE {
    border: 1px solid #A2C5D3;
    background-position: 0 -2500px
}
.flag.IL {
    border: 1px solid #A2C5D3;
    background-position: 0 -2525px
}
.flag.IM {
    border: 1px solid #A2C5D3;
    background-position: 0 -2550px
}
.flag.IN {
    border: 1px solid #A2C5D3;
    background-position: 0 -2575px
}
.flag.IO {
    border: 1px solid #A2C5D3;
    background-position: 0 -2600px
}
.flag.IQ {
    border: 1px solid #A2C5D3;
    background-position: 0 -2625px
}
.flag.IR {
    border: 1px solid #A2C5D3;
    background-position: 0 -2650px
}
.flag.IS {
    border: 1px solid #A2C5D3;
    background-position: 0 -2675px
}
.flag.IT {
    border: 1px solid #A2C5D3;
    background-position: 0 -2700px
}
.flag.JE {
    border: 1px solid #A2C5D3;
    background-position: 0 -2725px
}
.flag.JM {
    border: 1px solid #A2C5D3;
    background-position: 0 -2750px
}
.flag.JO {
    border: 1px solid #A2C5D3;
    background-position: 0 -2775px
}
.flag.JP {
    border: 1px solid #A2C5D3;
    background-position: 0 -2800px
}
.flag.KE {
    border: 1px solid #A2C5D3;
    background-position: 0 -2825px
}
.flag.KG {
    border: 1px solid #A2C5D3;
    background-position: 0 -2850px
}
.flag.KH {
    border: 1px solid #A2C5D3;
    background-position: 0 -2875px
}
.flag.KI {
    border: 1px solid #A2C5D3;
    background-position: 0 -2900px
}
.flag.KM {
    border: 1px solid #A2C5D3;
    background-position: 0 -2925px
}
.flag.KN {
    border: 1px solid #A2C5D3;
    background-position: 0 -2950px
}
.flag.KP {
    border: 1px solid #A2C5D3;
    background-position: 0 -2975px
}
.flag.KR {
    border: 1px solid #A2C5D3;
    background-position: 0 -3000px
}
.flag.KW {
    border: 1px solid #A2C5D3;
    background-position: 0 -3025px
}
.flag.KY {
    border: 1px solid #A2C5D3;
    background-position: 0 -3050px
}
.flag.KZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -3075px
}
.flag.LA {
    border: 1px solid #A2C5D3;
    background-position: 0 -3100px
}
.flag.LB {
    border: 1px solid #A2C5D3;
    background-position: 0 -3125px
}
.flag.LC {
    border: 1px solid #A2C5D3;
    background-position: 0 -3150px
}
.flag.LI {
    border: 1px solid #A2C5D3;
    background-position: 0 -3175px
}
.flag.LK {
    border: 1px solid #A2C5D3;
    background-position: 0 -3200px
}
.flag.LR {
    border: 1px solid #A2C5D3;
    background-position: 0 -3225px
}
.flag.LS {
    border: 1px solid #A2C5D3;
    background-position: 0 -3250px
}
.flag.LT {
    border: 1px solid #A2C5D3;
    background-position: 0 -3275px
}
.flag.LU {
    border: 1px solid #A2C5D3;
    background-position: 0 -3300px
}
.flag.LV {
    border: 1px solid #A2C5D3;
    background-position: 0 -3325px
}
.flag.LY {
    border: 1px solid #A2C5D3;
    background-position: 0 -3350px
}
.flag.MA {
    border: 1px solid #A2C5D3;
    background-position: 0 -3375px
}
.flag.MC {
    border: 1px solid #A2C5D3;
    background-position: 0 -3400px
}
.flag.MD {
    border: 1px solid #A2C5D3;
    background-position: 0 -3425px
}
.flag.ME {
    border: 1px solid #A2C5D3;
    background-position: 0 -3450px
}
.flag.MF {
    border: 1px solid #A2C5D3;
    background-position: 0 -3475px
}
.flag.MG {
    border: 1px solid #A2C5D3;
    background-position: 0 -3500px
}
.flag.MH {
    border: 1px solid #A2C5D3;
    background-position: 0 -3525px
}
.flag.MK {
    border: 1px solid #A2C5D3;
    background-position: 0 -3550px
}
.flag.ML {
    border: 1px solid #A2C5D3;
    background-position: 0 -3575px
}
.flag.MM {
    border: 1px solid #A2C5D3;
    background-position: 0 -3600px
}
.flag.MN {
    border: 1px solid #A2C5D3;
    background-position: 0 -3625px
}
.flag.MO {
    border: 1px solid #A2C5D3;
    background-position: 0 -3650px
}
.flag.MP {
    border: 1px solid #A2C5D3;
    background-position: 0 -3675px
}
.flag.MQ {
    border: 1px solid #A2C5D3;
    background-position: 0 -3700px
}
.flag.MR {
    border: 1px solid #A2C5D3;
    background-position: 0 -3725px
}
.flag.MS {
    border: 1px solid #A2C5D3;
    background-position: 0 -3750px
}
.flag.MT {
    border: 1px solid #A2C5D3;
    background-position: 0 -3775px
}
.flag.MU {
    border: 1px solid #A2C5D3;
    background-position: 0 -3800px
}
.flag.MV {
    border: 1px solid #A2C5D3;
    background-position: 0 -3825px
}
.flag.MW {
    border: 1px solid #A2C5D3;
    background-position: 0 -3850px
}
.flag.MX {
    border: 1px solid #A2C5D3;
    background-position: 0 -3875px
}
.flag.MY {
    border: 1px solid #A2C5D3;
    background-position: 0 -3900px
}
.flag.MZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -3925px
}
.flag.NA {
    border: 1px solid #A2C5D3;
    background-position: 0 -3950px
}
.flag.NC {
    border: 1px solid #A2C5D3;
    background-position: 0 -3975px
}
.flag.NE {
    border: 1px solid #A2C5D3;
    background-position: 0 -4000px
}
.flag.NF {
    border: 1px solid #A2C5D3;
    background-position: 0 -4025px
}
.flag.NG {
    border: 1px solid #A2C5D3;
    background-position: 0 -4050px
}
.flag.NI {
    border: 1px solid #A2C5D3;
    background-position: 0 -4075px
}
.flag.NL {
    border: 1px solid #A2C5D3;
    background-position: 0 -4100px
}
.flag.NO {
    border: 1px solid #A2C5D3;
    background-position: 0 -4125px
}
.flag.NP {
    border: 1px solid #A2C5D3;
    background-position: 0 -4150px
}
.flag.NR {
    border: 1px solid #A2C5D3;
    background-position: 0 -4175px
}
.flag.NU {
    border: 1px solid #A2C5D3;
    background-position: 0 -4200px
}
.flag.NZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -4225px
}
.flag.OM {
    border: 1px solid #A2C5D3;
    background-position: 0 -4250px
}
.flag.PA {
    border: 1px solid #A2C5D3;
    background-position: 0 -4275px
}
.flag.PE {
    border: 1px solid #A2C5D3;
    background-position: 0 -4300px
}
.flag.PF {
    border: 1px solid #A2C5D3;
    background-position: 0 -4325px
}
.flag.PG {
    border: 1px solid #A2C5D3;
    background-position: 0 -4350px
}
.flag.PH {
    border: 1px solid #A2C5D3;
    background-position: 0 -4375px
}
.flag.PK {
    border: 1px solid #A2C5D3;
    background-position: 0 -4400px
}
.flag.PL {
    border: 1px solid #A2C5D3;
    background-position: 0 -4425px
}
.flag.PM {
    border: 1px solid #A2C5D3;
    background-position: 0 -4450px
}
.flag.PN {
    border: 1px solid #A2C5D3;
    background-position: 0 -4475px
}
.flag.PR {
    border: 1px solid #A2C5D3;
    background-position: 0 -4500px
}
.flag.PS {
    border: 1px solid #A2C5D3;
    background-position: 0 -4525px
}
.flag.PT {
    border: 1px solid #A2C5D3;
    background-position: 0 -4550px
}
.flag.PW {
    border: 1px solid #A2C5D3;
    background-position: 0 -4575px
}
.flag.PY {
    border: 1px solid #A2C5D3;
    background-position: 0 -4600px
}
.flag.QA {
    border: 1px solid #A2C5D3;
    background-position: 0 -4625px
}
.flag.RE {
    border: 1px solid #A2C5D3;
    background-position: 0 -4650px
}
.flag.RO {
    border: 1px solid #A2C5D3;
    background-position: 0 -4675px
}
.flag.RS {
    border: 1px solid #A2C5D3;
    background-position: 0 -4700px
}
.flag.RU {
    border: 1px solid #A2C5D3;
    background-position: 0 -4725px
}
.flag.RW {
    border: 1px solid #A2C5D3;
    background-position: 0 -4750px
}
.flag.SA {
    border: 1px solid #A2C5D3;
    background-position: 0 -4775px
}
.flag.SB {
    border: 1px solid #A2C5D3;
    background-position: 0 -4800px
}
.flag.SC {
    border: 1px solid #A2C5D3;
    background-position: 0 -4825px
}
.flag.SD {
    border: 1px solid #A2C5D3;
    background-position: 0 -4850px
}
.flag.SE {
    border: 1px solid #A2C5D3;
    background-position: 0 -4875px
}
.flag.SG {
    border: 1px solid #A2C5D3;
    background-position: 0 -4900px
}
.flag.SH {
    border: 1px solid #A2C5D3;
    background-position: 0 -4925px
}
.flag.SI {
    border: 1px solid #A2C5D3;
    background-position: 0 -4950px
}
.flag.SJ {
    border: 1px solid #A2C5D3;
    background-position: 0 -4975px
}
.flag.SK {
    border: 1px solid #A2C5D3;
    background-position: 0 -5000px
}
.flag.SL {
    border: 1px solid #A2C5D3;
    background-position: 0 -5025px
}
.flag.SM {
    border: 1px solid #A2C5D3;
    background-position: 0 -5050px
}
.flag.SN {
    border: 1px solid #A2C5D3;
    background-position: 0 -5075px
}
.flag.SO {
    border: 1px solid #A2C5D3;
    background-position: 0 -5100px
}
.flag.SR {
    border: 1px solid #A2C5D3;
    background-position: 0 -5125px
}
.flag.ST {
    border: 1px solid #A2C5D3;
    background-position: 0 -5150px
}
.flag.SV {
    border: 1px solid #A2C5D3;
    background-position: 0 -5175px
}
.flag.SY {
    border: 1px solid #A2C5D3;
    background-position: 0 -5200px
}
.flag.SZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -5225px
}
.flag.TC {
    border: 1px solid #A2C5D3;
    background-position: 0 -5250px
}
.flag.TD {
    border: 1px solid #A2C5D3;
    background-position: 0 -5275px
}
.flag.TF {
    border: 1px solid #A2C5D3;
    background-position: 0 -5300px
}
.flag.TG {
    border: 1px solid #A2C5D3;
    background-position: 0 -5325px
}
.flag.TH {
    border: 1px solid #A2C5D3;
    background-position: 0 -5350px
}
.flag.TJ {
    border: 1px solid #A2C5D3;
    background-position: 0 -5375px
}
.flag.TK {
    border: 1px solid #A2C5D3;
    background-position: 0 -5400px
}
.flag.TL {
    border: 1px solid #A2C5D3;
    background-position: 0 -5425px
}
.flag.TM {
    border: 1px solid #A2C5D3;
    background-position: 0 -5450px
}
.flag.TN {
    border: 1px solid #A2C5D3;
    background-position: 0 -5475px
}
.flag.TO {
    border: 1px solid #A2C5D3;
    background-position: 0 -5500px
}
.flag.TR {
    border: 1px solid #A2C5D3;
    background-position: 0 -5525px
}
.flag.TT {
    border: 1px solid #A2C5D3;
    background-position: 0 -5550px
}
.flag.TV {
    border: 1px solid #A2C5D3;
    background-position: 0 -5575px
}
.flag.TW {
    border: 1px solid #A2C5D3;
    background-position: 0 -5600px
}
.flag.TZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -5625px
}
.flag.UA {
    border: 1px solid #A2C5D3;
    background-position: 0 -5650px
}
.flag.UG {
    border: 1px solid #A2C5D3;
    background-position: 0 -5675px
}
.flag.UM {
    border: 1px solid #A2C5D3;
    background-position: 0 -5700px
}
.flag.US {
    border: 1px solid #A2C5D3;
    background-position: 0 -5725px
}
.flag.UY {
    border: 1px solid #A2C5D3;
    background-position: 0 -5750px
}
.flag.UZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -5775px
}
.flag.VA {
    border: 1px solid #A2C5D3;
    background-position: 0 -5800px
}
.flag.VC {
    border: 1px solid #A2C5D3;
    background-position: 0 -5825px
}
.flag.VE {
    border: 1px solid #A2C5D3;
    background-position: 0 -5850px
}
.flag.VG {
    border: 1px solid #A2C5D3;
    background-position: 0 -5875px
}
.flag.VI {
    border: 1px solid #A2C5D3;
    background-position: 0 -5900px
}
.flag.VN {
    border: 1px solid #A2C5D3;
    background-position: 0 -5925px
}
.flag.VU {
    border: 1px solid #A2C5D3;
    background-position: 0 -5950px
}
.flag.WF {
    border: 1px solid #A2C5D3;
    background-position: 0 -5975px
}
.flag.WS {
    border: 1px solid #A2C5D3;
    background-position: 0 -6000px
}
.flag.YE {
    border: 1px solid #A2C5D3;
    background-position: 0 -6025px
}
.flag.YT {
    border: 1px solid #A2C5D3;
    background-position: 0 -6050px
}
.flag.ZA {
    border: 1px solid #A2C5D3;
    background-position: 0 -6075px
}
.flag.ZM {
    border: 1px solid #A2C5D3;
    background-position: 0 -6100px
}
.flag.ZW {
    border: 1px solid #A2C5D3;
    background-position: 0 -6125px
}
.flag.AC {
    border: 1px solid #A2C5D3;
    background-position: 0 -6150px
}
.flag.IZ {
    border: 1px solid #A2C5D3;
    background-position: 0 -6175px
}
.flag.SQ {
    border: 1px solid #A2C5D3;
    background-position: 0 -6200px
}
.flag.skypename {
    border: 1px solid #A2C5D3;
    background-position: 0 -6225px
}
.flag.SX {
    border: 1px solid #A2C5D3;
    background-position: 0 -6250px
}
.flag.UN {
    border: 1px solid #A2C5D3;
    background-position: 0 -6275px
}
.flag.VO,
.flag.INT882,
.flag.INT883 {
    border: 1px solid #A2C5D3;
    background-position: 0 -6300px
}
.flag.XX {
    border: 1px solid #A2C5D3;
    background-position: 0 -6325px
}