@charset "utf-8";
/* CSS Document */

body {
	font-size: 100%;
}

@media screen and (min-width : 320px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:70%;
border-radius:2em;
      background: #000000;
    }
}
@media screen and (min-width : 480px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:60%;
border-radius:2em;
      background: #000000;
    }
}
@media screen and (min-width : 1224px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:50%;
border-radius:2em;
      background: #000000;
    }
}
@media screen and (min-width : 1824px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:40%;
border-radius:2em;
      background: #000000;
    }
}
.headerrow {
	padding-top: 5%;
}
h1 {
	font-family: 'Source Sans Pro';	font-weight: 200; font-size: 350%; text-align: center !important; padding-top: 5%;
}
.lightcontent {
	font-family: 'Source Sans Pro';	font-weight: 200;
}
.centeralign {
	text-align: center;
}
.leadtext {
	font-family: 'Source Sans Pro', sans-serif; font-size: 210%; padding: 3% 0;
}
.checkoutnow {
	background: #8ed82b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZDgyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MmQwMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ed82b), color-stop(100%, #52d015)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8ed82b 0%, #52d015 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed82b', endColorstr='#52d015', GradientType=0 ); /* IE6-8 */
	border-bottom: 2px solid #45b014; text-align: center; color: #ffffff; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; font-size: 350%; padding: 5% 3% 5% 3%; line-height: 120%;
}
.checkoutnow:hover {
	background: #52d015;
}
.checkoutlater {
	background: #ffb019; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjgzMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffb019 0%, #ff830f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb019), color-stop(100%, #ff830f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffb019 0%, #ff830f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffb019 0%, #ff830f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffb019 0%, #ff830f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffb019 0%, #ff830f 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb019', endColorstr='#ff830f', GradientType=0 ); /* IE6-8 */
	border-bottom: 2px solid #d8700d; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #ffffff; font-size: 350%; padding: 5% 3% 5% 3%; line-height: 120%;
}
.checkoutlater:hover {
	background: #ff830f;
}
.italictext {
	padding-top: 5%; text-align: center; font-family: 'Source Sans Pro', sans-serif;	font-weight: 200; font-size: 200%; line-height: 120%;
}
.icontop {
	padding-top: 10%;
}
.checkoutimepage {
	padding-bottom: 4%;
}
.checkouttime1 {
	background: #8ed82b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlZDgyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MmQwMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ed82b), color-stop(100%, #52d015)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8ed82b 0%, #52d015 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8ed82b 0%, #52d015 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed82b', endColorstr='#52d015', GradientType=0 ); /* IE6-8 */
	border-bottom: 2px solid #45b014; text-align: center; color: #ffffff; font-size: 400%; padding: 5% 3% 5% 3%; line-height: 120%; text-align: center;
}
.checkouttime2 {
	background: #419d14; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxOWQxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MmJhMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #419d14 0%, #52ba1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #419d14), color-stop(100%, #52ba1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #419d14 0%, #52ba1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #419d14 0%, #52ba1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #419d14 0%, #52ba1d 100%); /* IE10+ */
	background: linear-gradient(to right, #419d14 0%, #52ba1d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#419d14', endColorstr='#52ba1d', GradientType=1 ); /* IE6-8 */
	border-bottom: 2px solid #47b111; text-align: center; color: #ffffff; font-size: 400%; padding: 5% 3% 5% 3%; line-height: 120%; text-align: center;
}
.checkouttime3 {
	background: #52ba1d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyYmExZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MjlkMTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #52ba1d 0%, #429d14 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52ba1d), color-stop(100%, #429d14)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #52ba1d 0%, #429d14 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #52ba1d 0%, #429d14 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #52ba1d 0%, #429d14 100%); /* IE10+ */
	background: linear-gradient(to bottom, #52ba1d 0%, #429d14 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ba1d', endColorstr='#429d14', GradientType=0 ); /* IE6-8 */
	border-bottom: 2px solid #388511; text-align: center; color: #ffffff; font-size: 400%; padding: 5% 3% 5% 3%; line-height: 120%;	text-align: center;
}
svg {
	width: 100%; height: 100%; pointer-events: none; /* so that you can resize the element */
}
text {
	text-anchor: middle; pointer-events: auto; /* Cancel the svg’s pointer-events */ fill: currentColor; text-align: center;
}
.amount {
	font-family: 'Source Sans Pro', sans-serif;	font-size: 90%;
}
.amount span {
	font-family: 'Source Sans Pro', sans-serif;	font-size: 40%;
}
.nothanks {
	font-family: 'Source Sans Pro', sans-serif;	font-size: 350%; padding: 5% 0;text-align: center;	color: #e7e7e7;
}
.nothanks a  {
	color: #e7e7e7;	text-decoration: none;
}
.nothanks a:hover {
	color: #e7e7e7;	text-decoration: none;
}
.appearbill {
	font-family: 'Source Sans Pro', sans-serif;	font-size: 100%;
}
.checkoutscreen {
	background: #8ed82b; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-weight: 200; color: #ffffff;	font-size: 300%; margin-bottom: 20%;
}
.btn-primary {
	background-color: #43a014 !important; border-bottom: 2px solid #388511; font-size: 200%; color: #ffffff; padding: 3% 5%;
}
.btn-default {background-color: #d6d6d6 !important; border-bottom: 2px solid #b5b5b5; font-size: 200%; color: #ffffff; padding: 3% 5%;}

h1.balanceValue{padding-top:0px !important; margin-top:0px !important; line-height:50%;}

.leadtextviewbiil {
	font-family: 'Source Sans Pro', sans-serif; font-size: 210%; padding: 3% 0 0;
}

.viewbill{
	font-family: 'Source Sans Pro', sans-serif; font-size: 250%; padding: 3% 0 ; text-transform:uppercase; font-weight:normal; color:#ff8f11;
	}
.viewbill a {
text-decoration:none; color:#ff8f11;
}
.viewbill a:hover {
text-decoration:none;  color:#ff8f11;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:none !important; border:0px !important; line-height: 1.42857; padding: 8px; vertical-align: top; text-transform:uppercase;
}

.day1 {
	background:#fcfcfc; border-bottom:3px solid #ffffff !important;
	color:#202123; font-size:130%; font-family: 'Source Sans Pro', sans-serif; text-align:left;    }
	
.day2 {
	background:#f2f2f2; border-bottom:3px solid #ffffff !important; color:9b9b9b; font-size:130%; font-family: 'Source Sans Pro', sans-serif; text-align:left;   }
	
.total {
	color:9b9b9b; font-size:180%; font-family: 'Source Sans Pro', sans-serif;   }
	
.viewbilltableview {
	border-collapse:collapse;}
h1.thankYouText{
	padding-top:25% !important;
}
@media screen and (min-width : 320px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:70%;
border-radius:2em;
      background: #000000;
    }
}
@media screen and (min-width : 480px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:60%;
border-radius:2em;
      background: #000000;
    }
}
@media screen and (min-width : 1224px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:50%;
border-radius:2em;
      background: #000000;
    }
}
@media screen and (min-width : 1824px)
{
   .roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:40%;
border-radius:2em;
      background: #000000;
    }
}