<!-- Report details -->
<section id="report-details" class="content reservations-inner stay-card-inner" role="main">

    <!-- Report update -->
    <div id="report-update" class="sidebar-left" ui-jq="resizable" ui-options="resizableOptions" role="complementary" ng-click="clickedOnReportUpdate($event)" style="width: {{reportUpdateWidth}}px;" ng-hide="hideSidebar">
        <div class="scrollable" ng-iscroll="report-update" ng-iscroll-delay="500">
            <div class="wrapper">
                <div ui-jq="accordion" ui-options="accordionInitiallyNotCollapsedOptions">
                    <!-- Date Range -->
                    <a class="settings-title toggle has-arrow active">
                        <span class="title">Date</span>
                    </a>
                    <div id="sidebar-dates" class="settings-content">
                        <div class="entry date-range">
                            <label for="activity-range-from">From</label>
                            <div class="has-datepicker">
                                <button class="clear-query" ng-class="{'visible': true}"><span class="icons icon-clear-search" ng-show='fromDate' ng-click="clearFromDate()">Clear query</span></button> <!-- Add class "visible" to show it (when date is selected) -->
                                <input name="activity-range-from" id="activity-range-from" class="range-datepicker" ui-date="fromDateOptions" ng-model="fromDate" placeholder ="{{'FROM_DATE' | translate }}" ui-date-format="yy-mm-dd"  readonly/>                               
                            </div>
                            <label for="activity-range-to">To</label>
                            <div class="has-datepicker">
                                <button class="clear-query" ng-class="{'visible': true}"><span class="icons icon-clear-search" ng-show='toDate' ng-click="clearToDate()">Clear query</span></button> <!-- Add class "visible" to show it (when date is selected) -->
                                <input name="activity-range-to" id="activity-range-to" class="range-datepicker" ui-date="untilDateOptions" ng-model="toDate" ui-date-format="yy-mm-dd" placeholder="{{'TO_DATE' | translate }}" readonly />
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div ui-jq="accordion" ui-options="accordionInitiallyNotCollapsedOptions">
                    <!-- Filter by User -->
                    <a class="settings-title toggle has-arrow active">
                        <span class="title">Filter</span>
                    </a>
                    <div id="sidebar-filter" class="settings-content">
                        <label for="activity-filter">User</label>
                         <input class="icons icon-search" auto-complete auto-options="detailsUserAutoCompleteOptions" type="text" placeholder="Search by Email Id" value="" autocomplete="off" ng-model="userEmail" ng-change="userChanged()">
                    </div>
                </div>

                <!-- Options 
                <a href="#sidebar-options" class="settings-title toggle has-arrow">
                    <span class="title">Options</span>
                </a>
                <div id="sidebar-options" class="settings-content">
                    <label class="checkbox">
                        <span class="icon-form icon-checkbox">
                        <input name="activity-options" id="activity-new" value="Include {Activity Type}" type="checkbox" />
                        Include {Activity Type}
                    </label>
                    .. repeat for all activity types
                </div>-->
            </div>
            <div class="actions">
                <button type="button" class="button green" ng-click="updateReportFilter()">Update Report</button>
            </div>
        </div>
    </div>
    
    <!-- Report header -->
    <div class="report-header">
        <ul class="totals">
            <li>Activities<span>{{totalResults}}</span></li>
        </ul>
        <!-- <div class="actions">
            <div class="select">
                <select name="print-options">
                    <option value="pdf" selected>Save/E-mail as PDF</option>
                    <option value="word">Save/E-mail as Word</option>
                    <option value="excel">Save/E-mail as Excel</option>
                </select>
            </div>
            <button id="email-report" type="button" class="button with-icon only-icon blue"><span class="icons icon-email"></span></button>
            <button id="print-report" type="button" class="button with-icon only-icon blue"><span class="icons icon-print"></span></button>
            <button id="save-report" type="button" class="button with-icon only-icon purple"><span class="icons icon-save"></span></button>
        </div> -->
    </div>

    <!-- Report content -->
    <div id="report-content" class="report-content scrollable" ng-class="{'with-pagination': shouldShowPagination()}" ng-iscroll="report_content" ng-iscroll-delay="1000">
        <div class="wrapper">
            <table class="log-reports">
                <thead>
                    <tr>
                        <!-- When sorting, add class to appropriate span.sort (and remove all classes except "sort" on other span.sort elements):
                        "sorting-asc" when ASC sorting
                        "sorting-desc" when DESC sorting -->
                        <th><span ng-class="{'sort': true,'sorting-asc':sortOrderOfUserASC,'sorting-desc':sortOrderOfUserDSC}" ng-click="sortByUserName()">User Name</span></th>
                        <th><span ng-class="{'sort': true,'sorting-asc':sortOrderOfDateASC,'sorting-desc':sortOrderOfDateDSC}" ng-click="sortByDate()">Date &amp; Time</span></th>
                        <th><span ng-class="{'sort': true,'sorting-asc':sortOrderOfActionASC,'sorting-desc':sortOrderOfActionDSC}" ng-click="sortByAction()">Action</span></th>
                        <th><span>Details</span></th>
                    </tr>
                </thead>
                <!--<tfoot>
                    <tr>
                        <td colspan="2">
                            From <span>{{activityLogData.from_Date}}</span> to <span>{{activityLogData.to_Date}}</span>
                             If filtered by users, show:
                            <br />
                            Users <span>{User filter}</span>
                        </td>
                        <td colspan="2">
                            Business date <span>{{businessDate}}</span><br />
                            User <span>{{userName}}</span>
                        </td>
                    </tr>
                </tfoot>-->
                <tbody>
                    <tr ng-repeat="log in activityLogData" ngrepeatend>
                        <td>{{log.user_name}}</td>
                        <td> {{log.date }}, {{log.time}}</td>
                        <td>{{log.action}}</td>
                        <td class="details">
                            <span ng-repeat="details in log.details">
                                <span class="old" ng-show="isOldValue(details.old_value)">{{ details.key }}
                                    <strong>{{ details.old_value }}</strong>
                                </span>
                                {{details.key}}
                                <span class="currency"><strong>{{details.new_value}}</strong></span>                                
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>         
        </div>
    </div>
   
    <rv-pagination page-options="pageOptions" page-data="totalResults"></rv-pagination>
    
</section>

<!-- 
    Most of details should output in a simple way: 
    {label}<strong>{value}</strong>
    Success log status should output as:
    <strong class="green">Success</strong>
    Error log status should output as:
    <strong class="red">Failed</strong>
    Old value(rate, room etc.) should output as:
    <span class="old">{label} <strong>{value}</strong>
    For example, upsell output should look like this:
        <span class="old">Old Room Type <strong>Standard Double</strong></span>
        New Room Type <strong>Junior Suite</strong>
        Fee <strong>$10.00</strong>
        Reservation #<strong>1432677</strong>
-->