<div ng-controller="rvChargeCodesAndBillingGroupCtrl">
	<div class='notice' ng-show="selectedEntity.is_allow_direct_debit != undefined && !selectedEntity.is_allow_direct_debit">
    	<span translate>NO_DEBIT_ALLOWED</span>
    </div>

	<ul id="transaction-type" class="modal-options">
		<li ng-class="{'active' : billingInfoFlags.isBillingGroup}" ng-click = "toggleChargeType()" translate>BILLING_GROUP</li>
		<li ng-class="{'active' : !billingInfoFlags.isBillingGroup}" ng-click = "toggleChargeType()" translate>CHARGE_CODES</li>
	</ul>

	<div id="transactions" ng-iscroll='billingGroups' ng-iscroll-delay='100' class="transactions scrollable" ng-show = "billingInfoFlags.isBillingGroup">
		<div class="entry radio-check wrapper"  >
			<label class="checkbox" ng-repeat  = "billingGroup in availableBillingGroups" ng-click = "toggleSelectionForBillingGroup(billingGroup)">
				<span class="icon-form icon-checkbox" ng-class = "{'checked': isBillingGroupSelected(billingGroup)}"></span>
				<input name="billing-group" id="100" value="100" type="checkbox"/>
				<span class="value"></span> {{billingGroup.name}}
			</label>
		</div>
	</div>

	<!-- Search available charge codes -->
	<div id="autocomplete-charge-codes" class="search-codes charge-code-select" ng-show = "!billingInfoFlags.isBillingGroup">
		<input ng-model="chargeCodeSearchText" ng-keyup="chargeCodeEntered()" name="search-codes" id="search-codes" type="text" placeholder="{{'SEARCH_OR_SELECT_CODES_PLACEHOLDER' | translate}}" value="" autocomplete="off"/>
		<div class="mini-select" ng-click = "showAvailableChargeCodes()">
		</div>
	</div>

	<div ng-show="(chargeCodeSearchText.length>2 || billingInfoFlags.showChargeCodes)">
 		<!-- Charge code Results / content -->
		<div class="billing-info-charges charge-code-list" ng-hide="availableChargeCodes.length == 0"  ng-iscroll="chargeCodesList" ng-iscroll-delay="100">
			<div class="search-results" >
				<ul id="search-list" >
					<li ng-repeat="chargeCode in availableChargeCodes" ng-click="selectChargeCode(chargeCode.id)" ng-show="chargeCode.is_row_visible == true">
						<h4 class="text-bold first-text" ng-class="{'grey':isChargeCodeSelected(chargeCode)}" ng-bind-html="chargeCode.code|highlight:chargeCodeSearchText:false"></h4> &nbsp;
						<h4 class="text-bold" ng-class="{'grey':isChargeCodeSelected(chargeCode)}" ng-bind-html="chargeCode.description|highlight:chargeCodeSearchText:false"></h4>
					</li>
				</ul>
			</div>
     	</div>
	</div>

	<!-- Added from search -->
	<div id="transactions" ng-iscroll='chargeCodes' ng-iscroll-delay='100' class="transactions codes scrollable billing-info-charge-codes" ng-show = "(!billingInfoFlags.isBillingGroup && selectedEntity.attached_charge_codes.length > 0)">
		<div class="entry radio-check wrapper" >
			<label class="checkbox" ng-click="removeChargeCode(selectedChargeCode)" ng-repeat = "selectedChargeCode in selectedEntity.attached_charge_codes">
				<span class="icon-form icon-checkbox checked"></span>
					<input name="billing-group" id="100" value="100" type="checkbox" checked />
				<span class="value">{{selectedChargeCode.code}}</span> {{selectedChargeCode.description}}
			</label>
		</div>
	</div>

	<!-- No content-->
	<div id="transactions" class="transactions codes scrollable no-content" ng-show = "(!billingInfoFlags.isBillingGroup && selectedEntity.attached_charge_codes.length == 0)">
		<div class="info">
			<strong class="h1" translate>NO_CODES_ADDED</strong>
		</div>
	</div>
</div>