<section id="replacing-div-first" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
	<div class="inline-edit">
		<header class="content-title float">
			<h2 translate> WORKSTATIONS </h2>
			<span class="count"> (
				{{totalCount}}
				) </span>
			<a id="add-new-button" class="action add" ng-click="addNewDeviceMapping()" translate>ADD_NEW</a>
		</header>
		 <section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			
			<div id="new-form-holder" ng-show="currentClickedElement == 'new'" ng-include="'/assets/partials/deviceMapping/adDeviceMappingDetails.html'"></div>
				
			<div id="new-form-holder"></div>
			<span class="count-show">Show</span>
				<div class="select table-count rates-table-count">
					<select ng-model="displyCount"	ng-options="opt for opt in displayCountList"></select>
				</div>
				<span class="count-entries">entries</span>
					
				<div class="entry table-search">
		    </div>
			<table id="loyalty" class="grid" ng-table="tableParams" template-pagination="custom/pager">
				<tbody>
					<tr ng-repeat="workStations in data">
						<td data-title="'Workstation Name'" header-class="width-50" ng-click="editDeviceMapping($index, workStations.id)" ng-hide="currentClickedElement == $index">
							<a class="edit-data-inline">{{workStations.name}} {{workStations.name.length > 30 ? '...' : ''}}</a>
						</td>
						<td data-title="'Workstation ID'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.station_identifier}}
						</td>
						<td data-title="'Key Encoder'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.key_encoder_description}}
						</td>
						<td data-title="'EMV Terminal'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.emv_name}}
						</td>

						<td data-title="'OOS Reason'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.oo_reason}}
						</td>
                                                
						<td data-title="'Out of Service'" header-class="width-40" ng-hide="currentClickedElement == $index">
                                                         <div class="switch-button single" ng-click="workStations.is_out_of_order = !workStations.is_out_of_order; saveWorkstation(workStations)" ng-class="{'on': workStations.is_out_of_order}">
                                                            <input type="checkbox"  ng-checked="workStations.is_out_of_order">
                                                            <span class="switch-icon"></span>
                                                        </div>
						</td>
						<td data-title="'OOS Message'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.out_of_order_msg | limitTo : 30}}{{workStations.out_of_order_msg.length > 30 ? '...' : ''}}
						</td>
                                                
						<td data-title="'Selected Printer'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.printer}}
						</td>
                                                <td data-title="'Default Printer'" header-class="width-40" ng-hide="currentClickedElement == $index">
							{{workStations.printer}}
						</td>
						<td data-title="'Action'" header-class="width-10" class="delete" ng-hide="currentClickedElement == $index" >
							<a id="3" class="icons icon-delete large-icon delete_item" ng-click="deleteDeviceMapping($index, workStations.id)"></a>
						</td>
						<td colspan="7" ng-include="getTemplateUrl($index,workStations.id)" ng-show="currentClickedElement == $index && isEditMode"></td>
					</tr>
				</tbody>
			</table>
		</section> 
		<!--Custom pagination footer goes here-->
		<script type="text/ng-template" id="custom/pager">
			<div class = "pager">
				<span ng-show="totalCount>0">Showing {{startCount}} to {{endCount}} of {{totalCount}} items</span>
				<span ng-show="totalCount==0">Showing 0 items</span>
				<ul class="ng-cloak">
	              	<li ng-repeat="page in pages"
		                ng-class="{'previous': page.type == 'prev', 'next': page.type == 'next'}"
		                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
	
		                <a ng-switch-when="prev" ng-click="params.page(1)" class="page" ng-class="{'disabled': !page.active}">First</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Previous</a>
		                <a ng-switch-when="prev" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">{{page.number}}</a>
		                <a ng-switch-when="next" ng-click="params.page(page.number)" class="page" ng-class="{'disabled': !page.active}">Next</a>
		                <a ng-switch-when="next" ng-click="params.page(totalPage)" class="page" ng-class="{'disabled': !page.active}">Last</a>
		          	</li>
	            </ul>
	        </div>
		</script>
		<!--end-->
	</div>
</section>