<div role="dialog" id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}"> <!--modal-content diary-move -->
    <div class="modal-content alert diary-assigned">
        <button id="modal-close" type="button" class="modal-close" ng-click="exitPopup()"><span class="icons icon-close invert"></span></button>

        <span class="icons icon-popup-alert"></span>
        <span class="h2 message">There are reservations with unassigned rooms.</span>
        <em class="text">You can still proceed, but it might be good to assign those reservations first.</em>

        <button type="button" class="button green" ng-click="closeDialog()">Continue with book</button>
        <button type="button" class="button blank" ng-click="closeUnAssignedPopup()">Close Window</button>
    </div>
</div>
