<!-- Navbar -->
<header class="nav-bar" role="banner">
    <!-- Logo -->
    <div class="logo">
        <img src="{image}" alt="" />
    </div>
    <!-- Title -->
    <h1 class="h2">
        Reservations
        <span>
            <strong>{User}</strong>
            <span>|</span>
            <em class="date">{Business date}</em>
        </span>
    </h1>
</header>

<section id="diary-content" class="content diary-content" role="main">

    <!-- Diary header -->
    <form method="post" action="" id="diary-header" name="diary-header" class="diary-header">
        <div class="entry date">
            <label for="arrival-date">Date</label>
            <div class="entry-data">
                <input name="arrival-date" id="arrival-date" type="text" class="datepicker" value="{start_date}" readonly />
                <strong id="arrival-date-day" class="day">{{day}}</strong>
                <span id="arrival-date-month" class="month">{{month}}</span>
                <span id="arrival-date-year" class="year">{{year}}</span>
            </div>
        </div>
        <div class="entry time">
            <label for="arrival-time">Arrival Time</label>
            <div class="select">
                <select id="arrival-time" name="arrival-time">
                    <!--<option value="01:00">01:00</option>
                    <option value="02:00">02:00</option>
                    ... -->
                    <option ng-repeat="arrival_time in arrival_times" value={{arrival_time}}>{{arrival_time}}</option> 
                </select>
            </div>
        </div>
        <div class="entry room">
            <label for="room-type">Room Type</label>
            <div class="select">
                <select id="room-type" name="room-type">
                    <option value="" selected>All</option>
                    <!--<option value="{Room Type 1}">{Room Type 1}</option>
                    <option value="{Room Type 2}">{Room Type 2}</option>-->
                    <option ng-repeat="room_type in room_types" value={{room_type.id}}>{{room_type.name}}</option>
                </select>
            </div>
        </div>
        <div class="entry rate">
            <label for="rate-type">Rate Type</label>
            <div class="faux-select">
                Standard Rate
            </div>
            <div id="diary-rates" class="faux-select-options hidden">
                <div class="header">
                    <!-- Standard Rate -->
                    <label class="radio inline">
                        <input name="rate-type" id="standard-rate" value="standard-rate" type="radio" checked />
                        Standard
                    </label>
                    <label class="radio inline">
                        <input name="rate-type" id="corporate-rate" value="standard-rate" type="radio" />
                        Corporate 
                        <span>Select Account</span>
                    </label>   
                    <!-- Corporate Rate is selected & defined
                    <label class="radio inline">
                        <input name="rate-type" id="standard-rate" value="standard-rate" type="radio" />
                        Standard
                    </label>
                    <label class="radio inline checked">
                        <input name="rate-type" id="corporate-rate" value="standard-rate" type="radio" checked />
                        Corporate 
                        <span>American Airlines</span>
                        <span id="confirm-rate" class="icons icon-ok-20">Confirm rate</span>
                        <span id="remove-rate" class="icons icon-remove-20">Remove rate</span>
                    </label> -->      
                </div>
                <!-- Corporate Rate Search - show only when Corporate Rate is selected -->
                <div class="entry search hidden">
                    <a href="#" id="diary-clear-query" class="clear-query"><span class="icons icon-clear-search">Clear query</span></a>
                    <button type="submit" name="submit" class="icons icon-search">Search</button>
                    <input name="diary-corporate-query" id="diary-corporate-query" class="query" placeholder="Type Company or Travel Agent Name" type="search" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="entry switch">
            <label for="diary-hours-days">Hours / Days</label>
            <div class="switch-button on">
                <input name="diary-hours-days" id="diary-hours-days" value="" type="checkbox" checked />
                <label class="data-off">
                    <span class="value">H</span>
                    <span class="switch-icon">D</span>
                </label>
                <label class="data-on">
                    <span class="switch-icon">H</span>
                    <span class="value">D</span>
                </label>
            </div>
        </div>
        <div class="entry switch display">
            <label for="diary-range">Show <span>(Hours)</span></label>
            <div class="switch-button on">
                <input name="diary-view-range" id="diary-view-range" value="" type="checkbox" checked />
                <label class="data-off">
                    <span class="value">12</span>
                    <span class="switch-icon">24</span>
                </label>
                <label class="data-on">
                    <span class="switch-icon">12</span>
                    <span class="value">24</span>
                </label>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="button green">Update</button>
        </div>
    </form>
    
    <!-- Diary Content -->
    <div class="component-wrapper" ng-react-component="DiaryContent"></div>
</section>