<form method="get" action="" id="automatic-payments-search-form" class="search-form has-dates has-option automatic-payments" role="search">

    <!-- Date -->
    <div class="entry date has-datepicker">
        <label for="automatic-payments-date">Due Date</label>
        <input name="automatic-payments-date"  id="automatic-payments-date" class="datepicker" readonly type="text" ui-date="dueDateOptions" value="{{filters.due_date}}" listen-this="filters.due_date" />

    </div>

    <!-- Status -->
    <div class="entry status">
        <div class="select">
            <label for="automatic-payments-status">Status</label>
            <select id="automatic-payments-status" ng-model="filters.status" ng-change="fetchAutoCharge()">
                <option value="ALL">All Deposit Reservations</option>
                <option value="APPROVED">Approved Transactions</option>
                <option value="DECLINED">Declined Transactions</option>
            </select>
        </div>
    </div>

    <!-- Process -->
    <div class="entry process hidden"> <!-- Show only when some reservations are selected -->
        <button class="button green">Process Selected</button>
    </div>

    <!-- Print -->
    <button id="print-automatic-payments" type="button" ng-click="clickedPrint()" ng-show="totalCount !== 0" class="button blue with-icon only-icon print">
        <span class="icons icon-print"></span>
        Print
    </button>

    <!-- Tabs -->
    <ul class="filters">
        <li class="active">
            <strong>Deposits</strong>
            {{currencySymbol}}{{totalDeposite}}
        </li>
        <!--<li>-->
            <!--<strong>EOD Check Out</strong>-->
            <!--{currency}{amount}-->
        <!--</li>-->
    </ul>
</form>

<!-- Pagination -->
<rv-pagination page-options="paginationConfig" page-data="totalCount"></rv-pagination>
<!-- Content -->
<section id="automatic-payments" class="content automatic-payments-content" role="main">

    <!-- Header -->
    <ul class="grid-header" ng-show="totalCount !== 0"> <!-- Remove class 'with-checkbox' when showing ONLY APPROVED TRANSACITONS -->
        <li class="cell-checkbox ng-hide"> <!-- Remove L73-L78 when showing ONLY APPROVED TRANSACITONS -->
            <label class="checkbox">
                <span class="icon-form icon-checkbox"></span>
                <input id="select-all" type="checkbox" value="{value}">
            </label>
        </li>
        <li class="cell-reservation">Reservation</li>
        <li class="cell-date">Arrival Date</li>
        <li class="cell-card">Card Details</li>
        <li class="cell-cost">Stay Cost</li>
        <li class="cell-deposit">Deposit Paid</li>
    </ul>

    <!-- Reservations -->
    <div id="automatic-payments-content" class="grid-content scrollable with-pagination" ng-iscroll="chargeScroller"> <!-- Remove class 'with-checkboxes' when showing ONLY APPROVED TRANSACITONS -->
        <div class="wrapper" ng-show="totalCount !== 0">
            <ul class="search-results">
                <li class="reservation autopayment-item" ng-repeat="autoCharge in autoCharges"> <!-- Remove class 'with-checkbox' when showing ONLY APPROVED TRANSACITONS -->
                    <div class="cell-checkbox ng-hide"><!-- Remove L91-L96 when showing ONLY APPROVED TRANSACITONS -->
                        <label class="checkbox">
                            <span class="icon-form icon-checkbox"></span>
                            <input id="{{autoCharge.reservation_id}}" type="checkbox" >
                        </label>
                    </div>
                    <a ui-sref="rover.reservation.staycard.reservationcard.reservationdetails({
                        id: autoCharge.reservation_id,
                        confirmationId: autoCharge.confirmation_no,
                        isrefresh: 'true'})">
                        <div class="cell-reservation">
                            <figure class="guest-image">
                                <img src="{{autoCharge.guest_avatar}}" alt="">
                            </figure>
                            <h2>{{autoCharge.name}}</h2>
                            <div class="info">
                                <span class="label">Conf.</span>
                                <span class="value">{{autoCharge.confirmation_no}}</span>
                            </div>
                        </div>
                        <div class="cell-date">
                            <span class="guest-status check-in"></span>
                            <span class="date">{{autoCharge.arrival_date}}</span>
                        </div>
                        <div class="cell-card">
                            <figure class="card-logo">
                                <img ng-src="/assets/images/{{autoCharge.card_details.code}}.png"alt="">
                            </figure>
                            <div class="info">
                                <span class="label">No.</span>
                                <span class="value">{{autoCharge.card_details.ending_with}}</span>
                            </div>
                            <div class="info">
                                <span class="label">Code</span>
                                <span class="value">{{autoCharge.card_details.auth_code}}</span>
                            </div>
                        </div>
                        <div class="cell-cost">
                            {{autoCharge.stay_cost}}{{currencySymbol}}
                        </div>
                        <div class="cell-deposit" ng-class="{'color-green' : !autoCharge.is_declined, 'color-red' : autoCharge.is_declined}">
                            {{autoCharge.deposit_paid}}{{currencySymbol}}
                            <div class="deposit-due" ng-show="autoCharge.is_declined">{{autoCharge.deposit_paid}}{{currencySymbol}}</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <!--IF THERE's NOTHING TO SHOW, REPLACE L88-L137 with this-->
        <div class="no-content" ng-show="totalCount == 0">
             <div class="info">
                <span class="icon-no-content icon-alert"></span>
                <strong class="h1 alert">Deposit Auto-Charge is being processed.</strong>
                <span class="h2">Please check back at a later time.</span>
            </div>
        </div>
    </div>

</section>
