<!-- Dashboard content -->
<section id="dashboard" class="content">
    <div id = "wrapper" class="wrapper">
        <h2 translate>{{ HK_GUEST }}</h2>
        <ul id="guests-today">
            <li>
                <a class="button green">
                    <span class="icons check-in" translate>{{ CHECKING_IN }}</span>
                    <strong> {{ data.due_in_count }} </strong>
                </a>
            </li>
            <li>
                <a class="button blue">
                    <span class="icons inhouse" translate>{{ INHOUSE }}</span>
                    <strong> {{ data.inhouse_count }} </strong>
                </a>
            </li>
            <li>
                <a class="button red">
                    <span class="icons check-out" translate>{{ CHECKING_OUT }}</span>
                    <strong> {{ data.due_out_count }} </strong>
                </a>
            </li>       
        </ul>
        <h2 translate>{{ HK_ROOM }}</h2>
        <ul id="stats-today">
            <li>
                <em translate>{{ HK_OCCUPIED }}</em>
                <span>{{ data.occupied }}</span>
            </li>
            <li>
                <em translate>{{ HK_VACANT_CLEAN }}</em>
                <span class="green">{{ data.vacant_clean_room_count }}</span>
            </li>
            <li>
                <em translate>{{ HK_VACANT_DIRTY }}</em>
                <span class="red">{{ data.vacant_dirty_room_count }}</span>
            </li>
            <li>
                <em translate>{{ HK_OOOS }}</em>
                <span class="grey">{{ data.out_of_order_rooms_count }}</span>
            </li>
        </ul>
    </div>
</section>