<div ng-controller="RVHKRoomTabCtrl">

    <div class="room-actions has-date">
        <div class="has-datepicker">
            <label for="room-service-date">Date</label>
            <input name="room-service-date" id="room-service-date" type="text" class="datepicker" ui-date="selectDateOptions" ng-model="updateService.selected_date" ui-date-format readonly>               
            <!-- <input name="room-service-date" id="room-service-date" class="datepicker" readonly="" type="text" placeholder="{{updateService.selected_date | date : dateFormat }}" value="{{updateService.selected_date | date : dateFormat}}" />
            <button ng-click="showCalendar('rvHkServiceStatusDateSelectorCtrl')" type="button" class="ui-datepicker-trigger"></button> -->
        </div>
        <div class="select">
            <label for="room-service-status">Service Status</label>
            <select name="room-service-status" id="room-service-status" ng-model="updateService.room_service_status_id" ng-options="item.id as item.description for item in allServiceStatus" ng-change="statusChange()">
            </select>
        </div>
    </div>

    <!-- 3.B Room Tab - Room is OOO or OOS -->
    <div id="room-content" class="room-content row scrollable" ng-iscroll="room-tab-scroll">
        <div class="wrapper room-service-status">
            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
            <!-- 3.A  Room Tab - Room in service -->
            <!--CICO-53177-->
            <div ng-if="inService && showInseviceOnLoad">
                <strong class="h2">In Service</strong>
                <span class="icon-no-content icon-ok"></span>
            </div>

            <!-- 3.A  Room Tab - Room not in service -->

            <form method="post" action="" name="room-content" ng-hide="inService && showInseviceOnLoad">
                <strong class="h2" ng-show="inService">In Service</strong>
                <strong class="h2" ng-hide="inService">{{ ooOsTitle }}</strong>
                <div id="dates" class="row">
                    <!-- From / To dates should have the same flow as do arrival/departure dates on main create reservation search screen, just without dual month datepicker -->
                    <div id="out-from" class="entry" ng-class="{'disabled':showSaved}">
                        <label id="room-out-from-label"for="room-out-from">From <span>{{ getSimplifiedDayName(updateService.from_date) }}</span>
                        </label>
                        <div class="entry-data ui-datepicker-trigger">
                            <input name="room-out-from" ng-disabled="showSaved" id="room-out-from" type="text" class="datepicker" ui-date="fromDateOptions" ng-model="updateService.from_date" ui-date-format readonly style="display:block!important;position:absolute!important;left:0;right:0;top:0;bottom:0;z-index:3;margin:0!important;opacity:0">

                            <strong id="room-out-from-day" class="day">{{ updateService.from_date | date:'dd' }}</strong>
                            <span id="room-out-from-month" class="month">{{ updateService.from_date | date:'MMMM' }}</span>
                            <span id="room-out-from-year" class="year">{{ updateService.from_date | date:'yyyy' }}</span>
                        </div>

                        <!--from time onwards -->
                        <div class="select" ng-show="shouldShowTimeSelector()">
                            <select id="room-out-from-time" class="placeholder" ng-model="updateService.begin_time">
                                <option value="" selected>From Time</option>
                                <option value="{{timeSelector.value}}" ng-repeat="timeSelector in timeSelectorList" ng-selected="updateService.begin_time==timeSelector.value">{{timeSelector.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div id="out-to" class="entry" ng-class="{'disabled':showSaved}">
                        <label id="room-out-to-label" for="room-out-to">To <span>{{ getSimplifiedDayName(updateService.to_date) }}</span>
                        </label>
                        <div class="entry-data ui-datepicker-trigger">
                            <input name="room-out-to" ng-disabled="showSaved" id="room-out-to" type="text" class="datepicker" ui-date="untilDateOptions" ng-model="updateService.to_date" ui-date-format readonly style="display:block!important;position:absolute!important;left:0;right:0;top:0;bottom:0;z-index:3;margin:0!important;opacity:0">
                            </label>

                            <strong id="room-out-to-day" class="day">{{ updateService.to_date | date:'dd' }}</strong>
                            <span id="room-out-to-month" class="month">{{ updateService.to_date | date:'MMMM' }}</span>
                            <span id="room-out-to-year" class="year">{{ updateService.to_date | date:'yyyy' }}</span>
                        </div>

                        <!--to time-->
                        <div class="select" ng-show="shouldShowTimeSelector()">
                            <select id="room-out-to-time" class="placeholder" ng-model="updateService.end_time" ng-disabled="showSaved">
                                <option value="" selected>To Time</option>
                                <option value="{{timeSelector.value}}" ng-repeat="timeSelector in timeSelectorList" ng-selected="updateService.end_time==timeSelector.value">{{timeSelector.text}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="reason-div" class="row" ng-hide="inService">
                    <div class="entry">
                        <label for="reason">Reason</label>
                        <div class="select">
                            <select name="reason" id="reason" ng-model="updateService.reason_id" ng-disabled="showSaved"
                                    ng-options="item.value as item.name for item in maintenanceReasonsList">
                                <option value="">Choose reason</option>
                            </select>
                        </div>
                    </div>
                    <div class="entry" ng-hide="inService">
                        <label for="reason-comments">Comments <span>(optional)</span>
                        </label>
                        <textarea name="reason-comments" id="reason-comments" rows="4" ng-model="updateService.comment" ng-disabled="showSaved"></textarea>
                    </div>
                </div>
                <div id="actions" class="row">
                    <button type="button" class="button green" ng-click="edit()">{{ generateButtonName() }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
