<div ng-controller="RVHKWorkTabCtrl">
  <div class="room-actions" ng-class="{ 'dual-select': isStandAlone }">
    <div class="select">
      <select id="work-type" name="work-type" ng-if="isStandAlone" ng-model="chosenWorkType" ng-options="item.id as item.name for item in workTypesList" disabled>
        <option value="">All Work Types</option>
      </select>
    </div>
    <div class="select">
      <!-- standalone PMS -->
      <!-- Disable when cleaning in progrees. -->
      <!-- ng-disabled="isCleaning" -->
      <select id="room-status" name="room-status" ng-if="isStandAlone" ng-model="roomDetails.current_hk_status" ng-options="item.value as item.description for item in roomDetails.hk_status_list" ng-change="standaloneRoomStatusChanged()" disabled></select>

      <!-- connected PMS -->
      <select id="room-status" name="room-status" ng-if="!isStandAlone" ng-if="!isStandAlone" ng-model="roomDetails.current_hk_status" ng-options="item.value as item.description for item in roomDetails.hk_status_list" ng-change="connectedRoomStatusChanged()" ng-disabled="!!ooOsTitle"></select>
    </div>
  </div>

  <div id="room-content" class="room-content">
    
    <!-- this is a connected hotel -->
    <div ng-if="!isStandAlone">
      <!-- 2.A Work Tab - Room is clean -->
      <div ng-if="!!ooOsTitle">
        <strong class="h2">Room is {{ ooOsTitle }}.</strong>
        <span class="icon-no-content icon-ok"></span> 
      </div>

      <!-- 2.A Work Tab - Room is clean -->
      <div ng-if="!ooOsTitle && checkShow('clean')">
        <strong class="h2">Room is clean.</strong>
        <span class="icon-no-content icon-ok"></span> 
      </div>

      <!-- 2.B Work Tab - Room is dirty -->
      <div ng-if="!ooOsTitle && checkShow('dirty') && !isCleaning">
        <strong class="h2"> Room is <span class="red">Dirty</span>.</strong>
      </div>

      <!-- 2.C Work Tab - Room is pickup -->
      <div ng-if="!ooOsTitle && checkShow('pickup') && !isCleaning">
        <strong class="h2"> <span class="orange">Pickup</span> room.</strong>
      </div>

      <!-- 2.D Work Tab - Room cleaning in progress -->
      <div ng-if="!ooOsTitle && isCleaning">
        <strong class="h2">Work is in Progress.</strong>
      </div>
    </div>

    
    <!-- this is a standalone hotel -->
    <div ng-if="isStandAlone">
      <!-- 2.A Work Tab - Room is clean -->
      <div ng-if="checkShow('clean')">
        <strong class="h2">Room is clean.</strong>
        <span class="icon-no-content icon-ok"></span> 
      </div>
      
      <!-- 2.B Work Tab - Room is dirty -->
      <div ng-if="checkShow('dirty') && !isCleaning">
        <strong class="h2"> Room is <span class="red">Dirty</span>.</strong>

        <div ng-if="roomDetails.assigned_maid">
          <button type="button" class="button blue action" ng-click="startCleaning()">Start</button> 
          <!-- Show this only if room is assigned to staff memeber -->
          <a ui-sref="rover.workManagement.singleSheet({ id: roomDetails.work_sheet_id, date: businessDate })" class="button white blue-text show-sheet"><span>Assigned to: </span>{{ roomDetails.assigned_maid }}</a>
        </div>
      </div>

      <!-- 2.C Work Tab - Room is pickup -->
      <div ng-if="checkShow('pickup') && !isCleaning">
        <strong class="h2"> <span class="orange">Pickup</span> room.</strong>

        <div ng-if="roomDetails.assigned_maid">
          <button type="button" class="button blue action" ng-click="startCleaning()">Start</button>
          <!-- Show this only if room is assigned to staff memeber -->
          <a ui-sref="rover.workManagement.singleSheet({ id: roomDetails.work_sheet_id, date: businessDate })" class="button white blue-text show-sheet"><span>Assigned to: </span>{{ roomDetails.assigned_maid }}</a>
        </div>
      </div>
      
      <!-- 2.D Work Tab - Room cleaning in progress -->
      <div ng-if="isCleaning">
        <strong class="h2">Work is in Progress.</strong>
        <span class="progress"></span>
        <button type="button" class="button green action" ng-click="doneCleaning()">Done!</button>
      </div>
    </div>

  </div>
</div>