/* Popups ***/
#modal,
.inline-modal {

    .modal-content {
        padding: 20px !important;
        width: 100% !important;
        height: 100% !important;

        .message {
            margin: 10px 20px 20px;
        }

        &.pay-bill {
            @media screen and (min-width:600px) {
                width: 580px !important;
            }
        }

        /* Deposit popup ***/
        &.deposit-required {

            .payment-form {
                position: relative;
                padding: 0 20px;
                margin-left: -10px;
                width: calc(~'100% + 20px');
                max-height: calc(~'100% - 54px');

                .wrapper {
                    padding: 0;
                }

                .actions {
                    padding-bottom: 20px;

                    .button {
                        width: 100%;
                        .show();

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        /* Deposit & Balance ***/
        &.deposit-balance {
            padding: 0 !important;
            display: flex;
            flex-flow: column wrap;

            .content-left,
            .content-right {
                width: 100%;
                float: none;
                height: 40%;

                .expenses {
                    padding: 0 20px;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;

                    li {
                        &.deposit,
                        &.balance {
                            position: static;
                        }

                        &.total.final,
                        &.balance {
                            padding-bottom: 5px;
                            margin-bottom: 5px;
                            border-bottom: 1px solid rgba(0,0,0,.1);
                        }
                    }
                }
            }

            .content-right {
                padding: 20px 0 0 0;
                display: flex;
                flex-flow: column nowrap;
                height: 60%;

                .payment-form {
                    position: relative;
                    max-height: inherit;

                    .actions {
                        padding-bottom: 20px;
                    }
                }
            }
        }

        /* Post charge ***/
        &.post-charge {
            padding: 0 0 60px 0 !important;
            .float;

            @media screen and (min-width:600px) and (max-width:767px) {
                width: 590px !important;
                height: 750px !important
            }

            .content-left,
            .content-right {
                position: relative;
                overflow: hidden;
                height: 100%;
                width: 100%;
                .pull-left;
            }

            .content-left {
                padding: 20px 0;
                background: rgba(0,0,0,.05);
                
                .entry {
                    .show;
                }

                .search-form {
                    text-align: left;
                    height: 100px;
                    padding: 0 0 10px 0;
                    margin: 0 20px 10px 20px;
                    overflow: hidden;
                    background: transparent;
                    border-bottom: 2px solid rgba(0,0,0,.1);
                    #flexbox > .parent( column, '', '', '' );

                    .select {
                        width: 100%;
                        .show;
                        select { height: 40px; }
                    }

                    .entry {
                        margin-top: 10px;
                        width: 100%;
                    }
                }

                .scrollable {
                    position: absolute;
                    left: 20px;
                    top: 130px;
                    .calc-width(100, 20);
                    .calc-height(100, 200);

                    li {
                        margin: 0 20px 10px 0;

                        .button {
                            position: relative;
                            text-align: left;
                            text-transform: none;
                            line-height: 26px;
                            min-height: 50px;
                            padding: 12px 120px 6px 10px;

                            .highlight { color: @logoPrimary; }

                            .count {
                                position: absolute;
                                top: 15px;
                                right: 100px;
                                color: @white;
                                background: @logoPrimary;
                                text-align: center;
                                font-size: 12px;
                                line-height: 20px;
                                font-weight: 600;
                                padding: 0 7px;
                                .show;
                                .size(20px, auto);
                                #border-radius > .rounded(20px);
                            }

                            .price {
                                position: absolute;
                                top: 0;
                                right: 10px;
                                font-size: 24px;
                                line-height: 50px;
                                font-weight: 300;
                            }
                        }
                    }

                    .iScrollVerticalScrollbar {
                        top: 0;
                        right: 7px;
                        bottom: 0;
                    }
                }

                .search-pagination {
                    p { .pull-left; }

                    .button {
                        font-size: 16px;
                        line-height: 40px;
                        .size(40px, 120px);
                    }
                }

                .numbers-pagination {
                    -webkit-justify-content: center;
                    justify-content: center;

                    .button {
                        font-size: 14px;
                        line-height: 40px;
                        .square(40px);
                    }
                }
            }

            .content-right {
                position: relative;
                padding: 10px 0 20px 20px;
                .hide;
                .box-shadow(0 -2px 2px rgba(0,0,0,.3));

                /* Elements ***/
                .scrollable {
                    position: relative;
                    padding-right: 20px;
                    width: 100%;
                    .transition();

                    > .wrapper {
                        padding-bottom: 2px;
                    }

                    li {
                        position: relative;
                        padding: 6px 80px 6px 0;
                        text-align: left;
                        line-height: 1;
                        font-weight: 600;
                        cursor: pointer;
                        margin-bottom: 0;
                        .transition();

                        span {
                            color: @grey3;
                            font-weight: 400;
                            .transition();

                            &.base {
                                font-size: 14px;
                                .show;
                            }

                            &.price,
                            &.value { color: @textColor; }

                            &.price {
                                position: absolute;
                                top: 6px;
                                right: 0;
                            }
                        }

                        &:not(:last-child) {
                            .box-shadow(inset 0 -1px 0 rgba(0,0,0,.1));
                        }

                        &.selected {
                            margin: 5px 0;
                            padding-left: 10px;
                            background-color: @white;
                            #border-radius > .rounded();
                            .box-shadow();
                            .show;

                            .price {
                                right: 10px;
                            }
                        }
                    }

                    .iScrollVerticalScrollbar {
                        top: 0;
                        right: 5px;
                        bottom: 0;
                    }
                }

                #total-charge {
                    margin-top: 10px;
                    padding-top: 10px;
                    font-weight: 600;
                    line-height: 30px;
                    text-transform: uppercase;
                    .box-shadow(inset 0 2px 0 rgba(0,0,0,.1));
                    .calc-width(100, 20);
                    .float;

                    .price {
                        font-size: 30px;
                        font-weight: 300;
                        .pull-right;
                    }
                }

                #numpad {
                    position: static;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;

                    .numpad-title {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    .button {
                        display: inline-block;
                        padding: 0;
                        .square(50px);
                    }

                    #numpad-numbers {
                        width: 100%;
                        padding-right: 10px;
                        #flexbox > .parent( row wrap, '', '', '' );

                        .button {
                            font-size: 30px;
                            font-weight: 400;
                            margin: 0 6px 10px 0;
                            order: 10;

                            &.small { font-size: 18px; }

                            &[value="0"] {
                                order: 0;
                            }
                            &[value="1"] {
                                order: 1;
                            }
                            &[value="2"] {
                                order: 2;
                            }
                            &[value="3"] {
                                order: 3;
                            }
                            &[value="4"] {
                                order: 4;
                            }
                            &[value="5"] {
                                order: 5;
                            }
                            &[value="6"] {
                                order: 6;
                            }
                            &[value="7"] {
                                order: 7;
                            }
                            &[value="8"] {
                                order: 8;
                            }
                            &[value="9"] {
                                order: 9;
                            }
                        }
                    }

                    #numpad-options {
                        width: 100%;
                        padding-right: 20px;
                        #flexbox > .parent( row wrap, '', '', '' );

                        .button {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 0 6px 10px 0;

                            &.selected {
                                color: @white;
                                text-shadow: 1px 1px 0 rgba(0,0,0,.15);
                                .box-shadow(inset 0 -1px 0 rgba(0,0,0,.2));
                                .button > .brand-colors;
                            }
                        }
                    }
                }

                .form {
                    width: 100%;
                    padding-right: 20px;
                    position: static;

                    label {
                        margin-bottom: 0;

                        &:not(.checkbox) {
                            font-weight: 600;
                        }
                    }

                    .checkbox {
                        font-size: 14px;
                        text-transform: uppercase;
                    }

                    .button {
                        font-size: 16px;
                        width: 50%;
                        padding: 0 10px;
                        .pull-left;
                    }

                    .actions {
                        padding-top: 20px;
                        .box-shadow(inset 0 2px 0 rgba(0,0,0,.1));
                    }
                }

                /* Case 1 - No content ***/
                .no-content {
                    position: static;
                    .calc-height(100, 80);

                    .h1 {
                        font-size: 24px;
                        margin: 0;
                    }
                }

                /* Case 2 - Showing grid of added items ***/
                .grid-only {
                    .scrollable {
                       max-height: 455px;
                    }

                    #numpad,
                    .form .entry {
                        .hide();
                    }

                    .form {
                         

                        .actions {
                            text-align: center;
                        }

                        .button {
                            display: inline-block;
                            float: none;
                            width: auto;
                        }
                    }
                }

                /* Case 3 - Showing selected charge details ***/
                .charge-details {
                    .calc-height(100, 50);
                    overflow: scroll;

                    .scrollable {
                        max-height: 255px;
                    }
                }
            }

            .mobile-actions {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px 10px;
                height: 60px;
                #flexbox > .parent( row, space-between, '', '' );

                .button {
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    margin: 0 10px;
                }
            }

            &.show-charges {
                .content-right {
                    .show;
                }

                .content-left {
                    .hide;
                }
            }

            &.extended {
                position: relative;
                padding-top: 80px !important;

                .inner-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,.15);
                    z-index: 9999;
                    visibility: hidden;
                    #fade > .out();
                    .square(100%);

                    .inner-content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        padding: 20px;
                        .size(auto, 320px);
                        .background(@white);
                        .box-shadow(0 0 2px rgba(0,0,0,.15));
                        #border-radius > .rounded(3px);
                        .translate3d(-50%, -50%, 0);
                    }

                    &.visible {
                        visibility: visible;
                        #fade > .in();
                    }
                }

                .cards {
                    top: 0;
                    height: 80px;

                    .cards-wrapper {

                        /* Card headers ***/
                        .cards-header {
                            height: 80px;
                            .card-header {
                                height: 80px;

                                .card-search-form {
                                    width: 100%;
                                    height: 70px;

                                    .holder {
                                        display: block;
                                        height: auto;

                                        .entry {
                                            width: 100%;
                                        }
                                    }

                                    .masked-input {
                                        color: @white;
                                        width: 100%;
                                        font-size: 16px;
                                        height: 30px;
                                        .show;
                                        .placeholder-text(16px, 20px, 700, rgba(255,255,255,.6), normal);

 
                                        &.long-name { width: 100%; }
                                        &.active {  color: @logoPrimary; }

                                        &:first-child {
                                            margin-bottom: 5px;
                                        }
                                    }
                                }

                                .card-details {
                                    height: 50px;
                                    position: relative;
                                    width: 100%;
                                    margin: 0;
                                    .show;

                                    .holder {
                                        width: 100%;
                                        clear: both;
                                        .float;
                                        .show;

                                        .room {
                                            font-size: 18px;
                                            line-height: 20px;
                                            font-weight: 700;
                                            .pull-left;
                                        }

                                        h1 {
                                            font-weight: 700;
                                            clear: none;
                                            font-size: 16px;
                                            line-height: 20px;
                                            .calc-width(100, 105);
                                            .pull-left;
                                            .nowrap();
                                        }

                                        .guest-status {
                                            margin: 0 10px 0 20px;
                                            .square(20px);
                                            .pull-left;

                                    
                                            .guest-status > .small-icon();
                                            
                                        }

                                        &.data {
                                            height: auto;
                                            .calc-width(100, 140);

                                            span {
                                                font-size: 14px;
                                                line-height: 20px;
                                                margin: 0 10px 0 0px;
                                                .show;
                                                .pull-left;

                                                &.icons {
                                                    padding-left: 20px;

                                                    &.icon-gc-phone,
                                                    &.icon-gc-email {
                                                        .hide();
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .card-actions {
                                    grid-column: span 2;
                                    width: 100%;
                                    .hide;
                                    .pull-right;

                                    .button {
                                        line-height: 38px;
                                        margin-top: 5px;
                                    }

                                    &.visible {
                                        .show;
                                        position: absolute;
                                        width: 130px;
                                        bottom: 10px;
                                        right: 10px;

                                        .button {
                                            height: 30px;
                                            line-height: 30px;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }

                        /* Search card content ***/
                        .cards-content {
                            .calc-height(100, 130);

                            .card-content {
                                &.card-search {
                                    .search-cards {
                                        position: relative;
                                        height: 100%;

                                        &.no-results {
                                            .wrapper,
                                            .search-results {
                                                height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.open {
                        height: 100%;

                        .cards-wrapper {

                            /* Card headers ***/
                            .cards-header {
                                height: 130px;
                                .card-header {
                                    .card-actions { .show; }
                                }
                            }
                        }
                    }
                }

                .grid-only {
                    .scrollable {
                       max-height: 355px;
                    }
                }

                .charge-details {
                    
                    .scrollable {
                        max-height: 120px;
                    }
                }
            }
        }

        /** Check In Data **/
        &.check-in-data {

            fieldset {
                padding: 0;
                padding-top: 50px;

                legend {
                    text-align: left;
                    padding: 0;
                }
            }

            .modal-fields {
                max-height: 100%;
                .calc-height(100, 120);
            }
        }

        /* StayCard Notes ***/
        &.staycard-notes {
            padding: 0 !important;

            .modal-header { 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 60px;

                h1 {
                    font-size: 24px;
                    width: auto;
                    display: block;
                }

                strong {
                    font-size: 14px;
                    line-height: 1rem;
                    margin: 0;
                    display: block;
                }

                .switch {
                    display: none;
                }
            }

            .scrollable,
            .no-content {
                height: calc(~'100vh - 60px');
                max-height: calc(~'100vh - 180px');
            }

            .scrollable {
                .notes {
                    li {
                        margin-bottom: 10px;
                    }
                }
            }

            .actions {
                padding: 10px;
                height: 120px;

                textarea {
                    .calc-width(100, 110);
                }

                .post {
                    margin-left: 10px;
                    width: 100px;
                }
            }

            &.with-files {
                .modal-header {
                    padding: 10px;
                    height: 60px;
                }
            }
        }

        /* StayCard Actions ***/
        &.staycard-actions {
            padding: 0 !important;

            .modal-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                height: 60px;

                h1 {
                    font-size: 24px;
                    width: auto;
                    display: block;
                }

                strong {
                    font-size: 14px;
                    line-height: 1rem;
                    margin: 0;
                    display: block;
                }

                span,
                .dates {
                    display: none;
                }

                .button {
                    position: fixed;
                    top: auto;
                    bottom: 10px;
                    left: 10px;
                    right: 10px;
                    z-index: 9990;
                    width: calc(~'100% - 20px');
                }
            }

            .actions-content {
                width: 100vw;
                height: calc(~'100vh - 60px');

                .content-left {
                    z-index: 9980;
                    padding-bottom: 70px;
                }

                .content-right {
                    z-index: 9999;

                    .summary {
                        padding: 10px;
                    }

                    .add-content {
                        .form {
                            padding: 0;
                        }
                    }
                }

                &.no-content {
                    display: flex;
                    justify-content: center;
                    width: 100vw;
                    height: calc(~'100vh - 60px');
                }
            }  
        }  

        /** Events **/
        &.events {
            max-height: 100%;

            .scrollable {
                padding: 0;
                max-height: calc(~'100% - 140px');
            }

            .actions {
                padding-top: 20px;
                
                .button {
                    font-size: 18px;
                }
            }
        }

        /** Rate Manager ***/
        &.rate-manager-modal  { 
            padding: 0 !important;

            .modal-header {
                display: flex;
                flex-flow: row wrap;
                padding: 10px;
                width: 100%;
                height: 60px;

                h2 {
                    font-size: 18px;
                    line-height: 20px;
                    width: 100%;
                }

                em {
                    font-size: 14px;
                    line-height: 20px;
                    display: inline;
                    width: 50%;
                }

                .rate-name {
                    margin-left: 5px;
                    padding-left: 5px;
                }

                .button {
                    position: relative;
                    text-indent: -9999px;
                    .square(40px);

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '+';
                        font-size: 18px;
                        line-height: 40px;
                        text-indent: 0;
                        display: block;
                        .square(100%);
                    }
                }

                .modal-header-left,
                .modal-header-right {
                    float: none;
                }

                .modal-header-left {
                    text-align: center;
                    width: 100% !important;

                    > em {
                        float: none;
                        margin-top: 0;
                        line-height: 20px;
                        display: inline;
                    }

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                .modal-header-right {
                    position: absolute;
                    top: 10px;
                    bottom: 10px;
                    right: 10px;
                    left: 10px;
                    width: auto !important;

                    .notice {
                        padding: 10px;
                        height: auto;
                    }
                }

                &:before,
                &:after {
                    display: none;
                }
            }

            .modal-body {
                display: flex;
                flex-flow: column nowrap;
                height: calc(~'100% - 120px');

                .content-left,
                .content-right {
                    display: none;
                }

                .content-middle {
                    float: none;
                    width: 100% !important;

                    > div {
                        height: 100%;
                    }

                    .prices-container {
                        max-height: calc(~'100% - 50px');
                    }
                }
            }

            .footer {
                height: 60px;

                .actions {
                    padding: 10px;

                    .button {
                        font-size: 16px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }

            /** Rate Manager Hierarchy modal **/
            &.rate-manager-hierarchy { 
                
                .restrictions-table-header {
                    display: none;
                }
                
                .restrictions-table-list {

                    li {
                        .restriction-item {
                            padding-right: 20px;

                            .data {
                                margin-right: 0;
                                width: 100%;
                            }

                            .set-on {
                                display: none;
                            }
                        }
                    }
                }

                .scrollable {
                    &.restrictions-table-list { 
                        .wrapper {
                            padding: 20px;
                        }
                    }
                }

                .modal-header {
                    .modal-header-right {
                        left: auto;
                        width: 40px !important;
                    }
                }

                .modal-body {
                    height: calc(~'100% - 60px');
                }   

                .restriction-content {

                    .content-middle {
                        height: calc(~'100% - 60px');
                    }

                    .footer {
                        height: 60px;

                        .actions {
                            padding: 10px;

                            .button {
                                height: 40px;
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
        }

        /** Move Room ***/
        &.diary-move { 
            .diary-moved { 
                .label {
                    text-align: center;
                    width: 100%;
                    margin-right: 0;
                    float: none;
                }

                .details {
                    float: none;
                    width: 100%;

                    li {
                        float: none;
                        border: 0;
                        line-height: 1.2;                        

                        &.type {
                            font-size: 14px;
                            font-weight: 400;
                            width: 100%;
                        }

                        &.room,
                        &.price {
                            width: 100%;
                        }

                        &.room {
                            font-size: 24px;
                        }

                        &.price {
                            font-weight: 300;
                            font-size: 18px;
                        }
                    }
                }

                &:first-of-type {
                    .details {
                        li {
                            color: @grey3;
                            text-decoration: line-through;
                        }
                    }
                }
            }

            .actions {
                position: absolute;
                bottom: 10px;
                left: 10px;
                right: 10px;

                .button:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}