/* StayNTouch | SNT Default Kiosk styles */

/* 1. COLORS
==========================================================*/
	@brandColor:			#f6991b;
	
	@textColor: 			#202225;
	@backgroundColor: 		#fcfcfc;

	@actionColor:			@white;
	@actionBackground: 		@brandColor;
	
	@inputBackground: 		#d8d8d8;
	@transparentColor: 		fade(@textColor, 20%);

	@gradientStart: 		#ffb319;
	@gradientEnd: 			#ff860d;

/* 2. TYPOGRAPHY
==========================================================*/
	/* 300 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-light-webfont.eot');
	    src: url('../../type/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-light-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-light-webfont.ttf') format('truetype');
	    font-weight: 300;
	    font-style: normal;
	} 

	/* 400 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-regular-webfont.eot');
	    src: url('../../type/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    	     url('../../type/sourcesanspro-regular-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-regular-webfont.ttf') format('truetype');
	    font-weight: 400;
	    font-style: normal;
	}  

	/* 400 italic ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-italic-webfont.eot');
	    src: url('../../type/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-italic-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-italic-webfont.ttf') format('truetype');
	    font-weight: 400;
	    font-style: italic;
	}  

	/* 600 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-semibold-webfont.eot');
	    src: url('../../type/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-semibold-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-semibold-webfont.ttf') format('truetype');
	    font-weight: 600;
	    font-style: normal;
	} 

	/* 700 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-bold-webfont.eot');
	    src: url('../../type/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-bold-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-bold-webfont.ttf') format('truetype');
	    font-weight: 700;
	    font-style: normal;
	} 

	@fontFamily: "source_sans_pro", sans-serif;

/* 3. ICONS & IMAGES
==========================================================*/
	@background: 			@backgroundColor url("/assets/zest_station/css/themes/snt/background.png") repeat; 
	@backgroundSize: 		'';

	@headerIconsColor: 		@actionBackground;
	@headerIconsActive:		@textColor; 
        
        .margin-adj {
            margin-top: -50px;
        }
	.icons { 
		fill: @white; 

		&.icon-no-print,
		&.icon-pen { stroke: @white; }

		&.icon-oos { fill: @actionBackground; }

		&.icon-create-key {
			fill: @actionBackground;
			stroke: @actionBackground;
		}
                &.hi-tech-demo-icon{
                    height: 80% !important;
                    width: 115% !important;
                    margin: -120px !important;
                }
                &.hi-tech-demo-icon-orange{
                    width: 170% !important;    
                    margin-left: -50% !important;
                    margin-top: -40% !important;
                    fill: @actionBackground;
                    stroke: @actionBackground;
                }
	}

	.form {
        .entry {
        	input { background-color: @white; }
        	
            &.input { 
                .icons { fill: @brandColor; }
            }
        }
    }

    .button:not(.transparent):not(.blank) {
	    background: linear-gradient(to bottom, @gradientStart 0%, @gradientEnd 100%);
	    box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);

	    &:active { 
	    	background: linear-gradient(to top, @gradientStart 0%, @gradientEnd 100%);
	    	box-shadow: inset 0 2px 2px rgba(0,0,0,.3);
	    }
	}
	.admin-screen {
	    #textual {
	        background: transparent;

	        &:after, &:before {
	            background: transparent;
	        }
	    }
	}
        
        
        
        /////////////////////
        //keyboard
        /////////////////////
        
        //dark theme (modified for yotel)
        @charset: "UTF-8";
        .ui-keyboard{
            font-size:14px;
            text-align:center;
            padding:4px;
            width:auto !important;
            height:auto !important;
            left:calc(100%, 35px)!important;
            top:auto !important;
            bottom:0;
            position:fixed;
            white-space:nowrap;
            overflow-x:visible !important;
        }
        .ui-keyboard-has-focus{
            z-index:16001;
            width: 56% !important;
            bottom: 10px;
        }
        
        .ui-keyboard-button{
            border:4px solid #dededc;
            padding:0 .8em;
            margin:1px;
            min-width:5em;
            height:5em;
            line-height:3em;
            vertical-align:top;
            font-weight: 500;
            font-style: bold;
            font-stretch: normal;
            font-family:'vag', sans-serif !important;
            color:@brandColor;
            text-align:center;
            border-radius:5px;
            -webkit-box-shadow:1px 1px 3px 0 rgba(0,0,0,.5);
            box-shadow:1px 1px 3px 0 rgba(0,0,0,.5);
            background:@background;
            background-image:-webkit-linear-gradient(-90deg,@background 0,@background 100%);
            background-image:linear-gradient(-90deg,@background 0,@background 100%);
            cursor:pointer;
            overflow:visible;
            -moz-user-focus:ignore
        }
        .ui-keyboard-button:not([disabled]):hover{
            background:@brandColor;
            color:@textColor;
            background-image:-webkit-linear-gradient(-90deg,@brandColor 0,@background 100%);
            background-image:linear-gradient(-90deg,@brandColor 0,@background 100%)
        }
        .ui-state-hover{
            background:@brandColor;
            color:@textColor;
            background-image:-webkit-linear-gradient(-90deg,@brandColor 0,@background 100%);
            background-image:linear-gradient(-90deg,@brandColor 0,@background 100%)
        }
        .ui-keyboard-button:not([disabled]):active{
            background:#ddd;
            background-image:-webkit-linear-gradient(-90deg,@background  0,#5f5f5f 100%);
            background-image:linear-gradient(-90deg,@background  0,#5f5f5f 100%)
        }
        .ui-keyboard-button span{
            display:block;
            width:100%;
            font-size:1.6em;
            text-align:center
        }
        .ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo){
            min-width:6em
        }
        .ui-keyboard-space{
            width:15em
        }
        .ui-keyboard-actionkey:not(.ui-keyboard-dec):not(.ui-keyboard-combo) span{
            font-size:.8em;
            position:relative;
            top:-1em;
            left:-1.6em
        }
        .ui-keyboard-placeholder{
            color:#888
        }
        .ui-keyboard-nokeyboard{
            color:#888;
            border-color:#888
        }
        .ui-keyboard-spacer{
            display:inline-block;
            width:1px;
            height:0;
            cursor:default
        }
        .ui-keyboard-LRM span,.ui-keyboard-NBSP span,.ui-keyboard-RLM span,.ui-keyboard-ZWJ span,.ui-keyboard-ZWNJ span,.ui-keyboard-ZWSP span{
            font-size:.5em;
            line-height:1.5em;
            white-space:normal
        }
        .ui-keyboard-button.ui-keyboard-combo.ui-state-default{
            -webkit-box-shadow:1px 1px 3px 0 rgba(213,133,18,.5);
            box-shadow:1px 1px 3px 0 rgba(213,133,18,.5);border-color:#d58512
        }.ui-keyboard-button.ui-keyboard-combo.ui-state-active{
            -webkit-box-shadow:1px 1px 3px 0 rgba(38,154,188,.5);
            box-shadow:1px 1px 3px 0 rgba(38,154,188,.5);
            border-color:#269abc
        }button.ui-keyboard-accept.ui-keyboard-valid-input{
            -webkit-box-shadow:1px 1px 3px 0 rgba(57,132,57,.5);
            box-shadow:1px 1px 3px 0 rgba(57,132,57,.5);
            border-color:#398439
        }
        button.ui-keyboard-accept.ui-keyboard-valid-input:not([disabled]):hover{
            border-color:#4cae4c
        }button.ui-keyboard-accept.ui-keyboard-invalid-input{
            -webkit-box-shadow:1px 1px 3px 0 rgba(172,41,37,.5);
            box-shadow:1px 1px 3px 0 rgba(172,41,37,.5);border-color:#ac2925
        }
        button.ui-keyboard-accept.ui-keyboard-invalid-input:not([disabled]):hover{
            border-color:#d43f3a
        }
        button.ui-keyboard-toggle span{
            width:.9em;
            height:.9em;
            display:inline-block;
            background-repeat:no-repeat;
            background-position:center center;
            background-size:contain;
            background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iI2VlZSI+PHBhdGggZD0iTTguNyw0LjRINy41SDUuMHYtMS45YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40LDAtMi41LDEuMS0yLjUsMi41djEuOWgxLjIgdi0xLjljMC0wLjcsMC42LTEuMiwxLjItMS4yczEuMiwwLjYsMS4yLDEuMnYxLjljLTAuNywwLTEuMiwwLjYtMS4yLDEuMlY4LjggYzAsMC43LDAuNiwxLjIsMS4yLDEuMmg1LjBDOS40LDEwLDEwLDkuNCwxMCw4LjhWNS42QzEwLDUuMCw5LjQsNC40LDguOCw0LjR6IE02LjYsNy40djEuMCBjMCwwLjItMC4xLDAuMy0wLjMsMC4zUzYuMCw4LjYsNi4wLDguNFY3LjRjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zLDAuMy0wLjYsMC42LTAuNiBTNi45LDYuNiw2LjksNi45QzYuOSw3LjEsNi44LDcuMyw2LjYsNy40eiIvPjwvc3ZnPg==)
        }
        button.ui-keyboard-toggle.ui-keyboard-disabled span{
            background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0iI2VlZSI+PHBhdGggZD0iTTcuNCA0LjRWMi41YzAtMS40LTEuMS0yLjUtMi41LTIuNWMtMS40IDAtMi41IDEuMS0yLjUgMi41djEuOSBjLTAuNyAwLTEuMiAwLjUtMS4yIDEuMnYzLjFDMS4zIDkuNCAxLjggMTAgMi41IDEwaDQuOWMwLjcgMCAxLjItMC42IDEuMi0xLjJWNS42IEM4LjcgNC45IDguMSA0LjQgNy40IDQuNHogTTUuMyA3LjR2MS4wYzAgMC4yLTAuMSAwLjMtMC4zIDAuM2MtMC4yIDAtMC4zLTAuMS0wLjMtMC4zVjcuNCBjLTAuMi0wLjEtMC4zLTAuMy0wLjMtMC41YzAtMC4zIDAuMy0wLjYgMC42LTAuNmMwLjMgMCAwLjYgMC4zIDAuNiAwLjYgQzUuNiA3LjEgNS41IDcuMyA1LjMgNy40eiBNNi4yIDQuNEgzLjdWMi41YzAtMC43IDAuNS0xLjIgMS4yLTEuMmMwLjcgMCAxLjIgMC42IDEuMiAxLjIgVjQuNHoiLz48L3N2Zz4=)
        }
        .ui-keyboard.ui-keyboard-disabled button:not(.ui-keyboard-toggle),.ui-keyboard.ui-keyboard-disabled input{
            opacity:.5
        }
        .ui-keyboard-overlay{position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.5)}.ui-keyboard-popup{display:inline-block;max-width:22em}.ui-keyboard-caret{background:#c00;width:1px;margin-top:3px}div.ui-keyboard-extender{margin-left:5px;margin-right:10px}button.ui-keyboard-extender span{width:.9em;height:.9em;display:inline-block;margin-bottom:3px;background-repeat:no-repeat;background-position:center center;background-size:contain;background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgc3R5bGU9ImZpbGw6I2VlZSI+PGc+PHBhdGggc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6I2VlZSIgZD0iTSAwLjUsNC41IDE1LjUsNC41IDE1LjUsMTUuNSAwLjUsMTUuNSBaIj48L3BhdGg+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iMiIgeT0iNiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjYiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSI4IiB5PSI2Ij48L3JlY3Q+PHBhdGggZD0ibSAxMSw2IDMsMCAwLDUgLTIsMCAwLC0zIC0xLDAgeiI+PC9wYXRoPjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjEyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSI2IiBoZWlnaHQ9IjIiIHg9IjUiIHk9IjEyIj48L3JlY3Q+PHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgeD0iOSIgeT0iOSI+PC9yZWN0PjxyZWN0IHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHg9IjYiIHk9IjkiPjwvcmVjdD48cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB4PSIyIiB5PSIxMiI+PC9yZWN0PjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjIiIHg9IjIiIHk9IjkiPjwvcmVjdD48L2c+PC9zdmc+)}
        .ui-keyboard-button[data-action="bksp"]>.ui-keyboard-text {
           font-size: 1.8em;
           position: inherit;
        }