/* StayNTouch Zest Station Styles | SNT Default Theme */

/* 1. COLORS
==========================================================*/
	@brandColor:			#f6991b;
	
	@textColor: 			@white;
	@backgroundColor: 		#f6991b;

	@actionColor:			@black;
	@actionBackground: 		@white;
	
	@inputBackground: 		#707070;
	@inputColor:			@textColor;
	@transparentColor: 		fade(@textColor, 20%);

	@gradientStart: 		#ffb319;
	@gradientEnd: 			#ff860d;

/* 2. TYPOGRAPHY
==========================================================*/
	/* 300 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-light-webfont.eot');
	    src: url('../../type/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-light-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-light-webfont.ttf') format('truetype');
	    font-weight: 300;
	    font-style: normal;
	} 

	/* 400 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-regular-webfont.eot');
	    src: url('../../type/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    	     url('../../type/sourcesanspro-regular-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-regular-webfont.ttf') format('truetype');
	    font-weight: 400;
	    font-style: normal;
	}  

	/* 400 italic ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-italic-webfont.eot');
	    src: url('../../type/sourcesanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-italic-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-italic-webfont.ttf') format('truetype');
	    font-weight: 400;
	    font-style: italic;
	}  

	/* 600 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-semibold-webfont.eot');
	    src: url('../../type/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-semibold-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-semibold-webfont.ttf') format('truetype');
	    font-weight: 600;
	    font-style: normal;
	} 

	/* 700 ***/
	@font-face {
	    font-family: 'source_sans_pro';
	    src: url('../../type/sourcesanspro-bold-webfont.eot');
	    src: url('../../type/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../../type/sourcesanspro-bold-webfont.woff') format('woff'),
	         url('../../type/sourcesanspro-bold-webfont.ttf') format('truetype');
	    font-weight: 700;
	    font-style: normal;
	} 

	@fontFamily: "source_sans_pro", sans-serif;

/* 3. ICONS & IMAGES
==========================================================*/
	@background: 			@backgroundColor url("../css/themes/snt/background.jpg") no-repeat;
	@backgroundSize: 		cover;

	@headerIconsColor: 		@actionBackground;
	@headerIconsActive:		@textColor; 

	.icons { 
		fill: @black; 

		&.icon-no-print,
		&.icon-pen,
		&.icon-room { stroke: @white; }

		&.icon-oos { fill: @actionBackground; }

		&.icon-create-key {
			fill: @actionBackground;
			stroke: @actionBackground;
		}

		&.icon-arrow-left,
        &.icon-arrow-right {
            fill: none; 
        }
        &.icon-arrow-down {
            fill: @brandColor;
        }
	}

	 

    #guests {
		.button {
			background: @black;
			color: @white;
		}
	}

	


.admin-screen {
    #textual {
        background: transparent;

        &:after, &:before {
            background: transparent;
        }
    }
}

#snt {

    // PMS Zest Station logo
    .logo-svg{
        background-image: url("../css/themes/snt/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 303px;
        height: 80px;
        background-position: center;
        margin-top: 60px;
    }

	#header {
		height: 145px; 
	}

	#main {
		#calc > #height > .remove(100%, 145px);
		top: 145px;

		&.centered {
			padding-top: 100px;
			#content {
				height: 100%;
			}
		}
	}

	#logo {
		padding-top: 0;

		.logo {
			width: auto;
			height: 80px;
			margin-top: 60px;
		}
	}

	#options {
		li{
			&.radio-option {
				input[type=radio]:not(:checked) + .button {
					.icons {
						fill: rgba( 225,225,225,0.75);
					}
				}
			}
		}
	}
	#selection { 
		li {
			.details {
				background: rgba( 0, 0, 0, 0.5 );
				color: @white;
			}
		}
	}
	#rate {
		li {
			&.sub {
				color: #a1a1a1;
			}
		}
	}
	#textual {
		#rate {
			li {
				&.total {
					color: @black;
				}
			}
		}
	}

	.add-on {
		&.selected {
			background: @brandColor;
			color: @white;
			border-color: @brandColor;

			.add-on-content {
				background: @brandColor;
				color: @white;
			}
		}

		#options {
            li {
                .option {
                    &:not(.not-selected) {
						background: @brandColor;
						color: @white;
                    }
                }
            }
        }
	}

	.popup-content {
		.button:not(.transparent) {
			background: @brandColor;
			color: @white;
		}

		.button {
			.icons {
				fill: @white;
			}
		}
	}

	.minibar-item,
	.minibar-review .review-container {
		background: rgba( 0, 0, 0, 0.5 );
		color: @textColor;
	}

	.minibar-items .minibar-item .minibar-item-actions .button.disabled,
	.minibar-items .minibar-item .minibar-item-actions .button[disabled] {
		opacity: 0.5;
	}
}