<!-- Header -->
<header id="global-header" class="float" role="banner">
   <!-- Menu toggle button -->
   <a href="#main-nav" class="nav-toggle">Menu</a>
   <!-- Logo -->
   <img src="http://stayntouch.perceptiveinteractive.com//images/logo.png" class="logo" alt="" />
   <!-- Search form -->
   <form method="get" action="http://stayntouch.perceptiveinteractive.com/admin-snt/" name="search-form" id="search-form" class="float" role="search">
      <div class="entry">
         <a href="#" id="clear-query" class="icons icon-clear-search">Clear query</a>
         <button type="submit" name="submit" class="icons icon-search">Search</button>
         <input name="query" id="query" placeholder="Search" type="search" autocomplete="off" />
      </div>
   </form>
</header>
<!-- Admin menu -->
<div id="admin-header" class="float">
   <!-- Switch hotel dropdown -->
   <div id="change-hotel">
      <h1>Dupont Circle Hotel</h1>
      <dl class="dropdown">
         <dt>Change hotel:</dt>
         <dd><a href="#">Leela Palaces Hotels &amp; Resorts</a></dd>
         <dd><a href="#">Vivanta by Taj</a></dd>
         <dd><a href="#">Blue Sydney</a></dd>
         <dd><a href="#">Holiday Inn &amp; Resorts</a></dd>
      </dl>
   </div>
   <!-- Quick navigation -->
   <nav id="quick-menu" class="active" role="navigation"></nav>
</div>
<!-- Hotel Admin content -->
<div id="content" class="tabs float" role="main" data-tabs="dashboard-tabs">
   <!-- Dashboard tabs navigation -->
   <ul id="tabs-menu" class="float">
      <li><a href="#dashboard-hotel">Hotel &amp; staff</a></li>
      <li><a href="#dashboard-zest">Zest</a></li>
      <li><a href="#dashboard-promos">Promos &amp; Upsell</a></li>
      <li><a href="#dashboard-gcards">Guest Cards</a></li>
      <li><a href="#dashboard-rooms">Rooms</a></li>
      <li><a href="#dashboard-financials">Financials</a></li>
      <li><a href="#dashboard-rates">Rates</a></li>
      <li><a href="#dashboard-reservations">Reservations</a></li>
      <li><a href="#dashboard-interfaces">Interfaces</a></li>
   </ul>
   <!-- Listing & details holders -->
   <section id="load-listing" class="content content-holder"></section>
   <section id="load-details" class="content content-holder"></section>
   <!-- Dashboard tabs - Hotel & Staff -->
   <section id="dashboard-hotel" class="content">
      <header class="content-title float">
         <h2>Hotel &amp; Staff setup</h2>
      </header>
      <ul class="dashboard-items float">
         <li>
            <a href="#" class="icon-admin-menu icon-hotel" data-type="load-listing">Hotel Details</a>
            <a href="#" class="text" data-type="load-listing">Hotel Details</a>
         </li>
         <li>
            <a href="http://stayntouch.perceptiveinteractive.com/admin-hotel/user-setup/" class="icon-admin-menu icon-user" data-type="load-listing">User Setup</a>
            <a href="http://stayntouch.perceptiveinteractive.com/admin-hotel/user-setup/" class="text" data-type="load-listing">User Setup</a>
         </li>
         <li>
            <a href="http://stayntouch.perceptiveinteractive.com/admin-hotel/permissions/" class="icon-admin-menu icon-permissions" data-type="load-listing">Permissions</a>
            <a href="http://stayntouch.perceptiveinteractive.com/admin-hotel/permissions/" class="text" data-type="load-listing">Permissions</a>
         </li>
         <li>
            <a href="#" class="icon-admin-menu icon-roles" data-type="load-listing">User Roles</a>
            <a href="#" class="text" data-type="load-listing">User Roles</a>
         </li>
         <li>
            <a href="#" class="icon-admin-menu icon-departments" data-type="load-listing">Departments</a>
            <a href="#" class="text" data-type="load-listing">Departments</a>
         </li>
      </ul>
   </section>
</div>