<section id="replacing-div-first" class="content current" ng-click="clearErrorMessage()">
    <div id="selected_hotel" data-view="HotelExternalMappingsView">
        <section ng-init="fetchExternalMappingItems()">
            <header class="content-title float">
                <h2>External Mappings</h2>
                <a ng-click="navigateBack()" class="action back" translate>BACK</a>
            </header>
        </section>
    </div>
    <section class="content-scroll">
        <ul class="dashboard-items float">
            <li ng-repeat="submenu in extMappingSubComponents">
                <a class="icon-admin-menu"></a>
                <a class="text" ng-click="clickedMenuItem($event, 'admin.external-mappings', submenu)">
                    {{submenu.description}}
                </a>
            </li>
        </ul>
    </section>
</section>