<div style="display: block;" id="add-new" class="edit-data">
    <div class="data-holder">
        <!-- Add new external mappings -->
        <form class="form inline-form float">
            <a id="top"></a>
            <div class="form-title">
                <h3 ng-show = "isAdd"><span> Add New </span> External Mapping </h3>
                <h3 ng-hide = "isAdd"><span> Edit </span> External Mapping </h3>
                <em class="status"> Fields marked with <strong>*</strong> are mandatory! </em>
            </div>

            <fieldset class="holder left float">
                <div class="entry">
                    <label for="mapping-type"> Mapping type <strong>*</strong> </label>
                    <div class="select">
                        <select  ng-model="editData.mapping_type_value" ng-options="option.name as option.description for option in editData.mapping_types">
                            <option ng-disabled="true"  ng-selected="true" value="">Mapping Type</option>
                        </select>
                    </div>
                </div>

                <div id="hideDiv" class="entry"></div>
                <div class="entry sntvalue">
                    <label for="snt-value"> Snt Value <strong>*</strong> </label>
                    <div class="select">
                        <select ng-model="editData.snt_value" ng-options="option.name as option.description for option in editData.sntValues">
                            <option ng-disabled="true"  ng-selected="true" value="">Snt Value</option>
                        </select>
                    </div>
                </div>

                <div class="entry external" ng-if="editData.externalValues">
                    <label for="external-value-list"> External Value <strong>*</strong> </label>
                    <div class="select" id="external-value-list">
                        <select ng-model="editData.external_value" ng-options="option.name as option.description for option in editData.externalValues">
                            <option ng-disabled="true"  ng-selected="true" value="">External Value</option>
                        </select>
                    </div>
                </div>

                <div class="entry" ng-if="!editData.externalValues">
                    <label for="external-value"> External Value <strong>*</strong> </label>
                    <input type="text" ng-model="editData.external_value" value="editData.external_value" required="yes" placeholder="Enter value" name="external-value">
                </div>

            </fieldset>

            <div class="actions float">
                <button type="button" ng-click="closeInlineTab();
                    showAddNew();" class="button blank edit-data-inline">
                    Cancel
                </button>
                <button type="button" ng-click="clickedSave()" class="button green edit-data-inline" ng-class="{'overlay': editData.validEditSelection === 'false'}">
                    Save changes
                </button>
            </div>
            <a id="bottom"></a>
        </form>
    </div>
</div>