<div role="dialog" id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}">
    <div class="modal-content alert">
        <button id="modal-close" type="button" class="modal-close">
            <span class="icons icon-close invert" ng-click="clickedCancelButton()"></span>
        </button>

        <span class="icons icon-popup-alert"></span>
        <span class="h2 message">Overbook?</span>
        <span class="notice">There is no availability for <strong>{{getCurrentRoomType().description}}</strong>.</span>

        <div class="actions">
            <button type="button" class="button blue" ng-click="clickedYesInOverBook()">Overbook</button>
            <button type="button" class="button blank" ng-click="clickedCancelButton()">Cancel</button>
        </div>
    </div>
</div>
