/* StayNTouch Zest Station Styles | Row NYC Theme */

/* 1. COLORS
==========================================================*/
    @brandColor:            #3eb397;
 
    
    @textColor:             @black;
    @backgroundColor:       @white;
    
    @actionColor:           @white;
    @actionBackground:      @brandColor;
    
    @inputBackground:       #707070;
    @transparentColor:      rgba(0,0,0,.35);

/* 2. TYPOGRAPHY
==========================================================*/
    @fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* 3. IMAGES
==========================================================*/
    @background:            #fff;
    @backgroundSize:        contain;

    @headerIconsColor:      @white;
    @headerIconsActive:     @brandColor;

    .icons { 
        &.icon-create-key {
            fill: @brandColor;
            stroke: @brandColor;
        }

        &.icon-no-print { stroke: @brandColor; }

        &.icon-oos {
            fill: @brandColor;
        }

        &.icon-arrow-left,
        &.icon-arrow-right {
            fill: none;
            stroke: @white;
        }
    }

/* 4. LAYOUT
==========================================================*/
    
    #bunk {

        input,
        select,
        textarea {
            color: @white;
        }

        .logo-svg{
            background-image: url("../../../images/zeststation/bunk/logo.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 100px;
            width: 175px;
            margin-top: 40px;
        }

        #header {
            height: 150px;
        }

        #main {
            #calc > #height > .remove(100%, 150px);
            top: 150px;

            &.centered {
                padding-top: 100px;
                #content {
                    height: 100%;
                }
            }
        }

        #actions {
            &.pull-right {
                p {
                    strong {
                        font-size: 18px;
                        font-weight: 400; 
                    }
                    color: @textColor;
                }
            }
        }
         
        #logo {
            .logo {
                .size(100px, auto);
            }
        }

        #options,
        .popup #message-content .button {
            .icons {
                fill: @white;
            }
        }

        #textual {
           background: #f5f5f5;

           &:before,
           &:after {
            background: #f5f5f5;
           }
        }

        #selection {
            .details {
                background: #f5f5f5;
            }
        }

        .popup {
            .button {
                &.transparent {
                    background: rgba(0,0,0,.1);
                }
            }
        }

        #guests {
            .button {
                background-color: @black;
            }
        }

        #upgrade {
            .upgrade-price {
                background-color: @brandColor;
            }
        }

        .add-on-list,
        .add-on { 
            .button {
                &.transparent {
                    background-color: fade(@black, 10);
                }
            }
        }

        .add-on {
            &:not(.selected) {
                background-color: #f5f5f5;
                border-color: #f5f5f5;
            }
        }
    }