/* 1. ROOT
==========================================================*/
@background:		@white asset-url("texture.png") repeat;
@textColor:			@black;

/* 2. TYPOGRAPHY
==========================================================*/
@baseFontSize:		16px;
@baseLineHeight:	1.5em;

@lightFont:			300;
@regularFont: 		400;
@semiBoldFont: 		600;
@boldFont: 			700;

/* 3. GRAPHICAL ELEMENTS
==========================================================*/
@icon-menu: 		asset-url("main-navigation.png");
@icon-menu2x: 		asset-url("main-navigation@2x.png");

/* Blacks			======================================*/
@black:				#202225;
@grey4: 			#6b6c6e;
@grey3: 			#9d9d9d;
@grey2: 			#d8d8d8;
@grey1: 			#f5f5f5;
@white:				#fcfcfc;

/* Primary colors	======================================*/
@orange:			#f6991b;
@green:				#89bd55;
@red: 				#e63838;
@blue: 				#82c3de;

/* Gradient colors	======================================*/
@orangeStart: 		#ffb319;
@orangeEnd: 		#ff860d;

@redStart: 			#e56322;
@redEnd: 			#e50b0b;

@greenStart: 		#90d92b;
@greenEnd: 			#54d115;

@blueStart: 		#73d2e5;
@blueEnd: 			#5ca1e5;

@blackStart: 		#2b2b2b;
@blackEnd: 			@black;

@purpleStart: 		#9170b9;
@purpleEnd: 		#a65fba;

/* Brand colors		======================================*/
@logoPrimary: 		@orange;
@logoSecondary: 	@grey4;

@logoGradientStart: @orangeStart;
@logoGradientEnd: 	@orangeEnd;


/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/