/* 1. ROOT
==========================================================*/
/* Transitions				==============================*/
	.transition (@property: all, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90)) {
		-webkit-transition: @property @duration @easing;
		-moz-transition: @property @duration @easing;
		-ms-transition: @property @duration @easing;
		-o-transition: @property @duration @easing;
		transition: @property @duration @easing;
	}

	.no-transition {
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	} 

/* Animations		======================================*/
	#fade {
		.in(@animation: fadeIn, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
			-webkit-animation: @animation @duration @easing @direction;
			-moz-animation: @animation @duration @easing @direction;
			-ms-animation: @animation @duration @easing @direction;
			-o-animation: @animation @duration @easing @direction;
			animation: @animation @duration @easing @direction;
		}

		.out(@animation: fadeOut, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
			-webkit-animation: @animation @duration @easing @direction;
			-moz-animation: @animation @duration @easing @direction;
			-ms-animation: @animation @duration @easing @direction;
			-o-animation: @animation @duration @easing @direction;
			animation: @animation @duration @easing @direction;
		}
	}

	#move {
		#from {
			.top(@animation: moveFromTop, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}
			
			.bottom(@animation: moveFromBottom, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.left(@animation: moveFromLeft, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.right(@animation: moveFromRight, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}
		}

		#to {
			.top(@animation: moveToTop, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.bottom(@animation: moveToBottom, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.left(@animation: moveToLeft, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.right(@animation: moveToRight, @duration: .3s, @easing: cubic-bezier(.10, .10, .25, .90), @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}
		}

		#page {
			.left(@animation: movePageToLeft, @duration: .3s, @easing: ease, @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.right(@animation: movePageFromRight, @duration: .3s, @easing: ease, @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

			.top(@animation: movePageToTop, @duration: .3s, @easing: ease, @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}


			.bottom(@animation: movePageToBottom, @duration: .3s, @easing: ease, @direction: both) {
				-webkit-animation: @animation @duration @easing @direction;
				-moz-animation: @animation @duration @easing @direction;
				-ms-animation: @animation @duration @easing @direction;
				-o-animation: @animation @duration @easing @direction;
				animation: @animation @duration @easing @direction;
			}

		}
	}

	#rotate {
		.once(@animation: rotation, @duration: 1s, @easing: linear, @repeat: 1) {
			-webkit-animation: @animation @duration @easing @repeat;
			-moz-animation: @animation @duration @easing @repeat;
			-ms-animation: @animation @duration @easing @repeat;
			-o-animation: @animation @duration @easing @repeat;
			animation: @animation @duration @easing @repeat;
		}

		.infinite(@animation: rotation, @duration: 1s, @easing: linear, @repeat: infinite) {
			-webkit-animation: @animation @duration @easing @repeat;
			-moz-animation: @animation @duration @easing @repeat;
			-ms-animation: @animation @duration @easing @repeat;
			-o-animation: @animation @duration @easing @repeat;
			animation: @animation @duration @easing @repeat;
		}
	}

/* Keyframes		======================================*/
	
	/* moveFromTop ***/
		@-webkit-keyframes moveFromTop {
			from { -webkit-transform: translate3d(0, -100%, 0); }
		}
		@-moz-keyframes moveFromTop {
			from { -moz-transform: translate3d(0, -100%, 0); }
		}
		@-ms-keyframes moveFromTop {
			from { -ms-transform: translate3d(0, -100%, 0); }
		}
		@-o-keyframes moveFromTop {
			from { -o-transform: translate3d(0, -100%, 0); }
		}
		@keyframes moveFromTop {
			from { transform: translate3d(0, -100%, 0); }
		}

	/* moveFromBottom ***/
		@-webkit-keyframes moveFromBottom {
			from { -webkit-transform: translate3d(0, 100%, 0); }
		}
		@-moz-keyframes moveFromBottom {
			from { -moz-transform: translate3d(0, 100%, 0); }
		}
		@-ms-keyframes moveFromBottom {
			from { -ms-transform: translate3d(0, 100%, 0); }
		}
		@-o-keyframes moveFromBottom {
			from { -o-transform: translate3d(0, 100%, 0); }
		}
		@keyframes moveFromBottom {
			from { transform: translate3d(0, 100%, 0); }
		}

	/* moveFromLeft ***/
		@-webkit-keyframes moveFromLeft {
			from { -webkit-transform: translate3d(-100%, 0, 0); }
		}
		@-moz-keyframes moveFromLeft {
			from { -moz-transform: translate3d(-100%, 0, 0); }
		}
		@-ms-keyframes moveFromLeft {
			from { -ms-transform: translate3d(-100%, 0, 0); }
		}
		@-o-keyframes moveFromLeft {
			from { -o-transform: translate3d(-100%, 0, 0); }
		}
		@keyframes moveFromLeft {
			from { transform: translate3d(-100%, 0, 0); }
		}

	/* moveFromRight ***/
		@-webkit-keyframes moveFromRight {
			from { -webkit-transform: translate3d(100%, 0, 0); }
		}
		@-moz-keyframes moveFromRight {
			from { -moz-transform: translate3d(100%, 0, 0); }
		}
		@-ms-keyframes moveFromRight {
			from { -ms-transform: translate3d(100%, 0, 0); }
		}
		@-o-keyframes moveFromRight {
			from { -o-transform: translate3d(100%, 0, 0); }
		}
		@keyframes moveFromRight {
			from { transform: translate3d(100%, 0, 0); }
		}

	/* moveToTop ***/
		@-webkit-keyframes moveToTop {
			to { -webkit-transform: translate3d(0, -100%, 0); }
		}
		@-moz-keyframes moveToTop {
			to { -moz-transform: translate3d(0, -100%, 0); }
		}
		@-ms-keyframes moveToTop {
			to { -ms-transform: translate3d(0, -100%, 0); }
		}
		@-o-keyframes moveToTop {
			to { -o-transform: translate3d(0, -100%, 0); }
		}
		@keyframes moveToTop {
			to { transform: translate3d(0, -100%, 0); }
		}

	/* moveToBottom ***/
		@-webkit-keyframes moveToBottom {
			to { -webkit-transform: translate3d(0, 100%, 0); }
		}
		@-moz-keyframes moveToBottom {
			to { -moz-transform: translate3d(0, 100%, 0); }
		}
		@-ms-keyframes moveToBottom {
			to { -ms-transform: translate3d(0, 100%, 0); }
		}
		@-o-keyframes moveToBottom {
			to { -o-transform: translate3d(0, 100%, 0); }
		}
		@keyframes moveToBottom {
			to { transform: translate3d(0, 100%, 0); }
		}

	/* moveToLeft ***/
		@-webkit-keyframes moveToLeft {
			to { -webkit-transform: translate3d(-100%, 0, 0); }
		}
		@-moz-keyframes moveToLeft {
			to { -moz-transform: translate3d(-100%, 0, 0); }
		}
		@-ms-keyframes moveToLeft {
			to { -ms-transform: translate3d(-100%, 0, 0); }
		}
		@-o-keyframes moveToLeft {
			to { -o-transform: translate3d(-100%, 0, 0); }
		}
		@keyframes moveToLeft {
			to { transform: translate3d(-100%, 0, 0); }
		}

	/* moveToRight ***/
		@-webkit-keyframes moveToRight {
			to { -webkit-transform: translate3d(100%, 0, 0); }
		}
		@-moz-keyframes moveToRight {
			to { -moz-transform: translate3d(100%, 0, 0); }
		}
		@-ms-keyframes moveToRight {
			to { -ms-transform: translate3d(100%, 0, 0); }
		}
		@-o-keyframes moveToRight {
			to { -o-transform: translate3d(100%, 0, 0); }
		}
		@keyframes moveToRight {
			to { transform: translate3d(100%, 0, 0); }
		}


	/* movePageToLeft ***/
		@-webkit-keyframes movePageToLeft {
			to { -webkit-transform: translate3d(70px, 0, 0); }
		}
		@-moz-keyframes movePageToLeft {
			to { -moz-transform: translate3d(70px, 0, 0); }
		}
		@-ms-keyframes movePageToLeft {
			to { -ms-transform: translate3d(70px, 0, 0); }
		}
		@-o-keyframes movePageToLeft {
			to { -o-transform: translate3d(70px, 0, 0); }
		}
		@keyframes movePageToLeft {
			to { transform: translate3d(70px, 0, 0); }
		}

	/* movePageFromRight ***/
		@-webkit-keyframes movePageFromRight {
			from { -webkit-transform: translate3d(70px, 0, 0); }
		}
		@-moz-keyframes movePageFromRight {
			from { -moz-transform: translate3d(70px, 0, 0); }
		}
		@-ms-keyframes movePageFromRight {
			from { -ms-transform: translate3d(70px, 0, 0); }
		}
		@-o-keyframes movePageFromRight {
			from { -o-transform: translate3d(70px, 0, 0); }
		}
		@keyframes movePageFromRight {
			from { transform: translate3d(70px, 0, 0); }
		}

	/* movePageToTop ***/
		@-webkit-keyframes movePageToTop {
			from { -webkit-transform: translate3d(0, 60px, 0); }
		}
		@-moz-keyframes movePageToTop {
			from { -moz-transform: translate3d(0, 60px, 0); }
		}
		@-ms-keyframes movePageToTop {
			from { -ms-transform: translate3d(0, 60px, 0); }
		}
		@-o-keyframes movePageToTop {
			from { -o-transform: translate3d(0, 60px, 0); }
		}
		@keyframes movePageToTop {
			from { transform: translate3d(0, 60px, 0); }
		}

	/* movePageToBottom ***/
		@-webkit-keyframes movePageToBottom {
			to { -webkit-transform: translate3d(0, 60px, 0); }
		}
		@-moz-keyframes movePageToBottom {
			to { -moz-transform: translate3d(0, 60px, 0); }
		}
		@-ms-keyframes movePageToBottom {
			to { -ms-transform: translate3d(0, 60px, 0); }
		}
		@-o-keyframes movePageToBottom {
			to { -o-transform: translate3d(0, 60px, 0); }
		}
		@keyframes movePageToBottom {
			to { transform: translate3d(0, 60px, 0); }
		}
		
		

	/* fadeIn ***/
		@-webkit-keyframes fadeIn {
			from { opacity: 0; }
		}
		@-moz-keyframes fadeIn {
			from { opacity: 0; }
		}
		@-ms-keyframes fadeIn {
			from { opacity: 0; }
		}
		@-o-keyframes fadeIn {
			from { opacity: 0; }
		}
		@keyframes fadeIn {
			from { opacity: 0; }
		}

	/* fadeOut ***/
		@-webkit-keyframes fadeOut {
			to { opacity: 0; }
		}
		@-moz-keyframes fadeOut {
			to { opacity: 0; }
		}
		@-ms-keyframes fadeOut {
			to { opacity: 0; }
		}
		@-o-keyframes fadeOut {
			to { opacity: 0; }
		}
		@keyframes fadeOut {
			to { opacity: 0; }
		}

	/* rotation ***/
		@-webkit-keyframes rotation {
			0% { -webkit-transform: rotate(0deg); }
			50% { -webkit-transform: rotate(180deg); }
			100% { -webkit-transform: rotate(360deg); }
		}
		@-moz-keyframes rotation {
			0% { -moz-transform: rotate(0deg); }
			50% { -moz-transform: rotate(180deg); }
			100% { -moz-transform: rotate(360deg); }
		}
		@-ms-keyframes rotation {
			0% { -webkit-transform: rotate(0deg); }
			50% { -webkit-transform: rotate(180deg); }
			100% { -webkit-transform: rotate(360deg); }
		}
		@-o-keyframes rotation {
			0% { -ms-transform: rotate(0deg); }
			50% { -ms-transform: rotate(180deg); }
			100% { -ms-transform: rotate(360deg); }
		}
		@keyframes rotation {
			0% { transform: rotate(0deg); }
			50% { transform: rotate(180deg); }
			100% { transform: rotate(360deg); }
		}


/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/