/* 1. ROOT
==========================================================*/
html {
	#font > .sans-serif();
	height: 100%;
}

body {
	color: @textColor;
	height: 100%;
	overflow: hidden;
	.gradient-with-image(@darkTexture, @logoGradientStart, @logoGradientEnd);
}

::-webkit-selection {
	background: @logoPrimary;
	color: @white;
}
::-moz-selection{
	background: @logoPrimary;
	color: @white;
}
::selection{
	background: @logoPrimary;
	color: @white;
}

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* App screens				==============================*/
	.container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.page {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			visibility: hidden;
			overflow: hidden;
			z-index: 9;
			.background(@white);
			
			/* Page inner container ***/
			.content {
				position: absolute;
				top: 60px;
				left: 0;
				width: 100%;
				overflow: hidden;
				.calc-height(100, 80); /* %, px */
				.show;
			}

			/* Page types ***/
			&.main-page { 
				left: .5%;
				width: 99.5%;

				&.has-search {
					.content {
						top: 120px;
						.calc-height(100, 120); /* %, px */
					}
				}
			}

			&.inner-page {

				&.has-card {
					.content {
						top: 150px;
						.calc-height(100, 150); /* %, px */
					}
				}
			}

			/* Visible pages ***/
			&.page-current {
				visibility: visible;
				z-index: 999;
				.box-shadow(-1px 0px 2px rgba(0,0,0,.1));

				&.set-back { z-index: 99; }

				/* Page transitions ***/
				&.move-from-left { #move > #from > .left(); }
				&.move-from-right { #move > #from > .right(); }
			}

			&.page-locked {
				.nested-view {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 10;
					visibility: hidden;
					.show;
					.background(@white);
					
					&.view-current {
						z-index: 30;
						visibility: visible;

						&.set-back { z-index: 20; }

						&.move-from-left { #move > #from > .left(); }
						&.move-from-right { #move > #from > .right(); }
					}
				}

				&.has-card {
					.nested-view {
						top: 150px;
						.calc-height(100, 150); /* %, px */

						.content {
							top: 0;
							height: 100%;
						}
					}
				}
			}
		}

		/* Page transitions - opening left side navigation ***/
		&.menu-open {
			.page-current {
				#border-radius > .left(5px);
				#move > #page > .left();
			}			
		}

		&.menu-closing {
			.page-current {
				#move > #page > .right();
			}
		}

		/* Page transitions - opening advanced search options ***/
		&.advanced-search-open {
			#search {
				#move > #page > .bottom();
				.calc-height(100, 200); /* %, px */
			}
		}

		&.advanced-search-closing {
			#search {
				#move > #page > .top();
				.calc-height(100, 120); /* %, px */
			}
		}  

		/* Page transitions - opening guest details on stay card 
		&.reservation-3265971523-guests-open {
			.reservation-guests {
				#move > #page > .bottom();
				background: red;
			}
		}

		&.reservation-3265971523-guests-closing {
			.reservation-guests {
				#move > #page > .top();
			}
		} ***/

		/* Page transitions - loading, signing in and out ***/
		&.loading {
			.page-current { #move > #from > .top(); }
			#login { #move > #from > .top(); }
		}

		&.signing-in,
		&.signing-out {
			#move > #to > .bottom();
		}
	}

/* Navigation sidebar		==============================*/
	#main-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 100%;
		padding: 0 10px;
		overflow: hidden;
		z-index: 1;
		.hide;

		li {
			line-height: 60px;
			vertical-align: middle;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(0,0,0,.15);

			.active { cursor: default; }

			&:nth-child(6),
			&:last-child {
				position: absolute;
				left: 10px;
			}
			
			&:nth-child(6) { bottom: 60px; }

			&:last-child { 
				bottom: 0;
				border-bottom: 0; 
			}
		}	
	}

/* Nav Bar 					==============================*/
	.nav-bar{ 
		position: relative;
		width: 100%;
		height: 60px;
		padding: 10px 0;
		text-align: center;
		z-index: 99;
		.show;
		.background(@white);
		.box-shadow(0 1px 2px rgba(0,0,0,.1));

		.nav-toggle { .icon-toggle; }

		.back-button { .icon-back; }

		h1 {
			font-weight: 700;
			margin-left: 10px;
			line-height: 40px;
			vertical-align: middle;
			clear: none;
			.pull-left;
		}

		.logo {
			position: absolute;
			top: 16px;
			left: 50%;
			margin-left: -62.5px;
			.size(28px,125px);
		}

		.button {
			font-size: 15px;
			line-height: 40px;
			margin-right: 10px;			
			.pull-right;
		}
	}

/* 5. COMPONENTS
==========================================================*/

/* Loading					==============================*/
	#loading {
		position: absolute;
		bottom: 20px;
		right: 20px;
		border: 5px solid;
		border-color: @logoPrimary rgba(255,255,255,.4);
		z-index: 9999;
		.square(32px);
		#border-radius > .rounded(64px);
		#rotate > .infinite(rotation, .8s, linear, infinite);
	}

/* Scrollable content 		==============================*/
	.scrollable {
		width: 100%;
		overflow: hidden;

		/* Prevent native touch events on Windows */
		-ms-touch-action: none;

		/* Prevent the callout on tap-hold and text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		/* Prevent text resize on orientation change, useful for web-apps */
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
			
		.wrapper {
			/* Prevent elements to be highlighted on tap */
			-webkit-tap-highlight-color: rgba(0,0,0,0);

			/* Put the scroller into the HW Compositing layer right from the start */
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
		}
	}

/* Guest image 				==============================*/
	.guest-image {
		position: relative;
		background: @grey1;
		#border-radius > .rounded();
		.square(50px);
		.pull-left;

		.vip {
			position: absolute;
			bottom: -5px;
			left: -5px;
		}

		img {
			width: 100%;
			height: auto;
			
			#border-radius > .rounded();
		}
	}

/* Guest status 			==============================*/
	.guest-status {
		.hide-text;
		.show;
		.pull-left;


		&.check-in { background-color: @green; }
		&.check-out { background-color: @red; }
		&.inhouse { background-color: @blue; }
		&.cancel { background-color: @grey3; }
		&.no-show { background: @grey2; }
	}

/* Room number & status		==============================*/
	.room-number {
		font-size: 36px;
		line-height: 36px;
		vertical-align: middle;
		font-weight: 700;
	}

	.room-status {
		font-weight: 600;
		text-transform: uppercase;
	}

/* No content				==============================*/
	.no-content {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		color: @grey3;
		.show;
		#pixel-to-percent > .side-padding(400, 2048);
		#pixel-to-percent > .top-padding(200, 1536);

		.h1 { 
			font-size: 36px;
			line-height: 36px;
			font-weight: 700;
			margin: 18px 0;
		}

		.h2 {
			font-size: 24px;
			line-height: 30px;
			font-weight: 300;

			strong { font-weight: 600; }

			a { 
				color: @green;
				font-weight: 600;
			}
		}

		&#no-results {
			visibility: visible;
			.transition;
			.opacity(100); 
			#fade > .in();

			&.hidden { 
				visibility: hidden;
				.opacity(0);
				#fade > .out();  
			}
		}

		&.reservation-content {
			/*#pixel-to-percent > .top-padding( 370, 1536 );*/
		}
	}

/* Grey label				==============================*/
	.label,
	.block-title {
		text-transform: uppercase;
		color: @grey3;
		font-size: 14px;
		margin-right: 10px;
		vertical-align: middle;
		.show;
		.pull-left;
	}


/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/