/* 1. ROOT
==========================================================*/
html {
	#font > .sans-serif();
	height: 100%;
}

body {
	color: @textColor;
	height: 100%;
	overflow: hidden;
	.gradient-with-image(asset-url("dark-texture.png"), @logoGradientStart, @logoGradientEnd);
}

::-webkit-selection {
	background: @logoPrimary;
	color: @white;
}
::-moz-selection{
	background: @logoPrimary;
	color: @white;
}
::selection{
	background: @logoPrimary;
	color: @white;
}

::-webkit-input-placeholder {
   	font-size: 18px;
   	font-weight: 400;
   	font-style: italic;
   	color: @grey3;
}

:-moz-placeholder {
   	font-size: 18px;
   	font-weight: 400;
   	font-style: italic;
	color: @grey3;
}

::-moz-placeholder {
	font-size: 18px;
   	font-weight: 400;
   	font-style: italic;
   	color: @grey3;}

:-ms-input-placeholder {  
	font-size: 18px;
	font-weight: 400;
   	font-style: italic;
   	color: @grey3;
}

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* App screens				==============================*/
	.container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.page {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			/*padding-bottom: 60px;*/
			visibility: hidden;
			overflow: hidden;
			z-index: 9;
			background: @background;
			
			/* Page inner container ***/
			.content {
				position: absolute;
				top: 60px;
				left: 0;
				width: 100%;
				overflow: hidden;
				.calc-height(100%, 60px);
				.show;

				.wrapper {
					position: absolute;
					width: 100%;
				}
			}

			/* Page types ***/
			&.main-page { 
				left: .5%;
				width: 99.5%;

				&.has-search {
					.content {
						top: 120px;
						.calc-height(100%, 120px);
					}
				}
			}

			&.inner-page {

				&.has-card {
					.content {
						top: 150px;
						.calc-height(100%, 150px);
					}
				}
			}

			/* Visible pages ***/
			&.page-current {
				visibility: visible;
				z-index: 999;
				.box-shadow(-1px 0px 2px rgba(0,0,0,.1));

				&.set-back { z-index: 99; }

				/* Page transitions ***/
				&.move-from-left { #move > #from > .left(); }
				&.move-from-right { #move > #from > .right(); }
			}

			&.page-locked {
				.nested-view {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: @background;
					z-index: 10;
					visibility: hidden;
					.show;
					
					&.view-current {
						z-index: 30;
						visibility: visible;

						&.set-back { z-index: 20; }

						&.move-from-left { #move > #from > .left(); }
						&.move-from-right { #move > #from > .right(); }
					}
				}

				&.has-card {
					.nested-view {
						top: 150px;
						.calc-height(100%, 150px);

						.content {
							top: 0;
							height: 100%;
						}
					}
				}
			}
		}

		/* Page transitions ***/
		&.menu-open {
			.page-current {
				#move > #page > .left();
			}			
		}

		&.menu-closing {
			.page-current {
				#move > #page > .right();
			}
		}

		&.loading {
			.page-current { #move > #from > .top(); }
			#login { #move > #from > .top(); }
		}

		&.signing-in,
		&.signing-out {
			#move > #to > .bottom();
		}
	}

/* Navigation sidebar		==============================*/
	#main-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 100%;
		padding: 0 10px;
		overflow: hidden;
		z-index: 1;
		.hide;

		li {
			line-height: 60px;
			vertical-align: middle;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(0,0,0,.15);

			.active { cursor: default; }

			&:nth-child(6),
			&:last-child {
				position: absolute;
				left: 10px;
			}
			
			&:nth-child(6) { bottom: 60px; }

			&:last-child { 
				bottom: 0;
				border-bottom: 0; 
			}
		}	
	}

/* Nav Bar 					==============================*/
	.nav-bar { 
		position: relative;
		width: 100%;
		height: 60px;
		padding: 10px 0;
		background: @background;
		text-align: center;
		z-index: 99;
		.show;
		.box-shadow(0 1px 2px rgba(0,0,0,.1));

		.nav-toggle,
		.back-button {
			.box-shadow(inset 0 -2px 0 rgba(0,0,0,.2));
			#border-radius > .right();
			.pull-left;
		}

		.nav-toggle { .icon-toggle; }

		.back-button {
			font-size: 15px;
			line-height: 40px;
			font-weight: 700;
			text-transform: uppercase;
			color: @white;
			padding: 0 20px 0 40px;
			background-color: @logoGradientStart;
			background-image: /*@icon-menu,*/ asset-url("dark-texture.png");
			background-repeat: /*no-repeat,*/ repeat;
			background-position: /*-10px -10px,*/ 0 0; 			
			.text-shadow();
			#border-radius > .right();
			.show;
			.no-transition;
		}

		h1 {
			font-weight: 700;
			margin-left: 10px;
			line-height: 40px;
			vertical-align: middle;
			clear: none;
			.pull-left;
		}

		#logo {
			position: absolute;
			top: 16px;
			left: 50%;
			margin-left: -62.5px;
			.size(28px,125px);
		}

		.button {
			font-size: 15px;
			line-height: 40px;
			margin-right: 10px;			
			.pull-right;
		}
	}

/* 5. COMPONENTS
==========================================================*/

/* Login page 				==============================*/
	#login {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -230px 0 0 -270px;
		padding: 40px;
		width: 540px;
		height: 460px;
		background: @background;
		.box-shadow(0 0 5px rgba(0,0,0,.2));
		#border-radius > .rounded();

		#logo {
			margin: 0 auto;
			.size(28px,125px);
			.show;
		}

		.notice {
			.hide;
		}

		.form {
			border-bottom: 2px solid rgba(0,0,0,.1);
			margin: 20px 0;

			.entry { 
				margin-bottom: 20px;

				label:not(.inline),
				input {
					width: 100%;
					.show; 
				}

				.inline {
					line-height: 50px;

					.icon-form { top: 15px; }
				}

				.button { 
					font-size: 18px;
					line-height: 50px;
					padding: 0 40px;
					.pull-right; 
				}	
			}		
		}

		a {
			color: @textColor;
			.show;

			&:hover,
			&:active { color: @logoPrimary; }
		}
	}

/* Dashboard page 			==============================*/
	#dashboard {
		.wrapper {
			#pixel-to-percent > .side-padding( 256, 2048 );

			h2 {
				text-align: center;
				font-size: 48px;
				line-height: 48px;
				font-weight: 300;
				padding: 60px 0 20px 0;
				margin-bottom: 40px;
				border-bottom: 1px solid rgba(0,0,0,.1);

				date { 
					font-size: 30px;
					color: #6b6c6e; 
					.show;
				}
			}

			#guests-today {
				text-align: center;
				padding-bottom: 20px;
				margin-bottom: 40px;
				border-bottom: 1px solid rgba(0,0,0,.1);

				li {
					display: inline-block;
					margin-right: 6.25%;
					.square(25%);
					max-width: 175px;
					max-height: 175px;
					/*.pull-left;*/

					&:first-child { margin: 0 6.25%; }
					&:last-child { margin: 0; }

					.button {
						padding: 20px;
						line-height: 1em;
						.square(100%);
						.show;

						strong {
							font-size: 110px;
							line-height: 110px;
							font-weight: 700;
							.show;
						}
					}
				}
			}

			#stats-today {
				li {
					width: 33%;
					color: @grey3;
					text-align: center;
					text-transform: uppercase;
					padding-bottom: 40px;
					margin: 0;
					.pull-left;

					&:nth-child(1n+4) { padding-bottom: 0; }

					span {
						font-size: 48px;
						line-height: 1em;
						font-weight: 300;
						color: @textColor;
						.show;

						&.blue { color: @blue; }
						&.red { color: @red; }
					}
				}
			}
		}
	}

/* Search page 				==============================*/
	#search-form {
		min-height: 60px;
		padding: 10px;
		background: rgba(0,0,0,.1);

		input { 
			width: 80%;
			margin-right: 20px;
			font-weight: 700;
			color: @logoPrimary; 
			.box-shadow();
			#border-radius > .rounded(5px);
			.pull-left;
		}

		.button {
			.show;
			.pull-left;
		}
	}

/* Guest Card				==============================*/
	#guest-card {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: 90px;
		z-index: 999;
		.show;

		#card-wrapper {
			width: 100%;
			height: 100%;
			
			color: @white;
			background: @textColor;
			text-align: left;
			overflow: hidden;
			.show;
		}

		#card-visible {
			padding: 20px;
			height: 90px;

			.faux-input {
				font-size: 2em;
				font-weight: 700;
				color: @white;
				cursor: pointer;
				padding-right: 10px;
				max-height: 40px;
				overflow: hidden;
				white-space: nowrap;

				&:hover,
				&:active,
				&:focus {
					background: lighten(@textColor,10);
				}
			}
		}

		#tabs {
			padding: 0 20px;

			ul {
				width: 100%;
				height: 60px;
			}

		}
	}

/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/