/* 1. ROOT
==========================================================*/
html {
	#font > .sans-serif();
	height: 100%;
}

body {
	color: @textColor;
	height: 100%;
	overflow: hidden;
	.gradient-with-image(@darkTexture, @logoGradientStart, @logoGradientEnd);
}

::-webkit-selection {
	background: @logoPrimary;
	color: @white;
}
::-moz-selection{
	background: @logoPrimary;
	color: @white;
}
::selection{
	background: @logoPrimary;
	color: @white;
}

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* App screens				==============================*/
	.container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.page {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			visibility: hidden;
			overflow: hidden;
			z-index: 9;
			background: @background;
			
			/* Page inner container ***/
			.content {
				position: absolute;
				top: 60px;
				left: 0;
				width: 100%;
				overflow: hidden;
				.calc-height(100, 60); /* %, px */
				.show;

				.wrapper {
					position: absolute;
					width: 100%;
				}
			}

			/* Page types ***/
			&.main-page { 
				left: .5%;
				width: 99.5%;

				&.has-search {
					.content {
						top: 120px;
						.calc-height(100, 120); /* %, px */
					}
				}
			}

			&.inner-page {

				&.has-card {
					.content {
						top: 150px;
						.calc-height(100, 150); /* %, px */
					}
				}
			}

			/* Visible pages ***/
			&.page-current {
				visibility: visible;
				z-index: 999;
				.box-shadow(-1px 0px 2px rgba(0,0,0,.1));

				&.set-back { z-index: 99; }

				/* Page transitions ***/
				&.move-from-left { #move > #from > .left(); }
				&.move-from-right { #move > #from > .right(); }
			}

			&.page-locked {
				.nested-view {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: @background;
					z-index: 10;
					visibility: hidden;
					.show;
					
					&.view-current {
						z-index: 30;
						visibility: visible;

						&.set-back { z-index: 20; }

						&.move-from-left { #move > #from > .left(); }
						&.move-from-right { #move > #from > .right(); }
					}
				}

				&.has-card {
					.nested-view {
						top: 150px;
						.calc-height(100, 150); /* %, px */

						.content {
							top: 0;
							height: 100%;
						}
					}
				}
			}
		}

		/* Page transitions ***/
		&.menu-open {
			.page-current {
				#border-radius > .left(5px);
				#move > #page > .left();
			}			
		}

		&.menu-closing {
			.page-current {
				#move > #page > .right();
			}
		}

		&.loading {
			.page-current { #move > #from > .top(); }
			#login { #move > #from > .top(); }
		}

		&.signing-in,
		&.signing-out {
			#move > #to > .bottom();
		}
	}

/* Navigation sidebar		==============================*/
	#main-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 100%;
		padding: 0 10px;
		overflow: hidden;
		z-index: 1;
		.hide;

		li {
			line-height: 60px;
			vertical-align: middle;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(0,0,0,.15);

			.active { cursor: default; }

			&:nth-child(6),
			&:last-child {
				position: absolute;
				left: 10px;
			}
			
			&:nth-child(6) { bottom: 60px; }

			&:last-child { 
				bottom: 0;
				border-bottom: 0; 
			}
		}	
	}

/* Nav Bar 					==============================*/
	.nav-bar{ 
		position: relative;
		width: 100%;
		height: 60px;
		padding: 10px 0;
		background: @background;
		text-align: center;
		z-index: 99;
		.show;
		.box-shadow(0 1px 2px rgba(0,0,0,.1));

		.nav-toggle { .icon-toggle; }

		.back-button { .icon-back; }

		h1 {
			font-weight: 700;
			margin-left: 10px;
			line-height: 40px;
			vertical-align: middle;
			clear: none;
			.pull-left;
		}

		.logo {
			position: absolute;
			top: 16px;
			left: 50%;
			margin-left: -62.5px;
			.size(28px,125px);
		}

		.button {
			font-size: 15px;
			line-height: 40px;
			margin-right: 10px;			
			.pull-right;
		}
	}

/* 5. COMPONENTS
==========================================================*/

/* Login page 				==============================*/
	#login {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -230px 0 0 -270px;
		padding: 40px;
		width: 540px;
		height: 460px;
		background: @background;
		.box-shadow(0 0 5px rgba(0,0,0,.2));
		#border-radius > .rounded();

		.logo {
			margin: 0 auto;
			.size(28px,125px);
			.show;
		}

		.notice {
			.hide;
		}

		.form {
			border-bottom: 2px solid rgba(0,0,0,.1);
			margin: 20px 0;

			.entry { 
				margin-bottom: 20px;

				label:not(.inline),
				input {
					width: 100%;
					.show; 
				}

				.inline {
					line-height: 50px;

					.icon-form { top: 15px; }
				}

				.button { 
					font-size: 18px;
					line-height: 50px;
					padding: 0 40px;
					.pull-right; 
				}	
			}		
		}

		a {
			color: @textColor;
			.show;

			&:hover,
			&:active { color: @logoPrimary; }
		}
	}

/* Dashboard page 			==============================*/
	#dashboard {
		.wrapper {
			#pixel-to-percent > .side-padding( 256, 2048 );

			h2 {
				text-align: center;
				font-size: 48px;
				line-height: 48px;
				font-weight: 300;
				padding: 60px 0 20px 0;
				margin-bottom: 40px;
				border-bottom: 1px solid rgba(0,0,0,.1);

				.date { 
					font-size: 30px;
					color: #6b6c6e; 
					.show;
				}
			}

			#guests-today {
				text-align: center;
				padding-bottom: 20px;
				margin-bottom: 40px;
				border-bottom: 1px solid rgba(0,0,0,.1);

				li {
					display: inline-block;
					margin-right: 6.25%;
					.square(25%);
					max-width: 175px;
					max-height: 175px;

					&:first-child { margin: 0 6.25%; }
					&:last-child { margin: 0; }

					.button {
						padding: 20px;
						line-height: 1em;
						.square(100%);
						.show;

						strong {
							font-size: 110px;
							line-height: 110px;
							font-weight: 700;
							.show;
						}
					}
				}
			}

			#stats-today {
				li {
					width: 33%;
					color: @grey3;
					text-align: center;
					text-transform: uppercase;
					padding-bottom: 40px;
					margin: 0;
					.pull-left;

					&:nth-child(1n+4) { padding-bottom: 0; }

					span {
						font-size: 48px;
						line-height: 1em;
						font-weight: 300;
						color: @textColor;
						.show;

						&.blue { color: @blue; }
						&.green { color: @green; }
						&.red { color: @red; }
						&.orange { color: @orange; }
					}
				}
			}
		}
	}

/* Search page 				==============================*/
	#search-form {
		text-align: center;
		height: 60px;
		padding: 10px;
		background: rgba(0,0,0,.1);

		.entry {
			position: relative;
			height: 40px;
			width: 80%;
			.show;
			.pull-left;

			.icon-search {
				position: absolute;
				top: 10px;
				left: 10px;
				z-index: 99;
			}

			#query {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding-left: 30px;
				font-size: 24px;
				font-weight: 700;
				color: @logoPrimary; 
				z-index: 9;
				.box-shadow();
				#border-radius > .rounded(5px);
			}

			#clear-query {
				position: absolute;
				top: 12.5px;
				right: 12.5px;
				z-index: 99;
				background-color: @grey2; 
				.hide-text;
				.square(15px);
				.opacity(0);
				.show;
				#fade > .out(); 
				#border-radius > .rounded(15px);

				&.visible { 
					.opacity(100); 
					#fade > .in(); 
				}

				&:hover,
				&.active { background-color: @logoPrimary; }
			}
		}

		.button { padding: 0; }
	}

	.search-results {
		position: relative;
		padding: 20px;

		.link-item {
			color: @textColor;
			line-height: 1em;
			padding: 15px;

			.data {
				margin: 0 40px 0 20px;
				overflow: hidden;
				.calc-width(65, 40); /* %, px */
				.pull-left;

				h2 {
					font-size: 24px;
					line-height: 24px;
					font-weight: 700;
					margin-bottom: 10px;
					white-space: nowrap;
				}

				span:not(.highlight),
				em {
					display: inline;
					height: 20px;
					margin-right: 30px;
					overflow: hidden;

					&.confirmation { font-weight: 600; }

					&.icon-location,
					&.icon-group {
						color: @grey3;
						padding-left: 25px; 
						&.icon-group  { padding-left: 30px; }
					}
				}

				.highlight { color: @logoPrimary; }
			}

			.guest-status {
				margin-top: 10px;
				.square(30px);
			}

			.room-number {
				margin: 7px 30px 7px 50px;
				font-size: 36px;
				line-height: 36px;
				vertical-align: middle;
				font-weight: 700;
				.pull-left;

				.highlight { 
					display: inline-block;
					margin-left: -10px;
					padding-left: 10px;
					border-left: 4px solid @logoPrimary;
				}
			}

			.room-status {
				line-height: 50px;
				vertical-align: middle;
				font-weight: 600;
				text-transform: uppercase;
				.pull-left;
			}

			&.guest-check-in {
				.room-number {
					&.ready { color: @green; }
					&.not-ready { color: @red; }
				}
			}
		}

		&.hidden { .hide; }
	}

/* Guest Card				==============================*/
	#guest-card {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		height: 90px;
		z-index: 999;
		.show;

		#card-wrapper {
			width: 100%;
			height: 100%;
			padding: 20px;
			color: @white;
			background: @gcard @gcardTexture;
			text-align: left;
			overflow: hidden;
			.show;
		}

		#guest-card-header {
			position: relative;
			height: 50px;

			.form,
			.data {
				margin-left: 20px;
				overflow: hidden;
				.calc-width(65, 40); /* %, px */
				.pull-left;
			}

			.form {
				clear: right;
				.show;

				.entry {
					.pull-left;

					.masked-input {
						font-size: 30px;
						font-weight: 700;		
						vertical-align: top;
						color: @white;
						cursor: pointer;
						margin-top: -7px;
						
						&.active {
							margin-top: 0;
							padding: 0 10px;
							background: rgba(0,0,0,.1);

							&:focus { color: @logoPrimary; }
						}
					}
				}

				.switch-button,
				.status { 
					line-height: 30px;
					vertical-align: middle;
					text-transform: uppercase;
					margin-left: 20px; 
					.pull-left;
				}
			}

			.data {

				span,
				a {
					display: inline;
					height: 20px;
					margin-right: 30px;
					padding-left: 20px; 
					overflow: hidden;
					color: @white;

					&:hover,
					&:active { color: @white; }
				}
			}

			.add-new-button {
				position: absolute;
				top: 20px;
				right: 193px;
				font-size: 16px;
				color: @black;
				padding: 0 20px;
				border-color: rgba(0,0,0,.4);

				&:hover,
				&:active {
					color: @green;
					border-color: @green;
				}

				&:last-child { right: 20px; }
			}
		}

		#guest-card-content {
			margin-top: 20px;
			.calc-height(100, 70); /* %, px */
			.show;

			#guest-card-tabs-nav {
				width: 100%;
				height: 60px;

				li {
					display: inline-block;
				}
			}

			.card-content {
				color: @textColor;
				background: @background;
				padding: 20px;
				.calc-height(100, 60); /* %, px */
			}

		}
	}

/* Reservation Card			==============================*/
	#reservation-card {
		position: absolute;
		width: 100%;
		height: 100%;

		/* Upcoming / Current / History tabs nav ***/
		#reservation-timeline {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			z-index: 111;
			background: @rcardTexture1;
			#pixel-to-percent > .width(180, 2048);
			.box-shadow(inset -1px 0 2px rgba(0,0,0,.1));

			li {
				position: relative;
				font-size: 12px;
				text-align: center;
				margin: 20px 10px;

				a {
					
					font-weight: 600;
					text-transform: uppercase;
					color: @grey3;
					padding-top: 30px;
					.show;

					span {
						position: absolute;
						top: -5px;
						right: 5px;
						font-size: 12px;
						line-height: 14px;
						font-weight: 700;
						color: rgba(0,0,0,.2);
						background: rgba(0,0,0,.15);
						.square(14px);
						#border-radius > .rounded(14px);

						&.highlight {
							color: @textColor;
							background: @white;
						}
					}

					&:hover { color: @textColor; }
				}

				&.ui-tabs-active {
					a { color: @textColor; }
				}
			}
		}

		/* Upcoming / Current / History tabs ***/
		.reservation-list {
			position: absolute;
			top: 0;
			height: 100%;
			background: @background;
			z-index: 99;
			#pixel-to-percent > .left(180, 2048);
			#pixel-to-percent > .width(1868, 2048);

			&.reservation-tabs {
				#pixel-to-percent > .left-padding(320, 2048);

				/* Reservation tabs nav ***/
				#reservation-listing {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background: @rcardTexture2;
					z-index: 99;
					#pixel-to-percent > .width(320, 2048);
					.box-shadow(inset -1px 0 2px rgba(0,0,0,.1));

					li {
						position: relative;
						text-align: left;
						margin: 0 10px;
						line-height: 40px;
						vertical-align: middle;
						border-bottom: 1px solid rgba(0,0,0,.1);

						a {
							font-weight: 600;
							text-transform: uppercase;
							color: @grey3;
							.show;

							.guest-status {
								background-color: rgba(0,0,0,.1);
								margin: 10px 10px 0 0;
								.square(20px);
							}

							&:hover { color: @textColor;  }
						}
			
						&.ui-tabs-active {
							a {
								color: @textColor;

								.guest-status {
									&.check-in { background-color: @green; }
									&.check-out { background-color: @red; }
									&.inhouse { background-color: @blue; }
									&.cancel { background-color: @grey3; }
									&.no-show { background: @grey2; }
								}
							}
						}
					}
				}
			}

			.reservation-content {
				z-index: 90;
			}
		}


		/* Panel animations ***/
		.ui-tabs-panel {
			z-index: 10;

			&.set-back {
				z-index: 20;
				#move > #to > .left();
			}

			&.loading {
				z-index: 99;
				#move > #from > .right();
			}
		}
	}



/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/