/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

/* Login page         ==============================*/
  #login-page {

    .container {
      position: static;
      text-align: center;
        width: 100%;

        &:before {
          content: "";
          display: inline-block;
          height: 100%; 
        vertical-align: middle;
      }

        #login {
          text-align: left;
          display: inline-block;
          vertical-align: middle;
        padding: 40px;
        width: 540px;
        .background(@white);
        .box-shadow(0 0 5px rgba(0,0,0,.2));
        #border-radius > .rounded();

        .logo {
          margin: 0 auto;
          .size(28px,125px);
          .show;
        }

        .notice {
          margin: 20px 0 0 0;
          .hide;
        }

        .form {
          border-bottom: 2px solid rgba(0,0,0,.1);
          margin: 20px 0;

          .entry { 
            float: none;
            margin-bottom: 20px;

            label:not(.inline),
            input {
              width: 100%;
              .show; 
            }

            .inline {
              line-height: 50px;

              .icon-form { top: 15px; }
            }

            .button { 
              font-size: 18px;
              line-height: 50px;
              padding: 0 40px;
              .pull-right; 
            } 
          }   
        }

        a {
          color: @textColor;
          .show;

          &:hover,
          &:active { color: @logoPrimary; }
        }
      }
    } 
  }

/* Dashboard page       ==============================*/
  #dashboard {
    .wrapper {
      #pixel-to-percent > .side-padding( 256, 2048 );

      h2 {
        text-align: center;
        font-size: 48px;
        line-height: 48px;
        font-weight: 300;
        padding: 60px 0 20px 0;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(0,0,0,.1);

        .date { 
          font-size: 30px;
          color: #6b6c6e; 
          .show;
        }
      }

      #guests-today {
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(0,0,0,.1);

        li {
          display: inline-block;
          margin-right: 6.25%;
          .square(25%);
          max-width: 175px;
          max-height: 175px;

          &:first-child { margin: 0 6.25%; }
          &:last-child { margin: 0; }

          .button {
            padding: 20px;
            line-height: 1em;
            .square(100%);
            .show;

            strong {
              font-size: 110px;
              line-height: 110px;
              font-weight: 700;
              .show;
            }
          }
        }
      }

      #stats-today {
        li {
          width: 33%;
          color: @grey3;
          text-align: center;
          text-transform: uppercase;
          padding-bottom: 40px;
          margin: 0;
          .pull-left;

          &:nth-child(1n+4) { padding-bottom: 0; }

          span {
            font-size: 48px;
            line-height: 1em;
            font-weight: 300;
            color: @textColor;
            .show;

            &.blue { color: @blue; }
            &.green { color: @green; }
            &.red { color: @red; }
            &.orange { color: @orange; }
          }
        }
      }
    }
  }

/* Search page        ==============================*/
  #search-form {
    text-align: center;
    height: 60px;
    padding: 10px;
    background: rgba(0,0,0,.1);
    overflow: hidden;

    .entry {
      position: relative;
      height: 40px;
      width: 80%;
      .show;
      .pull-left;

      .icon-search {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 99;
      }

      #query {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 30px;
        font-size: 24px;
        font-weight: 700;
        color: @logoPrimary; 
        z-index: 9;
        .box-shadow();
        #border-radius > .rounded(5px);

        &:hover,
        &:active { 
          .box-shadow(~"inset 1px 1px 0 rgba(0,0,0,.3)");
        }
      }

      #clear-query {
        position: absolute;
        top: 12.5px;
        right: 12.5px;
        z-index: 99;
        background-color: @grey2; 
        visibility: hidden;
        .hide-text;
        .square(15px);
        .opacity(0);
        .show;
        #fade > .out(); 
        #border-radius > .rounded(15px);

        &.visible { 
          visibility: visible;
          .opacity(100); 
          #fade > .in(); 
        }

        &:hover,
        &.active { background-color: @logoPrimary; }
      }
    }

    .button { padding: 0; }

    #advanced-search {
      height: 60px;
      .show;

      em { 
        line-height: 60px;
        vertical-align: middle;
        color: @grey3;
      }
    }
  }

  .search-results {
    position: relative;
    padding: 20px;

    a {
      color: @textColor;
      line-height: 1em;
      padding: 15px;
      .clickable;
      
      .data {
        margin: 0 40px 0 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        .calc-width(65, 40); /* %, px */
        .pull-left;

        h2 {
          font-size: 24px;
          line-height: 24px;
          font-weight: 700;
          margin-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span:not(.highlight),
        em {
          display: inline;
          height: 20px;
          margin-right: 30px;
          overflow: hidden;

          &.confirmation { font-weight: 600; }

          &.icon-location,
          &.icon-group {
            color: @grey3;
            padding-left: 25px; 
            &.icon-group  { padding-left: 30px; }
          }
        }

        .highlight { color: @logoPrimary; }
      }

      .guest-status {
        margin-top: 10px;
        .square(30px);
      }

      .room-number {
        margin: 7px 30px 7px 50px;
        .pull-left;

        .highlight { 
          display: inline-block;
          margin-left: -10px;
          padding-left: 10px;
          border-left: 4px solid @logoPrimary;
        }
      }

      .room-status {
        line-height: 50px;
        vertical-align: middle;
        .pull-left;
      }

      &.guest-check-in {
        .room-number {
          &.ready { color: @green; }
          &.not-ready { color: @red; }
        }
      }
    }
  }

/* Guest Card       ==============================*/
  #guest-card {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
    .show;

    #card-wrapper {
      width: 100%;
      height: 100%;
      padding: 20px;
      color: @white;
      background: @gcard @gcardTexture;
      text-align: left;
      overflow: hidden;
      .show;
    }

    #guest-card-header {
      position: relative;
      height: 50px;

      form {
        height: 50px;
        margin-left: 20px;
        
        .calc-width(65, 40); /* %, px */
        .pull-left;
        .show;

        .masked-input {
          color: @white;
          
          &.active {
            padding: 0 10px;
            color: @logoPrimary;
            background-color: rgba(0,0,0,.1);
          }
        }

        .holder {
          height: 30px;
          width: 100%;
          clear: both;
          margin-top: -10px;
          .show;

          .entry {
            .pull-left;

            .masked-input {
              font-size: 30px;
              line-height: 30px;
              height: 30px;
              max-width: 220px;
              width: auto;
              font-weight: 700;
              clear: none;
              .pull-left;

              &:first-child { margin-right: 10px;}
            }
          }

          .switch-button,
          .status { 
            line-height: 30px;
            vertical-align: middle;
            text-transform: uppercase;
            margin: 7px 0 0 20px; 
            .pull-left;
          }

          .switch-button { 
            width: 80px; 
            text-shadow: none;
            background: rgba(0,0,0,.1);
            .box-shadow(none);

            .value {
              color: @white;
              font-weight: 700;
            }

            &.on {
              .switch-icon { left: 50px; }
            }
          }

          &.data {
            height: 20px;
            margin-top: 0;

            .masked-input {
              max-width: 200px;
              padding-left: 30px;
              margin-right: 20px;
              .pull-left;
            }
          }
        }
      }

      .add-new-button {
        position: absolute;
        top: 0;
        right: 193px;
        font-size: 16px;
        color: @black;
        padding: 0 20px;
        border-color: rgba(0,0,0,.4);

        &:hover,
        &:active {
          color: @green;
          border-color: @green;
        }

        &:last-child { right: 20px; }
      }
    }

    #guest-card-content {
      margin-top: 20px;
      .calc-height(100, 70); /* %, px */
      .show;

      #guest-card-tabs-nav {
        width: 100%;
        height: 50px;

        li {
          margin: 5px 0 0 0;
          padding: 0;
          line-height: 45px;
          vertical-align: middle;
          background: rgba(0,0,0,.2);
          .box-shadow();
          #border-radius > .top();
          .pull-left;

          a {
            color: @white;
            font-weight: 600;
            padding: 0 20px;
            .show;
            .no-transition;
          }

          &.ui-tabs-active {
            font-size: 18px;
            line-height: 50px;
            margin-top: 0;
            .background(@white);
            .box-shadow(none);

            a {
              color: @textColor;
            }
          }

          &.social-lobby {
            width: 50px;
            margin-right: 10px;
            .gradient (@purpleStart, @purpleEnd);
            .pull-right;

            a {
              width: 100%;
              height: 100%;
              .hide-text;
              background-position: -5px -185px;

              &:hover,
              &:active { background-position: -65px -185px;}
            }

            &.ui-state-active {
              a {
                &:hover,
                &:active { background-position: -5px -185px;}
              }
            }
          }
        }
      }

      .card-content {
        position: relative;
        color: @textColor;
        overflow: hidden;
        .background(@white);
        .calc-height(100, 60); /* %, px */
        
        .wrapper { 
          padding: 20px; 
          position: relative;
          
          .no-content {
            padding: 10% 20%;
          }
        }

        /* Columns holder ***/
        .holder {
          height: 100%;
          #pixel-to-percent > .width(904, 1888);
          .pull-left;

          .h3 {
            font-weight: 400;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(0,0,0,.1);
          }
          
          .entry {
            #pixel-to-percent > .width(432, 904);
            
            &:nth-child(odd) { #pixel-to-percent > .right-margin(40, 904); }

            &.full-width,
            &.radio-check {
              float: none;
              width: 100%;
            }

            &.radio-check {
              .checkbox,
              .radio {
                #pixel-to-percent > .width(432, 904);
              }

              
              .checkbox:nth-child(odd),
              .radio:nth-child(even) { #pixel-to-percent > .right-margin(40, 904); }
            }
          }

          &:first-child { #pixel-to-percent > .right-margin(80, 1888); }
        }

        /* Active items - payment & loyalty ***/
        .active-item {
          position: relative;
          padding: 0 20px;
          margin-bottom: 10px;
          line-height: 50px;
          vertical-align: middle;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .clickable;

          > .primary:not(.value) {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 0;
          }

          &.primary .value { font-weight: 600; }

          &.item-payment {
            figure,
            > span { margin-right: 80px; }
          }

          &.item-loyalty {
            > span { 
              margin-right: 20px; 

              &.name {
                font-size: 14px;
                color: @grey3;
              }
            }
          }
        }

        .add-new-button {
          width: 100%;
          .show;
        }
      }
    }
  }

/* Reservation Card     ==============================*/
  #reservation-card {

    /* Left side tabs navigation ***/
    .reservation-tabs-nav {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      .box-shadow(inset -1px 0 2px rgba(0,0,0,.1));

      li {
        position: relative;
        
        a { 
          font-weight: 600;
          text-transform: uppercase;
          color: @grey3;
          .show; 
          .no-transition;

          &:hover { color: @textColor;  }
        }

        &.ui-tabs-active {
          a { color: @textColor; }
        }
      }

      /* Upcoming / Current / History tabs nav ***/
      &#reservation-timeline {
        z-index: 111;
        background: @rcardTexture1;
        #pixel-to-percent > .width(180, 2048);

        li {
          text-align: center;
          font-size: 14px;
          text-align: center;
          margin-bottom: 20px;

          a {
            padding: 40px 15px 0 10px;

            span {
              position: absolute;
              top: 10px;
              right: 10px;
              font-size: 12px;
              line-height: 14px;
              font-weight: 700;
              color: rgba(0,0,0,.2);
              background: rgba(0,0,0,.15);
              .square(14px);
              #border-radius > .rounded(14px);
            }
          }

          &.ui-tabs-active {
            a { 
              span {
                &.highlight { 
                  color: @textColor; 
                  background: @white;
                }
              }
            }
          }
        }
      }

      /* Reservation tabs nav ***/
      &#reservation-listing {
        z-index: 99;
        background: @rcardTexture2;
        #pixel-to-percent > .width(280, 1868); /* 2048-180 = 1868 */

        li {
          line-height: 40px;
          margin: 0;
          vertical-align: middle;

          a {
            margin: 0 10px;
            border-bottom: 1px solid rgba(0,0,0,.1);

            .guest-status {
              background-color: rgba(0,0,0,.1);
              margin: 10px 10px 0 0;
              .square(20px);
            }
          }

          &.ui-tabs-active {
            a {
              .guest-status {
                &.check-in { background-color: @green; }
                &.check-out { background-color: @red; }
                &.inhouse { background-color: @blue; }
                &.cancel { background-color: @grey3; }
                &.no-show { background: @grey2; }
              }
            }
          }
        }

        .add-new-button {
          margin: 10px;
          .show;
        }
      }
    }

    /* Reservation card content **/
    .reservation-list {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 99;
      overflow: hidden;
      .background(@white);
      #pixel-to-percent > .left(180, 2048);
      #pixel-to-percent > .width(1868, 2048);

      .reservation {
        position: absolute;
        top: 0;
        #pixel-to-percent > .left(280, 1868);
        #pixel-to-percent > .width(1588, 1868);
        z-index: 90;
        height: 100%;

        &.no-content { 
          left: 0; 
          width: 100%;
        }
      }
    }

    /* Reservation header ***/
    .reservation-header {
      .data { 
        position: relative;
        text-align: right;
        .calc-width(100, 220); /* %, px */
        .pull-right;

        .guest-status { text-indent: 9999px; }

        .icon-group { 
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .actions {
        width: 220px; 
        .pull-right; 
      }
    }

    /* Reservation guest info ***/
    .reservation-guests {
      background: @grey1;
      z-index: 10;
      .transition (display, .3s, ease);

      li {
        line-height: 30px;
        vertical-align: middle;
        margin: 0 40px 0 0;
        padding: 0;
        .show;
        .pull-right;

        span {
          .pull-left;

          &.guest-icon {
            font-size: 12px;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            color: @white;
            background: @grey2;
            margin-right: 10px;
            .square(30px);
          }
        }

        .add-new-button { line-height: 38px; }

        &:first-child { margin: -5px 0 0 0; }
      }
    }

    /* Reservation card actions **/
    .reservation-actions {
      position: relative;
      right: 20px;
      top: 20px; 
      bottom: 20px;
      .show;
      .calc-height(100, 90); /* %, px */
      #pixel-to-percent > .width(388, 1588);
      #border-radius > .rounded();
      .pull-right;

      .balance {
        text-align: right; 
        padding: 10px 0;

        .label { 
          text-align: left;
          line-height: 30px; 
        }
        
        .h1 { 
          display: inline-block;

          &.red { color: @red; }
          &.green { color: @green; }
        }

        &.break { 
          margin-bottom: 10px;
          border-bottom: 1px solid rgba(0,0,0,.1); 
        }
      }

      .button { 
        line-height: 50px;
        padding: 0;
        margin-bottom: 10px;
        .show; 

        &.green,
        &.grey,
        &.red { font-size: 18px; }

        &.red.cancel { font-size: 16px; }

        &.red-text {
          position: absolute;
          right: 0;
          bottom: 0;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }

    /* Reservation card content ***/
    .reservation-content {
      position: relative;
      left: 20px;
      top: 20px;
      bottom: 20px;
      overflow: hidden;
      .calc-height(100, 90);
      #pixel-to-percent > .width(1090, 1588);
      .pull-left;

      /* Scrollable area ***/
      .wrapper { padding-right: 20px; }
      .iScrollVerticalScrollbar { 
        top: 0;
        right: 0;
        bottom: 0;
      }

      .h1 { 
        padding-left: 20px;
        margin-bottom: 20px;

        &.cancel,
        &.no-show { padding-left: 0; }
      }

      /* Grouped card elements ***/
      .block-wrapper {
        .block-item {
          clear: none;
          margin-right: 10px;
          .pull-left;
        }
      }

      /* Card elements ***/
      .block-item {
        width: 100%;
        clear: both;
        margin-bottom: 20px;
        .show;

        /* Block title ***/
        .block-title {
          float: none;
          margin: 0 0 10px 0;
          border-bottom: 1px solid rgba(0,0,0,.1);

          h3 {
            display: inline;
            color: @textColor;
            font-size: 14px;
          }

          .icons {
            margin: 5px 5px 0 0;
            .square(14px);
            .pull-left;
          }

          span { 
            line-height: 1em;
            margin: 0;
            .pull-right; 
          }
        }

        /* Block contents ***/
        .next-view {
          color: @textColor;
          line-height: 50px;
          padding: 5px 20px;
          .clickable;

          &.has-arrow { padding-right: 40px; }
        }

        .no-view {
          color: @textColor;
          line-height: 50px;
          padding: 5px 20px;
          .faux-clickable;
        }

        .select-item {
          height: 50px;
        }
        
        .select {
          select {  
            padding-top: 13px;
            height: 50px; 
          }
        }

        /* Block details - Credit card **/
        &.item-payment {

          .select-item {
            #pixel-to-percent > .width(930, 1070);
          }

          .actions {
            #pixel-to-percent > .width(120, 1070);

            .add-new-button { width: 100%;}
          }
        }

        /* Block details - room **/
        &.item-room {

          .room-number { 
            margin-right: 20px; 
          }

          .button {
            margin-right: 10px;
            .pull-left;

            &:last-child { margin: 0; }
          }   

          &.has-buttons {
            .next-view { .calc-width(100, 150); /* %, px - 140 is the width of two buttons + 10px margin */ }

            &.no-upgrade {
              .next-view { .calc-width(100, 80); /* %, px - 70 is the width of one + 10px margin */ }
            }
          }     
        }

        /* Block details - wake up call **/
        &.item-wake-up { 
          #pixel-to-percent > .width(220, 1070); 

          .next-view,
          .no-view {
            height: 50px;
            padding: 0 10px;
          }

          .value.text { 
            font-size: 24px; 
            line-height: 50px;
            font-weight: 300; 

            &.empty { 
              font-size: 16px;
              font-style: italic; 
              color: @grey3;
            }
          }
        }

        /* Block details - newspaper **/
        &.item-newspaper { 
          #pixel-to-percent > .width(280, 1070); 
          select { width: 100%; }
        }

        /* Block details - loyalty **/
        &.item-loyalty { 
          margin-right: 0; 
          #pixel-to-percent > .width(525, 1070); 

          .select-item {
            #pixel-to-percent > .width(380, 525); 
          }

          .actions {
            #pixel-to-percent > .width(120, 525); 

            .add-new-button { width: 100%;}
          }
        }

        /* Block details - rate **/
        &.item-rate { 
          
          .next-view,
          .no-view {
            line-height: 40px;
            background-position: 98% 53%;

            .number {
              font-size: 30px;
              line-height: 40px;
              vertical-align: middle;
              font-weight: 300;
              margin-right: 20px; 

              strong { font-weight: 400; }
            }
          }
        }

        /* Block details - notes **/
        &.item-notes { 
          .form {
            textarea {
              height: 110px;
              margin-right: 10px;
              #pixel-to-percent > .width(780, 1070); 
            }

            .actions {
              #pixel-to-percent > .width(250, 1070); 

              .select { 
                width: 100%;
                margin-bottom: 10px; 
              }

              .button {
                line-height: 50px;
                width: 100%;
              }
            }
          }

          .notes {
            margin-top: 20px;
            clear: both;
            .show;

            li {
              position: relative;
              font-size: 14px;
              min-height: 40px;
              padding: 0 0 20px 60px;
              margin-bottom: 20px;
              border-bottom: 1px solid rgba(0,0,0,.1);

              .guest-image {
                position: absolute;
                top: 0;
                left: 0;
                .square(40px);

                .vip {
                  bottom: -10px;
                  left: 0;
                }
              }

              .note-title {
                font-size: 16px;
                text-transform: uppercase;

                h4 {
                  display: inline-block;
                  margin-right: 20px;
                  color: @logoPrimary;
                  font-size: 16px;
                  font-weight: 600;
                }

                time {
                  display: inline-block;
                  color: @grey3;
                  margin-right: 20px;
                }
              }

              &:last-child { 
                margin-bottom: 0;
                border-bottom: 0; 
              }
            }
          }
        }

        /* Elements with buttons ***/
        &.has-buttons {
          .next-view,
          .select-item,
          textarea {
            .pull-left;
          }

          .actions {
            .pull-right;
          }
        }
      }

      &.check-in {
        .room-number {
          &.ready { color: @green; }
          &.not-ready { color: @red; }
        }
      }
    }

    /* Panel animations ***/
    .ui-tabs-panel {
      z-index: 10;

      &.set-back {
        z-index: 20;
        #fade > .out();
      }

      &.loading {
        z-index: 99;
        #fade > .in();
      }
    }
  }
  
/* Registration       ==============================*/
  #registration-details {

    /* Registration content ***/
    .registration-content {
      position: relative;
      .calc-height(100, 40); /* %, px */

      /* Scrollable area ***/
      > .wrapper { padding: 20px; }
      > .iScrollVerticalScrollbar { bottom: 20px; }

      h1 { 
        position: absolute;
        top: 30px;
        left: 20px;
      }

      /* Registration summary ***/
      .registration-summary {
        position: relative;

        /* Registration summary tabs navigation ***/
        #bills-tabs-nav {
          width: 100%;
          height: 50px;

          ul,
          .button {
            .pull-right;
          }

          li {
            display: inline-block;
            margin: 5px 0 0 0;
            padding: 10px 20px;
            line-height: 1em;
            vertical-align: middle;
            min-width: 95px;
            height: 45px;
            background: rgba(0,0,0,.05);
            .pull-left;
            .box-shadow(~"inset -1px 0 1px rgba(0,0,0,.1)");
            #border-radius > .top();

            a {
              color: @grey4;
              font-weight: 600;
              text-transform: uppercase;
              
              .show;
              .no-transition;

              span { 
                font-size: 14px;
                font-weight: 400;
                .show;
              }
            }

            &.ui-tabs-active {
              /*font-size: 18px;*/
              line-height: 1em;
              margin-top: 0;
              height: 50px;
              background: rgba(0,0,0,.1);
              .box-shadow(none);

              a {
                color: @textColor;
              }
            }
          }

          .button {
            line-height: 50px;
            margin: 5px 0 0 10px;
            .square(45px);
            #border-radius > .bottom(0);
            .box-shadow(none);

            &:hover,
            &:active { 
              .box-shadow(~"inset 1px 1px 1px rgba(0,0,0,.3)");
            }
          }
        }

        /* Registration summary tabs ***/
        .bill-summary {
          position: absolute;
          top: 50px;
          left: 0;
          width: 100%;
          

          /* Short bill summary ***/
          .bill-summary-wrapper {
            width: 100%;
            padding: 10px;
            background: rgba(0,0,0,.1);
            #border-radius > .rounded();

            > .iScrollHorizontalScrollbar {
              bottom: auto;
              top: 10px;
            }

            ul {
              padding: 0;
              margin: 0;
              height: 52px;

              li {
                margin: 0 5px 0 0;
                .show;
                .pull-left;

                a.toggle,
                div.no-expense {
                  position: relative;
                  color: @grey3;
                  text-transform: uppercase;
                  font-weight: 600;
                  .size(50px,60px);
                  .clickable;
                  .show;

                  span { 
                    position: absolute;
                    line-height: 1em;

                    &.day,
                    &.expense { top: 5px; left: 5px; }
                    &.date { top: 5px; right: 5px; }
                    &.guest-status { bottom: 5px; left: 5px; }
                    &.price { bottom: 5px; right: 5px; }

                    &.day,
                    &.expense,
                    &.date { 
                      font-size: 11px; 
                    }

                    &.guest-status {
                      float: none;
                      .square(15px);

                      &.check-in { background-position: 3px -77px; }
                      &.check-out { background-position: 3px -103px; }
                    }
                  }

                  &.active {
                    background: @white;
                    height: 60px;
                    #border-radius > .bottom(0);
                    .box-shadow(1px 0 0 rgba(0,0,0,.15));

                    .guest-status,
                    .price { bottom: 15px; }
                  }
                }

                div.no-expense {
                  cursor: default;
                  .box-shadow(none);
                }

                a.add-new-button { 
                  line-height: 48px; 
                }     
                

                &.active {
                  a { color: @textColor; }
                }

                &.expense {
                  a { background-color: @grey1; }
                }

                &.check-out {
                  margin-right: 10px;
                  padding-right: 10px;
                  border-right: 1px solid rgba(0,0,0,.1);
                }

                &:last-child {
                  margin-right: 0;
                  padding-right: 0;
                }
              }
            }
          }

          /* Detailed bill summary ***/
          .summary-expanded {
            width: 100%;
            background: @white;
            .show;
            #border-radius > .rounded();

            /* Stay charges ***/
            .toggle {
              color: @textColor;
              padding: 10px;
              border-right: 1px solid rgba(0,0,0,.1);
              background-position: 98% 50%;
              #pixel-to-percent > .width(1700, 1926);
              .pull-left;

              .price {
                display: inline-block;
                font-size: 30px;
                line-height: 20px;
                font-weight: 300;
                #pixel-to-percent > .width(200, 1700);

                span {
                  font-size: 12px;
                  font-weight: 400;
                  text-transform: uppercase;
                  .show;
                }
              }

              .rate,
              .room {
                display: inline-block;
                font-size: 18px;
                vertical-align: top;
                text-transform: uppercase;

                span {
                  color: @grey3;
                  font-size: 14px;
                  line-height: 1em;
                  text-transform: uppercase;
                  .show;
                }

                &.rate { #pixel-to-percent > .width(560, 1700); }
                &.room { #pixel-to-percent > .width(920, 1700); }
              }
            }

            form {
              position: relative;
              height: 40px;
              padding: 10px;
              clear: right;
              #pixel-to-percent > .width(225, 1926);
              .pull-left;

              label {
                position: absolute;
                top: 12px;
                left: 20px;
                color: @grey3;
                font-size: 14px;
                line-height: 40px;
                vertical-align: middle;
                text-transform: uppercase;
              }

              .select {
                position: static;

                select {
                  padding-left: 50px;
                  .box-shadow(none);
                }

                &:after {
                  top: 15px;
                  right: 15px;
                  height: 30px;
                }
              }
            }

            /* Stay details ***/
            .stay-details {
              clear: both;
              padding: 10px 10px 20px 10px;
              border-right: 1px solid rgba(0,0,0,.1);
              #pixel-to-percent > .width(1700, 1926);
              .show;

              .rate-details,
              .room-details {
                color: @grey4;
                font-size: 14px;
                line-height: 21px;
                width: 50%;
                height: 100%;
                .show;
                .pull-left;

                ul,
                ol {
                  height: auto;
                  padding-left: 20px;
                }

                li {
                  line-height: 21px;
                  margin-bottom: 0;
                  float: none;
                  .show;
                }

                &.rate-details {
                  padding-right: 20px;
                }

                &.room-details { 
                  padding-left: 20px; 
                  border-left: 1px solid rgba(0,0,0,.1);
                }
              }
            }

            /* Expense details table ***/
            .expense-details {
              margin: 10px;
              .calc-width(100, 20); /* %, px */

              th {
                font-size: 14px;
                line-height: 40px;
                font-weight: 400;
                text-transform: uppercase;
                color: @grey3;

                &.form { width: 80px; }
              }

              td {
                font-size: 18px;
                line-height: 24px;
                text-transform: uppercase;
                min-height: 30px;
                padding: 5px 0;
                border-bottom: 1px solid rgba(0,0,0,.1);
                width: 25%;

                &.price {
                  font-size: 30px;
                  line-height: 24px;
                  font-weight: 300;
                }

                &.form {
                  padding: 0;

                  form {
                    height: 30px;
                    padding: 0;
                    width: 100%;
                    float: none;

                    .select {
                      position: relative;

                      select {
                        padding: 0 10px;
                        min-height: 30px;
                      }

                      &:after {
                        top: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                      }
                    }
                  }

                }
              }

              tr:last-child {
                td { border-bottom: 0; }
              }
            }
          }

          /* Panel animations ***/
          &.ui-tabs-panel {
            z-index: 10;

            &.set-back {
              z-index: 20;
              #fade > .out();
            }

            &.loading {
              z-index: 99;
              #fade > .in();
            }

            /* Open panel ***/
            &[aria-expanded="true"] {
              position: relative;
              top: 0;
            }
          }
        }     
      }

      /* Total Stay Fees ***/
      .total-stay-fees {
        margin-top: 10px;

        .overview {
          .toggle {
            color: @textColor;
            text-transform: uppercase;
            display: inline-block;
            padding-right: 30px;

            &.with-rate {
              line-height: 50px;
              vertical-align: middle;
              padding-right: 40px;

              strong {
                font-size: 30px;
                line-height: 50px;
                font-weight: 600;
                vertical-align: middle;
                padding: 0 10px;
                color: @logoPrimary;
              }
            }
          }

          &.has-balance { 
            display: inline-block;
            .pull-left; 
          }
        }

        .balance {
          .pull-right;

          p {
            color: @textColor;
            text-transform: uppercase;
            display: inline-block;
            line-height: 50px;
            vertical-align: middle;
            margin: 0;

            strong {
              font-size: 30px;
              font-weight: 600;
              line-height: 50px;
              vertical-align: middle;
              padding: 0 10px;

              &.red { color: @red; }
              &.green { color: @green; }
            }

          }
        }

        .details {

          /* Total stay fees table ***/
          .total-fees {
            width: 100%;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            table-layout: auto;
            border-collapse: separate; 
            border-spacing: 0 10px;
            width: 100%;

            tr {
              th {
                padding: 0 10px;
                font-weight: 600;

                &.action { width: 60px; }
              }

              td {
                color: @grey4;
                background: rgba(0,0,0,.05);
                padding: 10px;

                &.total-label { 
                  text-align: right; 
                }

                &.total-value { 
                  font-size: 18px;
                  font-weight: 600;

                  strong {
                    color: @logoPrimary;
                    font-size: 30px;
                    font-weight: 600;
                  }

                  &.red,
                  &.red strong { color: @red; }
                  &.green,
                  &.green strong { color: @green; }
                }
              }

              &.active {
                td {
                  color: @textColor;
                  background: @white;
                }
              }

              &.edit {
                td { 
                  vertical-align: middle; 

                  .button { .square(40px); }
                }
              }
            }

            tr:last-child {
              td { border-bottom: 0; }
            }
          }
        }
      }

      /* Complete registration */
      .complete-registration {
        margin-top: 20px;

        h2 { margin-bottom: 10px; }

        .entry {
          width: 50%;
          .pull-left;

          .checkbox {
            line-height: 30px;
            .show;

            .icon-checkbox { top: 5px; }
          }
        }

        .actions {
          width: 50%;
          .pull-right;

          .button {
            font-size: 18px;
            line-height: 50px;
            width: 100%;
            .show;

            &.blank { 
              margin-top: 10px;
              line-height: 40px; 
            }
          }
        }
      }
    }
  }

/* Room assignment      ==============================*/
  #room-assignment {
    position: relative;

    .room-assignment-content {
      position: absolute;
      background: rgba(0,0,0,.05);
      overflow: hidden;
      .show;
      #border-radius > .rounded();
      .calc-width(100, 40);
      .calc-height(100, 140);

      .rooms-listing,
      .upgrades {
        position: relative;
        width: 50%;
        height: 100%;
        overflow: hidden;
        .pull-left;
      }

      /* Room nubmer ***/
      .room-number {
        margin-right: 20px;

        &.ready { color: @green; }
        &.not-ready { color: @red; }
      }

      /* Rooms listing and search form ***/
      .rooms-listing {
        padding: 10px; 

        /* Search form ***/
        .search {
          padding-bottom: 10px;
          margin: 0 10px 10px 0;
          border-bottom: 1px solid rgba(0,0,0,.1);

          .button {
            padding: 0;
            margin-right: 10px;
            .square(44px);
            .pull-left; 

            &.active {
              .box-shadow(~"inset 1px 1px 1px rgba(0,0,0,.3)");
              .gradient (@logoGradientEnd, @logoGradientStart);
            }
          }

          .select {
            .calc-width(100, 54); /* %, px */
            .pull-left; 
          }
        }

        /* Attributes filers and results ***/
        .results {
          position: relative;
          .calc-height(100, 70);

          /* Room attributes ***/
          .attributes {
            position: absolute;
            top: 0;
            left: 0;
            width: 185px;
            height: 100%;
            padding-right: 10px;
            z-index: 1;
            
            &.hidden { display: block !important; }

            .action {
              border-bottom: 1px solid rgba(0,0,0,.1);

              .button {
                font-size: 14px;
                line-height: 50px;
                width: 100%;
                .show;
              }
            }

            .entry {
              padding: 5px 0;
              margin-bottom: 0;
              border-bottom: 1px solid rgba(0,0,0,.1);

              .radio,
              .checkbox { 
                font-size: 14px;
                line-height: 30px;
                height: 30px;
                margin-bottom: 0;
                float: none; 
                width: 100%;
                .show;

                .icon-form { top: 5px; }
              }

              &:first-child { padding-top: 0; }
              &:last-child { border-bottom: 0; }
            }

            .wrapper { overflow: hidden; }
            .iScrollVerticalScrollbar { 
              top: 0;
              bottom: 0;
              right: 0; 
            }
          }

          /* Room results ***/
          .rooms {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding-right: 10px;
            background: @rcardTexture2;
            z-index: 9;

            li {
              margin-bottom: 10px;

              .button {
                text-align: left;
                line-height: 50px;
                width: 100%;
              }
            }

            .iScrollVerticalScrollbar {
              top: 0;
              bottom: 0;
              right: 0; 
            }
          }
        }
      }

       /* Upgrades ***/
      .upgrades {
        position: relative;
        .gradient (@logoGradientStart, @logoGradientEnd);

        .available-title {
          color: @white;
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          padding: 20px 0;
          text-shadow: 1px 1px 0 rgba(0,0,0,.15);
        }

        li {
          position: relative;
          line-height: 10px;
          padding: 0;
          margin: 10px;
          background: @white;
          #border-radius > .rounded();
          .box-shadow();

          .upgrade-title {
            padding: 0 10px;
            height: 50px;
            overflow: hidden;

            .room-number,
            h2 { 
              font-weight: 600;
              line-height: 50px;
              clear: none;
              .pull-left;
            }

            h2 {
              max-width: 60%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .toggle {
              font-weight: 600;
              line-height: 50px;
              text-transform: uppercase;
              padding-right: 30px;
              .pull-right;
            }
          }

          .room-details {
            margin: 0 20px 0 30px;
            background: @white;

            li {
              list-style-type: disc;
              font-size: 14px;
              line-height: 21px;
              margin: 0 0 5px 0;
              color: @grey4;
              #border-radius > .top(0);
              .box-shadow(none);
            }
          }

          .button {
            position: absolute;
            left: 10px;
            bottom: 10px;
            line-height: 50px;
            .calc-width(100, 20); /* %, px */
          }

          .room-image {

            img {
              width: 100%;
              height: auto;
              #border-radius > .bottom();
            }
          }
        }

        .iScrollVerticalScrollbar { .hide; }

        &.no-content {
          background: none;
          #pixel-to-percent > .side-padding(100, 2048);
          #pixel-to-percent > .top-padding(200, 1536);
        }
      }
    }
  }

/* Add ons          ==============================*/
  .addons-content {
    position: relative;
    overflow: hidden;
    .calc-height(100, 50); /* %, px */

    .wrapper { padding: 20px; }

    /* View title ***/
    .view-title {
      position: relative;
      height: 40px;
      margin-bottom: 20px;

      h1,
      .button {
        line-height: 40px;
      }

      .button {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 30px;
        z-index: 9;

        &.active {
          padding-bottom: 1px;
          #border-radius > .bottom(0);
        }
      }
    }

    /* Cart ***/
    .addon-cart {
      position: relative;
      margin: -20px 0 20px 0;
      padding: 20px 20px 0 20px;
      z-index: 99;
      .faux-clickable;

      .notice { margin: 0 0 20px 0; }
      
      .cart-items {
        text-transform: uppercase;
        table-layout: fixed;
        border-collapse: separate; 
        border-spacing: 0 10px;
        width: 100%;
        margin: 0;

        thead {
          th {
            font-size: 14px;
            line-height: 14px;
            vertical-align: middle;
            padding: 0 5px;
            font-weight: 600;

            &.add-on { #pixel-to-percent > .width(560, 1888); }
            &.date { #pixel-to-percent > .width(320, 1888); }
            &.quantity { #pixel-to-percent > .width(240, 1888); }
            &.price { #pixel-to-percent > .width(200, 1888); }
            &.tax { #pixel-to-percent > .width(170, 1888); }
            &.total { #pixel-to-percent > .width(340, 1888); }
            &.edit { #pixel-to-percent > .width(80, 1888); }
          }
        }

        tfoot {
          td {
            padding: 5px 0;
            height: 50px;
            line-height: 40px;

            &.total-label { 
              text-align: right; 
              padding-right: 40px;
              #pixel-to-percent > .width(1320, 1888); 
            }

            &.total-price { 
              #pixel-to-percent > .width(568, 1888); 

              strong { .pull-left; }
              .button { 
                padding: 0 30px;
                .pull-right; 
              }
            }
          }
        }

        tbody {
          td {
            padding: 5px 10px 5px 0;
            height: 50px;
            line-height: 40px;
            vertical-align: middle;
            background: @grey1;
            .box-shadow();

            .has-datepicker,
            .select {
              height: 40px;

              input,
              select,
              button {
                text-transform: none;
                width: 100%;
                height: 39px;
              }

              &.has-datepicker { width: 100px; }
              &.select { width: 60px; }
            }

            .button {
              .square(40px);
            }
        
            &:first-child { 
              padding-left: 10px; 
              #border-radius > .left(); 
            }

            &:last-child { 
              padding-right: 10px;
              #border-radius > .right(); 
            }
          }
        }
      }
    }

    /* Add ons ***/
    .addons {

      /* Categories ***/
      .addon-categories {
        #pixel-to-percent > .width(320,2048);
        .pull-left;

        li {
          font-size: 14px;
          line-height: 40px;
          width: 100%;
          margin-bottom: 5px;
          .show;

          a {
            .show;
          }

          &.ui-state-active {
            a {
              color: @white;
              text-shadow: 1px 1px 0 rgba(0,0,0,.15);
              .box-shadow(inset 0 -1px 0 rgba(0,0,0,.2));
              .gradient (@logoGradientStart, @logoGradientEnd);

              &:hover,
              &:active { .gradient (@logoGradientEnd, @logoGradientStart); }
            }
          }
        }
      }

      /* Items ***/
      .addon-items {
        position: relative;
        #pixel-to-percent > .left-margin(45,2048);
        #pixel-to-percent > .width(1680,2048);
        .pull-left;

        .addon-tab {
          position: absolute;
          top: 0;
          left: 0;

          li {
            padding: 10px;
            vertical-align: middle;
            .faux-clickable;

            .addon-image {
              background: @grey1;
              #border-radius > .rounded();
              .square(70px);
              .pull-left;

              img {
                width: 100%;
                height: auto;
                
                #border-radius > .rounded();
              }
            }

            .data {
              padding: 0 40px 0 20px;
              overflow: hidden;
              #pixel-to-percent > .width(880,1680);
              .pull-left;

              .categories {
                font-size: 14px;
                text-transform: uppercase;
                .show;

                span {
                  margin: 0 5px;

                  &.current { color: @logoPrimary; }
                  &:first-child { margin-left: 0; }
                  &:last-child { margin-right: 0; }
                }               
              }

              h2 { 
                font-weight: 700;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              em {
                font-size: 14px;
                line-height: 18px;
                color: @grey4;
                white-space: normal;
                .show;
              }
            }

            .price {
              position: relative;
              font-size: 36px;
              line-height: 42px;
              vertical-align: middle;
              font-weight: 300;
                .show;
              #pixel-to-percent > .width(350,1680);
              .pull-left;

              span {
                position: absolute;
                top: 0;
                color: @grey3;
                font-size: 12px;
                line-height: 12px;
                text-transform: uppercase;
                padding: 5px 0 0 5px;
              }
            }

            .button {
              #pixel-to-percent > .width(300,1680);
              .pull-left;
            }
          }

          &.ui-tabs-panel {
            z-index: 10;

            &.set-back {
              z-index: 20;
              #fade > .out();
            }

            &.loading {
              z-index: 99;
              #fade > .in();
            }

            /* Open panel ***/
            &[aria-expanded="true"] {
              position: relative;
              top: 0;
            }
          }
        }
      }
    }
  }


/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/