/* 1. ROOT
==========================================================*/
input, 
button, 
textarea {
	#font > .sans-serif();
	color: @textColor;
} 

input,
textarea {
	line-height: 40px;
	min-height: 40px;
	vertical-align: middle;
	padding: 0 10px;
	background-color: @white;
	border: 0;
	resize: none;
	.placeholder-text(16px, 40px, 400);
	.transition;
	.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
	#border-radius > .rounded();

	&:focus,
	&:active {
		.box-shadow(inset 1px 1px 1px rgba(0,0,0,.5));
	}

	&.masked-input {
		display: inline-block;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;
		cursor: pointer;
		vertical-align: middle;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		.box-shadow(none);

		&:focus,
		&:active {
			.box-shadow(none);
		}
	}

	&.datepicker {
		background: @white @selectArrow no-repeat 90% 50%;
    	background-size: 6px 4px;
		.box-shadow();
	}
}

input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; }

input[type="number"] {
	&[size="2"] {
		width: 40px;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

select {
	width: 100%;
	min-height: 40px;
	vertical-align: middle;
	padding: 10px;
	border: 0;
	outline: 0;
    background: @white;
    cursor:pointer;
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	.box-shadow();
	#border-radius > .rounded();

	&:focus,
	&:active {
		.box-shadow(inset 1px 1px 1px rgba(0,0,0,.5));
	}

	&.placeholder {
		font-style: italic;
		color: @grey3;

		option:not(.placeholder) { 
			color: @textColor; 
			font-style: normal;
		}
	}
	.placeholder { 
		font-style: italic;
		color: @grey3;
	}
}

label {
	cursor: pointer;
	margin-bottom: 5px;
}

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* Typical form layout 			==========================*/
	.form {
		.entry {
			margin-bottom: 10px;
			.pull-left;

			label {
				font-size: 14px;
				text-transform: uppercase;
				.show;

				span { color: @grey4; }

				&.checkbox,
				&.radio {
					font-size: 16px;
					display: inline-block;
					text-transform: none;
				}
			}

			input:not([size]),
			select {  width: 100%; }

			input[size] {
				text-align: center;
				margin-right: 5px;

				&:last-child { margin-right: 0; }
			}

			.select {
				select { height: 40px; }
			}

			.short-break { 
				display: inline-block; 
				margin-right: 5px;
			}

			&.full-width,
			&.radio-check {
				float: none;
				width: 100%;
			}

			&.radio-check {
				.checkbox,
				.radio { .pull-left; }
			}

			&.with-toggle {
				position: relative;

				input[type="text"] {
					line-height: 50px;
					min-height: 50px;
				}

				.switch-button {
					position: absolute;
					top: 35px;
					right: 10px;
					width: 90px;

					.value {
						font-size: 12px;
						font-weight: 600;
					}

					&.on {
						.switch-icon { #pixel-to-percent > .left(60, 90); }
						.value { #pixel-to-percent > .right(45, 90); }
					}
				}
			}
		}
	}

/* 5. COMPONENTS
==========================================================*/

/* Check & radio box 			==========================*/
	.checkbox,
	.radio {
		position: relative;
		padding-left: 40px;
		line-height: 40px;
		vertical-align: middle;
		.clickable;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			outline: none;
			cursor: pointer;
			z-index: 1;
			.opacity(0);
		}

		.icon-form {
			position: absolute;
			top: 10px;
			left: 10px;
			background: @grey1;
			.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
			.square(20px);

			&.icon-checkbox {
				#border-radius > .rounded();

				&.checked {
					.gradient(@logoGradientStart, @logoGradientEnd);
				}
			}

			&.icon-radio {
				z-index: 9;
				#border-radius > .rounded(20px);

				&.checked:before {
					content: "";
					position: absolute;
					top: 6px;
					left: 6px;
					z-index: 99;
					.show;
					.square(9px);
					.box-shadow(inset 1px 1px 0 rgba(0,0,0,.15));
					.gradient(@logoGradientStart, @logoGradientEnd);
					#border-radius > .rounded(10px);
				}
			}
		}

		&.disabled { 
			cursor: default;
			.opacity(50); 
		}

		&.inline {
			display: inline-block;
			padding-left: 30px;
			background: transparent;
			.box-shadow(none);

			.icon-form { 
				left: 0; 
				background: @white;
			} 
		}
	}

/* On/off switch checkbox		==========================*/
	.switch-button {
		display: inline-block;
		padding: 5px;
		height: 30px;
		cursor: pointer;
		position: relative;
		text-shadow: 1px 1px 0 rgba(255,255,255,.7);
		.gradient(@grey2, @white);
		.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
		#border-radius > .rounded(20px);
		
		.switch-icon {
			position: absolute;
			top: 5px;
			left: 10px;
			z-index: 9;
			.gradient-with-image(@onOffLines, @logoGradientStart, @logoGradientEnd);
			background-position: 50% 50%, 0 0;
			background-repeat: no-repeat, repeat;
			background-size: 6px 7px, auto;
			.hide-text;
			.show;
			.square(20px);
			.transition;
			#border-radius > .rounded(20px);

			&.vip { 
				text-indent: 0; 
				background: @yellow;
			}

			@media @highdpi {
				.gradient-with-image(@onOffLines2x, @logoGradientStart, @logoGradientEnd);
				background-position: 50% 50%, 0 0;
				background-repeat: no-repeat, repeat;
				background-size: 6px 7px, auto;
			}
		}

		.value{ 
			position: absolute;
			top: 0;
			right: 10px;
			text-transform: uppercase;
			line-height: 30px;
			vertical-align: middle;
			z-index: 1;
			.show;
		}

		input[type="checkbox"] { 
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			line-height: 30px;
			min-height: 30px;
			z-index: 20;
			.opacity(0);
			.show;
		}	
	}

/* Styled selectboxes			==========================*/
	.select-item {
		position: relative;
		height: 40px;
		padding: 0 10px;
		background: @selectArrow no-repeat 95% 50%;
		background-size: 6px 4px;
		.clickable;

		.selected {
			line-height: 40px;
			vertical-align: middle;
			white-space: nowrap;
  			overflow: hidden;
  			text-overflow: ellipsis;

			> * {
				line-height: 40px;
				vertical-align: middle;
			}
		}

		select {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			outline: none;
			cursor: pointer;
			z-index: 1;
			.opacity(0);
		}		
	}

	.select {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 6px;
			right: 5px;
			background: @white @selectArrow no-repeat 50% 50%;
    		background-size: 6px 4px;
			pointer-events: none;
			width: 25px;
			.calc-height(100, 10);
		}
	}

	.form {
		.entry {
			.select-item {

				&.credit-card {
					
					.card-logo {
						margin: 5px 20px 0 0;
						.pull-left;
						.size(30px,60px);

						img {
							width: 100%;
							height: auto;
						}
					}	

					span {
						display: inline-block;
						line-height: 40px;
						vertical-align: middle;
						color: @grey3;
						font-size: 14px;
						text-transform: uppercase;
						font-weight: 400;
						margin-right: 10px;

						&.value,
						.value {
							display: inline-block;
							font-size: 18px;
							color: @textColor;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}

/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/