/* 1. ROOT
==========================================================*/
input, 
button, 
textarea {
	#font > .sans-serif();
	color: @textColor;
} 

input,
textarea {
	line-height: 40px;
	min-height: 40px;
	vertical-align: middle;
	padding: 0 10px;
	background: @white;
	border: 0;
	.placeholder(18px, 40px, 400);
	.transition;
	.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
	#border-radius > .rounded();

	&:focus,
	&:active {
		.box-shadow(inset 1px 1px 1px rgba(0,0,0,.5));
	}

	&.masked-input {
		line-height: 30px;
		min-height: 30px;
		display: inline;
		background: transparent;
		border: 0;
		padding: 0;
		.box-shadow(none);
		#border-radius > .rounded(0);

		&:focus,
		&:active {
			.box-shadow(none);
		}
	}
}

select {
	width: 100%;
	min-height: 40px;
	vertical-align: middle;
	padding: 10px;
	border: 0;
	outline: 0;
    background: @white;
    cursor:pointer;
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	.box-shadow();
	#border-radius > .rounded();

	&:focus,
	&:active {
		.box-shadow(inset 1px 1px 1px rgba(0,0,0,.5));
	}
}

textarea {
  resize: none;
}

label {
	cursor: pointer;
	margin-bottom: 5px;
}

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

/* Check & radio box 		==========================*/
	.checkbox,
	.radio {
		position: relative;
		padding-left: 40px;
		line-height: 40px;
		vertical-align: middle;
		.clickable;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			outline: none;
			cursor: pointer;
			z-index: 1;
			.opacity(0);
		}

		.icon-form {
			position: absolute;
			top: 10px;
			left: 10px;
			background: @grey1;
			.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
			.square(20px);

			&.icon-checkbox {
				#border-radius > .rounded();

				&.checked {
					.gradient(@logoGradientStart, @logoGradientEnd);
				}
			}

			&.icon-radio {
				z-index: 9;
				#border-radius > .rounded(20px);

				&.checked:before {
					content: "";
					position: absolute;
					top: 5px;
					left: 5px;
					z-index: 99;
					.show;
					.square(10px);
					.box-shadow(inset 1px 1px 0 rgba(0,0,0,.15));
					.gradient(@logoGradientStart, @logoGradientEnd);
					#border-radius > .rounded(10px);
				}
			}
		}

		&.disabled { 
			cursor: default;
			.opacity(50); 
		}

		&.inline {
			display: inline-block;
			padding-left: 30px;
			background: transparent;
			.box-shadow(none);

			.icon-form { left: 0; } 
		}
	}

/* On/off switch checkbox	==========================*/
	.switch-button {
		background: rgba(0,0,0,.1);
		display: inline-block;
		padding: 5px;
		cursor: pointer;
		position: relative;
		#border-radius > .rounded(20px);
		.size(30px,70px);

		.switch-icon {
			position: absolute;
			top: 5px;
			left: 5px;
			z-index: 9;
			.show;
			.square(20px);
			.transition();
			#border-radius > .rounded(20px);
		}

		.value{ 
			position: absolute;
			top: 0;
			right: 10px;
			color: @white;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 30px;
			vertical-align: middle;
			z-index: 1;
			.show;
		}

		input[type="checkbox"] { 
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 20;
			.opacity(0);
			.show;
		}

		&.on {
			.switch-icon { left: 40px; }
			.value { right: 35px; }
		}
	}

/* Styled selectboxes		==========================*/
	.select-item {
		position: relative;
		height: 40px;
		padding: 0 10px;
		background: @selectArrow no-repeat 95% 50%;
		background-size: 6px 4px;
		.clickable;

		.selected {
			line-height: 40px;
			vertical-align: middle;
			white-space: nowrap;
  			overflow: hidden;
  			text-overflow: ellipsis;

			> * {
				line-height: 40px;
				vertical-align: middle;
			}
		}

		select {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			outline: none;
			cursor: pointer;
			z-index: 1;
			.opacity(0);
		}
	}

	.select {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 5px;
			right: 5px;
			background: @white @selectArrow no-repeat 50% 50%;
    		background-size: 6px 4px;
			pointer-events: none;
			width: 25px;
			.calc-height(100, 10);
		}
	}



/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/