/* 1. ROOT
==========================================================*/
input, 
button, 
textarea {
	#font > .sans-serif();
	color: @textColor;
} 

input[type="text"],
input[type="password"],
textarea {
	line-height: 40px;
	min-height: 40px;
	vertical-align: middle;
	padding: 0 10px;
	background: @white;
	border: 0;
	.transition;
	.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
	#border-radius > .rounded();

	&:focus,
	&:active {
		.box-shadow(inset 1px 1px 1px rgba(0,0,0,.5));
	}
}

label {
	cursor: pointer;
	margin-bottom: 5px;
}

button,
input[type="submit"],
.button {
	
	/*background: transparent;
	border: 0;
	cursor: pointer;*/
}

.button {
	/*.global-button;*/
}

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

	/* Check & radio box 		==========================*/
	.checkbox,
	.radio {
		position: relative;
		padding-left: 40px;
		line-height: 40px;
		vertical-align: middle;
		background: @white;
		cursor: pointer;
		#border-radius > .rounded();
		.box-shadow(1px 1px 0 rgba(0,0,0,.15));
		.show;

		input {
			position: absolute;
			top: 0;
			left: 0;
			outline: none;
			.opacity(0);
		}

		.icon-form {
			position: absolute;
			top: 10px;
			left: 10px;
			background: @grey1;
			.box-shadow(inset 1px 1px 1px rgba(0,0,0,.15));
			.square(20px);

			&.icon-checkbox {
				#border-radius > .rounded();

				&.checked {
					.gradient(@logoGradientStart, @logoGradientEnd);
				}
			}

			&.icon-radio {
				z-index: 9;
				#border-radius > .rounded(20px);

				&.checked:before {
					content: "";
					position: absolute;
					top: 5px;
					left: 5px;
					z-index: 99;
					.show;
					.square(10px);
					.box-shadow(inset 1px 1px 0 rgba(0,0,0,.15));
					.gradient(@logoGradientStart, @logoGradientEnd);
					#border-radius > .rounded(10px);
				}
			}
		}

		&.disabled { 
			cursor: default;
			.opacity(50); 
		}

		&.inline {
			display: inline-block;
			padding-left: 30px;
			background: transparent;
			.box-shadow(none);

			.icon-form { left: 0; } 
		}
	}

/* Login form			==================================*/

/*#login-form {
		height: 100%;
		text-align: center;

		.button {
			margin-top: 10%;
			border: 0;
			background: transparent;
			color: @white;
			cursor: pointer;
			font-size: 4em;
			text-shadow: 1px 1px 0 rgba(0,0,0,.15);
			.show;
		}
	}*/


/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/