/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

/* Dashboard page 			==============================*/
	#dashboard {
		.wrapper {
			#pixel-to-percent > .side-padding( 128, 2048 );
		}
	}

/* Search page 				==============================*/
	#search-form {
		.entry { width: 75%; }
	}

	.search-results {
		a {
			padding: 10px;
			position: relative;

			.data {
				margin: 0 20px;
				white-space: nowrap;
				.calc-width(60, 40); /* %, px */

				span:not(.highlight),
				em {
					font-size: 13px;
					padding-top: 2px;
					margin-right: 0;

					&.icon-group  { padding-left: 15px; }
				}
			}

			.room-number { margin: 7px 15px 0 30px; }
		}
	}


/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/