/* 1. ROOT
==========================================================*/

body { background-size: 40px, 100%, 100%; }

/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/

/* App screens				==============================*/
	.container .page,
	.container .page-locked .nested-view,
	.nav-bar,
	#login,
	#reservation-card .reservation-list { background-size: 40px; }

/* Search page 				==============================*/
	.search-results {
		.link-item {
			.data {
				span,
				em {
					&.icon-location { padding-left: 15px; }
					&.icon-group { padding-left: 20px; }
				}
			}
		}
	}

/* 5. COMPONENTS
==========================================================*/
/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/

