<section id="replacing-div-second" class="content current" ng-hide="isLoading" ng-click="clearErrorMessage()"><div data-view="ZestCheckinConfiguration" >
	<header class="content-title float">
		<h2>{{displayMessage}}</h2>
		<a ng-click="backClicked()" data-type="load-details" class="action back">{{ 'BACK' | translate}}</a>
	</header>
	<div ng-include="'/assets/partials/common/notification_message.html'"  ></div>
	<!--- form starts here -->
	<form style="overflow-y:auto;" class="form float inline-form" >
		<fieldset class="holder left">				
			<div class="entry">
				<label>Beacon id <strong>*</strong></label>
				<input type="text"  placeholder="enter Id" ng-disabled="!isIpad" ng-model="data.id">							
			</div>
			<div class="entry">
				<label>&nbsp;&nbsp;</label>
				<button type="button" ng-hide="rateData.id > 0" ng-click="saveRateDetails()" ng-disabled="data.id.length===0 || !isIpad" class="button" ng-class="{ 'brand-colors' :data.id.length>0 }" >
					Link Beacon</button>
				</div> 	
		</fieldset>
		<fieldset class="holder right">
			<ad-textbox inputtype="text" value="rateData.name" label = "Location" placeholder = "Enter Location" required="yes"></ad-textbox>			 
			<div class="entry">
				<label>Type <strong>*</strong> </label>
				<div class="select">
					<select class="placeholder" ng-model="ibeacon.selectedType" ng-options="ibeacon.id as ibeacon.type for ibeacon in ibeacons">
						<option value="" disabled> Select Type</option>
					</select>
				</div>
			</div>  
			<div class="entry">
					<label>Trigger <strong>*</strong> </label>
					<div class="select">
						<select class="placeholder" ng-model="ibeacon.selectedType" ng-options="ibeacon.id as ibeacon.type for ibeacon in ibeacons">
							<option value="" disabled> Select Type</option>
						</select>
					</div>
				</div>
				<ad-toggle-button is-checked="checkinData.is_send_checkin_staff_alert_flag" label="Status"></ad-toggle-button>
		</fieldset>
			<div class="form-title" style="margin-bottom:32px;">
				<h3><span>Guest message</span></h3>
			</div>
			<fieldset class="holder left">
				<div class="entry full-width">
					<label for="room-type-picture"> picture </label>
					<div class="file-upload with-preview">
						<span class="input">Choose file ...</span>
						<input type="file" ng-model="roomTypeData.image_of_room_type" accept="image/*" app-filereader />
						<button type="button" class="button brand-colors">
							{{ 'PICTURE' | translate }}
						</button> 
					</div>
					<span class="file-preview"><img ng-src="{{roomTypeData.image_of_room_type}}" id="file-preview" alt=""> </span>
				</div> 
			</fieldset>
			<fieldset class="holder right">
				<ad-textbox inputtype="text" styleclass="full-width" value="rateData.name" label = "Title" placeholder = "Enter Location" required="yes"></ad-textbox>
				<ad-textarea rows="4" div-class="full-width" text-area-class="full-width" value="description" label = "Description" maxlength="200" placeholder = "Enter Description"></ad-textarea>
			</fieldset>
			<div class="actions float">
				<button type="button" ng-click="gotToDashboard()" class="button blank add-data-inline actions_margin_top">{{ 'CANCEL' | translate}}</button>
				<button type="button" ng-click="saveCheckin()" class="button green actions_margin_top">{{ 'SAVE_CHANGES' | translate}}</button>
			</div>
		</form>
<!--- form ends here -->
	</div>
</section>