<section id="replacing-div-second" class="content current" ng-hide="isLoading" ng-click="clearErrorMessage()"><div data-view="ZestCheckinConfiguration" >
	<header class="content-title float">
		<h2>{{displayMessage}}</h2>
		<a ng-click="backClicked()" data-type="load-details" class="action back" translate="BACK"></a>
	</header>
	<div ng-include="'/assets/partials/common/notification_message.html'"  ></div>
	<!--- form starts here -->
	<form style="overflow-y:auto;" class="form float inline-form" >
		<fieldset class="holder left">				
			<div class="entry">
				<label>{{'BEACON_ID'|translate}} <strong>*</strong></label>
				<input type="text"  placeholder="{{'ENTER_BEACON_ID'|translate}}" ng-disabled="!isIpad" ng-model="data.beacon_uuid">							
			</div>
			<div class="entry">
				<label>&nbsp;&nbsp;</label>
				<button type="button" ng-disabled="data.id.length===0 || !isIpad" class="button" ng-class="{ 'brand-colors' :data.id.length>0 }" translate="LINK_BEACON" ng-click="linkiBeacon()"></button>
			</div> 	
		</fieldset>
		<fieldset class="holder right">
			<ad-textbox inputtype="text" value="data.location" label = "{{ 'LOCATION' | translate }}" placeholder = "{{'ENTER_LOCATION'|translate}}" required="yes"></ad-textbox>			 
			<div class="entry">
				<label>{{'TYPE'|translate}} <strong>*</strong></label>
				<div class="select">
					<select class="placeholder" ng-model="data.beacon_type" ng-options="ibeacon.name as ibeacon.name for ibeacon in beaconTypes">
						<option value="" disabled translate="SELECT_TYPE"></option>
					</select>
				</div>
			</div>  
			<div class="entry">
					<label>{{'TRIGGER'|translate}} <strong>*</strong></label>
					<div class="select">
						<select class="placeholder" ng-model="data.trigger_range" ng-options="trigger.name as trigger.name for trigger in triggerTypes">
							<option value="" disabled translate="SELECT_TRIGGER"></option>
						</select>
					</div>
				</div>
				<div class="entry">
					<label ng-hide="label.length ==0" for="" translate="STATUS"></label>
					<div class="switch-button single" ng-class="{'on': data.status}">
						<input type="checkbox"  ng-click="toggleStatus()">
						<span class="switch-icon"></span>

					</div>
				</div>				
		</fieldset>
		<fieldset class="holder left">
			<div class="entry">
				<label>NEIGHBOURS <strong>*</strong></label>
			</div>
			<select multiple ng:model="data.neighbours" ng-options="beaconNeighbour.value as beaconNeighbour.name for beaconNeighbour in beaconNeighbours" >
	 		 </select>
 	</fieldset>
			<div class="form-title" style="margin-bottom:32px;">
				<h3><span translate="GUEST_MESSAGE"></span></h3>
			</div>
			<fieldset class="holder left">
				<div class="entry full-width">
					<label for="room-type-picture" translate="PICTURE"></label>
					<div class="file-upload with-preview">
						<span class="input" translate="CHOOSE_FILE"></span>
						<input type="file" ng-model="data.picture" accept="image/*" app-filereader />
						<button type="button" class="button brand-colors" translate="PICTURE">
						</button> 
					</div>
					<span class="file-preview"><img ng-src="{{roomTypeData.image_of_room_type}}" id="file-preview" alt=""> </span>
				</div> 
			</fieldset>
			<fieldset class="holder right">
				<ad-textbox inputtype="text" styleclass="full-width" value="data.title" label = "{{ 'TITLE' | translate }}" placeholder = "{{'ENTER_TITLE'|translate}}" required="no"></ad-textbox>
				<ad-textarea rows="4" div-class="full-width" text-area-class="full-width" value="data.description" label = "{{ 'DESCRIPTION' | translate }}" maxlength="200" placeholder = "{{'ENTER_DESCRIPTION'|translate}}"></ad-textarea>
			</fieldset>
			<div class="actions float">
				<button type="button" ng-click="gotToDashboard()" class="button blank add-data-inline actions_margin_top" translate="CANCEL"></button>
				<button type="button" ng-click="saveCheckin()" class="button green actions_margin_top" translate="SAVE_CHANGES"></button>
			</div>
		</form>
<!--- form ends here -->
	</div>
</section>