#availability { .hide; }

/* 768px+               ==============================*/
@media only screen and (min-width: 768px) {
    #availability {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 9980;
        .square(100%);
        .show;
        
        .availability-toggle { 
            position: absolute;
            top: 10px;
            left: -40px;                
            .icon-availability;
        }

        .availability-container {
            position: relative;
            padding: 0 40px 0 10px;
            z-index: 999;
            .square(100%);
            .gradient-with-image(@darkTexture, @grey2, @grey3);

            @media @highdpi { background-size: 40px, 100%, 100%; }

            /* Nav bar ***/
            .nav-bar {
                padding: 10px;
                z-index: 1000;

                .logo {
                    right: 10px;
                }
            }

            /* Grid ***/
            .dates-grid {
                table-layout: auto;
                width: 100%;
                border-collapse: separate; 
                margin: 0;

                th {
                    line-height: 1em;
                    text-transform: uppercase;
                    white-space: normal;
                
                    &.heading { font-weight: 600; }
                }                       

                thead {
                    th {
                        text-align: center;
                        font-weight: 600;

                        .inner {
                            color: @white;
                            background: @gcard;
                            height: 50px;
                            #border-radius > .rounded();
                            .show;

                            span { .show; }

                            &.weekend { background-color: rgba(95,131,146,1); }
                        }

                        &.heading { background: transparent; }
                    }
                }

                tbody {
                    tr {
                        th {
                            text-align: right;  
                            padding-right: 20px;
                        }

                        td {
                            text-align: center;
                            vertical-align: middle;

                            .button { 
                                padding: 0;
                                margin: 0 5px 5px 5px;
                                .calc-width(100, 10);
                            }

                            .inner { 
                                line-height: 50px; 

                                &.negative { 
                                    color: @red;
                                    font-weight: 600;
                                }
                                
                                &.warning {
                                    color: @orange;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }

            /* Availability screen ***/
            .availability-content {
                position: relative;
                .square(100%);
                .show;

                /* Header ***/
                .availability-header {
                    position: relative;
                    padding: 0;
                    background: @white;
                    z-index: 990;
                    .size(60px, 100%);
                    .box-shadow(0 1px 1px rgba(0,0,0,.1));
                    .float;

                    .date {
                        width: 140px;
                        margin: 10px 0 10px 10px;
                        .pull-left;

                        input { 
                            width: 100%;
                            background-color: @grey1; 
                        }
                    }

                    .select {
                        width: 160px;
                        margin: 10px 0 10px 10px;
                        .pull-left;

                        select,
                        &:after { background-color: @grey1; }
                    }

                    .display {
                        width: 120px;
                        .pull-right;

                        li {
                            margin: 0;
                            cursor: pointer;
                            .square(60px);
                            .show;
                            .pull-left;

                            &:first-child { .box-shadow(1px 0 0 rgba(0,0,0,.1)); }

                            &.active {
                                position: relative;
                                .box-shadow(none);
                                .gradient(@logoGradientStart, @logoGradientEnd);

                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 20px;
                                    bottom: -10px;
                                    width: 0; 
                                    height: 0; 
                                    border-top: 10px solid @logoGradientEnd;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                }
                            }
                        }
                    }
                }

                /* Grid ***/
                .availability-grid {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    z-index: 900;
                    .background(@white);
                    .calc-height(100, 120);

                    .wrapper { padding: 10px 10px 20px 0; }
                    
                    .iScrollVerticalScrollbar { 
                        top: 10px;
                        bottom: 10px;
                    }

                    .iScrollHorizontalScrollbar {
                        top: auto;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                    }

                    .dates-grid {
                        border-spacing: 5px 0;

                        col {
                            width: 180px;

                            &.grid-col {
                                width: auto;
                                min-width: 55px;
                                background-color: rgba(0,0,0,.1);

                                &.weekend { background-color: rgba(95,131,146,.2); }
                            }
                        }

                        thead {
                            th {
                                .inner {
                                    font-size: 14px;
                                    padding-top: 10px;
                                    margin: 5px;
                                }
                            }
                        }

                        tbody {

                            tr {
                                td {
                                    min-width: 55px; 

                                    .inner {
                                        font-size: 16px;
                                        margin: 0 5px 5px 5px;
                                        background-color: @white;
                                        #border-radius > .rounded();
                                    }                                    
                                }

                                /* Room Availability ***/
                                &.room-details {
                                    &:not(.main) {
                                        th,
                                        td { 
                                            font-style: italic; 

                                            .inner {
                                                &.last-row { margin-bottom: 5px; }
                                            }
                                        }

                                        &:nth-child(odd) { 
                                            td  { 
                                                .inner { 
                                                    background-color: lighten(@blue, 28);
                                                    &.green { background-color: lighten(@green, 40); }
                                                }
                                            }
                                        }

                                        &:nth-child(even) { 
                                            td { 
                                                .inner { 
                                                    background-color: lighten(@blue, 24);
                                                    &.green { background-color: lighten(@green, 36); }
                                                }
                                            }
                                        }
                                    }

                                    &.main {
                                        .heading {
                                            cursor: pointer;

                                            &.rows-toggle {
                                                background: @arrowDown 100% 50% no-repeat;

                                                &.active { background-image: @arrowUp; }

                                                @media @highdpi {
                                                    background-image: @arrowDown2x; 
                                                    background-size: 14px 14px; 

                                                    &.active { 
                                                        background-image: @arrowUp2x; 
                                                        background-size: 14px 14px; 
                                                    }
                                                }
                                            }
                                        }

                                        td { 
                                            .inner { 
                                               background-color: lighten(@blue, 28);
                                                &.green { background-color: lighten(@green, 40); }
                                            }
                                        }
                                    }
                                }

                                /* Group Availability ***/
                                &.group-details {
                                    &:not(.main) {
                                        .button { line-height: 50px; }

                                        .inner:not(.last-group) { margin-bottom: 0; }
                                    }

                                    &.main {
                                        .heading {
                                            padding: 0;
                                            text-align: left;
                                            background: rgba(0,0,0,.1);

                                            .inner { 
                                                position: relative;
                                                line-height: 40px;
                                                margin: 5px 5px 0 5px;
                                                background: @white; 
                                                #border-radius > .rounded();
                                                .float;
      
                                                .name {
                                                    cursor: pointer;
                                                    padding: 5px 10px 5px 35px;
                                                    background: @arrowDown 10px 50% no-repeat;
                                                    width: 520px;
                                                    .nowrap();
                                                    .pull-left;

                                                    @media @highdpi {
                                                        background-image: @arrowDown2x; 
                                                        background-size: 14px 14px; 
                                                    }
                                                }

                                                .status {
                                                    padding: 5px 10px;
                                                    font-weight: 400;
                                                    width: 240px;
                                                    .pull-left;

                                                    .label {
                                                        display: inline;
                                                        float: none;
                                                    }
                                                }

                                                .next-view {
                                                    font-size: 16px;
                                                    line-height: 40px;
                                                    font-weight: 600;
                                                    text-transform: uppercase;
                                                    color: @logoPrimary;
                                                    margin: 5px 10px;
                                                    padding: 0 30px 0 10px;
                                                    height: 40px;
                                                    .size(40px, 160px);
                                                    .transition();
                                                    .pull-right;

                                                    &:hover,
                                                    &:active { color: @textColor; }
                                                }
                                            }

                                            &.active { 
                                                .inner { 
                                                    margin-bottom: 5px;

                                                    .name { 
                                                        background-image: @arrowUp; 

                                                        @media @highdpi {
                                                            background-image: @arrowUp2x; 
                                                            background-size: 14px 14px; 
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &.last-group {
                                            .heading {
                                                .inner { margin-bottom: 5px; }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.summary { margin-bottom: 10px; }
                    }
                }
            }

            /* House status screen ***/
            .house-status-content {
                position: relative;
                .square(100%);
                .show;

                .wrapper { padding: 10px 10px 20px 0; }
                    
                .iScrollVerticalScrollbar { 
                    top: 10px;
                    bottom: 10px;
                }

                /* Grid ***/
                .house-status-grid {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 900;
                    .background(@white);
                    .calc-height(100, 70);

                    .dates-grid {
                        border-spacing: 10px 0;

                        col {
                            width: 9em;

                            &.grid-col {
                                background-color: rgba(0,0,0,.1);
                                width: 16em;
                            }
                        }  

                        thead {
                            th {
                                .inner {
                                    padding-top: 10px;
                                    margin: 10px;
                                }
                            }
                        } 

                        tbody {

                            tr {
                                td {
                                    .inner {
                                        position: relative;
                                        background-color: #e4e4e4;
                                        font-size: 21px;
                                        margin: 5px 10px;
                                        .float;
                                        .box-shadow();
                                        #border-radius > .rounded();

                                        .value {
                                            width: 60px;
                                            text-align: center;
                                            background-color: @white;
                                            .pull-left;
                                            .show;   

                                            &.full-width {
                                                width: 100%;
                                                float: none;
                                            }                                             
                                        }

                                        .graph {
                                            .calc-width(100, 60);
                                            .pull-left;

                                            .bar {
                                                .size(50px, 0px);
                                                .show;

                                                &.showing { 
                                                    width: 100%;
                                                    .transition(width, .6s, cubic-bezier(.10, .10, .25, .90));
                                                }

                                                &.blue { .gradient-horizontal(@blueStart, @blueEnd); }
                                                &.orange { .gradient-horizontal(@orangeStart, @orangeEnd); } 
                                                &.yellow { .gradient-horizontal(@yellowStart, @yellowEnd); } 
                                            }
                                        }
                                    }
                                }

                                &:last-child {
                                    td {
                                        .inner { margin-bottom: 10px; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.availability-open { #availability > .open(); }
        
        &.availability-closing { #availability > .close(); }
    }
}