@containerWidth: 1024;
@containerEl: @containerWidth + 3;
@roomsWidth: 183;
@gridWidth: 840;
@filtersWidth: ~'calc(100% - @{containerEl}px)';

@breakpointNoRooms: 840;
@breakpointSingleSidebar: 1280;
@breakpointDoubleSidebar: 1600;

.leftColumn() {
    .calc-width(100, @gridWidth);

    /* Hide Rooms ***/
    @media screen and (max-width: ~'@{gridWidth}px') {
        .hide();
    }

    /* Fixed Width from this point ***/
    @media screen and (min-width: ~'@{containerWidth}px') {
        width: ~'@{roomsWidth}px';
    }
}

.rightColumn() {
    width: ~'@{gridWidth}px';

    @media screen and (max-width: ~'@{gridWidth}px') {
        width: 100%;
    }
}

/* Reservation Search + Dates + Filters ***/
.diary-nightly-search-form {
    position: relative;
    padding: 0 10px;
    background: rgba(0,0,0,.1);
    .show();
    .size(60px, 100%);
    #flexbox > .parent(row wrap, '', '', '');

    .button {
        position: relative;
        overflow: visible;
        .square(40px);

        .count {
            position: absolute;
            background-color: @logoPrimary;
            color: @white;
            font-size: 11px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            left: -5px;
            top: -5px;
            text-indent: initial;
            z-index: 10;
            .square(20px);
        }

        &:focus,
        &:active {

            &.with-icon {
                &.only-icon {
                    overflow: visible;
                }
            }
            
        }

        &.active {
            .box-shadow(inset 1px 1px 1px rgba(0,0,0,.3));
            .gradient (@logoGradientEnd, @logoGradientStart);

            .count {
                background-color: @white;
                color: @logoPrimary;
            }
        }
    }

    .entry {
        padding: 10px 0;

        &.date {
            width: 270px;

            .entry-data,
            .button {
                .pull-left;
            }

            .icon-double-arrow {
                background-size: 96px;
                background-position: 3px -1227px;
            }

            .button {
                &:first-child {
                    #border-radius > .right(0);
                }

                &:last-child {
                    #border-radius > .left(0);
                }
            }

            .entry-data {
                position: relative;
                background: @white @calendar no-repeat 94% 10px;
                background-size: 20px;
                height: 40px;
                .box-shadow(~'inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1), 1px 1px 0 rgba(0,0,0,.15)');
                .calc-width(100, 80);
                .show();

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 99;
                    cursor: pointer;
                    .square(100%);
                    .opacity(0);
                }

                .date-range {
                    line-height: 40px;
                    font-size: 16px;
                    font-weight: 600;
                    display: inline-block;
                    padding-left: 10px;
                }

                @media @highdpi {
                    background-image: @calendar2x;
                }

                &:hover { background-position: 94% -40px; }
            } 
        }

        &.switch {
            .switch-button {
                background: rgba(0,0,0,.1);
                #border-radius > .rounded();
                .show;
                .size( 40px, 100% );

                input {
                    .square(100%);
                }
                
                .data-off,
                .data-on { 
                    font-size: 14px;
                    line-height: 30px;
                    height: 30px;
                    text-transform: uppercase;

                    .switch-icon {
                        color: @black;
                        text-shadow: none;
                        .clickable;
                        background: @white;
                    }

                    .value { 
                        color: @grey3;
                        font-weight: 600; 
                    }

                    &.data-off { 
                        left: auto;
                        right: 0;

                        .switch-icon { margin: 0 5px 0 0; }
                    }
                    
                    &.data-on { 
                        left: auto;
                        right: 100%;

                        .switch-icon { margin: 0 0 0 5px; }
                    }
                }

                &.on {
                    .data-off { left: auto; right: -100%; }
                    .data-on { left: auto; right: 0; }
                }
            }
        }

        &.switch-view {
            width: 75px;

            .switch-button {
                background: rgba(0,0,0,.1);
                #border-radius > .rounded();
                .size(40px, 100%);
                .show;

                .data-off,
                .data-on { 
                    font-size: 21px;
                    line-height: 30px;
                    height: 30px;

                    .switch-icon {
                        color: @grey3;
                        text-shadow: none;
                        .clickable;
                        background: @white;
                    }

                    .value { 
                        color: @grey2;
                        font-weight: 600; 
                    }

                    &.data-off { 
                        left: auto;
                        right: 0;

                        .switch-icon { margin: 0 5px 0 0; }
                    }
                    
                    &.data-on { 
                        left: auto;
                        right: 100%;

                        .switch-icon { margin: 0 0 0 5px; }
                    }
                }

                &.on {
                    .data-off { left: auto; right: -100%; }
                    .data-on { left: auto; right: 0; }
                }
            }
        }

        &.switch-available {
            width: 100px;
            .float();

            .switch-button {
                width: 100px;
                float: left;
            }

            .notice {
                margin-left: 10px;
                font-weight: 600;
                line-height: 40px;
                height: 40px;
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 0;
                text-align: center;
                text-transform: uppercase;
                background: lighten(@yellow, 30);
                .pull-left;
                .calc-width(100, 110);
                .nowrap();
                .hide();
            }

            &.show-notice {
                .calc-width(100, 550);

                .notice { .show(); }
            }
        }

        &.search {
            position: relative;
            .calc-width(100, 710);

            input {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                color: @logoPrimary;
                background: @white @icons2x 10px 13px no-repeat;
                background-size: 120px;
                width: 100%;
                padding: 0 32px;
                z-index: 400;
                #border-radius > .rounded(25px);
            }

            .clear-query {
                .clear-input(20px, 20px);
            }

            .result-count {
                position: absolute;
                top: 20px;
                right: 50px;
                color: @grey3;
                font-size: 13px;
                text-transform: uppercase;
                z-index: 420;
            }
        }

        &.filters {
            width: 140px;
            .float();

            .icons {
                &.icon-filter-room {
                    width: 25px;
                    margin-left: -12px;
                }
            }

            .button {
                .pull-left;
                .show();

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            &.show-one {
                width: 90px;
            }
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    /* Reservation Search ***/
    .diary-search {
        position: absolute;
        top: 0;
        left: -10px;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 60px 0 10px 0;
        background-color: @grey1;
        overflow: hidden;
        height: 390px;
        width: ~'calc(100% + 20px)';
        z-index: 320;
        .box-shadow();

        .highlight {
            color: @logoPrimary;
        }

        .list-header,
        .guest {
            width: 100%;
            #flexbox > .parent(row wrap,'','','');

            .room,
            .nights {
                text-align: right;
            }

            .room { width: 40px; }
            .nights { width: 60px; }
        }

        .list-header {
            font-size: 14px;
            padding: 0 10px;

            .name { .calc-width(100, 100); }
        }

        .guest {
            cursor: pointer;
            padding: 8px;

            .data {
                .calc-width(100, 100);
                #flexbox > .parent(row wrap,'','','');
            }

            > div {
                .nowrap();
            }

            .name,
            .nights {
                font-weight: 600;
            }

            .pending {
                color: @grey2;
            }

            .guest-status {
                margin-right: 5px;
                .show();
                .square(20px);
            }

            .information {
                .calc-width(100, 30);
                #flexbox > .parent(column, center, '', '');

                .icons {
                    font-size: 13px;
                    padding-left: 14px;
                    background-size: 90px;

                    &.icon-guest-company { 
                        color: @ccard; 
                        background-position: 0 -570px;
                    }
                    
                    &.icon-guest-travelagent { 
                        color: @tacard; 
                        background-position: 0 -615px;
                    }

                    &.icon-group { 
                        color: @groupcard; 
                        background-position: 0 -60px;
                    }

                    &.icon-allotment { 
                        color: @allotmentcard; 
                        background-position: 0 -6239px;
                    }
                }

                &.with-card {
                    .name,
                    .icons {
                        line-height: 12px;
                        height: 12px;
                    }
                }
            }

            &.no-status {
                .information {
                    .calc-width(100, 90);
                }

                .arrival {
                    font-size: 13px;
                    width: 90px;
                }
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:not(.no-room) {
                background-color: @white;
                cursor: pointer;
                .box-shadow();
            }
        }

        .list {
            position: relative;
            padding: 0 10px;
            .calc-height(100, 20);

            .iScrollVerticalScrollbar {
                right: 3px;
                top: 0px;

                .iScrollIndicator {
                    background: rgba(0,0,0,0.15);
                }
            }                
        }
    }

    /* Screen big enough to show two columns  ***/
    @media screen and (min-width: ~'@{breakpointDoubleSidebar}px') {
        .entry {
            
            &.search {
                .calc-width(100, 670);
            }

            &.switch-available {
                width: 200px;

                .switch-button {
                    width: 200px;
                }

                .value,
                .switch-icon {
                    position: relative;
                    .hide-text();

                    &:after {
                        content: attr(data-long);
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-indent: 0;
                        .square(100%);
                        .show();
                    }
                }

                .notice {
                    .calc-width(100, 210);
                }

                &.show-notice {
                    .calc-width(100, 460);
                }
            }

            &.filters{
                .hide();
            }
        }
    }
}

/* Reservation Edit */
.diary-nightly-edit-form {
    position: relative;
    background: @purpleStart;
    .show();
    .size(60px, 100%);
    .float();

    .guest,
    .actions {
        .pull-left;
        padding: 10px;
    }

    .guest {
        .calc-width(100, 400);
        #flexbox .parent( row wrap, '', center, '' );

        .button {
            font-size: 14px;
        }
    }

    .actions {
        width: 400px;
        #flexbox .parent( row wrap, flex-end, center, '' );
        .box-shadow( -2px 0px 0px rgba(0,0,0,0.2));

        .button {
            font-size: 14px;
            padding: 0 15px;

            &.blank:hover {
                color: @white;
            }

            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    .guest-image {
        .square(40px);
        margin-right: 10px;
    }

    .name {
        /* Have a max with minus the guest image and stay card button ***/
        margin-right: 20px;
        font-size: 20px;
        font-weight: 600;
        color: @white;
        .calc-max-width(100, 185);
        .nowrap();
    }
}

/* Grid + Sidebar ***/
#diary-nightly {
    top: 120px;
    background-color: rgba(0,0,0,.05);
    .calc-height(100, 120);
    #flexbox > .parent(row wrap, '', '', '');

    .highlight {
        color: @logoPrimary;
    }

    .room {
        position: relative;
        font-size: 13px;
        line-height: 1;
        text-align: right;
        background-color: @white;
        text-transform: uppercase;
        cursor: pointer;
        padding: 5px;
        .size(40px, 100%);
        .box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
        #flexbox > .parent(column wrap, center, '', '' );

        &.highlighted {
            background-color: fade(@orange, 30%);
        }

        &.not-clickable {
            cursor: default;
        }
    }

    .room-number {
        font-size: 18px;
        line-height: 14px;
        font-weight: 600;
        width: 100%;
        .show();
        
        &.clean,
        &.inspected{ color: @green; }

        &.pickup { color: @orange; }

        &.dirty { color: @red; }
        &.out { color: @grey3; }
    }

    .room-type {
        width: 100%;
        .show();
        .nowrap();
    }

    .suite-room {
        background-color: #efc080;
        color: @white;

        .icon-suite-white {
            background-position: 4px -6904px;
            background-size: 80px;
        }
    }

    .suites {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10; 
        display: block;

        .suite-room {
            text-align: center;
            font-weight: 600;
            font-size: 10px;
            .size(20px, 25px);
            display: block;

            .icon-suite-white {
                height: 20px;
                background-position: 4px -6900px;
                .show();
            }

            &:not(:first-child){
                .box-shadow(inset 1px 0 0 rgba(0,0,0,0.1));
            }
        }

        .suites-rooms {
            position: absolute;
            bottom: -5px;
            left: 35px;
            background-color: #efc080;
            width: 100px;
            #border-radius > .rounded();
            padding: 10px 10px 5px 10px;
            text-align: center;

            &:after {
                content:'';
                position: absolute;
                display: block;
                .square(8px);
                transform: rotate(45deg);
                background: #efc080;
                left: -4px;
                bottom: 11px;
            }

            &.top {
                bottom: auto;
                top:-5px; 

                &:after {
                    bottom: auto;
                    top: 11px;
                }
            }

            > strong {
                color: #98794f;
                font-weight: 600;
                font-size: 12px;
                margin-bottom: 5px;
                display: block;
            }

            .suite-room {
                text-align: left;
                font-size: 12px; 
                font-weight: 400;
                width: 100%;
                .box-shadow(0 1px 0 rgba(0,0,0,0.05));
                &:last-child { 
                    .box-shadow(none);
                }
                &:not(:first-child){
                    margin-top: 1px;
                }

                .icon-suite-white {
                    display: inline-block;
                    vertical-align: middle;
                    .size(20px, 25px);
                }
            }
        }
    }

    /* Grid - Timeline ***/
    .grid-timeline {
        background-color: @gcard;
        z-index: 0;
        position: relative;
        .size(40px, 100%);
        .box-shadow(0 1px 2px rgba(0,0,0,.2));
        #flexbox > .parent(row wrap, '', '', '');
    }

    /* Grid - Timeline - Room Search ***/
    .grid-room-search {
        position: relative;
        .leftColumn();

        input {
            margin: 5px;
            font-weight: 600;
            color: @logoPrimary;
            line-height: 30px;
            min-height: 30px;
            height: 30px;
            .placeholder-text(14px, 30px, 400, @grey3);
            .calc-width(100, 10);
        }

        .clear-query {
            .clear-input();
        }
    }

    /* Grid - Timeline - Dates ***/
    .grid-dates{
        color: @white;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        .rightColumn();
        #flexbox > .parent(row wrap, '', center, '');

        strong {
            font-weight: 600;
        }

        .days {
            #flexbox > .parent(row nowrap, '', '', '');
        }

        .day {
            text-align: center;
           .box-shadow(inset 1px 0 0 rgba(0,0,0,.5));

            span,
            strong {
                .show();
            }
        }

        .today {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: fade(@yellow, 20);
                height: 9999px;
                .show();
            }
        }

        .weekend {
            background-color: rgba(95,131,146,1);
        }
    }

    /* Grid Stay Range */
    .grid-stay-range {
        position: absolute;
        top: 0;
        /*left: ~'@{roomsWidth}px';
        left: ~"calc(100% - @{gridWidth}px)";*/
        left: ~"calc(100% - @{gridWidth}px)";
        width: ~'@{gridWidth}px';
        height: 40px;
        z-index: 201;

        .handle {
            top: 10px;
            text-transform: uppercase;
            .size(40px, 85px);
            position: absolute;
            .no-transition();

            .title {
                text-align: center;
                font-size: 12px;
                line-height: 1;
                color: @white;
                padding: 9px 5px 0 5px;
                z-index: 9;
                position: absolute;
                top: 0;
                left: 0;
                .square(100%);
                .show;
                .gradient(@purpleStart, @purpleEnd);
                #border-radius > .rounded(6px);

                .date {
                    font-weight: 600;
                    font-size: 13px;
                    .show;
                }
            }

            .line {
                position: absolute;
                top: 40px;
                left: 0;
                background: @purpleEnd;
                .size(2000px, 2px);
                .show;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                .square(0px);
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid @purpleEnd;
            }

            &.departure:not(.right) {
                .title {
                    left: -83px;
                }

                &:after {
                    border-left-color: transparent;
                    left: -18px;
                    border-right: 10px solid @purpleEnd;
                }
            }

            &.arrival {
                &.left {
                    .title {
                        left: -83px;
                    }

                    &:after {
                        border-left-color: transparent;
                        left: -18px;
                        border-right: 10px solid @purpleEnd;
                    }
                }
            }
        }

        /* Hide Rooms ***/
        @media screen and (max-width: ~'@{gridWidth}px') {
            left: 0;
            width: 100%;
        }

        /* Show Rooms ***/
        @media screen and (min-width: ~'@{containerWidth}px') {
            left: ~'@{roomsWidth}px';
        }
    }

    /* Grid - Room Search Results ***/
    .grid-room-search-results {
        position: absolute;
        top: 40px;
        left: 0;
        background-color: @grey1;
        z-index: 200;
        .hide();
        .calc-height(100, 40);
        .leftColumn();
        .transition();
        .box-shadow(0 -2px 4px rgba(0,0,0,.3));

        .iScrollVerticalScrollbar {
            top:0;
            right: 10px;

            .iScrollIndicator { background:rgba(0,0,0,0.1); }
        }

        &.visible {
            .show();
        }
    }

    /* Grid Content - Rooms & Reservations ***/
    .grid-wrapper,
    .grid-inner {
        .show();
        .square(100%);
    }

    .grid-content {
        position: relative;
        z-index: 70;
        width: 100%;
        .calc-height(100, 40);

        .wrapper {
            min-height: 100%;
            #flexbox > .parent(row wrap, '', '', '');
        }

        .iScrollVerticalScrollbar {
            right: 10px;
        }

        &.top-pagination {
            .grid-rooms,
            .grid-reservations {
                padding-top: 40px;
            }
        }

        &.bottom-pagination {
            .grid-rooms,
            .grid-reservations {
                padding-bottom: 40px;
            }
        }

        &.dual-pagination {
            .grid-rooms,
            .grid-reservations {
                padding: 40px 0;
            }
        }

        @media screen and (min-width: ~'@{containerWidth}px') {
            width: ~'@{containerEl}px';
        }
    }

    /* Grid Content - Rooms ***/
    .grid-rooms {
        position: relative;
        z-index: 40;
        background-color: @white;
        .leftColumn();
        .box-shadow(2px 0 4px rgba(0, 0, 0, .2));
    }

    /* Grid Content - Reservations ***/
    .grid-reservations {
        z-index: 30;
        .box-shadow(1px 0 2px 1px rgba(0, 0, 0, .2));
        .rightColumn();

        .grid-row {
            position: relative;
            .size(40px, 100%);

            &.highlighted {
                background-color: fade(@orange, 30%);
            }
        }
    }

    /* Grid Content - Pagination ***/
    .grid-pagination {
        position: absolute;
        left: 0;
        height: 40px;
        z-index: 50;
        padding: 5px;
        .leftColumn();

        .button {
            font-size: 14px;
            line-height: 30px;
            padding: 0 10px;
            width: 100%;
        }

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }
    }

    /* Grid Content - Reservations - Block ***/
    .reservation {
        position: absolute;
        top: 5px;
        height: 30px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        line-height: 30px;
        background-color: @white;
        .nowrap();
        #flexbox > .parent(row nowrap, '', center, '');
        #border-radius > .rounded();

        .reservation-data,
        .reservation-icons {
            #flexbox > .parent(row nowrap, '', center, '');
        }

        .reservation-data {
            max-width: 100%;
            order: 1;
        }

        .reservation-icons {
            order: 2;
        }

        /* Guest Name ***/
        .name {
            position: relative;
            padding: 0 5px;
            .nowrap();
        }

        .vip {
            margin-right: 5px;
        }

        /* Icons ***/
        .icons {
            .square(30px);
            z-index: 10;
        }

        .icon-diary-lock {
            background-color: @tacard;
            background-position: 10px -6058px;
            background-size: 80px;
        }

        .icon-allotment-large {
            background-color: @allotmentcard;
            background-position: 8px -4879px;
            background-size: 70px;
        }

        .icon-group-large {
            background-color: @groupcard;
            background-position: 8px -4495px;
            background-size: 70px;
        }

        .suite-room {
            position: relative;
            padding: 0 5px 0 25px;
            text-align: left;

            .icons {
                width: 20px;
                position: absolute;
                left:0 !important;
                background-position: 4px -6895px;
            }
        }

        &.oos,
        &.ooo {
            z-index: 1;
        }

        /* Clickable reservations ***/
        &:not(.oos):not(.ooo):not(.blocked):not(.departed) {
            cursor: pointer;
            z-index: 2;
        }

        /* Reservation Status ***/
        &.check-in,
        &.pre-check-in,
        &.inhouse,
        &.check-out {
            .name {
                padding-left: 20px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: @icons2x;
                    background-repeat: no-repeat;
                    background-size: 90px;
                    z-index: 9;
                    .size(30px, 20px);
                    .show();
                }
            }
        }

        &.inhouse {
            background-color: @blue;
            color: @white;

            .name {
                &:after {
                    background-position: 5px -141px;
                }
            }
        }

        &.check-in {
            background-color: @green;
            color: @white;

            .name {
                &:after {
                    background-position: 5px -81px;
                }
            }
        }

        &.pre-check-in {
            background-color: @orange;
            color: @white;

            .name {
                &:after {
                    background-position: 5px -81px;
                }
            }
        }

        &.check-out {
            font-weight: 600;
            background-color: @red;
            color: @white;

            .name {
                &:after {
                    background-position: 5px -111px;
                }
            }
        }

        &.departed {
            font-weight: 600;
            color: lighten(@red, 10) ;
            background: lighten(@red, 30);
        }

        &.no-show,
        &.cancel {
            color: @grey3;
            background-color: @grey2;
        }

        &.cancel {
            .name {
                &:after {
                    background-position: 5px -171px;
                }
            }
        }

        &.ooo,
        &.oos {
            font-style: italic;
            text-align: center;
            #flexbox > .parent('', center, '', '');
            .box-shadow(inset 1px 1px 0 rgba(0,0,0,.1));
        }

        &.ooo {
            background-color: @grey3;
            color: @white;
        }

        &.oos {
            background-color: @grey2;
            color: @grey3;
        }

        &.dayuse {
            z-index: 4;
            .gradient(#6895e4, #375fa3);

            .reservation-data {
                .square(100%);
                #flexbox > .parent(row wrap, center, '', '');
            }

            .icons {
                .square(12px);
            }
        }

        /* Past Reservation ***/
        &.passed {
            #flexbox > .parent('', flex-end, '', '');

            .reservation-data {
                order: 2;

                .name {
                    order: 2;
                }

                .vip {
                    margin: 0 0 0 5px;
                }
            }

            .reservation-icons {
                order: 1;
            }

            /* Reservation Status ***/
            &.check-in,
            &.pre-check-in,
            &.inhouse,
            &.check-out {
                .name {
                    padding: 0 20px 0 5px;

                    &:after {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        /* Blocked Reservation - Web in progress ***/
        &.blocked {
            color: rgba(0,0,0,.4);
            cursor: default;
            background-color: @grey2;
            #flexbox > .parent('', center, '', '');

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background: repeating-linear-gradient(135deg, rgba(0,0,0,.05), rgba(0,0,0,.05) 4px, transparent 0, transparent 12px);
                .square(100%);
            }
        }

        /* Day Stay - Today & Future Reservations ***/
        &.day-stay {
            .reservation-data {
                width: 100%;
            }

            .name {
                position: relative;
                width: 100%;
                .hide-text();

                &:after {
                    content: attr(data-initials);
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-indent: 0;
                    text-align: center;
                    .square(100%);
                }
            }
        }

        /* Day Stay - Today ***/
        &.day-stay:not(.future) {
            .reservation-data {
                position: relative;
            }

            .day-stay-icon {
                position: absolute;
                top: 0;
                left: 0;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    background: @icons2x no-repeat;
                    background-size: 65px;
                    .show();
                }

                &:before {
                    background-color: @green;
                    background-position: 4px -61px;
                }

                &:after {
                    background-color: @red;
                    background-position: 4px -82px;
                }
            }
        }

        /** Reservation is being edited */
        &.editing {
            background-color: @purpleStart;
            color: @white;
        }

        /** Unassigned room - available reservation */
        &.unassigned {
            justify-content: center;
            color: @white;
            .box-shadow(~"0px 1px 1px rgba(0,0,0,.3)");
            .gradient (@logoGradientStart, @logoGradientEnd );
            .hide();

            .reservation-data {
                justify-content: center;
            }
        }
    }

    /* Sidebar ***/
    .diary-nightly-sidebar {
        position: absolute;
        top: 0;
        right: -413px;
        text-transform: uppercase;
        padding: 0 10px;
        z-index: 80;
        .size(100%, ~'@{filtersWidth}');
        .background(@white);
        .transition();

        /* Title ***/
        .sidebar-header {
            text-align: center;
            line-height: 1;
            padding: 20px 10px 0 10px;
            height: 60px;

            h2 {
                font-size: 18px;
                font-weight: 600;
            }

            p {
                color: @grey3;
                font-size: 13px;
                margin: 0;
            }
        }

        /* Content ***/
        .scrollable {
            position: relative;

            .iScrollVerticalScrollbar {
                top: 0;
                bottom: 0;
                right: 0;

                .iScrollIndicator {
                    background-color:rgba(0,0,0,0.15);
                }
            }
        }

        &.visible {
            .translate3d(-413px, 0, 0);
            .box-shadow(-1px 0 2px 1px rgba(0, 0, 0, .2));
        }
    }

    /* Sidebar - Blocks - Filters ***/
    .diary-nightly-filters {
        min-width: 256px;

        .filters-list {
            .calc-height(100, 140);

            .wrapper {
                padding-bottom: 10px;
            }
        }

        .entry {
            padding: 10px 0;
            .box-shadow(0 1px 0 rgba(0,0,0,.15));
        }

        .multi-select {
            position: relative;
            line-height: 1;
            height: 40px;
            padding: 0 10px;
            background-color: @white;
            cursor: pointer;
            #border-radius > .rounded();
            .box-shadow();
            .show();

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background: @white @selectArrow no-repeat 50% 50%;
                background-size: 6px 4px;
                pointer-events: none;
                z-index: 999;
                .size(100%, 25px);
                #border-radius > .right();
            }

            &.with-label {
                padding-top: 15px;

                label {
                    position: absolute;
                    top: 6px;
                    font-size: 13px;
                    color: @grey3;
                    margin: 0;
                }

                .value {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 25px;
                }
            }

            &.active {
                .box-shadow(1px 0 0 rgba(0,0,0,.15));
                #border-radius > .bottom(0px);

                &:after {
                    .rotate(180deg);
                }
            }
        }

        .multi-select-options {
            background-color: @white;
            .box-shadow();
            .transition();
            #border-radius > .bottom();

            .checkbox {
                font-size: 14px;
                line-height: 1.2;
                white-space: normal;
                color: @grey4;
                padding: 0 10px;
                margin-bottom: 0;
                min-height: 40px;
                width: 100%;
                cursor: pointer;
                #border-radius > .rounded(0px);
                #flexbox > .parent(row nowrap, '', center, '');

                .icon-form {
                    position: static;
                    top: auto;
                    left: auto;
                    margin-right: 10px;
                    .show();
                    .square(20px);
                }

                .text {
                    .calc-width(100, 30);
                }

                &.checked {
                    color: @textColor;
                }

                &:not(:last-child) {
                    .box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
                }
            }

            &.halfs {
                #flexbox > .parent(row wrap, '', '', '');

                .checkbox {
                    width: 50%;
                }
            }
        }

        .actions {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            background: #bfbfbf @darkTexture;
            z-index: 9;
            text-align: center;
            .box-shadow(0 -1px 1px rgba(0,0,0,.15));
            .size(80px, 100%);

            .button {
                width: 120px;
            }
        }

        /* Screen big enough to show two columns ***/
        /* Commenting for now to fix CICO-40330 */
        /* @media screen and (min-width: ~'@{breakpointDoubleSidebar}px') {
            width: 256px;
        } */
    }

    /* Sidebar - Blocks - Unassigned ***/
    .diary-nightly-unassigned {
        min-width: 320px;

        .unassigned-labels {
            font-size: 13px;
            line-height: 30px;
            padding: 0 10px;
            #flexbox > .parent(row wrap, '', '', '');
        }

        .unassigned-list {
            .calc-height(100, 90);

            .wrapper {
                padding: 0 10px 10px 10px;
            }
        }

        /* Columns ***/
        .data {
            padding-right: 5px;
            .calc-width(100, 100);
            #flexbox > .parent(row wrap, '', '', '');
        }

        .nights {
            width: 40px;
            text-align: right;
        }

        .arrival {
            width: 60px;
        }

        /* Row ***/
        .guest {
            position: relative;
            color: @black;
            line-height: 1;
            padding: 5px 10px;
            background-color: @white;
            cursor: @draggable, pointer;
            cursor: @draggable 16 16, pointer;
            .box-shadow();
            #flexbox > .parent(row wrap, '', center, '');
            #border-radius > .rounded();

            .vip {
                font-size: 8px;
                line-height: 14px;
                margin-left: 4px;
                .square(14px);
            }

            .name,
            .nights {
                font-size: 14px;
                font-weight: 600;
            }

            .arrival,
            .room {
                font-size: 13px;
            }

            .name,
            .room {
                .nowrap();
            }

            .name {
                .calc-max-width(100, 20);
            }

            .room {
                text-align: left;
                padding: 0;
                height: auto;
                background-color: transparent;
                .box-shadow(none);
            }

            &:not(.no-status) {
                color: @white;
            }

            &.check-in,
            &.pre-check-in {
                padding-left: 25px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: @icons2x 7px -77px no-repeat;
                    background-size: 90px;
                    .size(100%, 20px);
                    .show();
                }
            }

            &.check-in {
                background-color: @green;
            }

            &.pre-check-in {
                background-color: @logoPrimary;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:active {
                cursor: @dragging, move;
                cursor: @dragging 16 16, move;
            }
        }

        /* Screen big enough to show two columns ***/
        @media screen and (min-width: ~'@{breakpointDoubleSidebar}px') {
            width: ~'calc(100% - @{breakpointSingleSidebar}px)';

            &.visible {
                .translate3d(-665px, 0, 0);
            }
        }
    }

    /* Overlay for search and filters ***/
    &.with-overlay {
        overflow: visible;

        .diary-nightly-header {
            .entry {
                z-index: 100;
            }
        }

        &:after {
            content:'';
            position: absolute;
            top: -60px;
            left: 0;
            background: fade(@black, 50);
            z-index: 120;
            width: 100%;
            .extend-height(100, 60);
            .show();
        }
    }

    /* Overlay when searching rooms */
    &.with-reservation-overlay {
        overflow: visible;

        &:before {
            content:'';
            position: absolute;
            top: 0px;
            left: ~'calc(100% - @{gridWidth}px)';
            background: fade(@black, 50);
            z-index: 120;
            width: 100%;
            .extend-height(100, 60);
            .show();

             /* Fixed Width from this point ***/
            @media screen and (min-width: ~'@{containerWidth}px') {
                left: ~'@{roomsWidth}px';
                .calc-width(100, @roomsWidth);
            }
        }

        .grid-content {
            &.scroll-vertical {
                overflow-y: hidden !important;
            }
        }
        .grid-room-search-results {
            &.scroll-vertical {
                overflow-y: visible !important;
            }
        }
    }

    /* 7 Days ***/
    &.diary-days-7 {

        /* Grid Header - Timeline ***/
        .grid-dates{
            .day,
            .today:after {
                width: 120px;
            }
        }

        /* Grid Content - Reservations ***/
        .grid-reservations {
            background-image: @diaryGrid7;
            background-size: 840px 1px;

            &.firstday-mon {
                background-position: 0;
            }

            &.firstday-tue {
                background-position: -120px;
            }

            &.firstday-wed {
                background-position: -240px;
            }

            &.firstday-thu {
                background-position: -360px;
            }

            &.firstday-fri {
                background-position: -480px;
            }

            &.firstday-sat {
                background-position: -600px;
            }

            &.firstday-sun {
                background-position: -720px;
            }
        }

        /* Reservation ***/
        .reservation {
            /* Day Stay Reservation ***/
            &.day-stay:not(.future) {
                .reservation-data {
                    padding-left: 15px;
                }

                .day-stay-icon {
                    .size(100%, 15px);

                    &:before,
                    &:after {
                        left: 0;
                        .size(15px, 100%);
                    }

                    &:before {
                        top: 0;
                    }

                    &:after {
                        top: 15px;
                    }
                }
            }
        }
    }

    /* 21 Days ***/
    &.diary-days-21 {

        /* Grid Header - Timeline ***/
        .grid-dates{
            .day,
            .today:after {
                width: 40px;
            }
        }

        /* Grid Content - Reservations ***/
        .grid-reservations {
            background-image: @diaryGrid21;
            background-size: 280px 1px;

            &.firstday-mon {
                background-position: 0;
            }

            &.firstday-tue {
                background-position: -40px;
            }

            &.firstday-wed {
                background-position: -80px;
            }

            &.firstday-thu {
                background-position: -120px;
            }

            &.firstday-fri {
                background-position: -160px;
            }

            &.firstday-sat {
                background-position: -200px;
            }

            &.firstday-sun {
                background-position: -240px;
            }
        }

        /* Reservation ***/
        .reservation {
            /* Day Stay Reservation ***/
            &.day-stay:not(.future) {
                .reservation-data {
                    padding-top: 15px;
                    #flexbox > .parent('', '', flex-start, '');
                }


                .day-stay-icon {
                    .size(15px, 100%);

                    &:before,
                    &:after {
                        top: 0;
                        .size(15px, 100%);
                    }

                    &:before {
                        left: 0;
                    }

                    &:after {
                        left: 15px;
                    }
                }

                .name {
                    line-height: 15px;
                }
            }
        }
    }

    /* Assigning rooms */
    &.assigning-rooms {
        .reservation {
            &:not(.unassigned) {
                background: rgba(0,0,0,.1);
                cursor: default;
                .box-shadow(none);

                &:before,
                .name,
                .reservation-data,
                .reservation-icons {
                    display: none !important;
                }
            }

            &.unassigned {
                .show();
            }
        }

        &.diary-days-21 {
            .reservation {
                &.unassigned {
                    .name {
                        width: 10px;
                        background-image: @arrowWhiteRight;    
                        background-size: 10px 10px, 100%, 100%;
                        background-repeat: no-repeat, repeat;
                        background-position: right center;
                        .hide-text();

                        @media @highdpi { 
                            background-image: @arrowWhiteRight2x;
                        }
                    }
                }
            }
        }
    }

    /* Showing available slots to book */
    &.showing-available {
        .diary-nightly-unassigned {
            .hide();
        }

        .reservation {
            &:not(.unassigned) {
                background: rgba(0,0,0,.1);
                cursor: default;
                .box-shadow(none);

                &:before,
                .name,
                .reservation-data,
                .reservation-icons {
                    display: none !important;
                }                
            }

            &.unassigned {
                .gradient( @greenStart, @greenEnd );
                .show();

                &:hover,
                &:active { 
                    .gradient(@greenEnd, @greenStart);
                }
                
                .name {
                    background-image: @arrowWhiteRight;    
                    background-size: 10px 10px, 100%, 100%;
                    background-repeat: no-repeat, repeat;
                    background-position: right center;
                    padding-right: 15px;
 
                    @media @highdpi { 
                        background-image: @arrowWhiteRight2x;
                    }
                }
            }
        }

        &.diary-days-21 {
            .reservation {
                &.unassigned {
                    .name {
                        padding-right: 0;
                        width: 10px;
                        .hide-text();
                    }
                }
            }
        }
    }
}