<div role="dialog" id="modal" class="modal-show" ng-cloak>
	<form method="post" action="{action}" id="new-payment" name="new-payment" class="modal-content form new-content select-card">
		<button id="modal-close" type="button" class="modal-close" ng-click="closeDialog()">
			<span class="icons icon-close invert">
		</button>

		<strong class="h2 message">New payment method</strong>

		<div id="set-payment" class="payment-form">

			<!-- Payment type -->
			<div class="entry full-width" >
				<label for="payment-type">Payment type</label>
				<div class="select">
					<select name="payment-type" ng-change="changePaymentType()" ng-model="dataToSave.paymentType" class="placeholder">
						<option value="" selected>Select Payment Type</option>
						<option ng-repeat="paymentOptions in renderData" value="{{paymentOptions.name}}">{{paymentOptions.description}}</option>
					</select>
				</div>
			</div>
			
			<div class="entry full-width" id="selected-card"  ng-show="showSelectedCreditCard">
				<label>Credit Card (<span>Tap to change</span>)</label>
				<label class="active-item item-payment" id="pay-with-amex">
					<figure class="card-logo">
						<img src="/assets/{{renderData.creditCardType}}.png" alt="">
					</figure>
					<span class="number">Ending with 
						<span class="value number">{{renderData.endingWith}}</span>
					</span>
					<span class="date">Date 
						<span class="value date">{{renderData.cardExpiry}}</span>
					</span>
				</label>
			</div>
			
			<div ng-include="'/assets/partials/roverPayment/rvCardOptions.html'"  ></div>
			

			<!-- Checkboxes -->
			<div class="entry margin" ng-show="showInitialScreen">
				<label class="checkbox inline" for="add-in-guest-card" ng-class="{'checked': savePayment.addToGuest}"> 
					<span class="icon-form icon-checkbox" ng-class="{'checked': savePayment.addToGuest}"></span>
					<input name="checkin" id="add-in-guest-card" ng-model="savePayment.addToGuest" type="checkbox" />
					Add to Guest Card </label>
			</div>
			<div class="entry" ng-show="false">
				<!-- Show only when payment type is defined as CC -->
				<label class="checkbox inline" for="authorize-card" > <span class="icon-form icon-checkbox"></span>
					<input name="authorize-card" id="authorize-card" value="1" type="checkbox" />
					Do Not Authorize Card </label>
			</div>

			<!-- Buttons -->
			<div class="actions"  ng-show="showInitialScreen">
				<button type="button" class="button blank modal-close" ng-click="closeDialog()">
					Close
				</button>
				<button type="button" class="button green" ng-click="addNewPayment()">
					Add
				</button>
			</div>
		</div>
	</form>
</div>