<div role="dialog" id="modal" class="modal-show">
	<form method="post" action="{action}" id="new-payment" name="new-payment" class="modal-content form new-content select-card">
		<button id="modal-close" type="button" class="modal-close">
			<span class="icons icon-close invert">
		</button>

		<strong class="h2 message">New payment method</strong>

		<div id="set-payment" class="payment-form">

			<!-- Payment type -->
			<div class="entry full-width" >
				<label for="payment-type">Payment type</label>
				<div class="select">
					<select name="payment-type" ng-change="changePaymentType()" ng-model="dataToSave.paymentType" class="placeholder">
						<option value="" selected>Select Payment Type</option>
						<option ng-repeat="paymentOptions in renderData" value="{{paymentOptions.name}}">{{paymentOptions.description}}</option>
						
					</select>
				</div>
			</div>
			
			<div ng-include="'/assets/partials/roverPayment/rvCardOptions.html'"  ></div>
			

			<!-- Checkboxes -->
			<div class="entry margin" ng-show="showInitialScreen">
				<label class="checkbox inline" for="add-in-guest-card"> <span class="icon-form icon-checkbox"></span>
					<input name="checkin" id="add-in-guest-card" value="1" type="checkbox" />
					Add to Guest Card </label>
			</div>
			<div class="entry" ng-show="showInitialScreen">
				<!-- Show only when payment type is defined as CC -->
				<label class="checkbox inline" for="authorize-card"> <span class="icon-form icon-checkbox"></span>
					<input name="authorize-card" id="authorize-card" value="1" type="checkbox" />
					Do Not Authorize Card </label>
			</div>

			<!-- Buttons -->
			<div class="actions">
				<button type="button" class="button blank modal-close" ng-click="closeDialog()">
					Close
				</button>
				<button type="button" class="button green">
					Add
				</button>
			</div>
		</div>
	</form>
</div>