<fieldset class="holder full-width">
    <div class="form-title">
        <h3 translate><span>{{state.mode}}&nbsp;</span>Mapping</h3>
    </div>
</fieldset>
<fieldset class="holder left">
    <ad-dropdown-name savemodel="mapping.typeof"
                      valueproperty="name"
                      property="text"
                      required="yes"
                      is-disabled="state.mode==='EDIT'"
                      label-in-drop-down="Select Mapping Type"
                      list="state.mappingTypes"
                      label="{{'MAPPING_TYPE'| translate}}"
                      div-class="full-width">
    </ad-dropdown-name>
</fieldset>
<fieldset class="holder left">
    <ad-dropdown-name savemodel="mapping.value"
                      ng-show="mapping.typeof == 'rate'"
                      valueproperty="id"
                      required="yes"
                      property="text"
                      label-properties="['id', 'name']"!
                      label-in-drop-down="Select Value"
                      list="state.rates"
                      label="{{'SNT_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
    <ad-dropdown-name savemodel="mapping.value"
                      ng-show="mapping.typeof == 'room_type'"
                      valueproperty="id"
                      required="yes"
                      property="text"
                      label-properties="['id', 'name']"
                      label-in-drop-down="Select Value"
                      list="state.roomTypes"
                      label="{{'SNT_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
    <ad-dropdown-name savemodel="mapping.value"
                      ng-show="mapping.typeof == 'payment_charge_code'"
                      valueproperty="code"
                      required="yes"
                      property="text"
                      label-properties="['code', 'name']"
                      label-in-drop-down="Select Value"
                      list="staahPaymentCodes"
                      label="{{'SNT_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
    <ad-dropdown-name savemodel="mapping.value"
                      ng-show="mapping.typeof == 'addon'"
                      valueproperty="id"
                      required="yes"
                      property="text"
                      label-properties="['id', 'name']"
                      label-in-drop-down="Select Value"
                      list="state.addons"
                      label="{{'SNT_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
</fieldset>
<fieldset class="holder right">
    <ad-dropdown-name savemodel="mapping.external_value"
                      ng-show="mapping.typeof == 'rate'"
                      valueproperty="id"
                      required="yes"
                      property="text"
                      label-properties="['id', 'name']"!
                      label-in-drop-down="Select Value"
                      list="state.staahMappings.rates"
                      label="{{'EXTERNAL_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
    <ad-dropdown-name savemodel="mapping.external_value"
                      ng-show="mapping.typeof == 'room_type'"
                      valueproperty="id"
                      required="yes"
                      property="text"
                      label-properties="['id', 'name']"
                      label-in-drop-down="Select Value"
                      list="state.staahMappings.room_types"
                      label="{{'EXTERNAL_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
    <ad-dropdown-name savemodel="mapping.external_value"
                      ng-show="mapping.typeof == 'payment_charge_code'"
                      valueproperty="charge_code"
                      required="yes"
                      property="text"
                      label-properties="['charge_code', 'description']"
                      label-in-drop-down="Select Value"
                      list="state.payment_codes"
                      label="{{'EXTERNAL_VALUE'| translate}}"
                      skip-number-conversion="true"
                      div-class="full-width">
    </ad-dropdown-name>
    <ad-textbox inputtype="text"
                ng-if="mapping.typeof === 'addon'"
                value="mapping.external_value"
                label="{{'EXTERNAL_VALUE' | translate}}"
                styleclass="full-width">
    </ad-textbox>
</fieldset>

<div class="actions float">
    <button type="button"
            class="button blank add-data-inline" ng-click="onCancelDetailedView()" translate>
        CANCEL
    </button>
    <button type="button" class="button green" ng-click="onClickSaveNew()" translate ng-show="state.mode=='ADD'">
        {{'SAVE' | translate}}
    </button>
    <button type="button" class="button green" ng-click="onClickUpdate()" translate ng-show="state.mode=='EDIT'">
        {{'UPDATE' | translate}}
    </button>
</div>
