<table class="grid sub-grid" ng-show="showCancelForm || cancelRulesList.length">
	<tr ng-hide="showCancelForm || editCancelRules" ng-repeat="rule in cancelRulesList">
		<td class="offset"> &nbsp; </td>
		<td ng-click="editSingleRule(rule, 'Cancellation Penalties')"><a href>{{ rule.name }}</a></td>

		<td>{{ rule.description }}</td>

		<td width="10" class="delete">
			<a class="icons icon-delete large-icon" ng-click="deleteRule(rule, 'Cancellation Penalties')">Delete this rule</a>		
		</td>
	</tr>

	<tr ng-show="showCancelForm">
		<td class="offset"> &nbsp; </td>
		<td>
			<div style="display: block;" id="add-new" class="edit-data">
				<div class="data-holder">
					<form id="add-addon" name="add-addon" class="form inline-form float">
						<div class="form-title">
							<h3>
								<span>{{ rulesTitle }}</span>
								{{ rulesSubtitle }}
							</h3>
							<em class="status">
								Fields marked with
								<strong>*</strong>
								are mandatory!
							</em>
						</div>

						<fieldset class="holder left float">	
							<ad-textbox styleclass="full-width"
								value="singleRule.name"
								name="name"
								id="name"
								label="Request name"
								placeholder="Enter the request name"
								required="yes"></ad-textbox>

							<ad-textarea rows="4"
								div-class="full-width"
								text-area-class="full-width"
								value="singleRule.description"
								name="desc"
								id="desc"
								label="Description"
								placeholder="Enter the request description"
								required="yes"></ad-textarea>
						</fieldset>

						<fieldset class="holder right float">
							<div class="entry">
								<ad-textbox styleclass="full-width"
									value="singleRule.amount"
									name="amount"
									id="amount"
									label="Amount"
									placeholder="Enter the amount"
									required="yes"></ad-textbox>
							</div>
							<div class="entry">
								<div class="entry full-width">
									<label for="amount-type-id">
										Amount Type
										<strong>*</strong>
									</label>
									<div class="select">
										<select name="amount-type-id" id="amount-type-id" ng-model="singleRule.amount_type">
											<option value="" data-text="Not set" class="placeholder">Choose amount type</option>
											<option value="amount">Amount [{{ currencySym }}]</option>
											<option value="percent">Percent</option>
											<option value="day">Nights</option>
										</select>
									</div>
								</div>
							</div>

							<div class="entry full-width" ng-show="singleRule.amount_type === 'percent'">
								<label for="amount-type-id">
									Per Night or Stay
									<strong>*</strong>
								</label>
								<div class="select">
									<select name="amount-type-id" id="amount-type-id" ng-model="singleRule.post_type_id" ng-options="type.id as type.description for type in postTypes">
										<option value="" data-text="Not set" class="placeholder">Choose night or stay</option>
									</select>
								</div>
							</div>

							<div class="entry margin-right">
								<ad-textbox styleclass="full-width"
									value="singleRule.advance_days"
									name="name"
									id="name"
									label="Days In advance"
									placeholder="Enter the number of days"></ad-textbox>
							</div>
							<div class="entry no-margin-right">
								<div class="entry full-width">
									<label>Time</label>
									<div>
										<div class="select select-col col1-3">
											<select ng-model="singleRule.advance_hour" name="hotel-checkin-hour" id="hotel-checkin-hour" class="styled">
												<option value="" data-text="Not set" class="placeholder">HH</option>
												<option ng-repeat="i in [1, 12, 1, 2] | makeRange" value="{{i}}" ng-selected="i==singleRule.advance_hour" >{{i}}</option>
											</select>
										</div>
										<div class="select select-col col1-3">
											<select ng-model="singleRule.advance_min" name="hotel-checkin-minute" id="hotel-checkin-minutes">
												<option value="" data-text="Not set" class="placeholder">MM</option>
												<option ng-repeat="i in [0, 45, 15, 2] | makeRange" value="{{i}}" ng-selected="i==singleRule.advance_min" >{{i}}</option>
											</select>
										</div>
										<div class="select select-col col1-3">
											<select ng-model="singleRule.advance_primetime" class="styled">
												<option value="" data-text="Not set" class="placeholder">AP</option>
												<option ng-selected="data.check_in_time.primetime == 'AM'" value="AM">AM</option>
												<option ng-selected="data.check_in_time.primetime == 'PM'" value="PM">PM</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="entry full-width radio-check">
								<label class="checkbox">
									<span class="icon-form icon-checkbox" ng-class="{ checked : singleRule.apply_to_all_bookings }"></span>
									<label>Apply to all bookings</label>
									<input type="checkbox" ng-model="singleRule.apply_to_all_bookings">
								</label>
							</div>
						</fieldset>
						
						<div class="actions float">
							<button type="button"
								id="cancel"
								class="button blank add-data-inline"
								ng-click="cancelCliked()">Cancel</button>
							<button type="button"
								like-type="common"
								id="update"
								class="button green add-data-inline"
								ng-click="saveUpdateRule('Cancellation Penalties')">Save changes</button>
						</div>

					</form>
				</div>
			</div>	
		</td>
	</tr>
</table>