<form ng-cloak class="grey-texture-bg-color rate_end_date_form">
    <fieldset class="holder grey-texture-bg-color">
        <div class="center_align rate_end_date_validation_message" translate>
            You are about to replace the interface authentication, which would require changes on the interface
            PC onsite. Are you sure want to proceed?
        </div>
    </fieldset>
    <fieldset  style="text-align: center" class="actions">
        <button type="button" class="button blank modal-close" ng-click="closeDialog()" translate>CANCEL</button>
        <button type="button" class="button green margin-top-bottom" ng-click="generateAuthToken()" translate >REGENERATE</button>
    </fieldset>
</form>
