<div id="new-card" class="new-card">
    <div class="holder">
        <div class="entry margin">
            <label for="card-number">Card number</label>
            <input name="card-number" id="card-number" placeholder="Enter Card number" value="" maxlength="15" type="text" />
        </div>
        <div class="entry">
            <label for="expiry-month">Expiration date (<span>MM/YY</span>)</label>
            <input name="expiry-month" id="expiry-month" placeholder="MM" value="" maxlength="2" size="3" type="text" />
            <input name="expiry-year" id="expiry-year" placeholder="YY"  value="" maxlength="2" size="3" type="text" />
        </div>
        <div class="entry margin">
            <label for="name-on-card">Name on card</label>
            <input name="name-on-card" id="name-on-card" placeholder="Enter name on card" value="" type="text" />
        </div>  
        <div class="entry">
            <label for="ccv">CCV</label>
            <input name="ccv" id="ccv" placeholder="CCV" value="" maxlength="3" size="4" type="text" />
        </div>
        <div class="entry full-width">
            <label class="checkbox inline" for="add-in-guest-card">
                <span class="icon-form icon-checkbox"></span>
                <input name="checkin" id="add-in-guest-card" value="1" type="checkbox" />
                Add to Guest Card
            </label>
        </div>
    </div>
    <div class="actions">
        <button type="button" id="cancel-new-card" class="button blank">Cancel</button>
        <button type="button" id="add-card" class="button green">Add Card</button>
    </div>
</div>