<div role="dialog" id="modal" class="modal-show">
    <div class="modal-content availability-calendar">
        <button class="modal-close" id="modal-close" type="button" ng-click="closeDialog()">
            <span class="icons icon-close invert"></span>
        </button>
        <strong class="h2 message" ng-show="ngDialogData.houseFull">House Availability Conflict</strong>
        <strong class="h2 message" ng-hide="ngDialogData.houseFull">Roomtype Availability Conflict</strong>
        <overbooking-alert event-sources-left='eventSources.left' event-sources-right='eventSources.right' left-calendar-options='leftCalendarOptions' right-calendar-options='rightCalendarOptions' next-button-click-handler='nextButtonClickHandler()' prev-button-click-handler='prevButtonClickHandler()' disable-prev-button='disablePrevButton'></overbooking-alert>
        <ul class="calendar-legend">
            <li><span class="check-in"></span>Arrival</li>
            <li><span class="check-in unavailable"></span>Arrival Unavailable</li>
            <li><span class="check-out"></span>Departure</li>
            <li><span class="availabile"></span>Available</li>
            <li ng-show="ngDialogData.houseFull">
                <span class="unavailable"></span>
                No House Availability
            </li>
            <li ng-hide="ngDialogData.houseFull">
                <span class="unavailable"></span>
                No Type Availability
            </li>
        </ul>
        <div class="actions">
            <button type="button" id="goto-calendar" class="button blue modal-close" ng-hide="true">
            	Rooms &amp; Rates Calendar
            </button>
            <button type="button" id="goto-romsandrates" class="button green modal-close" ng-click="alertOverbooking(true, ngDialogData.arrivalDate, ngDialogData.departureDate)">	Continue
            </button>
        </div>
    </div>
</div>
