<div role="dialog" id="modal" class="modal-show">
	<div class="modal-content new-content form warning">
		<div>
			<span> No <span ng-if="houseNotAvailableForBooking">House</span><span ng-if="roomTypeNotAvailableForBooking">Room Type</span> availability on one or more of the selected dates. Overbook?</span>

		</div>
		<div class="actions float small-button">
			<button class="button green" ng-click="updateDataModel(); closeThisDialog();">
				yes
			</button>
			<button  class="button white" ng-click="closeThisDialog()">
				no
			</button>
		</div>
	</div>
</div>

