<div id="modal" class="modal-show" role="dialog">
   <form method="post" action="billing-information" id="billing-information" name="billing-information" class="modal-content billing-information">
      <button id="modal-close" type="button" class="dark-title modal-close"><span class="icons icon-close"></button>
      <div class="modal-header">
         <h1>Billing Information</h1>
         <em>Confirmation #{number</em>
         <button type="button" id="new-route" class="button green">Add Route</button>
      </div>
      <!-- No content -->
      <div id="billing-content" class="content-wrapper no-content">
         <div class="info">
            <strong class="h1">Bill Routing not defined</strong>
         </div>
      </div>
      <div class="actions">
         <button type="button" class="button blank modal-close">Close</button>
      </div>
   </form>
</div>