<table>
    <thead>
        <tr>
            <th><span>User</span></th> 
            <th><span class="sort sorting-asc">Date &amp; Time</span></th>
            <th><span class="sort">Action</span></th>
            <th><span>Details</span></th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="name">
                {user}
                <span class="property">{property}</span>
            </td>
            <td class="date">{date | exp,07-10-2017}, {time | exp. 12:00 AM }</td>
            <td class="action">{action}</td>
            <td>{action details}</td>
        </tr>
    </tbody>
</table>