<fieldset class="holder left room-upsell-block">
    <div class="form-title">
        <h4><span translate>ZEST_SETUP_AVAIL_DO_LABEL</span></h4>
    </div>
    
    <fieldset class="holder column">
        <div class="entry">
            <label for="upsell-rooms" translate>UPSELL_ROOMS</label>

            <div id="div-upsell-rooms" class="switch-button single"
                 ng-class="{ on : upsellData.upsell_setup.is_upsell_on === 'true' }">
                <input type="checkbox" name="upsell-rooms" id="upsell-rooms" ng-click="switchClicked()">
                <span class="switch-icon"></span>
            </div>
        </div>

    </fieldset>
    
    
    
    
    <input type="hidden" value="1" name="level_from_0" id="level_from_0">
    <input type="hidden" value="2" name="level_to_0" id="level_to_0">

    <ad-textbox value="upsell_amounts[0].amount"
                label="Level 1 to 2  p/night" label-suffix="[{{currencySymbol}}]"></ad-textbox>

    <input type="hidden" value="1" name="level_from_1" id="level_from_1">
    <input type="hidden" value="3" name="level_to_1" id="level_to_1">

    <ad-textbox value="upsell_amounts[1].amount"
                label="Level 1 to 3  p/night" label-suffix="[{{currencySymbol}}]"></ad-textbox>

    <input type="hidden" value="2" name="level_from_2" id="level_from_2">
    <input type="hidden" value="3" name="level_to_2" id="level_to_2">

    <ad-textbox value="upsell_amounts[2].amount"
                label="Level 2 to 3  p/night" label-suffix="[{{currencySymbol}}]"></ad-textbox>

    <input type="hidden" value="3" name="upsell_amounts_count" id="upsell_amounts_count">
    <input type="hidden" value="3" name="total_level_count" id="total_level_count">


    <!-- Search available charge codes -->
    <charge-code-search charge-code="upsellData.selected_charge_code_id" is-billing-group="{{isBillingGroup}}" charge-code-name="upsellData.selected_charge_code_name"></charge-code-search>
    
    
    

                    <fieldset class='holder column full-width no-wrap-labels'>
                        <ad-dropdown label="{{'LIMIT_UPSELL_OFFERS_FOR_FOLLOWING_ROOM_TYPES_BY_MAX_LOS' | translate}}"
                                     label-in-drop-down="{{'SELECT_ROOM_TYPE' | translate}}"
                                     list="upsellData.room_types_list" selected-Id='upsellData.selected_room_type'
                                     selbox-class="placeholder"></ad-dropdown>

                        <div class='entry'>
                            <div class='add-room-type'>
                                <span class='button green'  ng-class='{"overlay":!upsellData.selected_room_type && upsellData.selected_room_type !== 0}' id='add-room-type' ng-click="clickAddRoomType(false)" translate>
                                    ADD_ROOM_TYPE
                                </span>
                            </div>
                        </div>
                        <div class='entry full-width' id='room-type-header'>
                            <div>
                                <div class='entry has-sortable col3' ng-show="upsellData.isRoomTypesSelectedFlag">
                                    <label><h4 translate>ROOM_TYPE</h4></label>
                                </div>
                                <div class='entry has-sortable col3' ng-show="upsellData.isRoomTypesSelectedFlag">
                                    <label><h4 translate>ALLOW_ROVER_OVERWRITE</h4></label>
                                </div>
                                <div class='entry has-sortable col3' ng-show="upsellData.isRoomTypesSelectedFlag">
                                    <label><h4 translate>MAX_LOS</h4></label>
                                </div>
                            </div>
                            <div id='room-type-details' ng-repeat="roomType in upsellData.room_types">
                                <div class="entry full-width room-type-details"
                                     ng-show="roomType.max_los !==''">
                                    <div class="entry has-sortable col3">
                                        <span class="align-text-center"> {{roomType.name}} </span>
                                    </div>
                                    <div class="entry has-sortable col3">
                                        <span class="entry">
                                            <ad-checkbox is-checked="roomType.allow_rover_overwrite"></ad-checkbox>
                                        </span>
                                    </div>
                                    <div class="entry has-sortable col3">
                                        <span class="entry">
                                            <ad-textbox value="roomType.max_los" inputtype="number"></ad-textbox>
                                        </span>
                                        <span class="entry">
                                            <a class="icons icon-delete large-icon align-text-center"
                                               ng-click="deleteRoomType(roomType.id,roomType.name, false)"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
</fieldset>


<!------------------------------------------------>
<!--------------  Day Before Arrival  ------------>
<!------------------------------------------------>
        
<fieldset class="holder right room-upsell-block">
    <div class="form-title">
        <h4><span translate>ZEST_SETUP_AVAIL_DB_LABEL</span></h4>
    </div>
    <fieldset class="holder column">
        <div class="entry">
            <label for="upsell-rooms" translate>UPSELL_ROOMS</label>

            <div id="div-upsell-rooms" class="switch-button single"
                 ng-class="{ on : upsellData.upsell_setup.is_next_day_upsell_on === 'true' }">
                <input type="checkbox" name="upsell-rooms" id="upsell-rooms" ng-click="nextDaySwitchClicked()">
                <span class="switch-icon"></span>
            </div>
        </div>
    </fieldset>
    <input type="hidden" value="1" name="level_from_0" id="level_from_0">
    <input type="hidden" value="2" name="level_to_0" id="level_to_0">

    <ad-textbox value="next_day_upsell_amounts[0].amount"
                label="Level 1 to 2  p/night" label-suffix="[{{currencySymbol}}]"></ad-textbox>

    <input type="hidden" value="1" name="level_from_1" id="level_from_1">
    <input type="hidden" value="3" name="level_to_1" id="level_to_1">

    <ad-textbox value="next_day_upsell_amounts[1].amount"
                label="Level 1 to 3  p/night" label-suffix="[{{currencySymbol}}]"></ad-textbox>

    <input type="hidden" value="2" name="level_from_2" id="level_from_2">
    <input type="hidden" value="3" name="level_to_2" id="level_to_2">

    <ad-textbox value="next_day_upsell_amounts[2].amount"
                label="Level 2 to 3  p/night" label-suffix="[{{currencySymbol}}]"></ad-textbox>

    <input type="hidden" value="3" name="upsell_amounts_count" id="upsell_amounts_count">
    <input type="hidden" value="3" name="total_level_count" id="total_level_count">


    <!-- Search available charge codes -->
    <charge-code-search charge-code="upsellData.selected_next_day_charge_code_id" is-billing-group="{{isBillingGroup}}" charge-code-name="upsellData.next_day_selected_charge_code_name"></charge-code-search>
    <fieldset class='holder column full-width no-wrap-labels'>
        <ad-dropdown label="{{'LIMIT_UPSELL_OFFERS_FOR_FOLLOWING_ROOM_TYPES_BY_MAX_LOS' | translate}}"
                     label-in-drop-down="{{'SELECT_ROOM_TYPE' | translate}}"
                     list="upsellData.next_day_room_types_list" selected-Id='upsellData.next_day_selected_room_type'
                     selbox-class="placeholder"></ad-dropdown>

        <div class='entry'>
            <div class='add-room-type'>
                <span class='button green' ng-class='{"overlay":!upsellData.next_day_selected_room_type && upsellData.next_day_selected_room_type !== 0}' id='add-room-type' ng-click="clickAddRoomType(true)" translate>
                    ADD_ROOM_TYPE
                </span>
            </div>
        </div>
        <div class='entry full-width' id='room-type-header'>
            <div>
                <div class='entry has-sortable col3' ng-show="upsellData.isNextDayRoomTypesSelectedFlag">
                    <label><h4 translate>ROOM_TYPE</h4></label>
                </div>
                <div class='entry has-sortable col3' ng-show="upsellData.isNextDayRoomTypesSelectedFlag">
                    <label><h4 translate>ALLOW_ROVER_OVERWRITE</h4></label>
                </div>
                <div class='entry has-sortable col3' ng-show="upsellData.isNextDayRoomTypesSelectedFlag">
                    <label><h4 translate>MAX_LOS</h4></label>
                </div>
            </div>
            <div id='room-type-details' ng-repeat="roomType in upsellData.next_day_room_types">
                <div class="entry full-width room-type-details"
                     ng-show="roomType.max_los !==''">
                    <div class="entry has-sortable col3">
                        <span class="align-text-center"> {{roomType.name}} </span>
                    </div>
                    <div class="entry has-sortable col3">
                        <span class="entry">
                            <ad-checkbox is-checked="roomType.allow_rover_overwrite"></ad-checkbox>
                        </span>
                    </div>
                    <div class="entry has-sortable col3">
                        <span class="entry">
                            <ad-textbox value="roomType.max_los" inputtype="number"></ad-textbox>
                        </span>
                        <span class="entry">
                            <a class="icons icon-delete large-icon align-text-center"
                               ng-click="deleteRoomType(roomType.id,roomType.name, true)"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    
    
    
</fieldset>
