<ad-common-parts-in-form-dir on-save-button-click="saveGustoPOSSetup" header-caption="{{'GUSTO_POS_SETUP_HEADER'|translate}}">
    <div class="form-title full-width">
        <h3><span translate>GUSTO_POS_SUB_TITLE</span> </h3>
    </div>
    <div class="entry full-width">
        <label><span translate>GUSTO_POS_ACTIVATE_INACTIVATE</span></label>
        <div name="active-inactive-toggle" class="switch-button single" ng-class="{ on: gusto.enabled }" ng-click="toggleGustoPOSEnabled()">
            <input type="checkbox" name="brite-pabx-setup-active" id="brite-pabx-setup-active">
            <span class="switch-icon"></span>
        </div>
    </div>
    <fieldset class="holder left">
        <ad-charge-code-auto-complete ng-model="gusto.charge_code_name" selected-charge-code-id="gusto.charge_code_id" ng-if="gusto.enabled" label="Charge Code" entry-div-class="full-width"></ad-charge-code-auto-complete>                    
    </fieldset>
    <fieldset class="holder right">
        <ad-textbox inputtype="text" value="gusto.account_number" name="account-number" id="account-number" label="{{'GUSTO_POS_ACCOUNT_NUMBER'| translate}}" styleclass="full-width" ng-if="gusto.enabled"></ad-textbox>
    </fieldset>
</ad-common-parts-in-form-dir>