<!-- Search form -->
<form method="get" action="" name="accounts-search-form" id="accounts-search-form" class="search-form has-options single-option enable-adding" role="search" ng-class="{'enable-adding':shouldShowAddNewButton()}">
    
    <div class="entry search">
        <button id="accounts-clear-query" class="clear-query" 
                ng-click="clearSearchQuery()" 
                ng-class="{'visible': !isEmpty(query)}"> <!-- Add class "visible" to show -->
            <span class="icons icon-clear-search" translate>CLEAR_QUERY</span>
        </button>
        <button type="submit" name="submit" class="icons icon-search" translate>SEARCH</button>
        <input  name="accounts-query" 
                id="accounts-query" 
                class="query" 

                placeholder="Search by Account Name, Code" type="search" 
                autocomplete="off" 
                ng-model="query"  

                rv-delay-textbox
                delay="1000" 
                function-to-fire="searchQueryChanged"/>
    </div>
    <div class="entry options">
        <div class="select">
            <select id="account-status" ng-model="status" 
                ng-change= "search()"
                ng-class="{'placeholder': status == ''}"> <!-- Add class="placeholder" if val="" is selected -->
                <option value="" translate>ALL_ACCOUNTS</option>
                <option value="OPEN" translate>ACCOUNTS_OPEN</option>
                <option value="CLOSED" translate>ACCOUNTS_CLOSED</option>
            </select>
        </div>
    </div>
    <a ng-click="gotoAddNewAccount()" class="add-new-button" ng-show="shouldShowAddNewButton()" translate>ACCOUNTS_ADD_NEW</a>
</form>
<!-- Pagination -->
<div class="search-pagination" ng-show="shouldShowPagination()">
    <button type="button" class="button dark-grey next" ng-click="loadNextSet()" ng-disabled="isNextButtonDisabled()" translate>ACCOUNTS_NEXT</button>
    <button type="button" class="button dark-grey prev" ng-click="loadPrevSet()" ng-disabled="isPrevButtonDisabled()" translate>ACCOUNTS_PREVIOUS</button>
    <p >{{'ACCOUNTS_SHOWING'|translate}} <strong>{{start}}-{{end}}</strong> {{'ACCOUNTS_SHOWING_OF'|translate}} <strong id="total-count">{{totalResultCount}}</strong> {{'ACCOUNTS_ITEMS'|translate}}</p>
</div>

<!-- Search panel - WITH RESULTS -->
<section id="find-account" class="content scrollable" role="main" 
    ng-class="{'no-pagination': !shouldShowPagination(), 'no-results': shouldShowNoResult()}"
    ng-iscroll="result_showing_area" ng-iscroll-delay="1000" > <!-- If no pagination, add class "no-pagination" -->
    <div class="wrapper">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <ul class="search-results">
            <!-- If no results, show this: -->
            <li class="no-content" ng-show="isFirstTimeWithNoResult()">
                <div class="info">
                    <span class="icon-no-content icon-groups"></span>
                    <strong class="h1" translate>FIND_ACCOUNTS</strong>
                    <span class="h2"> {{'ACCOUNTS_SEARCH_BY'|translate}}               
                            <strong translate>ACCOUNT_CODE</strong> {{'OR'|translate}}
                            <strong translate>ACCOUNT_NAME</strong>
                        </span>
                </div>                
            </li>

            <!-- If no results, show this: -->
            <li class="no-content" ng-show="shouldShowNoResult()">
                <div class="info">
                    <span class="icon-no-content icon-groups"></span>
                    <strong class="h1" translate>NO_MATCHES</strong>
                    <span class="h2"> {{'CHECK_THAT_YOU_DIDNT_MISPELL_THE_'|translate}}<strong translate>ACCOUNT_NAME</strong>, <strong translate>CODE</strong><a ng-show="shouldShowAddNewButton()" ng-click="gotoAddNewAccount()" class="inline-link" translate>OR_ADD_A_NEW_ACCOUNT</a>.</span>
                </div>
            </li>
            <li class="account" ng-show="!shouldShowNoResult()" ng-repeat="account in accountList" ngrepeatend ngrepeatstarted>
                <a ng-click="gotoEditAccountConfiguration(account.id)">
                    <div class="data">
                        <h2 ng-bind-html="getHighlightedHTML(account.posting_accounts_name)">
                        </h2>
                        <span class="confirmation" ng-bind-html="getHighlightedHTML(account.posting_accounts_number)"></span>
                        <!-- If linked company exists: -->
                        <span class="icons icon-guest-company" ng-hide="isEmpty(account.company)">
                            {{account.company}}
                        </span>
                        <!-- If linked travel agent exists: -->
                        <span class="icons icon-guest-travelagent" ng-hide="isEmpty(account.travel_agent)">
                            {{account.travel_agent}}
                        </span>
                    </div>
                    <div class="info">
                        <strong ng-class="getClassAgainstBalance(account)">{{currencySymbol}}{{account.balance | number: precisonTwo}}</strong> <!-- Add class="red" if > 0 -->
                        <span translate>BALANCE</span>
                    </div>     
                    
                    <div class="info">
                        <strong ng-class="getClassAgainstAccountStatus(account)">{{account.status}}</strong> <!-- Add class="green" if Open -->
                        <span>Status</span>
                    </div>
                   
                </a>
            </li>
        </ul>
    </div>
</section>