<section id="replacing-div-first" class="content current" ng-click="clearErrorMessage()">
	<div data-view="UpsellLateCheckoutView">
		<section>
			<header class="content-title float">
				<h2>Settings & Parameters</h2>
				<a id="go_back" data-type="load-details" class="action back" ng-click="cancelClick()">Back</a>
			</header>
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<form  class="form float" >
				<div class="form-title full-width">
					<h3><span>Change Business Day</span></h3>
				</div>
				<fieldset class="holder left">
					<div></div>

					<!-- Switch -->
					<ad-toggle-button is-checked=" data.auto_bussinnesdate_change" label="Auto Change Business Date"></ad-toggle-button>
				</fieldset>
				<fieldset class="holder right">

					<div class="entry">
						<label> Time to change business date </label>
						<div class="entry full-width float">

							<!--  hour -->
							<div class="select select-col col1-3">

								<select ng-options="hour for hour  in hours" ng-model="data.hour">
									<option style="display:none" value="">HH</option>
								</select>

							</div>
							<!--  minute -->
							<div class="select select-col col1-3">
								<select ng-options="minute for minute  in minutes" ng-model="data.minute">
									<option style="display:none" value="">HH</option>
								</select>

							</div>
							<div class="select select-col col1-3">
								<select name="hotel-checkout-primetime"class="styled">
									<option value="AM">AM</option>
									<option value="PM">PM</option>
								</select>
							</div>
						</div>

					</div>
					
				</fieldset>

			
				
				<div class="actions float">
					<button type="button" id="cancel" class="button blank" ng-click="cancelClick()">
						Cancel
					</button>
					<button type="button" id="save" class="button green" ng-click="saveClick()">
						Save changes
					</button>
				</div>
			</form>
		</section>
	</div>
</section>