<div class="availability-grid scrollable " ng-controller="rvRoomAvailabilityGridStatusController" ng-iscroll='room_availability_scroller' ng-iscroll-delay="100" ng-show="hideMeBeforeFetching">
	<div class="wrapper" style="width: {{getWidthForTable()}}px">
		<!-- Day & Date Columns -->
		<table class="dates-grid">
			<colgroup>
				<col>
				<col class="grid-col" ng-repeat="eachDate in data.dates" ng-class="{'weekend': eachDate.isWeekend}">
			</colgroup>
			<thead>
				<tr>
					<th class="heading"></th>
					<th  ng-repeat="eachDate in data.dates track by $index">
						<div class="inner"  ng-class="{'weekend': eachDate.isWeekend}">
							<span ng-bind="eachDate.date|date:dayInWeek"></span>
							{{eachDate.date|date:shortMonthAndDate}}
						</div>
					</th>
				</tr>
			</thead>
		</table>

		<!-- Occupancy -->
		<table class="dates-grid blue">
			<colgroup>
				<col>
				<col class="grid-col" ng-repeat="eachDate in data.dates" ng-class="{'weekend': eachDate.isWeekend}">
			</colgroup>
			<tbody>
				<!-- Total % -->
				<tr class="main">
					<th class="heading rows-toggle" ng-class="{'active' : toggleStatusOf.occupancy }" scope="row" ng-click="toggleOccupancy()">Occupancy %</th> <!-- TODO: toggle visibility of inventory, OOO and rooms to sell when clciked. When opening, don't show room types. When closing, hide room types as well -->
					<td ng-repeat="occupancy in data.occupancies track by $index">
						<div class="inner">{{occupancy | number : 0 }}%</div>
					</td>
				</tr>
				<!-- Inventory -->
				<tr ng-class="{'hidden': !toggleStatusOf.occupancy }" ng-click="toggleRoomInventory()">
					<th class="rows-toggle" scope="row" ng-class="{'active' : toggleStatusOf.roomInventory }">Rooms Inventory</th> <!-- TODO: toggle visibility of room types inventory -->
					<td ng-repeat="inventory in data.inventory track by $index">
						<div class="inner" ng-bind="inventory" ng-class="{ 'unavailable': 0 >= inventory, 'warning': 5 >= inventory}"></div>
					</td>
				</tr>

				<tr class="italic" ng-class="{'hidden': !toggleStatusOf.roomInventory || !toggleStatusOf.occupancy}" ng-repeat="roomType in data.roomTypes track by $index">
					<th scope="row" ng-bind="roomType.name"></th>
					<td ng-repeat="eachDate in data.dates">
						<div class="inner" ng-bind="roomType.rooms_inventory"></div>
					</td>
				</tr>
				<!-- OOO -->
				<tr ng-class="{'hidden': !toggleStatusOf.occupancy }" ng-if="!isHourlyRateOn">
					<th scope="row">OOO Rooms</th>
					<td ng-repeat="outOfOrderRoom in data.outOfOrder track by $index">
						<div class="inner" ng-bind="outOfOrderRoom"></div>
					</td>
				</tr>
				<!-- Rooms to Sell -->
				<tr ng-class="{'hidden': !toggleStatusOf.occupancy }">
					<th scope="row">Rooms To Sell</th>
					<td ng-repeat="roomToSell in data.roomToSell track by $index">
						<div class="inner" ng-bind="roomToSell"></div>
					</td>
				</tr>
				<!-- Best Available Rate -->
				<tr ng-class="{'hidden': !toggleStatusOf.occupancy }" ng-if="!isHourlyRateOn && !hideRateOfDay">
					<th scope="row">Best Available Rate</th>
					<td ng-repeat="bar in data.additionalData.bestAvailabilityRate track by $index">
						<div class="inner" ng-if="bar == 'C'">C</div>
						<div class="inner" ng-bind="(bar | currency:currencySymbol:2)" ng-class="{ 'unavailable': 0 > bar, 'warning': 3 >= bar}"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Available Rooms -->
		<table class="dates-grid green">
			<colgroup>
				<col>
				<col class="grid-col" ng-repeat="eachDate in data.dates" ng-class="{'weekend': eachDate.isWeekend}">
			</colgroup>
			<tbody>
				<tr class="main">
					<th class="heading rows-toggle" ng-click="toggleAvailableRooms()" ng-class="{'active' : toggleStatusOf.availableRooms }">Available Rooms</th>
					<td ng-repeat="availableRoom in data.availableRooms track by $index">
						<div class="inner" ng-bind="availableRoom" ng-class="{ 'unavailable': 0 >= availableRoom, 'warning': 5 >= availableRoom}"></div>
					</td>
				</tr>
				<!-- Room types -->
				<tr class="italic" ng-class="{'hidden': !toggleStatusOf.availableRooms, 'different': data.additionalData.roomTypeNames[$index].is_suite}" ng-repeat="roomTypeWiseDetail in data.additionalData.roomTypeWiseDetails track by $index">
					<th scope="row" ng-bind="data.additionalData.roomTypeNames[$index].name"></th>

					<td ng-repeat="roomType in roomTypeWiseDetail track by $index">
						<div class="inner" ng-bind="roomType.availability" ng-class="{ 'unavailable': 0 >= roomType.availability, 'warning': 5 >= roomType.availability}"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Sold Rooms -->
		<table class="dates-grid orange">
			<colgroup>
				<col>
				<col class="grid-col" ng-repeat="eachDate in data.dates" ng-class="{'weekend': eachDate.isWeekend}">
			</colgroup>
			<tbody>
				<tr class="main" ng-if="!isHourlyRateOn">
					<th class="heading rows-toggle" ng-click="toggleSoldRooms()" ng-class="{'active' : toggleStatusOf.roomsSold }">Rooms Sold</th>
					<td ng-repeat="bookedRoom in data.bookedRooms track by $index">
						<div class="inner" ng-bind="bookedRoom"></div>
					</td>
				</tr>
				<!-- Adults / Children -->
				<tr ng-class="{'hidden': !toggleStatusOf.roomsSold }">
					<th scope="row">Adults / Children</th>
					<td ng-repeat="count in data.additionalData.adultsChildrenCounts track by $index">
						<div class="inner" ng-bind="count.bothCount"></div>
					</td>
				</tr>
				<tr class="italic" ng-if="!isHourlyRateOn" ng-class="{'hidden': !toggleStatusOf.roomsSold }" ng-repeat="roomTypeWiseDetail in data.additionalData.roomTypeWiseDetails track by $index">
					<th scope="row" ng-bind="data.additionalData.roomTypeNames[$index]" ></th>
					<td ng-repeat="roomType in roomTypeWiseDetail track by $index">
						<div class="inner" ng-bind="roomType.sold"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Non Group Rooms -->
		<table class="dates-grid" ng-if="!isHourlyRateOn">
			<colgroup>
				<col>
				<col class="grid-col" ng-repeat="eachDate in data.dates" ng-class="{'weekend': eachDate.isWeekend}">
			</colgroup>
			<tbody>
				<tr class="main">
					<th class="heading" scope="row">Non Group Rooms</th>
					<td ng-repeat="nonGroupRoom in data.nonGroupRooms track by $index">
						<div class="inner" ng-bind="nonGroupRoom"></div>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Group / Allotment Rooms -->
		<table class="dates-grid purple" ng-if="!isHourlyRateOn">
			<colgroup>
				<col>
				<col class="grid-col" ng-repeat="eachDate in data.dates" ng-class="{'weekend': eachDate.isWeekend}">
			</colgroup>
			<tbody>
				<tr class="main">
					<th class="heading rows-toggle" scope="row" ng-click="toggleShowGroupAllotmentTotals()" ng-class="{'active' : showShowGroupAllotmentTotals }">Group / Allotment</th>
					<td ng-repeat="groupAndAllotment in data.groupAndAllotments track by $index">
						<div class="inner" ng-bind="groupAndAllotment"></div>
					</td>
				</tr>

				<tr ng-repeat="rowData in data.gridDataForGroupAvailability.holdstatuses track by $index" ng-class="getClassForHoldStatusRow(data.gridDataForGroupAvailability, rowData[0].id)">
					<th scope="row">Group Blocks {{ getGroupAllotmentName(data.gridDataForGroupAvailability, rowData[0].id) }}</th>
					<td ng-repeat="cellData in rowData track by $index">
						<div class="inner">{{ cellData.total_number_of_rooms_blocked }}</div>
					</td>
				</tr>
				<tr ng-class="{'hidden': !showShowGroupAllotmentTotals}">
					<th scope="row">Group Picked Up</th>
					<td ng-repeat="groupPickedUp in data.gridDataForGroupAvailability.groupTotalPickedUps track by $index">
						<div class="inner">{{ groupPickedUp }}</div>
					</td>
				</tr>

				<tr ng-repeat="rowData in data.gridDataForAllotmentAvailability.holdstatuses track by $index" ng-class="getClassForHoldStatusRow(data.gridDataForAllotmentAvailability, rowData[0].id)">
					<th scope="row">Allotment {{ getGroupAllotmentName(data.gridDataForAllotmentAvailability, rowData[0].id) }}</th>
					<td ng-repeat="cellData in rowData track by $index">
						<div class="inner">{{ cellData.total_number_of_rooms_blocked }}</div>
					</td>
				</tr>
				<tr ng-class="{'hidden': !showShowGroupAllotmentTotals}">
					<th scope="row">Allotment Picked Up</th>
					<td ng-repeat="allotmentPickedUp in data.gridDataForAllotmentAvailability.groupTotalPickedUps track by $index">
						<div class="inner">{{ allotmentPickedUp }}</div>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>