#rate-manager {
    .topbar {
        width: 100%;
        background: #FFFFFF;

        button {
            float:right;
        }
    }
    .content {
        clear:both;
        .left-menu{
            width: 22%;
            display: table-cell;

        }
        .filter-options {
            display:block;
            width: 230px;
            background-color:#E0E0E0 ;
            padding:20px;
            height:100%;
        }
        .calendar, .graph {
            display: table-cell;
            width: 78%;

            .cal-cell{
                text-align:center; 
                vertical-align:middle;
            }

        } 
    }
}