#rate-manager{
    .topbar{
        width: 100%;
        background: #FFFFFF;

        button {
            float:right;
        }
    }
    .content{
        clear:both;
        .filter-options{
            display:block;
            width: 230px;
            background-color:#E0E0E0 ;
            padding:20px;
            height:100%;
        }
    }
}