/*------------------------------- Themes ----------------------------------------------------*/

@import "../style.less";

a,a:hover{
	color:#fff !important;
}
.main-text{
    color:@black;
}
.sub-main-text{
    color: @dark-grey;
    font-size: 16px;
}
.template-text,.footer-text{
     color: @dark-grey;
}
.sub-text{
    color: @black;
}
.light-text{
    color:@grey !important;
}
.navbar{
	background-color:@white;
}
.btn,.btn:hover{
    background:#AE222B;
}
.dark-button,.dark-button{
    background: #8B0913 !important;
}
.checkout-option-1,.checkout-option-1:hover{
    background: #CE4D55;
}
.checkout-option-2,.checkout-option-2:hover{
    background: #AE222B;
}
.checkout-option-3,.checkout-option-3:hover{
    background: #8B0913;
}
.no-thanks{
    color:black !important;
    text-decoration: underline;
}
.grey-btn{
    background:#8B8B8B;
}
.upgrade-details .upgrades-btn {
    background: #AE222B;
}

.proceed-to-checkin {
      background: #AE222B;
}