/*------------------------------- Themes ----------------------------------------------------*/

@import "../style.less";

a,a:hover{
    color:#fff !important;
}
.main-text{
    color:@black;
}
.sub-main-text{
    color: @dark-grey;
}
.template-text,.footer-text{
     color: @dark-grey;
}
.sub-text{
    color: @black;
}
.light-text{
    color:@grey !important;
}
.navbar{
    background-color:@white;
}
.btn,.btn:hover{
    background:#AE222B;
}
.dark-button,.dark-button:hover{
    background: #8B0913 !important;
}
.checkouttime1,.checkouttime1:hover{
    background: #CE4D55;
}
.checkouttime2,.checkouttime2:hover{
    background: #AE222B;
}
.checkouttime3,.checkouttime3:hover{
    background: #8B0913;
}
.no-thanks,.no-thanks:hover{
    color:black !important;
    text-decoration: underline;
}
.upgrade-details .upgrades-btn {
    background: #AE222B;
}

.proceed-to-checkin {
    background: #E7E7E7;
    span{
        color:#AE222B;
        float:right;
    }
}
.upgrades-label{
    color:#AE222B;
}

.calendar-back {
    background-image: url('/assets/common_images/back_icon.png');
}
.calendar-done{
    background-image: url('/assets/common_images/done_white.png');
}
.res-date, .sub-main-text {
    color: @black;
}
.sub-text {
    font-weight: normal;
}
.footer-sub-text, .footer-sub-text:hover {
    color: @black;
}
.horizontal-line-sep-mobile {
    border-color: #EDEDED;
}
.phone-label {
    color: #AE222B;
    text-decoration: none;
}