/*------------------------------- Themes ----------------------------------------------------*/

@import "../style.less";

a,a:hover{
    color:#fff !important;
}
.main-text{
    color:@black;
}
.sub-main-text{
    color: @dark-grey;
}
.template-text,.footer-text{
     color: @dark-grey;
}
.sub-text{
    color: @black;
}
.light-text{
    color:@grey !important;
}
.navbar{
    background-color:@white;
}
.btn,.btn:hover{
    background:#AE222B;
}
.dark-button,.dark-button:hover{
    background: #8B0913 !important;
}
.checkouttime1,.checkouttime1:hover{
    background: #CE4D55;
}
.checkouttime2,.checkouttime2:hover{
    background: #AE222B;
}
.checkouttime3,.checkouttime3:hover{
    background: #8B0913;
}
.no-thanks,.no-thanks:hover{
    color:black !important;
    text-decoration: underline;
}

.upgrade-details .upgrades-btn {
    background: #AE222B;
}

.proceed-to-checkin {
      background: #AE222B;
}
