<div role="dialog" id="modal" class="modal-show">
	
	<form name="deposit-balance" method="post" id="deposit-balance" class="modal-content form deposit-balance" action="{action}">
		<button type="button" id="modal-close" class="modal-close" ng-click="closeDepositModal()">
			<span class="icons icon-close invert"> </span>
		</button>
		<!-- Left side -->
		
		<fieldset class="content-left">
			<strong class="h2 message">Balance</strong>
			<ul id="expenses" class="expenses">
				<li>
					Room Cost
					<span> {{currencySymbol}}{{depositBalanceData.data.room_cost}} </span>
				</li>
				<li>
					Packages
					<span> {{currencySymbol}}{{depositBalanceData.data.packages}} </span>
				</li>
				<li class="total">
					Sub Total
					<span> {{currencySymbol}}{{depositBalanceData.data.sub_total}} </span>
				</li>
				<li>
					Fees
					<span> {{currencySymbol}}{{depositBalanceData.data.fees}} </span>
				</li>
				<li class="total">
					Stay Total
					<span> {{currencySymbol}}{{depositBalanceData.data.stay_total}} </span>
				</li>
				<li>
					Nightly Charge
					<span> {{currencySymbol}}{{depositBalanceData.data.nightly_charges}} </span>
				</li>
				<li class="total final">
					Total Cost of Stay
					<span> {{currencySymbol}}{{depositBalanceData.data.total_cost_of_stay}} </span>
				</li>
				<li class="deposit">
					Deposit Paid
					<span class="green"> {{currencySymbol}}{{depositBalanceData.data.deposit_paid}} </span>
				</li>
				<li class="balance">
					Outstanding Stay Total
					<span class="red"> {{currencySymbol}}{{depositBalanceData.data.outstanding_stay_total}} </span>
			
				</li>
			</ul>
		</fieldset>
		<!-- Right side -->
		<fieldset class="content-right">
			<strong class="h2 message">Deposit</strong>
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			<div class="entry amount">
				<label for="amount"> Amount to pay (<span></span>{{currencySymbol}}
					) </label>
				<input type="text" ng-model="makePaymentData.amount" value="{{makePaymentData.amount}}" name="amount" id="amount">
			</div>
			<!-- Show these options only if there are existing cards -->
			
			<!-- New Card form - this is same as in {modals/pay-bill/card-attached.html}, lines 98-129 -->
			<div ng-include="'/assets/partials/roverPayment/rvCardOptions.html'"  ></div>
			<div class="actions">
				<button type="button" id="close" class="button blank modal-close" ng-click="closeDepositModal()">
					Close
				</button>

				<button type="button" ng-disabled="!makePaymentButtonActive" ng-class="showMakePaymentButtonStatus()" ng-click="clickedMakePayment()" id="make-payment" class="button modal-close" >
					Make Payment
				</button>
			</div>
		</fieldset>
	</form>
</div>