<form id="allotment-room-block" name="allotment-room-block" class="form card-tab inner-header rooms" ng-controller="rvAllotmentRoomBlockCtrl">

    <div id="allotment-room-block-header" class="tab-header with-filters">
        <div class="entry status" ng-class="{'hidden': shouldHideHoldStatus()}">
            <label for="allotment-grid-view" tralslate>Grid View</label>
            <div class="select">
                <select id="allotment-grid-view"
                    ng-model="allotmentConfigData.activeGridView"
                    ng-disabled="shouldDisableGridViewSwitch()"
                    ng-change="activeGridViewChanged()">
                    <option value="CONTRACT" selected>Contract</option>
                    <option value="CURRENT">Current Status</option>
                    <option value="RELEASE">Release Dates</option>
                </select>
            </div>
        </div>

        <div class="actions" ng-show="shouldShowRoomBlockActions()">
            <!-- If block was created -->
            <button type="button" class="button red"
                ng-show="shouldShowDiscardButton()"
                ng-click="clickedOnDiscardButton()">
                Discard Changes
            </button>
            <button type="button" class="button"
                ng-class="{ 'grey': shouldDisableApplyToHeldCountsButton(),
                            'brand-colors': !shouldDisableApplyToHeldCountsButton()
                          }"
                ng-disabled="shouldDisableApplyToHeldCountsButton()"
                ng-show="shouldShowApplyToHeldCountsButton()"
                ng-click="clickedOnApplyToHeldCountsButton()">
                Apply to Held Room Counts
            </button>
            <button type="button" class="button green"
                ng-class="{ 'grey': shouldDisableApplyToContractButton() }"
                ng-disabled="shouldDisableApplyToContractButton()"
                ng-show="shouldShowApplyToContractButton()"
                ng-click="clickedOnUpdateContractButton()">
                Update Contract
            </button>
            <button type="button" class="button"
                ng-class="{ 'grey': shouldDisableApplyToHeldToContractButton(),
                            'brand-colors': !shouldDisableApplyToHeldToContractButton()
                          }"
                ng-disabled="shouldDisableApplyToHeldToContractButton()"
                ng-show="shouldShowApplyToHeldToContractButton()"
                ng-click="clickedOnApplyToHeldToContractButton()">
                Apply To Held Count To Contract
            </button>
            <button type="button" class="button green"
                ng-class="{ 'grey': shouldDisableApplyToCurrrentButton() }"
                ng-disabled="shouldDisableApplyToCurrrentButton()"
                ng-show="shouldShowApplyToCurrentButton()"
                ng-click="clickedOnUpdateCurrentButton()">
                Update Current
            </button>
        </div>
    </div>
    <div id="allotment-room-block-content" class="tab-details">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <!-- Allotment Roomblock Grid views - Toggled by select box. -->
        <div ng-if="allotmentConfigData.activeGridView == 'CONTRACT'" ng-include="'/assets/partials/allotments/details/grids/rvAllotmentConfigurationContractGrid.html'"></div>

        <div ng-if="allotmentConfigData.activeGridView == 'CURRENT'" ng-include="'/assets/partials/allotments/details/grids/rvAllotmentConfigurationCurrentGrid.html'"></div>

        <div ng-if="allotmentConfigData.activeGridView == 'RELEASE'" ng-include="'/assets/partials/allotments/details/grids/rvAllotmentConfigurationReleaseGrid.html'"></div>

    </div>
</form>
