<div id="modal" class="modal-show" ng-class="{'modal-show': !modalClosing}" role="dialog">
    <form method="post" action="{action}" id="allotment-room-and-rates" name="allotment-room-and-rates" class="modal-content group-rooms">
        <button id="modal-close" type="button" class="modal-close" ng-click="closeDialog()">
            <span class="icons icon-close invert">
        </button>

        <span class="message h2" translate>ROOM_TYPES_AND_RATES</span>
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div id="allotment-rooms-grid" class="rooms-grid scrollable" ng-iscroll="room_type_scroller" 
            ng-iscroll-delay="500">
            <div class="wrapper">
                <div class="row" ng-repeat="row in selectedRoomTypeAndRates track by $index">


                    <div class="entry-data">
                        <div class="room-type">
                            <label for="room-type-1-select" class="row-count">{{$index+1}}</label>
                            <div class="select">
                                <select id="room-type-1-select"  
                                    ng-model="row.room_type_id" ng-change="changeBestAvailableRate(row)" 
                                    iscroll-stop-propagation ng-class="{'placeholder': isEmpty(row.room_type_id)}" > <!-- Add class="placeholder" if value="" is selected -->
                                    <option value="" translate 
                                    ng-selected="isEmpty(row.room_type_id)" >SELECT_ROOM_TYPE</option>
                                    <option ng-hide="hideRoomType(row.room_type_id, roomType)" ng-repeat="roomType in roomTypes" value="{{roomType.room_type_id}}" ng-selected="roomType.room_type_id==row.room_type_id" >
                                        {{roomType.room_type_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="entry">
                            <label for="room-type-1-bar" translate ng-hide="$index>0">BAR_SINGLE</label>
                            <input id="room-type-1-bar" ng-model="row.best_available_rate_amount" type="text" readonly />
                        </div>
                        <div class="entry">
                            <label for="room-type-1-single" translate ng-hide="$index>0">SINGLE_OCCUPANCY</label>
                            <input id="room-type-1-single" ng-model="row.single_rate" ng-if="allotmentConfigData.summary.rate == -1" type="text" ng-disabled="allotmentConfigData.summary.is_cancelled"/>
                            <input id="room-type-1-single" value="{{parseCurrency(row.single_rate)}}" ng-if="allotmentConfigData.summary.rate != -1" type="text" readonly />
                        </div>
                        <div class="entry">
                            <label for="room-type-1-double" translate ng-hide="$index>0">DOUBLE_OCCUPANCY</label>
                            <input id="room-type-1-double" ng-model="row.double_rate" ng-if="allotmentConfigData.summary.rate == -1" type="text" ng-disabled="allotmentConfigData.summary.is_cancelled" />
                            <input id="room-type-1-double" value="{{parseCurrency(row.double_rate)}}" ng-if="allotmentConfigData.summary.rate != -1" type="text" readonly/>
                        </div>
                        <div class="entry">
                            <label for="room-type-1-plus" translate ng-hide="$index>0">ONE_MORE_ADULT</label>
                            <input id="room-type-1-plus" ng-model="row.extra_adult_rate" ng-if="allotmentConfigData.summary.rate == -1" type="text" ng-disabled="allotmentConfigData.summary.is_cancelled" />
                            <input id="room-type-1-plus" value="{{parseCurrency(row.extra_adult_rate)}}" ng-if="allotmentConfigData.summary.rate != -1" type="text" readonly/>
                        </div>
                    </div>
                    <span class="remove-type icons icon-remove-60"
                        ng-class="{'hidden': !shouldShowDeleteButton()}"
                        ng-click="deleteRoomTypeAndRatesRow($index)">
                        -
                    </span> <!-- Should have class "hidden" until 2nd row is added -->
                    <span class="add-type icons icon-add-60" 
                        ng-class="{'hidden': !shouldShowAddNewButton(row)}"
                        ng-click="addNewRoomTypeAndRatesRow()">
                        +
                    </span> <!-- Hidden until room type is defined, then remove class "hidden". When pressed, and 2nd row and add class "hidden" again -->
                </div>                
            </div>
        </div>

        <div class="actions">
            <button type="button" class="button blank" 
            ng-click="clickedOnCancelButton()">
                Cancel
            </button>
            <button type="button" class="button green" 
            ng-click="checkIfAllotmentCustomRateChanged();">
                Update
            </button>
        </div>
    </form>
</div>