<form id="allotment-room-block" name="allotment-room-block" class="form card-tab inner-header rooms" ng-controller="rvAllotmentRoomBlockCtrl">
    <!--common header for fullscreen mode-->
    <div ng-include="'/assets/partials/common/rvFullscreenHeader.html'" class="fullscreen-header"></div>

    <div id="allotment-room-block-header" class="tab-header with-filters">
        <div class="entry status" ng-class="{'hidden': shouldHideHoldStatus()}">
            <label for="allotment-grid-view" translate>GRID_VIEW_LABEL</label>
            <div class="select">
                <select id="allotment-grid-view"
                    ng-model="activeGridView"
                    ng-disabled="shouldDisableGridViewSwitch()"
                    ng-change="activeGridViewChanged()">
                    <option value="CONTRACT" selected translate>CONTRACT</option>
                    <option value="CURRENT" translate>CURRENT_STATUS</option>
                    <option value="RELEASE" translate>RELEASE_DATES</option>
                </select>
            </div>
        </div>
        <div class="entry date" ng-show="shouldShowRoomBlockActions()">
            <label for="allotment-start-view" translate>GO_TO_DATE</label>
            <input id="allotment-start-date" class="datepicker"
                ui-date="timeLineStartDateOptions"
                rv-set-textbox-value listen-this="timeLineStartDate | date:dateFormat" readonly />
        </div>
        <div class="actions" ng-show="shouldShowRoomBlockActions()">
            <!-- If block was created -->
            <button type="button" class="button red"
                ng-show="shouldShowDiscardButton()"
                ng-click="clickedOnDiscardButton()"
                translate >
                DISCARD_CHANGES
            </button>

            <!-- Keeping for future reference -->
            <!-- <button type="button" class="button"
                ng-class="{ 'grey': shouldDisableApplyToHeldCountsButton(),
                            'brand-colors': !shouldDisableApplyToHeldCountsButton()
                          }"
                ng-disabled="shouldDisableApplyToHeldCountsButton()"
                ng-show="shouldShowApplyToHeldCountsButton()"
                ng-click="clickedOnApplyToHeldCountsButton()"
                translate >
                APPLY_TO_HELD
            </button> -->
            <button type="button" class="button green"
                ng-class="{ 'grey': shouldDisableApplyToContractButton() }"
                ng-disabled="shouldDisableApplyToContractButton()"
                ng-show="shouldShowApplyToContractButton()"
                ng-click="clickedOnUpdateContractButton()"
                translate >
                UPDATE_CONTRACT
            </button>

            <button type="button" class="button green"
                ng-class="{ 'grey': shouldDisableApplyToCurrrentButton() }"
                ng-disabled="shouldDisableApplyToCurrrentButton()"
                ng-show="shouldShowApplyToCurrentButton()"
                ng-click="clickedOnUpdateCurrentButton()"
                translate >
                UPDATE_CURRENT
            </button>

            <button type="button" class="button brand-colors"
                ng-show="shouldShowApplyToHeldCountsButton()"
                ng-click="clickedOnApplyToHeldCountsButton()"
                translate>
                APPLY_TO_HELD
            </button>
        </div>
    </div>
    <div id="allotment-room-block-content" class="tab-details">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <!-- Allotment Roomblock Grid views - Toggled by select box. -->
        <div ng-include="gridViewTemplateUrl"></div>

    </div>
</form>
