        <!-- Popup -->
<div id='tablet-popup' style="width: 38%; height: 27%">
        <div id="popup" class=" open"> <!-- Remove class "open" to hide popup content -->
            <h2 class="nocaps header">Are you still here?</h2>
            <div id="popup-content">
                <button type="button" class="button" click-touch='resetTime(); closePopup();'>Yes</button>
            </div>
        </div>
        <div id="popup-overlay" class="open"></div> <!-- Remove class "open" to hide popup overlay -->
</div>