<ad-common-parts-in-form-dir on-save-button-click="onSaveCertificates"
                             header-caption="{{'QR_CODE_ENCRYPTION_KEY' | translate}}">
    <fieldset class="holder full-width">
        <div class="form-title">
            <h3>QR code public encryption key</h3>
        </div>

        <fieldset class="holder full-width">
            <ad-textarea inputtype="password"
                         rows="10"
                         value="config.certificate"
                         div-class="full-width">
            </ad-textarea>
        </fieldset>
    </fieldset>

</ad-common-parts-in-form-dir>
