/* StayNTouch Zest Station Styles | Merrill Theme */

/* 1. COLORS
==========================================================*/
    @brandColor:            #967a50;
    
    @textColor:             @black;
    @backgroundColor:       #ececec;
    
    @actionColor:           @white;
    @actionBackground:      @brandColor;
    
    @inputBackground:       #707070;
    @transparentColor:      rgba(0,0,0,.5);

/* 2. TYPOGRAPHY
==========================================================*/

    @fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* 3. IMAGES
==========================================================*/
    @background: @backgroundColor;
    @backgroundSize: '';
    
    @headerIconsColor:      @brandColor;
    @headerIconsActive:     @brandColor;

    .icons { 
        &.icon-create-key {
            fill: @brandColor;
            stroke: @brandColor;
        }

        &.icon-no-print { stroke: @white; }

        &.icon-oos {
            fill: @brandColor;
        }

        &.icon-arrow-left,
        &.icon-arrow-right {
            fill: none;
            stroke: @white;
        }
    
    }

    .logo-svg{
        background-image: url("../css/themes/merrill/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 206px;
        height: 105px;
        background-position: center;
        margin-top: 3.5%;
    }

/* 4. LAYOUT
==========================================================*/
    
    #merrill {
 
        #header {
            height: 125px;
            background: #003e5f;

            .button {
                .icons {
                    fill: @white;
                }
            }
        }

        #main {
            #calc > #height > .remove(100%, 125px);
            top: 125px;
        }
        .entry.input {
            .icons {
                fill: @brandColor;
            }
        }

        input,
        select,
        button {
            font-size: 1.3em;
        }

        input,
        select {
            background: @inputBackground;
            color: @white;
        }
        
        #logo {
            padding-top: 0;

            .logo {
                width: auto;
                height: 105px;
            }
        }

        #options {
            
            .icon-text {
                color: @white;
            }

            .icons {
                fill: @white;
            }

            li.break {
                padding-top: 60px;

                &:after,
                &:before {
                    display: none;
                }
            }
        }

        #guests {
            .button {
                color: @white;
                background-color: #8b8b8b;
            }
        } 

        .add-on-list {

            // The second row is getting chunked on lower viewport height
            @media screen and (max-height:800px) {
                &.add-on-list-rows {
                    li:nth-child(n+4) {
                        margin-top: 0;
                    }
                }
            }
        }

        .add-on {

            .input-group {
                input {
                    color: @brandColor;
                }
            }
        }

        #textual {
            background: @white;
             

            &:before,
            &:after {
                background: @white;
            }

        }

        #rate {
            li {
                &.sub {
                    color: #a1a1a1;
                }
            }
        }

        #textual,
        .popup {
            .icons {
                fill: @white;
            }
        }
    }