<section id="replacing-div-first" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()" >
	<div data-view="RoomKeyDeliveryView">
		<header class="content-title float">
			<h2 translate>ROOM_KEY_DELIVERY_SETUP</h2>
			<a ng-click="goBackToPreviousState()" data-type="load-details" class="action back" translate>BACK</a>
		</header>
		<section class="content-scroll">
			<div ng-include="'/assets/partials/common/notification_message.html'"></div>
			
			<form style="overflow-y:auto;" name="room-delivery-view" method="post" class="form float">
				
				<fieldset class="holder left">
					<div class="form-title">
						<h3><span translate>ZEST</span> {{'CHECKINS' | translate}} </h3>
					</div>
					
					<div class="entry full-width">
						<div class="boxes">
							<label class="radio" ng-class="{checked: data.room_key_delivery_for_guestzest_check_in == 'email'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_guestzest_check_in == 'email'}"></span>
								<input ng-model="data.room_key_delivery_for_guestzest_check_in" type="radio" value="email" name="guest-zest" id="type1" class="change-data">
								{{'DELIVER_QR_CODE_FOR_ROOM_KEY' | translate }}
							</label>
							<label class="radio" ng-class="{checked: data.room_key_delivery_for_guestzest_check_in == 'smartphone'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_guestzest_check_in == 'smartphone'}"></span>
								<input ng-model="data.room_key_delivery_for_guestzest_check_in" type="radio" value="smartphone" name="guest-zest" id="type2" class="change-data">
								{{'DELIVER_QR_CODE_TO_GUESTZEST_APP' | translate }}	
							</label>
							<label class="radio" ng-class="{checked: data.room_key_delivery_for_guestzest_check_in == 'front_desk'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_guestzest_check_in == 'front_desk'}"></span>
								<input ng-model="data.room_key_delivery_for_guestzest_check_in" type="radio" value="front_desk" name="guest-zest" id="type3" class="change-data">
								{{'DELIVER_MSG_TO_GUEST' | translate }}
							</label>

							<ad-textarea rows="2" ng-if="data.room_key_delivery_for_guestzest_check_in == 'front_desk'" div-class="full-width" text-area-class="full-width" value="data.key_delivery_message" label = "{{ 'ROOM_KEY_DELIVERY_MESSAGE_TITLE' | translate}}" placeholder = ""></ad-textarea>

							<ad-checkbox is-checked="data.offer_mobilekey_from_zest" label="{{'OFFER_MOBILEKEY_LABEL' | translate }}" div-class="key-delivery-checkbox" span-class="checkbox-background"></ad-checkbox>

							<ad-checkbox is-checked="data.show_oracode_in_room_ready_email" label="{{'SHOW_ORACODE_IN_ROOM_READY_EMAIL' | translate }}" div-class="key-delivery-checkbox" span-class="checkbox-background"></ad-checkbox>
						</div>
					</div>
					
				</fieldset>
				
				<fieldset class="holder right">
					<div class="form-title">
						<h3><span>ROVER</span> {{'CHECKINS' | translate}} </h3>
					</div>
					
					<div class="entry full-width">
						<div class="boxes">
							<label class="radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'email'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'email'}"></span>
								<input ng-model="data.room_key_delivery_for_rover_check_in" type="radio" value="email" name="guest-zest" id="type1" class="change-data">
								{{'DELIVER_QR_CODE_FOR_ROOM_KEY' | translate }}
							</label>
							<label class="radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'encode'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'encode'}"></span>
								<input ng-model="data.room_key_delivery_for_rover_check_in" type="radio" value="encode" name="guest-zest" id="type2" class="change-data">
								{{'MAKE_KEY_FOR_RFID_READER' | translate }}
							</label>
							<label class="radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'qr_code_tablet'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'qr_code_tablet'}"></span>
								<input ng-model="data.room_key_delivery_for_rover_check_in" type="radio" value="qr_code_tablet" name="guest-zest" id="type3" class="change-data">
								{{'SHOW_QR_CODE_FOR_ROOM_KEY' | translate }}
							</label>

							<label class="radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'mobile_key_encode'}">
								<span class="icon-form icon-radio" ng-class="{checked: data.room_key_delivery_for_rover_check_in == 'mobile_key_encode'}"></span>
								<input ng-model="data.room_key_delivery_for_rover_check_in" type="radio" value="mobile_key_encode" name="guest-zest" id="type3" class="change-data">
								{{'USE_MOBILE_PHONE_KEY' | translate }}
							</label>

							<ad-checkbox is-checked="data.offer_mobilekey_from_rover" label="{{'OFFER_MOBILEKEY_LABEL' | translate }}" div-class="key-delivery-checkbox" span-class="checkbox-background"></ad-checkbox>

						</div>
					</div>
					
				</fieldset>

				<fieldset class="holder left">
					<div class="form-title">
						<h3><span translate>STATION</span> {{'CHECKINS' | translate}} </h3>
					</div>
                    <div class="entry full-width">
						<div class="boxes">
					        <ad-checkbox is-checked="data.offer_mobilekey_from_station" label="{{'OFFER_MOBILEKEY_LABEL' | translate }}" div-class="key-delivery-checkbox" span-class="checkbox-background"></ad-checkbox>

					    </div>
					</div>

				</fieldset>

				
				
				<div class="actions float">
					<button type="button" ng-click="goBackToPreviousState()" class="button blank add-data-inline" translate>
						CANCEL
					</button>
					<button type="button" ng-click="save()" class="button green" translate>
						SAVE_CHANGES
					</button>
				</div>
			</form>
		</section>
	</div>
</section>