
<div class="data-holder" ng-controller="ADDepartmentDetailsCtrl">

	<form class="form single-field-form float">
		<!-- <ad-textbox value="departmentName" name = "department-name" label = "Name" placeholder = "Enter hotel name" required = "yes" label_required = "no"></ad-textbox> -->
		<div class="entry">
			<input type="text" ng-model="departmentName" value="{{departmentName}}"  placeholder="Enter department" name="department-name" id="department-name">
		</div>
		<div class="actions float">
			<button type="button" id="cancel" class="button blank edit-data-inline" >
				Cancel
			</button>
			<button type="button" id="update" class="button green edit-data-inline" ng-click="saveDepartment()">
				Save changes
			</button>
			<button type="button" id="delete" class="button red edit-data-inline">
				Delete
			</button>
		</div>

	</form>
</div>