<div id="wrapper" class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
    <ad-form-header-with-back-button cancel-action="goBackToPreviousState"
                                     form-title="{{'EXACT_ONLINE_SETUP_HEADER'|translate}}"></ad-form-header-with-back-button>
    <section class="content-scroll">
        <div ng-include="'/assets/partials/common/notification_message.html'"></div>
        <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>
        <form class="form float">
            <ad-form-title full-width="true" form-title="{{'EXACT_ONLINE_SUB_TITLE'| translate}}"></ad-form-title>
            <fieldset class="holder left">
                <ad-toggle-button is-checked="exactOnlineSetup.enabled"
                                  is-disabled="!exactOnlineSetup.authorized"
                                  label="{{'EXACT_ONLINE_ACTIVATE_INACTIVATE'| translate}}"></ad-toggle-button>
            </fieldset>
            <fieldset class="holder left">
                <div class="entry full-width">
                    <label>
                        EXACT ONLINE
                        <span class="oauth-status success" ng-if="exactOnlineSetup.authorized">
                            {{'EXACT_ONLINE_AUTHORIZED' | translate}}
                        </span>
                        <span class="oauth-status" ng-if="!exactOnlineSetup.authorized">
                            {{'EXACT_ONLINE_UNAUTHORIZED' | translate}}
                        </span>
                    </label>
                    <a target="_self" href="{{exactOnlineSetup.oauth_url}}" class="button blue">
                        {{'EXACT_ONLINE_OAUTH' | translate}}
                    </a>
                </div>
            </fieldset>

            <fieldset class="holder left">
                <ad-dropdown-name savemodel="exactOnlineSetup.journal_code"
                                  valueproperty="code"
                                  property="description"
                                  list="journals"
                                  label="{{'JOURNAL_CODE'| translate}}"
                                  div-class="full-width"
                                  prefix-value="true">
                </ad-dropdown-name>
            </fieldset>

            <fieldset class="holder left">
                <div class="entry full-width has-datepicker" ng-if="exactOnlineSetup.authorized">
                    <label>
                        RUN EXPORT
                    </label>
                    <fieldset class="holder left">
                        <div class="entry">
                            <input type="text" ui-date="datePickerOptions"
                                   ng-model="exportOptions.date"
                                   readonly>
                        </div>
                        <div class="entry">
                            <button ng-click="runExport()" class="button blue">
                                {{'RUN' | translate}}
                            </button>
                        </div>
                    </fieldset>
                </div>
            </fieldset>

            <ad-save-cancel-area save-action="saveExactOnlineSetup"
                                 cancel-action="goBackToPreviousState"></ad-save-cancel-area>
        </form>
    </section>
</div>