/* StayNTouch Zest Station Styles | Amrath Theme */

/* 1. COLORS
==========================================================*/
@brandColor:            #e59d62;
    
@textColor:             @black;
@backgroundColor:       #f3f4f9;

@actionColor:           @white;
@actionBackground:      @brandColor;

@inputBackground:       #707070;
@inputColor:            @white;
@transparentColor:      rgba(0,0,0,.5);

/* 2. TYPOGRAPHY
==========================================================*/

@fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* 3. IMAGES
==========================================================*/
@background: @backgroundColor;
@backgroundSize: '';

@headerIconsColor:      @black;
@headerIconsActive:     @black;

.icons { 
    &.icon-create-key {
        fill: @brandColor;
        stroke: @brandColor;
    }

    &.icon-no-print { stroke: @white; }

    &.icon-oos {
        fill: @brandColor;
    }

    &.icon-arrow-left,
    &.icon-arrow-right {
        fill: none;
        stroke: @white;
    }

    &.icon-user-id {
        .cls-1 {
            stroke: @white;
        }
    }

}

// PMS Zest Station logo
    .logo-svg{
        background-image: url("../css/themes/perle-oban/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 176px;
        height: 110px;
        background-position: center;
        margin-top: 0;
    }

/* 4. LAYOUT
==========================================================*/

#perle-oban {

    #header {
        height: 145px;
        background: @white;
    }

    #main {
        #calc > #height > .remove(100%, 145px);
        top: 145px;
    }
    .entry.input {
        .icons {
            fill: @brandColor;
        }
    }

    input,
    select,
    button {
        font-size: 1.3em;
    }
    
    #logo {
        padding-top: 0;

        .logo {
            width: auto;
            height: 110px;
        }
    }

    #options {
        
        .icon-text {
            color: @white;
        }

        .icons {
            fill: @white;
        }

        li.break {
            padding-top: 60px;

            &:after,
            &:before {
                display: none;
            }
        }
    }

    #guests {
        .button {
            color: @white;
            background-color: @black;
        }
    } 

    .upgrade-list {
        li {
            &:not(.selected) {
                border-color: @white;

                .upgrade-content {
                    background-color: @white;
                }
            }
        }
    }

    .add-on-list {

        // The second row is getting chunked on lower viewport height
        @media screen and (max-height:800px) {
            &.add-on-list-rows {
                li:nth-child(n+4) {
                    margin-top: 0;
                }
            }
        }
    }

    .add-on {

        .input-group {
            input {
                color: @brandColor;
            }
        }
    }

    #textual {
        background: @white;
         

        &:before,
        &:after {
            background: @white;
        }

        #rate {
            li {

                &.total {
                    color: @black;
                }
            }
        }

    }

    #rate {
        li {
            &.sub {
                color: #a1a1a1;
            }
        }
    }

    #textual,
    .popup {
        .icons {
            fill: @white;
        }
    }
}