<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click="clearErrorMessage()">
	<div data-view="HotelBrandsView">
		<header class="content-title float">
			<h2> {{'SMS_CONFIGURATION' | translate}} </h2>
			<!-- <span class="count">({{data.length}})</span> -->
			
		</header>
		<form class="form inline-form float">
                    <section class="content-scroll">
                            <div ng-include="'/assets/partials/common/notification_message.html'"></div>
                            <div class="form-title">
                                <h3>
                                    <span></span>
                                    Twilio
                                </h3>
                            </div>
                            <fieldset class="holder left float" style='margin-top:15px;'>
                                    <ad-textbox value="data.account_sid"   label = "Account SID" placeholder = "Enter SID" required = "yes" styleclass="full-width"></ad-textbox>
                                    <ad-textbox value="data.account_token"   label = "Account Token" placeholder = "Enter Token" required = "yes" styleclass="full-width"></ad-textbox>
                            </fieldset>

                            <div class="actions float">
                                    <button type="button" ng-click="cancelClicked()" class="button blank" style='margin-top:15px;'>Cancel</button>
                                    <button type="button" id="save" class="button green" style='margin-top:15px;' ng-click="saveClicked()">Save</button>
                            </div>
                    </section>
                </form>
	</div>
</section>