<!-- Popup -->
<div id="popup" ng-class="{'workstations': showWorkStationList}" class="open admin-popup" click-touch='resetCounter();' style='position:fixed; left: {{screenwidth/scrnPos}}'> <!-- Remove class "open" to hide popup content -->
    <div id="popup-content" ng-hide="showWorkStationList">
        <table class='admin-table' id="popup-content" >
                <tr>
                    <h2 class="nocaps header">Admin</h2>
                </tr>
                <tr class='v-middle'>
                    <td><label class='admin-item-label'>Kiosk Idle Timer</label></td>
                    <td>
                        <div class="entry">
                                <!--input type="checkbox" ng-change='updateSettings("enabled", settings.adminIdleTimeEnabled)' /need style added for kiosk-->
                                <button ng-hide="zestStationData.idle_timer.enabled" style="float:right;" type="button" class="button grey admin-input" touch-press="updateSettings('true');">
                                        Disabled
                                </button>
                                <button ng-hide="!zestStationData.idle_timer.enabled"  style="float:right;" type="button" class="button green admin-input" touch-press="updateSettings('false');">
                                        Enabled
                                </button>
                        </div>
                    </td>
                </tr>

                <tr class='v-middle'>
                    <td><label class='admin-item-label'>Idle Time (Seconds)</label></td>
                    <td><input touch-press type="number" min='0' max='9999' ng-model='zestStationData.idle_timer.max'  class='admin-input admin-input'/></td>
                </tr>

                <tr class='admin-item v-middle'>
                    <td>
                        <label class='admin-item-label'>Idle Screen Prompt Time (Seconds)</label>
                    </td>
                    <td>
                        <input touch-press type="number" min='0' max='9999' ng-model='zestStationData.idle_timer.prompt' class='admin-input admin-input'/>
                    </td>
                </tr>
                
                <!-- tr class='admin-item'>
                    <td>
                        <label class='admin-item-label'>Work Station</label>
                    </td>
                    <td type='input' touch-press='openWorkStationList()'>
                         <select id='selectEncoder' class='admin-input select table-count rates-table-count'
                              ng-options="workstation.station_identifier as workstation.name for workstation in zestStationData.workstations" ng-model="zestStationData.selectedWorkStation">

                             <option style="display:none" value="">Select a Work Station</option>
                        </select>
                    </td>
                </tr -->
                
                 <tr class='admin-item v-middle'>
                    <td>
                        <label class='admin-item-label'>Work Station</label>
                    </td>
                    <td>
                         <button ng-show="selectedWorkstationName === ''" class="button admin-input" type='button' touch-press='openWorkStationList()'>
                            Select
                        </button>
                        
                        <button title="{{selectedWorkstationName}}" ng-show="selectedWorkstationName !== ''" class="button admin-input" type='button' touch-press='openWorkStationList()' >
                            {{selectedWorkstationName}}
                        </button>
                    </td>
                </tr>
                
                <tr class='admin-item v-middle ng-hide'>
                    <td>
                        <label class='admin-item-label'>OOS</label>
                    </td>
                    <td>
                        <button type='button' class='button green admin-input' style='float:right;' touch-press='toggleOOS()'>
                            Enable
                        </button>
                    </td>
                </tr>
                
                
                
                <tr class='admin-item v-middle' ng-if='ipad'>
                    <td>
                        <label class='admin-item-label'>Select Printer</label>
                    </td>
                    <td>
                        <button type='button' class='button green admin-input' style='float:right;' touch-press='openPrinterMenu()'>
                            Select
                        </button>
                    </td>
                </tr>
                
                 <tr class='admin-item ng-hide v-middle'>
                    <td>
                        <label class='admin-item-label'>OOS</label>
                    </td>
                    <td>
                        <button type='button' class='button green' style='float:right;' touch-press='toggleOOS()'>
                            Enable
                        </button>
                    </td>
                </tr>
                
                
                
                <tr class='v-middle'>
                    <td class='save-actions'>
                        <button type="button" class="button admin-input" touch-press='cancelAdminSettings()'>Cancel</button>
                    </td>
                    <td class='save-actions'>
                        <button type="button" class="button admin-input" touch-press='saveAdminSettings()'>Save</button>
                    </td>
                </tr>

            </table>      
    </div>
    <div id="popup-content" ng-hide="!showWorkStationList" class='workstation_list'>
        <h3 class="nocaps">Select WorkStation</h3><br>    
        <table>
            <tbody>
                <tr>
                    <div ng-repeat="workstation in zestStationData.workstations" >
                    <button style='width:100%; margin-top:5px;' ng-class='{"overlay grey":workstation.selected}' type="button" class="button" touch-press='selectWorkStation(workstation); {{selectedWorkstationName = workstation.name}}'>{{workstation.name}}</button>
                 </div>
                </tr>
                <tr>
                    <div>
                        <button style='width:100%; margin-top:20px;' type="button" class="button" touch-press='selectWorkStation(null)'>Close</button>
                    </div>
                </tr>
            </tbody>
        </table>  
    </div>
</div>
<div id="popup-overlay" class="open"></div> <!-- Remove class "open" to hide popup overlay -->