<!-- Popup -->
<div class="popup open">
    <!-- Remove class "open" to hide popup content -->
    <div class="popup-content">
        <table class='admin-table' id="popup-content">
            <tr>
                <h2 class="nocaps header" style='margin-top:5%'><span>{{'ADMIN_TITLE' |translate}}</span></h2>
            </tr>
            <tr class='v-middle'>
                <td>
                    <label class='admin-item-label'>{{'ADMIN_TIMER_ENABLED_BTN' |translate}}</label>
                </td>
                <td>
                    <div class="entry">
                        <button ng-hide="zestStationData.idle_timer.enabled" style="float:right;" type="button" class="button grey admin-input" touch-press="updateSettings('true');">
                            Disabled
                        </button>
                        <button ng-hide="!zestStationData.idle_timer.enabled" style="float:right;" type="button" class="button green admin-input" touch-press="updateSettings('false');">
                            Enabled
                        </button>
                    </div>
                </td>
            </tr>
            <tr class='v-middle'>
                <td>
                    <label class='admin-item-label'>{{'ADMIN_TIME_OUT' |translate}}</label>
                </td>
                <td>
                    <input touch-press 
                           id="timeout_text"
                           ng-focus="showOnScreenKeyboard('timeout_text')" ng-click="showOnScreenKeyboard('timeout_text')"
                           type="number"
                           min='1' 
                           max='9999' 
                           ng-model='zestStationData.idle_timer.max' 
                           class='admin-input admin-input' />
                </td>
            </tr>
            <tr class='admin-item v-middle'>
                <td>
                    <label class='admin-item-label'>{{'ADMIN_TIME_POP' |translate}}</label>
                </td>
                <td>
                    <input 
                        touch-press 
                        id="prompt_text"
                        ng-focus="showOnScreenKeyboard('prompt_text')" ng-click="showOnScreenKeyboard('prompt_text')"
                        type="number"
                        min='1'
                        max='9999'
                        ng-model='zestStationData.idle_timer.prompt' 
                        class='admin-input admin-input' />
                </td>
            </tr>
            <tr class='admin-item v-middle'>
                <td>
                    <label class='admin-item-label'>{{'ADMIN_WORKSTATION' |translate}}</label>
                </td>
                <td>
                    <select ng-model="workstation.selected" class="button admin-input workstation_dropdown">
                        <option ng-selected="workstation.selected === ''" value="">
                            Select
                        </option>
                        <option ng-repeat="workstation in zestStationData.workstations" value="{{workstation.name}}" ng-selected="workstation.selected">
                            {{workstation.name}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr class='admin-item v-middle ng-hide'>
                <td>
                    <label class='admin-item-label'>OOS</label>
                </td>
                <td>
                    <button type='button' class='button green admin-input' style='float:right;'>
                        Enable
                    </button>
                </td>
            </tr>
            <tr class='admin-item v-middle'>
                <td>
                    <label class='admin-item-label'>{{'ADMIN_STATION_PRINTER' |translate}}</label>
                </td>
                <td>
                    <button type='button' class='button green admin-input' ng-class='{"overlay":ipad===false}' style='float:right;' touch-press='openPrinterMenu()'>
                        {{zestStationData.printerLabel}}
                    </button>
                </td>
            </tr>
            <tr class='admin-item ng-hide v-middle'>
                <td>
                    <label class='admin-item-label'>OOS</label>
                </td>
                <td>
                    <button type='button' class='button green' style='float:right;' touch-press='toggleOOS()'>
                        Enable
                    </button>
                </td>
            </tr>
            <tr class='v-middle'>
                <td class='save-actions' style="padding-bottom: 15px">
                    <button type="button" class="button admin-input" touch-press='cancelAdminSettings()'><span>{{'ADMIN_CANCEL' |translate}}</span></button>
                </td>
                <td class='save-actions' style="padding-bottom: 15px">
                    <button type="button" class="button admin-input" touch-press='saveSettings()'><span>{{'ADMIN_SAVE' |translate}}</span></button>
                </td>
            </tr>
            <tr class='v-middle'>
                <td class='save-actions' style="padding-bottom: 15px">
                    <button type="button" class="button admin-input" touch-press='logOutApplication()'><span>{{'LOGOUT' |translate}}</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="popup-overlay" class='open'></div>
<!-- Remove class "open" to hide popup overlay -->