
<div ng-hide='refreshingList()' ng-show="showErrMsg()" ng-class="{notice: errorMessage != ''}" class='error error_message' ng-switch on="errorMessage.length" ng-click="clearErrorMessage()">
    <span class="close-btn" ng-click="clearErrorMessage()"></span>
    <span class="actions-small-font">
        {{errorMessage}}
    </span>
</div>
<section class="actions-content" role="main" ng-show='showActionsList() || refreshingToNonEmpty()'>
    <!-- Actions list -->
    <div class="content-left" ng-show='showActionsList() || refreshingToNonEmpty()'>
        <div ng-include="'/assets/partials/common/actions_list.html'" class="scrollable" ng-iscroll="rvActionListScroller" ng-iscroll-delay="500"></div>
    </div>

    <!-- Action summary -->
    <div class="content-right" ng-show="showActionSummary()" ng-click="stopEditClick()">
        <div class="summary" ng-include="'/assets/partials/common/actions_summary.html'"></div>
    </div>
    <!-- Action Assignment -->
    <div class="content-right" ng-show="showAssignScreen()">
        <div class="summary" ng-include="'/assets/partials/common/actions_assign.html'"></div>
    </div>

    <div class="content-right" ng-show="showNewAction() && !refreshingToNonEmpty()" ng-class="{'full-width': actions.totalCount === 0}">
        <div id="summary" class="summary" ng-include="'/assets/partials/common/actions_new_action.html'"></div>
    </div>

</section>
<section class="actions-content" role="main" ng-show='showNewActionOnly()'>
    <div class="content-right" ng-class="{'full-width': actions.totalCount === 0}">
        <div id="summary" class="summary" ng-include=" '/assets/partials/common/actions_new_action.html'"></div>
    </div>
</section>