<div id="mixedRestrictions" class="enter-restriction" ng-controller="MixedRestrictionsCtrl">
    <div ng-repeat="restrictionType in data.restrictionTypes">
        <div class="restriction_text" ng-if="restrictionType.hasEdit" ng-show="restrictionType.showEdit">
            <h3>{{restrictionType.description}}</h3>
            <div class="inputlabel" for="restictionCount">
                <label for="restictionCount"> {{restrictionType.description}} </label>
                <input id="restictionCount" type="number" ng-model="options.daysEntered"/>
            </div>
            <div class="cancellationbuttonwrap">
                <button ng-if="hasPermissionToUpdateRestrictions()" class="button green"
                        ng-class="{'grey' :!options.daysEntered && options.daysEntered!== 0}" type="button"
                        ng-click="updateRestrictionBtnClicked(restrictionType.id)"
                        ng-disabled="!options.daysEntered && options.daysEntered!== 0">
                    Set
                </button>
                <button ng-show="restrictionType.showEdit" class="button blank cancel" type="button"
                        ng-click="cancelButtonClicked(restrictionType.id)">Cancel
                </button>
            </div>
        </div>
    </div>
</div>
