<div class="filter-options">
<h3>FILTER OPTIONS</h3>
<div class="holder left">
	
	<div class="entry has-datepicker">
	    <label for="">DATE RANGE</label>
	    <input placeholder="Select date range" readonly="" maxlength="8" value="" class="datepicker1 hasDatepicker"  name="">
	    <button type="button" class="ui-datepicker-trigger">...</button>
	</div>
	
	
	<div class="entry">
	    <label for="nationality">Zoom Level</label>
	    <div class="select">
			<select name="zoom-level"> 
			    <option ng-repeat="level in data.zoom_level" class="placeholder" value="{{level.value}}">{{level.name}}</option> 
			</select>
		</div>
	</div>
	
	<hr/>
	
	<div class="entry radio-check">
	    <label class="checkbox" ng-class="{'checked:data.is_checked_all_rates=='true'}">
	    	<span class="icon-form icon-checkbox" ng-class="{'checked:data.is_checked_all_rates=='true'}"></span>
            <input type="checkbox" value="opt-in" id="opt-in" name="opt-in">
            ALL RATES
        </label>
	</div>
	
	
	<div class="entry">
	    <label for="nationality">Rate Type</label>
	    <div class="select">
			<select name="rate-type"> 
				<option ng-repeat="rate_type in data.rate_type" class="placeholder" value="{{rate_type.value}}">{{rate_type.name}}</option> 
			</select>
		</div>
	</div>
	
	<div class="entry">
	    <label for="nationality">Rate</label>
	    <div class="select">
			<select name="zoom-level"> 
				<option ng-repeat="rate in data.rate" class="placeholder" value="{{rate.value}}">{{rate.name}}</option> 
			</select>
		</div>
	</div>
	
	
	<hr/>
	
	
	<div class="entry table-search1">
		<span class="search-text">NAME CARD,IATA # OR CORPORATED ID</span>
		<span type="submit" name="submit" class="icons icon-search1"></span>
    	<input type="search" placeholder="Enter search criteria" autocomplete="off"  >
    </div>
	
	
</div>


	<div class="entry ">
		<div class="actions float">
			<button class="button green" type="button">Show Rates</button>
		</div>
	</div>


</div>