<table class="rate-calendar">
	<thead>
	 	<tr>
	 		<th width="250">
	 			<button ng-click="openCloseAllRestrictions('remove')" class="button green"> Open All</button>	
	 			<button ng-click="openCloseAllRestrictions('add')" class="button red"> Close All</button>	
	 		</th>
	 		<th width="250" ng-repeat="date in calendarData.dates"><div class="cell-content">{{date| date:'EEEE MMMM yy'}}</div></th>
	 	</tr>
	 </thead>

	<tbody>
		<tr>
			<td> All Rates</td>
			<td ng-repeat="date in calendarData.dates" class="cal-cell"> 
                <div class="cell-content">
					<span ng-repeat="restriction in calendarData.all_rates[date]" class="{{calendarData.restriction_types[restriction.restriction_type_id].background_class}} {{calendarData.restriction_types[restriction.restriction_type_id].icon}} cal-cell" >
						{{restriction.days}}
					</span>
                </div>
			</td>
		</tr>

		<tr ng-repeat="rate in calendarData.data">
			<td>    
				<span>{{rate.name}}<span>
			    <span style="float:right"><img src="/assets/arrow-down.png" ng-click="goToRoomTypeCalendarView(rate.id)"></span>
            </td>
			<td ng-repeat="date in calendarData.dates" class="cal-cell" ng-click="showUpdatePriceAndRestrictionsDialog(date, 'RATE', rate)">
                <div class="cell-content">
					<span ng-repeat="restriction in rate[date]" class="{{calendarData.restriction_types[restriction.restriction_type_id].background_class}} {{calendarData.restriction_types[restriction.restriction_type_id].icon}} cal-cell" >
						{{restriction.days}}
					</span>
                </div>
			</td>
		</tr>
	</tbody>
</table>