<div class="scrollBound">
    <div class='scrollTable pinnedLeft' scroll-position="initScrollBind()" style="overflow:hidden;height:{{uiOptions.tableHeight}}px; margin-top: 4px;">
        <table class='rate-calendar' style="width: 220px;">
            <thead>
                <tr>
                    <th class="cell" style="height: 53px; padding: 0 20 0 0;">
                        <button ng-click="openCloseAllRestrictions('remove')" 
                                class="button rm-buttonOpenClose"
                                style=" margin-left:50px;"
                                ng-class="{'green': anyRoomHasClosedRestriction, 'grey': !anyRoomHasClosedRestriction}" 
                                ng-disabled="!anyRoomHasClosedRestriction">
                            Open All
                        </button>
                        
                        <button ng-click="openCloseAllRestrictions('add')" 
                                class="button  rm-buttonOpenClose" 
                                ng-class="{'red': !calendarData.disableCloseAllBtn, 'grey': calendarData.disableCloseAllBtn}" 
                                ng-disabled="calendarData.disableCloseAllBtn">
                            Close All
                        </button>
                    </th>
                <tr>
            </thead>
            <tbody>
                <td class="cell" style="padding: 20px; padding-right: 5px; overflow:visible;">
                    <div class="bolder buttonToggleContainer">
                        <button class="button rm-buttonToggle" ng-class="activeToggleButton == 'Rates' ? 'orange' : 'grey'" style="margin-bottom:4px; margin-top:-5px;" ng-click="toggleAllRates()">All Rates</button><br>
                    <button class="button rm-buttonToggle " ng-class="activeToggleButton == 'Rooms' ? 'orange' : 'grey'"  style="margin-bottom: -5px;" ng-click="toggleAllRooms()">All Rooms</button>
                    </div>

                </td>
                <tr class="cell" ng-repeat="rate in calendarData.data track by rate.id" ng-class="{'last': $last && loading === false}" ng-show="calendarMode === 'RATE_VIEW'">
                    <td class="first-row force-align">
                        <div ng-click="goToRoomTypeCalendarView(rate)">
                            <span ng-class="{'gray': rateIsChild(rate) == true && ratesRoomsToggle !== 'ROOMS'}" title="{{rate.name}}">{{rate.name}}</span>
                            <span> 
                                <img src="/ui/pms-ui/cssimg/arrow-down.png" ng-hide="hideRoomsDownArrow"/>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <div ng-if='!uiOptions.isIpad' scroll-position="initScrollBind()" class="scrollTable" id="rateViewCalendar" style="height:{{uiOptions.tableHeight}}px;">
        <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/rateCalendarTable.html'"></div>
    </div>
    <div ng-if='uiOptions.isIpad' scroll-position="initScrollBind()" class="scrollTable" id="rateViewCalendar" style="height:{{uiOptions.tableHeight}}px;" ng-iscroll="RateCalendarCtrl" ng-iscroll-delay="1000">
        <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/rateCalendarTable.html'"></div>
    </div>
</div>
<div class='pinned-bottom'>
    <ul class="restriction-legends" >
        <li ng-repeat="restrictionType in calendarData.restriction_types">
            <span class="restriction-icon {{restrictionType.background_class}} {{restrictionType.icon}}">{{restrictionType.days}}</span>	
            <span >{{restrictionType.description}}</span>
        </li>
    </ul>
</div>
