<div>
	<div class="restriction-type" ng-repeat="restrictionType in data.restrictionTypes">
		<span class="restriction-icon {{restrictionType.background_class}} {{restrictionType.icon}}">12</span>
		<span>{{restrictionType.description}}</span>
		<span ng-show="restrictionType.isRestrictionEnabled" class="restriction-status status-on">on</span ng-click="updateRestriction(restrictionType.id, 'DISABLE')">
		<span ng-show="!restrictionType.isRestrictionEnabled" class="restriction-status status-off" ng-click="updateRestriction(restrictionType.id, 'ENABLE')">off</span>
	</div>
</div>
