<div class="restriction_text" >
	<h1>
    	RESTRICTIONS
    </h1>
    <div class="mixed_restrictions" ng-show="popupData.all_data_selected">
        <em>Mixed restrictions applied!</em>
    </div>
</div>
<div>
	<div class="restriction-type" ng-repeat="restrictionType in data.restrictionTypes">
		<span class="restriction-icon {{restrictionType.background_class}} {{restrictionType.icon}}">{{restrictionType.days}}</span>
		<span class="text">{{restrictionType.description}}</span>
		<span ng-show="restrictionType.isRestrictionEnabled" class="restriction-status status-on" ng-click="onOffRestrictions(restrictionType.id, 'DISABLE', restrictionType.days)">on</span>
		<span ng-show="!restrictionType.isRestrictionEnabled" class="restriction-status status-off" ng-click="onOffRestrictions(restrictionType.id, 'ENABLE', restrictionType.days)">off</span>
	</div>
</div>
