<div class="scrollBound">
    <div class='scrollTable pinnedLeft' scroll-position="initScrollBind()" style="overflow:hidden; height:{{uiOptions.tableHeight}}px; margin-top: 4px;">
        <table class='rate-calendar'>
            <thead>
                <tr>
                    <th class="cell first-row actions"><!--  style="{width:th.width}" -->
                        <button ng-click="openCloseAllRestrictions('remove')" 	
                                class="button" 
                                ng-class="{'green': anyRoomHasClosedRestriction,'grey': !anyRoomHasClosedRestriction}" 
                                ng-disabled="!anyRoomHasClosedRestriction"> 
                            Open All
                        </button>
                        
                        <button ng-click="openCloseAllRestrictions('add')" 
                                class="button" 
                                ng-class="{'red': !calendarData.disableCloseAllBtn,'grey': calendarData.disableCloseAllBtn}" 
                                ng-disabled="calendarData.disableCloseAllBtn"> 
                            Close All
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="calendarData.data.length > 1">
                    <td class="first-row cell">
                        <span class="bolder">All room types</span>
                        <span>&nbsp;</span>
                    </td>
                </tr>

                <tr class="cell" style="height:67px" ng-repeat="rate in calendarData.data track by rate.id" ng-class="{'expandedFirstRow': currentExpandedRow === $index}" ng-class="{'last': $last}"> 
                    <td class="first-row force-align">    
                        <span ng-class="{'expanded': currentExpandedRow === $index}">{{rate.name}}</span>
                        <span style="float:right" ng-hide="currentExpandedRow === $index || !!rate.is_hourly">
                            <img class="down" src="/ui/pms-ui/cssimg/arrow-down.png" ng-click="expandRow($index)">
                        </span>
                        <span style="float:right" ng-show="currentExpandedRow === $index && !rate.is_hourly">
                            <img class="up" src="/ui/pms-ui/cssimg/arrow-up.png" ng-click="expandRow($index)">
                        </span>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <div scroll-position="initScrollBind()" class="scrollTable" id="roomTypeViewCalendar" style="height:{{uiOptions.tableHeight}}px;">
        <table class="rate-calendar" style="width:{{uiOptions.tableWidth}}px;">
            <thead>
                <tr class="cell">
                    <th ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''" ng-repeat="date in calendarData.dates track by $index" 
                        style="width:{{uiOptions.columnWidth}}px;">
                        <div  ng-if="!isHistoryDate(date)" class="date-header" ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''">
                            <span class="week-day">{{date| date:'EEEE'}}</span>
                            <span>{{date| date:'MMMM dd'}}</span>
                        </div>
                        <div ng-if="isHistoryDate(date)" class="date-header isHistory-cell-content" style="opacity:0.7;">
                            <span class="week-day">{{date| date:'EEEE'}}</span>
                            <span>{{date| date:'MMMM dd'}}</span>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-if="calendarData.data.length > 1">
                    <td ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''" ng-repeat="date in calendarData.dates track by $index" class="cell"> 
                        <div ng-class="(!isHistoryDate(date) && currentExpandedRow === $parent.$index && !rate.is_hourly && {{isWeekend(date)}}) ? 'expandedContainerWeekend' : ''" class="cell-container" ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''" ng-class="{{isHistoryDate(date)}} ? 'history_cell_container' : ''">
                            <div ng-if="!isHistoryDate(date)" class="cell-content" ng-click="showUpdatePriceAndRestrictionsDialog(date, '', '', 'ROOM_TYPE', true)">
                                <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/roomCalendarRestrictions.html'"></div>
                            </div>
                            <div ng-if="isHistoryDate(date)" class="cell-content isHistory-cell-content "  >
                                <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/roomCalendarRestrictions.html'"></div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr ng-repeat="rate in calendarData.data track by rate.id" ng-class="{'last': $last}"> 
                    <td ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''"  ng-repeat="date in calendarData.dates track by $index" class="cell" ng-hide="currentExpandedRow === $parent.$index && !rate.is_hourly" >
                        <div ng-class="(!isHistoryDate(date) && currentExpandedRow === $parent.$index && !rate.is_hourly && {{isWeekend(date)}}) ? 'expandedContainerWeekend' : ''" class="cell-container" ng-class="{{isHistoryDate(date)}} ? 'history_cell_container' : ''"  ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''" >
                            <div ng-if="!isHistoryDate(date)" class="cell-content" ng-click="showUpdatePriceAndRestrictionsDialog(date, '', rate.id, 'ROOM_TYPE', false)">
                                <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/roomCalendarDiv.html'"></div>
                            </div>
                            <div ng-if="isHistoryDate(date)" class="cell-content isHistory-cell-content"  >
                                <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/roomCalendarDiv.html'"></div>
                            </div>
                        </div>
                    </td>
                    <td ng-repeat="date in calendarData.dates track by $index" class="cell" ng-show="currentExpandedRow === $parent.$index && !rate.is_hourly" >
                        <div ng-class="(!isHistoryDate(date) && currentExpandedRow === $parent.$index && !rate.is_hourly && {{isWeekend(date)}}) ? 'expandedContainerWeekend' : ''"  class="exp cell-container" ng-class="{{isHistoryDate(date)}} ? 'history_cell_container' : ''" ng-class="{{isWeekend(date)}} ? 'weekend_day' : ''">
                            <div ng-if="!isHistoryDate(date)" class="exp cell-content" ng-click="showUpdatePriceAndRestrictionsDialog(date, '', rate.id, 'ROOM_TYPE', false)">
                                <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/roomCalendarRoomTypeExpanded.html'"></div>
                            </div>
                            <div ng-if="isHistoryDate(date)" class="exp cell-content isHistory-cell-content">
                                <div ng-include="'/assets/partials/rateManager/restrictionsTemplate/roomCalendarRoomTypeExpanded.html'"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
</div>
<div class='pinned-bottom'>
    <ul class="restriction-legends" >
        <li bindonce ng-repeat="restrictionType in calendarData.restriction_types">
            <span class="restriction-icon {{restrictionType.background_class}} {{restrictionType.icon}}"
                  bo-html="restrictionType.days"></span>
            <span bo-html="restrictionType.description"></span>
        </li>
    </ul> 
</div>
