<div class ="topbar">
	<ul>
		<li ng-show="backbuttonEnabled"><a ng-click="backButtonClicked()" class="back-button">Back</a></li>
		<li><h6>Date Range</h6>{{currentFilterData.begin_date|date : 'MM-dd-yyyy'}} to {{currentFilterData.end_date|date : 'MM-dd-yyyy'}}</li>
		<li ng-show="ratesDisplayed.length > 0"><h6>Rate</h6><span ng-repeat="rate in ratesDisplayed">{{rate.name}}{{$last ? '' : ', '}}</span></li>
		<li ng-show="currentFilterData.name_cards.length > 0"><h6>Name Card</h6><span ng-repeat="card in currentFilterData.name_cards">{{card.account_name}}{{$last ? '' : ', '}}</span></li>
	</ul>
	<div class="display-mode" >
		<div><button class="button cl-gr-button">&nbsp;</button></div>
		<div><button ng-click="showGraphView()" class="button gr-button" ng-class="{'active' : displayMode == 'GRAPH'}">&nbsp;</button></div>
		<div><button ng-click="showCalendarView()" class="button active cl-button" ng-class="{'active' : displayMode == 'CALENDAR'}">&nbsp;</button></div>
	</div>
	<br clear="all">
</div>
