
<div id="modal" class="modal-show right-arrow">
    <div class="modal-content rate-manager-modal" ng-controller="UpdatePriceAndRestrictionsCtrl">
          <div class="modal-header">
                    <div class="modal-header-left">
                        <h2 ng-show="!popupData.all_data_selected" ng-class="{'title-expanded': showExpandedView || (popupData.fromRoomTypeView && data.hasAmountConfigured)}">{{data.name}}</h2>
                        <em ng-show="!popupData.all_data_selected">{{popupData.selectedDate| date:'EEEE, MMMM dd'}}</em>
                        <!-- To show dates as bold for all room types and all rate types -->
                        <h2 ng-show="(popupData.fromRoomTypeView && popupData.all_data_selected) || (!popupData.fromRoomTypeView && popupData.all_data_selected)" class="h1">
                            {{popupData.selectedDate| date:'EEEE, MMMM dd'}}
                        </h2>
                        <em ng-show="(popupData.fromRoomTypeView || ratesRoomsToggle !== 'RATES') && popupData.all_data_selected">All room types</em>
                        <em ng-show="!popupData.fromRoomTypeView && ratesRoomsToggle === 'RATES' && popupData.all_data_selected">All rates</em>
                        <em class="rate-name" ng-show="ratesRoomsToggle === 'RATES' && !popupData.fromRoomTypeView ">All room types</em>
                        <em class="rate-name no-rate-name" ng-show="!popupData.fromRoomTypeView && ratesRoomsToggle !== 'RATES'">No Rate Selected</em>
                        <em class="rate-name" ng-show="popupData.fromRoomTypeView">{Rate Name}</em>


                    </div>
                    <div class="modal-header-right">

                        <!-- Remove class .hidden if there is any notice-->
                        <!-- Notice are when there is a mixed restriction or when the rates are edited -->
                        <!-- 'Mixed Restrictions Applied' or 'Rate amounts marked with * are edited' , look on CICO-25391-->
                        <div class="notice hidden">{Notice Text}</div>

                    </div>
                </div>                
                <div class="modal-body">
                    <div class="content-left">
                        <div class="ng-scope restbg" ng-include="'/assets/partials/rateManager/restrictionsList.html'" >
                                </div>
                    </div>
                    <div class="content-middle">
                        <!-- show no price info if we are on rate view, all data is selected or a room type is selected -->
                        <div ng-if="!popupData.fromRoomTypeView && (popupData.all_data_selected || ratesRoomsToggle !== 'RATES')" ng-hide="data.showEditView" >
                              <div ng-include="'/assets/partials/rateManager/noPriceInfo.html'"></div>
                        </div>
                        
                            <div ng-if="popupData.all_data_selected" ng-show="data.showEditView">
                                <div ng-include="'/assets/partials/rateManager/mixedRestrictions.html'"></div>
                            </div>

                            <div ng-show="data.showEditView && !popupData.all_data_selected">
                                <div ng-include="'/assets/partials/rateManager/enterRestriction.html'"></div>
                            </div>

                            <div ng-show="popupData.fromRoomTypeView && !data.showEditView && data.hasAmountConfigured">
                                <div ng-include="'/assets/partials/rateManager/restrictionRoomRates.html'" ></div >
                            </div>

                            <div ng-show="!popupData.fromRoomTypeView && !popupData.all_data_selected">
                                <div ng-include="'/assets/partials/rateManager/priceInfo.html'"></div >
                            </div>

                    </div>
                    <div class="content-right">
                        <div ng-include="'/assets/partials/rateManager/restrictionWeekDays.html'"></div >
                    </div>
                </div>
                <div class="footer">
                    <div class="actions">
                        <button class="button blank edit-data-inline" id="cancel" ng-click="hideUpdatePriceAndRestrictionsDialog()" type="button">
                            Cancel
                        </button>
                        <button ng-if="hasAnyOverride() !== 'false' && calendarData.is_child == false && inRoomView == true" class="button blank edit-data-inline purple" id="clearOverrides" ng-click="clearOverrides(popupData)" type="button" style="color:white;">
                            Clear Rate Overrides
                        </button>
                        <button ng-if="hasPermissionToUpdateRestrictions() || hasPermissionToUpdateRates()" class="button green edit-data-inline" id="save" type="button" ng-click="saveRestriction()" ng-class="{'grey' : data.showEditView}" ng-disabled="data.showEditView">
                            Set
                        </button>
                    </div>
                </div>
           
       
    </div>
</div>