<div ng-controller="UpdatePriceAndRestrictionsCtrl">
    <dialog>
        <div class="updatePriceAndRestrictionsContainer">
            <div class="header">
                <h2 class="h1">{{data.name}}</h2>
                <em>{{popupData.selectedDate| date:'EEEE MMMM dd'}}</em>
            </div>
            
            <div>
                <table>
                    <tr>
                        <td width="50%">
                            <div ng-include="'/assets/partials/rateManager/restrictionsList.html'" >
                            </div>
                        </td>
                        <td width="50%" ng-show="showRestrictionDayUpdate && !popupData.all_data_selected" >
                            <div ng-include="'/assets/partials/rateManager/restrictionDaysEnter.html'"ng-controller="RestrictionDaysCtrl"></div >
                        </td>
                        <!-- <td width="50%" ng-show="popupData.all_data_selected && showRestrictionDayUpdate" >
                            <div ng-include="'/assets/partials/rateManager/mixedRestrictions.html'" ng-controller="MixedRestrictionsCtrl"></div >
                        </td> -->
                       <!--  <td width="50%" style="vertical-align:top" >
                           <div ng-include="'/assets/partials/rateManager/restrictionRoomRates.html'"ng-controller="RestrictionDaysCtrl"></div >
                       </td> -->
                        <td>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="footer">
                <div class="actions float">
                    <button class="button blank edit-data-inline" id="cancel" ng-click="hideUpdatePriceAndRestrictionsDialog()" type="button">
                        Cancel
                    </button>
                    <button class="button green edit-data-inline" id="save" type="button" ng-click="saveRestriction()">
                        Set
                    </button>
                </div>
            </div>
        </div>
</div>