<div class="invoice ">
    <div class="invoice-logo envelope">
        <img ng-src="{{printData.hotel_logo}}" alt="" />
        <br/>
        <br/>
        <h1>{{printData.hotel_name}}</h1>
        <span ng-bind-html="printData.hotel_address"></span>
        <span class="type">{{printData.invoiceLabel}}</span>
        <span class="type" ng-if="printData.invoice_qr_code_location === 'HEADER' && !printData.is_informational_invoice && !printData.is_proforma_invoice && !printData.is_deposit_invoice && printData.efsta_fiskal_signature_data.qr_code !== '' && printData.efsta_fiskal_signature_data.qr_code !== null">
            <br/><img ng-src="{{printData.efsta_fiskal_signature_data.qr_code}}" alt="" class="qr-code" />
        </span>
    </div>
    <div class="info-container account-info">
        <div class="info-left">
            <div class="info-bottom">
                <strong>{{printData.card_details.name}}</strong>
                <br ng-if="printData.card_details.address"/>
                <span ng-bind-html="printData.card_details.address"></span>
                <br ng-if = "printData.invoice_date"/>
                <br ng-if = "printData.invoice_date"/>
                <span ng-if = "printData.invoice_date"><strong>{{printData.translation.invoice_date}}:</strong> {{printData.invoice_date}}</span>
                <br ng-if = "printData.should_print_invoice_number && printData.invoice_number" />
                <span ng-if = "printData.should_print_invoice_number && printData.invoice_number"><strong><span ng-if="printData.invoice_number_label">{{printData.invoice_number_label}}:</span>
                    <span ng-if="!printData.invoice_number_label">{{printData.translation.invoice_number}}:</span></strong> {{printData.invoice_number}}</span>
                <br ng-if = "!printData.is_informational_invoice && !printData.is_print_ar_invoice_number_enabled && printData.folio_number && printData.is_print_folio_enabled"/>
                <span ng-if = "!printData.is_informational_invoice && !printData.is_print_ar_invoice_number_enabled && printData.folio_number && printData.is_print_folio_enabled">
                    <strong><span ng-if = "printData.folio_number_label">{{printData.folio_number_label}}:</span><span ng-if = "!printData.folio_number_label">{{printData.translation.folio_number}}:</span></strong> {{printData.folio_number}}</span>
                <br ng-if = "printData.is_print_ar_invoice_number_enabled && printData.ar_invoice_number"/>
                <span ng-if = "printData.is_print_ar_invoice_number_enabled && printData.ar_invoice_number"><strong><span ng-if = "printData.ar_invoice_number_label">{{printData.ar_invoice_number_label}}:</span>
                <span ng-if = "!printData.ar_invoice_number_label">{{printData.translation.ar_invoice_number}}:</span>&nbsp;</strong> {{printData.ar_invoice_number}}</span>
                <br ng-if = "!printData.is_informational_invoice && printData.is_print_ar_folio_number_enabled && printData.ar_folio_number"/>
                <span ng-if = "!printData.is_informational_invoice && printData.is_print_ar_folio_number_enabled && printData.ar_folio_number">
                    <strong><span ng-if = "printData.ar_folio_number_label">{{printData.ar_folio_number_label}}:</span><span ng-if = "!printData.ar_folio_number_label">{{printData.translation.ar_folio_number}}:</span></strong> {{printData.ar_folio_number}}
                </span>
            </div>
        </div>
        <div class="info-right">
            <br /><br />
            <span ng-if = "printData.account_name"><strong>{{printData.translation.account_name}}:</strong> {{printData.account_name}}</span>
            <br ng-if = "printData.arrival_date"/>
            <span ng-if = "printData.arrival_date"><strong>{{printData.translation.arrival_date}}:</strong> {{printData.arrival_date}}</span>
            <br ng-if = "printData.departure_date"/>
            <span ng-if = "printData.departure_date"><strong>{{printData.translation.departure_date}}:</strong> {{printData.departure_date}}</span>
            <br ng-if = "printData.room_number"/>
            <span ng-if = "printData.room_number"><strong>{{printData.translation.room_number}}:</strong> {{printData.room_number}}</span>
            <br ng-if = "printData.confirmation_number"/>
            <span ng-if = "printData.confirmation_number"><strong>{{printData.translation.confirmation_number}}:</strong> {{printData.confirmation_number}}</span>
            <br ng-if = "printData.tax_number"/>
            <span ng-if = "printData.tax_number"><strong>{{printData.translation.tax_number}}:</strong> {{printData.tax_number}}</span>
            <br ng-if = "!printData.is_informational_invoice && printData.card_details.ar_number"/>
            <span ng-if = "!printData.is_informational_invoice && printData.card_details.ar_number"><strong>{{printData.translation.ar_number}}:</strong> {{printData.card_details.ar_number}}</span>
            <br ng-if="printData.guest_details.address"/>
            <br ng-if="printData.guest_details.address"/>
            <span ng-bind-html="printData.guest_details.address"></span>
            <br ng-if="printData.invoice_currency_code"/>
            <span ng-if="printData.invoice_currency_code"><strong>{{printData.translation.invoice_currency}}:</strong>{{printData.invoice_currency_code}}</span>
            <br /><br />
        </div>

    </div>

    <div class="invoice-header" ng-if="printData.ar_invoice_header">
        <p>{{printData.ar_invoice_header}}</p>
    </div>

    <div class="invoice-body">
        <br /><br /><br />
        <table class="invoice-details">
            <thead class="invoice-table">
                <tr>
                    <th>{{printData.translation.date_of_charge}}</th>
                    <th colspan="6">{{printData.translation.charge_description}}</th>
                    <th class="align-right">{{printData.translation.charge_amount}}</th>
                    <th colspan="6"></th>
                    <th class="align-right">{{printData.translation.credit_amount}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="printData.debits.length > 0" class="person" ng-repeat="statement in printData.debits">
                    <td rowspan={rowspan}>{{statement.date}}</td>
                    <td class="description" colspan="6">
                        <span>{{statement.description}}</span>
                        <span class="reference">{{statement.reference_text}}</span>
                    </td>
                    <td class="align-right">
                        <span ng-if="statement.fees" class="currency">{{printData.currency_for_html}}</span>{{statement.fees | number: precisonTwo}}
                        <div ng-if="statement.ar_fees_invoice_currency" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{statement.ar_fees_invoice_currency | number: precisonTwo}}
                        </div>
                    </td>
                    <td rowspan={rowspan} class="align-right">
                        <span ng-if="statement.credits" class="currency">{{printData.currency_for_html}}</span>{{statement.credits | number: precisonTwo}}
                        <div ng-if="statement.ar_credits_invoice_currency" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{statement.ar_credits_invoice_currency | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
                <tr ng-if="printData.payments.length > 0" class="person" ng-repeat="statement in printData.payments">
                    <td rowspan={rowspan}>{{statement.transaction_date}}</td>
                    <td class="description" colspan="6">
                        <strong>{{statement.payment_type}}</strong>
                        <span>{{statement.description}}</span>
                        <span class="reference">{{statement.reference_text}}</span>
                    </td>
                    <td class="align-right">
                        <span ng-if="statement.fees" class="currency">{{printData.currency_for_html}}</span>{{statement.fees | number: precisonTwo}}
                        <div ng-if="statement.ar_fees_invoice_currency" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{statement.ar_fees_invoice_currency | number: precisonTwo}}
                        </div>
                    </td>
                    <td colspan="6"></td>
                    <td rowspan={rowspan} class="align-right">
                        <span ng-if="statement.amount" class="currency">{{printData.currency_for_html}}</span>{{statement.amount | number: precisonTwo}}
                        <div ng-if="statement.ar_amount_invoice_currency" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{statement.ar_amount_invoice_currency | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <br>
                <tr>
                    <td></td>
                    <td colspan="6"></td>
                    <td><strong>{{printData.translation.total_charge}} </strong></td>
                    <td colspan="6"></td>
                    <td>
                        <strong><span class="currency" ng-if="printData.total_charge">{{printData.currency_for_html}}</span>{{printData.total_charge | number: precisonTwo}}</strong>
                        <div ng-if="printData.invoice_currency_total_charge" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{printData.invoice_currency_total_charge | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6"></td>
                    <td><strong>{{printData.translation.total_credits}} </strong></td>
                    <td colspan="6"></td>
                    <td>
                        <strong><span class="currency" ng-if="printData.total_credits">{{printData.currency_for_html}}</span>{{printData.total_credits | number: precisonTwo}}</strong>
                        <div ng-if="printData.invoice_currency_total_credits" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{printData.invoice_currency_total_credits | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6"></td>
                    <td ><strong>{{printData.translation.balance}} </strong></td>
                    <td colspan="6"></td>
                    <td>
                        <strong><span class="currency" ng-if="printData.balance">{{printData.currency_for_html}}</span>{{printData.balance | number: precisonTwo}}</strong>
                        <div ng-if="printData.invoice_currency_balance" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{printData.invoice_currency_balance | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6"></td>
                    <td>{{printData.translation.net_amount}} </td>
                    <td colspan="6"></td>
                    <td>
                        <span class="currency" ng-if="printData.net_amount">{{printData.currency_for_html}}</span>{{printData.net_amount | number: precisonTwo}}
                        <div ng-if="printData.invoice_currency_net_amount" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{printData.invoice_currency_net_amount | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
                <tr ng-if="!printData.ar_has_enabled_extended_tax_breakdown" ng-repeat="tax in printData.tax_info">
                    <td></td>
                    <td colspan="6"></td>
                    <td>{{tax.tax_charge_code_desc}} </td>
                    <td colspan="6"></td>
                    <td>
                        <span class="currency" ng-if="tax.amount">{{printData.currency_for_html}}</span>{{tax.amount | number: precisonTwo}}
                        <div ng-if="tax.invoice_currency_amount" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{tax.invoice_currency_amount | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="6"></td>
                    <td>{{printData.translation.total_incl_tax}} </td>
                    <td colspan="6"></td>
                    <td>
                        <span class="currency" ng-if="printData.total_incl_tax">{{printData.currency_for_html}}</span>{{printData.total_incl_tax | number: precisonTwo}}
                        <div ng-if="printData.invoice_currency_total_incl_tax" class="converted-currency">
                            {{printData.invoice_currency_for_html}}{{printData.invoice_currency_total_incl_tax | number: precisonTwo}}
                        </div>
                    </td>
                </tr>
            </tfoot>
                       
        </table>
    </div>
    <strong ng-if="printData.ar_has_enabled_extended_tax_breakdown">{{printData.translation.tax_breakdown}}</strong>
    <table class="invoice-details extended-tax-table" ng-if="printData.ar_has_enabled_extended_tax_breakdown">
        <thead class="invoice-table">
            <tr>
                <th class="text-align-left" >{{printData.translation.tax_description}}</th>
                <th >{{printData.translation.gross}}</th>
                <th >{{printData.translation.net}}</th>
                <th >{{printData.translation.tax}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in printData.extended_tax_breakdown.details">
                <td class="text-align-left" ng-if="item.description === 'Tax Exempt'">{{ printData.translation.tax_exempt }}</td>
                <td class="text-align-left" ng-if="item.description !== 'Tax Exempt'">{{ item.description }}</td>
                <td>{{currencySymbol}}{{ item.gross_amount | number: precisonTwo }}
                    <div class="converted-currency" ng-if="isMultiCurrencyEnabled && item.inv_gross_amount !== null">
                        {{invoiceCurrencySymbol}}{{item.inv_gross_amount}}
                    </div>
                </td>
                <td>{{currencySymbol}}{{ item.net_amount | number: precisonTwo }}
                    <div class="converted-currency" ng-if="isMultiCurrencyEnabled && item.inv_net_amount !== null">
                        {{invoiceCurrencySymbol}}{{item.inv_net_amount}}
                    </div>
                </td>
                <td>{{currencySymbol}}{{ item.tax_amount | number: precisonTwo }}
                    <div class="converted-currency" ng-if="isMultiCurrencyEnabled && item.inv_tax_amount !== null">
                        {{invoiceCurrencySymbol}}{{item.inv_tax_amount}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-align-left" ><strong>{{printData.translation.total}}</strong></td>
                <td><strong>{{currencySymbol}}{{ printData.extended_tax_breakdown.total_gross_amount | number: precisonTwo }}</strong>
                    <div class="converted-currency" ng-if="isMultiCurrencyEnabled && printData.extended_tax_breakdown.inv_total_gross_amount !== null">
                        <strong>{{invoiceCurrencySymbol}}{{printData.extended_tax_breakdown.inv_total_gross_amount}}</strong>
                    </div>
                </td>
                <td><strong>{{currencySymbol}}{{ printData.extended_tax_breakdown.total_net_amount | number: precisonTwo }}</strong>
                    <div class="converted-currency" ng-if="isMultiCurrencyEnabled && printData.extended_tax_breakdown.inv_total_net_amount !== null">
                        <strong>{{invoiceCurrencySymbol}}{{printData.extended_tax_breakdown.inv_total_net_amount}}</strong>
                    </div>
                </td>
                <td><strong>{{currencySymbol}}{{ printData.extended_tax_breakdown.total_tax_amount | number: precisonTwo }}</strong>
                    <div class="converted-currency" ng-if="isMultiCurrencyEnabled && printData.extended_tax_breakdown.inv_total_tax_amount !== null">
                        <strong>{{invoiceCurrencySymbol}}{{printData.extended_tax_breakdown.inv_total_tax_amount}}</strong>
                    </div>
                </td>
            </tr>
        </tbody>           
    </table>

    <div class="info-container" >
        <div class="info-left" ng-show="!printData.is_informational_invoice && !printData.is_proforma_invoice && !printData.is_deposit_invoice">
            <div>
                <strong>{{printData.translation.tse_transaction_id}}:</strong>{{printData.efsta_fiskal_signature_data.t_id}}<br/>
                <strong>{{printData.translation.tse_transaction_start}}:</strong>{{printData.efsta_fiskal_signature_data.start_date | date:dateFormat}}<br/>
                <strong>{{printData.translation.tse_transaction_end}}:</strong>{{printData.efsta_fiskal_signature_data.end_date | date:dateFormat}}<br/>
                <strong>{{printData.translation.tse_serial_number}}:</strong>{{printData.efsta_fiskal_signature_data.serial_number}}<br/>
                <strong>{{printData.translation.tse_sign_counter}}:</strong>{{printData.efsta_fiskal_signature_data.sign_counter}}<br/>
                <strong>{{printData.translation.tse_signature}}:</strong>{{printData.efsta_fiskal_signature_data.signature}}<br/>
            </div>
        </div>
        <div class="info-right">
            <div ng-show="printData.invoice_qr_code_location === 'FOOTER' && !printData.is_informational_invoice && !printData.is_proforma_invoice && !printData.is_deposit_invoice">
                <span class="type" ng-if="printData.efsta_fiskal_signature_data.qr_code">
                    <br/><img ng-src="{{printData.efsta_fiskal_signature_data.qr_code}}" alt="" class="qr-code" /> 
                </span>
            </div>
        </div>
        <div class="info-bottom"></div>
    </div>

    <div class="invoice-footer text-center" ng-bind-html="trustAsHtml(printData.ar_billing_text)">
    </div>
    <div class="invoice-footer text-center" ng-if="printData.ar_invoice_footer">
        <p>{{printData.ar_invoice_footer}}</p>
    </div>
</div>
