<ul class="search-results">

    <li class="reservation transaction" ng-repeat="paidInvoice in arDataObj.paidList">

        <!-- add .active when clicked -->
        <div class="faux-anchor has-arrow toggle" ng-click="clickedPaidListItem( $index )" ng-class="{'active': paidInvoice.active }">
            <div class="data" ng-if="paidInvoice.associated_type === 'Reservation'">

                <!-- add class .group/allotment if group or allotment -->
                <h2>
                    <span>{{paidInvoice.guest_last_name}}</span>, <span>{{paidInvoice.guest_first_name}}</span>
                </h2>
                <span class="invoice" ng-if="arDataObj.isPrintArInvoiceNumberEnabled && paidInvoice.ar_invoice_number!==null">
                    {{arDataObj.arInvoiceLabel}} #<span class="value">{{paidInvoice.ar_invoice_number}}</span>
                </span>
                <span class="invoice">Invoice #<span class="value">{{paidInvoice.invoice_number}}</span></span>
                
                <span class="confirmation" ng-if="paidInvoice.external_reference_number !== null">Ext #<span class="value">{{paidInvoice.external_reference_number}}</span></span>
                <span class="confirmation" ng-if="paidInvoice.external_reference_number === null">Conf #<span class="value">{{paidInvoice.reservation_confirm_no}}</span></span>
            </div>
            <div class="data" ng-if="paidInvoice.is_manual_balance">
                <h2>
                    {{paidInvoice.guest_first_name}}
                </h2>
            </div>
            <div class="data" ng-if="paidInvoice.associated_type === 'PostingAccount'">
                <h2>
                    <span>{{paidInvoice.account_name}}</span>
                </h2>
                <span class="invoice" ng-if="arDataObj.isPrintArInvoiceNumberEnabled && paidInvoice.ar_invoice_number!==null">
                    {{arDataObj.arInvoiceLabel}} #<span class="value">{{paidInvoice.ar_invoice_number}}</span>
                </span>
                <span class="invoice">Account #<span class="value">{{paidInvoice.account_number}}</span></span>
            </div>
            
            <!-- Case 1: Nightly -->
            <div class="reservation-time" ng-if="paidInvoice.reservation_arrival_date !== paidInvoice.reservation_dep_date">
                <div class="check-icons">
                    <span class="guest-status check-in" ng-if="!paidInvoice.is_manual_balance && paidInvoice.associated_type !== 'PostingAccount'">arrival</span>
                    <span class="guest-status check-out" ng-hide="paidInvoice.associated_type === 'PostingAccount'">arrival</span>
                </div>
                <div class="check-times">
                    <time class="guest-time" ng-if="!paidInvoice.is_manual_balance && paidInvoice.associated_type !== 'PostingAccount'">
                        <span>{{paidInvoice.reservation_arrival_date | date : dateFormat}}</span>
                        <span class="hours">{{paidInvoice.reservation_arrival_time}}</span>
                    </time>
                    <time class="guest-time">
                        <span>{{paidInvoice.reservation_dep_date | date : dateFormat}}</span>
                        <span class="hours">{{paidInvoice.reservation_dep_time}}</span>
                    </time>
                </div>
            </div>

            <!-- Case 2: Daily Reservation -->
            <div class="reservation-time daily" ng-if="paidInvoice.reservation_arrival_date === paidInvoice.reservation_dep_date">
                <div class="check-icons">
                    <span class="guest-status check-in">arrival</span>
                    <span class="guest-status check-out">arrival</span>
                </div>
                <div class="check-times">
                    <div class="guest-hours">
                        <time class="guest-time">{{paidInvoice.reservation_arrival_time}}</time> - <time class="guest-time">{{paidInvoice.reservation_dep_time}}</time>
                    </div>
                    <span class="date">{{paidInvoice.reservation_arrival_date | date : dateFormat}}</span>
                </div>
            </div>
            
            <!-- if daily reservation add .red -->
            <div class="reservation-type red" ng-if="paidInvoice.is_day_use">D</div>
            <div class="reservation-type" ng-if="!paidInvoice.is_day_use && hotelDiaryConfig.mode === 'FULL'">N</div>

            <div class="amount paid">
                <span class="currency">{{currencySymbol}}</span>{{ paidInvoice.amount | number:2 }}
            </div>
 
        </div>

        <div class="grid-items" ng-show="paidInvoice.active">
            <table>
                <thead>
                    <tr>
                        <th class="date" scope="col">Date</th>
                        <th scope="col">Charge Code</th>
                        <th class="description" scope="col">Description</th>
                        <th class="fees" scope="col">Fees</th>
                        <th class="credits" scope="col">Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 'row-class' => 'odd' or 'even' on each new charge item
                          1. tr => 'odd',
                          2. tr => 'even',
                             'If charge item has charge items'
                             tr.charge-items => 'even'
                          3. tr => 'odd' ...
                     -->
                    <tr ng-repeat="debit in paidInvoice.debits" ng-class="{'odd': $odd, 'even': $even}" >
                        <td>{{ debit.date | date : dateFormat}}</td>
                        <td>
                            <span ng-if="isStandAlone && !debit.is_group_by_ref">{{ debit.charge_code }}</span>
                        </td>
                        <td class="description" ng-class = "{'toggle': isStandAlone && debit.is_group_by_ref, 'active': debit.isExpanded}" ng-click = "expandGroupedCharge(debit)">{{ debit.description }}<span ng-if="isStandAlone && debit.is_group_by_ref" class="icons icon-double-arrow"></span>
                            <!-- Lightspeed Data -->
                            <ul class = 'charge-items' ng-if = "isStandAlone && debit.is_group_by_ref" ng-class = "{'hidden': !debit.isExpanded}">
                                <li ng-repeat = "object in debit.light_speed_data"><span>{{object.description}}</span></li>
                            </ul>
                            <!-- Lightspeed Data -->
                        </td>
                        <td class="fees">
                            <span ng-if="debit.fees" class="currency">{{ currencySymbol }}</span>{{ debit.fees | number:2 }}
                            <!-- Lightspeed Data -->
                            <ul class = 'charge-items' ng-if = "isStandAlone && debit.is_group_by_ref" ng-class = "{'hidden': !debit.isExpanded}">
                                <li ng-repeat = "object in debit.light_speed_data">
                                    <span class = "cost"><span class="currency">{{currencySymbol}}</span>{{object.amount | number:2 }}</span>
                                </li>
                            </ul>
                            <!-- Lightspeed Data -->
                        </td>
                        <td class="credits">
                            <span ng-if="debit.credits" class="currency">{{ currencySymbol }}</span>{{ debit.credits | number:2 }}
                        </td>
                    </tr>

                    <tr ng-repeat="payment in paidInvoice.payments" ng-class="{'odd': $odd, 'even': $even}">
                        <td>{{ payment.transaction_date | date : dateFormat}}</td>
                        <td>{{ payment.charge_code}}</td>
                        <td class="description">
                            <div class="payment-data" ng-if="payment.is_cc_payment">
                                <figure class="card-logo">
                                    <img ng-src="/assets/images/{{payment.card_details.card_code.toLowerCase()}}.png" alt="">
                                </figure>
                                <span class="number">{{payment.card_details.last_digits}}</span>
                                <span class="date"><span class="value">{{payment.card_details.expire_date | date : dateFormat}}</span></span>
                                <span class="reference">{{payment.reference_text}}</span>
                            </div>
                            <div class="payment-data" ng-if="!payment.is_cc_payment">
                                <span class="type">{{payment.payment_type}}</span>
                                <span class="reference">{{payment.reference_text}}</span>
                            </div>
                        </td>
                        <td class="fees"></td>
                        <td class="credits">
                            <span class="currency">{{ currencySymbol }}</span>{{ payment.amount | number:2 }}
                        </td>
                        <td class="action">
                            <button class="button blank with-icon only-icon open-modal" ng-show="arFlags.hasAllocateUnallocatePermission" ng-click="clickedUnallocateButton(payment)">
                                <span class="icons icon-remove-40"></span>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="actions">
                <button type="button" ng-show="arFlags.viewFromOutside && !paidInvoice.is_manual_balance " class="button brand-colors" ng-click="goToReservationDetails($index)">StayCard</button>
                <button type="button" class="button purple hidden">Move Invoice</button>
                <button type="button" class="button blue hidden">Print Invoice</button>
                <button type="button" class="button white green-text hidden">Post Charge</button>
                <button type="button" class="button white purple-text hidden">Edit Charges</button>
            </div>
        </div>
    </li>
    <li>
        <!-- To fix scroll: The footer for pagination and select payment is coming above the list so the last entry will 
        not be visible-->
        <div>&nbsp;</div>
    </li>
</ul>
