<ul class="search-results">
    <li class="reservation transaction payment unallocated" ng-repeat="unallocatedCreditTransaction in arDataObj.unallocatedList track by $index">

        <div class="faux-anchor" ng-class="{'active': unallocatedCreditTransaction.active , 'toggle has-arrow': unallocatedCreditTransaction.is_partially_paid}" ng-click="clickedUnallocatedListItem( $index )" >
            <div class="data">
                <h2>{{unallocatedCreditTransaction.payment_type}}</h2>
                <div class="payment-data">
                    <!-- if card, show card logo -->
                    <figure class="card-logo" ng-show="unallocatedCreditTransaction.is_cc_payment">
                        <img ng-src="/assets/images/{{unallocatedCreditTransaction.card_details.card_code.toLowerCase()}}.png" alt="">
                    </figure>
                    <!-- if number, show ending number -->
                    <span class="number" ng-show="unallocatedCreditTransaction.is_cc_payment">{{unallocatedCreditTransaction.card_details.last_digits}}</span>
                    <!-- if exp date, show exp date -->
                    <span class="date" ng-show="unallocatedCreditTransaction.is_cc_payment">Date <span class="value">{{unallocatedCreditTransaction.card_details.expire_date | date:dateFormat}}</span></span>
                    <!-- if reference, show reference -->
                    <span class="reference" ng-show="unallocatedCreditTransaction.reference_text">Reference <span class="value">{{unallocatedCreditTransaction.reference_text}}</span></span>
                </div>
            </div>
            <div class="payment-date">
                <span class="icons small-icon icon-time time-black"></span>
                <time datetime="">
                    <span class="date">{{unallocatedCreditTransaction.transaction_date | date:dateFormat}}</span>
                    <span class="time">{{unallocatedCreditTransaction.transaction_time}}</span>
                </time>
            </div>
            <!-- if partially unallocated add .partially-paid -->
            <div class="amount green" ng-class="{'partially-paid': unallocatedCreditTransaction.is_partially_paid}">
                <!-- if partially unallocated, show icon -->
                <span class="icons icon-wallet-green" ng-show="unallocatedCreditTransaction.is_partially_paid"></span>

                <span class="currency">{{currencySymbol}}</span>{{unallocatedCreditTransaction.amount | number:2 }}
            </div>

            <button ng-show="arFlags.hasAllocateUnallocatePermission" type="button" class="button green" ng-click="clickedAllocateButton($event, $index)">Allocate</button>
        </div>

        <ul class="search-results" ng-show="unallocatedCreditTransaction.active">
            <li class="reservation transaction" ng-repeat="item in unallocatedCreditTransaction.transactions">
                <div class="faux-anchor">
                    <div class="data" ng-if="item.associated_type === 'PostingAccount'">
                        <h2>{{item.account_name}}</h2>
                        <span class="invoice">Invoice #<span class="value">{{item.invoice_number}}</span></span>
                        <span class="invoice">Account #<span class="value">{{item.account_number}}</span></span>
                    </div>
                    <div class="data" ng-if="item.associated_type !== 'PostingAccount'">
                        <h2>{{item.guest_last_name}}, {{item.guest_first_name}}</h2>
                        <span class="invoice">Invoice #<span class="value">{{item.invoice_number}}</span></span>
                        <span ng-hide="item.is_manual_balance" class="confirmation">Conf #<span class="value">{{item.reservation_confirm_no}}</span></span>
                    </div>
                    <div class="guest-date arrival">
                        <span ng-if="!item.is_manual_balance" class="guest-status small-icon check-in">check-in</span>
                        <time ng-if="!item.is_manual_balance">
                            <span class="date">{{item.reservation_arrival_date | date : dateFormat}}</span>
                            <span class="time">{{item.reservation_arrival_time}}</span>
                        </time>
                    </div>
                    <div class="guest-date departure">
                        <span class="guest-status small-icon check-out">check-out</span>
                        <time>
                            <span class="date">{{item.reservation_dep_date | date : dateFormat}}</span>
                            <span class="time">{{item.reservation_dep_time}}</span>
                        </time>
                    </div>
                    <div class="amount paid">
                        {{currencySymbol}} {{item.amount | number:2 }}
                    </div>
                    <button ng-show="arFlags.hasAllocateUnallocatePermission" type="button" class="button white with-icon" ng-click="clickedUnallocate(item)">
                        <span class="icons icon-remove-40"></span>
                    </button>
                </div>
            </li>

        </ul>
    </li>
    <li>
        <!-- To fix scroll: The footer for pagination and select payment is coming above the list so the last entry will 
        not be visible-->
        <div>&nbsp;</div>
    </li>
</ul>
