<ul class="search-results">

    <!-- if checked, add class .selected -->
    <li class="reservation transaction with-checkbox" ng-repeat="balance in arDataObj.balanceList">
        <label class="checkbox inline">
            <span class="icon-form icon-checkbox"></span>
            <input value="4" type="checkbox">
        </label>

        <!-- Add class .active when clicked to show details -->
        <div class="faux-anchor" ng-click="clickedBalanceListItem( $index )" ng-class="{'has-arrow toggle':!balance.is_manual_balance, 'active': balance.active }">
                <!-- add class .group/.allotment if group or allotment -->
            <div class="data" ng-if="balance.associated_type === 'Reservation'">
                <!-- add class .group/.allotment if group or allotment -->
                <h2 ng-if="balance.guest_first_name!==null && balance.guest_last_name!==null">
                    {{balance.guest_first_name}},  {{balance.guest_last_name}}
                </h2>
                <h2 ng-if="balance.guest_first_name!=='' && balance.guest_last_name===''">
                    {{balance.guest_first_name}}
                </h2>
                <h2 ng-if="balance.guest_first_name==='' && balance.guest_last_name!==''">
                    {{balance.guest_last_name}}
                </h2>

                <span class="invoice">
                    Invoice #<span class="value">{{balance.invoice_number}}</span>
                </span>
                <span class="confirmation" ng-if="balance.external_reference_number!==null">
                    Ext #<span class="value">{{balance.external_reference_number}}</span>
                </span>
                <span class="confirmation" ng-if="balance.external_reference_number===null">
                    Conf #<span class="value">{{balance.reservation_confirm_no}}</span>
                </span>
            </div>

            <div class="data" ng-if="balance.is_manual_balance">
                <!-- add class .group/.allotment if group or allotment -->
                <h2>
                    {{balance.guest_first_name}}
                </h2>                 
               
            </div>

            <div class="data" ng-if="balance.associated_type === 'PostingAccount'">
                <!-- add class .group/.allotment if group or allotment -->
                <h2>
                    {{balance.account_name}}
                </h2>                

                <span class="invoice">
                    Account #<span class="value">{{balance.account_number}}</span>
                </span>
               
            </div>
            <!-- This HTML is added even if the item is manual balance to fix the design issue. The icon kept hide -->
            <div class="guest-date arrival" ng-if="balance.associated_type==='Reservation' || balance.is_manual_balance">
                <span class="guest-status small-icon check-in" ng-hide="balance.is_manual_balance">check-in</span>
                <time datetime="{arrival-timestamp}">
                    <span class="date">{{balance.reservation_arrival_date}}</span>
                    <span class="time">{{balance.reservation_arrival_time}}</span>
                </time>
            </div>

            <div class="guest-date departure" ng-if="balance.associated_type==='Reservation' || balance.is_manual_balance">
                <span class="guest-status small-icon check-out">check-out</span>
                <time >
                    <span class="date">{{balance.reservation_dep_date}}</span>
                    <span class="time">{{balance.reservation_dep_time}}</span>
                </time>
            </div>
            <div class="balance balance-now">
                Balance Now
                <strong class="red"><span class="currency">{{currencySymbol}}</span>{balance-now}</strong>
            </div>
            <div class="balance balance-after">
                Balance After
                <strong class="green"><span class="currency">{{currencySymbol}}</span>{balance-after}</strong>
            </div>
            <div class="amount unpaid" ng-class="{'partially-paid':balance.is_partially_paid}">
                <span ng-if="balance.is_partially_paid" class="icons icon-wallet-green"></span>
                <span class="currency">{{currencySymbol}}</span>{{balance.amount}}
            </div>
            <div class="amount input">
                <span class="currency">{{currencySymbol}}</span>
                <input type="text" value="{{balance.amount}}">
            </div>
        </div>

        <div class="grid-items" ng-show="balance.active">
            <table>
                <thead>
                    <tr>
                        <th class="date" scope="col">Date</th>
                        <th scope="col">Charge Code</th>
                        <th class="description" scope="col">Description</th>
                        <th class="fees" scope="col">Fees</th>
                        <th class="credits" scope="col">Credits</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- 'row-class' => 'odd' or 'even' on each new charge item
                          1. tr => 'odd',
                          2. tr => 'even',
                             'If charge item has charge items'
                             tr.charge-items => 'even'
                          3. tr => 'odd' ...
                     -->
                    <tr ng-repeat="debit in balance.debits" ng-class="{'odd': $odd, 'even': $even}">
                        <td>{{ debit.date }}</td>
                        <td>{{ debit.charge_code }}</td>

                        <!-- If there are sub charges 
                             add .toggle -->
                        <!-- On click, toggle class .active -->
                        <td class="description" ng-class="{'toggle':debit.is_group_by_ref}">
                            {{ debit.description }}
                            <span class="icons icon-double-arrow" ng-if="debit.is_group_by_ref"></span>
                        </td>
                        <td class="fees"><span class="currency">{{ currencySymbol }}</span>{{ debit.fees }}</td>
                        <td class="credits">
                            <span class="currency"></span>
                        </td>
                    </tr>
                    
                    <!-- Render if the current charge item has sub charges (POS)
                         Remove 'hidden' on {Charge Code} click 
                    <tr class="{row-class} charge-items hidden">
                        <td class="date"></td>
                        <td></td>
                        <td class="description">
                            <ul>
                                <li>{Item}</li>
                                ... repeat for each item
                            </ul>
                        </td>
                        <td class="fees">
                            <ul>
                                <li><span class="currency">{currency}</span>{price}</li>
                                ... repeat for each item
                            </ul>
                        </td>
                        <td class="credits"></td>
                    </tr>
                    
                    ... repeat L60-L65 for every fee/credit -->

                    <tr ng-repeat="payment in balance.payments" ng-class="{'odd': $odd, 'even': $even}">
                        <td>{{ payment.transaction_date }}</td>
                        <td>{{ payment.charge_code}}</td>
                        <td class="description">
                            <div class="payment-data" ng-if="payment.is_cc_payment">
                                <figure class="card-logo">
                                    <img ng-src="/assets/images/{{payment.card_details.card_code.toLowerCase()}}.png" alt="">
                                </figure>
                                <span class="number">{{payment.card_details.last_digits}}</span>
                                <span class="date"><span class="value">{{payment.card_details.expire_date}}</span></span>
                                <span class="reference">{{payment.reference_text}}</span>
                            </div>
                            <div class="payment-data" ng-if="!payment.is_cc_payment">
                                <span class="type">{{payment.payment_type}}</span>
                                <span class="reference">{{payment.reference_text}}</span>
                            </div>
                        </td>
                        <td class="fees"></td>
                        <td class="credits">
                            <span class="currency">{{ currencySymbol }}</span>{{payment.amount}}
                                <button class="icons icon-remove-40" ng-click="clickedUnallocateButton()"></button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="actions">
                <button type="button" class="button brand-colors" ng-click="goToReservationDetails($index)">StayCard</button>
                <button type="button" class="button purple hidden">Move Invoice</button>
                <button type="button" class="button blue hidden">Print Invoice</button>
                <button type="button" class="button white green-text hidden">Post Charge</button>
                <button type="button" class="button white purple-text hidden">Edit Charges</button>
            </div>
        </div>

    </li>

    <li>
        <!-- On click Show Manual Balance Billing Content -->
        <button class="add-new-button" ng-click="showAddBalanceScreen()">Add Manual Balance</button>
    </li>
</ul>