<!-- Company Card Tab - AR Transactions -->
<form method="post" id="cc-ar-transactions" name="cc-ar-transactions" class="form card-tab inner-header transactions" ng-class="{'overlay': !hasPermissionToCreateArAccount()}" >
    <!--common header for fullscreen mode-->
    <div ng-include="'/assets/partials/common/rvFullscreenHeader.html'" class="fullscreen-header"></div>

    <div class="tab-header">
        <div class="ar-balance">
            <span class="ar-label">AR Balance</span>
            <strong class="ar-amount" ng-class="{'red': arDataObj.arBalance > 0, 'green': arDataObj.arBalance <= 0 }">
                <span ng-bind-html="arDataObj.arBalance | sntCurrency:this"></span>
            </strong>
        </div>
        <div class="search-form has-dates has-switch">
            <!-- Remove .hidden if on balance (open bills) -->
            <div class="entry switch" ng-if = "showToggleFilter">
                <!-- If showing on-hold, remove .on -->
                <div class="switch-button" ng-class="{ 'on' : arFlags.isPayableTab}">
                    <input id="ar-on-hold-switch" value="" type="checkbox" checked="" ng-model="arFlags.isPayableTab" ng-change="switchArTransactionOpenBillTab()">
                    <label class="data-off">
                        <span class="value">Payable</span>
                        <span class="switch-icon">On Hold</span>
                    </label>
                    <label class="data-on">
                        <span class="switch-icon">Payable</span>
                        <span class="value">On Hold</span>
                    </label>
                </div>
            </div>
            <div class="entry search">
                <button class="clear-query" ng-click="clearResults()" ng-class="{'visible': filterData.query!=''}">
                    <span class="icons icon-clear-search">Clear query</span>
                </button>
                <button type="submit" name="submit" class="icons icon-search">Search</button>
                <input name="ar-transaction-query" id="arTransactionQuery" class="query" placeholder="Search by Name, Room No. or Confirmation No. or AR Invoice No." type="search" autocomplete="off" ng-keyup="queryEntered()" ng-model="filterData.query" />
            </div>
            <div class="entry sort" ng-if = "showSortFilter">
                <div class="select with-label">
                    <label>Sorting ASC</label>
                    <select ng-model="filterData.sortField" ng-change="changedSortBy()">
                        <option ng-repeat="item in filterData.sortOptions" value="{{item.value}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="entry dates">
                <div class="entry-data has-datepicker">
                    <label for="ar-transaction-date-from">From</label>
                    <button ng-click="clearFromDate()" class="clear-query" ng-class="{'visible': escapeNull(filterData.fromDate) !=''}"><span class="icons icon-clear-search">Clear query</span></button>

                    <input id="ar-transaction-date-from" type="text" class="datepicker" value="{{ filterData.fromDate | date : dateFormat }}" ng-click="clickedFromDate()" readonly />
                </div>
                <div class="entry-data has-datepicker">
                    <label for="ar-transaction-date-to">To</label>
                    <button ng-click="clearToDate()" class="clear-query" ng-class="{'visible': escapeNull(filterData.toDate) !=''}"><span class="icons icon-clear-search">Clear query</span></button>
                    <input id="ar-transaction-date-to" type="text" class="datepicker" value="{{ filterData.toDate | date : dateFormat }}" ng-click="clickedToDate()" readonly />

                </div>
            </div>
        </div>
        <!-- Hide statement print for On Hold Tab -->
        <div class="actions" ng-hide = "!arFlags.isPayableTab && showToggleFilter">
            <button type="button" class="button orange with-icon" ng-click="clickedArStatementButton()"> 
                <span class="icons icon-invoice"></span>
                Statement
            </button>
        </div>
    </div>

    <div ng-include="'/assets/partials/common/notification_message.html'"></div>

    <div class="tab-details">

        <div include-replace ng-include="'/assets/partials/companyCard/arTransactions/rvCompanyCardArTransactionsWithLeftTabs.html'"></div>
        <!-- {tabs/ar-transactions.html} -->

        <div include-replace ng-include="'/assets/partials/companyCard/arTransactions/rvArStatementPrintTemplate.html'"></div>
        <div class="invoice" include-replace ng-if="printBillCardActive" ng-include="'/assets/partials/companyCard/arTransactions/rvArInvoice.html'"></div>

        <!-- {tabs/ar-statement.html} -->

    </div>

    <!-- Pagination: Show when needed
    {../_shared/pagination.html} -->

    <!-- When no open bills / all bills paid
    <div class="tab-details no-content">
        <div class="info">
            <span class="icon-no-content icon-ok"></span>
            <strong class="h1">No Transactions</strong>
            <span class="h2">Outstanding Guest Bills paid</span>
        </div>
    </div> -->
</form>


