<!-- Company Card Tab - AR Transactions -->
<form method="post" id="cc-ar-transactions" name="cc-ar-transactions" class="form card-tab inner-header transactions" ng-class="{'overlay': !hasPermissionToCreateArAccount()}" >

    <div class="fullscreen-header">
        <button type="button" class="button white icons icon-remove-10" rv-fullscreen>Close fullscreen</button>
        <!-- When L2 is clicked:
            1. remove classes 'is-fullscreen fullscreen-{card or bill}' from <body> element
            2. update iScrolls on the page
        -->
        <div class="screen-info">
            <strong class="info-heading">{Name - Group, Allotment, Company, TA or Guest}</strong>
            <span class="info-subheading">{Tab Title or Confirmation number}</span>
        </div>
        <div class="app-info">
            <strong class="hotel">{Hotel Name}</strong>
            <div class="user">
                <span>{{userName}}</span>
                <em class="date">{Business date}</em>

                <em class="date updating" ng-show="isEodRunning">Business Date Change In Progress</em>

                <em class="date error" ng-show="isEodProcessFailed&&!isEodProcessRunning&&!isEodRunning">Some EOD Processes failed, check log!</em>
            </div>
        </div>
    </div>

    <div class="tab-header">
        <div class="search-form has-dates">
            <div class="entry search">
                <button class="clear-query" ng-click="clearResults()" ng-class="{'visible': filterData.query!=''}">
                    <span class="icons icon-clear-search">Clear query</span>
                </button>
                <button type="submit" name="submit" class="icons icon-search">Search</button>
                <input name="ar-transaction-query" id="ar--query" class="query" placeholder="Search by Name, Room No. or Confirmation No." type="search" autocomplete="off" ng-change="filterChanged()" ng-model="filterData.query" />
            </div>
            <div class="entry dates">
                <div class="entry-data has-datepicker">
                    <label for="ar-transaction-date-from">From</label>
                    <button ng-click="clearFromDate()" class="clear-query" ng-class="{'visible': escapeNull(filterData.fromDate) !=''}"><span class="icons icon-clear-search">Clear query</span></button>

                    <input id="ar-transaction-date-from" type="text" class="datepicker" value="{{ filterData.fromDate | date : dateFormat }}" ng-click="clickedFromDate()" readonly />
                </div>
                <div class="entry-data has-datepicker">
                    <label for="ar-transaction-date-to">To</label>
                    <button ng-click="clearToDate()" class="clear-query" ng-class="{'visible': escapeNull(filterData.toDate) !=''}"><span class="icons icon-clear-search">Clear query</span></button>
                    <input id="ar-transaction-date-to" type="text" class="datepicker" value="{{ filterData.toDate | date : dateFormat }}" ng-click="clickedToDate()" readonly />

                </div>
            </div>
        </div>
        <div class="actions">
            <div class="entry" ng-show="showIncludePayments()">
                <label class="checkbox inline">
                    <span class="icon-form icon-checkbox" ng-class="{'checked': filterData.includePayments }"></span>
                    <input type="checkbox" ng-model="filterData.includePayments"  value="{{filterData.includePayments}}">
                    Include Payments
                </label>
            </div>
            <button type="button" class="button orange with-icon" ng-click="clickedArStatementButton()">
                <span class="icons icon-invoice"></span>
                Statement
            </button>
        </div>
    </div>

    <div ng-include="'/assets/partials/common/notification_message.html'"></div>

    <div class="tab-details">

        <div include-replace ng-include="'/assets/partials/companyCard/arTransactions/rvCompanyCardArTransactionsWithLeftTabs.html'"></div>
        <!-- {tabs/ar-transactions.html} -->

        <div include-replace ng-include="'/assets/partials/companyCard/arTransactions/rvArStatementPrintTemplate.html'"></div>

        <!-- {tabs/ar-statement.html} -->

    </div>

    <!-- Pagination: Show when needed
    {../_shared/pagination.html} -->

    <!-- When no open bills / all bills paid
    <div class="tab-details no-content">
        <div class="info">
            <span class="icon-no-content icon-ok"></span>
            <strong class="h1">No Transactions</strong>
            <span class="h2">Outstanding Guest Bills paid</span>
        </div>
    </div> -->
</form>
