body {
	margin:0; 
	padding:0;
	line-height: 1.4em;
	word-spacing:1px;
	letter-spacing:0.2px;
	color: #000;
	background:#fff !important;
	font: 13px Arial, Helvetica,"Lucida Grande", serif;
}

.section, #main{
	color:#000;
	background:none;
}
.bill-heading{
	width:50%;
	float:left;
}
.nights-text,.bill-footer{
	text-align:right;
}
.bill-footer{
	p{
		margin-bottom: 5px;
	}
	p:first-child{
		margin-top:10px;
	}
}

/*Remove Element*/
.centered,#actions,h1,svg{
	display:none !important;
}
.printable-bill-view{
	display:block !important;
	width:70%;
	margin:0 auto;
}


.bill-table {
	
	border-top:2px #e2e2e2 solid;
	width:100%;
	tr,th{
		padding:5px 0;
	}
	tr:nth-last-child(4){
		padding:10px 0;
		border-bottom:2px #e2e2e2 solid;
	}
	tr:first-child{
		padding:10px 0;
		border-bottom:2px #e2e2e2 solid;
	}
}

table.bill-table td{
	padding:5px 0;
}
.heading-text{
	font-size:24px;
}




