@charset: "utf-8";
/*Accent colors*/
@white:#fff;
@black:#000;
@yellow:#FAD400;
@dark-blue:#CED526;
@light-white:#DFDFDF;


body,.template-bg{
    background: #2F2F2F none repeat scroll 0% 0% !important;
}

.template-header-bg{
	background: #FAD400;
}

.jumbotron{
	margin-bottom:0px;
}

.template-button{
   background:@yellow !important;
   color:@black !important;
}
.template-heading-text,.msg-head.template-heading-text.thanks-msg{
   color:@light-white !important;
   font-weight:300 !important;
}
.template-text,.subTitletext{
	color:@light-white !important;
}
.light-template-bg{
   background:#FDE456;
}
.dark-template-bg{
	background:@yellow !important;
}
.black-text{
	color:@black !important;
}
.row .room_details,.row .dateContent,.key-delivery-message{
	color:@white !important;
}
.header {
    padding: 2% 0px	;
}


.jumbotron .check-inout-wrapper{
	border:none !important;
}

.checkout-status{
	border-top:none !important;
	border-bottom:none !important;
}


.verti-ruler {
    background: none repeat scroll 0 0 #D3D3D3;
}
.horizontal-boder {
    background: #FFF none repeat scroll 0px 0px;
}

.msg-head,.msg-body{
	color:@white !important;
}

.key-delivery-message {
	text-align:center;
}
.bottom-logo{
	margin-top:60px !important;
}


/* ----------------late checkout options page----------------- */

.checkouttime1 {
    background: none repeat scroll 0 0 #FDE456;
}
.checkouttime2 {
    background: none repeat scroll 0 0 #FAD400;
}
.checkouttime3 {
    background: none repeat scroll 0 0 #D2B200;
}
.no-thanks a{
	color: @light-white !important;
}
.checkouttime1, .checkouttime2, .checkouttime3,.checkout-later-back-button{
	color: @black !important;
}

.no-thanks,.questions
{
	a,a:hover{
		text-decoration:underline  !important;
		color: @light-white !important;
	}
}

.circle-bg {
    background: url("/assets/img/Atura/circle-bg.png") no-repeat scroll center top transparent;
}
/* ------------------------------------------------------------------- */

/* --------------------checkout confirmation page---------------------- */
.checkoutnow, .proceed-to-checkin{
	.black-text;
}

.col-xs-12.checkoutnow.single,.link-btn.with-bg{
	background:@yellow;
	color:@black !important;
}
/* -------------------------------------------------------------------- */

/* -------------------------checkout balance page----------------------- */
.accept-charges-button.single{
	background:@yellow;
	color:@white;
}

.viewbill-toggle{
	a,a:hover{
		color:#FCD600 !important;
		.right-arrow{
			width:16px;
			height:25px;
		}
		.down-arrow{
			width:25px;
			height:16px;
		}

	}
}

.now-later-options{
	a,a:hover{
		color:@white !important;
	}
}
a, a:hover {
    color: @black !important;
}

.msg-head.brown-text.thanks-msg{
	.template-heading-text;
}
/* --------------------------------------------------------------------------- */

/* ----------------------------checkout later page--------------------------- */
.back-to-checkout{
	padding:5% !important;
}

.backbtn {
    left: 10%;    
}

/* --------------------------------------------------------------------------- */


/* responsive starts here */

@media (max-width: 480px) {

	.checkin-button.template-button.verification-button{
		margin: 10px 0 0 !important;
	}
	.padding-5{
 	    padding:0 5% !important;
	}
	.padding-bottom-10{
		padding-bottom:10% !important;
	}
	.now-later-options{
		margin: 0 10px;
	}
	.msg-head.template-heading-text.thanks-msg{
		font-size:28px !important;
	}
}
@media (min-width: 480px) {
    .headerrow {
    	padding: 2% 0px;
	}
}

@media (min-width: 990px) {
	.bottom-logo{
		margin-top:70px !important;
	}
	.template-header-bg{
		background-size: 100% !important;
	}
	.checkin-button {
		padding:20px !important;
	}
	.now-later-options{
		width:40% !important;
		max-width: 487px;
	}
}


/* --------------------------------------------------------------------------- */

/*------------------------------- date picker starts here---------------------*/
.date-picker-header{
  background-color: @yellow;
  color:@black !important;
  font-size: 14px !important;
}

.pickadate-cell li {
 border: 1px solid #fff;
}

.date-picker-back,.date-picker-ok,.departure-date p:last-child,.departure-date p:first-child{
	color:@black !important;
}
.date-picker-wrap{
  background-color: #B0B0B0 !important;
  background: #B0B0B0 !important;
}
.pickadate-cell .pickadate-disabled,
.pickadate-cell .pickadate-disabled a {
  color: #B0B0B0 !important;
}

.date-picker-ok{
  padding-top: 0px;
  background:  none !important;
  color:#000;
}

.departure-date{
   p:first-child,p:last-child{
       color:@black;
	   font-size: 16px !important;
	   font-weight: 400;
   }
  
}
.pickadate-centered-heading, .pickadate-cell .pickadate-head{
	color:#18171c;
}

.pickadate-cell .pickadate-disabled, .pickadate-cell .pickadate-enabled, .pickadate-cell .pickadate-outofrange-disabled{
    background-color:#B0B0B0 !important;
}
.pickadate-cell .pickadate-active{
    background-color:#8CC8DC !important;
    color:@white !important;
}
.pickadate-cell .pickadate-enabled, .pickadate-prev,.pickadate-next {
    color:#000 !important;
}
.pickadate-controls{
    a, a:hover
    {
        color:#18171c !important;
    }
}

.pickadate-cell{
	.pickadate-active{
		color:#fff !important;
	}
}
.pickadate-cell li{
	border-right: 1px solid #fff !important;
	border-left: 1px solid #fff !important;
}


/*-------------------------------------------------------------------------*/

.reservation-dates .template-heading-text,.res-conf-no,.jumbotron .headtext .conf-num{
	color:#959595 !important;
}

.row .reservation-dates,.room_details{
	color:@black;
}


.row .date-container{
	border-bottom:none;
}

.upgrades-label{
	color:#C76A6F;
	font-size: inherit !important;
}

.upgrade-details .upgrades-btn{
	background:#8CC8DC;
}

.proceed-to-checkin.up-grades-no-thanks{
	background:#3F3F3D !important;
	color:@light-white !important;
}

.proceed-to-checkin{
	font-size:14px;
}


.upgrades-container{
	padding-bottom:30px !important;
}



.link-btn.with-bg.nextbtn.early-checkin-button{
	padding:0px 2px !important;
	font-size:24px !important;
	height:72px;
	font-weight:lighter !important;
}

.link-btn.with-bg.nextbtn.early-checkin-button.gray-bg{
	color:@white !important;
}

.row.checkin-wrapper-top.arrival-details.verification-container.date-container{
	padding-top:0px;
}

.checkin-button.template-button.verification-button{
	margin: 60px 0 0;
}

.full-width-select{
	float:none !important;
	width:100% !important;
}

.link-btn.with-bg.nextbtn{
	font-weight: lighter !important;
	text-transform:none;
	font-size: 30px !important;
    height: 10%;
}






