.img-responsive.img-center{
	max-width:auto !important;
	max-height:auto !important;
	padding:0 !important;
}
.logoImage {
    height: auto !important;
    width: auto !important;
}


.jumbotron .container{
	width:100%;
	.container-fluid{
		padding:0 !important;
	}
}


.cabin-number-field .room-number-text{
	text-align:left;
	font-size:15px !important;
}

.container-top-padding{
	padding-top:50px !important;
}

.shadow {
	background: none repeat scroll 0 0 #efefef;
   -moz-box-shadow:    inset 2px 2px 3px #d1d1d1;
   -webkit-box-shadow: inset 2px 2px 3px #d1d1d1;
    box-shadow:         inset 2px 2px 3px #d1d1d1;
    border: medium none !important;
}

.room-input{
	height:50px !important;
}

.margin-10{
	margin-top:10px;
}

/* responsive starts here */
@media (min-width: 992px) {
	.jumbotron .check-inout-wrapper{
  		padding: 40px 0 !important;
  	}
  	.now-later-options.cabin-number{
  		max-width:280px !important;
  	}
  	.leadtext {
    	padding: 21px 140px;
	}
	.stay-details-heading{
	    font-size:36px;
	}
	.eta-text.black-text,.key-delivery-message{
    	font-size: 18px !important;
	}
}

@media (max-width: 992px) {
	.padding-10{
  		padding: 0px 10px !important;
  	}
  	.jumbotron .checkin-wrapper{
  		padding: 25px 0 !important;
  	}

}

@media (max-width: 480px) {

	.foot-text{
		padding: 10px 45px 0 !important;
	}
	.foot-text.second-in {
	    padding: 0 40px !important;
	}
	.checkout-time-container{
		span{
			font-size:16px !important;
		}
	}
	.chekout-time{
		font-size:16px !important;
	}

	.headtext{
		.main-heading{
			font-size:30px !important;
		}		
		font-size:30px !important;
	}
	.headtext{
		font-size:30px !important;
	}
	.cabin_number_field{
		padding-top:20px;
	}
	.now-later-options.cabin-number{
  		max-width:280px !important;
  		margin:0 auto;
  	}
  	.container-top-padding{
		padding-top:20px !important;
	}
	.extra-head-pad{
		padding-top:10px;
		padding-bottom:10px;
	}
	.msg-head.blue-text.thanks-msg{
		font-size:28px !important;
		padding:5% !important;
	}
	.backbtn{
		visibility:hidden;	
	}
	.stay-details{
		font-size:26px !important;
	}
	.cabin-number-field{
		.room-number-text{
		    padding-top:20px;
			font-size:12px !important;
		}
	}
	.eta-text.black-text {
    	font-size: 12px !important;
	}
}

.row.checkin-wrapper.line-top.checkin-details.no-bottom-padding {
    padding-bottom: 0 !important;
}
