body {
background: #c0c0c0 !important;
}

.room-number-message{
	.lightcontent{
		font-size:15px !important;	
	}
}

.cabin_number_field{
	width:100% !important;	
}

.blue-bg{
	background:#2EAEEF !important;	
}


.blue-text{
	color:#2EAEEF !important;	
}


.white-text{
	color:#FFFFFF !important;	
}

.grey-text{
	color:#787878 !important;
}


.shadow {

	background: none repeat scroll 0 0 #ccc;
   -moz-box-shadow:    inset 0 0 1px #000000;
   -webkit-box-shadow: inset 0 0 1px #000000;
   box-shadow:         inset 0 0 1px #000000;
}