body {
background: none !important;
}

.room-number-message{
	.lightcontent{
		font-size:15px !important;	
	}
}


.cabin_number_field{
	width:85% !important;	
	text-align: left !important;
}

.blue-bg{
	background:#2EAEEF !important;	
}


.blue-text{
	color:#2EAEEF !important;	
}
.light-blue-bg{
	background:#97defa !important;	
}


.white-text{
	color:#FFFFFF !important;	
}
.black-text,.guest-room-description,.balance{
	color:#000 !important;	
}
.checkout-status,.grey-text,.lightcontent,.headtext,.base-text,.white-alert-link-tag{
	color:#787878 !important;
}


.shadow {
	background: none repeat scroll 0 0 #efefef;
   -moz-box-shadow:    inset 2px 2px 3px #d1d1d1;
   -webkit-box-shadow: inset 2px 2px 3px #d1d1d1;
    box-shadow:         inset 2px 2px 3px #d1d1d1;
    border: medium none !important;
}

.room-input{
	height:50px !important;
}

.margin-10{
	 margin: 10% 0 !important;
}
.room-verification-continue{
	min-width:85% !important;	
}


.checkouttime1 {
background: #97defa;

}

.checkouttime2 {
background: #64cef6;

}

.checkouttime3 {
background: #0aadf0;

}

.no-thanks-text{
	text-decoration: underline;
	color:#787878 !important;
	font-size: 18px;
}

.back-to-checkout{
	margin: 10px 40px 0 !important;
    padding: 14px !important;
}
.checkout-status .thanks-msg {
    font-size: 28px !important;
    margin:10%;
}


.row .reservation-dates{
	color:#787878 !important;
	.dateContent{
		font-size: 17px !important;
	}
}
.checkin-button img{
	height:60px;
	width:60px;
}

.arrival-date-container{
	border-top:1px solid #77a9c2;
	border-bottom:1px solid #77a9c2;
	padding-top:7px;
}

.preckin-status-header{
	margin: 0 auto;
    width: 50%;
}
 .textArea{
	padding-top: 10px;
	margin-bottom: 10px;
}
.pre-checkin-btn{
	padding-top: 28px;
	span{
	 font-size: 26px;
	}
}

.eta-comtainer{
	width:30%;
	float:left;
}
.precheckin-wrapper{
	p{
	margin-bottom:5px;
	}
}

.arrival-time{
	select{
		font-size:12px;
	}
}


.expiry-year-container{
	.select-style:after{
		left:81% !important;
	}
}
.jumbotron .check-inout-wrapper{
	border-bottom: 1px solid #656565 !important;
    border-top: 1px solid #656565 !important;
}

@media screen and (min-width: 900px) {

	.img-responsive.img-center {
	    max-height: 95px;
	    padding: 15px 0;
	}
	.logoImage {
	    height: 95px !important;
	    width: 307px !important;
	}
	.header{
		padding:5px !important;
	}
}