body {
background: url(/assets/img/Galleria/bg.png) repeat top left !important;

}

.checkoutnow, .proceed-to-checkin {
    background: none repeat scroll 0 0 #fff;
    color: #513d4f;
}

.checkoutlater, .checkin {
    background: none repeat scroll 0 0 #513d4f;
    color: #fff;
}

.checkoutnow-icon,.checkoutlater-icon,.accept-charges-icon,.checkout-now-white-icon{
	width:100% !important;
	height:49px !important;
	
	margin-top:10px !important;
}

.checkoutnow-icon{

	background: url(/assets/img/Galleria/checkout-now_icon.png) top center no-repeat !important;
	
}

.checkoutlater-icon{
	background: url(/assets/img/Galleria/checkoutlater_smalll.png) top center no-repeat !important;
}

.checkout-now-white-icon{
	background: url(/assets/img/Galleria/checkout-now_icon-white.png) top center no-repeat !important;
}
.accept-charges-icon{
	background: url(/assets/img/Galleria/charges_icon.png) top center no-repeat !important;
}

.jumbotron .roomnumber span {
    background: none repeat scroll 0 0 #134b52;
 }


.checkouttime1 {
    background: none repeat scroll 0 0 #877185;
}
.checkouttime2 {
    background: none repeat scroll 0 0 #705b6e;
}
.checkouttime3 {
    background: none repeat scroll 0 0 #513d4f;
}

.no-thanks {
    font-size: 25px !important;
    margin-top: 50px;
}

.col-xs-12.checkoutnow.single {
    background: none repeat scroll 0 0 #513d4f;
    color: #fff;
}

.col-xs-12.accept-charges-button.single {
    background-color: none repeat scroll 0 0 #fff;
}

.row.checkout-later-text.accept-charges-text {
    color: #513d4f;
}
.guest-room-description {
    color: #000 !important;
}

.jumbotron .roomnumber span {
    background: none repeat scroll 0 0 #134b52;
 }


/* Desktop only */

@media (min-width: 990px) {

.checkout-text{
    padding: 20px 44px 0;
}
.checkoutnow-icon,.checkoutlater-icon,.accept-charges-icon,.checkout-now-white-icon{
	
	height:100px !important;
}

.checkoutnow-icon{

	background: url(/assets/img/Galleria/checkout-now_icon_big.png) top center no-repeat !important;
	
}

.checkoutlater-icon{
	background: url(/assets/img/Galleria/checkoutlater_big.png) top center no-repeat !important;
}

.checkout-now-white-icon{
	background: url(/assets/img/Galleria/checkout-now_icon-white-big.png) top center no-repeat !important;
}
.accept-charges-icon{
	background: url(/assets/img/Galleria/charges_icon_big.png) top center no-repeat !important;
}

.jumbotron .extra-head-pad {
    padding: 106px 92px;
}



}

/* smartphone only */


@media (max-width: 990px) {

.no-thanks-text{
  
    color: #134b52 !important;
}

.row.checkout-later-text.accept-charges-text{

	padding-left:30px;
	padding-right:30px;
	
}


}