body {
background: url(/assets/img/Galleria/bg.png) repeat top left !important;

}

.checkoutnow, .proceed-to-checkin {
    background: none repeat scroll 0 0 #fff;
    color: #513d4f;
}

.checkoutnow-icon{
	width:48 px;
	height:48 px;
	background: url(/assets/img/Galleria/checkout-now_icon.png) no-repeat !important;
}