@charset: "utf-8";
/*Accent colors*/
@white:#fff;
@lightGreen:#b1bc00;
@darkGreen:#949e01;
@brown:#582800;
@lightGrey:#959595;
/* width */
@fullWidth:100%;
@noPadding:0;
@noBorder:none;

.backgroundbg{
	background-color:@lightGreen !important;
	border-bottom: 7px solid @brown;
	height: 70px;
	width:100%;
	
}
.browntext, .white-alert-link-tag, .white-alert-link-tag:hover{
	color:@brown !important;
}
.checkout-status.centeralign{
	.msg-head,.msg-body{
		color:@brown !important;
	}
}
.img-responsive.img-center.logoImage{
	background-color:@white !important;
}


body{
	background-color:@white !important;
	background-image: none !important;
}
.width-100{
	width:100%;
}
.padding_left_0{
	padding-left:0;
}
.img-responsive.img-center{
	padding:0;
	max-height:75px;
	max-width:170px;
	border:5px solid #fff;
}
.padding-bottom-0{
	padding-bottom:0;
}
.green-bg{
	background-color:@lightGreen !important ;
}

.light-grey-text{
    color:@lightGrey !important;
	text-align: left !important;
	margin-bottom:0 !important;
}
.white-text{
	color:@white;
}
#palm_spa_wrapper{
	margin-bottom:0;
}
.img-responsive.img-center.logoImage{
	min-height:80px !important;
	max-width: 120px !important;
}
/* Desktop only */

@media (min-width: 990px) {
	.backgroundbg{
		height: 107px;
	}
	.margin-top{
	   margin-top:65px !important;
	}

	.margin-left-right{
	   margin-left: 20%;
   	   margin-right: 20%;
	}

}

@media (max-width: 990px) {
	
	.lightcontent.chekout-time.grey-text.room-text.browntext{
		padding:5% 0% 0%;
		font-size:16px !important;
	}
	.row.cabin_number_field{
		padding:10% 0%;
		.lightcontent{
			font-size:14px !important;
		}
	}
	.checkout-time-container{
		padding:2% 0% 0%;
	}
	.col-md-6.headtext.centeralign.pad-rt-60.payment {
   		padding: 18% 0 0;
	}
	.msg-head.thanks-msg.browntext {
   	 	font-size: 26px !important;
    	padding: 0 10%;
	}

	.row.check-inout-wrapper.late-options {
    	.headtext{
    		padding:5% 0%;
    	}
	}
	.backbtn{
		display:none !important;
	}

}
.jumbotron .headtext {
    /*width: 50%;*/
}
.room-verification-continue{
	margin-top:25px !important;
}
.checkoutnow{
	background-color: @lightGreen ;
}
.checkoutlater{
	background-color: @darkGreen ;
}

.backbtn{
	 margin-top: -45px;
}

.checkouttime1 {
    background: none repeat scroll 0 0 #cfdc13;
}
.checkouttime2 {
    background: none repeat scroll 0 0 @lightGreen ;
}
.checkouttime3 {
    background: none repeat scroll 0 0  @darkGreen;
}

.no-thanks {
    font-size: 25px !important;
    margin-top: 50px;
    .grey-text{
    	color:#b4ba00;
    }
    .no-thanks-text{
	    color: #b4ba00 !important;
	    text-decoration: underline !important;
	}
}
.base-text {
	font-size:21px;
}
.green-text{
	color:@lightGreen !important;
}
.margin-top{
	margin-top:45px;
}

.shadow {
    background: none repeat scroll 0 0 #efefef;
    border: medium none !important;
    box-shadow: 2px 2px 3px #d1d1d1 inset;
}
.room-input {
    height: 50px !important;
}
.col-md-4.cabin-number {
    width: 300px;
    margin: 0 auto;
}

.link-btn.with-bg.green-bg.back-to-checkout.white-text-hover {
    margin: 0 auto;
    width: 70%;
    padding: 4% 0;
}