@charset: "utf-8";
/*Accent colors*/
@white:#fff;
@black:#000;
@lightpink:#f06bc1;
@darkpink:#e128a0;
@light-black:#959595;
@brown-text:#592800;
body {
  	background: url(/assets/img/Row_nyc/Background.jpg) no-repeat center top !important;
  	background-size: 100% 100% !important;
}

.eden_logo_bg{
	padding:0 !important;
}
.black-text{
	color:@black !important;
}
.brown-text{
	color:@brown-text !important;
}
.pink-bg{
	background:@darkpink !important;
}
.light-pink-bg{
	background:@lightpink !important;

}
.light-black-text{
	color:@light-black !important;
}
.black-bg{
	background-color:@black !important;
} 
.width-100{
	width:100% !important;
}
.jumbotron .check-inout-wrapper, .checkout-status{
	border:none !important;
}
.room-number-text{
	text-align:left;
}
.container-top-padding{
		padding-top:50px !important;
	}
@media (max-width: 480px) {
	.container-top-padding{
		padding-top:20px !important;
	}

}

.no-thanks a{
	color: @darkpink !important;
	text-decoration:underline !important;
}
.checkouttime1 {
    background: none repeat scroll 0 0 @lightpink;
}
.checkouttime2 {
    background: none repeat scroll 0 0 @darkpink;
}
.checkouttime3 {
    background: none repeat scroll 0 0 #c10a81;
}
.pink-text{
	color: @darkpink !important;
}
.img-responsive.img-center{
	padding:0 !important;
}