@charset: "utf-8";
body {
  background:url("../../img/bg-white.png") left top repeat-x #7a613a;
   font-size: 100%;
   font-family: 'Source Sans Pro';
}

.jumbotron {
    padding:0px !important;
    background:none !important;
}

.container {
    padding:0px !important;
    background:none !important;
}
.row {
    margin:0px !important;
}
.header {
    padding-bottom:7%;
}
.headerrow {
    padding-top: 5%;
}
.headtext {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size:400% !important;
    text-align: center !important;
    padding-top: 5%;
    color:#fff !important;
    line-height:100%;
    &.roomnumber{
      margin: 0 15% 5% !important;
      padding:  2% 3% !important;
      width:70%;
border-radius:2em;
      background: #000000;
    }
}
.lightcontent {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    color:#fff;
}
.centeralign {
    text-align: center;
}
.leadtext {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 210%;
    padding: 5% 0;
    color:#fff;
 line-height:100%;
}
.checkoutnow {
    background: #000000;
    text-align: center;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 350%;
    padding: 5% 3% 5% 3%;
    line-height: 120%;
}
.checkoutlater {
    background: #ffffff;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #000000;
    font-size: 350%;
    padding: 5% 3% 5% 3%;
    line-height: 120%;
}
.italictext {
    padding-top: 5%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 200%;
    line-height: 120%;
    color:#fff;
    &.secondtext{
      padding:0 5% !important;
    }
}
.icontop {
    padding-top: 10%;
}
.checkoutimepage {
    padding-bottom: 4%;
}
.checkouttime1 {
    background: #8ed82b;
    text-align: center;
    color: #ffffff;
    font-size: 400%;
    padding: 5% 3% 5% 3%;
    line-height: 120%;
    text-align: center;
}
.checkouttime2 {
    background: #419d14;
    text-align: center;
    color: #ffffff;
    font-size: 400%;
    padding: 5% 3% 5% 3%;
    line-height: 120%;
    text-align: center;
}
.checkouttime3 {
    background: #52ba1d;
    text-align: center;
    color: #ffffff;
    font-size: 400%;
    padding: 5% 3% 5% 3%;
    line-height: 120%;
    text-align: center;
}
svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
text {
    text-anchor: middle;
    pointer-events: auto;
    fill: currentColor;
    text-align: center;
}
.amount {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
    span {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 40%;
    }
}
.nothanks {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 350%;
    padding: 5% 0;
    text-align: center;
    color: #e7e7e7;
    a {
        color: #e7e7e7;
        text-decoration: none;
    }
    a:hover {
        color: #e7e7e7;
        text-decoration: none;
    }
}
.appearbill {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
}
.checkoutscreen {
    background: #8ed82b;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #ffffff;
    font-size: 300%;
    margin-bottom: 20%;
}
.btn-primary {
    background-color: #43a014 !important;
    border-bottom: 2px solid #388511;
    font-size: 200%;
    color: #ffffff;
    padding: 3% 5%;
}

.balanceValue {
    padding-top:0px !important;
    margin-top:0px !important;
    line-height:50%;
    text-align:center;
    color:#ffffff;
}
.leadtextviewbiil {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 210%;
    padding: 3% 0 0;
}
.viewbill {
  padding-top:5% !important;
  text-align:center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 250%;
    padding: 3% 0;
    text-transform:uppercase;
    font-weight:normal;
    color:#ffffff;
    a {
        text-decoration:none;
        color:#ffffff;
    }
    a:hover {
        text-decoration:none;
        color:#ffffff;
    }
}
.table &>thead &>tr &>th, .table &>tbody &>tr &>th, .table &>tfoot &>tr &>th, .table &>thead &>tr &>td, .table &>tbody &>tr &>td, .table &>tfoot &>tr &>td {
    border-top:none !important;
    border:0px !important;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    text-transform:uppercase;
        &.room{
          background:#ffffff;
    color:#000000;
    }
    
    
}
.day1 {
    background:#fcfcfc;
    border-bottom:3px solid #ffffff !important;
    color:#202123;
    font-size:130%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:left;
}
.day2 {
    background:#f2f2f2;
    border-bottom:3px solid #ffffff !important;
    color:#9b9b9b;
    font-size:130%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:left;
}
.total {
    color:#9b9b9b;
    font-size:180%;
    font-family: 'Source Sans Pro', sans-serif;
   
}
 .balance{
      color:red;
    }
.viewbilltableview{
    border-collapse:collapse;
    background:#ffffff;
    color:#000000;

}
.img-responsive.img-center {
    margin: 0 auto;
}
.backbtn {
    width:20% !important;
}
.logo {
    width:60% !important;
    text-align:center !important;
}



 