@charset: "utf-8";
/* 300 ***/
@font-face {
font-family: 'Source Sans Pro';
src: url(/assets/sourcesanspro-light-webfont-66f1ca6e32a82e2cd9471b2d17100ce8.eot);
src: url(/assets/sourcesanspro-light-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/sourcesanspro-light-webfont-b4fecc0565ba747e3094bf7f0232b47e.woff) format('woff'), url(/assets/sourcesanspro-light-webfont-c94f98b39249e251c8fce44bbdd77373.ttf) format('truetype');
font-weight: 300;
font-style: normal;
}
/*300 ***/
@font-face {
font-family: 'Source Sans Pro Light Italic';
src: url(/assets/source-sans-pro.light-italic.eot);
src: url(/assets/source-sans-pro.light-italic.eot?#iefix) format('embedded-opentype'), url(/assets/source-sans-pro.light-italic.woff) format('woff'), url(/assets/ssource-sans-pro.light-italic.ttf) format('truetype');
font-weight: 300;
font-style: italic;
}
/* 400 ***/
@font-face {
font-family: 'Source Sans Pro';
src: url(/assets/sourcesanspro-regular-webfont-e2c474f68b9b063f7fb6791f2943db72.eot);
src: url(/assets/sourcesanspro-regular-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/sourcesanspro-regular-webfont-c499c77f003f1ceae671feb62790316f.woff) format('woff'), url(/assets/sourcesanspro-regular-webfont-7096969a9b888b85706c317e6ee6f2ea.ttf) format('truetype');
font-weight: 400;
font-style: normal;
}
/* 400 italic ***/
@font-face {
font-family: 'Source Sans Pro';
src: url(/assets/sourcesanspro-italic-webfont-480442979f0ed884982421051c9b3df9.eot);
src: url(/assets/sourcesanspro-italic-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/sourcesanspro-italic-webfont-d15036804a9997981f744b9e74a888b3.woff) format('woff'), url(/assets/sourcesanspro-italic-webfont-3960d5f9eb8b438c15c8767860897938.ttf) format('truetype');
font-weight: 400;
font-style: italic;
}
/* 600 ***/
@font-face {
font-family: 'Source Sans Pro';
src: url(/assets/sourcesanspro-semibold-webfont-5d1497db62d5060b3489a48489d75e76.eot);
src: url(/assets/sourcesanspro-semibold-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/sourcesanspro-semibold-webfont-c1c5e0396bc8c606744a27fe23d0617a.woff) format('woff'), url(/assets/sourcesanspro-semibold-webfont-ee8e6cb639a8e54b091514ec0d2ef01f.ttf) format('truetype');
font-weight: 600;
font-style: normal;
}
/* 700 ***/
@font-face {
font-family: 'Source Sans Pro';
src: url(/assets/sourcesanspro-bold-webfont-6f1842719a0689525970ca9d5712ce09.eot);
src: url(/assets/sourcesanspro-bold-webfont.eot?#iefix) format('embedded-opentype'), url(/assets/sourcesanspro-bold-webfont-fa43de1d07623845957114b7560f3fd4.woff) format('woff'), url(/assets/sourcesanspro-bold-webfont-4abba48777092a54f103819ab5f996b6.ttf) format('truetype');
font-weight: 700;
font-style: normal;
}


/* helper classes */
.no-padding {
padding: 0 !important;
}
@media (max-width: 992px) {
.nopadding-onblock {
padding: 0 !important;
}
}

.top-margin {
margin-top: 20px !important;
}

.centeralign {
text-align: center !important;
}

.leftalign {
text-align: left !important;
}

.pos-relative {
position: relative !important;
}

.normal-weight {
font-weight: 400 !important;
}

a,
a:hover {
text-decoration: none  !important;
color: #fff !important;
}

html,
body {
width: 100%;
height: 100%;
}

body {
font-size: 100%;
font-family: 'Source Sans Pro';
background-color: #7a613a !important;
background-image: url('../../img/bg-white.png');
background-repeat: repeat-x;
/**/
background-image: -webkit-gradient(linear,top bottom,from(#d5b675),to(#7b6137));
background-image: -webkit-linear-gradient(top,#d5b675,#7b6137);
background-image: -moz-linear-gradient(top,#d5b675,#7b6137);
background-image: -ms-linear-gradient(top,#d5b675,#7b6137);
background-image: -o-linear-gradient(top,#d5b675,#7b6137);
background-image: linear-gradient(to bottom,#d5b675,#7b6137);
}

.jumbotron {
padding: 0px !important;
background:none !important;
}

.jumbotron p {
font-weight: 300;
font-size: 16px !important;
line-height: 1.3;
}

.jumbotron p strong {
font-weight: 400;
}

.container {
padding:0px !important;
background:none !important;
}

.row {
margin:0px !important;
}

.header {
padding-bottom: 15px; 
}

.headerrow {
padding-top: 5%;
}

.jumbotron .headtext {
font-family: 'Source Sans Pro';
font-weight: 200;
font-size: 30px;
color: #fff;
line-height:100%;
}
@media (min-width: 992px) {
.headtext {
padding-top: 70px;
}
}

.jumbotron .check-inout-wrapper {
padding-top: 10px;
}

.jumbotron .roomnumber {
margin-bottom: 0;
}

.jumbotron .roomnumber span {
font-size: 30px;
padding: 0 80px;
background: #000;
color: #fff;
border-radius: 2em;
white-space: nowrap;
}
@media (max-width: 320px) {
.jumbotron .roomnumber span {
padding: 0;
display: block;
margin: 5px 40px;
font-family: 'Source Sans Pro';
}
}

.lightcontent ,.checkout-status{
font-family: 'Source Sans Pro';
font-weight: 200;
color:#fff;
}

.leadtext ,.checkout-status{
color: #fff;
padding: 8px 10px 0px;
margin: 0;
}

.now-later-options {
max-width: 440px;
min-width: 220px;
margin: 0 auto;
}
.now-later-options > .row {
display: table;
width: 100%;
}
@media (max-width: 480px) {
.now-later-options {
margin: 0;
max-width: initial;
min-width: initial;
}
.now-later-options.no-screen-attach {
margin: 0 10px;
}
}

.now-later-options .rel-wrapper {
position: relative;
}

.now-later-options .checkoutnow,
.now-later-options .checkoutlater,
.now-later-options .later-options ,
.now-later-options .accept-charges-button {
display: table-cell;
width: auto;
float: none;
padding: 0;
}

.now-later-options .checkoutnow,
.now-later-options .checkoutlater,
.now-later-options .accept-charges-button {
text-align: center;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
font-size: 30px;
line-height: 100%;
}

.checkoutnow .rel-wrapper,
.checkoutlater .rel-wrapper,
.accept-charges-button .rel-wrapper
{
padding: 20px 10px;
}

.later-options .rel-wrapper {
padding: 30px 20px 32px;
}

.checkoutnow {
background: #000000;
color: #ffffff; 
}

.checkoutlater,.accept-charges-button {
background: #ffffff;
color: #000000;
}

.checkoutnow a,
.checkoutlater a,
.accept-charges-button a,
.later-options a {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.late-charge {
line-height: 1;
padding: 0;
text-transform: uppercase;
.for {
font-size: 15px;
}
.amount {
font-size: 25px;
}
}

.foot-text {
color: #fff;
padding: 10px 50px 0px;
em {
font-style: italic;

}
&.second-in {
padding-top: 0;
}
&.balance-footer{
padding: 15px 26px !important;
}
font-family:'Source Sans Pro Light Italic' !important;
}

.italictext {
padding: 20px;
text-align: center;
font-style: italic;
color:#fff;
&.secondtext {
padding: 0 5% !important;
}
}

.icontop {
padding-top: 5%;
}
.checkouttime1, .checkouttime2  , .checkouttime3 {
text-align: center;
color: #ffffff;
font-size: 30px;
padding: 5% 3% 5% 3%;
line-height: 120%;
text-align: center;
}
.checkouttime1 {
background: #858585;

}

.checkouttime2 {
background: #494949;

}

.checkouttime3 {
background: #121212;

}

svg {
width: 100%;
height: 100%;
pointer-events: none;
text {
text-anchor: middle;
pointer-events: auto;
fill: currentColor;
text-align: center;
.time {
font-size: 80px;
}
.ap {
font-size: 50px;
}
}
}

.amount {
font-family: 'Source Sans Pro', sans-serif;
font-size: 90%;
span {
font-family: 'Source Sans Pro', sans-serif;
font-size: 40%;
}
}


.balancevalue {
display: block;
text-align: center;
font-size: 30px;
}


.viewbill-toggle {
cursor:pointer;
padding:  0px 0 20px;
font-size: 19px;
text-align: center;
font-weight:normal;
text-transform: uppercase;
a {
text-decoration: none !important;
color:#fff !important;
img {
height: 25px;
}
}
a:hover {
text-decoration: none  !important;
color:#fff !important;
}
}

.table &>thead &>tr &>th,
.table &>tbody &>tr &>th,
.table &>tfoot &>tr &>th,
.table &>thead &>tr &>td,
.table &>tbody &>tr &>td,
.table &>tfoot &>tr &>td {
border-top:none !important;
border:0px !important;
line-height: 1.42857;
padding-left: 12px !important;
vertical-align: top;
text-transform:uppercase;
&.room{
background:#ffffff;
color:#000000;
}


}


.total {
color:#9b9b9b;
font-size:180%;
font-family: 'Source Sans Pro', sans-serif;
}

.balance{
color:#E7545A !important;
}

.viewbilltableview{
border-collapse:collapse;
background:#ffffff;
color:#000000;

}

.img-responsive.img-center {
margin: 0 auto;
width: 65%;
max-width: 346px;
}

.backbtn {
position: absolute;
left: 0;
top: 30%;
margin-top: -11px;

}
@media (max-width: 480px) {
.backbtn  img{
width:60%;
}
}


/* late check out options */
.late-checkout-options > tbody > tr > td {
padding: 0;
}

.late-checkout-options .later-options {
text-align: center;
color: #ffffff;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
font-size: 350%;
padding: 100px 0;
line-height: 120%;
}

.link-btn {
text-align: center;
color: #ffffff !important;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 200;
text-decoration: none  !important;
}

.link-btn.with-bg {
background: #000;
display: block;
padding: 8px;
margin: 10px 20px 0;
text-transform: uppercase;
font-weight: 500 !important;
}


/* show bill */
.showbill {
background-color: #fff;
text-transform: uppercase;
span, th, td {
color: #000;
font-size: 12px;
font-weight: 300;
line-height: 1.1;
}
}

.guest-details {
padding: 10px 12px 5px;
}

.v {
margin: 25px auto;
}


.guest-room-description0{
color : #FF6600 !important;
}

.no-thanks{
font-weight:normal !important;
margin-top: 18px;
font-size: 20px !important;
}

.checkout-now-status{

margin-top: 40px !important;
}
.latecheckout-charged{
font-style:normal;
font-weight: 500 !important;
}


.accept-charges-button{

padding: 5px 40px !important;
}

.checkout-status{

font-size : 30px !important;
font-weight: 300 !important;
line-height: 1.1 !important;
font-style: normal  !important;

}


.loading-indicator{

text-align: center;

img{
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
}


.alert{
background-color: #7A613A !important;
background-image: linear-gradient(to bottom, #D5B675, #7B6137);
color: #000000 !important;
margin : 0px 5px !important;
}
.btn-primary{
background: #000000 !important;
color: #ffffff !important;
border-color:  #000000 !important;
}

.checkout-failure-text{
  margin-bottom:10px;
}

.subTitletext{
    color: #FFFFFF;

}
