/* 1. ROOT
==========================================================*/
/* 2. TYPOGRAPHY
==========================================================*/
/* 3. GRAPHICAL ELEMENTS
==========================================================*/
/* 4. LAYOUT
==========================================================*/
/* 5. COMPONENTS
==========================================================*/

/* Dashboard page 			==============================*/
	#dashboard {
		.wrapper {
            padding: 40px 40px 20px 40px;

            #guests-today {

                li {
                    .button {
                        padding: 20px;

                        .icons { 
                            margin: 0;
                            background: transparent;
                            text-indent: 0;
                            width: 100%;
                        }

                        strong {
                            font-size: 72px;
                            line-height: 1.1em;
                            overflow: hidden;
                            .show;
                        }
                    }
                }
            }
		}
	}

/* Rooms page               ==============================*/
    
    /* Rooms listing ***/
    #rooms {
        li {           
            a {
                color: @textColor;
                padding: 0 20px;                   

                .room-number { line-height: 60px; }

                .room-status,
                .fo-status { line-height: 60px; }
            }
        }
    }

/* Room details page        ==============================*/

    #room-details {
        #guest-info {
            .wrapper { padding: 20px 80px; }
        }
    }


/* 6. IE
==========================================================*/
/* 7. RESPONSIVE
==========================================================*/