<section class="content current admin-scrollfix" div-touch-move-stop-propogate ng-click='clearErrorMessage()'>
    <div>
        <header class="content-title float">
            <h2> Translations </h2>
            <div class="entry right-float">
                <span class="search-text">SELECT LANGUAGE</span>
                <div class="filters">
                    <div class="filter select">
                        <div class="entry">
                            <div class="select">
                                <select ng-model="filter.locale" name="locale" id="locale" class="placeholder" ng-change="onLocaleChange()">
                                    <option ng-model="locale.id" ng-repeat="locale in languages.locales" value="{{locale.id}}" ng-selected="locale.id==filter.locale"> {{locale.description}} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </header>
        <section class="translation-filter">
                <div id="sections" class="cms-grid">
                        <div class="grid-options">
                            <div class="entry filter">
                                <label translate>MENU_OPTION</label>
                                <div class="select">
                                    <select ng-model="filter.menuOption" name="menu-option" id="menu-option" class="placeholder" ng-change="onMenuOptionChange()">
                                            <option ng-model="menuOption.id" ng-repeat="menuOption in menuDetails.menu_options" value="{{menuOption.id}}" ng-selected="menuOption.id==filter.menuOption"> {{menuOption.name}} </option>
                                        </select>
                                </div>
                            </div>
                            <div class="entry filter">
                                <label translate>ITEM</label>
                                <div class="select">
                                    <select ng-model="filter.item" name="item" id="item" class="placeholder" ng-change="onItemChange()">
                                            <option ng-model="item.id" ng-repeat="item in items" value="{{item.id}}" ng-selected="item.id==filter.item"> {{item.name}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="entry search">
                                <label translate>SEARCH</label>
                                <div class="holder">
                                    <button class="icons icon-search ng-scope" translate="" name="submit" type="submit">SEARCH</button>
                                    <input class="query ng-pristine ng-valid" placeholder="Search by Label" ng-model="filter.searchText" id="structure-search" autocomplete="off" type="search" ng-change="searchEntered()">
                                    <!-- <input placeholder="Search by Label" autocomplete="off" type="text" ad-delay-textbox ng-model="filter.searchText" delay="1000" function-to-fire="searchEntered" id="structure-search"/> -->
                                </div>
                            </div>
                        </div>
                </div>
                <div ng-include="'/assets/partials/common/notification_message.html'"></div>
                <div ng-include="'/assets/partials/common/notification_success_message.html'"></div>

        </section>
        <section class="translation-content-scroll">

            <table class="grid" ng-table="tableParams" template-pagination="custom/pager" ng-class="{'edit-data': currentClickedElement == $index}">
                <tbody>
                    <tr ng-repeat="translation in $data">
                        <td data-title="'Label'" sortable="'name'" header-class="half-width-title" >
                            {{translation.name}}
                        </td>

                        <td data-title="'Translation'"  sortable="'based_on'" header-class="half-width-title" >
                            <input type="text" id="value"  ng-model="translation.value" value="{{translation.value}}" class="full-width-input"/>
                            <!-- <ad-textbox value="translation.value" inputtype="access-url" name="value" id="value" label="" styleclass="full-width"></ad-textbox> -->
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
        <!--end -->

        <div class="actions float" id="translation-actions">
            <button type="button" ng-click ="back()" class="button blank">
                Cancel
            </button>
            <button type="button" ng-click="clickedSave()" class="button green">
                Save Changes
            </button>
        </div>


    </div>
</section>

