<span ng-controller="RVAccountsReceivablesController">

    <!-- Search form -->
    <form method="get" action="" name="accounts-receivables-search-form" id="accounts-receivables-search-form" class="search-form has-options three-options" role="search">
        <div class="entry search">
            <button id="accounts-receivables-clear-query" class="clear-query">
                <span class="icons icon-clear-search">Clear query</span>
            </button>
            <button type="submit" name="submit" class="icons icon-search">Search</button>
            <input name="accounts-receivables-query" id="accounts-receivables-query" class="query" placeholder="Search by AR Account Name or Number, IATA Number, Corporate ID or City" type="search" autocomplete="off" >
        </div>
        <div class="entry options">
            <div class="input with-label">
                <label for="min-amount">Min. Amount ($)</label>
                <input type="text" value="{value}" id="min-amount">
            </div>

            <div class="select with-label larger-select">
                <label for="sort-by">Sort By</label>
                <select id="sort-by">
                    <option value="{name-asc}">NAME ASC</option>
                    <option value="{name-desc}">NAME DESC</option>
                    <option value="{amount-asc}">AMOUNT ASC</option>
                    <option value="{amount-desc}">AMOUNT DESC</option>
                </select>
            </div>

            <div class="select with-label">
                <label for="ageing-days">Ageing Days</label>
                <select id="ageing-days">
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="90">90</option>
                    <option value="120">120</option>
                </select>
            </div>
        </div>
    </form>

    <!-- Search pagination -->
    {../_shared/pagination.html}

    <!-- Search panel - WITH RESULTS -->
    <section class="content accounts-ar-content" role="main">
        <div class="accounts-ar-header">
            <ul class="accounts-ar-totals">
                <li class="guest-bills">
                    <span>Open Guest Bills</span>
                    <span class="amount">{Total amount of open bills}</span>
                </li>
                <li class="unpaid-balance">
                    <span>Unpaid Balance</span>
                    <span class="amount red">{Total amount of unpaid balance}</span>
                </li>
            </ul>
        </div>
        <!-- Add Scroll -->
        <div class="accounts-ar-list scrollable">
            <div class="wrapper" >
                <ul class="search-results">
                    <li class="account-ar">
                        <a href="{link}">
                            <!-- '{icon}' - add '.icon-travel-agent' if the account is of a travel agent,
                                          - add '.icon-company' if the account is of a company -->
                            <div class="account-image icons {icon}"></div>
                            <div class="data">
                                <h2>{Account Name}</h2>
                                <strong class="confirmation">{AR Number}</strong>
                                <!-- '{icon-type}' - add '.icon-guest-travelagent' if the account is of a travel agent,
                                          - add '.icon-guest-company' if the account is of a company -->
                                <span class="icons {icon-type}">{Corporate ID, IATA}</span>
                                <span class="icons icon-time confirmation">{Last Payment Date}</span>
                            </div>
                            <div class="info ageing-days">
                                <strong>{Ageing Days}</strong>
                                <span>Ageing Days</span>
                            </div>
                            <div class="info open-bills">
                                <strong>{Open Bills}</strong>
                                <span>Open Bills</span>
                            </div>
                            <div class="info balance">
                                <!-- 'balance-class': 
                                            - red - if the balance is unpaid
                                            - green - if balance is paid (add '-' beofre the amount)
                                        -->
                                <strong class="{balance-class}">
                                    {amount}
                                </strong>
                                <span>Balance</span>
                            </div>
                        </a>
                    </li>
                    ... repeat for each account
                </ul>        
            </div>
        </div>
    </section>

</span>