#main-menu .nav-toggle.updated span.active {
   background-image:  asset-url("image-active-drawer.png") !important;
}
.bold{
    font-size: 18px;
    font-weight: 600;
}
//Fix for admin room edit - likes and features checkboxes
.room-likes{
  width: 100% !important;

}
.checkbox-background{
    background: white !important;
}
.room-type-details .entry {
    margin-top: 0;
}

    @media only screen and (max-width : 1024px) {
        .content-title {
            left: 19.35483870967742%;
        }
    }

    @media only screen and (min-width : 1025px) {
        .content-title {
            left: 17.741935483870968%;
        }
    }