#main-menu .nav-toggle.updated span.active {
   background-image:  asset-url("image-active-drawer.png") !important;
}
.bold{
    font-size: 18px;
    font-weight: 600;
}
//Fix for admin room edit - likes and features checkboxes
.room-likes{
  width: 100% !important;

}
.checkbox-background{
    background: white !important;
}
